Repository strapi/strapi, pull requests merged in 2018-10, with the labels that each got.

#2049 Fix validation for avoid create invalid indexes
  packages/strapi-hook-bookshelf/lib/index.js
  packages/strapi-hook-bookshelf/lib/utils/connectivity.js
Labels: pr: 🐛 Bug fix, source: Framework

#2056 Remove API prefix
  docs/3.x.x/en/configurations/configurations.md
  packages/strapi-generate-new/files/config/environments/development/request.json
  packages/strapi-generate-new/files/config/environments/production/request.json
  packages/strapi-generate-new/files/config/environments/staging/request.json
Labels: pr: 💅 Enhancement, source: Framework

#2067 Update DE translations
  packages/strapi-admin/admin/src/translations/de.json
  packages/strapi-plugin-content-manager/admin/src/translations/de.json
  packages/strapi-plugin-settings-manager/admin/src/translations/de.json
  packages/strapi-plugin-users-permissions/admin/src/translations/de.json
Labels: pr: 💅 Enhancement, source: Admin

#2064 Improve spanish translation
  packages/strapi-admin/admin/src/translations/es.json
  packages/strapi-plugin-content-manager/admin/src/translations/es.json
  packages/strapi-plugin-settings-manager/admin/src/translations/es.json
  packages/strapi-plugin-users-permissions/admin/src/translations/es.json
Labels: pr: 💅 Enhancement, source: Admin

#2062 Update PT translations
  packages/strapi-admin/admin/src/translations/pt.json
  packages/strapi-plugin-content-manager/admin/src/translations/pt.json
  packages/strapi-plugin-settings-manager/admin/src/translations/pt.json
  packages/strapi-plugin-users-permissions/admin/src/translations/pt.json
Labels: pr: 💅 Enhancement, source: Admin

#2061 Update NL translations
  packages/strapi-admin/admin/src/translations/nl.json
  packages/strapi-plugin-content-manager/admin/src/translations/nl.json
  packages/strapi-plugin-settings-manager/admin/src/translations/nl.json
  packages/strapi-plugin-users-permissions/admin/src/translations/nl.json
Labels: pr: 💅 Enhancement, source: Admin

#2052 Add plugin prefix to plugins routes.
  packages/strapi-plugin-users-permissions/admin/src/containers/EditPage/saga.js
  packages/strapi-plugin-users-permissions/services/UsersPermissions.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2074 Update FR translations
  packages/strapi-plugin-settings-manager/admin/src/translations/en.json
  packages/strapi-plugin-settings-manager/admin/src/translations/fr.json
  packages/strapi-plugin-users-permissions/admin/src/translations/fr.json
Labels: pr: 💅 Enhancement, source: Admin

#2059 Fix return 0 for count route
  packages/strapi/lib/middlewares/boom/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#2078 Update RU translations
  packages/strapi-admin/admin/src/translations/ru.json
  packages/strapi-plugin-content-manager/admin/src/translations/ru.json
  packages/strapi-plugin-settings-manager/admin/src/translations/ru.json
  packages/strapi-plugin-users-permissions/admin/src/translations/ru.json
Labels: pr: 💅 Enhancement, source: Admin

#2077 Fix conditional logic
  packages/strapi-plugin-settings-manager/admin/src/containers/HomePage/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2085 Fix error on fetch permissions
  packages/strapi-plugin-users-permissions/services/UsersPermissions.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2091 [Docs] Add instructions for cloning locally from Heroku
  README.md
Labels: pr: 💅 Enhancement, source: Documentation

#2094 Update PL translations
  packages/strapi-plugin-content-manager/admin/src/translations/pl.json
  packages/strapi-plugin-email/admin/src/translations/pl.json
  packages/strapi-plugin-settings-manager/admin/src/translations/pl.json
Labels: pr: 💅 Enhancement, source: Admin

#2075 Fix typo update service on bookshelf
  packages/strapi-generate-api/templates/bookshelf/service.template
  packages/strapi-hook-bookshelf/lib/index.js
Labels: pr: 💅 Enhancement, source: Framework

#2079 Minor changes and bug fixes
  CONTRIBUTING.md
  packages/strapi-admin/scripts/preSetup.js
  packages/strapi-helper-plugin/lib/internals/webpack/webpack.dll.babel.js
  packages/strapi-plugin-content-manager/admin/src/components/TableRow/index.js
  packages/strapi-plugin-users-permissions/admin/src/components/List/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#2096 Fix numerical 0 display in data list
  packages/strapi-plugin-content-manager/admin/src/components/TableRow/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2019 Split Admin entry point between prod and dev
  packages/strapi-admin/admin/src/app.js
  packages/strapi-admin/admin/src/appDev.js
  packages/strapi-admin/admin/src/config/manifest.json
  packages/strapi-admin/admin/src/configureStore.js
  packages/strapi-admin/admin/src/createStore.js
  packages/strapi-admin/admin/src/intlPolyfill.js
  packages/strapi-admin/admin/src/renderApp.js
  packages/strapi-admin/admin/src/strapi.js
  packages/strapi-admin/package.json
  packages/strapi-helper-plugin/lib/internals/webpack/webpack.dev.babel.js
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-content-type-builder/package.json
  packages/strapi-plugin-email/package.json
  packages/strapi-plugin-settings-manager/package.json
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-users-permissions/package.json
Labels: pr: 💅 Enhancement, source: Admin

#2069 Add delete button in Edit view
  packages/strapi-admin/admin/src/strapi.js
  packages/strapi-admin/admin/src/translations/en.json
  packages/strapi-admin/admin/src/translations/fr.json
  packages/strapi-helper-plugin/lib/src/assets/icons/icon_trash.svg
  packages/strapi-helper-plugin/lib/src/components/Button/styles.scss
  packages/strapi-helper-plugin/lib/src/components/PluginHeaderActions/styles.scss
  packages/strapi-hook-mongoose/lib/index.js
  packages/strapi-plugin-content-manager/admin/src/components/Search/styles.scss
  packages/strapi-plugin-content-manager/admin/src/containers/EditPage/actions.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditPage/constants.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditPage/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditPage/saga.js
Labels: pr: 💅 Enhancement, source: Plugin

#2025 Improve admin auth redirection
  packages/strapi-admin/admin/src/app.js
  packages/strapi-admin/admin/src/appDev.js
  packages/strapi-admin/admin/src/containers/AdminPage/actions.js
  packages/strapi-admin/admin/src/containers/AdminPage/constants.js
  packages/strapi-admin/admin/src/containers/AdminPage/index.js
  packages/strapi-admin/admin/src/containers/AdminPage/reducer.js
  packages/strapi-admin/admin/src/containers/AdminPage/saga.js
  packages/strapi-admin/admin/src/containers/App/actions.js
  packages/strapi-admin/admin/src/containers/App/constants.js
  packages/strapi-admin/admin/src/containers/App/reducer.js
  packages/strapi-admin/admin/src/containers/App/selectors.js
  packages/strapi-admin/admin/src/strapi.js
  packages/strapi-admin/package.json
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-content-type-builder/package.json
  packages/strapi-plugin-email/package.json
  packages/strapi-plugin-settings-manager/package.json
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-users-permissions/package.json
Labels: pr: 💅 Enhancement, source: Admin

#2113 Remove recommended for mongo database
  packages/strapi-generate-new/lib/before.js
Labels: pr: 💅 Enhancement, source: Framework

#2121 Fix warning for controlled input without onChange handler in WYSIWYG
  packages/strapi-plugin-content-manager/admin/src/components/Wysiwyg/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2119 Fix plugin install version
  packages/strapi/bin/strapi-install.js
Labels: pr: 🐛 Bug fix, source: Framework

#2138 Update PL translations
  packages/strapi-plugin-content-manager/admin/src/translations/pl.json
Labels: pr: 💅 Enhancement, source: Admin

#2139 Update doc menu
  docs/.vuepress/config.js
  docs/3.x.x/README.md
  docs/3.x.x/en/assets/internationalization.gif
  docs/3.x.x/styles/website.css
  packages/strapi-admin/admin/src/config/manifest.json
Labels: pr: 💅 Enhancement, source: Documentation

#2145 Use hash filename as unique tag id in File Upload section
  packages/strapi-plugin-upload/admin/src/components/Li/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2033 Clean dependencies
  package.json
  packages/strapi-helper-plugin/lib/internals/eslint/.eslintrc.json
  packages/strapi-helper-plugin/lib/internals/eslint/eslint-config.js
  packages/strapi-helper-plugin/package.json
  packages/strapi-hook-mongoose/package.json
  scripts/test.sh
Labels: pr: 💅 Enhancement, source: Framework

#2135 Fix bug delete file from AWS S3
  packages/strapi-upload-aws-s3/lib/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2155 Prevent lint run in docs
  scripts/lint.js
Labels: pr: 💅 Enhancement, source: Framework

#2137 Fix for JSON attributes types in GraphQL
  packages/strapi-plugin-graphql/services/Types.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2114 Fix bugs related to Firefox
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/PopUpRelations/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelPage/sagas.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2168 Add missing keys in ES translation
  packages/strapi-admin/admin/src/translations/es.json
Labels: pr: 💅 Enhancement, source: Admin

#2163 Update hook documentation
  docs/3.x.x/advanced/hooks.md
Labels: pr: 💅 Enhancement, source: Documentation

#2170 Add ga in documentation
  docs/.vuepress/config.js
Labels: pr: 💅 Enhancement, source: Documentation

#2167 Add IF NOT EXISTS parameter for creating indexes with PG
  packages/strapi-hook-bookshelf/lib/index.js
Labels: pr: 💅 Enhancement, source: Framework

#2173 Add roadmap section to the readme
  README.md
Labels: pr: 💅 Enhancement, source: Documentation

#2177 Update DE translations
  packages/strapi-admin/admin/src/translations/de.json
  packages/strapi-plugin-content-manager/admin/src/translations/de.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/de.json
  packages/strapi-plugin-settings-manager/admin/src/translations/de.json
Labels: pr: 💅 Enhancement, source: Admin

#2082 Update IT translations
  packages/strapi-admin/admin/src/translations/it.json
Labels: pr: 💅 Enhancement, source: Framework

#2156 Fixes issues when doing an 'IN' query
  packages/strapi-generate-api/templates/bookshelf/service.template
Labels: pr: 🐛 Bug fix, source: Framework

#2102 Fixed that SSO didn't work in some environment
  packages/strapi-plugin-content-manager/config/functions/bootstrap.js
  packages/strapi-plugin-users-permissions/models/User.settings.json
Labels: pr: 🐛 Bug fix, source: Plugin

#2083 Update IT translations
  packages/strapi-plugin-content-manager/admin/src/translations/it.json
Labels: pr: 💅 Enhancement, source: Framework

#2184 Update TR translations
  packages/strapi-admin/admin/src/translations/tr.json
Labels: pr: 💅 Enhancement, source: Admin

#2188 Fix error 500 when user trying to signin with bad credentials
  packages/strapi-plugin-users-permissions/controllers/Auth.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2107 Add JA translations
  packages/strapi-admin/admin/src/config/languages.json
  packages/strapi-admin/admin/src/containers/LocaleToggle/index.js
  packages/strapi-admin/admin/src/translations/ja.json
  packages/strapi-plugin-content-manager/admin/src/translations/ja.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/ja.json
  packages/strapi-plugin-email/admin/src/translations/ja.json
  packages/strapi-plugin-settings-manager/admin/src/translations/ja.json
  packages/strapi-plugin-upload/admin/src/translations/ja.json
  packages/strapi-plugin-users-permissions/admin/src/translations/ja.json
Labels: pr: 💅 Enhancement, source: Admin

#2198 Fix publish .gitignore strapi-generate-admin
  packages/strapi-admin/admin/src/config/manifest.json
  packages/strapi-generate-admin/lib/after.js
  packages/strapi-generate-admin/templates/gitignore
Labels: pr: 🐛 Bug fix, source: Framework

#2116 Add Graphql Query For The Current User
  packages/strapi-plugin-users-permissions/config/schema.graphql
Labels: pr: 🚀 New feature, source: Plugin

#2194 Fix plugin installation when installed with yarn
  packages/strapi/bin/strapi-install.js
Labels: pr: 🐛 Bug fix, source: Framework

#2204 Fix typo getting started
  docs/3.x.x/getting-started/quick-start.md
Labels: pr: 💅 Enhancement, source: Documentation

#2209 Added missing translation key in JA language
  packages/strapi-admin/admin/src/translations/ja.json
  packages/strapi-plugin-content-manager/admin/src/translations/ja.json
Labels: pr: 💅 Enhancement, source: Admin

#2212 Fix Content-Manager save not handling beforeSave hook throw error
  packages/strapi-hook-mongoose/lib/index.js
  packages/strapi-plugin-content-manager/config/queries/mongoose.js
Labels: pr: 💅 Enhancement, source: Framework

#2218 Documentation improvements
  docs/.vuepress/config.js
  docs/.vuepress/theme/Layout.vue
  docs/.vuepress/theme/NavLinks.vue
  docs/.vuepress/theme/Navbar.vue
  docs/.vuepress/theme/SearchBox.vue
  docs/.vuepress/theme/SidebarGroup.vue
  docs/.vuepress/theme/SidebarLink.vue
  docs/.vuepress/theme/styles/config.styl
  docs/.vuepress/theme/styles/theme.styl
  docs/3.x.x/assets/getting-started_add_entry-.png
  docs/3.x.x/assets/getting-started_add_entry.png
  docs/3.x.x/assets/getting-started_allow_access.png
  docs/3.x.x/assets/getting-started_create_content_type.png
  docs/3.x.x/assets/getting-started_list_fields.png
  docs/3.x.x/assets/getting-started_manage_role_home.png
  docs/3.x.x/assets/getting-started_no_content_type.png
  docs/3.x.x/assets/getting-started_no_entry.png
  docs/3.x.x/assets/getting-started_no_entry_.png
  docs/3.x.x/assets/getting-started_with_entry.png
  docs/3.x.x/assets/getting-started_with_entry_.png
  docs/3.x.x/assets/terminal_new.png
  docs/3.x.x/assets/terminal_start.png
  docs/3.x.x/getting-started/installation.md
  docs/3.x.x/getting-started/quick-start.md
  docs/3.x.x/guides/authentication.md
  docs/3.x.x/tutorials/README.md
  docs/README.md
  packages/strapi-generate-new/lib/index.js
  packages/strapi-lint/lib/internals/prettier/index.js
Labels: pr: 💅 Enhancement, source: Documentation

#2214 Avoid alert vulnerability on projects at github
  packages/strapi-generate-new/json/package.json.js
Labels: pr: 💅 Enhancement, source: Framework

#2225 Update link version in left menu and fix typo in strapi-generate-new
  packages/strapi-admin/admin/src/components/LeftMenuFooter/index.js
  packages/strapi-generate-new/lib/index.js
Labels: pr: 💅 Enhancement, source: Admin

#2232 Fix typo on CLI.md
  docs/3.x.x/cli/CLI.md
Labels: pr: 💅 Enhancement, source: Documentation
