Repository strapi/strapi, pull requests merged in 2018-08, with the labels that each got.

#1674 Update KO translations
  packages/strapi-plugin-content-manager/admin/src/translations/ko.json
Labels: pr: 💅 Enhancement, source: Admin

#1673 Update DE translations
  packages/strapi-plugin-content-manager/admin/src/translations/de.json
Labels: pr: 💅 Enhancement, source: Admin

#1672 Fix advanced settings in users permissions plugin
  packages/strapi-plugin-users-permissions/admin/src/components/EditForm/index.js
  packages/strapi-plugin-users-permissions/admin/src/containers/HomePage/saga.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1675 Better design many-to-many and add jump link
  packages/strapi-email-amazon-ses/package.json
  packages/strapi-email-mailgun/package.json
  packages/strapi-email-sendgrid/package.json
  packages/strapi-email-sendmail/package.json
  packages/strapi-generate-admin/package.json
  packages/strapi-generate/package.json
  packages/strapi-helper-plugin/package.json
  packages/strapi-hook-knex/package.json
  packages/strapi-hook-mongoose/package.json
  packages/strapi-hook-redis/package.json
  packages/strapi-lint/package.json
  packages/strapi-middleware-views/package.json
  packages/strapi-plugin-content-manager/admin/src/components/EditRelations/styles.scss
  packages/strapi-plugin-content-manager/admin/src/components/SelectMany/index.js
  packages/strapi-plugin-content-manager/admin/src/components/SelectMany/styles.scss
  packages/strapi-plugin-content-manager/admin/src/components/SelectOne/index.js
  packages/strapi-plugin-content-manager/admin/src/components/SelectOne/styles.scss
  packages/strapi-plugin-content-manager/admin/src/containers/EditPage/index.js
  packages/strapi-plugin-content-manager/admin/src/translations/en.json
  packages/strapi-plugin-content-manager/admin/src/translations/fr.json
  packages/strapi-plugin-content-manager/config/layout.json
  packages/strapi-plugin-graphql/package.json
  packages/strapi-upload-aws-s3/package.json
  packages/strapi-upload-cloudinary/package.json
  packages/strapi-upload-local/package.json
  packages/strapi-upload-rackspace/package.json
  packages/strapi-utils/package.json
  packages/strapi/bin/strapi-start.js
  packages/strapi/package.json
Labels: pr: 💅 Enhancement, source: Plugin

#1686 Update sessions documentation - access auth user data
  docs/3.x.x/en/guides/policies.md
Labels: pr: 💅 Enhancement, source: Documentation

#1677 Update FR translations
  packages/strapi-admin/admin/src/translations/fr.json
  packages/strapi-plugin-content-manager/admin/src/translations/fr.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/fr.json
  packages/strapi-plugin-email/admin/src/translations/fr.json
  packages/strapi-plugin-settings-manager/admin/src/translations/fr.json
  packages/strapi-plugin-upload/admin/src/translations/fr.json
  packages/strapi-plugin-users-permissions/admin/src/translations/fr.json
Labels: pr: 💅 Enhancement, source: Admin

#1679 Added the Dutch (NL) language
  packages/strapi-admin/admin/src/config/languages.json
  packages/strapi-admin/admin/src/translations/nl.json
  packages/strapi-plugin-content-manager/admin/src/translations/nl.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/nl.json
  packages/strapi-plugin-email/admin/src/translations/nl.json
  packages/strapi-plugin-settings-manager/admin/src/translations/nl.json
  packages/strapi-plugin-upload/admin/src/translations/nl.json
  packages/strapi-plugin-users-permissions/admin/src/translations/nl.json
Labels: pr: 🚀 New feature, source: Admin

#1703 Fix policy error
  packages/strapi-admin/package.json
  packages/strapi-plugin-users-permissions/config/policies/permissions.js
  packages/strapi-plugin-users-permissions/services/Providers.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1701 Change lodash version
  packages/strapi-generate-admin/package.json
  packages/strapi-generate-api/package.json
  packages/strapi-generate-controller/package.json
  packages/strapi-generate-model/package.json
  packages/strapi-generate-new/package.json
  packages/strapi-generate-plugin/package.json
  packages/strapi-generate-policy/package.json
  packages/strapi-generate-service/package.json
  packages/strapi-generate/package.json
  packages/strapi-helper-plugin/package.json
  packages/strapi-hook-bookshelf/package.json
  packages/strapi-hook-knex/package.json
  packages/strapi-hook-mongoose/package.json
  packages/strapi-hook-redis/package.json
  packages/strapi-middleware-views/package.json
  packages/strapi-plugin-users-permissions/models/User.settings.json
  packages/strapi-utils/package.json
  packages/strapi/package.json
Labels: pr: 🐛 Bug fix, source: Framework

#1681 Add rate limit on auth routes
  packages/strapi-plugin-users-permissions/admin/src/translations/en.json
  packages/strapi-plugin-users-permissions/config/policies/rateLimit.js
  packages/strapi-plugin-users-permissions/config/request.json
  packages/strapi-plugin-users-permissions/config/routes.json
  packages/strapi-plugin-users-permissions/package.json
Labels: pr: 🚀 New feature, source: Plugin

#1613 Add Microsoft Graph auth provider
  packages/strapi-plugin-users-permissions/admin/src/components/PopUpForm/index.js
  packages/strapi-plugin-users-permissions/admin/src/translations/en.json
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
  packages/strapi-plugin-users-permissions/services/Providers.js
Labels: pr: 🚀 New feature, source: Plugin

#1667 Parse environment variables on build configuration
  packages/strapi-helper-plugin/lib/internals/webpack/webpack.base.babel.js
  packages/strapi-utils/lib/index.js
  packages/strapi-utils/lib/templateConfiguration.js
  packages/strapi/lib/core/configurations.js
Labels: pr: 💅 Enhancement, source: Framework

#1700 Fix z-index input file
  packages/strapi-admin/admin/src/components/Header/styles.scss
  packages/strapi-helper-plugin/lib/src/components/BackHeader/styles.scss
  packages/strapi-helper-plugin/lib/src/components/ImgPreview/styles.scss
  packages/strapi-helper-plugin/lib/src/components/ImgPreviewRemoveIcon/styles.scss
Labels: pr: 🐛 Bug fix, source: Admin

#1705 Can block a user
  packages/strapi-plugin-users-permissions/admin/src/translations/en.json
  packages/strapi-plugin-users-permissions/config/policies/permissions.js
  packages/strapi-plugin-users-permissions/controllers/Auth.js
  packages/strapi-plugin-users-permissions/models/User.settings.json
Labels: pr: 🚀 New feature, source: Plugin

#1759 Update DE translations
  packages/strapi-admin/admin/src/translations/de.json
  packages/strapi-plugin-content-manager/admin/src/translations/de.json
  packages/strapi-plugin-upload/admin/src/translations/de.json
  packages/strapi-plugin-users-permissions/admin/src/translations/de.json
Labels: pr: 💅 Enhancement, source: Admin

#1682 Make type of id configurable
  docs/3.x.x/en/guides/models.md
  packages/strapi-hook-bookshelf/lib/index.js
Labels: pr: 🚀 New feature, source: Framework

#1732 Fix download display
  packages/strapi-admin/admin/src/app.js
  packages/strapi-admin/admin/src/containers/InstallPluginPage/actions.js
  packages/strapi-admin/admin/src/containers/InstallPluginPage/constants.js
  packages/strapi-admin/admin/src/containers/InstallPluginPage/index.js
  packages/strapi-admin/admin/src/containers/InstallPluginPage/reducer.js
  packages/strapi-admin/admin/src/containers/InstallPluginPage/saga.js
Labels: pr: 🐛 Bug fix, source: Admin

#1726 Enhancement readme
  CONTRIBUTING.md
  README.md
Labels: pr: 💅 Enhancement, source: Documentation

#1730 RGPD - Remove pre-checked checkbox
  packages/strapi-plugin-users-permissions/admin/src/containers/AuthPage/actions.js
  packages/strapi-plugin-users-permissions/admin/src/containers/AuthPage/form.json
Labels: pr: 💅 Enhancement, source: Plugin

#1731 Send the user to the right section in the Quickstart tutorial
  packages/strapi-admin/admin/src/containers/HomePage/index.js
Labels: pr: 💅 Enhancement, source: Admin

#1720 Add upper first strapi new logs action
  packages/strapi-generate-new/lib/after.js
Labels: pr: 💅 Enhancement, source: Framework

#1728 Fix multi active left menu links
  packages/strapi-admin/admin/src/components/LeftMenuLink/index.js
Labels: pr: 🐛 Bug fix, source: Admin

#1702 Fix buggy content-type builder when uninstalling the file upload plugin
  packages/strapi-plugin-content-type-builder/admin/src/containers/Form/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1721 Change default database name
  packages/strapi-generate-new/lib/before.js
Labels: pr: 💅 Enhancement, source: Framework

#1717 Tick remember me by default
  packages/strapi-plugin-users-permissions/admin/src/containers/AuthPage/actions.js
Labels: pr: 💅 Enhancement, source: Plugin

#1719 Autofocus name when creating a new Content Type
  packages/strapi-plugin-content-type-builder/admin/src/containers/Form/forms.json
Labels: pr: 💅 Enhancement, source: Plugin

#1711 Fix process node env
  packages/strapi-generate-api/lib/before.js
  packages/strapi-generate-model/lib/before.js
Labels: pr: 🐛 Bug fix, source: Framework

#1663 This is for style updates to the admin panel.
  packages/strapi-admin/admin/src/containers/HomePage/styles.scss
  packages/strapi-helper-plugin/lib/src/components/Button/styles.scss
Labels: pr: 🐛 Bug fix, source: Admin

#1407 GraphQL Aggregation Feature
  docs/3.x.x/en/guides/graphql.md
  packages/strapi-plugin-graphql/package.json
  packages/strapi-plugin-graphql/services/GraphQL.js
Labels: pr: 🚀 New feature, source: Plugin

#1757 Fix email template forgot password
  packages/strapi-plugin-users-permissions/controllers/UsersPermissions.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1773 Load it translations for users-permissions plugin
  packages/strapi-plugin-users-permissions/admin/src/translations/it.json
Labels: pr: 🐛 Bug fix, source: Plugin

#1775 Fix linter errors
  packages/strapi-hook-bookshelf/lib/index.js
Labels: pr: 💅 Enhancement, source: Plugin

#1772 Fix default value set to false for boolean attributes
  packages/strapi-plugin-content-type-builder/admin/src/containers/Form/actions.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelPage/sagas.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1722 Update strapi hook ejs doc
  packages/strapi-hook-ejs/README.md
Labels: pr: 💅 Enhancement, source: Documentation

#1723 Center notifications
  packages/strapi-admin/admin/src/components/Notification/styles.scss
  packages/strapi-admin/admin/src/components/NotificationsContainer/styles.scss
  packages/strapi-admin/admin/src/styles/base/animations.scss
Labels: pr: 💅 Enhancement, source: Admin

#1778 Fix link to getting started page in README
  README.md
Labels: pr: 💅 Enhancement, source: Documentation

#1689 Use actual hash instead of randomly generated string
  packages/strapi-plugin-upload/models/File.settings.json
  packages/strapi-plugin-upload/services/Upload.js
Labels: pr: 💅 Enhancement, source: Plugin

#1724 Update Concepts/Where are the models defined documentation
  docs/3.x.x/en/concepts/concepts.md
Labels: pr: 💅 Enhancement, source: Documentation

#1764 Allow global policies to be organised by folders
  packages/strapi-utils/lib/policy.js
Labels: pr: 💅 Enhancement, source: Framework

#1776 File Upload Explorer showing GB instead of MB
  packages/strapi-plugin-upload/admin/src/components/Li/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1752 Custom content manager columns on list view
  packages/strapi-helper-plugin/lib/src/utils/storeData.js
  packages/strapi-plugin-content-manager/admin/src/components/InputCheckbox/index.js
  packages/strapi-plugin-content-manager/admin/src/components/InputCheckbox/styles.scss
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/actions.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/constants.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/reducer.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/styles.scss
  packages/strapi-plugin-content-manager/admin/src/translations/en.json
  packages/strapi-plugin-content-manager/admin/src/translations/fr.json
Labels: pr: 💅 Enhancement, source: Plugin

#1777 Update read with Requirements
  README.md
Labels: pr: 💅 Enhancement, source: Documentation

#1733 Add confirmation email
  packages/strapi-plugin-email/services/Email.js
  packages/strapi-plugin-users-permissions/admin/src/components/EditForm/index.js
  packages/strapi-plugin-users-permissions/admin/src/translations/en.json
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
  packages/strapi-plugin-users-permissions/config/policies/permissions.js
  packages/strapi-plugin-users-permissions/config/routes.json
  packages/strapi-plugin-users-permissions/controllers/Auth.js
  packages/strapi-plugin-users-permissions/models/User.settings.json
  packages/strapi-plugin-users-permissions/services/UsersPermissions.js
Labels: pr: 🚀 New feature, source: Plugin

#1806 Fix JSDOM jest tests
  test/start.js
Labels: pr: 🐛 Bug fix, source: Framework

#1811 Fix srv
  packages/strapi-generate-new/lib/before.js
  packages/strapi-hook-mongoose/lib/utils/connectivity.js
Labels: pr: 🐛 Bug fix, source: Framework

#1812 Add missing pluralize dependency
  packages/strapi-plugin-content-manager/package.json
Labels: pr: 🐛 Bug fix, source: Plugin

#1814 Fix input toggle true false
  packages/strapi-helper-plugin/lib/src/components/InputToggle/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#1808 Add check for length property may not exist
  packages/strapi-helper-plugin/lib/src/utils/inputsValidations.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1815 Document how to add a new auth provider
  docs/3.x.x/en/guides/authentication.md
Labels: pr: 💅 Enhancement, source: Documentation

#1817 Update register email template
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
Labels: pr: 💅 Enhancement, source: Plugin

#1796 Discard action if canceled select file
  packages/strapi-helper-plugin/lib/src/components/InputFile/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1572 Specify upload-file field's directory and mime type
  docs/3.x.x/en/guides/upload.md
  packages/strapi-plugin-upload/controllers/Upload.js
  packages/strapi-upload-aws-s3/lib/index.js
Labels: pr: 🚀 New feature, source: Plugin

#1836 Update alpha.14 in doc
  docs/3.x.x/en/README.md
Labels: pr: 💅 Enhancement, source: Documentation

#1800 Changed "You can access to" to "You can access"
  docs/3.x.x/en/guides/policies.md
Labels: pr: 💅 Enhancement, source: Documentation

#1820 Handle properly subchildrens process on test script
  test/start.js
Labels: pr: 🐛 Bug fix, source: Framework

#1813 Add basic global proxy support
  docs/3.x.x/en/configurations/configurations.md
  packages/strapi-generate-new/files/config/environments/development/server.json
  packages/strapi-generate-new/files/config/environments/production/server.json
  packages/strapi-generate-new/files/config/environments/staging/server.json
  packages/strapi-plugin-settings-manager/admin/src/translations/en.json
  packages/strapi-plugin-settings-manager/services/SettingsManager.js
  packages/strapi/lib/core/configurations.js
Labels: pr: 💅 Enhancement, source: Framework

#1841 Wrong database parameters
  docs/3.x.x/en/configurations/configurations.md
Labels: pr: 💅 Enhancement, source: Documentation

#1827 Fix files required validation
  packages/strapi-helper-plugin/lib/src/components/InputFile/index.js
  packages/strapi-helper-plugin/lib/src/components/InputFile/styles.scss
  packages/strapi-helper-plugin/lib/src/components/InputFileWithErrors/index.js
  packages/strapi-plugin-content-type-builder/services/ContentTypeBuilder.js
Labels: pr: 🐛 Bug fix, source: Plugin
