Repository strapi/strapi, pull requests merged in 2018-06, with the labels that each got.

#1307 Added count to api template for bookshelf
  packages/strapi-generate-api/templates/bookshelf/controller.template
  packages/strapi-generate-api/templates/bookshelf/service.template
Labels: pr: 💅 Enhancement, source: Framework

#1299 Convert 1/0 to true/false for mysql
  packages/strapi-knex/lib/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#1279 GraphQL returns empty array when entities are not hosted by the model
  packages/strapi-plugin-graphql/services/GraphQL.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1302 Fix add multi column for mysql
  packages/strapi-bookshelf/lib/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#1298 Fix cors on option request
  packages/strapi/lib/middlewares/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#1311 Test suits first round
  .eslintrc
  package.json
  packages/strapi-admin/admin/src/config/manifest.json
  packages/strapi-admin/admin/src/containers/AdminPage/index.js
  packages/strapi-admin/admin/src/utils/injectReducer.js
  packages/strapi-admin/admin/src/utils/injectSaga.js
  packages/strapi-bookshelf/lib/relations.js
  packages/strapi-helper-plugin/lib/internals/webpack/webpack.base.babel.js
  packages/strapi-helper-plugin/lib/internals/webpack/webpack.dev.babel.js
  packages/strapi-helper-plugin/lib/internals/webpack/webpack.prod.babel.js
  packages/strapi-helper-plugin/lib/src/utils/injectReducer.js
  packages/strapi-helper-plugin/lib/src/utils/injectSaga.js
  packages/strapi-plugin-graphql/services/GraphQL.js
  packages/strapi-plugin-users-permissions/models/User.settings.json
  packages/strapi/bin/strapi-start.js
  packages/strapi/bin/strapi.js
  packages/strapi/lib/Strapi.js
  packages/strapi/lib/core/hooks.js
  packages/strapi/lib/core/plugins.js
  test/helpers/generators.json
  test/helpers/restart.js
  test/index.test.js
  test/start.js
Labels: pr: 🚀 New feature, source: Framework

#1315 Fixes 1-N relations with the same content type
  packages/strapi-plugin-content-type-builder/admin/src/containers/Form/utils/setAttribute.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelPage/actions.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1314 Fix decimal on pg and mysql
  packages/strapi-bookshelf/lib/index.js
  packages/strapi-knex/lib/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#1321 Fix content-manager build
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/index.js
  packages/strapi-plugin-graphql/services/GraphQL.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1326 Fix delete relations manyToMany mongoose
  packages/strapi-mongoose/lib/relations.js
  packages/strapi-plugin-content-manager/services/ContentManager.js
  packages/strapi/lib/Strapi.js
Labels: pr: 🐛 Bug fix, source: Framework

#1327 Fix build assets url
  packages/strapi-helper-plugin/lib/src/app.js
Labels: pr: 🐛 Bug fix, source: Admin

#1335 Upgrade version to fix history bug on GraphQL Playground
  packages/strapi-plugin-graphql/package.json
Labels: pr: 🐛 Bug fix, source: Plugin

#1309 Left-align form labels in Edge
  packages/strapi-admin/admin/src/styles/base/bootstrap-override.scss
Labels: pr: 💅 Enhancement, source: Admin

#1295 Use suggested content type names when setting relations
  packages/strapi-plugin-content-type-builder/admin/src/components/PopUpRelations/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/RelationBox/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/Form/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/Form/reducer.js
Labels: pr: 💅 Enhancement, source: Plugin

#1338 Move settings-manager to configuration section
  packages/strapi-admin/admin/src/components/LeftMenuLinkContainer/index.js
Labels: pr: 💅 Enhancement, source: Admin

#1336 chore: test against Node.js 9 and 10
  .travis.yml
Labels: pr: 💅 Enhancement, source: Framework

#1342 Fix bug when deleting a relation that has the same field on both sides
  packages/strapi-helper-plugin/lib/src/components/InputSelectWithErrors/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelPage/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1346 Remove unappropriate filters according to field type
  packages/strapi-plugin-content-manager/admin/src/components/FilterOptions/filterTypes.js
  packages/strapi-plugin-content-manager/admin/src/components/FilterOptions/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1360 Set default Role to authenticated when using a custom provider
  packages/strapi-plugin-users-permissions/services/Providers.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1354 Fix language loading, first try load full user language code
  packages/strapi-admin/admin/src/containers/LanguageProvider/reducer.js
Labels: pr: 💅 Enhancement, source: Admin

#1350 Get right global root path
  package.json
  packages/strapi-generate-new/lib/after.js
  packages/strapi-generate-new/package.json
Labels: pr: 🐛 Bug fix, source: Framework

#1328 Add bulk actions in content-manager
  packages/strapi-bookshelf/lib/index.js
  packages/strapi-bookshelf/lib/relations.js
  packages/strapi-mongoose/lib/index.js
  packages/strapi-plugin-content-manager/admin/src/components/CustomInputCheckbox/index.js
  packages/strapi-plugin-content-manager/admin/src/components/CustomInputCheckbox/styles.scss
  packages/strapi-plugin-content-manager/admin/src/components/Table/index.js
  packages/strapi-plugin-content-manager/admin/src/components/TableDelete/index.js
  packages/strapi-plugin-content-manager/admin/src/components/TableDelete/styles.scss
  packages/strapi-plugin-content-manager/admin/src/components/TableHeader/index.js
  packages/strapi-plugin-content-manager/admin/src/components/TableHeader/styles.scss
  packages/strapi-plugin-content-manager/admin/src/components/TableRow/index.js
  packages/strapi-plugin-content-manager/admin/src/components/TableRow/styles.scss
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/actions.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/constants.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/reducer.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/saga.js
  packages/strapi-plugin-content-manager/admin/src/translations/en.json
  packages/strapi-plugin-content-manager/admin/src/translations/fr.json
  packages/strapi-plugin-content-manager/config/queries/bookshelf.js
  packages/strapi-plugin-content-manager/config/queries/mongoose.js
  packages/strapi-plugin-content-manager/config/routes.json
  packages/strapi-plugin-content-manager/controllers/ContentManager.js
  packages/strapi-plugin-content-manager/services/ContentManager.js
  packages/strapi-plugin-users-permissions/config/layout.js
  packages/strapi-plugin-users-permissions/controllers/User.js
  packages/strapi-plugin-users-permissions/models/User.settings.json
  packages/strapi-plugin-users-permissions/services/User.js
  packages/strapi-utils/lib/models.js
Labels: pr: 🚀 New feature, source: Plugin

#1348 Update hooks structure requirements
  docs/3.x.x/en/advanced/hooks.md
Labels: pr: 💅 Enhancement, source: Documentation

#1288 Add Enum into GraphQL schema
  packages/strapi-plugin-graphql/services/GraphQL.js
Labels: pr: 🚀 New feature, source: Plugin, status: WIP / Waiting

#1352 Fix route count
  .travis.yml
  packages/strapi-generate-api/json/routes.json.js
  packages/strapi-plugin-graphql/package.json
  test/helpers/generators.json
  test/index.test.js
Labels: pr: 🐛 Bug fix, source: Framework

#1334 Enhance onboard message CLI
  packages/strapi-generate-new/lib/after.js
Labels: pr: 💅 Enhancement, source: Framework

#1369 Fix delete info.mainFied in content type builder
  packages/strapi-plugin-content-type-builder/controllers/ContentTypeBuilder.js
  packages/strapi-plugin-content-type-builder/services/ContentTypeBuilder.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1367 Fix default role provider and for create user
  packages/strapi-plugin-users-permissions/controllers/User.js
  packages/strapi-plugin-users-permissions/services/Providers.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1362 Remove plugin analytics on app creation
  packages/strapi-generate-new/lib/after.js
Labels: pr: 💅 Enhancement, source: Framework

#1364 Improve content builder UX
  packages/strapi-plugin-content-manager/config/layout.json
  packages/strapi-plugin-content-type-builder/admin/src/components/AttributeCard/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/PopUpForm/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/PopUpForm/styles.scss
  packages/strapi-plugin-content-type-builder/admin/src/components/PopUpRelations/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/PopUpRelations/styles.scss
  packages/strapi-plugin-content-type-builder/admin/src/containers/Form/index.js
Labels: pr: 💅 Enhancement, source: Plugin

#1363 Add search to content manager
  packages/strapi-bookshelf/lib/index.js
  packages/strapi-plugin-content-manager/admin/src/assets/images/icon-cross-blue.svg
  packages/strapi-plugin-content-manager/admin/src/assets/images/icon-cross.svg
  packages/strapi-plugin-content-manager/admin/src/assets/images/icon-search.svg
  packages/strapi-plugin-content-manager/admin/src/assets/images/icon_filter_blue.svg
  packages/strapi-plugin-content-manager/admin/src/components/CustomInputCheckbox/index.js
  packages/strapi-plugin-content-manager/admin/src/components/CustomInputCheckbox/styles.scss
  packages/strapi-plugin-content-manager/admin/src/components/Filter/styles.scss
  packages/strapi-plugin-content-manager/admin/src/components/Search/index.js
  packages/strapi-plugin-content-manager/admin/src/components/Search/styles.scss
  packages/strapi-plugin-content-manager/admin/src/components/Table/index.js
  packages/strapi-plugin-content-manager/admin/src/components/TableEmpty/index.js
  packages/strapi-plugin-content-manager/admin/src/components/TableHeader/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/reducer.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/saga.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/styles.scss
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/utils.js
  packages/strapi-plugin-content-manager/admin/src/translations/en.json
  packages/strapi-plugin-content-manager/admin/src/translations/fr.json
  packages/strapi-plugin-content-manager/config/queries/bookshelf.js
  packages/strapi-plugin-content-manager/config/queries/mongoose.js
  packages/strapi-plugin-content-manager/controllers/ContentManager.js
  packages/strapi-plugin-content-manager/services/ContentManager.js
Labels: pr: 🚀 New feature, source: Plugin

#1375 Fix enum icon
  packages/strapi-plugin-content-type-builder/admin/src/assets/images/icon_enum.png
  packages/strapi-plugin-content-type-builder/admin/src/assets/images/icon_enum.svg
  packages/strapi-plugin-content-type-builder/admin/src/components/AttributeCard/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/AttributeRow/index.js
Labels: pr: 💅 Enhancement, source: Plugin

#1365 Change design when email forgot-password has been sent
  packages/strapi-plugin-users-permissions/admin/src/containers/AuthPage/index.js
  packages/strapi-plugin-users-permissions/admin/src/containers/AuthPage/styles.scss
Labels: pr: 💅 Enhancement, source: Plugin

#1379 Update contributing guide
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  CONTRIBUTING.md
Labels: pr: 💅 Enhancement, source: Documentation

#1378 Don't update the state of the form if WYSIWYG content has not changed
  packages/strapi-helper-plugin/lib/src/components/Wysiwyg/index.js
Labels: pr: 🐛 Bug fix, source: Admin

#1255 Added support in email plugin for Mailgun and Sendgrid
  packages/strapi-admin/admin/src/components/Row/index.js
  packages/strapi-email-mailgun/.editorconfig
  packages/strapi-email-mailgun/.gitignore
  packages/strapi-email-mailgun/.npmignore
  packages/strapi-email-mailgun/LICENSE.md
  packages/strapi-email-mailgun/README.md
  packages/strapi-email-mailgun/lib/index.js
  packages/strapi-email-mailgun/package.json
  packages/strapi-email-sendgrid/.editorconfig
  packages/strapi-email-sendgrid/.gitignore
  packages/strapi-email-sendgrid/.npmignore
  packages/strapi-email-sendgrid/LICENSE.md
  packages/strapi-email-sendgrid/README.md
  packages/strapi-email-sendgrid/lib/index.js
  packages/strapi-email-sendgrid/package.json
  packages/strapi-email-sendmail/.editorconfig
  packages/strapi-email-sendmail/.gitignore
  packages/strapi-email-sendmail/.npmignore
  packages/strapi-email-sendmail/LICENSE.md
  packages/strapi-email-sendmail/README.md
  packages/strapi-email-sendmail/lib/index.js
  packages/strapi-email-sendmail/package.json
  packages/strapi-plugin-email/admin/src/components/EditForm/index.js
  packages/strapi-plugin-email/admin/src/components/EditForm/styles.scss
  packages/strapi-plugin-email/admin/src/containers/App/index.js
  packages/strapi-plugin-email/admin/src/containers/App/reducer.js
  packages/strapi-plugin-email/admin/src/containers/App/selectors.js
  packages/strapi-plugin-email/admin/src/containers/ConfigPage/actions.js
  packages/strapi-plugin-email/admin/src/containers/ConfigPage/constants.js
  packages/strapi-plugin-email/admin/src/containers/ConfigPage/index.js
  packages/strapi-plugin-email/admin/src/containers/ConfigPage/reducer.js
  packages/strapi-plugin-email/admin/src/containers/ConfigPage/saga.js
  packages/strapi-plugin-email/admin/src/containers/ConfigPage/selectors.js
  packages/strapi-plugin-email/admin/src/containers/ConfigPage/styles.scss
  packages/strapi-plugin-email/admin/src/containers/NotFoundPage/index.js
  packages/strapi-plugin-email/admin/src/translations/en.json
  packages/strapi-plugin-email/config/functions/bootstrap.js
  packages/strapi-plugin-email/config/queries/bookshelf.js
  packages/strapi-plugin-email/config/queries/mongoose.js
  packages/strapi-plugin-email/config/routes.json
  packages/strapi-plugin-email/controllers/Email.js
  packages/strapi-plugin-email/package.json
  packages/strapi-plugin-email/services/Email.js
  packages/strapi/lib/core/hooks.js
  scripts/setup.js
Labels: pr: 🚀 New feature, source: Plugin

#1384 Fix enumeration detection for GraphQL
  packages/strapi-plugin-graphql/services/GraphQL.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1391 Update polish language
  packages/strapi-admin/admin/src/translations/pl.json
  packages/strapi-plugin-content-manager/admin/src/translations/pl.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/pl.json
  packages/strapi-plugin-settings-manager/admin/src/translations/pl.json
  packages/strapi-plugin-upload/admin/src/translations/pl.json
  packages/strapi-plugin-users-permissions/admin/src/translations/pl.json
Labels: pr: 💅 Enhancement, source: Plugin

#1397 Fix admin start
  packages/strapi-helper-plugin/lib/internals/scripts/loadAdminConfigurations.js
Labels: pr: 🐛 Bug fix, source: Admin

#1400 Add examples in the "Authentication with providers" section
  docs/3.x.x/en/guides/authentication.md
Labels: pr: 💅 Enhancement, source: Documentation

#1403 Add Arabic language ar_SA - إضافة اللغة العربية
  packages/strapi-admin/admin/src/config/languages.json
  packages/strapi-admin/admin/src/containers/LocaleToggle/index.js
  packages/strapi-admin/admin/src/translations/ar.json
  packages/strapi-plugin-content-manager/admin/src/translations/ar.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/ar.json
  packages/strapi-plugin-email/admin/src/translations/ar.json
  packages/strapi-plugin-settings-manager/admin/src/translations/ar.json
  packages/strapi-plugin-upload/admin/src/translations/ar.json
  packages/strapi-plugin-users-permissions/admin/src/translations/ar.json
Labels: pr: 💅 Enhancement, source: Admin

#1404 Fix Array type mongoose
  packages/strapi-mongoose/lib/utils/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#1409 Add option to enable GraphQL playground anywhere
  packages/strapi-plugin-graphql/config/settings.json
  packages/strapi-plugin-graphql/hooks/graphql/index.js
Labels: pr: 🚀 New feature, source: Plugin

#1345 Correctly determine the numeric value candidates in GraphQL
  packages/strapi-plugin-graphql/services/GraphQL.js
  packages/strapi-utils/lib/models.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1411 Update Turkish language files
  packages/strapi-generate-new/files/config/locales/tr_TR.json
  packages/strapi-plugin-content-manager/admin/src/translations/tr.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/tr.json
  packages/strapi-plugin-email/admin/src/translations/en.json
  packages/strapi-plugin-email/admin/src/translations/tr.json
  packages/strapi-plugin-settings-manager/admin/src/translations/tr.json
  packages/strapi-plugin-users-permissions/admin/src/translations/en.json
  packages/strapi-plugin-users-permissions/admin/src/translations/tr.json
Labels: pr: 💅 Enhancement, source: Admin

#1429 Correct the link to the documentation
  packages/strapi-plugin-content-type-builder/admin/src/containers/Form/forms.json
Labels: pr: 💅 Enhancement, source: Plugin

#1426 Add Italian translation
  packages/strapi-admin/admin/src/config/languages.json
  packages/strapi-admin/admin/src/translations/it.json
  packages/strapi-plugin-content-manager/admin/src/translations/it.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/it.json
  packages/strapi-plugin-email/admin/src/translations/it.json
  packages/strapi-plugin-settings-manager/admin/src/translations/it.json
  packages/strapi-plugin-upload/admin/src/translations/it.json
Labels: pr: 💅 Enhancement, source: Admin

#1422 Run eslint only on modified files
  scripts/lint.js
Labels: pr: 💅 Enhancement, source: Framework

#1401 Add input JSON
  packages/strapi-admin/admin/src/translations/en.json
  packages/strapi-admin/admin/src/translations/fr.json
  packages/strapi-helper-plugin/lib/src/components/InputJSON/index.js
  packages/strapi-helper-plugin/lib/src/components/InputJSON/jsonlint.js
  packages/strapi-helper-plugin/lib/src/components/InputJSON/styles.scss
  packages/strapi-helper-plugin/lib/src/components/InputJSONWithErrors/index.js
  packages/strapi-helper-plugin/lib/src/components/InputJSONWithErrors/styles.scss
  packages/strapi-helper-plugin/lib/src/components/InputsIndex/index.js
  packages/strapi-helper-plugin/lib/src/utils/inputsValidations.js
  packages/strapi-helper-plugin/package.json
  packages/strapi-plugin-content-manager/admin/src/components/Edit/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditPage/saga.js
  packages/strapi-plugin-content-manager/admin/src/translations/en.json
  packages/strapi-plugin-content-manager/admin/src/translations/fr.json
  packages/strapi-plugin-content-manager/admin/src/utils/formValidations.js
Labels: pr: 🚀 New feature, source: Plugin

#1438 Update polymorphic ref link
  README.md
  ROADMAP.md
  docs/3.x.x/en/guides/models.md
Labels: pr: 💅 Enhancement, source: Documentation

#1446 Fix ssl interpretation for Mongo connection
  packages/strapi-mongoose/lib/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#1447 Enhance input JSON
  packages/strapi-helper-plugin/lib/internals/eslint/.eslintrc.json
  packages/strapi-helper-plugin/lib/src/components/InputJSON/index.js
  packages/strapi-helper-plugin/lib/src/components/InputJSON/styles.scss
  packages/strapi-helper-plugin/lib/src/components/InputJSONWithErrors/index.js
  packages/strapi-helper-plugin/package.json
  packages/strapi-lint/lib/internals/eslint/front/.eslintrc.json
  scripts/lint.js
Labels: pr: 💅 Enhancement, source: Plugin

#1445 Fix delete SQL entry with relation
  packages/strapi-generate-api/templates/bookshelf/service.template
Labels: pr: 🐛 Bug fix, source: Framework

#1437 Fix default timezone to UTC for SQL database
  docs/3.x.x/en/configurations/configurations.md
  packages/strapi-knex/lib/index.js
  packages/strapi-plugin-content-manager/admin/src/components/TableRow/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#1436 Fix JSON type format SQL
  packages/strapi-bookshelf/lib/index.js
  packages/strapi-plugin-users-permissions/models/Permission.settings.json
Labels: flag: 💥 Breaking change, pr: 🐛 Bug fix, source: Framework

#1470 Fix empty string not require for policy
  packages/strapi-plugin-users-permissions/models/Permission.settings.json
Labels: pr: 🐛 Bug fix, source: Plugin

#1456 Portuguese Language Support
  packages/strapi-admin/admin/src/config/languages.json
  packages/strapi-admin/admin/src/translations/pt.json
  packages/strapi-plugin-content-manager/admin/src/translations/pt.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/pt.json
  packages/strapi-plugin-email/admin/src/translations/pt.json
  packages/strapi-plugin-settings-manager/admin/src/translations/pt.json
  packages/strapi-plugin-upload/admin/src/translations/pt.json
Labels: pr: 💅 Enhancement, source: Admin

#1399 Split tests by packages and add tests for oneWay relationship.
  jest.config.js
  packages/strapi-mongoose/lib/relations.js
  packages/strapi-plugin-content-manager/.gitignore
  packages/strapi-plugin-content-manager/config/layout.json
  packages/strapi-plugin-content-manager/jest.config.js
  packages/strapi-plugin-content-manager/services/ContentManager.js
  packages/strapi-plugin-content-manager/test/index.test.js
  packages/strapi-plugin-users-permissions/models/User.settings.json
  packages/strapi/lib/core/apis.js
  test/helpers/generators.json
  test/helpers/request.js
  test/index.test.js
  test/start.js
Labels: pr: 💅 Enhancement, source: Framework

#1487 Fix filename reference
  docs/3.x.x/en/advanced/customize-admin.md
Labels: pr: 💅 Enhancement, source: Documentation
