Repository strapi/strapi, pull requests merged in 2018-05, with the labels that each got.

#1067 Add steps in the CONTRIBUTING_GUIDE and plugin development sections
  CONTRIBUTING.md
  docs/3.x.x/en/plugin-development/quick-start.md
Labels: pr: 💅 Enhancement, source: Documentation

#1068 Fix open modal relation bug
  packages/strapi-admin/package.json
  packages/strapi-helper-plugin/lib/src/components/InputTextArea/index.js
  packages/strapi-plugin-content-manager/config/layout.json
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelPage/index.js
  packages/strapi-plugin-content-type-builder/package.json
  packages/strapi-plugin-settings-manager/package.json
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-users-permissions/package.json
Labels: pr: 🐛 Bug fix, source: Framework

#1070 Fix relation detection OneToManyMorph for OneToMany
  packages/strapi-utils/lib/models.js
Labels: pr: 🐛 Bug fix, source: Framework

#1072 Set asc as default for sorting
  packages/strapi-utils/lib/models.js
Labels: pr: 💅 Enhancement, source: Framework

#1087 Fix single upload with Bookshelf
  packages/strapi-bookshelf/lib/index.js
  packages/strapi-plugin-content-manager/config/queries/bookshelf.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1089 Fix entry create relations
  packages/strapi-plugin-content-manager/config/queries/bookshelf.js
  packages/strapi-plugin-content-manager/config/queries/mongoose.js
Labels: pr: 💅 Enhancement, source: Plugin

#1091 Fix loose many to many dominant
  packages/strapi-plugin-content-type-builder/services/ContentTypeBuilder.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1097 Avoid to loose relationship when editing from the many side
  packages/strapi-plugin-content-manager/config/queries/mongoose.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1098 Add strapi-knex in generated project dependencies
  packages/strapi-bookshelf/lib/utils/connectivity.js
  packages/strapi-generate-new/lib/before.js
Labels: pr: 🐛 Bug fix, source: Framework

#1081 Remove attribute plugin in model
  packages/strapi-plugin-content-type-builder/services/ContentTypeBuilder.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1079 Add authSource & ssl options to the admin panel
  packages/strapi-plugin-settings-manager/admin/src/translations/de.json
  packages/strapi-plugin-settings-manager/admin/src/translations/en.json
  packages/strapi-plugin-settings-manager/controllers/SettingsManager.js
  packages/strapi-plugin-settings-manager/services/SettingsManager.js
Labels: pr: 💅 Enhancement, source: Plugin

#1103 Fix permissions disappear from UI
  packages/strapi-plugin-users-permissions/config/queries/bookshelf.js
  packages/strapi-plugin-users-permissions/config/queries/mongoose.js
  packages/strapi-plugin-users-permissions/services/UsersPermissions.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1126 Tweak grammar of error message
  docs/3.x.x/en/guides/policies.md
Labels: pr: 💅 Enhancement, source: Plugin

#1136 Fix input relation
  package.json
  packages/strapi-admin/package.json
  packages/strapi-bookshelf/package.json
  packages/strapi-ejs/package.json
  packages/strapi-generate-admin/package.json
  packages/strapi-generate-api/package.json
  packages/strapi-generate-controller/package.json
  packages/strapi-generate-model/package.json
  packages/strapi-generate-new/package.json
  packages/strapi-generate-plugin/package.json
  packages/strapi-generate-policy/package.json
  packages/strapi-generate-service/package.json
  packages/strapi-generate/package.json
  packages/strapi-helper-plugin/package.json
  packages/strapi-knex/package.json
  packages/strapi-middleware-views/package.json
  packages/strapi-mongoose/package.json
  packages/strapi-plugin-content-manager/admin/src/components/EditRelations/index.js
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-content-type-builder/package.json
  packages/strapi-plugin-email/package.json
  packages/strapi-plugin-graphql/package.json
  packages/strapi-plugin-settings-manager/package.json
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-users-permissions/package.json
  packages/strapi-redis/package.json
  packages/strapi-upload-aws-s3/package.json
  packages/strapi-upload-cloudinary/package.json
  packages/strapi-upload-local/package.json
  packages/strapi-upload-rackspace/package.json
  packages/strapi-utils/package.json
  packages/strapi/package.json
Labels: pr: 🐛 Bug fix, source: Plugin

#1002 Fix loose of permissions during restart
  packages/strapi-plugin-users-permissions/services/UsersPermissions.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1140 Disable minimize option by default on Mongoose
  docs/3.x.x/en/configurations/configurations.md
  packages/strapi-mongoose/lib/index.js
Labels: pr: 💅 Enhancement, source: Framework

#1137 Fix npm publish email plugin
  packages/strapi-plugin-email/package.json
Labels: pr: 💅 Enhancement, source: Framework

#1141 Docs: environments test to staging
  docs/3.x.x/en/concepts/concepts.md
Labels: pr: 💅 Enhancement, source: Documentation

#1147 Update Strapi-Bookshelf to create enumeration columns
  packages/strapi-bookshelf/lib/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1146 Avoid to delete duplicate permissions per role
  packages/strapi-plugin-users-permissions/services/UsersPermissions.js
Labels: pr: 🐛 Bug fix, source: Framework

#1110 Fix strapi.reload.isWatching === undefined
  packages/strapi/lib/Strapi.js
Labels: pr: 🐛 Bug fix, source: Framework

#1151 Update Strapi-Bookshelf to properly store long float values
  packages/strapi-bookshelf/lib/index.js
Labels: pr: 🐛 Bug fix, source: Plugin, status: WIP / Waiting

#1163 Return HTTP 403 (not 401) if user is not allowed to perform an operation
  packages/strapi-plugin-users-permissions/config/policies/permissions.js
Labels: pr: 💅 Enhancement, source: Plugin

#1184 Fix and harmonize generators
  packages/strapi-generate-model/lib/before.js
  packages/strapi-generate-model/templates/bookshelf/model.settings.template
  packages/strapi-generate-model/templates/bookshelf/model.template
  packages/strapi-generate-model/templates/mongoose/model.settings.template
  packages/strapi-generate-model/templates/mongoose/model.template
  packages/strapi-plugin-content-manager/admin/src/containers/EditPage/index.js
  packages/strapi-plugin-users-permissions/services/UsersPermissions.js
  packages/strapi/package.json
  scripts/test.sh
Labels: pr: 💅 Enhancement, source: Framework

#1185 Add npm install as last step of migration guide
  docs/3.x.x/en/migration/migration-guide-alpha-10-to-alpha-11.md
Labels: pr: 💅 Enhancement, source: Documentation

#1188 Upgrade to latest alpha-12.x in migration guide
  docs/3.x.x/en/migration/migration-guide-alpha-11-to-alpha-12.md
Labels: pr: 💅 Enhancement, source: Documentation

#1157 Move business logic to manage relations inside the hooks
  packages/strapi-bookshelf/lib/index.js
  packages/strapi-bookshelf/lib/relations.js
  packages/strapi-generate-api/templates/bookshelf/service.template
  packages/strapi-generate-api/templates/mongoose/service.template
  packages/strapi-mongoose/lib/index.js
  packages/strapi-mongoose/lib/relations.js
  packages/strapi-plugin-content-manager/config/layout.json
  packages/strapi-plugin-content-manager/config/queries/bookshelf.js
  packages/strapi-plugin-content-manager/config/queries/mongoose.js
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
  packages/strapi-plugin-users-permissions/config/queries/bookshelf.js
  packages/strapi-utils/lib/models.js
  packages/strapi/lib/middlewares/boom/index.js
Labels: pr: 💅 Enhancement, source: Framework

#1190 Disable reserved attributes
  packages/strapi-plugin-content-type-builder/admin/src/containers/Form/utils/attributeValidations.js
  packages/strapi-plugin-content-type-builder/admin/src/translations/en.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/fr.json
Labels: pr: 🐛 Bug fix, source: Plugin

#1201 Fix spelling
  packages/strapi-admin/controllers/Admin.js
Labels: pr: 💅 Enhancement, source: Admin

#1195 New locale selector design
  packages/strapi-admin/admin/src/components/CtaWrapper/index.js
  packages/strapi-admin/admin/src/components/LeftMenuFooter/index.js
  packages/strapi-admin/admin/src/components/Logout/styles.scss
  packages/strapi-admin/admin/src/containers/AdminPage/index.js
  packages/strapi-admin/admin/src/containers/AdminPage/styles.scss
  packages/strapi-admin/admin/src/containers/LocaleToggle/index.js
  packages/strapi-admin/admin/src/containers/LocaleToggle/styles.scss
  packages/strapi-admin/admin/src/i18n.js
Labels: pr: 💅 Enhancement, source: Admin

#1219 Enhance & fix CSS
  packages/strapi-admin/admin/src/components/Logout/styles.scss
  packages/strapi-admin/admin/src/components/PluginCard/styles.scss
  packages/strapi-admin/admin/src/components/SupportUsBanner/styles.scss
  packages/strapi-admin/admin/src/containers/AdminPage/index.js
  packages/strapi-admin/admin/src/containers/AdminPage/styles.scss
  packages/strapi-admin/admin/src/containers/HomePage/styles.scss
  packages/strapi-admin/admin/src/containers/LocaleToggle/index.js
  packages/strapi-admin/admin/src/containers/LocaleToggle/styles.scss
  packages/strapi-bookshelf/package.json
  packages/strapi-ejs/package.json
  packages/strapi-generate-api/package.json
  packages/strapi-generate-controller/package.json
  packages/strapi-generate-model/package.json
  packages/strapi-generate-new/package.json
  packages/strapi-generate-plugin/package.json
  packages/strapi-generate-policy/package.json
  packages/strapi-generate-service/package.json
  packages/strapi-plugin-content-manager/.gitignore
  packages/strapi-plugin-content-manager/config/layout.json
  packages/strapi-plugin-users-permissions/.gitignore
  packages/strapi-plugin-users-permissions/admin/src/components/ListRow/styles.scss
Labels: pr: 💅 Enhancement, source: Admin

#1222 Wait for the user plugin to bootstrap before redirection
  packages/strapi-admin/admin/src/containers/AdminPage/index.js
Labels: pr: 🐛 Bug fix, source: Admin

#1196 Add styled-components
  packages/strapi-admin/package.json
  packages/strapi-helper-plugin/lib/internals/webpack/webpack.base.babel.js
  packages/strapi-helper-plugin/lib/internals/webpack/webpack.dev.babel.js
  packages/strapi-helper-plugin/lib/internals/webpack/webpack.prod.babel.js
  packages/strapi-helper-plugin/package.json
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-content-type-builder/package.json
  packages/strapi-plugin-settings-manager/package.json
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-users-permissions/package.json
Labels: pr: 💅 Enhancement, source: Admin

#1229 🇹🇷 Update Turkish translations
  packages/strapi-admin/admin/src/translations/tr.json
Labels: pr: 💅 Enhancement, source: Admin

#1245 Update Union type creation rules for GraphQL
  packages/strapi-plugin-graphql/services/GraphQL.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1261 Fix clean up of duplicate permissions
  packages/strapi-plugin-users-permissions/services/UsersPermissions.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1260 Fix generate GraphQL schema if ShadowCRUD is false
  packages/strapi-plugin-graphql/services/GraphQL.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1266 Change names for timestamp fields in GraphQL plugin
  packages/strapi-plugin-graphql/services/GraphQL.js
Labels: pr: 💥 Breaking change, source: Plugin

#1248 Fix a typo in the error key
  packages/strapi-admin/admin/src/translations/de.json
  packages/strapi-admin/admin/src/translations/en.json
  packages/strapi-admin/admin/src/translations/fr.json
  packages/strapi-admin/admin/src/translations/pl.json
  packages/strapi-admin/admin/src/translations/ru.json
  packages/strapi-admin/admin/src/translations/tr.json
  packages/strapi-admin/admin/src/translations/zh-Hans.json
  packages/strapi-admin/admin/src/translations/zh.json
  packages/strapi-plugin-content-type-builder/controllers/ContentTypeBuilder.js
Labels: pr: 💅 Enhancement, source: Plugin

#1199 Added oneWay relation option on frontend
  packages/strapi-plugin-content-type-builder/admin/src/assets/images/one_way.svg
  packages/strapi-plugin-content-type-builder/admin/src/assets/images/one_way_selected.svg
  packages/strapi-plugin-content-type-builder/admin/src/components/PopUpForm/styles.scss
  packages/strapi-plugin-content-type-builder/admin/src/components/RelationBox/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/RelationNaturePicker/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/RelationNaturePicker/styles.scss
  packages/strapi-plugin-content-type-builder/admin/src/containers/Form/index.js
  packages/strapi-plugin-content-type-builder/admin/src/translations/en.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/tr.json
  packages/strapi-plugin-content-type-builder/services/ContentTypeBuilder.js
Labels: pr: 💅 Enhancement, source: Plugin

#1285 Add section tracking documentation
  docs/3.x.x/en/SUMMARY.md
  docs/3.x.x/en/advanced/usage-tracking.md
  packages/strapi-admin/package.json
  packages/strapi-helper-plugin/package.json
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-content-type-builder/package.json
  packages/strapi-plugin-graphql/config/schema.graphql
  packages/strapi-plugin-settings-manager/package.json
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-users-permissions/package.json
  packages/strapi/lib/utils/index.js
Labels: pr: 💅 Enhancement, source: Documentation

#1268 Fix UI modal position in admin
  packages/strapi-admin/admin/src/styles/base/bootstrap-override.scss
Labels: pr: 💅 Enhancement, source: Admin

#1267 Fix UI min-height in content-type table list
  packages/strapi-helper-plugin/lib/src/components/ListRow/styles.scss
  packages/strapi-plugin-content-type-builder/admin/src/components/TableList/styles.scss
Labels: pr: 💅 Enhancement, source: Admin

#1265 Fix ui helper field width inside content type builder
  packages/strapi-helper-plugin/lib/src/components/InputAddon/styles.scss
Labels: pr: 💅 Enhancement, source: Admin

#1275 Improve GraphQL query support
  docs/3.x.x/en/guides/graphql.md
  packages/strapi-plugin-graphql/config/settings.json
  packages/strapi-plugin-graphql/hooks/graphql/index.js
  packages/strapi-plugin-graphql/package.json
  packages/strapi-plugin-graphql/services/GraphQL.js
  packages/strapi-plugin-users-permissions/config/policies/permissions.js
  packages/strapi/lib/middlewares/boom/index.js
Labels: pr: 💅 Enhancement, source: Plugin

#1294 Fix toJSON verification inside bookshelf for content-manager
  packages/strapi-plugin-content-manager/config/queries/bookshelf.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1181 Support for passing additional variables into mongoose
  packages/strapi-mongoose/lib/index.js
Labels: pr: 💅 Enhancement, source: Framework

#1287 Add `!` flag for GraphQL and non-nullable field
  packages/strapi-plugin-graphql/services/GraphQL.js
Labels: pr: 💅 Enhancement, source: Plugin

#1276 Improve <Ico> component for handle click if specified
  packages/strapi-helper-plugin/lib/src/components/Ico/index.js
  packages/strapi-plugin-content-manager/admin/src/components/TableRow/index.js
Labels: pr: 🐛 Bug fix, source: Admin

#1293 Add count route on generated API
  packages/strapi-generate-api/json/routes.json.js
  packages/strapi-generate-api/templates/mongoose/controller.template
  packages/strapi-generate-api/templates/mongoose/service.template
Labels: pr: 💅 Enhancement, source: Framework

#1170 Fix third party auth providers always disabled on windows
  packages/strapi-plugin-users-permissions/controllers/Auth.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1305 Remove warning in content-type-builder when creating tables
  packages/strapi-mongoose/lib/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/NoTableWarning/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/NoTableWarning/styles.scss
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelPage/actions.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelPage/constants.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelPage/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelPage/reducer.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelPage/sagas.js
Labels: pr: 💅 Enhancement, source: Plugin
