Repository strapi/strapi, pull requests merged in 2018-09, with the labels that each got.

#1831 Strapi support srv uri
  packages/strapi-generate-new/lib/before.js
  packages/strapi-hook-mongoose/lib/index.js
Labels: pr: 🚀 New feature, source: Framework

#1878 Add validation for attribute name of enumeration field
  packages/strapi-plugin-content-type-builder/admin/src/containers/Form/forms.json
Labels: pr: 🐛 Bug fix, source: Plugin

#1846 Improve user experience when generating new app
  packages/strapi-generate-new/lib/before.js
Labels: pr: 💅 Enhancement, source: Framework

#1884 Fix unique_email with providers
  packages/strapi-plugin-users-permissions/controllers/Auth.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1895 Check user exist before user is blocked
  packages/strapi-plugin-users-permissions/controllers/Auth.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1889 Add notification for delete all types
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/saga.js
Labels: pr: 💅 Enhancement, source: Plugin

#1881 Reset image preview - clear label and icon preview
  packages/strapi-helper-plugin/lib/src/components/ImgPreview/index.js
  packages/strapi-helper-plugin/lib/src/components/InputFileWithErrors/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1830 Ability to emit errors to Koa
  docs/3.x.x/en/configurations/configurations.md
  packages/strapi/lib/middlewares/boom/index.js
Labels: pr: 💅 Enhancement, source: Framework

#1855 Fix saved date format content manager
  packages/strapi-plugin-content-manager/admin/src/containers/EditPage/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1727 Open admin on strapi start
  docs/3.x.x/en/configurations/configurations.md
  packages/strapi/bin/strapi-start.js
  packages/strapi/lib/Strapi.js
  packages/strapi/lib/core/configurations.js
  packages/strapi/lib/utils/index.js
  packages/strapi/lib/utils/openBrowser.js
  packages/strapi/lib/utils/resources/openChrome.applescript
  packages/strapi/package.json
Labels: pr: 💅 Enhancement, source: Admin

#1917 Fix build
  packages/strapi-admin/admin/src/config/manifest.json
  packages/strapi-admin/admin/src/containers/AdminPage/index.js
  packages/strapi-admin/package.json
  packages/strapi-generate-api/package.json
  packages/strapi-generate-controller/package.json
  packages/strapi-generate-model/package.json
  packages/strapi-generate-new/package.json
  packages/strapi-generate-plugin/package.json
  packages/strapi-generate-policy/package.json
  packages/strapi-generate-service/package.json
  packages/strapi-helper-plugin/lib/internals/webpack/webpack.dll.babel.js
  packages/strapi-helper-plugin/lib/internals/webpack/webpack.prod.babel.js
  packages/strapi-helper-plugin/lib/src/components/InputFile/index.js
  packages/strapi-helper-plugin/lib/src/components/InputFileWithErrors/index.js
  packages/strapi-helper-plugin/lib/src/components/LoadingIndicatorPage/index.js
  packages/strapi-helper-plugin/package.json
  packages/strapi-hook-bookshelf/package.json
  packages/strapi-hook-ejs/package.json
  packages/strapi-plugin-content-manager/package.json
  packages/strapi/package.json
Labels: pr: 🐛 Bug fix, source: Framework

#1916 Clean layout on content type delete
  packages/strapi-plugin-content-type-builder/controllers/ContentTypeBuilder.js
  packages/strapi-plugin-content-type-builder/services/ContentTypeBuilder.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1921 Update RU translations
  packages/strapi-plugin-content-manager/admin/src/translations/ru.json
Labels: pr: 💅 Enhancement, source: Admin

#1893 Fix remove all files in item and add one
  packages/strapi-plugin-content-manager/services/ContentManager.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1872 Add reference about production databases
  docs/3.x.x/en/guides/deployment.md
Labels: pr: 💅 Enhancement, source: Documentation

#1854 Fix auto-reload on file change
  packages/strapi/lib/Strapi.js
  packages/strapi/lib/core/plugins.js
Labels: pr: 🐛 Bug fix, source: Framework

#1570 Lowercase email on local auth register
  packages/strapi-plugin-users-permissions/controllers/Auth.js
Labels: pr: 💅 Enhancement, source: Plugin, status: waiting for update

#1926 Fix content type generation with bookshelf.
  packages/strapi-plugin-content-type-builder/services/ContentTypeBuilder.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1936 Fix bug on conditional code
  packages/strapi/lib/core/configurations.js
Labels: pr: 🐛 Bug fix, source: Framework

#1946 Fixes #1938
  packages/strapi/lib/core/plugins.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1575 Don't parse npm scripts for dynamic config
  packages/strapi/lib/core/configurations.js
Labels: pr: 💅 Enhancement, source: Framework

#1950 Fix ORM Create FullText index error if no text colums founded
  packages/strapi-hook-bookshelf/lib/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#1725 Pluralize routes
  docs/3.x.x/en/concepts/concepts.md
  docs/3.x.x/en/getting-started/quick-start.md
  docs/3.x.x/en/guides/authentication.md
  docs/3.x.x/en/guides/filters.md
  docs/3.x.x/en/guides/policies.md
  docs/3.x.x/en/guides/routing.md
  packages/strapi-generate-api/json/routes.json.js
  packages/strapi-plugin-users-permissions/config/routes.json
Labels: flag: 💥 Breaking change, pr: 💅 Enhancement, source: Plugin

#1974 Fix send email service
  packages/strapi-plugin-email/controllers/Email.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1971 Update lanagues list label breaked on multi-line.
  packages/strapi-plugin-settings-manager/admin/src/components/List/styles.scss
Labels: pr: 💅 Enhancement, source: Plugin

#1964 Add config options for AutoOpen by default
  packages/strapi-generate-new/files/config/environments/development/server.json
  packages/strapi-generate-new/files/config/environments/production/server.json
  packages/strapi-generate-new/files/config/environments/staging/server.json
Labels: pr: 💅 Enhancement, source: Framework

#1970 Fix model name with whitespace on keyboard content-builder form submission
  packages/strapi-plugin-content-type-builder/admin/src/containers/Form/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1959 Update docs to show correct password-reset URL and fix formatting
  docs/3.x.x/en/guides/authentication.md
Labels: pr: 💅 Enhancement, source: Documentation

#1937 Refactor eslint commands
  scripts/lint.js
Labels: pr: 💅 Enhancement, source: Plugin

#1941 Fix strapi new for Windows
  package.json
  packages/strapi-generate-new/lib/before.js
  packages/strapi-hook-bookshelf/lib/utils/connectivity.js
  packages/strapi-hook-bookshelf/package.json
  packages/strapi-hook-mongoose/lib/utils/connectivity.js
  packages/strapi-hook-mongoose/package.json
  packages/strapi-hook-redis/lib/utils/connectivity.js
  packages/strapi-hook-redis/package.json
Labels: pr: 🐛 Bug fix, source: Framework

#1981 Remove moveFocusToEnd in addContent and addBlock WYSIWYG methods.
  packages/strapi-plugin-content-manager/admin/src/components/Wysiwyg/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1961 Add Content Internationalization documentation
  docs/3.x.x/en/assets/internationalization.gif
  docs/3.x.x/en/guides/i18n.md
Labels: pr: 💅 Enhancement, source: Documentation

#1976 Fix association detection
  packages/strapi-hook-bookshelf/lib/relations.js
Labels: pr: 🐛 Bug fix, source: Framework

#1990 Don't parse npm scripts for dynamic config
  packages/strapi-utils/lib/templateConfiguration.js
  packages/strapi/lib/core/configurations.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1924 Mutation/Aggregations Merge and Decimal Fix
  docs/3.x.x/en/guides/graphql.md
  packages/strapi-hook-mongoose/lib/utils/index.js
  packages/strapi-plugin-graphql/README.md
  packages/strapi-plugin-graphql/hooks/graphql/index.js
  packages/strapi-plugin-graphql/package.json
  packages/strapi-plugin-graphql/services/Aggregator.js
  packages/strapi-plugin-graphql/services/GraphQL.js
  packages/strapi-plugin-graphql/services/Mutation.js
  packages/strapi-plugin-graphql/services/Query.js
  packages/strapi-plugin-graphql/services/Resolvers.js
  packages/strapi-plugin-graphql/services/Schema.js
  packages/strapi-plugin-graphql/services/Types.js
  packages/strapi-plugin-upload/config/schema.graphql
  packages/strapi-plugin-upload/services/Upload.js
  packages/strapi-plugin-users-permissions/config/schema.graphql
  packages/strapi/lib/Strapi.js
Labels: pr: 💅 Enhancement, source: Plugin

#1913 Update AR translations
  packages/strapi-admin/admin/src/translations/ar.json
  packages/strapi-plugin-content-manager/admin/src/translations/ar.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/ar.json
Labels: pr: 💅 Enhancement, source: Admin

#1838 Polish strapi hook mongoose
  packages/strapi-hook-mongoose/lib/index.js
Labels: pr: 💅 Enhancement, source: Framework

#1967 Add shebang to server.js
  packages/strapi-generate-new/files/server.js
Labels: pr: 💅 Enhancement, source: Framework

#1982 Fix drag drop image not saved in WYSIWYG.
  packages/strapi-plugin-content-manager/admin/src/components/Wysiwyg/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2039 Update the Templates to ensure users are on the latest release
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Labels: pr: 💅 Enhancement, source: Documentation

#2041 Allow any valid JSON in the content manager
  packages/strapi-plugin-content-manager/admin/src/utils/formValidations.js
  packages/strapi/bin/strapi.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2040 Fix the same password requirements when registering a user
  packages/strapi-plugin-users-permissions/admin/src/containers/AuthPage/index.js
  packages/strapi-plugin-users-permissions/admin/src/translations/en.json
  packages/strapi-plugin-users-permissions/admin/src/translations/fr.json
Labels: pr: 🐛 Bug fix, source: Plugin

#2043 Updated docs for MLab example configuration
  docs/3.x.x/en/configurations/configurations.md
Labels: pr: 💅 Enhancement, source: Documentation

#2037 Update TR translations 🇹🇷
  packages/strapi-admin/admin/src/translations/tr.json
  packages/strapi-plugin-content-manager/admin/src/translations/tr.json
  packages/strapi-plugin-settings-manager/admin/src/translations/tr.json
  packages/strapi-plugin-users-permissions/admin/src/translations/tr.json
Labels: pr: 💅 Enhancement, source: Admin

#2026 Update node and npm requirement on both Github issue template and documentation
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  docs/3.x.x/en/getting-started/installation.md
Labels: pr: 💅 Enhancement, source: Documentation
