Repository strapi/strapi, pull requests merged in 2018-07, with the labels that each got.

#1464 Change hardcoded "tmp" path to an OS-random one
  packages/strapi-generate-new/lib/before.js
Labels: pr: 💅 Enhancement, source: Framework

#1475 Don't use MongoDB connectOptions when using URI
  packages/strapi-mongoose/lib/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#1500 Fixed incorrect import for utils/request
  docs/3.x.x/en/plugin-development/frontend-use-cases.md
Labels: pr: 💅 Enhancement, source: Documentation

#1506 Fix loose oneWay relation on update content type
  packages/strapi-plugin-content-type-builder/controllers/ContentTypeBuilder.js
  packages/strapi-plugin-content-type-builder/services/ContentTypeBuilder.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1451 Review Strapi logs new/start
  packages/strapi-bookshelf/lib/utils/connectivity.js
  packages/strapi-generate-new/lib/after.js
  packages/strapi-generate-new/lib/before.js
  packages/strapi-generate-new/package.json
  packages/strapi-mongoose/lib/utils/connectivity.js
  packages/strapi-utils/lib/models.js
  packages/strapi/bin/strapi-new.js
  packages/strapi/bin/strapi-start.js
  packages/strapi/lib/Strapi.js
Labels: pr: 💅 Enhancement, source: Framework

#1495 Brazilian Portuguese Language Support
  packages/strapi-admin/admin/src/config/languages.json
  packages/strapi-admin/admin/src/containers/LocaleToggle/index.js
  packages/strapi-admin/admin/src/translations/pt-BR.json
  packages/strapi-plugin-content-manager/admin/src/translations/pt-BR.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/pt-BR.json
  packages/strapi-plugin-email/admin/src/translations/pt-BR.json
  packages/strapi-plugin-settings-manager/admin/src/translations/pt-BR.json
  packages/strapi-plugin-upload/admin/src/translations/pt-BR.json
  packages/strapi-plugin-users-permissions/admin/src/translations/pt-BR.json
Labels: pr: 💅 Enhancement, source: Admin

#1519 Update pt-BR.json
  packages/strapi-admin/admin/src/translations/pt-BR.json
Labels: pr: 💅 Enhancement, source: Admin

#1520 Add search in generated API
  packages/strapi-generate-api/templates/bookshelf/controller.template
  packages/strapi-generate-api/templates/bookshelf/service.template
  packages/strapi-generate-api/templates/mongoose/controller.template
  packages/strapi-generate-api/templates/mongoose/service.template
  packages/strapi-generate/lib/helpers/template/index.js
Labels: pr: 🚀 New feature, source: Framework

#1528 Korean Language Support
  packages/strapi-admin/admin/src/config/languages.json
  packages/strapi-admin/admin/src/containers/LocaleToggle/index.js
  packages/strapi-admin/admin/src/containers/LocaleToggle/styles.scss
  packages/strapi-admin/admin/src/translations/en.json
  packages/strapi-admin/admin/src/translations/ko.json
  packages/strapi-plugin-content-manager/admin/src/translations/ko.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/ko.json
  packages/strapi-plugin-email/admin/src/translations/ko.json
  packages/strapi-plugin-settings-manager/admin/src/translations/ko.json
  packages/strapi-plugin-upload/admin/src/translations/ko.json
  packages/strapi-plugin-users-permissions/admin/src/translations/ko.json
Labels: pr: 💅 Enhancement, source: Admin

#1531 Fixes oneWay relation
  packages/strapi-plugin-content-type-builder/admin/src/components/PopUpRelations/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/Form/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1530 Fixes Image Preview in InputFile
  packages/strapi-helper-plugin/lib/src/components/ImgPreview/index.js
  packages/strapi-helper-plugin/lib/src/components/PageFooter/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1517 Improve SQL table creation/update performance
  docs/3.x.x/en/configurations/configurations.md
  packages/strapi-bookshelf/lib/index.js
Labels: pr: 💅 Enhancement, source: Framework

#1337 Clear cache dependencies on Travis tests
  .travis.yml
Labels: pr: 💅 Enhancement, source: Framework

#1545 Fixed typos in Korean language
  packages/strapi-admin/admin/src/translations/ko.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/ko.json
  packages/strapi-plugin-users-permissions/admin/src/translations/ko.json
Labels: pr: 💅 Enhancement, source: Admin

#1453 Yarn support
  packages/strapi-admin/admin/src/config/manifest.json
  packages/strapi-generate-admin/lib/after.js
  packages/strapi-generate-admin/package.json
  packages/strapi-generate-new/json/package.json.js
  packages/strapi-generate-new/lib/after.js
  packages/strapi-generate-new/lib/before.js
  packages/strapi-plugin-graphql/services/GraphQL.js
  packages/strapi-utils/lib/index.js
  packages/strapi-utils/lib/packageManager.js
  packages/strapi-utils/package.json
  packages/strapi/bin/strapi-install.js
  packages/strapi/lib/utils/post-install.js
  scripts/lint.js
Labels: pr: 🚀 New feature, source: Framework

#1537 Add "useNewUrlParser" Mongoose connection option
  packages/strapi-mongoose/lib/index.js
  packages/strapi-mongoose/lib/utils/connectivity.js
Labels: pr: 💅 Enhancement, source: Framework

#1549 Fix yarn
  package.json
  packages/strapi-admin/package.json
  packages/strapi-bookshelf/package.json
  packages/strapi-ejs/package.json
  packages/strapi-email-mailgun/package.json
  packages/strapi-email-sendgrid/package.json
  packages/strapi-email-sendmail/package.json
  packages/strapi-generate-admin/package.json
  packages/strapi-generate-api/package.json
  packages/strapi-generate-controller/package.json
  packages/strapi-generate-model/package.json
  packages/strapi-generate-new/package.json
  packages/strapi-generate-plugin/package.json
  packages/strapi-generate-policy/package.json
  packages/strapi-generate-service/package.json
  packages/strapi-generate/package.json
  packages/strapi-helper-plugin/package.json
  packages/strapi-knex/package.json
  packages/strapi-lint/package.json
  packages/strapi-middleware-views/package.json
  packages/strapi-mongoose/package.json
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-content-type-builder/package.json
  packages/strapi-plugin-email/package.json
  packages/strapi-plugin-graphql/package.json
  packages/strapi-plugin-settings-manager/package.json
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-users-permissions/package.json
  packages/strapi-redis/package.json
  packages/strapi-upload-aws-s3/package.json
  packages/strapi-upload-cloudinary/package.json
  packages/strapi-upload-local/package.json
  packages/strapi-upload-rackspace/package.json
  packages/strapi-utils/lib/packageManager.js
  packages/strapi-utils/package.json
  packages/strapi/package.json
Labels: pr: 🐛 Bug fix, source: Framework

#1527 Content Manager: fix react-select blowing away user input on rerender
  packages/strapi-plugin-content-manager/admin/src/components/SelectMany/index.js
  packages/strapi-plugin-content-manager/admin/src/components/SelectOne/index.js
  packages/strapi-plugin-content-manager/package.json
Labels: pr: 🐛 Bug fix, source: Plugin

#1560 Fix temp directory reference for Yarn
  packages/strapi-generate-new/lib/before.js
  packages/strapi-utils/lib/packageManager.js
Labels: pr: 🐛 Bug fix, source: Framework

#1546 Update Admin build Docs
  docs/3.x.x/en/advanced/customize-admin.md
Labels: pr: 💅 Enhancement, source: Documentation

#1555 Add two options for the CLI - SSL and DB auth
  docs/3.x.x/en/cli/CLI.md
  packages/strapi-generate-new/lib/before.js
  packages/strapi/bin/strapi-new.js
  packages/strapi/bin/strapi.js
Labels: pr: 🚀 New feature, source: Framework

#1513 Fix Update Providers Issue
  packages/strapi-plugin-users-permissions/controllers/UsersPermissions.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1582 Clarified path for plugins providers configs
  docs/3.x.x/en/guides/email.md
  docs/3.x.x/en/guides/upload.md
Labels: pr: 💅 Enhancement, source: Documentation

#1581 Take into account allowGa value
  packages/strapi-admin/admin/src/containers/AdminPage/saga.js
Labels: pr: 🐛 Bug fix, source: Admin

#1514 Fix user roles and permissions issue
  packages/strapi-plugin-users-permissions/services/UsersPermissions.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1421 Add DateTime support for GraphQL plugin
  packages/strapi-plugin-graphql/package.json
  packages/strapi-plugin-graphql/services/GraphQL.js
Labels: flag: 💥 Breaking change, pr: 💅 Enhancement, source: Plugin

#1564 Rename hook modules with prefix
  docs/3.x.x/en/advanced/hooks.md
  docs/3.x.x/en/advanced/middlewares.md
  docs/3.x.x/en/advanced/usage-tracking.md
  docs/3.x.x/en/configurations/configurations.md
  packages/strapi-generate-api/templates/bookshelf/service.template
  packages/strapi-generate-new/files/config/environments/production/database.json
  packages/strapi-generate-new/files/config/environments/staging/database.json
  packages/strapi-generate-new/lib/before.js
  packages/strapi-hook-bookshelf/.gitignore
  packages/strapi-hook-bookshelf/.npmignore
  packages/strapi-hook-bookshelf/LICENSE.md
  packages/strapi-hook-bookshelf/README.md
  packages/strapi-hook-bookshelf/lib/index.js
  packages/strapi-hook-bookshelf/lib/relations.js
  packages/strapi-hook-bookshelf/lib/utils/connectivity.js
  packages/strapi-hook-bookshelf/lib/utils/graphql.js
  packages/strapi-hook-bookshelf/lib/utils/index.js
  packages/strapi-hook-bookshelf/package.json
  packages/strapi-hook-ejs/.editorconfig
  packages/strapi-hook-ejs/.gitignore
  packages/strapi-hook-ejs/.npmignore
  packages/strapi-hook-ejs/LICENSE.md
  packages/strapi-hook-ejs/README.md
  packages/strapi-hook-ejs/lib/index.js
  packages/strapi-hook-ejs/package.json
  packages/strapi-hook-knex/.editorconfig
  packages/strapi-hook-knex/.gitignore
  packages/strapi-hook-knex/.npmignore
  packages/strapi-hook-knex/LICENSE.md
  packages/strapi-hook-knex/README.md
  packages/strapi-hook-knex/lib/index.js
  packages/strapi-hook-knex/package.json
  packages/strapi-hook-mongoose/.editorconfig
  packages/strapi-hook-mongoose/.gitignore
  packages/strapi-hook-mongoose/.npmignore
  packages/strapi-hook-mongoose/LICENSE.md
  packages/strapi-hook-mongoose/README.md
  packages/strapi-hook-mongoose/lib/index.js
  packages/strapi-hook-mongoose/lib/relations.js
  packages/strapi-hook-mongoose/lib/utils/connectivity.js
  packages/strapi-hook-mongoose/lib/utils/index.js
  packages/strapi-hook-mongoose/package.json
  packages/strapi-hook-redis/.editorconfig
  packages/strapi-hook-redis/.gitignore
  packages/strapi-hook-redis/.npmignore
  packages/strapi-hook-redis/LICENSE.md
  packages/strapi-hook-redis/README.md
  packages/strapi-hook-redis/lib/index.js
  packages/strapi-hook-redis/lib/utils/connectivity.js
  packages/strapi-hook-redis/package.json
  packages/strapi-middleware-views/package.json
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-content-type-builder/controllers/ContentTypeBuilder.js
  packages/strapi-plugin-content-type-builder/services/ContentTypeBuilder.js
  packages/strapi-plugin-settings-manager/services/SettingsManager.js
  packages/strapi-utils/lib/knex.js
  packages/strapi/lib/core/configurations.js
  packages/strapi/lib/core/hooks.js
  packages/strapi/lib/hooks/index.js
  scripts/setup.js
Labels: flag: 💥 Breaking change, pr: 💅 Enhancement, source: Framework

#1597 Add job offer
  README.md
Labels: pr: 💅 Enhancement, source: Documentation

#1577 Server does not restart after files changes
  packages/strapi/lib/Strapi.js
Labels: pr: 🐛 Bug fix, source: Framework

#1604 Fix delete uploaded file SQL
  packages/strapi-plugin-upload/services/Upload.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1605 Fix udpate file SQL via content manager
  packages/strapi-hook-bookshelf/lib/relations.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1567 Fix for JSON attribute types in GraphQL
  packages/strapi-plugin-graphql/services/GraphQL.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1606 Update configurations.md
  docs/3.x.x/en/configurations/configurations.md
Labels: pr: 💅 Enhancement, source: Documentation

#1607 Update quick-start.md
  docs/3.x.x/en/getting-started/quick-start.md
Labels: pr: 💅 Enhancement, source: Documentation

#1611 Include yarn.lock in packages .gitignore
  packages/strapi-admin/.gitignore
  packages/strapi-admin/admin/.gitignore
  packages/strapi-email-mailgun/.gitignore
  packages/strapi-email-sendgrid/.gitignore
  packages/strapi-email-sendmail/.gitignore
  packages/strapi-generate-admin/.gitignore
  packages/strapi-generate-admin/files/.gitignore
  packages/strapi-generate-api/.gitignore
  packages/strapi-generate-controller/.gitignore
  packages/strapi-generate-model/.gitignore
  packages/strapi-generate-new/.gitignore
  packages/strapi-generate-plugin/.gitignore
  packages/strapi-generate-policy/.gitignore
  packages/strapi-generate-service/.gitignore
  packages/strapi-generate/.gitignore
  packages/strapi-helper-plugin/.gitignore
  packages/strapi-hook-bookshelf/.gitignore
  packages/strapi-hook-ejs/.gitignore
  packages/strapi-hook-knex/.gitignore
  packages/strapi-hook-mongoose/.gitignore
  packages/strapi-hook-redis/.gitignore
  packages/strapi-middleware-views/.gitignore
  packages/strapi-plugin-content-manager/.gitignore
  packages/strapi-plugin-graphql/.gitignore
  packages/strapi-plugin-upload/.gitignore
  packages/strapi-upload-aws-s3/.gitignore
  packages/strapi-upload-cloudinary/.gitignore
  packages/strapi-upload-local/.gitignore
  packages/strapi-utils/.gitignore
  packages/strapi/.gitignore
Labels: pr: 💅 Enhancement, source: Plugin

#1566 Spanish Translations
  packages/strapi-admin/admin/src/config/languages.json
  packages/strapi-admin/admin/src/translations/es.json
  packages/strapi-admin/package.json
  packages/strapi-generate-plugin/files/admin/src/translations/es.json
  packages/strapi-plugin-content-manager/admin/src/translations/es.json
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/es.json
  packages/strapi-plugin-content-type-builder/package.json
  packages/strapi-plugin-email/admin/src/translations/es.json
  packages/strapi-plugin-email/package.json
  packages/strapi-plugin-settings-manager/admin/src/translations/es.json
  packages/strapi-plugin-settings-manager/package.json
  packages/strapi-plugin-upload/admin/src/translations/es.json
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-users-permissions/admin/src/translations/es.json
  packages/strapi-plugin-users-permissions/package.json
Labels: pr: 🚀 New feature, source: Admin

#1615 Fix search input extra scrollbar in Firefox
  packages/strapi-plugin-content-manager/admin/src/components/Search/styles.scss
Labels: pr: 💅 Enhancement, source: Plugin

#1618 Add amazon ses email provider
  packages/strapi-email-amazon-ses/.editorconfig
  packages/strapi-email-amazon-ses/.gitignore
  packages/strapi-email-amazon-ses/.npmignore
  packages/strapi-email-amazon-ses/LICENSE.md
  packages/strapi-email-amazon-ses/README.md
  packages/strapi-email-amazon-ses/lib/index.js
  packages/strapi-email-amazon-ses/package.json
Labels: pr: 🚀 New feature, source: Plugin

#1643 Change MySQL text to longtext
  packages/strapi-hook-bookshelf/lib/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#1646 Fix delete morph relation bookshelf
  packages/strapi-hook-bookshelf/lib/relations.js
Labels: pr: 🐛 Bug fix, source: Framework

#1653 updated version from alpha 12 to 13
  docs/3.x.x/en/README.md
Labels: pr: 💅 Enhancement, source: Documentation

#1635 Disconnect projects from marketplace.strapi.io
  packages/strapi-admin/admin/src/containers/InstallPluginPage/saga.js
  packages/strapi-admin/admin/src/containers/ListPluginsPage/saga.js
  packages/strapi-admin/package.json
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-content-type-builder/package.json
  packages/strapi-plugin-email/package.json
  packages/strapi-plugin-settings-manager/package.json
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-users-permissions/package.json
  packages/strapi-plugin-users-permissions/services/UsersPermissions.js
Labels: pr: 💅 Enhancement, source: Plugin

#1632 Update it.json
  packages/strapi-admin/admin/src/translations/it.json
Labels: pr: 💅 Enhancement, source: Admin

#1633 Another update of it.json
  packages/strapi-plugin-content-manager/admin/src/translations/it.json
Labels: pr: 💅 Enhancement, source: Admin

#1634 Update TR translations
  packages/strapi-admin/admin/src/translations/tr.json
  packages/strapi-plugin-content-manager/admin/src/translations/tr.json
Labels: pr: 💅 Enhancement, source: Admin

#1638 Update ES translations
  packages/strapi-admin/admin/src/translations/es.json
  packages/strapi-generate-api/package.json
  packages/strapi-generate-controller/package.json
  packages/strapi-generate-model/package.json
  packages/strapi-generate-new/package.json
  packages/strapi-generate-plugin/package.json
  packages/strapi-generate-policy/package.json
  packages/strapi-generate-service/package.json
  packages/strapi-hook-bookshelf/package.json
  packages/strapi-hook-ejs/package.json
  packages/strapi-plugin-content-manager/admin/src/translations/es.json
  packages/strapi-plugin-settings-manager/admin/src/translations/es.json
  packages/strapi-plugin-users-permissions/admin/src/translations/es.json
Labels: pr: 💅 Enhancement, source: Admin

#1640 Update RU translations
  packages/strapi-admin/admin/src/translations/ru.json
  packages/strapi-plugin-content-manager/admin/src/translations/ru.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/ru.json
  packages/strapi-plugin-email/admin/src/translations/ru.json
  packages/strapi-plugin-settings-manager/admin/src/translations/ru.json
Labels: pr: 💅 Enhancement, source: Admin

#1649 Added missing translation keys in DE language
  packages/strapi-admin/admin/src/translations/de.json
  packages/strapi-plugin-content-manager/admin/src/translations/de.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/de.json
  packages/strapi-plugin-email/admin/src/translations/de.json
  packages/strapi-plugin-settings-manager/admin/src/translations/de.json
  packages/strapi-plugin-upload/admin/src/translations/de.json
  packages/strapi-plugin-users-permissions/admin/src/translations/de.json
Labels: pr: 💅 Enhancement, source: Admin

#1659 Update PT-BR translations
  packages/strapi-admin/admin/src/translations/pt-BR.json
  packages/strapi-plugin-content-manager/admin/src/translations/pt-BR.json
Labels: pr: 💅 Enhancement, source: Admin

#1654 Update IT translations
  packages/strapi-plugin-users-permissions/admin/src/translations/it.json
Labels: pr: 💅 Enhancement, source: Admin

#1416 Implement sorting for SelectMany in Frontend
  packages/strapi-plugin-content-manager/admin/src/assets/images/icon_grab.svg
  packages/strapi-plugin-content-manager/admin/src/assets/images/icon_remove.svg
  packages/strapi-plugin-content-manager/admin/src/components/EditRelations/index.js
  packages/strapi-plugin-content-manager/admin/src/components/EditRelations/styles.scss
  packages/strapi-plugin-content-manager/admin/src/components/SelectMany/index.js
  packages/strapi-plugin-content-manager/admin/src/components/SelectMany/styles.scss
  packages/strapi-plugin-content-manager/admin/src/containers/EditPage/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListPage/utils.js
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-users-permissions/middlewares/users-permissions/index.js
  packages/strapi-plugin-users-permissions/models/User.settings.json
Labels: pr: 🚀 New feature, source: Plugin

#1666 Fix json input that was sending undefined.
  packages/strapi-plugin-content-manager/admin/src/containers/EditPage/actions.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditPage/saga.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1664 Add Discord auth provider
  .gitignore
  docs/3.x.x/en/guides/authentication.md
  packages/strapi-plugin-users-permissions/admin/src/components/PopUpForm/index.js
  packages/strapi-plugin-users-permissions/admin/src/translations/en.json
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
  packages/strapi-plugin-users-permissions/services/Providers.js
Labels: pr: 🚀 New feature, source: Plugin
