Repository strapi/strapi, pull requests merged in 2018-11, with the labels that each got.

#2236 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: pr: 💅 Enhancement, source: Documentation

#2234 Update PT-BR translations
  packages/strapi-plugin-content-manager/admin/src/translations/pt-BR.json
Labels: pr: 💅 Enhancement, source: Plugin

#2233 Update PT-BR translations
  packages/strapi-admin/admin/src/translations/pt-BR.json
Labels: pr: 💅 Enhancement, source: Admin

#2224 Remove @alpha from code
  packages/strapi-generate-new/lib/after.js
  packages/strapi-generate-new/lib/before.js
  packages/strapi-plugin-settings-manager/services/SettingsManager.js
  packages/strapi/package.json
Labels: pr: 💅 Enhancement, source: Framework

#2230 Introduce a linter error for testing CI
  .travis.yml
  packages/strapi/lib/index.js
Labels: pr: 💅 Enhancement, source: Framework

#2243 Update models.md
  docs/3.x.x/guides/models.md
Labels: pr: 💅 Enhancement, source: Documentation

#2165 Allow the use of .graphql or .graphql.js
  packages/strapi-plugin-graphql/hooks/graphql/index.js
Labels: pr: 💅 Enhancement, source: Framework

#2264 Update FR translations
  packages/strapi-admin/admin/src/translations/fr.json
  packages/strapi-plugin-content-manager/admin/src/translations/fr.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/fr.json
  packages/strapi-plugin-email/admin/src/translations/fr.json
  packages/strapi-plugin-upload/admin/src/translations/fr.json
  packages/strapi-plugin-users-permissions/admin/src/translations/fr.json
Labels: pr: 💅 Enhancement, source: Admin

#2201 Fixes Cannot read property 'toJSON' of null
  packages/strapi-plugin-content-manager/config/queries/bookshelf.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2226 GraphQL many-to-many querying symmetry
  packages/strapi-plugin-graphql/services/Resolvers.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2240 Upgrade `eslint` to version 4
  package.json
  packages/strapi-generate-new/json/package.json.js
Labels: pr: 💅 Enhancement, source: Framework

#2229 Fixes Content Types Not Appearing in Left Menu
  .travis.yml
  packages/strapi-admin/admin/src/config/manifest.json
  packages/strapi-admin/admin/src/containers/App/index.js
  packages/strapi-admin/admin/src/containers/App/selectors.js
  packages/strapi-admin/admin/src/containers/AppLoader/index.js
  packages/strapi-plugin-graphql/services/Aggregator.js
  packages/strapi-plugin-graphql/services/Mutation.js
  packages/strapi-plugin-graphql/services/Query.js
  packages/strapi-plugin-graphql/services/Resolvers.js
  packages/strapi-plugin-graphql/services/Schema.js
  packages/strapi-plugin-graphql/services/Types.js
  packages/strapi/package.json
Labels: pr: 🐛 Bug fix, source: Admin

#2159 Fix multi lines in content type description
  packages/strapi-plugin-content-type-builder/controllers/ContentTypeBuilder.js
  packages/strapi-plugin-content-type-builder/utils/helpers.js
Labels: pr: 💅 Enhancement, source: Plugin

#2239 Handle redirect after reset password
  packages/strapi-admin/admin/src/config/manifest.json
  packages/strapi-plugin-users-permissions/admin/src/containers/AuthPage/index.js
  packages/strapi-plugin-users-permissions/admin/src/containers/AuthPage/saga.js
  packages/strapi-plugin-users-permissions/controllers/Auth.js
Labels: pr: 💅 Enhancement, source: Admin

#2275 Improve permissions policy to avoid security breach with GraphQL
  packages/strapi-plugin-users-permissions/config/policies/permissions.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2221 Avoid duplicate entries in manyToMany relations
  packages/strapi-hook-mongoose/lib/relations.js
Labels: pr: 🐛 Bug fix, source: Framework

#1833 Change comparison operator for array of id's
  packages/strapi-plugin-graphql/services/Resolvers.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2279 Auto open admin first start
  packages/strapi-generate-new/files/config/.init.json
  packages/strapi-generate-new/files/config/environments/development/server.json
  packages/strapi/lib/Strapi.js
  packages/strapi/lib/core/configurations.js
  packages/strapi/lib/utils/index.js
Labels: pr: 💅 Enhancement, source: Framework

#2286 Update username for Google Auth
  packages/strapi-plugin-users-permissions/services/Providers.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2271 Improve content manager component
  packages/strapi-plugin-content-manager/admin/src/components/TableRow/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2313 Corrects conditional management plugin host
  packages/strapi-plugin-content-manager/services/ContentManager.js
  packages/strapi/lib/core/plugins.js
Labels: pr: 🐛 Bug fix, source: Framework

#2283 Add Product board to Feature Request Template
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Labels: pr: 💅 Enhancement, source: Documentation

#2305 Update ES translations
  packages/strapi-admin/admin/src/translations/es.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/es.json
Labels: pr: 💅 Enhancement, source: Admin

#2329 Gender neutral terms
  docs/1.x.x/users.md
Labels: pr: 💅 Enhancement, source: Documentation

#2302 Update template for lifecycle callback
  packages/strapi-admin/admin/src/config/languages.json
  packages/strapi-admin/admin/src/containers/LocaleToggle/index.js
  packages/strapi-admin/admin/src/translations/fa.json
  packages/strapi-generate-model/templates/bookshelf/model.template
Labels: pr: 💅 Enhancement, source: Framework

#2320 Refactor code quality
  packages/strapi-plugin-content-manager/config/functions/bootstrap.js
  packages/strapi-plugin-content-manager/config/functions/utils/getters.js
  packages/strapi-plugin-content-type-builder/services/ContentTypeBuilder.js
  packages/strapi-plugin-users-permissions/admin/src/containers/HomePage/checkFormValidity.js
  packages/strapi-plugin-users-permissions/services/UsersPermissions.js
  packages/strapi/lib/core/configurations.js
Labels: pr: 💅 Enhancement, source: Framework

#2316 Allow array of IDs to manage relations through generated API
  packages/strapi-hook-mongoose/lib/relations.js
Labels: pr: 💅 Enhancement, source: Framework

#2318 Fix manyToOne association results for GraphQL
  packages/strapi-plugin-graphql/services/Resolvers.js
Labels: pr: 🐛 Bug fix, source: Plugin

#1963 Fixed SelectMany Dropdown Input search Ajax Call on search
  packages/strapi-plugin-content-manager/admin/src/components/SelectMany/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2340 Rephrase "NoSQL databases only" models note
  docs/3.x.x/guides/models.md
Labels: pr: 💅 Enhancement, source: Documentation

#2343 Add fullstory
  packages/strapi-admin/admin/src/components/FullStory/index.js
  packages/strapi-admin/admin/src/containers/AdminPage/index.js
  packages/strapi-admin/admin/src/containers/AdminPage/reducer.js
  packages/strapi-admin/admin/src/containers/AdminPage/saga.js
  packages/strapi-admin/controllers/Admin.js
  packages/strapi-admin/doc/disable-tracking.md
Labels: pr: 💅 Enhancement, source: Admin

#2319 Add message to auto close issue
  .github/PULL_REQUEST_TEMPLATE.md
Labels: pr: 💅 Enhancement, source: Documentation

#2265 Fix responsive admin headers
  packages/strapi-admin/admin/src/containers/InstallPluginPage/styles.scss
  packages/strapi-plugin-content-manager/admin/src/containers/SettingPage/styles.scss
  packages/strapi-plugin-content-manager/admin/src/containers/SettingsPage/styles.scss
  packages/strapi-plugin-users-permissions/admin/src/containers/EditPage/styles.scss
Labels: pr: 💅 Enhancement, source: Admin

#2344 Update grant-koa version
  packages/strapi-plugin-users-permissions/package.json
Labels: pr: 💅 Enhancement, source: Plugin

#1948 Allow filter on a relation attribute
  docs/3.x.x/guides/filters.md
  packages/strapi-generate-api/templates/bookshelf/service.template
  packages/strapi-generate-api/templates/mongoose/service.template
  packages/strapi-generate-new/json/package.json.js
  packages/strapi-hook-bookshelf/lib/index.js
  packages/strapi-hook-bookshelf/lib/relations.js
  packages/strapi-hook-mongoose/lib/index.js
  packages/strapi-hook-mongoose/lib/relations.js
  packages/strapi-hook-mongoose/lib/utils/index.js
  packages/strapi-plugin-email/package.json
  packages/strapi-plugin-graphql/services/Query.js
  packages/strapi-plugin-graphql/services/Resolvers.js
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-users-permissions/config/queries/bookshelf.js
  packages/strapi-plugin-users-permissions/config/queries/mongoose.js
  packages/strapi-plugin-users-permissions/package.json
  packages/strapi-provider-email-amazon-ses/package.json
  packages/strapi-provider-email-mailgun/package.json
  packages/strapi-provider-email-sendgrid/package.json
  packages/strapi-provider-email-sendmail/package.json
  packages/strapi-provider-upload-aws-s3/package.json
  packages/strapi-provider-upload-cloudinary/package.json
  packages/strapi-provider-upload-local/package.json
  packages/strapi-provider-upload-rackspace/package.json
  packages/strapi-utils/lib/models.js
  packages/strapi-utils/package.json
  scripts/setup.js
Labels: pr: 🚀 New feature, source: Framework

#2347 Adds missing Twitter provider redirect URI configuration
  packages/strapi-plugin-users-permissions/admin/src/components/PopUpForm/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2364 Fix bookshelf query params fetch data
  packages/strapi-hook-bookshelf/lib/relations.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2367 Fix typos/grammar in quick-start.md
  docs/3.x.x/getting-started/quick-start.md
Labels: pr: 💅 Enhancement, source: Documentation

#2365 Fixes Cloudinary upload plugin "delete"
  packages/strapi-plugin-upload/models/File.settings.json
  packages/strapi-provider-upload-cloudinary/README.md
  packages/strapi-provider-upload-cloudinary/lib/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2379 Lock babel dependencies version until I found the dependency to update
  packages/strapi-helper-plugin/package.json
Labels: pr: 🐛 Bug fix, source: Plugin

#2325 Remove hidden fields from the schema
  packages/strapi-plugin-content-manager/config/functions/bootstrap.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/Form/index.js
  packages/strapi-plugin-content-type-builder/services/ContentTypeBuilder.js
Labels: pr: 💅 Enhancement, source: Plugin

#2382 Fix delete all
  packages/strapi-utils/lib/models.js
Labels: pr: 🐛 Bug fix, source: Framework

#2356 Fix missing content type in content manager sometimes
  packages/strapi-plugin-content-manager/admin/src/containers/SettingsPage/index.js
Labels: pr: 🐛 Bug fix, source: Admin

#2384 Fix fetch user mongoose
  packages/strapi-plugin-users-permissions/config/queries/mongoose.js
Labels: pr: 🐛 Bug fix, source: Plugin

#2385 Deprecated providers
  packages/strapi-plugin-email/config/functions/bootstrap.js
  packages/strapi-plugin-upload/config/functions/bootstrap.js
Labels: pr: 💅 Enhancement, source: Plugin

#2395 Fix eslint inline condition error
  packages/strapi-lint/lib/internals/eslint/front/.eslintrc.json
  packages/strapi-lint/lib/internals/prettier/front/.prettierrc.js
Labels: pr: 💅 Enhancement, source: Framework

#2391 Update Package.json Node and NPM Versions to current LTS
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .travis.yml
  README.md
  package.json
  packages/strapi-admin/package.json
  packages/strapi-generate-admin/package.json
  packages/strapi-generate-api/package.json
  packages/strapi-generate-controller/package.json
  packages/strapi-generate-model/package.json
  packages/strapi-generate-new/json/package.json.js
  packages/strapi-generate-new/package.json
  packages/strapi-generate-plugin/json/package.json.js
  packages/strapi-generate-plugin/package.json
  packages/strapi-generate-policy/package.json
  packages/strapi-generate-service/package.json
  packages/strapi-generate/package.json
  packages/strapi-helper-plugin/package.json
  packages/strapi-hook-bookshelf/package.json
  packages/strapi-hook-ejs/package.json
  packages/strapi-hook-knex/package.json
  packages/strapi-hook-mongoose/package.json
  packages/strapi-hook-redis/package.json
  packages/strapi-lint/package.json
  packages/strapi-middleware-views/package.json
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-content-type-builder/package.json
  packages/strapi-plugin-email/package.json
  packages/strapi-plugin-graphql/package.json
  packages/strapi-plugin-settings-manager/package.json
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-users-permissions/package.json
  packages/strapi-provider-email-amazon-ses/package.json
  packages/strapi-provider-email-mailgun/package.json
  packages/strapi-provider-email-sendgrid/package.json
  packages/strapi-provider-email-sendmail/package.json
  packages/strapi-provider-upload-aws-s3/package.json
  packages/strapi-provider-upload-cloudinary/package.json
  packages/strapi-provider-upload-local/package.json
  packages/strapi-utils/package.json
  packages/strapi/package.json
Labels: pr: 💅 Enhancement, source: Framework

#2351 Fix Float or Decimal fields on Mongoose
  packages/strapi-hook-mongoose/package.json
Labels: pr: 🐛 Bug fix, source: Framework

#2401 Fix typo documentation & update RU translations
  docs/3.x.x/getting-started/installation.md
  docs/3.x.x/guides/filters.md
  packages/strapi-plugin-content-type-builder/admin/src/translations/ru.json
Labels: pr: 💅 Enhancement, source: Documentation

#2400 Add GraphQL custom security limit
  docs/3.x.x/guides/graphql.md
  packages/strapi-plugin-graphql/config/settings.json
  packages/strapi-plugin-graphql/services/Query.js
Labels: pr: 💅 Enhancement, source: Plugin
