Repository strapi/strapi, pull requests merged in 2019-08, with the labels that each got.

#3698 Removed the Articles page. Most links are to outdated articles and b…
  docs/.vuepress/config.js
  docs/3.0.0-beta.x/articles/README.md
Labels: pr: 💅 Enhancement, source: Documentation

#3721 Edited my-app to be my-project to keep it consistent with docs
  packages/create-strapi-app/README.md
  packages/strapi-plugin-documentation/README.md
Labels: pr: 💅 Enhancement, source: Documentation

#3729 Update reddit link to target strapi subreddit
  packages/strapi-admin/admin/src/containers/HomePage/index.js
Labels: pr: 💅 Enhancement, source: Admin

#3723 Populate more user informations on POST /auth/login
  packages/strapi-plugin-users-permissions/controllers/Auth.js
Labels: pr: 💅 Enhancement, source: Plugin

#3718 Fix socketPath connection setting's variable name
  packages/strapi-hook-knex/lib/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#3746 Fix the Updated column in the uploaded files view
  packages/strapi-plugin-upload/admin/src/components/Li/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#3770 make boostrap functions async only
  docs/3.0.0-beta.x/configurations/configurations.md
  examples/getstarted/config/functions/bootstrap.js
  packages/strapi-generate-new/lib/resources/files/config/functions/bootstrap.js
  packages/strapi-plugin-content-manager/config/functions/bootstrap.js
  packages/strapi-plugin-documentation/config/functions/bootstrap.js
  packages/strapi-plugin-email/config/functions/bootstrap.js
  packages/strapi-plugin-settings-manager/config/functions/bootstrap.js
  packages/strapi-plugin-upload/config/functions/bootstrap.js
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
  packages/strapi-plugin-users-permissions/services/UsersPermissions.js
  packages/strapi/lib/Strapi.js
Labels: flag: 💥 Breaking change

#3735 Fix custom mutation returning null and not executing policies
  packages/strapi-plugin-graphql/services/Mutation.js
  packages/strapi-plugin-graphql/services/Schema.js
Labels: pr: 🐛 Bug fix, source: Plugin

#3765 Update KO translation
  packages/strapi-admin/admin/src/translations/ko.json
Labels: pr: 💅 Enhancement, source: Admin
