Repository strapi/strapi, pull requests merged in 2019-10, with the labels that each got.

#4153 Fix manyWay relation with self content type.
  packages/strapi-plugin-content-type-builder/admin/src/containers/App/reducer.js
Labels: pr: 🐛 Bug fix, source: Admin

#4154 Fixed broken privacy policy link
  packages/strapi-admin/admin/src/containers/AuthPage/Input.js
Labels: pr: 🐛 Bug fix, source: Admin

#4155 Fix links in the content manager
  packages/strapi-plugin-content-manager/admin/src/components/SelectMany/ListItem.js
  packages/strapi-plugin-content-manager/admin/src/components/SelectMany/index.js
  packages/strapi-plugin-content-manager/admin/src/components/SelectWrapper/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4160 Fix typo in graphql plugin documentation
  docs/3.0.0-beta.x/guides/graphql.md
Labels: pr: 💅 Enhancement, source: Documentation

#4161 Fix typo in strapi-provider-upload-s3 documentation
  packages/strapi-provider-upload-aws-s3/README.md
Labels: pr: 💅 Enhancement, source: Documentation

#4146 Fix full text search on postgres uppercased attributes chars
  packages/strapi-hook-bookshelf/lib/queries.js
Labels: pr: 🐛 Bug fix, source: Framework

#4167 Remove Heroku button
  README.md
Labels: pr: 💅 Enhancement, source: Documentation

#4011 Update Context API
  packages/strapi-admin/admin/src/components/InstallPluginPopup/index.js
  packages/strapi-admin/admin/src/components/InstallPluginPopup/styles.scss
  packages/strapi-admin/admin/src/components/PluginCard/index.js
  packages/strapi-admin/admin/src/components/Row/index.js
  packages/strapi-admin/admin/src/containers/Admin/index.js
  packages/strapi-admin/admin/src/containers/ListPluginsPage/index.js
  packages/strapi-admin/admin/src/containers/Marketplace/index.js
  packages/strapi-admin/admin/src/containers/Onboarding/index.js
  packages/strapi-admin/admin/src/contexts/MarketPlace/index.js
  packages/strapi-helper-plugin/lib/src/contexts/GlobalContext.js
  packages/strapi-helper-plugin/lib/src/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/Main/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/App/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/AttributeForm/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/AttributeForm/tests/index.test.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/AttributesPickerModal/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/AttributesPickerModal/tests/index.test.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/GroupPage/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/GroupPage/tests/index.test.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/HomePage/Row.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/HomePage/Tr.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/HomePage/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/HomePage/styles.scss
  packages/strapi-plugin-content-type-builder/admin/src/containers/HomePage/tests/index.test.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelForm/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelForm/tests/index.test.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelPage/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelPage/tests/index.test.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/RelationForm/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/RelationForm/tests/index.test.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/RelationFormGroup/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/RelationFormGroup/tests/index.test.js
  packages/strapi-plugin-email/admin/src/containers/ConfigPage/index.js
  packages/strapi-plugin-settings-manager/admin/src/containers/HomePage/index.js
  packages/strapi-plugin-upload/admin/src/components/Li/index.js
  packages/strapi-plugin-upload/admin/src/containers/ConfigPage/index.js
  packages/strapi-plugin-upload/admin/src/containers/HomePage/index.js
  packages/strapi-plugin-upload/admin/src/contexts/HomePage/index.js
Labels: pr: 💅 Enhancement, source: Admin

#4175 Fix on no attachments in mails
  packages/strapi-provider-email-sendmail/lib/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4158 Improve graphql perf
  packages/strapi-plugin-graphql/services/Loaders.js
  packages/strapi-plugin-graphql/services/Resolvers.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4185 Fix sanitize bug with mongo objectid and use lower-case for getModel
  packages/strapi-utils/lib/sanitize-entity.js
  packages/strapi/lib/Strapi.js
Labels: pr: 🐛 Bug fix, source: Framework

#3843 Ability to pass OAuth callback dynamically
  docs/3.0.0-beta.x/guides/authentication.md
  packages/strapi-plugin-users-permissions/controllers/Auth.js
Labels: pr: 💅 Enhancement, source: Plugin

#3691 Fix Cloudinary deletion of other files than images
  packages/strapi-helper-plugin/lib/src/components/GlobalPagination/index.js
  packages/strapi-plugin-upload/models/File.settings.json
  packages/strapi-provider-upload-cloudinary/lib/index.js
Labels: flag: 💥 Breaking change, pr: 🐛 Bug fix, source: Plugin

#4152 Allow admin customization
  docs/3.0.0-beta.x/advanced/customize-admin.md
  docs/3.0.0-beta.x/cli/CLI.md
  packages/strapi-admin/admin/src/containers/LocaleToggle/tests/index.test.js
  packages/strapi-admin/index.js
  packages/strapi-admin/package.json
  packages/strapi-admin/webpack.config.js
  packages/strapi-hook-ejs/lib/index.js
  packages/strapi-hook-mongoose/lib/relations.js
  packages/strapi-plugin-graphql/services/Resolvers.js
  packages/strapi/bin/strapi.js
  packages/strapi/lib/Strapi.js
  packages/strapi/lib/commands/build.js
  packages/strapi/lib/commands/develop.js
  packages/strapi/lib/commands/watchAdmin.js
  packages/strapi/lib/middlewares/public/index.js
  packages/strapi/lib/utils/addSlash.js
  yarn.lock
Labels: pr: 💅 Enhancement, source: Admin

#4191 Fix image url when using a third party
  packages/strapi-plugin-upload/controllers/Upload.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4198 Update README.md header for strapi-plugin-upload
  packages/strapi-plugin-upload/README.md
Labels: pr: 💅 Enhancement, source: Documentation

#4196 fix images not respecting configurable being set as false
  packages/strapi-plugin-content-type-builder/services/ContentTypeBuilder.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4200 Pass graphql full context to custom queries
  packages/strapi-plugin-graphql/services/Query.js
Labels: flag: 💥 Breaking change, pr: 🐛 Bug fix, source: Plugin

#4201 Create a dataloader for every model
  packages/strapi-plugin-graphql/services/Loaders.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4176 Documentation update content / structure
  docs/.vuepress/config.js
  docs/3.0.0-beta.x/assets/CreateContentTypeScreenAddContentButton.jpg
  docs/3.0.0-beta.x/assets/buttons.png
  docs/3.0.0-beta.x/assets/getting-started_add_entry-.png
  docs/3.0.0-beta.x/assets/getting-started_add_entry.png
  docs/3.0.0-beta.x/assets/getting-started_allow_access.png
  docs/3.0.0-beta.x/assets/getting-started_create_content_type.png
  docs/3.0.0-beta.x/assets/getting-started_list_fields.png
  docs/3.0.0-beta.x/assets/getting-started_manage_role_home.png
  docs/3.0.0-beta.x/assets/getting-started_no_content_type.png
  docs/3.0.0-beta.x/assets/getting-started_no_entry.png
  docs/3.0.0-beta.x/assets/getting-started_no_entry_.png
  docs/3.0.0-beta.x/assets/getting-started_with_entry.png
  docs/3.0.0-beta.x/assets/getting-started_with_entry_.png
  docs/3.0.0-beta.x/assets/plugins/documentation/fa-swagger-doc.png
  docs/3.0.0-beta.x/assets/popup-warning.png
  docs/3.0.0-beta.x/assets/terminal_new.png
  docs/3.0.0-beta.x/assets/terminal_start.png
  docs/3.0.0-beta.x/concepts/concepts.md
  docs/3.0.0-beta.x/content-api/api-endpoints.md
  docs/3.0.0-beta.x/content-api/parameters.md
  docs/3.0.0-beta.x/global-strapi/reference.md
  docs/3.0.0-beta.x/guides/api-endpoints.md
  docs/3.0.0-beta.x/guides/models.md
  docs/3.0.0-beta.x/guides/parameters.md
  docs/3.0.0-beta.x/plugins/documentation.md
  docs/3.0.0-beta.x/plugins/email.md
  docs/3.0.0-beta.x/plugins/graphql.md
  docs/3.0.0-beta.x/plugins/upload.md
  docs/3.0.0-beta.x/plugins/users-permissions.md
Labels: pr: 💅 Enhancement, source: Documentation

#4209 Console log error before capture to get the detailed error
  packages/strapi-generate-new/lib/create-project.js
  packages/strapi-generate-new/lib/create-quickstart-project.js
Labels: pr: 💅 Enhancement, source: Framework

#4102 Update DE translations
  packages/strapi-admin/admin/src/translations/de.json
Labels: pr: 💅 Enhancement, source: Admin

#4210 Fix mutation resolver name selecter
  examples/getstarted/extensions/users-permissions/config/schema.graphql.js
  packages/strapi-plugin-graphql/services/Schema.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4211 Fix documentation typo
  docs/3.0.0-beta.x/plugins/users-permissions.md
Labels: pr: 💅 Enhancement, source: Documentation

#4190 Update DE translations
  packages/strapi-generate-model/templates/bookshelf/model.template
  packages/strapi-plugin-users-permissions/admin/src/translations/de.json
Labels: pr: 💅 Enhancement, source: Admin

#4238 Fix webpack-dev-server dependency
  packages/strapi-admin/package.json
  yarn.lock
Labels: pr: 🐛 Bug fix, source: Admin

#4246 Fix startup race condition by disabling reload when writing jwt.json
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4236 Fix for #3974 URIError appeared after entering % symbol into the Sear…
  packages/strapi-helper-plugin/lib/src/utils/getQueryParameters.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4228 Add graphql share playground option
  packages/strapi-plugin-graphql/config/settings.json
  packages/strapi-plugin-graphql/hooks/graphql/index.js
Labels: pr: 💅 Enhancement, source: Plugin

#4231 Escape MongoDB password
  packages/strapi-hook-mongoose/lib/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#4219 Review all the concept structure and content structure
  docs/.vuepress/config.js
  docs/3.0.0-beta.x/admin-panel/customization.md
  docs/3.0.0-beta.x/admin-panel/deploy.md
  docs/3.0.0-beta.x/concepts/concepts.md
  docs/3.0.0-beta.x/concepts/configurations.md
  docs/3.0.0-beta.x/concepts/controllers.md
  docs/3.0.0-beta.x/concepts/customization.md
  docs/3.0.0-beta.x/concepts/file-structure.md
  docs/3.0.0-beta.x/concepts/hooks.md
  docs/3.0.0-beta.x/concepts/logging.md
  docs/3.0.0-beta.x/concepts/middlewares.md
  docs/3.0.0-beta.x/concepts/models.md
  docs/3.0.0-beta.x/concepts/parameters.md
  docs/3.0.0-beta.x/concepts/plugins.md
  docs/3.0.0-beta.x/concepts/policies.md
  docs/3.0.0-beta.x/concepts/public-assets.md
  docs/3.0.0-beta.x/concepts/queries.md
  docs/3.0.0-beta.x/concepts/requests-responses.md
  docs/3.0.0-beta.x/concepts/routing.md
  docs/3.0.0-beta.x/concepts/services.md
  docs/3.0.0-beta.x/content-api/parameters.md
  docs/3.0.0-beta.x/global-strapi/api-reference.md
  docs/3.0.0-beta.x/global-strapi/usage-information.md
  docs/3.0.0-beta.x/guides/i18n.md
  docs/3.0.0-beta.x/guides/requests.md
  docs/3.0.0-beta.x/guides/responses.md
  docs/3.0.0-beta.x/guides/restapi.md
  docs/3.0.0-beta.x/plugins/users-permissions.md
Labels: pr: 💅 Enhancement, source: Documentation

#4243 Update DE translation
  packages/strapi-admin/admin/src/translations/de.json
  packages/strapi-admin/admin/src/translations/en.json
  packages/strapi-admin/admin/src/translations/ru.json
Labels: pr: 💅 Enhancement, source: Admin

#4222 Fix forgot password url
  docs/3.0.0-beta.x/plugins/users-permissions.md
  packages/strapi-plugin-users-permissions/admin/src/components/EditForm/index.js
  packages/strapi-plugin-users-permissions/admin/src/translations/en.json
  packages/strapi-plugin-users-permissions/admin/src/translations/fr.json
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
  packages/strapi-plugin-users-permissions/controllers/Auth.js
Labels: flag: 💥 Breaking change, pr: 🐛 Bug fix, source: Plugin

#3879 Add GraphQL register/login
  packages/strapi-admin/index.js
  packages/strapi-plugin-users-permissions/config/schema.graphql
  packages/strapi-plugin-users-permissions/controllers/User.js
  packages/strapi-plugin-users-permissions/test/users-graphql.test.e2e.js
  packages/strapi-provider-email-sendmail/lib/index.js
Labels: pr: 🚀 New feature, source: Plugin

#4258 Improve project creation error diagnostic
  packages/create-strapi-app/index.js
  packages/strapi-generate-new/lib/create-project.js
  packages/strapi-generate-new/lib/create-quickstart-project.js
  packages/strapi-generate-new/lib/generate-new.js
  packages/strapi-generate-new/lib/index.js
  packages/strapi-generate-new/lib/resources/json/package.json.js
  packages/strapi-generate-new/lib/utils/check-requirements.js
  packages/strapi-generate-new/lib/utils/usage.js
  packages/strapi-generate-new/package.json
  packages/strapi/lib/Strapi.js
  packages/strapi/package.json
  yarn.lock
Labels: pr: 💅 Enhancement, source: Framework

#4269 Fix err.stderr not defined in quickstart
  packages/strapi-generate-new/lib/create-quickstart-project.js
Labels: pr: 🐛 Bug fix, source: Framework

#4275 Fix typos
  packages/strapi-plugin-users-permissions/controllers/User.js
Labels: pr: 💅 Enhancement, source: Plugin

#4263 Fixe cuts the content in WYSIWYG not reflecting on saving
  packages/strapi-plugin-content-manager/admin/src/components/Wysiwyg/index.js
Labels: pr: 🐛 Bug fix, source: Admin

#4261 Fixed Parameters typo
  docs/3.0.0-beta.x/concepts/parameters.md
Labels: pr: 💅 Enhancement, source: Documentation

#4281 Fix groups creation/update not working with null groups
  packages/strapi-hook-bookshelf/lib/queries.js
  packages/strapi-hook-mongoose/lib/queries.js
Labels: pr: 🐛 Bug fix, source: Framework

#4284 Fix UI
  packages/strapi-admin/admin/src/components/LeftMenuLink/Li.js
  packages/strapi-admin/admin/src/components/LeftMenuLinkContainer/Wrapper.js
  packages/strapi-admin/admin/src/components/OnboardingVideo/Li.js
  packages/strapi-admin/admin/src/components/OnboardingVideo/index.js
  packages/strapi-admin/admin/src/containers/HomePage/components.js
  packages/strapi-admin/admin/src/containers/HomePage/index.js
  packages/strapi-admin/admin/src/containers/Onboarding/Wrapper.js
  packages/strapi-helper-plugin/lib/src/components/EmptyAttributesBlock/Wrapper.js
  packages/strapi-helper-plugin/lib/src/components/InputToggle/Wrapper.js
  packages/strapi-helper-plugin/lib/src/components/PluginHeaderActions/StyledPluginHeaderActions.js
  packages/strapi-helper-plugin/lib/src/components/TrashButton/index.js
  packages/strapi-plugin-content-manager/admin/src/components/FilterPicker/components.js
  packages/strapi-plugin-content-manager/admin/src/components/FilterPicker/index.js
  packages/strapi-plugin-content-manager/admin/src/components/FilterPickerOption/components.js
  packages/strapi-plugin-content-manager/admin/src/components/Group/GroupCollapse.js
  packages/strapi-plugin-content-manager/admin/src/containers/SettingViewModel/forms.json
  packages/strapi-plugin-content-type-builder/admin/src/components/AttributeOption/Card.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/AttributesPickerModal/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/ModelPage/Wrapper.js
Labels: pr: 🐛 Bug fix, pr: 💅 Enhancement

#4294 added resolverOf and plugin key to graphql schema
  packages/strapi-plugin-upload/config/schema.graphql
Labels: pr: 🐛 Bug fix, source: Plugin

#4272 Make ctx.params and ctx.query available to graphql policies
  packages/strapi-plugin-graphql/services/Mutation.js
  packages/strapi-plugin-graphql/services/Query.js
Labels: pr: 💅 Enhancement, source: Plugin

#4305 Allow empty default on group attributes
  packages/strapi-plugin-content-type-builder/controllers/Groups.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4296 Check if many-many relation is populated before loading it
  packages/strapi-plugin-graphql/services/Resolvers.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4282 Update IT translation
  packages/strapi-admin/admin/src/translations/it.json
Labels: pr: 💅 Enhancement, source: Admin

#4320 Make plugin provider init config async
  packages/strapi-plugin-email/services/Email.js
  packages/strapi-plugin-upload/services/Upload.js
Labels: pr: 💅 Enhancement, source: Plugin

#4337 Lock mongoose version to be 5.7.4
  packages/strapi-hook-mongoose/package.json
  yarn.lock
Labels: pr: 🐛 Bug fix, source: Framework

#4328 Fix multiple query in one graphql request
  packages/strapi-plugin-graphql/services/Query.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4338 migration guide beta.17.4
  docs/3.0.0-beta.x/migration-guide/README.md
  docs/3.0.0-beta.x/migration-guide/migration-guide-beta.16-to-beta.17.4.md
  packages/strapi-plugin-settings-manager/.gitignore
  packages/strapi-plugin-settings-manager/.npmignore
  packages/strapi-plugin-settings-manager/.snyk
  packages/strapi-plugin-settings-manager/LICENSE.md
  packages/strapi-plugin-settings-manager/README.md
  packages/strapi-plugin-settings-manager/package.json
Labels: pr: 💅 Enhancement, source: Documentation

#4350 Fix typo in documentation
  docs/3.0.0-beta.x/getting-started/quick-start-tutorial.md
Labels: pr: 💅 Enhancement, source: Documentation

#4347 Fix graphql nested groups returning null
  packages/strapi-hook-bookshelf/lib/mount-models.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4344 Improve documentation guides
  docs/.vuepress/config.js
  docs/3.0.0-beta.x/concepts/controllers.md
  docs/3.0.0-beta.x/content-api/parameters.md
  docs/3.0.0-beta.x/getting-started/install-requirements.md
  docs/3.0.0-beta.x/getting-started/introduction.md
  docs/3.0.0-beta.x/getting-started/quick-start-tutorial.md
  docs/3.0.0-beta.x/getting-started/quick-start.md
  docs/3.0.0-beta.x/guides/databases.md
  docs/3.0.0-beta.x/guides/deployment.md
  docs/3.0.0-beta.x/guides/error-catching.md
  docs/3.0.0-beta.x/guides/jwt-validation.md
  docs/3.0.0-beta.x/migration-guide/migration-guide-alpha.26-to-beta.md
  docs/3.0.0-beta.x/migration-guide/migration-guide-beta.15-to-beta.16.md
  docs/3.0.0-beta.x/plugin-development/backend-development.md
  docs/3.0.0-beta.x/plugin-development/frontend-development.md
  docs/3.0.0-beta.x/plugins/email.md
  docs/3.0.0-beta.x/plugins/upload.md
Labels: pr: 💅 Enhancement, source: Documentation

#4352 Add note about uploads for Heroku to deployment docs
  docs/3.0.0-beta.x/guides/deployment.md
Labels: pr: 💅 Enhancement, source: Documentation

#4321 Update PL translations
  packages/strapi-admin/admin/src/translations/pl.json
Labels: pr: 💅 Enhancement, source: Admin

#4361 Update Admin panel customization documentation
  docs/3.0.0-beta.x/admin-panel/customization.md
Labels: pr: 💅 Enhancement, source: Documentation

#4363 Update template links in services/controllers to new doc pages
  packages/strapi-generate-api/templates/bookshelf/controller.template
  packages/strapi-generate-api/templates/bookshelf/service.template
Labels: pr: 💅 Enhancement, source: Documentation

#4368 Fix multiple media upload in group
  packages/strapi-plugin-content-manager/admin/src/containers/EditView/utils/formatData.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4371 Load scoped providers
  packages/strapi-plugin-email/config/functions/bootstrap.js
  packages/strapi-plugin-upload/config/functions/bootstrap.js
Labels: pr: 💅 Enhancement, source: Plugin

#4380 Update initialisation detection when starting a project
  packages/strapi-generate-new/lib/resources/files/config/.init.json
  packages/strapi/lib/Strapi.js
  packages/strapi/lib/utils/index.js
Labels: pr: 💅 Enhancement, source: Framework

#4379 Lifecycle pre callbacks can be cancelled
  packages/strapi-hook-mongoose/lib/mount-models.js
Labels: pr: 💅 Enhancement, source: Framework

#4389 Improve the error message on install dependencies error
  packages/strapi-generate-new/lib/create-project.js
  packages/strapi-generate-new/lib/utils/stop-process.js
  packages/strapi-generate-new/package.json
Labels: pr: 💅 Enhancement, source: Framework

#4396 Add cron feature details in the documentation
  docs/3.0.0-beta.x/concepts/configurations.md
Labels: pr: 💅 Enhancement, source: Documentation

#4395 Change examples of API endpoints
  docs/3.0.0-beta.x/content-api/api-endpoints.md
Labels: pr: 💅 Enhancement, source: Documentation

#4398 Add slug guide
  docs/.vuepress/config.js
  docs/3.0.0-beta.x/assets/guides/slug/fields.png
  docs/3.0.0-beta.x/assets/guides/slug/layout-after.png
  docs/3.0.0-beta.x/assets/guides/slug/layout-before.png
  docs/3.0.0-beta.x/assets/guides/slug/layout-config.png
  docs/3.0.0-beta.x/guides/slug.md
Labels: pr: 💅 Enhancement, source: Documentation

#4401 Remove old documentation example
  docs/3.0.0-beta.x/concepts/models.md
Labels: pr: 💅 Enhancement, source: Documentation

#4400 Add a version update guide
  docs/.vuepress/config.js
  docs/3.0.0-beta.x/guides/update-version.md
Labels: pr: 💅 Enhancement, source: Documentation

#4392 Fix typo in configurations concept docs
  docs/3.0.0-beta.x/concepts/configurations.md
Labels: pr: 💅 Enhancement, source: Documentation

#4394 Fix typo in model concept docs
  docs/3.0.0-beta.x/concepts/models.md
Labels: pr: 💅 Enhancement, source: Documentation

#4393 Fix typo in contributing doc
  CONTRIBUTING.md
Labels: pr: 💅 Enhancement, source: Documentation

#4397 Update pt-BR translation
  packages/strapi-admin/admin/src/translations/pt-BR.json
Labels: pr: 💅 Enhancement, source: Admin

#4399 Ensure state has been updated before calling ref.current()
  packages/strapi-plugin-content-manager/admin/src/components/SelectWrapper/index.js
Labels: pr: 🐛 Bug fix, source: Admin

#4411 Update migration-guide-beta.16-to-beta.17.4.md (typo)
  docs/3.0.0-beta.x/migration-guide/migration-guide-beta.16-to-beta.17.4.md
Labels: pr: 💅 Enhancement, source: Documentation
