Repository strapi/strapi, pull requests merged in 2019-09, with the labels that each got.

#3915 Readme to change image, and fix installation commands
  README.md
Labels: pr: 💅 Enhancement, source: Documentation

#3855 Update koa dependencies
  packages/strapi-plugin-documentation/package.json
  packages/strapi-plugin-graphql/package.json
  packages/strapi-plugin-users-permissions/package.json
  packages/strapi/package.json
  yarn.lock
Labels: pr: 💅 Enhancement, source: Framework

#3892 Fix issue with duplicate model folder getting created when generating model with api option
  packages/strapi-generate-model/lib/before.js
Labels: pr: 🐛 Bug fix, source: Framework

#3923 Content manager update field infos display on editview
  packages/strapi-plugin-content-manager/admin/src/components/FieldItem/components.js
Labels: pr: 💅 Enhancement, source: Plugin

#3938 Fix typo in en.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/en.json
Labels: pr: 🐛 Bug fix, source: Plugin

#3932 Update migration-guide-beta.15-to-beta.16.md
  docs/3.0.0-beta.x/migration-guide/migration-guide-beta.15-to-beta.16.md
Labels: pr: 💅 Enhancement, source: Documentation

#3930 Fix comma in JSON example
  docs/3.0.0-beta.x/guides/deployment.md
Labels: pr: 💅 Enhancement, source: Documentation

#3944 Use kind when provided on morph relation
  packages/strapi-hook-mongoose/lib/relations.js
Labels: pr: 🐛 Bug fix, source: Framework

#3934 Fix permission deletion on start + default transaction for create and update query
  packages/strapi-hook-bookshelf/lib/queries.js
  packages/strapi-plugin-users-permissions/services/UsersPermissions.js
Labels: pr: 🐛 Bug fix, source: Plugin

#3949 Allow multiple origins to be provided to the cors middleware
  packages/strapi/lib/middlewares/cors/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#3896 Add missing zh-Hans translations
  packages/strapi-plugin-content-manager/admin/src/translations/zh-Hans.json
Labels: pr: 💅 Enhancement, source: Admin

#3924 Update Strapi Quickstart
  docs/3.0.0-beta.x/getting-started/quick-start.md
Labels: pr: 💅 Enhancement, type: documentation 📖

#3950 Chore/update documentation plugin groups
  examples/getstarted/api/menusection/models/Menusection.settings.json
  packages/strapi-plugin-documentation/services/Documentation.js
Labels: pr: 💅 Enhancement, source: Plugin

#3961 Connect to mongo db 4.0.x using mongoose 5.7.0
  packages/strapi-hook-mongoose/lib/index.js
Labels: pr: 💅 Enhancement, source: Framework

#3964 Fix documentation typo
  docs/3.0.0-beta.x/guides/models.md
Labels: pr: 💅 Enhancement, source: Documentation

#3963 Fix image multi upload old relations deleting
  examples/getstarted/api/restaurant/models/Restaurant.settings.json
  packages/strapi-hook-bookshelf/lib/relations.js
Labels: pr: 🐛 Bug fix, source: Framework

#3720 Update default configuration access in hook
  docs/3.0.0-beta.x/advanced/hooks.md
Labels: pr: 💅 Enhancement, source: Framework

#3986 Allow group mainField and defaultSortBy to be id
  packages/strapi-plugin-content-manager/controllers/validation/model-configuration.js
Labels: pr: 🐛 Bug fix, source: Plugin

#3985 Stringify json input for pg to support arrays
  packages/strapi-hook-bookshelf/lib/mount-models.js
  packages/strapi-plugin-content-manager/test/types/json.test.e2e.js
Labels: pr: 🐛 Bug fix, source: Framework

#3988 Fix buggy date field, and toggle field size
  packages/strapi-helper-plugin/lib/src/components/InputDate/index.js
  packages/strapi-helper-plugin/lib/src/components/InputToggleWithErrors/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditView/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditView/utils/schema.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4008 Graphql policies fix
  docs/3.0.0-beta.x/guides/graphql.md
  packages/strapi-plugin-graphql/services/Mutation.js
  packages/strapi-plugin-graphql/services/Query.js
  packages/strapi-plugin-graphql/services/Resolvers.js
  packages/strapi-plugin-graphql/services/Schema.js
Labels: pr: 🐛 Bug fix, source: Plugin

#3945 Media preview list
  packages/strapi-helper-plugin/lib/src/components/IcoContainer/styles.scss
  packages/strapi-plugin-content-manager/admin/src/assets/images/media/na.svg
  packages/strapi-plugin-content-manager/admin/src/components/CustomTable/Row.js
  packages/strapi-plugin-content-manager/admin/src/components/CustomTable/TableHeader.js
  packages/strapi-plugin-content-manager/admin/src/components/CustomTable/styledComponents.js
  packages/strapi-plugin-content-manager/admin/src/components/MediaPreviewList/StyledMediaPreviewList.js
  packages/strapi-plugin-content-manager/admin/src/components/MediaPreviewList/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/ListView/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/SettingViewModel/ListLayout.js
  packages/strapi-plugin-content-manager/admin/src/containers/SettingViewModel/index.js
  packages/strapi-plugin-content-manager/services/utils/configuration/attributes.js
Labels: pr: 🚀 New feature, source: Plugin

#3877 Allow search on unicode characters
  .travis.yml
  _travis/mysql.cnf
  packages/strapi-hook-bookshelf/lib/queries.js
  packages/strapi/__tests__/filtering.test.e2e.js
Labels: pr: 💅 Enhancement, source: Framework

#4009 Graphql plugin mutations fix
  packages/strapi-plugin-graphql/services/Mutation.js
  packages/strapi-plugin-graphql/services/Schema.js
Labels: pr: 🐛 Bug fix, source: Plugin

#3647 Update ESLint dependency
  .eslintrc.js
  package.json
  packages/strapi-admin/admin/src/app.js
  packages/strapi-admin/admin/src/containers/HomePage/SocialLink.js
  packages/strapi-admin/admin/src/containers/Onboarding/index.js
  packages/strapi-generate-new/lib/resources/json/package.json.js
  packages/strapi-helper-plugin/lib/src/app.js
  packages/strapi-helper-plugin/lib/src/components/GlobalPagination/index.js
  packages/strapi-helper-plugin/lib/src/components/InputAddon/index.js
  packages/strapi-helper-plugin/lib/src/components/InputCheckbox/index.js
  packages/strapi-helper-plugin/lib/src/components/InputEmail/index.js
  packages/strapi-helper-plugin/lib/src/components/InputFile/index.js
  packages/strapi-helper-plugin/lib/src/components/InputNumber/index.js
  packages/strapi-helper-plugin/lib/src/components/InputPassword/index.js
  packages/strapi-helper-plugin/lib/src/components/InputSearch/index.js
  packages/strapi-helper-plugin/lib/src/components/InputSelect/index.js
  packages/strapi-helper-plugin/lib/src/components/InputText/index.js
  packages/strapi-helper-plugin/lib/src/components/InputTextArea/index.js
  packages/strapi-helper-plugin/lib/src/components/InputTextWithErrors/index.js
  packages/strapi-helper-plugin/lib/src/components/InputToggle/index.js
  packages/strapi-helper-plugin/lib/src/components/Label/index.js
  packages/strapi-helper-plugin/lib/src/components/PageFooter/index.js
  packages/strapi-hook-bookshelf/lib/mount-models.js
  packages/strapi-hook-ejs/lib/index.js
  packages/strapi-hook-redis/lib/index.js
  packages/strapi-middleware-views/lib/index.js
  packages/strapi-plugin-content-manager/admin/src/components/Wysiwyg/video.js
  packages/strapi-plugin-content-manager/admin/src/components/WysiwygBottomControls/index.js
  packages/strapi-plugin-content-manager/admin/src/components/WysiwygDropUpload/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/AttributesPickerModal/index.js
  packages/strapi-plugin-documentation/services/Documentation.js
  packages/strapi-plugin-graphql/services/Loaders.js
  packages/strapi-plugin-settings-manager/admin/src/components/InputPassword/index.js
  packages/strapi-plugin-settings-manager/admin/src/components/RowLanguage/index.js
  packages/strapi-plugin-settings-manager/admin/src/containers/HomePage/index.js
  packages/strapi-plugin-upload/admin/src/components/PluginInputFile/index.js
  packages/strapi-provider-email-amazon-ses/lib/index.js
  packages/strapi-provider-email-mailgun/lib/index.js
  packages/strapi-provider-email-sendgrid/lib/index.js
  packages/strapi-provider-upload-aws-s3/lib/index.js
  packages/strapi-provider-upload-cloudinary/lib/index.js
  packages/strapi-provider-upload-rackspace/lib/index.js
  packages/strapi-utils/lib/finder.js
  packages/strapi-utils/lib/models.js
  packages/strapi/lib/core/bootstrap.js
  packages/strapi/lib/middlewares/router/index.js
  packages/strapi/lib/middlewares/session/index.js
  packages/strapi/lib/utils/index.js
  test/config/front/enzyme-setup.js
  yarn.lock
Labels: pr: 💅 Enhancement, source: Framework

#4017 Fix graphql issues
  packages/strapi-plugin-graphql/services/Aggregator.js
  packages/strapi-plugin-graphql/services/Mutation.js
  packages/strapi-plugin-graphql/services/Query.js
  packages/strapi-plugin-upload/config/schema.graphql
Labels: pr: 🐛 Bug fix, source: Plugin

#4028 Pass group associations as second param
  packages/strapi-plugin-documentation/services/Documentation.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4029 Fix group relation fetch
  packages/strapi-plugin-content-manager/admin/src/components/Group/Form.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4014 Fix content manager bug when navigating from one entry to another
  packages/strapi-plugin-content-manager/admin/src/containers/EditView/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditView/reducer.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4031 Populate groups relations on mongo
  examples/getstarted/api/menusection/models/Menusection.settings.json
  examples/getstarted/groups/dish.json
  packages/strapi-hook-mongoose/lib/mount-models.js
Labels: pr: 🐛 Bug fix, source: Framework

#4040 Fix graphql plugin resolverof
  examples/getstarted/api/menu/models/Menu.settings.json
  examples/getstarted/api/menusection/models/Menusection.settings.json
  packages/strapi-plugin-graphql/services/Mutation.js
  packages/strapi-plugin-graphql/services/Schema.js
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-upload/test/graphqlUpload.test.e2e.js
  packages/strapi-plugin-upload/test/upload.test.e2e.js
  packages/strapi-plugin-users-permissions/config/schema.graphql
  packages/strapi-plugin-users-permissions/controllers/User.js
  packages/strapi-plugin-users-permissions/test/graphql.test.e2e.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4006 Clarify filters documentation
  docs/3.0.0-beta.x/guides/filters.md
Labels: pr: 💅 Enhancement, source: Documentation

#4050 Fix filterOption of SelectMany to enable searching in multiple select
  packages/strapi-plugin-content-manager/admin/src/components/SelectMany/index.js
Labels: pr: 💅 Enhancement, source: Admin

#3992 Update minimum webpack version for strapi-admin
  packages/strapi-admin/package.json
Labels: pr: 🐛 Bug fix, source: Admin

#3957 Fix input number step
  packages/strapi-helper-plugin/lib/src/components/InputNumber/index.js
  packages/strapi-helper-plugin/lib/src/components/InputNumberWithErrors/index.js
Labels: pr: 🐛 Bug fix, source: Admin

#3910 Add Instagram provider
  docs/3.0.0-beta.x/guides/authentication.md
  packages/strapi-plugin-users-permissions/admin/src/components/PopUpForm/index.js
  packages/strapi-plugin-users-permissions/admin/src/translations/ar.json
  packages/strapi-plugin-users-permissions/admin/src/translations/de.json
  packages/strapi-plugin-users-permissions/admin/src/translations/en.json
  packages/strapi-plugin-users-permissions/admin/src/translations/es.json
  packages/strapi-plugin-users-permissions/admin/src/translations/fr.json
  packages/strapi-plugin-users-permissions/admin/src/translations/it.json
  packages/strapi-plugin-users-permissions/admin/src/translations/ja.json
  packages/strapi-plugin-users-permissions/admin/src/translations/ko.json
  packages/strapi-plugin-users-permissions/admin/src/translations/nl.json
  packages/strapi-plugin-users-permissions/admin/src/translations/pl.json
  packages/strapi-plugin-users-permissions/admin/src/translations/pt-BR.json
  packages/strapi-plugin-users-permissions/admin/src/translations/pt.json
  packages/strapi-plugin-users-permissions/admin/src/translations/ru.json
  packages/strapi-plugin-users-permissions/admin/src/translations/tr.json
  packages/strapi-plugin-users-permissions/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-users-permissions/admin/src/translations/zh.json
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
  packages/strapi-plugin-users-permissions/services/Providers.js
Labels: pr: 💅 Enhancement, source: Plugin

#4047 Update Bootstrap function documentation
  docs/3.0.0-beta.x/migration-guide/migration-guide-beta.15-to-beta.16.md
Labels: pr: 💅 Enhancement, source: Documentation

#4044 fix media preview list image count
  packages/strapi-plugin-content-manager/admin/src/components/MediaPreviewList/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#3822 Remove x-forwarded-host headers in admin panel and set default security options for development
  README.md
  docs/3.0.0-beta.x/advanced/middlewares.md
  docs/3.0.0-beta.x/configurations/configurations.md
  docs/3.0.0-beta.x/guides/controllers.md
  examples/getstarted/config/environments/development/security.json
  examples/getstarted/config/environments/production/security.json
  examples/getstarted/config/environments/staging/security.json
  packages/strapi-admin/controllers/Admin.js
  packages/strapi-admin/controllers/Auth.js
  packages/strapi-generate-new/lib/resources/files/config/environments/development/security.json
  packages/strapi-generate-new/lib/resources/files/config/environments/production/security.json
  packages/strapi-generate-new/lib/resources/files/config/environments/staging/security.json
  packages/strapi-helper-plugin/lib/src/utils/request.js
  packages/strapi-hook-bookshelf/lib/queries.js
  packages/strapi-hook-mongoose/lib/queries.js
  packages/strapi-plugin-content-manager/admin/src/components/Wysiwyg/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditView/index.js
  packages/strapi-plugin-content-manager/controllers/ContentManager.js
  packages/strapi-plugin-email/controllers/Email.js
  packages/strapi-plugin-settings-manager/admin/src/translations/ar.json
  packages/strapi-plugin-settings-manager/admin/src/translations/de.json
  packages/strapi-plugin-settings-manager/admin/src/translations/en.json
  packages/strapi-plugin-settings-manager/admin/src/translations/es.json
  packages/strapi-plugin-settings-manager/admin/src/translations/fr.json
  packages/strapi-plugin-settings-manager/admin/src/translations/it.json
  packages/strapi-plugin-settings-manager/admin/src/translations/ja.json
  packages/strapi-plugin-settings-manager/admin/src/translations/ko.json
  packages/strapi-plugin-settings-manager/admin/src/translations/nl.json
  packages/strapi-plugin-settings-manager/admin/src/translations/pl.json
  packages/strapi-plugin-settings-manager/admin/src/translations/pt-BR.json
  packages/strapi-plugin-settings-manager/admin/src/translations/pt.json
  packages/strapi-plugin-settings-manager/admin/src/translations/ru.json
  packages/strapi-plugin-settings-manager/admin/src/translations/tr.json
  packages/strapi-plugin-settings-manager/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-settings-manager/admin/src/translations/zh.json
  packages/strapi-plugin-settings-manager/services/SettingsManager.js
  packages/strapi-plugin-upload/admin/src/containers/HomePage/saga.js
  packages/strapi-plugin-upload/controllers/Upload.js
  packages/strapi-plugin-upload/test/upload.test.e2e.js
  packages/strapi-plugin-users-permissions/config/policies/rateLimit.js
  packages/strapi-plugin-users-permissions/controllers/Auth.js
  packages/strapi-plugin-users-permissions/controllers/User.js
  packages/strapi-utils/lib/index.js
  packages/strapi-utils/lib/parse-multipart.js
  packages/strapi-utils/lib/sanitize-entity.js
  packages/strapi/lib/core-api/controller.js
  packages/strapi/lib/core/bootstrap.js
  packages/strapi/lib/middlewares/cors/index.js
  packages/strapi/lib/middlewares/csrf/defaults.json
  packages/strapi/lib/middlewares/csrf/index.js
  packages/strapi/lib/middlewares/index.js
  packages/strapi/lib/middlewares/mask/defaults.json
  packages/strapi/lib/middlewares/mask/index.js
Labels: pr: 💅 Enhancement, source: Framework

#3689 Update swedish Translation
  packages/strapi-admin/admin/src/translations/sv.json
Labels: pr: 💅 Enhancement, source: Admin

#4088 Review documentation text format
  docs/.vuepress/config.js
  docs/3.0.0-beta.x/advanced/customize-admin.md
  docs/3.0.0-beta.x/advanced/hooks.md
  docs/3.0.0-beta.x/advanced/logging.md
  docs/3.0.0-beta.x/advanced/middlewares.md
  docs/3.0.0-beta.x/assets/plugins/documentation/fa-swagger-doc.png
  docs/3.0.0-beta.x/assets/plugins/documentation/open-doc.gif
  docs/3.0.0-beta.x/concepts/concepts.md
  docs/3.0.0-beta.x/configurations/configurations.md
  docs/3.0.0-beta.x/guides/api-documentation.md
  docs/3.0.0-beta.x/guides/api-endpoints.md
  docs/3.0.0-beta.x/guides/authentication.md
  docs/3.0.0-beta.x/guides/controllers.md
  docs/3.0.0-beta.x/guides/databases.md
  docs/3.0.0-beta.x/guides/deployment.md
  docs/3.0.0-beta.x/guides/email.md
  docs/3.0.0-beta.x/guides/graphql.md
  docs/3.0.0-beta.x/guides/i18n.md
  docs/3.0.0-beta.x/guides/models.md
  docs/3.0.0-beta.x/guides/parameters.md
  docs/3.0.0-beta.x/guides/policies.md
  docs/3.0.0-beta.x/guides/queries.md
  docs/3.0.0-beta.x/guides/routing.md
  docs/3.0.0-beta.x/guides/services.md
  docs/3.0.0-beta.x/guides/upload.md
  docs/3.0.0-beta.x/guides/webhooks.md
  packages/strapi-plugin-users-permissions/admin/src/components/PopUpForm/index.js
  packages/strapi-plugin-users-permissions/docs/email-templates.md
Labels: pr: 💅 Enhancement, source: Documentation

#4107 Add sentry in strapi new
  packages/strapi-generate-new/lib/create-project.js
  packages/strapi-generate-new/lib/create-quickstart-project.js
  packages/strapi-generate-new/lib/index.js
  packages/strapi-generate-new/lib/utils/usage.js
  packages/strapi-generate-new/package.json
  yarn.lock
Labels: pr: 💅 Enhancement, source: Framework

#4070 Update quick-start documentation
  docs/3.0.0-beta.x/getting-started/quick-start.md
Labels: pr: 💅 Enhancement, source: Documentation

#4108 Use stderr instead of message
  packages/strapi-generate-new/lib/create-project.js
Labels: pr: 💅 Enhancement, source: Framework

#4111 Allow null values on manyToMany and manyWay to set empty array
  packages/strapi-hook-mongoose/lib/relations.js
  packages/strapi-plugin-graphql/services/Resolvers.js
Labels: pr: 💅 Enhancement, source: Framework

#4112 Updates the url of the settings button for Content Manager PluginCard
  packages/strapi-admin/admin/src/components/PluginCard/index.js
Labels: pr: 🐛 Bug fix, source: Admin

#4117 Fix default config usage ejs
  packages/strapi-hook-ejs/lib/index.js
Labels: pr: 🐛 Bug fix, source: Framework

#4120 Add rfc in contributing guide and add some comment
  CONTRIBUTING.md
Labels: pr: 💅 Enhancement, source: Documentation

#4081 Change Traditional Chinese flag in LocaleToggle
  packages/strapi-admin/admin/src/containers/LocaleToggle/index.js
  packages/strapi-admin/admin/src/containers/LocaleToggle/tests/index.test.js
Labels: source: Admin, type: enhancement 💅

#3977 Remove scss files in documentation plugin
  packages/strapi-plugin-documentation/admin/src/components/Block/components.js
  packages/strapi-plugin-documentation/admin/src/components/Block/index.js
  packages/strapi-plugin-documentation/admin/src/components/Row/ButtonContainer.js
  packages/strapi-plugin-documentation/admin/src/components/Row/components.js
  packages/strapi-plugin-documentation/admin/src/components/Row/index.js
  packages/strapi-plugin-documentation/admin/src/components/Row/styles.scss
  packages/strapi-plugin-documentation/admin/src/containers/HomePage/components.js
  packages/strapi-plugin-documentation/admin/src/containers/HomePage/index.js
Labels: pr: 💅 Enhancement, source: Plugin

#3926 Vertical scrollbar shown for accessibility
  packages/strapi-admin/admin/src/styles/main.scss
Labels: pr: 💅 Enhancement, source: Admin

#4125 Do not set default timestamp value for date types
  packages/strapi-hook-bookshelf/lib/buildDatabaseSchema.js
Labels: pr: 🐛 Bug fix, source: Framework
