Repository strapi/strapi, pull requests merged in 2020-01, with the labels that each got.

#4877 Fix compo file path
  docs/3.0.0-beta.x/migration-guide/migration-guide-beta.17-to-beta.18.md
Labels: pr: 💅 Enhancement, source: Documentation

#4538 Add support for Mailgun templates and variables
  packages/strapi-provider-email-mailgun/README.md
  packages/strapi-provider-email-mailgun/lib/index.js
Labels: pr: 💅 Enhancement, source: Plugin

#4643 Adjust the LeftMenuLinkContainer height
  packages/strapi-admin/admin/src/components/LeftMenuLinkContainer/Wrapper.js
Labels: pr: 🐛 Bug fix, source: Admin

#4723 Fix plugin upload UI description
  docs/3.0.0-beta.x/content-api/api-endpoints.md
  docs/3.0.0-beta.x/guides/deployment.md
  packages/strapi-connector-bookshelf/lib/relations.js
  packages/strapi-plugin-upload/admin/src/translations/ar.json
  packages/strapi-plugin-upload/admin/src/translations/de.json
  packages/strapi-plugin-upload/admin/src/translations/en.json
  packages/strapi-plugin-upload/admin/src/translations/es.json
  packages/strapi-plugin-upload/admin/src/translations/fr.json
  packages/strapi-plugin-upload/admin/src/translations/it.json
  packages/strapi-plugin-upload/admin/src/translations/ja.json
  packages/strapi-plugin-upload/admin/src/translations/ko.json
  packages/strapi-plugin-upload/admin/src/translations/nl.json
  packages/strapi-plugin-upload/admin/src/translations/pl.json
  packages/strapi-plugin-upload/admin/src/translations/pt-BR.json
  packages/strapi-plugin-upload/admin/src/translations/pt.json
  packages/strapi-plugin-upload/admin/src/translations/ru.json
  packages/strapi-plugin-upload/admin/src/translations/tr.json
  packages/strapi-plugin-upload/admin/src/translations/vi.json
  packages/strapi-plugin-upload/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-upload/admin/src/translations/zh.json
  packages/strapi-plugin-upload/package.json
Labels: pr: 💅 Enhancement, source: Plugin

#4797 Update zh-Hans.json
  packages/strapi-admin/admin/src/translations/zh-Hans.json
Labels: pr: 💅 Enhancement, source: Admin

#4815 Update ru.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/ru.json
Labels: pr: 💅 Enhancement, source: Admin

#4822 Leave file url as realtive
  packages/strapi-plugin-upload/controllers/Upload.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4823 Fix Profile button throwing a 500 Internal Server Error when refreshing page from the admin screen.
  packages/strapi-admin/admin/src/components/Logout/index.js
Labels: pr: 🐛 Bug fix, source: Admin

#4835 Update reference of links documentation
  packages/strapi-generate-new/lib/resources/files/config/functions/bootstrap.js
  packages/strapi-generate-new/lib/resources/files/config/functions/cron.js
Labels: pr: 💅 Enhancement, source: Documentation

#4839 Fixed Typography Error
  docs/3.0.0-beta.x/content-api/api-endpoints.md
Labels: pr: 💅 Enhancement, source: Documentation

#4852 Typography Error
  docs/3.0.0-alpha.x/guides/deployment.md
Labels: pr: 💅 Enhancement, source: Documentation

#4869 Fix typo
  packages/strapi-plugin-content-type-builder/admin/src/translations/en.json
Labels: pr: 💅 Enhancement, source: Admin

#4883 Add database timezone config options to documentation
  docs/3.0.0-beta.x/concepts/configurations.md
Labels: pr: 💅 Enhancement, source: Documentation

#4889 Add map and series to RESERVED_NAMES in CTB
  packages/strapi-plugin-content-type-builder/admin/src/containers/FormModal/utils/reservedNames.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4896 Update policies documentation to include link to GraphQL doc
  docs/3.0.0-beta.x/concepts/policies.md
Labels: pr: 💅 Enhancement, source: Documentation

#4894 Update strapi-provider-upload-cloudinary installation instructions
  packages/strapi-provider-upload-cloudinary/README.md
Labels: pr: 💅 Enhancement, source: Documentation

#4887 Fix Forgot password error
  packages/strapi-admin/admin/src/containers/AuthPage/index.js
Labels: pr: 🐛 Bug fix, source: Admin

#4904 Entries should be deleted if query parameters contain associations
  packages/strapi-connector-bookshelf/lib/queries.js
Labels: pr: 🐛 Bug fix, source: Framework

#4851 Allow custom exit code strapi.stop
  packages/strapi/lib/Strapi.js
Labels: pr: 💅 Enhancement, source: Framework

#4895 Fix a few grammar mistakes on beta.18.x migration guide
  docs/3.0.0-beta.x/migration-guide/migration-guide-beta.17-to-beta.18.md
Labels: pr: 💅 Enhancement, source: Documentation

#4882 Add Security configuration paragraph
  docs/3.0.0-beta.x/plugins/users-permissions.md
Labels: pr: 💅 Enhancement, source: Documentation

#4907 Do not overwritten morphAssoc populates
  packages/strapi-connector-mongoose/lib/mount-models.js
Labels: pr: 🐛 Bug fix, source: Framework

#4773 Add option to set the enumeration field to null
  packages/strapi-connector-mongoose/lib/mount-models.js
  packages/strapi-connector-mongoose/lib/utils/index.js
  packages/strapi-plugin-content-manager/admin/src/components/Inputs/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditViewDataManagerProvider/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/FormModal/utils/forms.js
Labels: pr: 🐛 Bug fix, source: Admin

#4570 Add Czech translations
  examples/getstarted/config/locales/cs_cz.json
  packages/strapi-admin/admin/src/containers/LocaleToggle/index.js
  packages/strapi-admin/admin/src/containers/LocaleToggle/tests/index.test.js
  packages/strapi-admin/admin/src/i18n.js
  packages/strapi-admin/admin/src/translations/cs.json
  packages/strapi-admin/admin/src/translations/index.js
  packages/strapi-generate-plugin/files/admin/src/translations/cs.json
  packages/strapi-generate-plugin/files/admin/src/translations/index.js
  packages/strapi-plugin-content-manager/admin/src/translations/cs.json
  packages/strapi-plugin-content-manager/admin/src/translations/index.js
  packages/strapi-plugin-documentation/admin/src/translations/cs.json
  packages/strapi-plugin-documentation/admin/src/translations/index.js
  packages/strapi-plugin-email/admin/src/translations/cs.json
  packages/strapi-plugin-email/admin/src/translations/index.js
  packages/strapi-plugin-upload/admin/src/translations/cs.json
  packages/strapi-plugin-upload/admin/src/translations/index.js
  packages/strapi-plugin-users-permissions/admin/src/translations/cs.json
  packages/strapi-plugin-users-permissions/admin/src/translations/index.js
Labels: pr: 💅 Enhancement, source: Admin

#4850 Fix update user logged-in via provider
  packages/strapi-plugin-users-permissions/controllers/User.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4910 Fixes #4908
  packages/strapi-admin/admin/src/components/PluginCard/index.js
Labels: pr: 🐛 Bug fix, source: Admin

#4919 Typo fixed in user-permissions plugin documentation
  docs/3.0.0-beta.x/plugins/users-permissions.md
Labels: pr: 💅 Enhancement, source: Documentation

#4911 Update admin path variable if proxy is enabled
  packages/strapi/lib/core/bootstrap.js
Labels: pr: 🐛 Bug fix, source: Framework

#4925 chore(admin): Improve plugin name validator in install/uninstall plugin
  packages/strapi-admin/controllers/Admin.js
Labels: pr: 💅 Enhancement, source: Admin

#4864 Fix not showing config form for selected upload provider
  packages/strapi-plugin-upload/admin/src/containers/ConfigPage/index.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4857 Slovak translations and minor bug fixes
  packages/strapi-admin/admin/src/components/LeftMenuLinkContainer/index.js
  packages/strapi-admin/admin/src/components/LeftMenuLinkContainer/messages.json
  packages/strapi-admin/admin/src/containers/LocaleToggle/index.js
  packages/strapi-admin/admin/src/containers/LocaleToggle/tests/index.test.js
  packages/strapi-admin/admin/src/i18n.js
  packages/strapi-admin/admin/src/translations/en.json
  packages/strapi-admin/admin/src/translations/index.js
  packages/strapi-admin/admin/src/translations/sk.json
  packages/strapi-admin/controllers/Auth.js
  packages/strapi-generate-plugin/files/admin/src/translations/index.js
  packages/strapi-generate-plugin/files/admin/src/translations/sk.json
  packages/strapi-plugin-content-manager/admin/src/translations/index.js
  packages/strapi-plugin-content-manager/admin/src/translations/sk.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/index.js
  packages/strapi-plugin-content-type-builder/admin/src/translations/sk.json
  packages/strapi-plugin-documentation/admin/src/translations/index.js
  packages/strapi-plugin-documentation/admin/src/translations/sk.json
  packages/strapi-plugin-email/admin/src/translations/index.js
  packages/strapi-plugin-email/admin/src/translations/sk.json
  packages/strapi-plugin-upload/admin/src/containers/HomePage/saga.js
  packages/strapi-plugin-upload/admin/src/translations/index.js
  packages/strapi-plugin-upload/admin/src/translations/sk.json
  packages/strapi-plugin-users-permissions/admin/src/translations/index.js
  packages/strapi-plugin-users-permissions/admin/src/translations/sk.json
Labels: pr: 💅 Enhancement, source: Admin

#4845 Add an alert when dot presents in database name
  packages/strapi-generate-new/lib/utils/db-questions.js
Labels: pr: 🐛 Bug fix, source: Framework

#4921 Fix yup schema for component with min and max validations
  packages/strapi-plugin-content-manager/admin/src/components/RepeatableComponent/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditViewDataManagerProvider/utils/cleanData.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditViewDataManagerProvider/utils/schema.js
Labels: pr: 🐛 Bug fix, source: Admin

#4809 Webhooks/init
  packages/strapi-admin/config/routes.json
  packages/strapi-admin/controllers/Webhooks.js
  packages/strapi-database/lib/database-manager.js
  packages/strapi-database/lib/queries/create-query.js
  packages/strapi-plugin-content-type-builder/controllers/validation/__tests__/common.test.js
  packages/strapi-plugin-content-type-builder/controllers/validation/component-category.js
  packages/strapi-plugin-content-type-builder/controllers/validation/component.js
  packages/strapi-plugin-content-type-builder/controllers/validation/content-type.js
  packages/strapi-plugin-graphql/services/Loaders.js
  packages/strapi-plugin-graphql/services/Schema.js
  packages/strapi-plugin-upload/services/Upload.js
  packages/strapi-utils/lib/__tests__/yup-formatter.test.js
  packages/strapi-utils/lib/index.js
  packages/strapi-utils/lib/validators.js
  packages/strapi-utils/package.json
  packages/strapi/lib/Strapi.js
  packages/strapi/lib/core/index.js
  packages/strapi/lib/services/__tests__/worker-queue.test.js
  packages/strapi/lib/services/core-store.js
  packages/strapi/lib/services/event-hub.js
  packages/strapi/lib/services/webhook-runner.js
  packages/strapi/lib/services/webhook-store.js
  packages/strapi/lib/services/worker-queue.js
  packages/strapi/package.json
  yarn.lock
Labels: pr: 🚀 New feature, source: Framework

#4818 Improve ctb modal stepper
  packages/strapi-plugin-content-type-builder/admin/src/InjectedComponents/ContentManager/EditSettingViewButton.js
  packages/strapi-plugin-content-type-builder/admin/src/components/AttributeOption/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/ComponentList/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/DynamicZoneList/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/List/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/ListRow/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/ModalHeader/ComponentInfos.js
  packages/strapi-plugin-content-type-builder/admin/src/components/ModalHeader/DropdownInfos.js
  packages/strapi-plugin-content-type-builder/admin/src/components/ModalHeader/Header.js
  packages/strapi-plugin-content-type-builder/admin/src/components/ModalHeader/Icon.js
  packages/strapi-plugin-content-type-builder/admin/src/components/ModalHeader/Item.js
  packages/strapi-plugin-content-type-builder/admin/src/components/ModalHeader/Menu.js
  packages/strapi-plugin-content-type-builder/admin/src/components/ModalHeader/Toggle.js
  packages/strapi-plugin-content-type-builder/admin/src/components/ModalHeader/Wrapper.js
  packages/strapi-plugin-content-type-builder/admin/src/components/ModalHeader/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/DataManagerProvider/reducer.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/FormModal/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/FormModal/utils/createHeadersArray.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/FormModal/utils/createHeadersObjectFromArray.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/FormModal/utils/staticData.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/FormModal/utils/tests/createHeadersArray.test.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/FormModal/utils/tests/createHeadersObjectFromArray.test.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/LeftMenu/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/ListView/index.js
  packages/strapi-plugin-content-type-builder/admin/src/utils/getAttributeDisplayedType.js
Labels: pr: 💅 Enhancement, source: Admin

#4939 Dont break on attribute not found
  packages/strapi-plugin-content-type-builder/services/schema-builder/content-type-builder.js
Labels: pr: 💅 Enhancement, source: Plugin

#4940 Add example GraphQL query dynamic zone
  docs/3.0.0-beta.x/plugins/graphql.md
Labels: pr: 💅 Enhancement, source: Documentation

#4930 Update of the Czech translation
  packages/strapi-admin/admin/src/translations/cs.json
  packages/strapi-generate-new/lib/resources/files/config/locales/cs_cz.json
  packages/strapi-plugin-content-manager/admin/src/translations/cs.json
  packages/strapi-plugin-content-type-builder/admin/src/InjectedComponents/ContentManager/EditSettingViewButton.js
  packages/strapi-plugin-content-type-builder/admin/src/InjectedComponents/ContentManager/EditViewLink.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/FormModal/utils/reservedNames.js
  packages/strapi-plugin-content-type-builder/admin/src/translations/cs.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/index.js
  packages/strapi-plugin-upload/admin/src/translations/cs.json
  packages/strapi-plugin-users-permissions/admin/src/translations/cs.json
Labels: pr: 💅 Enhancement, source: Admin

#4926 Fixed error impossible message grammar
  packages/strapi-admin/admin/src/translations/en.json
Labels: pr: 💅 Enhancement, source: Admin

#4942 Udpate steps to access to the view config page
  docs/3.0.0-beta.x/guides/slug.md
Labels: pr: 💅 Enhancement, source: Documentation

#4944 Add datetime and time validators in ctb
  packages/strapi-plugin-content-type-builder/controllers/validation/types.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4945 Fix edit date types
  packages/strapi-plugin-content-type-builder/admin/src/utils/getAttributeDisplayedType.js
Labels: pr: 🐛 Bug fix, source: Admin

#4941 Update copyright date to 2020
  LICENSE.md
  README.md
  packages/create-strapi-app/LICENSE.md
  packages/strapi-admin/LICENSE.md
  packages/strapi-connector-bookshelf/LICENSE.md
  packages/strapi-connector-mongoose/LICENSE.md
  packages/strapi-database/LICENSE.md
  packages/strapi-generate-api/LICENSE.md
  packages/strapi-generate-controller/LICENSE.md
  packages/strapi-generate-model/LICENSE.md
  packages/strapi-generate-new/LICENSE.md
  packages/strapi-generate-plugin/LICENSE.md
  packages/strapi-generate-policy/LICENSE.md
  packages/strapi-generate-service/LICENSE.md
  packages/strapi-helper-plugin/LICENSE.md
  packages/strapi-hook-ejs/LICENSE.md
  packages/strapi-hook-redis/LICENSE.md
  packages/strapi-middleware-views/LICENSE.md
  packages/strapi-plugin-content-manager/LICENSE.md
  packages/strapi-plugin-content-type-builder/LICENSE.md
  packages/strapi-plugin-documentation/LICENSE.md
  packages/strapi-plugin-email/LICENSE.md
  packages/strapi-plugin-graphql/LICENSE.md
  packages/strapi-plugin-upload/LICENSE.md
  packages/strapi-plugin-users-permissions/LICENSE.md
  packages/strapi-provider-email-mailgun/LICENSE.md
  packages/strapi-provider-email-sendgrid/LICENSE.md
  packages/strapi-provider-email-sendmail/LICENSE.md
  packages/strapi-provider-upload-aws-s3/LICENSE.md
  packages/strapi-provider-upload-cloudinary/LICENSE.md
  packages/strapi-provider-upload-local/LICENSE.md
  packages/strapi-provider-upload-rackspace/LICENSE.md
  packages/strapi-utils/LICENSE.md
  packages/strapi/LICENSE.md
Labels: pr: 💅 Enhancement, source: Documentation

#4928 package.json name property must be in lowercase
  packages/strapi-generate-new/lib/create-project.js
Labels: pr: 💅 Enhancement, source: Framework

#4947 Use strapi.services instead of requires to allow overrides
  packages/strapi-plugin-content-manager/controllers/Components.js
  packages/strapi-plugin-content-manager/controllers/ContentManager.js
  packages/strapi-plugin-content-manager/controllers/ContentTypes.js
  packages/strapi-plugin-content-type-builder/controllers/ComponentCategories.js
  packages/strapi-plugin-content-type-builder/controllers/Components.js
  packages/strapi-plugin-content-type-builder/controllers/ContentTypes.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4937 Fix documentation type on request verb
  docs/3.0.0-beta.x/guides/auth-request.md
Labels: pr: 💅 Enhancement, source: Documentation

#4927 tools: Init a simple publish script
  scripts/publish.sh
Labels: pr: 💅 Enhancement, source: Framework

#4936 Improve eslint config for front-end files
  .eslintrc.js
  package.json
  packages/strapi-admin/admin/src/components/DownloadInfo/index.js
  packages/strapi-admin/admin/src/containers/Admin/tests/index.test.js
  packages/strapi-admin/admin/src/containers/App/index.js
  packages/strapi-plugin-content-manager/admin/src/components/DraggedFieldWithPreview/index.js
  packages/strapi-plugin-content-manager/admin/src/components/FilterPicker/index.js
  packages/strapi-plugin-content-manager/admin/src/components/FilterPickerOption/Input.js
  packages/strapi-plugin-content-manager/admin/src/components/RepeatableComponent/Banner.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditSettingsView/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditView/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/DynamicZoneList/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/ModalHeader/index.js
  packages/strapi-plugin-content-type-builder/admin/src/components/WrapperSelect/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/App/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/DataManagerProvider/index.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/DataManagerProvider/reducer.js
  packages/strapi-plugin-documentation/admin/src/containers/App/index.js
  packages/strapi-plugin-upload/admin/src/containers/App/index.js
  packages/strapi-plugin-users-permissions/admin/src/components/List/index.js
  packages/strapi-plugin-users-permissions/admin/src/components/ListRow/index.js
  packages/strapi-plugin-users-permissions/admin/src/index.js
  yarn.lock
Labels: pr: 💅 Enhancement, source: Admin

#4980 Remove soft hyphen (U+00AD) from reset password email subject line
  packages/strapi-admin/controllers/Auth.js
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4976 Update user permission docs to use correct user id attribute
  docs/3.0.0-beta.x/plugins/users-permissions.md
Labels: pr: 🐛 Bug fix, source: Documentation

#4974 Update way to create strapi app in deployment guide
  docs/3.0.0-beta.x/guides/deployment.md
Labels: pr: 💅 Enhancement, source: Documentation

#4973 corrected new components path to include category and be understandable
  docs/3.0.0-beta.x/migration-guide/migration-guide-beta.17-to-beta.18.md
Labels: pr: 💅 Enhancement, source: Documentation

#4971 Update install-requirements.md
  docs/3.0.0-beta.x/getting-started/install-requirements.md
Labels: pr: 💅 Enhancement, source: Documentation

#4972 Improve error messages
  packages/strapi-plugin-users-permissions/controllers/Auth.js
Labels: pr: 💅 Enhancement, source: Plugin

#4830 Use Buffetjs in the filter picker
  docs/3.0.0-beta.x/plugins/users-permissions.md
  packages/strapi-plugin-content-manager/admin/src/components/CustomTable/DATE_FORMATS.js
  packages/strapi-plugin-content-manager/admin/src/components/CustomTable/Row.js
  packages/strapi-plugin-content-manager/admin/src/components/FilterPicker/reducer.js
  packages/strapi-plugin-content-manager/admin/src/components/FilterPickerOption/Input.js
  packages/strapi-plugin-content-manager/admin/src/components/FilterPickerOption/Option.js
  packages/strapi-plugin-content-manager/admin/src/components/FilterPickerOption/components.js
  packages/strapi-plugin-content-manager/admin/src/components/FilterPickerOption/index.js
  packages/strapi-plugin-content-type-builder/admin/src/InjectedComponents/ContentManager/EditSettingViewButton.js
  packages/strapi-plugin-content-type-builder/admin/src/InjectedComponents/ContentManager/EditViewLink.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/FormModal/utils/reservedNames.js
Labels: pr: 💅 Enhancement, source: Admin

#4959 fixed location of overrides
  packages/strapi-plugin-documentation/services/Documentation.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4969 Add login provider configs in the docs
  docs/3.0.0-beta.x/plugins/users-permissions.md
Labels: pr: 💅 Enhancement, source: Documentation

#4992 Fix providers login URLs
  docs/3.0.0-beta.x/plugins/users-permissions.md
Labels: pr: 💅 Enhancement, source: Documentation

#4994 remove querystring from ctx.path when reading provider
  packages/strapi-plugin-users-permissions/controllers/Auth.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4943 Add option to specify custom files to ignore in watch mode
  docs/3.0.0-beta.x/concepts/configurations.md
  packages/strapi-admin/index.js
  packages/strapi/lib/commands/develop.js
  packages/strapi/lib/commands/watchAdmin.js
Labels: pr: 💅 Enhancement, source: Framework

#5006 Refactor tests and add codecov
  .travis.yml
  jest.config.e2e.js
  jest.config.js
  package.json
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-content-type-builder/jest.config.unit.js
  packages/strapi-plugin-content-type-builder/package.json
  packages/strapi-utils/package.json
  packages/strapi/lib/core/__tests__/fs.test.js
  packages/strapi/package.json
  scripts/publish.sh
Labels: pr: 💅 Enhancement, source: Framework

#5009 Fixe documentation typo provider
  docs/3.0.0-beta.x/plugins/users-permissions.md
Labels: pr: 💅 Enhancement, source: Documentation

#5023 Fix slug guide
  docs/3.0.0-beta.x/guides/slug.md
Labels: pr: 💅 Enhancement, source: Documentation

#5027 Fix get role via GraphQL
  packages/strapi-plugin-users-permissions/config/schema.graphql
Labels: pr: 🐛 Bug fix, source: Plugin

#4949 Fix - keep autoPopulate:false options on update
  packages/strapi-plugin-content-type-builder/controllers/validation/relations.js
  packages/strapi-plugin-content-type-builder/services/schema-builder/content-type-builder.js
  packages/strapi-plugin-content-type-builder/services/schema-builder/index.js
  packages/strapi-plugin-content-type-builder/utils/attributes.js
Labels: pr: 🐛 Bug fix, source: Plugin

#5018 RFC-822 doesn't require double quotes around the descriptive name in an email address
  packages/strapi-admin/controllers/Auth.js
  packages/strapi-plugin-users-permissions/controllers/Auth.js
Labels: pr: 🐛 Bug fix, source: Plugin

#4950 Upgrade purest to 3.x
  packages/strapi-plugin-users-permissions/package.json
  packages/strapi-plugin-users-permissions/services/Providers.js
  yarn.lock
Labels: pr: 💅 Enhancement, source: Plugin

#5040 Fix timestamp display
  packages/strapi-plugin-content-manager/admin/src/components/CustomTable/DATE_FORMATS.js
Labels: pr: 🐛 Bug fix, source: Plugin

#5058 Fix mongoose dz delete query
  packages/strapi-connector-mongoose/lib/queries.js
Labels: pr: 🐛 Bug fix, source: Framework

#5043 Fix production.html
  packages/strapi-generate-new/lib/resources/files/public/production.html
Labels: pr: 💅 Enhancement, source: Framework

#5035 Typo fix quick-start-tutorial.md document
  docs/3.0.0-beta.x/getting-started/quick-start-tutorial.md
Labels: pr: 💅 Enhancement, source: Documentation

#5062 🇹🇷 Turkish translations updated
  packages/strapi-admin/admin/src/translations/tr.json
Labels: pr: 💅 Enhancement, source: Admin

#5100 Fix main field set to id on mongo
  packages/strapi-plugin-content-manager/services/utils/configuration/metadatas.js
Labels: pr: 🐛 Bug fix, source: Plugin

#5102 [Docs] Fix typo in webhooks
  docs/3.0.0-beta.x/concepts/webhooks.md
Labels: pr: 💅 Enhancement, source: Documentation

#5098 Fix cron reference documentation
  packages/strapi-generate-new/lib/resources/files/config/functions/cron.js
Labels: pr: 🐛 Bug fix, source: Framework

#5109 Clone response to to avoid inconsistencies in muti query responses
  packages/strapi-plugin-graphql/services/Mutation.js
  packages/strapi-plugin-graphql/services/Query.js
Labels: pr: 🐛 Bug fix, source: Plugin

#5137 Check if ref is set before checking toJSON
  packages/strapi-connector-mongoose/lib/mount-models.js
Labels: pr: 🐛 Bug fix, source: Framework

#5116 [Docs] Fix typo in upload plugin
  docs/3.0.0-beta.x/plugins/upload.md
Labels: pr: 💅 Enhancement, source: Documentation
