Repository strapi/strapi, pull requests merged in 2020-10, with the labels that each got.

#7917 Add noindex to public index page
  packages/strapi/lib/middlewares/public/index.html
Labels: source: admin, type: enhancement

#8132 Prevent .cache folders to impact the unit tests
  jest.config.js
Labels: source: core:tooling, type: bug

#8149 Feat: Add private option field for relations
  packages/strapi-plugin-content-type-builder/admin/src/containers/FormModal/utils/forms.js
  packages/strapi-plugin-content-type-builder/admin/src/containers/FormModal/utils/tests/forms.test.js
  packages/strapi-plugin-content-type-builder/test/content-types.test.e2e.js
  packages/strapi-plugin-content-type-builder/utils/attributes.js
Labels: source: plugin:content-type-builder, type: enhancement

#8158 Fix (un)install plugins routes visibility
  packages/strapi-admin/config/routes.json
Labels: source: core:framework, type: bug

#8112 Add --template option to create-strapi-app
  docs/.vuepress/config.js
  docs/v3.x/concepts/services.md
  docs/v3.x/concepts/templates.md
  docs/v3.x/deployment/heroku.md
  docs/v3.x/installation/cli.md
  docs/v3.x/installation/docker.md
  docs/v3.x/plugins/email.md
  packages/create-strapi-app/create-strapi-app.js
  packages/strapi-generate-new/lib/create-project.js
  packages/strapi-generate-new/lib/index.js
  packages/strapi-generate-new/lib/merge-template.js
  packages/strapi-generate-new/lib/utils/merge-template.js
  packages/strapi-generate-new/lib/utils/usage.js
  packages/strapi-generate-new/package.json
  packages/strapi-plugin-upload/test/proxy.test.e2e.js
  packages/strapi-plugin-users-permissions/controllers/Auth.js
  packages/strapi-plugin-users-permissions/controllers/user/admin.js
  packages/strapi-plugin-users-permissions/controllers/user/api.js
  packages/strapi/lib/Strapi.js
  packages/strapi/lib/core/app-configuration/index.js
  packages/strapi/lib/services/metrics/sender.js
  yarn.lock
Labels: source: core:framework, type: enhancement

#8155 Add docs for sorting graphql queries
  docs/v3.x/plugins/graphql.md
Labels: source: documentation, type: enhancement

#7907 LeftMenuHeader Path FIX
  docs/v3.x/admin-panel/customization.md
Labels: source: documentation, type: enhancement

#8145 add strapi-plugin-content-type-builder thai translation
  packages/strapi-generate-plugin/files/admin/src/translations/index.js
  packages/strapi-generate-plugin/files/admin/src/translations/th.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/index.js
  packages/strapi-plugin-content-type-builder/admin/src/translations/th.json
Labels: source: admin, type: translation

#8144 add strapi-plugin-users-permissions thai translation
  packages/strapi-plugin-users-permissions/admin/src/translations/index.js
  packages/strapi-plugin-users-permissions/admin/src/translations/th.json
Labels: source: admin, type: translation

#8142 add strapi-plugin-upload thai translation
  packages/strapi-plugin-upload/admin/src/translations/index.js
  packages/strapi-plugin-upload/admin/src/translations/th.json
Labels: source: admin, type: translation

#8141 add strapi-plugin-documentation thai translation
  packages/strapi-plugin-documentation/admin/src/translations/index.js
  packages/strapi-plugin-documentation/admin/src/translations/th.json
Labels: source: admin, type: translation

#8140 add strapi-plugin-email thai translation
  packages/strapi-plugin-email/admin/src/translations/index.js
  packages/strapi-plugin-email/admin/src/translations/th.json
Labels: source: admin, type: translation

#8139 add strapi-admin thai translation
  packages/strapi-admin/admin/src/translations/index.js
  packages/strapi-admin/admin/src/translations/th.json
Labels: source: admin, type: translation

#7937 Implement deleteFile graphql mutation (#5292).
  packages/strapi-plugin-graphql/test/single-type.test.e2e.js
  packages/strapi-plugin-upload/config/schema.graphql.js
  packages/strapi-plugin-upload/test/graphqlUpload.test.e2e.js
Labels: source: plugin:upload, type: feature request

#8165 Fix heroku guide to set database settings in proper env path
  docs/v3.x/deployment/heroku.md
Labels: source: documentation, type: enhancement

#6917 AWS Cognito provider
  docs/v3.x/plugins/users-permissions.md
  packages/strapi-plugin-users-permissions/admin/src/containers/Providers/index.js
  packages/strapi-plugin-users-permissions/admin/src/containers/Providers/utils/createProvidersArray.js
  packages/strapi-plugin-users-permissions/admin/src/containers/Providers/utils/forms.js
  packages/strapi-plugin-users-permissions/admin/src/translations/ar.json
  packages/strapi-plugin-users-permissions/admin/src/translations/cs.json
  packages/strapi-plugin-users-permissions/admin/src/translations/de.json
  packages/strapi-plugin-users-permissions/admin/src/translations/en.json
  packages/strapi-plugin-users-permissions/admin/src/translations/es.json
  packages/strapi-plugin-users-permissions/admin/src/translations/fr.json
  packages/strapi-plugin-users-permissions/admin/src/translations/it.json
  packages/strapi-plugin-users-permissions/admin/src/translations/ja.json
  packages/strapi-plugin-users-permissions/admin/src/translations/ko.json
  packages/strapi-plugin-users-permissions/admin/src/translations/ms.json
  packages/strapi-plugin-users-permissions/admin/src/translations/nl.json
  packages/strapi-plugin-users-permissions/admin/src/translations/pl.json
  packages/strapi-plugin-users-permissions/admin/src/translations/pt-BR.json
  packages/strapi-plugin-users-permissions/admin/src/translations/pt.json
  packages/strapi-plugin-users-permissions/admin/src/translations/ru.json
  packages/strapi-plugin-users-permissions/admin/src/translations/sk.json
  packages/strapi-plugin-users-permissions/admin/src/translations/tr.json
  packages/strapi-plugin-users-permissions/admin/src/translations/uk.json
  packages/strapi-plugin-users-permissions/admin/src/translations/vi.json
  packages/strapi-plugin-users-permissions/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-users-permissions/admin/src/translations/zh.json
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
  packages/strapi-plugin-users-permissions/services/Providers.js
Labels: source: plugin:users-permissions, type: bug

#8191 Bump node-fetch to 2.6.1
  packages/strapi-generate-new/package.json
  packages/strapi-plugin-upload/package.json
  packages/strapi/package.json
  yarn.lock
Labels: source: core:framework, type: enhancement

#8169 Add support for brotli compression
  docs/v3.x/concepts/middlewares.md
  packages/strapi/lib/middlewares/gzip/defaults.json
  packages/strapi/lib/middlewares/gzip/index.js
  packages/strapi/package.json
  yarn.lock
Labels: source: core:framework, type: enhancement

#8222 fixes #8221 - fixed publish failing if non-repeateable component data is "null"
  packages/strapi-plugin-content-manager/admin/src/containers/EditView/Header/utils/getDraftRelations.js
Labels: source: plugin:content-manager, type: bug

#8086 fixes missing error message when ses sendEmail returns an error
  packages/strapi-provider-email-amazon-ses/lib/index.js
Labels: source: plugin:email, type: enhancement

#8194 Add missing 'format' reserved model word.
  packages/strapi-database/lib/constants/index.js
Labels: source: core:database, type: bug

#8228 Fix wrong query generation with bookshelf
  packages/strapi-connector-bookshelf/lib/populate.js
  packages/strapi-connector-bookshelf/lib/utils/populate-queries.js
Labels: source: core:database, type: bug

#8232 do not set id to undefined
  packages/strapi-connector-bookshelf/lib/utils/store-definition.js
Labels: source: core:database, type: bug

#8234 Update /_health to accept GET requests
  packages/strapi/lib/Strapi.js
Labels: source: core:framework, type: enhancement

#8229 Fixes UI glitch
  packages/strapi-admin/admin/src/components/Roles/ConditionsSelect/MenuList/Ul.js
  packages/strapi-plugin-content-type-builder/admin/src/components/ComponentSelect/MenuList.js
  packages/strapi-plugin-content-type-builder/admin/src/components/SelectMenuUl/index.js
Labels: source: admin, source: plugin:content-type-builder, type: bug

#8172 Fix EN copy of email-confirmation-redirection description
  packages/strapi-plugin-users-permissions/admin/src/translations/en.json
Labels: source: plugin:users-permissions, type: translation

#8230 Fix incorrect notification when copy media url to clipboard
  packages/strapi-plugin-upload/admin/src/components/InputMedia/index.js
Labels: source: plugin:upload, type: bug

#8092 Add events
  packages/strapi-plugin-content-manager/admin/src/components/CustomTable/TableHeader.js
  packages/strapi-plugin-content-manager/admin/src/components/Search/index.js
Labels: source: plugin:content-manager, type: enhancement

#8241 ENH: Update the default favicon with the new logo
  packages/strapi-generate-new/lib/resources/files/favicon.ico
Labels: type: enhancement

#7695 Refactor log level configuration
  packages/strapi-utils/lib/logger.js
  packages/strapi/lib/middlewares/logger/index.js
Labels: source: core:framework, type: enhancement

#8202 Fix "has same role as author" condition not working properly
  packages/strapi-admin/services/permission/permissions-manager/index.js
  packages/strapi-admin/test/admin-permissions-conditions.test.e2e.js
  packages/strapi-admin/test/admin-role.test.e2e.js
  packages/strapi-plugin-content-manager/controllers/ContentManager.js
  packages/strapi-plugin-upload/controllers/upload/admin.js
  packages/strapi-plugin-users-permissions/controllers/user/admin.js
Labels: source: plugin:content-manager, type: bug

#8249 Fix D&P population
  packages/strapi-connector-mongoose/lib/buildQuery.js
  packages/strapi-plugin-graphql/services/type-definitions.js
  packages/strapi-plugin-users-permissions/controllers/User.js
  packages/strapi/lib/core-api/__tests__/service.test.js
  packages/strapi/lib/core-api/controller.js
  packages/strapi/lib/core-api/service.js
  packages/strapi/lib/services/entity-service.js
Labels: source: core:framework, type: bug

#8242 Update index.js
  packages/strapi-provider-upload-cloudinary/lib/index.js
Labels: source: plugin:upload, type: bug

#8260 Fix undefined pk
  packages/strapi-connector-bookshelf/lib/build-database-schema.js
  packages/strapi-connector-bookshelf/lib/mount-models.js
Labels: source: core:database, type: bug

#8263 Update favicon
  examples/getstarted/favicon.ico
Labels: type: enhancement

#8245 Remove remove-markdown dependency
  packages/strapi-admin/package.json
  packages/strapi-admin/webpack.alias.js
  yarn.lock
Labels: source: admin

#8174 Add right padding if contains some right adornment for UID input
  packages/strapi-plugin-content-manager/admin/src/components/InputUID/InputUID.js
  packages/strapi-plugin-content-manager/admin/src/components/InputUID/index.js
Labels: source: plugin:content-manager, type: bug

#8264 Add missing german translation
  packages/strapi-admin/admin/src/translations/de.json
Labels: source: admin, type: translation

#8271 Add Draft/Publish translations in Slovak language
  packages/strapi-admin/admin/src/translations/sk.json
  packages/strapi-plugin-content-manager/admin/src/translations/sk.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/sk.json
Labels: type: translation

#8277 Update Russian translate strapi-plugin-content-manager
  packages/strapi-plugin-content-manager/admin/src/translations/ru.json
Labels: source: plugin:content-manager, type: translation

#8290 Update Russian translate strapi-admin
  packages/strapi-admin/admin/src/translations/ru.json
Labels: source: admin, type: translation

#8297 Fix validations for custom field types
  packages/strapi/lib/services/__tests__/entity-validator.test.js
  packages/strapi/lib/services/entity-validator/index.js
Labels: source: core:framework, type: bug

#8312 Added new translations into Russian
  packages/strapi-plugin-upload/admin/src/translations/ru.json
  packages/strapi-plugin-users-permissions/admin/src/translations/ru.json
Labels: type: enhancement, type: translation

#8296 Update russian translate strapi-plugin-content-type-builder
  packages/strapi-plugin-content-type-builder/admin/src/translations/ru.json
Labels: type: translation

#8309 Add indonesian lang for strapi-admin & strapi-plugin-users-permission
  packages/strapi-admin/admin/src/translations/id.json
  packages/strapi-admin/admin/src/translations/index.js
  packages/strapi-plugin-users-permissions/admin/src/translations/id.json
  packages/strapi-plugin-users-permissions/admin/src/translations/index.js
Labels: source: admin, type: translation

#8316 Add Academy link to the 'Join the community' card in the homepage
  packages/strapi-admin/admin/src/containers/HomePage/SocialLink.js
  packages/strapi-admin/admin/src/containers/HomePage/index.js
Labels: source: admin, type: enhancement

#8292 Draft and Publish documentation - Fix
  docs/v3.x/concepts/draft-and-publish.md
Labels: source: documentation

#8278 Don't use mongoose 5.10.7
  packages/strapi-connector-mongoose/package.json
  yarn.lock
Labels: source: core:database, type: enhancement

#8320 Fix wrong permissions assigns (upload, users-permissions)
  packages/strapi-plugin-upload/controllers/upload/admin.js
  packages/strapi-plugin-users-permissions/config/routes.json
Labels: source: core:framework, type: bug

#8265 Update admin panel screenshot
  public/assets/administration_panel.png
Labels: source: documentation, type: enhancement

#8244 Fix file info of new uploaded file not being persisted after edit
  packages/strapi-plugin-upload/admin/src/containers/InputModalStepper/InputModalStepper.js
  packages/strapi-plugin-upload/admin/src/containers/InputModalStepperProvider/index.js
  packages/strapi-plugin-upload/admin/src/containers/InputModalStepperProvider/reducer.js
  packages/strapi-plugin-upload/admin/src/containers/InputModalStepperProvider/tests/reducer.test.js
Labels: source: plugin:upload, type: bug

#8311 Reset admin password CLI
  docs/v3.x/cli/CLI.md
  packages/create-strapi-app/package.json
  packages/strapi-admin/services/__tests__/user.test.js
  packages/strapi-admin/services/user.js
  packages/strapi/bin/strapi.js
  packages/strapi/lib/commands/__tests__/admin-reset.test.js
  packages/strapi/lib/commands/admin-reset.js
  packages/strapi/package.json
  yarn.lock
Labels: source: core:cli, type: feature request

#8323 Add autoPopulate to model docs
  docs/v3.x/concepts/models.md
Labels: source: documentation, type: enhancement

#8226 Support node v14 + CI refactor
  .github/actions/install-modules/action.yml
  .github/actions/install-modules/script.sh
  .github/actions/run-e2e-tests/action.yml
  .github/actions/run-e2e-tests/script.sh
  .github/workflows/tests.yml
  .travis.yml
  examples/getstarted/package.json
  package.json
  packages/create-strapi-app/package.json
  packages/strapi-admin/package.json
  packages/strapi-connector-bookshelf/package.json
  packages/strapi-connector-mongoose/package.json
  packages/strapi-database/package.json
  packages/strapi-generate-api/package.json
  packages/strapi-generate-controller/package.json
  packages/strapi-generate-model/package.json
  packages/strapi-generate-new/package.json
  packages/strapi-generate-plugin/package.json
  packages/strapi-generate-policy/package.json
  packages/strapi-generate-service/package.json
  packages/strapi-generate/package.json
  packages/strapi-helper-plugin/package.json
  packages/strapi-hook-ejs/package.json
  packages/strapi-hook-redis/package.json
  packages/strapi-middleware-views/package.json
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-content-type-builder/package.json
  packages/strapi-plugin-documentation/package.json
  packages/strapi-plugin-email/package.json
  packages/strapi-plugin-graphql/hooks/graphql/index.js
  packages/strapi-plugin-graphql/package.json
  packages/strapi-plugin-graphql/services/schema-generator.js
  packages/strapi-plugin-graphql/services/type-builder.js
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-users-permissions/package.json
  packages/strapi-provider-email-amazon-ses/package.json
  packages/strapi-provider-email-mailgun/package.json
  packages/strapi-provider-email-sendgrid/package.json
  packages/strapi-provider-email-sendmail/package.json
  packages/strapi-provider-upload-aws-s3/package.json
  packages/strapi-provider-upload-cloudinary/package.json
  packages/strapi-provider-upload-local/package.json
  packages/strapi-provider-upload-rackspace/package.json
  packages/strapi-utils/package.json
  packages/strapi/package.json
  yarn.lock
Labels: source: core:framework, type: enhancement

#8332 Support query operators _or & _where in graphql with deep nesting
  packages/strapi-plugin-graphql/services/utils.js
  packages/strapi-plugin-graphql/test/graphqlCrud.test.e2e.js
  packages/strapi-utils/lib/convert-rest-query-params.js
  packages/strapi-utils/lib/index.js
Labels: source: plugin:graphql, type: bug

#8272 Fix links action on role list page
  packages/strapi-plugin-users-permissions/admin/src/containers/Roles/ListPage/index.js
Labels: source: plugin:users-permissions, type: bug

#8248 Update the draft and schedule guides
  docs/v3.x/guides/draft.md
  docs/v3.x/guides/scheduled-publication.md
Labels: source: documentation

#8328 better error handling for missing model error
  packages/strapi-utils/lib/models.js
Labels: source: core:database, type: enhancement

#8355 Update sv.json
  packages/strapi-plugin-users-permissions/admin/src/translations/sv.json
Labels: type: translation

#8365 Add confirmationToken to user for email confirmation
  docs/v3.x/migration-guide/README.md
  docs/v3.x/migration-guide/migration-guide-3.1.x-to-3.2.x.md
  docs/v3.x/migration-guide/migration-guide-3.2.3-to-3.2.4.md
  examples/getstarted/extensions/users-permissions/models/User.settings.json
  packages/strapi-plugin-users-permissions/controllers/Auth.js
  packages/strapi-plugin-users-permissions/models/User.config.js
  packages/strapi-plugin-users-permissions/models/User.settings.json
  packages/strapi-plugin-users-permissions/services/User.js
Labels: source: plugin:users-permissions, type: security

#8334 Fix incorrect openapi type for datetime, date and password
  packages/strapi-plugin-documentation/services/Documentation.js
Labels: source: plugin:documentation, type: enhancement

#8356 Fix deepFiltering with draft & publish
  packages/strapi-connector-bookshelf/lib/buildQuery.js
  packages/strapi-connector-bookshelf/lib/utils/populate-queries.js
  packages/strapi-connector-mongoose/lib/buildQuery.js
Labels: source: core:database, type: bug

#8314 fix d&p regressions
  packages/strapi-connector-bookshelf/lib/build-database-schema.js
  packages/strapi-connector-bookshelf/lib/database-migration.js
  packages/strapi-connector-bookshelf/lib/mount-models.js
  packages/strapi-connector-bookshelf/lib/utils/associations.js
  packages/strapi-connector-bookshelf/lib/utils/store-definition.js
  packages/strapi-connector-mongoose/lib/database-migration.js
  packages/strapi-database/test/migration-required-attribute.test.e2e.js
Labels: source: core:database, type: bug

#8439 Add permission to CTB routes
  packages/strapi-plugin-content-type-builder/config/routes.json
Labels: source: core:framework, type: security

#8440 Fix XSS security with the wysiwyg preview
  packages/strapi-plugin-content-manager/admin/src/components/PreviewWysiwyg/index.js
  packages/strapi-plugin-content-manager/admin/src/components/PreviewWysiwyg/utils/satinizeHtml.js
  packages/strapi-plugin-content-manager/package.json
  yarn.lock
Labels: source: plugin:content-manager, type: security

#8420 Fix #8413 - Immer dependancy
  packages/strapi-admin/package.json
  packages/strapi-plugin-upload/package.json
Labels: type: bug

#8422 Fix bad package in the update version guide
  docs/v3.x/guides/update-version.md
Labels: source: documentation

#8442 Remove usage of unsecure proxy for now
  packages/strapi-plugin-upload/admin/src/containers/InputModalStepperProvider/index.js
  packages/strapi-plugin-upload/admin/src/containers/ModalStepper/index.js
  packages/strapi-plugin-upload/config/routes.json
  packages/strapi-plugin-upload/controllers/proxy.js
  packages/strapi-plugin-upload/test/proxy.test.e2e.js
Labels: source: plugin:upload, type: security

#8124 Add clearer error messages on relation building
  packages/strapi-utils/lib/models.js
Labels: source: core:framework, type: enhancement

#8445 Add policies information to routing and link controllers to routing docs
  docs/v3.x/concepts/controllers.md
  docs/v3.x/concepts/routing.md
Labels: source: documentation, type: enhancement

#8460 docs: fix 404 in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: status: can't reproduce

#8500 Remove references to node v14 not being supported
  docs/v3.x/getting-started/deployment.md
  docs/v3.x/installation/cli.md
Labels: source: documentation

#8497 Fix project generation with wrong node engine spec
  packages/strapi-generate-new/lib/resources/json/package.json.js
  packages/strapi-generate-plugin/json/package.json.js
Labels: source: core:framework, type: bug
