Repository strapi/strapi, pull requests merged in 2021-03, with the labels that each got.

#9501 Fix TypeError: action.value[0] is undefined
  packages/strapi-plugin-content-manager/admin/src/components/SelectWrapper/index.js
  packages/strapi-plugin-content-manager/admin/src/containers/EditViewDataManagerProvider/reducer.js
Labels: source: plugin:content-manager, type: bug

#9472 feat(new notification): SA/add "target" prop to link {}
  packages/strapi-admin/admin/src/containers/AuthPage/index.js
  packages/strapi-admin/admin/src/containers/NewNotification/Notification/index.js
Labels: source: admin, type: enhancement

#9474 Media plugin: Fix parsing model timestamp config
  packages/strapi-plugin-upload/admin/src/utils/getFileModelTimestamps.js
  packages/strapi-plugin-upload/admin/src/utils/tests/getFileModelTimestamps.test.js
Labels: source: admin, type: bug

#9495 Polish translation for Strapi Plugin Upload
  packages/strapi-plugin-upload/admin/src/translations/index.js
  packages/strapi-plugin-upload/admin/src/translations/pl.json
Labels: source: admin, type: translation

#9521 Issue: Domain name validation c Fixed. With Ref to Previous PR #9496
  packages/strapi-admin/admin/src/validations/users/profile.js
  packages/strapi-admin/package.json
Labels: source: admin, type: enhancement

#9498 Add RTL support to WysiwygEditor
  packages/strapi-plugin-content-manager/admin/src/components/WysiwygEditor/index.js
Labels: source: plugin:content-manager, type: enhancement

#9559 Fix incorrect graphql config var
  packages/strapi-plugin-graphql/services/schema-generator.js
Labels: source: plugin:graphql, type: bug

#9561 Use the MongoDB setting useUnifiedTopology when testing connection
  packages/strapi-connector-mongoose/lib/utils/connectivity.js
Labels: source: core:database, type: bug

#9588 Revert "Issue: Domain name validation c Fixed. With Ref to Previous PR #9496"
  packages/strapi-admin/admin/src/validations/users/profile.js
  packages/strapi-admin/package.json
  yarn.lock
Labels: source: admin, type: bug

#9587 Enable the content type builder in other environments than development
  packages/strapi-plugin-content-type-builder/admin/src/containers/DataManagerProvider/index.js
Labels: source: admin, type: bug

#9532 Add delete function in store
  packages/strapi/lib/services/__tests__/core-store.test.js
  packages/strapi/lib/services/core-store.js
Labels: source: core:framework, type: enhancement

#9545 Enhance identification for projects
  packages/strapi-admin/admin/src/containers/App/index.js
  packages/strapi-admin/admin/src/containers/App/utils/index.js
  packages/strapi-admin/admin/src/containers/App/utils/unique-identifier.js
  packages/strapi-admin/package.json
  packages/strapi-generate/lib/target.js
  yarn.lock
Labels: source: core:tooling, type: enhancement

#8156 Add email test in plugin settings
  packages/strapi-admin/tests/__snapshots__/admin-permission.test.e2e.js.snap
  packages/strapi-admin/tests/admin-permission.test.e2e.js
  packages/strapi-plugin-email/admin/src/containers/Settings/components.js
  packages/strapi-plugin-email/admin/src/containers/Settings/index.js
  packages/strapi-plugin-email/admin/src/index.js
  packages/strapi-plugin-email/admin/src/permissions.js
  packages/strapi-plugin-email/admin/src/translations/en.json
  packages/strapi-plugin-email/admin/src/utils/getTrad.js
  packages/strapi-plugin-email/admin/src/utils/schema.js
  packages/strapi-plugin-email/config/functions/bootstrap.js
  packages/strapi-plugin-email/config/routes.json
  packages/strapi-plugin-email/controllers/Email.js
  packages/strapi-plugin-email/services/Email.js
Labels: source: plugin:email, type: feature request

#9612 [Fix]: 🐛 Strapi parser middleware, catch block error logging
  packages/strapi/lib/middlewares/parser/index.js
Labels: source: core:framework, type: bug

#9637 Fix email permissions test not passing
  packages/strapi-admin/tests/admin-permission.test.e2e.js
Labels: severity: low, source: core:tooling, type: bug

#9643 Update all documentation links in the code-base and readmes
  CONTRIBUTING.md
  README.md
  packages/strapi-admin/admin/src/app.js
  packages/strapi-admin/admin/src/components/Webhooks/EmptyList/index.js
  packages/strapi-generate-api/templates/controller.template
  packages/strapi-generate-api/templates/model.template
  packages/strapi-generate-api/templates/service.template
  packages/strapi-generate-new/lib/resources/files/config/functions/bootstrap.js
  packages/strapi-generate-new/lib/resources/files/config/functions/cron.js
  packages/strapi-plugin-documentation/config/settings.json
  packages/strapi-plugin-documentation/services/Documentation.js
  packages/strapi-plugin-email/admin/src/containers/Settings/index.js
  packages/strapi-plugin-email/controllers/Email.js
  packages/strapi-plugin-graphql/README.md
  packages/strapi-plugin-users-permissions/admin/src/containers/EmailTemplates/CustomTextInput.js
  packages/strapi-plugin-users-permissions/admin/src/containers/EmailTemplates/utils/forms.js
  packages/strapi-plugin-users-permissions/controllers/Auth.js
  packages/strapi-plugin-users-permissions/documentation/1.0.0/overrides/users-permissions-User.json
  packages/strapi-provider-upload-aws-s3/README.md
  packages/strapi-provider-upload-cloudinary/README.md
  packages/strapi-provider-upload-local/README.md
  packages/strapi-provider-upload-rackspace/README.md
  packages/strapi-utils/lib/convert-rest-query-params.js
  packages/strapi/lib/services/metrics/index.js
Labels: source: documentation

#9623 Fix german translation
  packages/strapi-admin/admin/src/translations/de.json
Labels: source: admin, type: translation

#9605 Fix display of falsey values in component banner
  packages/strapi-plugin-content-manager/admin/src/components/RepeatableComponent/Banner.js
Labels: source: plugin:content-manager, type: enhancement

#9660 Fix/gql dz
  packages/strapi-connector-mongoose/lib/mount-models.js
  packages/strapi-plugin-graphql/services/type-definitions.js
Labels: source: plugin:graphql, type: bug

#9685 Fix WYSIWYG state
  packages/strapi-plugin-content-manager/admin/src/components/Wysiwyg/index.js
Labels: source: plugin:content-manager, type: bug

#9562 Fixed bug that wasn't enabling to click behind notification div
  packages/strapi-admin/admin/src/components/Notifications/NotificationsContainer/Wrapper.js
  packages/strapi-admin/admin/src/containers/NewNotification/Notification/styledComponents.js
  packages/strapi-admin/admin/src/containers/NewNotification/Wrapper.js
Labels: source: admin, type: bug

#9396 Fix error with polymorphic relations when the attribute name is different to related
  packages/strapi-connector-bookshelf/lib/mount-models.js
Labels: source: core:database, type: bug

#9690 Fix Korean translations for relation.manyToOne
  packages/strapi-plugin-content-type-builder/admin/src/translations/ko.json
Labels: type: translation

#9684 Fix dependabot not allowed to use secrets
  .github/workflows/tests.yml
Labels: source: core:tooling, type: bug

#9801 Delete useless test
  packages/strapi-admin/services/__tests__/role.test.js
Labels: severity: low, source: admin, type: bug

#9784 Just a minor typo
  packages/strapi-plugin-users-permissions/services/UsersPermissions.js
Labels: source: plugin:users-permissions, type: enhancement

#9480 [Starter CLI] Create CLI for Strapi starter project
  packages/create-strapi-starter/LICENSE
  packages/create-strapi-starter/README.md
  packages/create-strapi-starter/create-strapi-starter.js
  packages/create-strapi-starter/index.js
  packages/create-strapi-starter/package.json
  packages/create-strapi-starter/resources/gitignore
  packages/create-strapi-starter/utils/build-starter.js
  packages/create-strapi-starter/utils/child-process.js
  packages/create-strapi-starter/utils/fetch-github.js
  packages/create-strapi-starter/utils/has-yarn.js
  packages/create-strapi-starter/utils/logger.js
  packages/create-strapi-starter/utils/stop-process.js
  packages/strapi-generate-new/lib/create-project.js
  packages/strapi-generate-new/lib/index.js
  packages/strapi-generate-new/lib/resources/json/package.json.js
  packages/strapi-generate-new/lib/utils/usage.js
  packages/strapi/lib/core/app-configuration/index.js
  packages/strapi/lib/services/metrics/__tests__/index.test.js
  packages/strapi/lib/services/metrics/index.js
  packages/strapi/lib/services/metrics/sender.js
  yarn.lock
Labels: source: core:cli, type: feature request

#9845 add cross env
  packages/create-strapi-starter/utils/build-starter.js
Labels: source: core:cli, type: bug
