Repository strapi/strapi, pull requests merged in 2021-04, with the labels that each got.

#9916 Fix object wrong mutation in the CM
  packages/strapi-plugin-content-manager/admin/src/utils/removeKeyInObject.js
  packages/strapi-plugin-content-manager/admin/src/utils/tests/removeKeyInObject.test.js
Labels: source: plugin:content-manager, type: bug

#9935 Update bug report template with LTS version information
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Labels: source: documentation, type: enhancement

#9538 Remove some of the unnecessary distinct
  packages/strapi-connector-bookshelf/lib/buildQuery.js
Labels: source: core:database, type: enhancement

#9603 Fix undefined filter value Error (#8490)
  packages/strapi-utils/lib/build-query.js
Labels: source: core:database, type: enhancement

#10060 Fix typo in spanish translation
  packages/strapi-admin/admin/src/translations/es.json
Labels: source: admin, type: translation

#9947 Fix Email Provider Readme.
  packages/strapi-plugin-email/README.md
  packages/strapi-provider-email-amazon-ses/README.md
  packages/strapi-provider-email-mailgun/README.md
  packages/strapi-provider-email-nodemailer/README.md
  packages/strapi-provider-email-sendgrid/README.md
  packages/strapi-provider-email-sendmail/README.md
Labels: source: documentation, type: enhancement

#9858 Improve english text
  packages/strapi-admin/admin/src/translations/en.json
  packages/strapi-helper-plugin/lib/src/testUtils/commonTrads.json
  test/config/front/testUtils/commonTrads.json
Labels: source: admin, type: translation

#10022 Update missing fields in the hebrew translation
  packages/strapi-admin/admin/src/translations/he.json
Labels: source: admin, type: translation

#9713 Fixes private field of target relation being reset - #9712
  packages/strapi-plugin-content-type-builder/services/schema-builder/content-type-builder.js
Labels: source: plugin:content-type-builder, type: bug

#10141 [graphQL + mongo] Fix broken localizations query
  packages/strapi-plugin-i18n/config/functions/register.js
Labels: source: plugin:i18n, type: bug

#10145 Fix #10125 - Accept falsy values returned by controllers in GraphQL queries and mutations
  packages/strapi-plugin-graphql/services/__tests__/resolvers-builder.test.js
  packages/strapi-plugin-graphql/services/resolvers-builder.js
Labels: source: plugin:graphql, type: bug

#10102 Fix issue relation loosing extra options on ctb update
  packages/strapi-plugin-content-type-builder/services/schema-builder/content-type-builder.js
  packages/strapi-plugin-content-type-builder/services/schema-builder/index.js
Labels: source: plugin:content-type-builder, type: bug

#10116 Fix typo in query error message
  packages/strapi-utils/lib/build-query.js
Labels: source: documentation, type: enhancement

#10132 Fixed typo
  packages/strapi-admin/admin/src/translations/en.json
Labels: source: admin, type: translation

#10133 Updated Russian translate
  packages/strapi-admin/admin/src/translations/ru.json
Labels: source: admin, type: translation

#9923 Add DKIM config example
  packages/strapi-provider-email-sendmail/README.md
Labels: source: documentation, type: enhancement

#10139 [RBAC] Ignore only non visible attributes instead of non configurable ones
  packages/strapi-admin/services/permission/sections-builder/handlers.js
  packages/strapi-admin/tests/admin-permission.test.e2e.js
Labels: source: core:framework, type: bug

#10111 Fix issue with incorrect cli termination when using flags quickstart and no-run
  packages/create-strapi-app/create-strapi-app.js
Labels: type: bug, type: enhancement

#10148 Remove cache key so the url is valid for cors policy
  packages/strapi-plugin-upload/admin/src/components/EditForm/index.js
Labels: source: plugin:upload, type: bug

#10171 fix/i18n-superAdminRole
  packages/strapi-plugin-i18n/services/permissions/actions.js
Labels: source: plugin:i18n, type: enhancement

#10173 Fix #10172
  packages/strapi/lib/core-api/service/collection-type.js
Labels: source: core:framework, type: bug

#10152 Update french translation to i18n plugin
  packages/strapi-plugin-i18n/admin/src/translations/fr.json
Labels: source: plugin:i18n, type: translation
