Repository strapi/strapi, pull requests merged in 2021-09, with the labels that each got.

#10838 Add GET endpoint to list API tokens
  packages/core/admin/server/content-types/api-token.js
  packages/core/admin/server/controllers/__tests__/api-token.test.js
  packages/core/admin/server/controllers/api-token.js
  packages/core/admin/server/routes.js
  packages/core/admin/server/services/__tests__/api-token.test.js
  packages/core/admin/server/services/api-token.js
  packages/core/admin/server/services/constants.js
  packages/core/admin/server/tests/admin-api-token.test.e2e.js
  packages/core/admin/server/validation/api-tokens.js
Labels: source: admin

#10850 V4/graphql customization
  packages/core/utils/lib/policy.js
  packages/plugins/graphql/package.json
  packages/plugins/graphql/server/bootstrap.js
  packages/plugins/graphql/server/services/builders/entity.js
  packages/plugins/graphql/server/services/builders/mutations/collection-type.js
  packages/plugins/graphql/server/services/builders/queries/collection-type.js
  packages/plugins/graphql/server/services/builders/queries/single-type.js
  packages/plugins/graphql/server/services/builders/resolvers/association.js
  packages/plugins/graphql/server/services/builders/resolvers/component.js
  packages/plugins/graphql/server/services/builders/resolvers/mutation.js
  packages/plugins/graphql/server/services/builders/resolvers/query.js
  packages/plugins/graphql/server/services/builders/response-collection.js
  packages/plugins/graphql/server/services/builders/type.js
  packages/plugins/graphql/server/services/builders/utils.js
  packages/plugins/graphql/server/services/content-api/index.js
  packages/plugins/graphql/server/services/content-api/policy.js
  packages/plugins/graphql/server/services/content-api/register-functions/collection-type.js
  packages/plugins/graphql/server/services/content-api/register-functions/component.js
  packages/plugins/graphql/server/services/content-api/register-functions/content-type/dynamic-zones.js
  packages/plugins/graphql/server/services/content-api/register-functions/content-type/enums.js
  packages/plugins/graphql/server/services/content-api/register-functions/content-type/filters.js
  packages/plugins/graphql/server/services/content-api/register-functions/content-type/index.js
  packages/plugins/graphql/server/services/content-api/register-functions/content-type/inputs.js
  packages/plugins/graphql/server/services/content-api/register-functions/index.js
  packages/plugins/graphql/server/services/content-api/register-functions/internals.js
  packages/plugins/graphql/server/services/content-api/register-functions/polymorphic.js
  packages/plugins/graphql/server/services/content-api/register-functions/scalars.js
  packages/plugins/graphql/server/services/content-api/register-functions/single-type.js
  packages/plugins/graphql/server/services/content-api/wrap-resolvers.js
  packages/plugins/graphql/server/services/extension/extension-registry.js
  packages/plugins/graphql/server/services/extension/extension.js
  packages/plugins/graphql/server/services/extension/index.js
  packages/plugins/graphql/server/services/generators/content-api.js
  packages/plugins/graphql/server/services/generators/index.js
  packages/plugins/graphql/server/services/index.js
  packages/plugins/graphql/server/services/internals/types/response-collection-meta.js
  packages/plugins/i18n/server/graphql.js
  packages/plugins/i18n/server/register.js
  yarn.lock
Labels: type: enhancement, source: plugin:graphql

#10849 Bump tar to 6.1.9
  packages/create-strapi-starter/package.json
  packages/strapi-generate-new/package.json
  yarn.lock
Labels: source: core:tooling, type: security

#10848 Improve the test section of the CONTRIBUTRING file.
  CONTRIBUTING.md
Labels: type: enhancement, source: documentation

#10800 bump sharp to 0.29.0
  packages/strapi-plugin-upload/package.json
Labels: type: enhancement, source: plugin:upload, dependencies

#10895 Implement PUT endpoint to update a token
  packages/core/admin/server/controllers/__tests__/api-token.test.js
  packages/core/admin/server/controllers/api-token.js
  packages/core/admin/server/routes/api-tokens.js
  packages/core/admin/server/services/__tests__/api-token.test.js
  packages/core/admin/server/services/api-token.js
  packages/core/admin/server/tests/admin-api-token.test.e2e.js
  packages/core/admin/server/validation/api-tokens.js
Labels: source: admin

#10994 add an `api-token` auth strategy to the `content-api`
  packages/core/admin/server/controllers/api-token.js
  packages/core/admin/server/register.js
  packages/core/admin/server/services/api-token.js
  packages/core/admin/server/strategies/__tests__/admin.test.js
  packages/core/admin/server/strategies/__tests__/api-token.test.js
  packages/core/admin/server/strategies/admin.js
  packages/core/admin/server/strategies/api-token.js
  packages/core/admin/server/strategies/index.js
  packages/core/strapi/lib/services/auth/index.js
  packages/plugins/users-permissions/server/register.js
  packages/plugins/users-permissions/server/strategies/users-permissions.js
Labels: source: admin

#11029 API Token backend implementation
  packages/core/admin/server/bootstrap.js
  packages/core/admin/server/config/admin-actions.js
  packages/core/admin/server/config/api-token.js
  packages/core/admin/server/config/index.js
  packages/core/admin/server/content-types/api-token.js
  packages/core/admin/server/content-types/index.js
  packages/core/admin/server/controllers/__tests__/api-token.test.js
  packages/core/admin/server/controllers/api-token.js
  packages/core/admin/server/controllers/index.js
  packages/core/admin/server/register.js
  packages/core/admin/server/routes/api-tokens.js
  packages/core/admin/server/routes/index.js
  packages/core/admin/server/services/__tests__/api-token.test.js
  packages/core/admin/server/services/api-token.js
  packages/core/admin/server/services/constants.js
  packages/core/admin/server/services/index.js
  packages/core/admin/server/strategies/__tests__/admin.test.js
  packages/core/admin/server/strategies/__tests__/api-token.test.js
  packages/core/admin/server/strategies/admin.js
  packages/core/admin/server/strategies/api-token.js
  packages/core/admin/server/strategies/index.js
  packages/core/admin/server/tests/admin-api-token.test.e2e.js
  packages/core/admin/server/tests/admin-permission.test.e2e.js
  packages/core/admin/server/utils/index.d.ts
  packages/core/admin/server/validation/api-tokens.js
  packages/core/strapi/lib/services/auth/index.js
  packages/plugins/users-permissions/server/register.js
  packages/plugins/users-permissions/server/strategies/users-permissions.js
Labels: source: admin
