Repository strapi/strapi, pull requests merged in 2021-05, with the labels that each got.

#10255 Make listLocales route available for non-admin
  packages/strapi-plugin-i18n/config/routes.json
Labels: source: plugin:i18n, type: enhancement

#10193 Fixes #10187
  packages/strapi-plugin-content-type-builder/admin/src/components/ListRow/index.js
Labels: source: plugin:content-type-builder, type: bug

#9805 GraphQL Plugin (bug): Content type's attributes marked as private are being exposed in the exported GraphQL schema
  packages/strapi-plugin-graphql/services/shadow-crud.js
  packages/strapi-plugin-graphql/services/type-builder.js
  packages/strapi-plugin-graphql/tests/graphqlSchema.test.e2e.js
Labels: source: plugin:graphql, type: enhancement

#10185 Add possibility to set "required" RBAC conditions
  packages/strapi-admin/domain/condition/__tests__/condition-domain.test.js
  packages/strapi-admin/domain/condition/index.js
  packages/strapi-admin/services/__tests__/permissions-manager.test.js
  packages/strapi-admin/services/__tests__/permissions.engine.test.js
  packages/strapi-admin/services/permission/engine-hooks.js
  packages/strapi-admin/services/permission/engine.js
  packages/strapi-admin/services/permission/permissions-manager/index.js
  packages/strapi-admin/services/permission/permissions-manager/query-builers.js
  packages/strapi-admin/services/role.js
  packages/strapi-admin/tests/admin-permission.test.e2e.js
  packages/strapi-connector-bookshelf/lib/buildQuery.js
  packages/strapi-plugin-i18n/config/functions/bootstrap.js
  packages/strapi-plugin-i18n/services/permissions.js
  packages/strapi-plugin-i18n/services/permissions/conditions.js
  packages/strapi-plugin-i18n/services/permissions/engine.js
  packages/strapi-utils/lib/build-query.js
  packages/strapi-utils/lib/convert-rest-query-params.js
Labels: source: core:framework, type: enhancement

#10281 Fix compatibility issue for mongo < 4.2
  packages/strapi-admin/config/migrations/permissions-fields-to-properties.js
Labels: source: core:database, type: bug

#9846 Added norwegian translation.
  packages/strapi-admin/admin/src/translations/index.js
  packages/strapi-admin/admin/src/translations/no.json
Labels: source: admin, type: translation

#10203 Removed extra space
  packages/strapi-plugin-content-type-builder/admin/src/translations/de.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/dk.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/en.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/fr.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/id.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/it.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/ms.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/nl.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/sk.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/th.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/uk.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/zh.json
Labels: source: admin, type: translation

#10204 Added missing translation(content type builder)
  packages/strapi-plugin-content-type-builder/admin/src/translations/ru.json
Labels: source: plugin:content-type-builder, type: translation

#10205 Added missing translations(Documentation plugin)
  packages/strapi-plugin-documentation/admin/src/translations/ru.json
Labels: source: plugin:documentation, type: translation

#10207 Update German strapi-admin translations
  packages/strapi-admin/admin/src/translations/de.json
  packages/strapi-plugin-content-manager/admin/src/translations/de.json
Labels: source: admin, type: translation

#10202 Added missing translations
  packages/strapi-plugin-content-manager/admin/src/translations/ru.json
Labels: source: plugin:content-manager, type: translation

#10033 Fix date field being parsed with a timezone
  packages/strapi-plugin-content-manager/admin/src/containers/EditViewDataManagerProvider/utils/cleanData.js
Labels: source: plugin:content-manager, type: bug

#10269 Removing positive requirement of integer validation
  packages/strapi-plugin-content-type-builder/admin/src/containers/FormModal/attributes/validation/common.js
Labels: source: plugin:content-type-builder, type: bug

#10291 Fix RBAC permissions without subject ignoring conditions
  packages/strapi-admin/services/__tests__/permissions.engine.test.js
  packages/strapi-admin/services/permission/engine.js
Labels: source: core:framework, type: bug

#8058 Add support for login via cas - github.com/apereo/cas
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
  packages/strapi-plugin-users-permissions/services/Providers.js
Labels: source: plugin:users-permissions, type: feature request

#10309 Update webhook doc link
  packages/strapi-admin/admin/src/containers/Webhooks/ListView/index.js
Labels: source: admin, type: bug

#10339 Fixes #10328
  packages/strapi-plugin-i18n/admin/src/components/CMEditViewCopyLocale/index.js
Labels: type: bug

#10340 Add @strapi/logger
  packages/core/strapi/lib/Strapi.js
  packages/core/strapi/lib/core/app-configuration/config-provider.js
  packages/core/strapi/lib/middlewares/logger/defaults.json
  packages/core/strapi/lib/middlewares/logger/index.js
  packages/core/strapi/package.json
  packages/core/utils/lib/index.js
  packages/core/utils/lib/logger.js
  packages/logger/.gitignore
  packages/logger/LICENSE
  packages/logger/lib/constants.js
  packages/logger/lib/default-configuration.js
  packages/logger/lib/formats/index.js
  packages/logger/lib/formats/level-filter.js
  packages/logger/lib/formats/pretty-print.js
  packages/logger/lib/index.js
  packages/logger/package.json
  yarn.lock
Labels: source: core:framework, type: enhancement

#10372 Move logger to utils
  packages/utils/logger/.gitignore
  packages/utils/logger/LICENSE
  packages/utils/logger/lib/constants.js
  packages/utils/logger/lib/default-configuration.js
  packages/utils/logger/lib/formats/index.js
  packages/utils/logger/lib/formats/level-filter.js
  packages/utils/logger/lib/formats/pretty-print.js
  packages/utils/logger/lib/index.js
  packages/utils/logger/package.json
Labels: source: core:framework, type: enhancement

#10378 Fix duplicate locale when creating an entry without specifying the locale
  packages/strapi-plugin-i18n/config/policies/validateLocaleCreation.js
Labels: source: plugin:i18n, type: bug

#10331 add export-template command to cli
  packages/strapi/bin/strapi.js
  packages/strapi/lib/commands/__tests__/generate-template.test.js
  packages/strapi/lib/commands/generate-template.js
Labels: source: core:cli, type: enhancement
