Repository strapi/strapi, pull requests merged in 2021-08, with the labels that each got.

#10592 Remove one-click deploy buttons
  README.md
  packages/strapi/README.md
Labels: source: documentation, type: enhancement

#10652 Fixed typo
  packages/strapi-plugin-content-type-builder/controllers/validation/types.js
Labels: source: documentation, type: enhancement

#10657 Fix typo in documentation plugin
  packages/strapi-plugin-documentation/services/Documentation.js
Labels: source: documentation, type: enhancement

#10584 left menu header background color link from theme
  packages/strapi-admin/admin/src/components/LeftMenu/LeftMenuHeader/Wrapper.js
  packages/strapi-admin/admin/src/themes/colors.js
Labels: source: admin, type: enhancement

#10512 Update tr.json
  packages/strapi-plugin-content-manager/admin/src/translations/tr.json
Labels: source: admin, type: translation

#10507 Update tr.json (Turkish language)
  packages/strapi-admin/admin/src/translations/tr.json
Labels: source: admin, type: translation

#10677 add marketplace banner that links to strapi awesome
  packages/strapi-admin/admin/src/assets/images/banner_strapi-rocket.png
  packages/strapi-admin/admin/src/containers/MarketplacePage/PluginBanner/Wrapper.js
  packages/strapi-admin/admin/src/containers/MarketplacePage/PluginBanner/index.js
  packages/strapi-admin/admin/src/containers/MarketplacePage/index.js
  packages/strapi-admin/admin/src/translations/en.json
  yarn.lock
Labels: source: admin, type: enhancement

#10408 [I18N] improve simplified Chinese translation
  packages/strapi-admin/admin/src/components/Roles/ConditionsModal/ActionRow/index.js
  packages/strapi-admin/admin/src/components/Roles/ContentTypeCollapse/CollapsePropertyMatrix/Header/index.js
  packages/strapi-admin/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-content-manager/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-documentation/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-email/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-graphql/admin/src/translations/index.js
  packages/strapi-plugin-graphql/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-i18n/admin/src/components/CMEditViewCopyLocale/index.js
  packages/strapi-plugin-i18n/admin/src/components/ModalEdit/index.js
  packages/strapi-plugin-i18n/admin/src/translations/en.json
  packages/strapi-plugin-i18n/admin/src/translations/index.js
  packages/strapi-plugin-i18n/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-upload/admin/src/translations/index.js
  packages/strapi-plugin-upload/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-users-permissions/admin/src/containers/AdvancedSettings/index.js
  packages/strapi-plugin-users-permissions/admin/src/containers/AdvancedSettings/utils/form.js
  packages/strapi-plugin-users-permissions/admin/src/containers/Roles/CreatePage/index.js
  packages/strapi-plugin-users-permissions/admin/src/containers/Roles/EditPage/index.js
  packages/strapi-plugin-users-permissions/admin/src/containers/Roles/ListPage/index.js
  packages/strapi-plugin-users-permissions/admin/src/index.js
  packages/strapi-plugin-users-permissions/admin/src/translations/en.json
  packages/strapi-plugin-users-permissions/admin/src/translations/zh-Hans.json
Labels: source: plugin:i18n, type: translation

#10492 fix: consider custom devServer config
  packages/strapi-admin/index.js
Labels: source: admin, type: enhancement

#10602 Update AWS S3 Provider Documentation
  packages/strapi-provider-upload-aws-s3/README.md
Labels: source: documentation, type: enhancement

#10692 Update contrib guide to swap slack for discord
  CONTRIBUTING.md
Labels: type: enhancement, source: documentation

#10509 change common beginning to common path
  packages/strapi-utils/lib/__tests__/string-formatting.test.js
  packages/strapi-utils/lib/config.js
  packages/strapi-utils/lib/string-formatting.js
Labels: type: enhancement, source: core:framework

#10690 Added a POST route to the SSO routes to support SAML login callbacks
  packages/strapi-admin/ee/middlewares/features-routes/routes.js
Labels: type: bug, source: core:framework, meta: EE Customer

#10787 Fix blocked users being able to sign in using forgot password
  packages/strapi-plugin-users-permissions/controllers/Auth.js
Labels: type: bug, source: plugin:users-permissions, type: security

#10747 fix grammar
  packages/strapi-admin/admin/src/translations/en.json
Labels: type: enhancement, source: admin

#10766 Update Landing page social links
  packages/strapi-admin/admin/src/assets/images/social_discord.png
  packages/strapi-admin/admin/src/assets/images/social_medium.png
  packages/strapi-admin/admin/src/assets/images/social_slack.png
  packages/strapi-admin/admin/src/assets/images/social_strapi.png
  packages/strapi-admin/admin/src/containers/HomePage/SocialLink.js
  packages/strapi-admin/admin/src/containers/HomePage/index.js
Labels: type: enhancement, source: admin

#10788 Add CRUD permission for the api token
  packages/core/admin/server/config/admin-actions.js
  packages/core/admin/server/tests/admin-permission.test.e2e.js
Labels: source: admin

#10805 Implement the POST endpoint to create api tokens
  packages/core/admin/server/bootstrap.js
  packages/core/admin/server/config/api-token.js
  packages/core/admin/server/config/index.js
  packages/core/admin/server/content-types/api-token.js
  packages/core/admin/server/content-types/index.js
  packages/core/admin/server/controllers/__tests__/api-token.test.js
  packages/core/admin/server/controllers/api-token.js
  packages/core/admin/server/controllers/index.js
  packages/core/admin/server/routes.js
  packages/core/admin/server/services/__tests__/api-token.test.js
  packages/core/admin/server/services/api-token.js
  packages/core/admin/server/services/index.js
  packages/core/admin/server/tests/admin-api-token.test.e2e.js
  packages/core/admin/server/utils/index.d.ts
  packages/core/admin/server/validation/api-tokens.js
Labels: source: admin
