Repository strapi/strapi, pull requests merged in 2021-01, with the labels that each got.

#9032 Fixed removeKeyInObject function
  packages/strapi-plugin-content-manager/admin/src/utils/removeKeyInObject.js
  packages/strapi-plugin-content-manager/admin/src/utils/tests/removeKeyInObject.test.js
Labels: source: plugin:content-manager, type: bug

#9030 if there are files
  packages/strapi/lib/services/entity-service.js
Labels: source: core:framework, type: enhancement

#9020 Refactor graphql association resolvers
  packages/strapi-connector-mongoose/lib/buildQuery.js
  packages/strapi-plugin-graphql/services/__tests__/data-loaders.test.js
  packages/strapi-plugin-graphql/services/data-loaders.js
  packages/strapi-plugin-graphql/services/resolvers-builder.js
  packages/strapi-plugin-graphql/services/type-definitions.js
  packages/strapi-plugin-graphql/services/utils.js
Labels: source: plugin:graphql, type: bug

#9046 Fix deep query sort when using pagination operators (start, limit) & MongoDB
  packages/strapi-connector-mongoose/lib/buildQuery.js
Labels: source: core:database, type: bug

#9063 Add missing German translations
  packages/strapi-plugin-content-manager/admin/src/translations/de.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/de.json
Labels: type: translation

#7420 merge arrays in createDocObject and changed object equality function
  packages/strapi-plugin-documentation/services/Documentation.js
Labels: source: plugin:documentation, type: bug

#9070 Fix typo in load-plugins file pattern preventing the app to start
  packages/strapi/lib/core/load-plugins.js
Labels: source: core:framework, type: bug

#8669 Check that model and model.privateAttributes is not undefined
  packages/strapi-utils/lib/content-types.js
Labels: source: core:framework, type: bug

#8961 Improves Italian translation
  packages/strapi-admin/admin/src/translations/it.json
  packages/strapi-plugin-content-manager/admin/src/translations/it.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/it.json
  packages/strapi-plugin-documentation/admin/src/translations/it.json
  packages/strapi-plugin-upload/admin/src/translations/it.json
  packages/strapi-plugin-users-permissions/admin/src/translations/it.json
Labels: source: admin, type: translation

#8922 Translation update en.json is->are
  packages/strapi-plugin-content-manager/admin/src/translations/en.json
Labels: source: admin, type: translation

#9094 Fix count method w/ D&P filters on MongoDB
  packages/strapi-connector-mongoose/lib/queries.js
  packages/strapi/tests/publication-state.test.e2e.js
Labels: source: core:database, type: bug

#9045 Fix query when filtering and sorting on a relational field
  packages/strapi-connector-bookshelf/lib/buildQuery.js
  packages/strapi-connector-bookshelf/lib/mount-models.js
  packages/strapi-plugin-content-manager/tests/api/basic-count-relations.test.e2e.js
  packages/strapi-plugin-content-manager/tests/api/basic-relations.test.e2e.js
  packages/strapi-utils/lib/build-query.js
Labels: source: core:database, type: bug

#8377 Configurable default _limit parameter
  packages/strapi/lib/core-api/__tests__/service.test.js
  packages/strapi/lib/core-api/service.js
  packages/strapi/lib/services/entity-service.js
Labels: source: core:framework, type: enhancement

#8545 feat(middleware-cors): allow setting cors origin with a method
  packages/strapi/lib/middlewares/cors/index.js
Labels: source: core:framework, type: enhancement

#6447 Add session option to Strapi query for Mongo Multi-Document transaction
  packages/strapi-connector-mongoose/lib/buildQuery.js
  packages/strapi-connector-mongoose/lib/queries.js
  packages/strapi-connector-mongoose/lib/relations.js
  packages/strapi-plugin-content-manager/tests/api/basic-relations.test.e2e.js
  packages/strapi-plugin-content-manager/tests/dynamiczones/simple.test.e2e.js
  packages/strapi-plugin-documentation/services/Documentation.js
  packages/strapi/lib/core-api/__tests__/service.test.js
  packages/strapi/tests/filtering.test.e2e.js
  test/helpers/request.js
Labels: source: core:database, type: enhancement

#9106 Adding documentation for M1 users
  CONTRIBUTING.md
Labels: source: documentation, type: enhancement

#9089 Update README to include a section for the live demo
  README.md
Labels: source: documentation, type: enhancement

#8861 Consolidate lodash dependency to 4.17.20
  packages/strapi-admin/package.json
  packages/strapi-connector-bookshelf/package.json
  packages/strapi-connector-mongoose/package.json
  packages/strapi-database/package.json
  packages/strapi-generate-api/package.json
  packages/strapi-generate-controller/package.json
  packages/strapi-generate-model/package.json
  packages/strapi-generate-new/package.json
  packages/strapi-generate-plugin/package.json
  packages/strapi-generate-policy/package.json
  packages/strapi-generate-service/package.json
  packages/strapi-generate/package.json
  packages/strapi-helper-plugin/package.json
  packages/strapi-hook-redis/package.json
  packages/strapi-middleware-views/package.json
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-content-type-builder/package.json
  packages/strapi-plugin-documentation/package.json
  packages/strapi-plugin-email/package.json
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-users-permissions/package.json
  packages/strapi-provider-email-nodemailer/package.json
  packages/strapi-provider-upload-aws-s3/package.json
  packages/strapi-utils/package.json
  packages/strapi/package.json
Labels: dependencies

#8996 Fix typo in Polish translation
  packages/strapi-plugin-content-type-builder/admin/src/translations/pl.json
Labels: source: admin, type: translation

#9095 Fixed removeKeyInObject.js which has been breaking moment objects
  packages/strapi-plugin-content-manager/admin/src/utils/removeKeyInObject.js
  packages/strapi-plugin-content-manager/admin/src/utils/tests/removeKeyInObject.test.js
Labels: source: plugin:content-manager, type: bug

#9118 Fix CM limited to show only 100 entries
  packages/strapi-connector-bookshelf/lib/queries.js
  packages/strapi-connector-mongoose/lib/queries.js
Labels: source: plugin:content-manager, type: bug

#8899 Fix #8796 - fix relation typo in fr
  packages/strapi-plugin-content-type-builder/admin/src/translations/fr.json
Labels: source: admin, type: translation

#9115 Fix sortable config disabled at launch
  packages/strapi-plugin-content-manager/services/utils/configuration/__tests__/attributes.test.js
  packages/strapi-plugin-content-manager/services/utils/configuration/attributes.js
Labels: source: plugin:content-manager, type: bug

#9128 Fix REST api for content-types that start with "admin"
  packages/strapi/lib/middlewares/public/index.js
Labels: source: core:framework, type: bug

#9139 Fix search
  packages/strapi-plugin-content-manager/admin/src/components/Search/index.js
Labels: source: plugin:content-manager, type: bug

#9155 Add min:0 to templates of Bookshelf DBs. Issue #8436
  packages/strapi-connector-bookshelf/lib/knex.js
Labels: source: core:database, type: bug

#9133 Fixed typo "mentionned" -> "mentioned" @ project creation error
  packages/strapi-generate-new/lib/create-project.js
Labels: source: core:tooling, type: bug

#9101 Fix instagram login after instagram API changed
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
  packages/strapi-plugin-users-permissions/package.json
  packages/strapi-plugin-users-permissions/services/Providers.js
  yarn.lock
Labels: flag: migration guide, source: plugin:users-permissions, type: bug

#9141 Update German translations
  packages/strapi-admin/admin/src/translations/de.json
  packages/strapi-plugin-content-manager/admin/src/translations/de.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/de.json
  packages/strapi-plugin-upload/admin/src/translations/de.json
  packages/strapi-plugin-users-permissions/admin/src/translations/de.json
Labels: source: admin, type: translation

#9138 Fix file extensions not always detected with cloudinary
  packages/strapi-provider-upload-cloudinary/lib/index.js
Labels: source: plugin:upload, type: bug

#9142 Fix for failing SQLite3 issue on windows
  packages/strapi-generate-new/lib/utils/db-client-dependencies.js
Labels: source: core:database, type: bug

#8419 Fix lower() error when running on non-string column
  packages/strapi-connector-bookshelf/lib/buildQuery.js
Labels: source: core:database, type: bug

#9172 [Rebased] Accept info fields when uploading file through GraphQL
  packages/strapi-plugin-upload/config/schema.graphql.js
  packages/strapi-plugin-upload/tests/graphqlUpload.test.e2e.js
Labels: source: plugin:graphql, type: enhancement

#9131 Fix/8754 disable graphql queries other than crud
  packages/strapi-plugin-graphql/hooks/graphql/index.js
  packages/strapi-plugin-graphql/package.json
  packages/strapi-plugin-graphql/services/schema-generator.js
  yarn.lock
Labels: source: plugin:graphql, type: enhancement

#9074 Update strapi-admin Japanese translation
  packages/strapi-admin/admin/src/translations/ja.json
Labels: source: admin, type: translation

#8537 Add reddit auth provider
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
  packages/strapi-plugin-users-permissions/services/Providers.js
Labels: source: plugin:users-permissions, type: enhancement

#8353 add danish translations to some packages
  packages/strapi-admin/admin/src/translations/dk.json
  packages/strapi-admin/admin/src/translations/index.js
  packages/strapi-plugin-content-manager/admin/src/translations/dk.json
  packages/strapi-plugin-content-manager/admin/src/translations/index.js
  packages/strapi-plugin-content-type-builder/admin/src/translations/dk.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/index.js
  packages/strapi-plugin-email/admin/src/translations/dk.json
  packages/strapi-plugin-email/admin/src/translations/index.js
  packages/strapi-plugin-upload/admin/src/translations/dk.json
  packages/strapi-plugin-upload/admin/src/translations/index.js
  packages/strapi-plugin-users-permissions/admin/src/translations/dk.json
  packages/strapi-plugin-users-permissions/admin/src/translations/index.js
Labels: source: admin, type: translation

#8362 feat(users-permissions): Add Auth0 provider
  packages/strapi-connector-mongoose/lib/buildQuery.js
  packages/strapi-plugin-users-permissions/config/functions/bootstrap.js
  packages/strapi-plugin-users-permissions/services/Providers.js
Labels: source: plugin:users-permissions, type: feature request

#8367 Handle duplicate entry error
  packages/strapi-connector-bookshelf/lib/queries.js
  packages/strapi-connector-bookshelf/lib/utils/errors.js
  packages/strapi-connector-mongoose/lib/queries.js
  packages/strapi-connector-mongoose/lib/utils/errors.js
Labels: source: core:database, type: enhancement

#9156 Fix relation search
  packages/strapi-plugin-content-manager/admin/src/components/SelectMany/index.js
  packages/strapi-plugin-content-manager/admin/src/components/SelectOne/index.js
  packages/strapi-plugin-content-manager/admin/src/components/SelectWrapper/index.js
  packages/strapi-plugin-content-manager/config/routes.json
  packages/strapi-plugin-content-manager/controllers/__tests__/relations.test.js
  packages/strapi-plugin-content-manager/controllers/relations.js
  packages/strapi-plugin-content-manager/oas.yml
  packages/strapi-plugin-content-manager/tests/relation-list.test.e2e.js
Labels: source: plugin:content-manager, type: bug

#9214 Prevent returning optimized image if it's larger than original
  packages/strapi-plugin-upload/services/image-manipulation.js
Labels: source: plugin:upload, type: enhancement

#9213 Fix is-creator condition not applied on find
  packages/strapi-admin/services/__tests__/permissions-manager.test.js
  packages/strapi-admin/services/permission/permissions-manager/index.js
  packages/strapi-plugin-content-manager/controllers/collection-types.js
  packages/strapi-plugin-content-manager/services/permission-checker.js
Labels: source: plugin:content-manager, type: bug

#9204 Fixes 9180
  packages/strapi-plugin-content-manager/admin/src/components/InputJSON/index.js
Labels: source: plugin:content-manager, type: bug

#9219 add support for actionOptions for provider upload and delete functions
  packages/strapi-plugin-upload/config/config.json
  packages/strapi-plugin-upload/config/functions/bootstrap.js
  packages/strapi-provider-upload-cloudinary/README.md
Labels: source: plugin:upload, type: enhancement

#9247 Fix snapshots
  jest.config.front.js
  packages/strapi-admin/admin/src/components/Webhooks/HeadersInput/tests/__snapshots__/index.test.js.snap
  packages/strapi-admin/admin/src/components/Webhooks/Inputs/tests/__snapshots__/index.test.js.snap
Labels: source: admin

#8865 Update .npmignore files
  packages/strapi-admin/.npmignore
  packages/strapi-admin/admin/.gitignore
  packages/strapi-connector-bookshelf/.npmignore
  packages/strapi-connector-mongoose/.npmignore
  packages/strapi-database/.npmignore
  packages/strapi-generate-api/.npmignore
  packages/strapi-generate-controller/.npmignore
  packages/strapi-generate-model/.npmignore
  packages/strapi-generate-new/.npmignore
  packages/strapi-generate-plugin/.npmignore
  packages/strapi-generate-policy/.npmignore
  packages/strapi-generate-service/.npmignore
  packages/strapi-generate/.npmignore
  packages/strapi-hook-ejs/.npmignore
  packages/strapi-hook-redis/.npmignore
  packages/strapi-middleware-views/.npmignore
  packages/strapi-plugin-content-manager/.npmignore
  packages/strapi-plugin-content-manager/admin/.npmignore
  packages/strapi-plugin-content-type-builder/.npmignore
  packages/strapi-plugin-content-type-builder/admin/.npmignore
  packages/strapi-plugin-email/.npmignore
  packages/strapi-plugin-email/admin/.npmignore
  packages/strapi-plugin-graphql/.npmignore
  packages/strapi-plugin-upload/.npmignore
  packages/strapi-plugin-users-permissions/.npmignore
  packages/strapi-plugin-users-permissions/admin/.npmignore
  packages/strapi-provider-email-amazon-ses/.npmignore
  packages/strapi-provider-email-mailgun/.npmignore
  packages/strapi-provider-email-sendgrid/.npmignore
  packages/strapi-provider-email-sendmail/.npmignore
  packages/strapi-provider-upload-aws-s3/.npmignore
  packages/strapi-provider-upload-cloudinary/.npmignore
  packages/strapi-provider-upload-local/.npmignore
  packages/strapi-provider-upload-rackspace/.npmignore
  packages/strapi-utils/.npmignore
  packages/strapi/.npmignore
Labels: source: core:tooling, type: enhancement

#9002 strapi-plugin-upload: Read responsive breakpoints from config
  packages/strapi-plugin-upload/services/image-manipulation.js
Labels: source: plugin:upload, type: enhancement

#9260 Shows a preview message when media type is not supported
  packages/strapi-plugin-upload/admin/src/components/VideoPreview/index.js
  packages/strapi-plugin-upload/admin/src/components/VideoPreview/reducer.js
  packages/strapi-plugin-upload/admin/src/components/VideoPreview/tests/VideoPreview.test.js
  packages/strapi-plugin-upload/admin/src/components/VideoPreview/tests/__snapshots__/VideoPreview.test.js.snap
  packages/strapi-plugin-upload/admin/src/components/VideoPreview/tests/reducer.test.js
  packages/strapi-plugin-upload/admin/src/translations/en.json
  packages/strapi-plugin-upload/admin/src/translations/fr.json
  test/config/front/strapi.js
Labels: source: plugin:upload, type: bug
