Repository strapi/strapi, pull requests merged in 2021-12, with the labels that each got.

#11731 Fix provider config examples for v4
  packages/providers/email-amazon-ses/README.md
  packages/providers/email-mailgun/README.md
  packages/providers/email-nodemailer/README.md
  packages/providers/email-sendgrid/README.md
  packages/providers/email-sendmail/README.md
  packages/providers/upload-aws-s3/README.md
  packages/providers/upload-cloudinary/README.md
  packages/providers/upload-local/README.md
  packages/providers/upload-rackspace/README.md
Labels: type: bug, source: documentation, version: v4

#11727 Bump graphql-upload version & link content API scope to the custom mutations
  packages/core/upload/server/graphql.js
  packages/plugins/graphql/package.json
  yarn.lock
Labels: type: enhancement, source: plugin:graphql

#11747 [Admin] Login error message fix
  packages/core/admin/admin/src/pages/AuthPage/index.js
Labels: type: bug, source: admin

#11754 Enumeration filter support for GraphQL
  packages/plugins/graphql/server/services/constants.js
  packages/plugins/graphql/tests/graphql-crud.test.e2e.js
Labels: type: bug, source: plugin:graphql

#10680 Simplified Chinese Translation Completed
  packages/strapi-admin/admin/src/components/LeftMenu/LeftMenuHeader/Wrapper.js
  packages/strapi-admin/admin/src/components/Settings/Header/index.js
  packages/strapi-admin/admin/src/translations/zh-Hans.json
  packages/strapi-admin/index.js
  packages/strapi-plugin-content-manager/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-content-type-builder/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-documentation/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-email/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-i18n/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-sentry/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-upload/admin/src/components/EditForm/utils/form.js
  packages/strapi-plugin-upload/admin/src/translations/de.json
  packages/strapi-plugin-upload/admin/src/translations/dk.json
  packages/strapi-plugin-upload/admin/src/translations/en.json
  packages/strapi-plugin-upload/admin/src/translations/es.json
  packages/strapi-plugin-upload/admin/src/translations/fr.json
  packages/strapi-plugin-upload/admin/src/translations/he.json
  packages/strapi-plugin-upload/admin/src/translations/it.json
  packages/strapi-plugin-upload/admin/src/translations/ja.json
  packages/strapi-plugin-upload/admin/src/translations/ms.json
  packages/strapi-plugin-upload/admin/src/translations/pl.json
  packages/strapi-plugin-upload/admin/src/translations/pt-BR.json
  packages/strapi-plugin-upload/admin/src/translations/ru.json
  packages/strapi-plugin-upload/admin/src/translations/sk.json
  packages/strapi-plugin-upload/admin/src/translations/th.json
  packages/strapi-plugin-upload/admin/src/translations/uk.json
  packages/strapi-plugin-upload/admin/src/translations/zh-Hans.json
  packages/strapi-plugin-upload/admin/src/translations/zh.json
  packages/strapi-plugin-users-permissions/admin/src/containers/AdvancedSettings/index.js
  packages/strapi-plugin-users-permissions/admin/src/containers/Providers/index.js
  packages/strapi-plugin-users-permissions/admin/src/containers/Roles/ListPage/index.js
  packages/strapi-plugin-users-permissions/admin/src/translations/en.json
  packages/strapi-plugin-users-permissions/admin/src/translations/zh-Hans.json
  packages/strapi-provider-upload-aws-s3/README.md
Labels: source: admin, type: translation

#11755 CM LV Settings Dnd fixes
  packages/core/admin/admin/src/content-manager/components/DragLayer/index.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/CardPreview.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/DraggableCard.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/SortDisplayedFields.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
Labels: type: bug, severity: low, source: admin

#11833 Fix typo in in AWS-S3 Provider ReadMe
  packages/providers/upload-aws-s3/README.md
Labels: type: bug

#11749 Fix the attribute generation for the CT generator
  packages/generators/generators/.gitignore
  packages/generators/generators/lib/plops/__tests__/content-type.test.js
  packages/generators/generators/lib/plops/content-type.js
Labels: type: bug, source: core:cli

#11780 Fix saving up settings
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/utils/schema.js
Labels: type: bug, source: plugin:users-permissions

#11752 Product copy text changes v1
  packages/core/admin/admin/src/components/Notifications/Notification/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/index.js
  packages/core/admin/admin/src/content-manager/pages/App/LeftMenu/index.js
  packages/core/admin/admin/src/content-manager/pages/App/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/index.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/index.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/hooks/useSettingsMenu/utils/defaultGlobalLinks.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/EditPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/utils/stepper.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/utils/tableHeaders.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/components/MagicLink/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/components/SelectRoles/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/HeadersInput/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/CreatePage/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/components/MagicLink/index.js
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/index.js
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/useContentTypeBuilderMenu.js
  packages/core/content-type-builder/admin/src/pages/ListView/index.js
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/admin/src/translations/en.json
  packages/core/email/admin/src/index.js
  packages/core/email/admin/src/pages/Settings/components/Configuration.js
  packages/core/email/admin/src/pages/Settings/components/EmailHeader.js
  packages/core/email/admin/src/pages/Settings/index.js
  packages/core/email/admin/src/pages/Settings/tests/index.test.js
  packages/core/email/admin/src/translations/en.json
  packages/core/helper-plugin/lib/src/components/DynamicTable/index.js
  packages/core/helper-plugin/lib/src/components/EmptyStateLayout/index.js
  packages/core/helper-plugin/lib/src/components/NoContent/index.js
  packages/core/upload/admin/src/pages/SettingsPage/index.js
  packages/core/upload/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/upload/admin/src/translations/en.json
  packages/plugins/i18n/admin/src/components/LocaleList/LocaleTable.js
  packages/plugins/i18n/admin/src/components/ModalCreate/index.js
  packages/plugins/i18n/admin/src/translations/en.json
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/index.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
Labels: type: enhancement, source: admin

#11791 Set visibility on create component button when in production
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/useContentTypeBuilderMenu.js
Labels: type: bug, source: plugin:content-type-builder

#11864 Switch Enum from native type to string or text
  packages/core/database/lib/dialects/mysql/schema-inspector.js
  packages/core/database/lib/dialects/sqlite/index.js
  packages/core/database/lib/schema/diff.js
  packages/core/database/lib/schema/schema.js
Labels: source: core:database

#11808 Fix regex validation for empty string in non-required fields
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/schema.js
  packages/core/strapi/lib/services/entity-validator/__tests__/validators.test.js
  packages/core/strapi/lib/services/entity-validator/validators.js
Labels: issue-type: bug, source: core:content-manager

#11819 Update nl.json
  packages/core/admin/admin/src/translations/nl.json
Labels: source: core:admin, issue-type: translation

#11734 Update ko translation, add missing key
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/ko.json
  packages/core/content-type-builder/admin/src/translations/ko.json
  packages/core/email/admin/src/translations/ko.json
  packages/core/upload/admin/src/translations/ko.json
  packages/plugins/documentation/admin/src/translations/en.json
  packages/plugins/documentation/admin/src/translations/ko.json
  packages/plugins/i18n/admin/src/translations/ko.json
  packages/plugins/sentry/admin/src/translations/ko.json
  packages/plugins/users-permissions/admin/src/translations/ko.json
Labels: source: core:admin, issue-type: translation

#11769 Fix unable to download original image in uploader
  packages/core/upload/admin/src/components/AssetCard/AssetCard.js
  packages/core/upload/admin/src/components/EditAssetDialog/PreviewBox/index.js
  packages/core/upload/admin/src/components/EditAssetDialog/tests/EditAssetDialog.test.js
  packages/core/upload/admin/src/components/EditAssetDialog/tests/index.test.js
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/CarouselAsset.js
  packages/core/upload/admin/src/utils/createAssetUrl.js
Labels: issue-type: bug, source: core:upload

#11802 Fix plugin config per environment doesn't apply
  packages/core/strapi/lib/core/loaders/plugins/get-enabled-plugins.js
  packages/core/strapi/lib/core/loaders/plugins/get-user-plugins-config.js
  packages/core/strapi/lib/core/loaders/plugins/index.js
Labels: issue-type: bug, source: core:strapi

#11479 Fetch all entries with limit -1
  packages/core/strapi/lib/core-api/service/__tests__/index.test.js
  packages/core/strapi/lib/core-api/service/__tests__/pagination.test.js
  packages/core/strapi/lib/core-api/service/pagination.js
  packages/core/utils/lib/__tests__/pagination.test.js
  packages/core/utils/lib/convert-query-params.js
  packages/core/utils/lib/pagination.js
  packages/plugins/graphql/server/services/internals/types/response-collection-meta.js
Labels: issue-type: enhancement, source: core:strapi

#11830 Update ja.json
  packages/core/email/admin/src/translations/ja.json
Labels: source: core:email, issue-type: translation

#11898 Fix relation field in the content manager.
  packages/core/admin/admin/src/content-manager/components/ComponentInitializer/index.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/AccordionGroupCustom/index.js
  packages/core/admin/admin/src/content-manager/components/SelectWrapper/index.js
  packages/core/admin/admin/src/content-manager/hooks/useFetchContentTypeLayout/utils/formatLayouts.js
  packages/core/admin/admin/src/content-manager/hooks/useFetchContentTypeLayout/utils/tests/formatLayouts.test.js
  packages/core/admin/admin/src/content-manager/pages/App/index.js
Labels: issue-type: bug, source: core:content-manager

#11884 style: email settings text change
  packages/core/email/admin/src/pages/Settings/index.js
  packages/core/email/admin/src/pages/Settings/tests/index.test.js
  packages/core/email/admin/src/translations/en.json
Labels: issue-type: enhancement, source: core:email

#11795 Fix unable to filter users, add e2e test
  packages/plugins/users-permissions/server/controllers/user.js
  packages/plugins/users-permissions/tests/content-api/users-api.test.e2e.js
Labels: issue-type: bug, source: plugin:users-permissions

#11901 Replace file-loader and url-loader with asset modules
  packages/core/admin/package.json
  packages/core/admin/webpack.config.js
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/webpack.config.js
  yarn.lock
Labels: issue-type: enhancement, source: core:admin

#11870 add test of pxToRem
  packages/core/helper-plugin/lib/src/utils/pxToRem/tests/pxToRem.test.js
Labels: issue-type: enhancement, source: core:helper-plugin

#11883 Add unit tests for the entity validators
  packages/core/strapi/lib/services/entity-validator/__tests__/biginteger-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/date-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/datetime-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/email-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/enumeration-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/float-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/integer-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/string-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/time-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/timestamp-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/uid-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/validators.test.js
Labels: issue-type: enhancement, source: core:strapi

#11915 Fix copy from another locale with DZ
  packages/core/admin/admin/src/content-manager/components/DynamicZone/index.js
Labels: issue-type: bug, source: core:content-manager

#11873 Show creation information in the detail view
  packages/core/admin/admin/src/content-manager/pages/EditView/Informations/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Informations/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
Labels: issue-type: enhancement, source: core:content-manager

#11926 Update required database versions
  README.md
  packages/core/strapi/README.md
Labels: issue-type: enhancement, source: doc:readme

#11950 fix error message in admin panel
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
Labels: issue-type: bug, source: core:content-manager

#11954 Build admin only when necessary and serve it from the admin package
  examples/kitchensink/package.json
  examples/kitchensink/src/admin/app.example.js
  examples/kitchensink/src/admin/webpack.config.example.js
  packages/core/admin/admin/src/pages/App/utils/unique-identifier.js
  packages/core/admin/index.js
  packages/core/admin/package.json
  packages/core/admin/server/register.js
  packages/core/admin/server/routes/serve-admin-panel.js
  packages/core/strapi/lib/commands/build.js
  packages/core/strapi/lib/commands/develop.js
  packages/core/strapi/lib/middlewares/public/index.js
  packages/generators/app/lib/resources/files/src/admin/app.example.js
  packages/generators/app/lib/resources/files/src/admin/webpack.config.example.js
Labels: issue-type: enhancement, source: core:admin, source: core:strapi

#11924 Translate en.json into traditional Chinese.
  packages/core/admin/admin/src/translations/zh.json
Labels: source: core:admin, issue-type: translation

#11933 Fix English grammar in test files
  packages/core/strapi/lib/services/entity-validator/__tests__/biginteger-validators.test.js
Labels: source: core:strapi, issue-type: translation

#11964 Fix unable to reset password in GraphQL mutation
  packages/plugins/users-permissions/server/graphql/mutations/auth/reset-password.js
Labels: issue-type: bug, source: plugin:graphql

#11961 Add test for Content API filter by locale
  packages/plugins/i18n/tests/content-api/content-api.test.e2e.js
Labels: issue-type: enhancement, source: plugin:i18n

#11944 Add missing french translations
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/fr.json
Labels: source: core:admin, issue-type: translation

#11969 Fix relations are not populated when API key is read-only
  packages/core/admin/server/strategies/api-token.js
Labels: issue-type: bug, source: core:strapi

#11973 Remove admin files from watched files
  packages/core/strapi/lib/commands/develop.js
Labels: issue-type: bug, source: core:strapi

#11981 Fix unable to delete an image from the media-library
  packages/core/upload/server/controllers/admin-api.js
Labels: issue-type: bug, source: core:upload

#11986 Remove build from install script
  packages/generators/app/lib/create-quickstart-project.js
Labels: issue-type: bug, source: core:admin

#11967 Fix generator policy template
  packages/generators/generators/lib/templates/policy.js.hbs
Labels: issue-type: bug, source: cli

#11994 Fix menu link without search in CM
  packages/core/admin/admin/src/content-manager/pages/App/LeftMenu/index.js
  packages/core/admin/admin/src/content-manager/pages/App/tests/index.test.js
Labels: issue-type: bug, source: core:content-manager

#11997 Remove the build directory from the watched files list
  packages/core/strapi/lib/commands/develop.js
Labels: issue-type: enhancement, source: core:strapi

#11989 Fix upload file info form
  packages/core/upload/admin/src/components/AssetCard/UploadingAssetCard.js
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/PendingAssetStep.js
  packages/core/upload/admin/src/hooks/useUpload.js
Labels: issue-type: bug, source: core:upload

#12036 Fix wrong axios instance in email plugin
  packages/core/email/admin/src/pages/Settings/utils/api.js
  packages/core/email/admin/src/utils/axiosInstance.js
Labels: issue-type: bug, source: core:email, version: v4

#12012 Always remove the build and cache folder when running the build command
  packages/core/strapi/bin/strapi.js
  packages/core/strapi/lib/commands/build.js
  packages/core/strapi/lib/commands/develop.js
Labels: issue-type: enhancement

#12049 Update plugin generators for the admin files
  examples/kitchensink/config/admin.js
  jest.base-config.front.js
  packages/core/admin/admin/src/content-manager/pages/App/index.js
  packages/core/admin/admin/src/content-manager/pages/App/tests/index.test.js
  packages/generators/generators/lib/files/plugin/admin/src/containers/App/index.js
  packages/generators/generators/lib/files/plugin/admin/src/containers/HomePage/index.js
  packages/generators/generators/lib/files/plugin/admin/src/containers/Initializer/index.js
  packages/generators/generators/lib/files/plugin/admin/src/utils/axiosInstance.js
Labels: issue-type: enhancement, source: core:admin

#12050 Fixes #12045
  packages/core/admin/index.html
Labels: issue-type: bug

#12025 Fix issue that italic style is ignored in preview mode on markdown editor
  packages/core/admin/admin/src/content-manager/components/PreviewWysiwyg/Wrapper.js
Labels: issue-type: bug
