Repository strapi/strapi, pull requests merged in 2022-02, with the labels that each got.

#12227 Add Turkmen ISO 639-1 locale code
  packages/plugins/i18n/server/constants/iso-locales.json
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
Labels: issue-type: enhancement, source: plugin:i18n

#12067 Fix sentry plugin calling sendError on wrong object
  packages/plugins/sentry/server/middlewares/sentry.js
Labels: issue-type: bug, source: plugin:sentry

#12396 Update Sentry plugin docs for v4
  packages/plugins/sentry/README.md
Labels: issue-type: enhancement, source: plugin:sentry

#12424 Product copy API Tokens
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/index.js
  packages/core/admin/admin/src/translations/en.json
Labels: issue-type: enhancement, source: core:admin

#11917 [v4] sanitize password from filters
  packages/core/strapi/lib/services/entity-service/params.js
  packages/core/utils/lib/convert-query-params.js
Labels: source: core:strapi, issue-type: security

#12246 Change documentation auth cookie system
  packages/strapi-plugin-documentation/config/policies/index.js
  packages/strapi-plugin-documentation/controllers/Documentation.js
  packages/strapi-plugin-documentation/package.json
  packages/strapi-plugin-documentation/services/Token.js
Labels: source: plugin:documentation, issue-type: security

#12359 CLI: Improve command descriptions
  packages/core/strapi/bin/strapi.js
Labels: issue-type: enhancement, source: cli

#12404 Allow SDL type definitions to beneficiate from Nexus types context & processing
  packages/plugins/graphql/package.json
  packages/plugins/graphql/server/services/content-api/index.js
  yarn.lock
Labels: issue-type: enhancement, source: plugin:graphql

#12437 Change dependanbot config to only upgrade non major versions
  .github/dependabot.yml
Labels: issue-type: enhancement, source: tooling

#12413 Fixed hot reload in admin
  packages/core/admin/index.js
Labels: issue-type: bug, source: core:admin

#12465 Fix custom settings override
  packages/plugins/documentation/server/services/documentation.js
Labels: issue-type: bug, source: plugin:documentation

#12444 Fix kitchensink
  examples/getstarted/.env.example
  examples/kitchensink/config/server.js
Labels: issue-type: bug, source: tooling

#12410 remove extra '/' in baseURL
  packages/plugins/users-permissions/server/bootstrap/index.js
Labels: issue-type: bug, source: plugin:users-permissions

#12037 optimization and refactoring the verify function
  packages/plugins/users-permissions/server/strategies/users-permissions.js
Labels: issue-type: enhancement, source: core:strapi

#12520 [V3] Packages Deprecation
  packages/strapi-admin/README.md
  packages/strapi-connector-bookshelf/README.md
  packages/strapi-connector-mongoose/README.md
  packages/strapi-database/README.md
  packages/strapi-helper-plugin/README.md
  packages/strapi-hook-ejs/README.md
  packages/strapi-hook-redis/README.md
  packages/strapi-middleware-views/README.md
  packages/strapi-plugin-content-manager/README.md
  packages/strapi-plugin-content-type-builder/README.md
  packages/strapi-plugin-documentation/README.md
  packages/strapi-plugin-email/README.md
  packages/strapi-plugin-graphql/README.md
  packages/strapi-plugin-i18n/README.md
  packages/strapi-plugin-sentry/README.md
  packages/strapi-plugin-upload/README.md
  packages/strapi-plugin-users-permissions/README.md
  packages/strapi-provider-email-amazon-ses/README.md
  packages/strapi-provider-email-mailgun/README.md
  packages/strapi-provider-email-nodemailer/README.md
  packages/strapi-provider-email-sendgrid/README.md
  packages/strapi-provider-email-sendmail/README.md
  packages/strapi-provider-upload-aws-s3/README.md
  packages/strapi-provider-upload-cloudinary/README.md
  packages/strapi-provider-upload-local/README.md
  packages/strapi-provider-upload-rackspace/README.md
  packages/strapi-utils/README.md
  packages/strapi/README.md
Labels: issue-type: enhancement, source: doc:readme

#12467 Add configuration options to generate graphql schema + types
  packages/plugins/graphql/server/services/content-api/index.js
Labels: issue-type: enhancement, source: plugin:graphql

#12042 Fix: Corrected file paths when generating CTs, APIs, Controllers, Middlewares, Policies, Services inside Plugins
  packages/generators/generators/lib/plops/middleware.js
  packages/generators/generators/lib/plops/policy.js
  packages/generators/generators/lib/plops/prompts/get-destination-prompts.js
  packages/generators/generators/lib/plops/service.js
  packages/generators/generators/lib/plops/utils/get-file-path.js
Labels: issue-type: bug, source: cli

#12267 Date: Store & display ISO dates instead of datetimes
  package.json
  packages/core/helper-plugin/lib/src/components/GenericInput/index.js
  packages/plugins/users-permissions/server/strategies/users-permissions.js
  yarn.lock
Labels: issue-type: enhancement, source: core:admin

#12504 Fixing Drag ordering bug with Nested Component.
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/DraggedItem/index.js
Labels: source: core:content-manager

#12266 Enable to drop image to upload dialog in edit view
  packages/core/upload/admin/src/components/UploadAssetDialog/AddAssetStep/FromComputerForm.js
Labels: issue-type: bug, source: core:admin

#12519 Put CM links injection zone on top of the other links
  packages/core/admin/admin/src/content-manager/pages/EditView/index.js
  packages/core/admin/admin/src/pages/Admin/Onboarding/tests/index.test.js
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
  packages/generators/generators/lib/plops/prompts/get-destination-prompts.js
  packages/generators/generators/lib/plops/service.js
  yarn.lock
Labels: issue-type: enhancement, source: core:admin

#12532 Update sharp in upload plugin
  packages/core/upload/package.json
Labels: source: dependencies

#11823 Add ability to use $null: false and $notNull: false
  packages/core/database/lib/query/helpers/where.js
  packages/core/strapi/tests/filtering.test.e2e.js
  packages/core/utils/lib/convert-query-params.js
  packages/core/utils/lib/parse-type.js
Labels: issue-type: enhancement, source: core:database

#12234 Deprecate for Date format different from yyyy-MM-dd + don't cast DATE from DB to Date()
  packages/core/database/lib/dialects/mysql/index.js
  packages/core/database/lib/dialects/postgresql/index.js
  packages/core/database/lib/fields.js
  packages/core/helper-plugin/lib/src/components/GenericInput/index.js
Labels: issue-type: bug, source: core:database

#12474 Handle direct quotes in JSON field
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/isValidJSONString.test.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/isValidJSONString.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/schema.js
  packages/core/admin/admin/src/content-manager/components/InputJSON/index.js
Labels: issue-type: bug, source: core:content-manager

#12426 Feature / Guided tour
  packages/core/admin/admin/src/components/AuthenticatedApp/index.js
  packages/core/admin/admin/src/components/AuthenticatedApp/tests/index.test.js
  packages/core/admin/admin/src/components/AuthenticatedApp/utils/api.js
  packages/core/admin/admin/src/components/GuidedTour/Homepage/components/Step.js
  packages/core/admin/admin/src/components/GuidedTour/Homepage/components/Stepper.js
  packages/core/admin/admin/src/components/GuidedTour/Homepage/components/tests/Stepper.test.js
  packages/core/admin/admin/src/components/GuidedTour/Homepage/index.js
  packages/core/admin/admin/src/components/GuidedTour/Homepage/tests/index.test.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/components/Content.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/components/Modal.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/components/StepNumberWithPadding.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/components/Stepper.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/index.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/reducer.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/tests/index.test.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/tests/reducer.test.js
  packages/core/admin/admin/src/components/GuidedTour/Stepper/StepLine.js
  packages/core/admin/admin/src/components/GuidedTour/Stepper/StepNumber.js
  packages/core/admin/admin/src/components/GuidedTour/constants.js
  packages/core/admin/admin/src/components/GuidedTour/index.js
  packages/core/admin/admin/src/components/GuidedTour/init.js
  packages/core/admin/admin/src/components/GuidedTour/layout.js
  packages/core/admin/admin/src/components/GuidedTour/reducer.js
  packages/core/admin/admin/src/components/GuidedTour/tests/index.test.js
  packages/core/admin/admin/src/components/GuidedTour/tests/init.test.js
  packages/core/admin/admin/src/components/GuidedTour/tests/reducer.test.js
  packages/core/admin/admin/src/components/GuidedTour/utils/arePreviousSectionsDone.js
  packages/core/admin/admin/src/components/GuidedTour/utils/arePreviousStepsDone.js
  packages/core/admin/admin/src/components/GuidedTour/utils/isGuidedTourCompleted.js
  packages/core/admin/admin/src/components/GuidedTour/utils/persistStateToLocaleStorage.js
  packages/core/admin/admin/src/components/GuidedTour/utils/tests/arePreviousSectionsDone.test.js
  packages/core/admin/admin/src/components/GuidedTour/utils/tests/arePreviousSptesDone.test.js
  packages/core/admin/admin/src/components/GuidedTour/utils/tests/isGuidedTourCompleted.test.js
  packages/core/admin/admin/src/components/Providers/index.js
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/components/SingleTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/pages/App/index.js
  packages/core/admin/admin/src/content-manager/pages/App/tests/index.test.js
  packages/core/admin/admin/src/pages/Admin/index.js
  packages/core/admin/admin/src/pages/Admin/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/index.js
  packages/core/admin/admin/src/pages/HomePage/index.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/index.js
  packages/core/content-type-builder/admin/src/pages/App/index.js
  packages/core/helper-plugin/lib/src/contexts/GuidedTourContext.js
  packages/core/helper-plugin/lib/src/hooks/useGuidedTour/index.js
  packages/core/helper-plugin/lib/src/index.js
  packages/core/helper-plugin/lib/src/providers/GuidedTourProvider/GuidedTourProvider.stories.mdx
  packages/core/helper-plugin/lib/src/providers/GuidedTourProvider/index.js
  packages/core/helper-plugin/lib/src/utils/auth/index.js
Labels: source: core:admin, source: core:helper-plugin

#12573 fix typo in fr translation
  packages/core/admin/admin/src/translations/fr.json
Labels: source: core:admin, issue-type: translation

#12439 Add a check on PR in github workflows for labels and milestones
  .github/actions/check-pr-status/.gitignore
  .github/actions/check-pr-status/README.md
  .github/actions/check-pr-status/__tests__/action.test.js
  .github/actions/check-pr-status/action.yml
  .github/actions/check-pr-status/dist/index.js
  .github/actions/check-pr-status/index.js
  .github/actions/check-pr-status/package.json
  .github/actions/check-pr-status/yarn.lock
  .github/workflows/checks.yml
  .github/workflows/tests.yml
  jest.config.js
  package.json
  yarn.lock
Labels: issue-type: enhancement, source: tooling

#12588 FilterPopoverURLQuery: Remove all time-releated information from date
  packages/core/helper-plugin/lib/src/components/FilterPopoverURLQuery/Inputs.js
Labels: issue-type: bug, source: core:content-manager

#12577 CM: Fix changed field sizes during the bootstrap process
  packages/core/content-manager/server/services/utils/configuration/layouts.js
Labels: issue-type: bug, source: core:content-manager

#12587 ListSettingsView: Append the new field instead of prepend
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/DraggableCard.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/SortDisplayedFields.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/reducer.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
Labels: issue-type: enhancement, source: core:content-manager

#12613 fix trackUsageRef function
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/ContentBox/index.js
  yarn.lock
Labels: issue-type: bug, source: core:admin

#12625 ML: Swap width and height when displaying image dimensions
  packages/core/upload/admin/src/components/AssetCard/ImageAssetCard.js
  packages/core/upload/admin/src/components/AssetList/tests/AssetList.test.js
  packages/core/upload/admin/src/components/EditAssetDialog/index.js
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
Labels: issue-type: bug, source: core:upload

#12623 Add a missing new keyword when trying to format the graphql errors
  packages/plugins/graphql/server/format-graphql-error.js
Labels: issue-type: bug, source: plugin:graphql

#12099 use streams instead of buffers
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/strapi/lib/middlewares/body.js
  packages/core/upload/package.json
  packages/core/upload/server/graphql.js
  packages/core/upload/server/services/image-manipulation.js
  packages/core/upload/server/services/index.js
  packages/core/upload/server/services/provider.js
  packages/core/upload/server/services/upload.js
  packages/core/upload/server/utils/file.js
  packages/generators/app/package.json
  packages/plugins/documentation/package.json
  packages/providers/upload-aws-s3/lib/index.js
  packages/providers/upload-cloudinary/lib/index.js
  packages/providers/upload-local/lib/index.js
  yarn.lock
Labels: issue-type: enhancement, source: core:upload

#12609 CM: Add e2e tests for layout updates
  packages/core/content-manager/server/tests/content-manager/content-types.test.e2e.js
Labels: issue-type: enhancement, source: tooling

#12553 Disable primary key requirement on session initialize
  packages/core/database/lib/dialects/mysql/index.js
Labels: issue-type: bug, source: core:database

#12649 update execa commands
  packages/cli/create-strapi-starter/utils/fetch-npm-starter.js
  packages/generators/app/lib/utils/fetch-npm-template.js
Labels: source: cli, issue-type: security

#12676 Add Mongolian locale
  packages/plugins/i18n/server/constants/iso-locales.json
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
Labels: issue-type: enhancement, source: plugin:i18n

#12423 Add mongolian locale
  packages/plugins/i18n/server/constants/iso-locales.json
Labels: issue-type: enhancement, source: plugin:i18n

#12668 fix: merge devServer custom configuration with default #12667
  packages/core/admin/index.js
Labels: issue-type: bug, source: tooling

#12685 Fix graphql upload of non-image files
  packages/core/upload/server/graphql.js
  packages/core/upload/tests/graphql-upload.test.e2e.js
  packages/core/upload/tests/rec.pdf
Labels: issue-type: bug, source: plugin:graphql
