Repository strapi/strapi, pull requests merged in 2022-10, with the labels that each got.

#14497 [fix][RelationInput]: infinite scrolling should be runnable on first mount of menu
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
Labels: source: core:content-manager, pr: fix

#14502 [feat][AttributeModal]: add attribute description to field modal in content builder
  packages/core/content-type-builder/admin/src/components/FormModalSubHeader/index.js
Labels: source: core:content-type-builder, pr: enhancement

#14516 ci(checks.yml): update actions/checkout to v3
  .github/workflows/checks.yml
Labels: source: tooling, pr: chore

#14478 Fix Initializer invalid assignment of current prop
  packages/generators/generators/lib/files/ts/plugin/admin/src/components/Initializer/index.tsx
Labels: pr: fix, source: generators:app

#14530 chore: update to latest version of design-system
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  packages/plugins/color-picker/admin/src/components/tests/color-picker-input.test.js
  yarn.lock
Labels: source: external, pr: chore

#14521 fix: Unknown Dialect Windows issue
  packages/utils/typescript/lib/utils/get-config-path.js
Labels: source: core:utils, pr: fix

#14463 Fix search query encoding
  packages/core/admin/admin/src/content-manager/pages/ListView/utils/buildQueryString.js
  packages/core/admin/admin/src/content-manager/pages/ListView/utils/tests/buildQueryString.test.js
  packages/core/helper-plugin/lib/src/components/SearchURLQuery/index.js
  packages/core/upload/admin/src/hooks/tests/useAssets.test.js
  packages/core/upload/admin/src/hooks/useAssets.js
Labels: source: core:helper-plugin, pr: fix

#14528 [fix]: use router link for actions that route places in Content Manager ListView & DynamicTable
  packages/core/admin/admin/src/content-manager/components/DynamicTable/TableRows/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
Labels: source: core:content-manager, pr: fix

#13983 Make select autocomplete case insensitive
  packages/core/admin/admin/src/content-manager/components/SelectWrapper/index.js
Labels: source: core:content-manager, pr: fix

#14526 Improve API token v2 db performance by removing update population
  packages/core/admin/server/services/__tests__/api-token.test.js
  packages/core/admin/server/services/api-token.js
  packages/core/admin/server/strategies/__tests__/api-token.test.js
  packages/core/admin/server/strategies/api-token.js
Labels: source: core:strapi, pr: fix

#14552 Updating koa/cors to 3.4.2 in order to fix cors filter origin problem #14357
  packages/core/strapi/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore, hacktoberfest-accepted

#14561 Add file ID to Asset Edit View in Upload plugin
  packages/core/upload/admin/src/components/EditAssetDialog/index.js
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/translations/en.json
Labels: source: core:upload, pr: enhancement

#14513 Fix discord link on admin panel homepage
  packages/core/admin/admin/src/pages/HomePage/SocialLinks.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
Labels: source: core:admin, pr: fix

#14584 [Fix] LogoInput tests
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/index.test.js
Labels: source: core:admin, pr: fix

#14536 (Front)Count draft relations on publish
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/reducer.test.js
  packages/core/admin/admin/src/content-manager/components/SingleTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/utils/select.js
  packages/core/admin/admin/src/content-manager/pages/EditView/index.js
  packages/core/admin/admin/src/translations/ca.json
  packages/core/admin/admin/src/translations/de.json
  packages/core/admin/admin/src/translations/dk.json
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/es.json
  packages/core/admin/admin/src/translations/fr.json
  packages/core/admin/admin/src/translations/gu.json
  packages/core/admin/admin/src/translations/hi.json
  packages/core/admin/admin/src/translations/hu.json
  packages/core/admin/admin/src/translations/id.json
  packages/core/admin/admin/src/translations/it.json
  packages/core/admin/admin/src/translations/ja.json
  packages/core/admin/admin/src/translations/ko.json
  packages/core/admin/admin/src/translations/ml.json
  packages/core/admin/admin/src/translations/nl.json
  packages/core/admin/admin/src/translations/pl.json
  packages/core/admin/admin/src/translations/pt-BR.json
  packages/core/admin/admin/src/translations/ru.json
  packages/core/admin/admin/src/translations/sa.json
  packages/core/admin/admin/src/translations/sk.json
  packages/core/admin/admin/src/translations/sv.json
  packages/core/admin/admin/src/translations/zh-Hans.json
  packages/core/admin/admin/src/translations/zh.json
Labels: source: core:content-manager, pr: feature

#14454 fix: replace all escaped `\n` with an actual `\n` character
  packages/core/admin/admin/src/content-manager/components/PreviewWysiwyg/index.js
Labels: source: core:content-manager, pr: fix

#14253 Titles too long do not render properly in content manager
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/index.js
  packages/core/admin/admin/src/content-manager/components/SelectOne/SingleValue.js
Labels: source: core:content-manager, pr: enhancement

#14614 Chore: Unify design-system version across packages
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  yarn.lock
Labels: source: dependencies, pr: fix

#14128 Throw if --template flag is immediately followed by another flag when creating app via CLI
  packages/cli/create-strapi-app/create-strapi-app.js
Labels: source: cli, pr: enhancement

#14608 fix: update gitignore with dist folder
  examples/getstarted/.gitignore
  examples/kitchensink-ts/.gitignore
  examples/kitchensink/.gitignore
  packages/cli/create-strapi-starter/resources/gitignore
  packages/generators/app/lib/resources/dot-files/common/gitignore
Labels: pr: fix, source: generators:app

#14541 [Marketplace] Add compatibility tooltip
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/CardButton.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/InstallPluginButton.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackagesGrid/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/server.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/package.json
Labels: pr: feature, source: marketplace

#14647 Fix: Catch all errors when sending tracking requests
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/helper-plugin/lib/src/hooks/useTracking/index.js
Labels: source: core:admin, pr: fix

#14616 chore: upgrade husky to v8 and lint-staged to v13
  .husky/pre-commit
  package.json
  yarn.lock
Labels: source: tooling, pr: chore

#14655 chore: Update favicon new 2022 version
  docs/docusaurus.config.js
  examples/getstarted/favicon.ico
  examples/getstarted/favicon.png
  examples/kitchensink-ts/favicon.ico
  examples/kitchensink-ts/favicon.png
  examples/kitchensink/favicon.ico
  examples/kitchensink/favicon.png
  packages/core/admin/admin/src/StrapiApp.js
  packages/core/admin/admin/src/favicon.ico
  packages/core/admin/admin/src/favicon.png
  packages/core/strapi/lib/middlewares/favicon.js
  packages/generators/app/lib/resources/files/js/favicon.ico
  packages/generators/app/lib/resources/files/js/favicon.png
  packages/generators/app/lib/resources/files/ts/favicon.ico
  packages/generators/app/lib/resources/files/ts/favicon.png
Labels: source: core:admin, pr: enhancement

#14554 [Custom fields] Fix number types
  examples/getstarted/src/plugins/myplugin/admin/src/index.js
  packages/core/admin/admin/src/core/apis/CustomFields.js
  packages/core/content-type-builder/admin/src/components/FormModal/constants.js
  packages/core/content-type-builder/admin/src/components/FormModal/index.js
  packages/core/content-type-builder/admin/src/components/FormModal/reducer.js
  packages/core/content-type-builder/admin/src/components/FormModal/tests/reducer.set-custom-field-data-schema.test.js
  packages/core/strapi/lib/core/registries/custom-fields.js
  packages/plugins/i18n/admin/src/middlewares/extendCTBAttributeInitialDataMiddleware.js
Labels: source: core:content-type-builder, pr: fix

#14001 Dark theme customization
  packages/core/admin/admin/src/StrapiApp.js
Labels: source: core:admin, pr: feature

#14120 Use custom field labels in ListSettingsView component
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/DraggableCard.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/Settings.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/SortDisplayedFields.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/index.test.js
Labels: source: core:content-manager, pr: enhancement

#14660 [chore][redux]: add redux dev-tools to launch in dev mode
  packages/core/admin/admin/src/core/store/configureStore.js
Labels: source: tooling, pr: enhancement

#14127 Add details about amending S3 bucket CORS policies to properly show GIFs and videos in the admin panel
  packages/providers/upload-aws-s3/README.md
Labels: source: core:upload, pr: doc

#14549 Swedish translations for content-type builder
  packages/core/content-type-builder/admin/src/translations/sv.json
Labels: source: core:content-type-builder, pr: chore

#14677 Fix breaking change introduced by koa/cors patch version bump
  packages/core/strapi/package.json
Labels: source: core:strapi, pr: fix

#13873 useTracking: Respect the users choice when sending telemetry events in the admin app
  packages/core/admin/admin/src/index.js
  packages/core/admin/env.js
  packages/core/admin/scripts/build.js
  packages/core/admin/webpack.config.dev.js
  packages/core/helper-plugin/lib/src/hooks/useAppInfos/__mocks__/index.js
  packages/core/helper-plugin/lib/src/hooks/useTracking/index.js
  packages/core/helper-plugin/lib/src/hooks/useTracking/tests/index.test.js
  packages/core/strapi/lib/commands/builders/admin.js
Labels: source: core:admin, pr: fix

#14679 chore: remove design-system from helper deps
  packages/core/helper-plugin/package.json
  yarn.lock
Labels: source: core:helper-plugin, pr: chore

#14535 Cleaning and/or solving the frontend tests (warning/logs)
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/CellValue.js
  packages/core/admin/admin/src/pages/Admin/Onboarding/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/FormApiTokenContainer/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/FormBody/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/FormHead/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/Regenerate/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/utils/schema.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/EventInput/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/tests/index.test.js
  packages/core/email/admin/src/pages/Settings/components/Configuration.js
  packages/core/upload/admin/src/components/AssetCard/tests/AssetCardBase.test.js
  packages/core/upload/admin/src/components/ContextInfo/ContextInfo.js
  packages/core/upload/admin/src/components/EditAssetDialog/tests/EditAssetDialog.test.js
  packages/plugins/users-permissions/admin/src/pages/Providers/tests/index.test.js
Labels: source: core:strapi, pr: chore

#14654 fix(aws-provider): add https protocol when missing in file url
  packages/providers/upload-aws-s3/jest.config.js
  packages/providers/upload-aws-s3/lib/__tests__/upload-aws-s3.test.js
  packages/providers/upload-aws-s3/lib/index.js
Labels: source: core:upload, pr: fix

#14710 Chore: Fix prop-type errors in setting list views
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ListPage/components/RoleRow/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ListPage/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/ListPage/index.js
Labels: source: tooling, pr: chore

#14674 [fix][webpack]: Use a dynamic list of exclude to allow TSX plugins to be transpiled
  packages/core/admin/utils/__tests__/create-plugins-exclude-path.test.js
  packages/core/admin/utils/create-plugins-exclude-path.js
  packages/core/admin/webpack.config.js
Labels: source: tooling, pr: fix

#14715 ApplicationInfosPage: Mock image API
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/index.test.js
  packages/core/upload/admin/src/components/UploadAssetDialog/AddAssetStep/tests/FromComputerForm.test.js
  packages/core/upload/admin/src/components/UploadAssetDialog/AddAssetStep/tests/__snapshots__/FromComputerForm.test.js.snap
Labels: source: tooling, pr: fix

#14692 Add default app keys to the server config
  examples/kitchensink-ts/config/server.ts
Labels: source: tooling, pr: fix

#14691 Replace directory to be able to get license.txt using a typescript project
  packages/core/strapi/lib/Strapi.js
Labels: source: core:strapi, pr: fix

#14600 Fix bulk delete when entity has empty components
  packages/core/strapi/lib/services/entity-service/components.js
  packages/core/strapi/lib/services/entity-service/index.js
  packages/core/strapi/tests/api/basic-compo.test.e2e.js
Labels: source: core:strapi, pr: fix

#14714 [Marketplace] Exp-320 Change wording in marketplace card
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/translations/en.json
Labels: pr: fix, source: marketplace

#14713 ML: Fix folder prop-types
  packages/core/upload/admin/src/components/AssetDialog/tests/AssetDialog.test.js
  packages/core/upload/admin/src/components/EditFolderDialog/tests/EditFolderDialog.test.js
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/constants.js
  packages/core/upload/admin/src/hooks/__mocks__/useFolders.js
Labels: source: tooling, pr: fix

#14656 Jest: Fail tests on failing prop-types
  jest.base-config.front.js
  packages/admin-test-utils/lib/setup/prop-types.js
Labels: source: tooling, pr: enhancement

#14280 Allow ESM module for custom middlewares
  packages/core/strapi/lib/core/app-configuration/load-config-file.js
  packages/core/strapi/lib/core/loaders/apis.js
  packages/core/strapi/lib/core/loaders/middlewares.js
  packages/core/strapi/lib/core/loaders/policies.js
  packages/core/strapi/lib/core/loaders/src-index.js
  packages/core/strapi/lib/services/server/middleware.js
  packages/core/strapi/lib/utils/index.js
  packages/core/utils/lib/import-default.js
  packages/core/utils/lib/index.js
Labels: pr: fix, source: typescript

#14732 Fix load-files import
  packages/core/strapi/lib/load/load-files.js
  packages/core/utils/jest.config.js
  packages/core/utils/lib/__tests__/import-default/cjs.js
  packages/core/utils/lib/__tests__/import-default/esm.js
  packages/core/utils/lib/__tests__/import-default/index.test.js
Labels: source: core:utils, pr: fix

#14453 Avoid content type `pluralName` DB clashes
  packages/core/content-type-builder/admin/src/components/FormModal/contentType/createContentTypeSchema.js
  packages/core/content-type-builder/admin/src/components/FormModal/forms/index.js
  packages/core/database/lib/metadata/index.js
Labels: source: core:content-type-builder, pr: fix

#14730 chore: Update koa2-ratelimit to 1.1.2
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: plugin:users-permissions, pr: enhancement

#14731 Color-Picker: Add react and react-dom dependencies
  packages/plugins/color-picker/package.json
Labels: pr: fix, source: plugin: color-picker

#14701 [Marketplace] Exp-380 Display stats on marketplace cards - UI
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/PackageStats.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
Labels: pr: feature, source: marketplace

#14727 Helper-Plugin: Replace babel with esbuild
  packages/core/admin/admin/src/components/AuthenticatedApp/tests/index.test.js
  packages/core/admin/admin/src/components/GuidedTour/Homepage/components/tests/Stepper.test.js
  packages/core/admin/admin/src/components/GuidedTour/Homepage/tests/index.test.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DzLabel/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/components/InputUID/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/App/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/hooks/useMenu/utils/tests/getGeneralLinks.test.js
  packages/core/admin/admin/src/hooks/useMenu/utils/tests/getPluginSectionLinks.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/ProfilePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/SingleSignOn/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/ListPage/tests/index.test.js
  packages/core/admin/package.json
  packages/core/content-type-builder/admin/src/components/AttributeOptions/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
  packages/core/email/admin/src/pages/Settings/tests/index.test.js
  packages/core/helper-plugin/babel.config.js
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/webpack.config.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/RemoveAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/FolderCard/tests/__snapshots__/FolderCard.test.js.snap
  packages/core/upload/admin/src/components/MediaLibraryInput/tests/__snapshots__/MediaLibraryInput.test.js.snap
  packages/core/upload/admin/src/components/SelectTree/tests/__snapshots__/SelectTree.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/AddAssetStep/tests/__snapshots__/FromComputerForm.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/core/upload/admin/src/pages/App/tests/__snapshots__/Header.test.js.snap
  packages/core/upload/admin/src/pages/SettingsPage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Providers/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/tests/index.test.js
  yarn.lock
Labels: source: core:helper-plugin, pr: enhancement

#14736 Fix: Make favicon middleware backwards compatible with pngs
  packages/core/strapi/lib/middlewares/favicon.js
Labels: source: core:admin, pr: fix
