Repository strapi/strapi, pull requests merged in 2022-01, with the labels that each got.

#12084 Fix logout on Safari
  packages/core/admin/admin/src/components/LeftMenu/index.js
Labels: issue-type: bug, source: core:admin

#11999 Take the playgroundAlways option into account for the graphql playground
  packages/plugins/graphql/server/bootstrap.js
Labels: issue-type: bug, source: plugin:graphql

#12061 Fix firefox drag n drop
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/DraggedItem/IconButtonCustoms.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/DraggedItem/index.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/index.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/DisplayedFieldButton.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/FieldButtonContent.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/RelationalFieldButton.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/DraggableCard.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
Labels: issue-type: bug, source: core:content-manager

#12091 Add lowercase validation to email for registering admin user.
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/utils/forms.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/helper-plugin/lib/src/utils/translatedErrors/index.js
Labels: issue-type: bug, source: core:admin

#12078 Upgrade webpack config and related dependencies
  examples/getstarted/package.json
  examples/kitchensink/package.json
  package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/admin/webpack.alias.js
  packages/core/admin/webpack.config.js
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/providers/upload-rackspace/package.json
  packages/utils/babel-plugin-switch-ee-ce/package.json
  packages/utils/logger/package.json
  yarn.lock
Labels: issue-type: enhancement, source: core:admin

#11995 Fix typo
  packages/core/database/lib/dialects/index.js
  packages/core/database/lib/metadata/relations.js
  packages/core/database/lib/schema/schema.js
  packages/generators/app/lib/utils/merge-template.js
Labels: issue-type: enhancement, source: core:database

#11890 Fix: show correct number of decimals in content manager
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/CellValue.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/tests/CellValue.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/utils/getNumberOfDecimals.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/utils/tests/getNumberOfDecimals.test.js
Labels: issue-type: bug, source: core:content-manager

#12111 Fix/required fields UI
  packages/core/admin/admin/src/content-manager/components/InputUID/index.js
  packages/core/admin/admin/src/pages/ProfilePage/index.js
  packages/core/admin/admin/src/pages/ProfilePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/EditPage/utils/layout.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/utils/layout.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/components/SelectRoles/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/EventInput/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/index.js
Labels: issue-type: enhancement, source: core:admin

#11871 Fix Update user does not update component attribute
  packages/plugins/users-permissions/server/controllers/auth.js
  packages/plugins/users-permissions/server/controllers/user.js
  packages/plugins/users-permissions/server/services/user.js
  packages/plugins/users-permissions/tests/users-graphql.test.e2e.js
Labels: issue-type: bug, source: plugin:graphql

#12113 Update README.md
  packages/generators/app/lib/resources/files/README.md
Labels: issue-type: enhancement, source: cli

#12005 Fix GraphQL enums are genereated as String type
  packages/plugins/graphql/server/services/builders/input.js
  packages/plugins/graphql/server/services/builders/type.js
Labels: issue-type: bug, source: plugin:graphql

#12082 Guided tour/stepper
  packages/core/admin/admin/src/components/GuidedTour/GuidedTourHomepage/index.js
  packages/core/admin/admin/src/components/GuidedTour/Stepper/Homepage/StepHomepage.js
  packages/core/admin/admin/src/components/GuidedTour/Stepper/Homepage/StepperHomepage.js
  packages/core/admin/admin/src/components/GuidedTour/Stepper/StepLine.js
  packages/core/admin/admin/src/components/GuidedTour/Stepper/StepNumber.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
Labels: flag: don't merge

#12115 Fix/ Richtext required UI
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/index.js
Labels: issue-type: enhancement, source: core:admin

#12060 Make left menu header title and workplace string resources
  packages/core/admin/admin/src/components/LeftMenu/index.js
  packages/core/admin/admin/src/translations/en.json
Labels: issue-type: enhancement, source: core:admin

#12120 Add DZ description
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DzLabel/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DzLabel/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/components/DynamicZone/index.js
  packages/core/content-type-builder/admin/src/components/ListRow/index.js
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
Labels: issue-type: enhancement, source: core:admin, source: core:content-type-builder

#12027 Fix infinite loading caused when filling from another locale
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewCopyLocale/index.js
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewCopyLocale/utils/cleanData.js
  packages/plugins/i18n/server/services/content-types.js
  packages/plugins/i18n/tests/content-manager/list-relation.test.e2e.js
Labels: issue-type: bug, source: core:content-manager, source: plugin:i18n

#12123 Prevent saving content type when dynamic zone does not have components.
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/index.js
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/utils/validateSchema.js
  packages/core/content-type-builder/admin/src/translations/en.json
  packages/core/content-type-builder/server/controllers/validation/__tests__/types.test.js
  packages/core/content-type-builder/server/controllers/validation/types.js
Labels: issue-type: enhancement, source: core:content-type-builder

#12156 Some UI fix for the WYSIWYG
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/Editor.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/EditorLayout.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/WysiwygFooter.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/WysiwygNav.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/index.js
Labels: issue-type: enhancement, source: core:admin

#12157 Colors fix
  packages/core/helper-plugin/package.json
  packages/core/strapi/package.json
  yarn.lock
Labels: issue-type: bug, source: core:strapi

#12162 Fix confirmation url missing the api prefix
  packages/plugins/users-permissions/server/services/user.js
  packages/plugins/users-permissions/server/services/users-permissions.js
Labels: issue-type: bug, source: plugin:users-permissions

#12152 Close on click outside CE limitation modal
  packages/core/admin/admin/src/components/UpgradePlanModal/index.js
Labels: issue-type: enhancement, source: core:admin

#12171 Fixes admin build when removing optional plugins
  packages/core/admin/index.js
Labels: issue-type: bug, source: core:admin

#12174 Enable to create/trigger webhooks with no events
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/EventInput/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/utils/schema.js
  packages/core/admin/server/controllers/webhooks.js
Labels: issue-type: enhancement, source: core:admin

#11992 Add current password requirement to edit own profile password
  .github/actions/install-modules/script.sh
  packages/strapi-admin/admin/src/containers/ProfilePage/index.js
  packages/strapi-admin/admin/src/containers/ProfilePage/utils/schema.js
  packages/strapi-admin/admin/src/translations/en.json
  packages/strapi-admin/controllers/authenticated-user.js
  packages/strapi-admin/tests/admin-authenticated-user.test.e2e.js
  packages/strapi-admin/validation/user.js
Labels: source: core:admin, issue-type: security

#11822 fix: Added correct object for plugin loading
  packages/core/strapi/lib/core/loaders/plugins/index.js
Labels: issue-type: bug, source: core:strapi

#12107 Interface language usage metrics
  packages/core/admin/server/bootstrap.js
  packages/core/admin/server/services/__tests__/metrics.test.js
  packages/core/admin/server/services/__tests__/user.test.js
  packages/core/admin/server/services/metrics.js
  packages/core/admin/server/services/user.js
Labels: issue-type: enhancement, source: core:admin

#12233 Add document name
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/CarouselAssets.js
  packages/core/upload/admin/src/components/MediaLibraryInput/tests/__snapshots__/MediaLibraryInput.test.js.snap
  yarn.lock
Labels: issue-type: enhancement, source: core:admin

#11983 [FIX] respect custom ENV_PATH
  packages/core/admin/server/services/api-token.js
  packages/plugins/users-permissions/server/bootstrap/index.js
Labels: issue-type: bug, source: core:strapi

#12080 Add PolicyError error class for use in policies
  packages/core/strapi/lib/services/server/policy.js
  packages/core/utils/lib/errors.js
  packages/plugins/graphql/server/services/content-api/policy.js
Labels: issue-type: enhancement, source: core:utils

#12071 Update danish translations
  packages/core/admin/admin/src/translations/dk.json
  packages/core/content-type-builder/admin/src/translations/dk.json
  packages/core/email/admin/src/translations/dk.json
  packages/core/upload/admin/src/translations/dk.json
  packages/plugins/documentation/admin/src/translations/dk.json
  packages/plugins/graphql/admin/src/translations/dk.json
  packages/plugins/i18n/admin/src/translations/dk.json
  packages/plugins/sentry/admin/src/translations/dk.json
  packages/plugins/users-permissions/admin/src/translations/dk.json
Labels: source: core:admin, issue-type: translation

#12119 Add missing translations for traditional Chinese
  packages/core/admin/admin/src/translations/zh.json
Labels: source: core:admin, issue-type: translation

#12173 Fixed non-shell host crash on startup
  packages/core/strapi/lib/services/metrics/sender.js
  packages/core/strapi/lib/utils/machine-id.js
  packages/core/strapi/lib/utils/success.js
  packages/core/strapi/package.json
  packages/generators/app/lib/index.js
  packages/generators/app/lib/utils/machine-id.js
Labels: issue-type: bug, source: core:strapi

#12239 Prepare for deprecated cluster.isMaster in node > 16.0.0
  packages/core/strapi/lib/commands/develop.js
Labels: issue-type: enhancement, source: core:strapi

#12033 Update Spanish translations
  examples/getstarted/src/plugins/myplugin/admin/src/translations/es.json
  packages/core/admin/admin/src/translations/es.json
  packages/core/content-type-builder/admin/src/translations/es.json
  packages/core/email/admin/src/translations/es.json
  packages/core/upload/admin/src/translations/es.json
  packages/plugins/documentation/admin/src/translations/es.json
  packages/plugins/graphql/admin/src/translations/es.json
  packages/plugins/i18n/admin/src/translations/es.json
  packages/plugins/sentry/admin/src/translations/es.json
  packages/plugins/users-permissions/admin/src/translations/es.json
Labels: source: core:admin, issue-type: translation

#12056 Update Admin Japanese translations
  packages/core/admin/admin/src/translations/ja.json
Labels: source: core:admin, issue-type: translation

#12135 feat: Hungarian admin translations
  packages/core/admin/admin/src/translations/hu.json
  packages/core/admin/admin/src/translations/languageNativeNames.js
Labels: source: core:admin, issue-type: translation

#12141 fix translations for Ukrainian
  packages/core/admin/admin/src/translations/uk.json
Labels: source: core:admin, issue-type: translation

#12169 Update nl.json
  packages/core/admin/admin/src/translations/nl.json
Labels: source: core:admin, issue-type: translation

#12186 chore: add missing pt-BR translations
  packages/core/admin/admin/src/translations/pt-BR.json
Labels: source: core:admin, issue-type: translation

#12043 Create CTs, middlewares, policies folders during plugin generation
  packages/generators/generators/lib/files/plugin/server/content-types/index.js
  packages/generators/generators/lib/files/plugin/server/index.js
  packages/generators/generators/lib/files/plugin/server/middlewares/index.js
  packages/generators/generators/lib/files/plugin/server/policies/index.js
Labels: issue-type: enhancement, source: cli

#12283 chore(deps): update node-fetch to v2.6.7
  packages/core/strapi/package.json
  yarn.lock
Labels: source: dependencies, issue-type: security

#11866 unpin graphql and regenerate lockfile
  packages/plugins/graphql/package.json
Labels: issue-type: enhancement, source: plugin:graphql

#11825 Enable session middleware by default (fixes U&P provider authentication)
  .github/actions/run-e2e-tests/script.sh
  examples/getstarted/config/middlewares.js
  examples/getstarted/config/server.js
  package.json
  packages/core/admin/server/strategies/api-token.js
  packages/core/strapi/lib/Strapi.js
  packages/core/strapi/lib/middlewares/index.js
  packages/core/strapi/lib/middlewares/session.js
  packages/core/strapi/lib/middlewares/session/__tests__/session.test.js
  packages/core/strapi/lib/middlewares/session/defaults.json
  packages/core/strapi/lib/middlewares/session/index.js
  packages/core/strapi/lib/services/fs.js
  packages/core/strapi/lib/services/server/index.js
  packages/core/strapi/lib/services/server/koa.js
  packages/core/strapi/lib/services/server/middleware.js
  packages/core/strapi/lib/services/server/register-middlewares.js
  packages/generators/app/lib/create-project.js
  packages/generators/app/lib/resources/dot-files/env.example
  packages/generators/app/lib/resources/files/config/middlewares.js
  packages/generators/app/lib/resources/files/config/server.js
  packages/generators/app/lib/resources/templates/env.js
  packages/generators/app/lib/resources/templates/env.template
  packages/plugins/documentation/package.json
  packages/plugins/documentation/server/config/index.js
  packages/plugins/documentation/server/middlewares/documentation.js
  packages/plugins/users-permissions/admin/src/components/FormModal/Input/index.js
  packages/plugins/users-permissions/admin/src/pages/Providers/utils/forms.js
  packages/plugins/users-permissions/server/bootstrap/index.js
  packages/plugins/users-permissions/server/controllers/auth.js
  packages/plugins/users-permissions/server/services/jwt.js
  test/e2e.js
  test/helpers/strapi.js
  yarn.lock
Labels: issue-type: bug, source: plugin:users-permissions

#12265 Fix sanity check for @casl/ability upgrade #12232
  packages/core/admin/package.json
  packages/core/admin/server/services/permission/permissions-manager/sanitize.js
  yarn.lock
Labels: issue-type: bug, source: dependencies

#12313 Add strapi as peerDependency to Strapi Market plugins
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/sentry/package.json
Labels: issue-type: enhancement, source: dependencies

#12314 [helper-plugin] bump axios to v0.25.0
  packages/core/helper-plugin/package.json
  yarn.lock
Labels: source: dependencies, issue-type: security

#12298 Admin enhancements & fixes
  packages/core/admin/admin/src/content-manager/components/PreviewWysiwyg/Wrapper.js
  packages/core/admin/admin/src/content-manager/components/PreviewWysiwyg/utils/mdRenderer.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/Editor.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/EditorStylesContainer.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/WysiwygNav.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/WysiwygStyles.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/index.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/DisplayedFields.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/ModalForm.js
  packages/core/admin/package.json
  packages/core/helper-plugin/lib/src/components/DateTimePicker/index.js
  packages/core/helper-plugin/lib/src/components/GenericInput/index.js
  packages/core/upload/admin/src/components/AssetCard/DocAssetCard.js
  packages/core/upload/admin/src/components/AssetCard/ImageAssetCard.js
  packages/core/upload/admin/src/components/AssetCard/UploadingAssetCard.js
  packages/core/upload/admin/src/components/AssetCard/VideoAssetCard.js
  packages/core/upload/admin/src/components/AssetCard/tests/DocAssetCard.test.js
  packages/core/upload/admin/src/components/AssetCard/tests/ImageAssetCard.test.js
  packages/core/upload/admin/src/components/AssetDialog/DialogTitle.js
  packages/core/upload/admin/src/components/AssetDialog/SelectedStep/index.js
  packages/core/upload/admin/src/components/AssetDialog/index.js
  packages/core/upload/admin/src/components/AssetList/tests/AssetList.test.js
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/EmptyStateAsset.js
  packages/core/upload/admin/src/components/UploadAssetDialog/AddAssetStep/AddAssetStep.js
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/PendingAssetStep.js
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/UploadAssetDialog.test.js
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary.js
  packages/core/upload/admin/src/pages/App/tests/MediaLibrary.test.js
  packages/core/upload/admin/src/translations/en.json
  yarn.lock
Labels: issue-type: enhancement, source: core:admin, source: core:upload

#12215 Fix admin.port not used in the webpack dev server configuration
  packages/core/admin/index.js
Labels: issue-type: bug, source: core:admin

#12340 Fix SSO redirection
  packages/core/admin/ee/admin/pages/App/utils/customRoutes.js
  packages/core/admin/ee/server/controllers/authentication/utils.js
Labels: issue-type: bug, source: core:strapi

#12337 Fix/required field
  packages/core/admin/admin/src/content-manager/components/InputJSON/FieldWrapper.js
  packages/core/admin/admin/src/content-manager/components/InputJSON/Label.js
  packages/core/admin/admin/src/content-manager/components/InputJSON/index.js
  packages/core/admin/admin/src/content-manager/pages/App/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/SingleSignOn/tests/index.test.js
  packages/core/admin/package.json
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/PaginationURLQuery/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/PaginationURLQuery/tests/index.test.js
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetCard/tests/DocAssetCard.test.js
  packages/core/upload/admin/src/components/AssetCard/tests/ImageAssetCard.test.js
  packages/core/upload/admin/src/components/AssetList/tests/AssetList.test.js
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/CarouselAssetActions.js
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/CarouselAssets.js
  packages/core/upload/admin/src/components/MediaLibraryInput/index.js
  packages/core/upload/admin/src/components/MediaLibraryInput/tests/__snapshots__/MediaLibraryInput.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/AddAssetStep/tests/FromComputerForm.test.js
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/core/upload/admin/src/pages/SettingsPage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
  yarn.lock
Labels: issue-type: bug, source: core:admin, version: v4

#12276 Fixing double hashing issue for users-permissions passwords
  packages/plugins/users-permissions/server/controllers/auth.js
  packages/plugins/users-permissions/server/services/user.js
Labels: issue-type: bug, source: plugin:users-permissions
