Repository strapi/strapi, pull requests merged in 2022-12, with the labels that each got.

#15003 Fix: many to many relationship to the same content type gives error on save
  packages/core/database/lib/metadata/relations.js
Labels: source: core:database, pr: fix

#15060 Fix create-strapi-app for commander 8.2.0
  packages/cli/create-strapi-app/create-strapi-app.js
Labels: source: cli, pr: fix

#15067 [CustomInputs]: add global cache to useLazyComponents
  packages/core/admin/admin/src/content-manager/components/NonRepeatableComponent/index.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/DraggedItem/index.js
  packages/core/admin/admin/src/content-manager/hooks/useLazyComponents/index.js
  packages/core/admin/admin/src/content-manager/hooks/useLazyComponents/tests/useLazyComponents.test.js
Labels: source: core:content-manager, pr: fix

#15001 Fix typo
  CONTRIBUTING.md
Labels: source: docs, pr: doc

#15016 fix import of @strapi/icons/Puzzle in generated admin plugin
  packages/generators/generators/lib/files/ts/plugin/admin/src/components/PluginIcon/index.tsx
  packages/generators/generators/lib/templates/ts/plugin-package.json.hbs
Labels: pr: fix, source: generators:app

#14359 ML: Empty state is shown after deleting all assets from a page
  packages/core/upload/admin/src/components/EditAssetDialog/RemoveAssetDialog.js
  packages/core/upload/admin/src/pages/App/MediaLibrary.js
Labels: source: core:upload, pr: enhancement

#15079 [DynamicZones]: add drag & drop
  examples/getstarted/src/api/kitchensink/content-types/kitchensink/schema.json
  packages/core/admin/admin/src/content-manager/components/DragLayer/ComponentDragPreview.js
  packages/core/admin/admin/src/content-manager/components/DragLayer/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DynamicComponent.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/DynamicComponent.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/utils/select.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/reducer.test.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/components/Component.js
  packages/core/admin/admin/src/content-manager/hooks/index.js
  packages/core/admin/admin/src/content-manager/utils/ItemTypes.js
  packages/core/admin/admin/src/content-manager/utils/getMaxTempKey.js
Labels: source: core:content-manager, pr: enhancement, flag: documentation

#14973 [entity-validator] Improve error messaging
  packages/core/content-manager/server/tests/api/basic-dp-dz.test.api.js
  packages/core/content-manager/server/tests/api/basic-dz.test.api.js
  packages/core/strapi/lib/services/entity-validator/index.js
  packages/core/strapi/tests/api/basic-dz.test.api.js
Labels: source: core:content-manager, pr: fix

#14759 useFetchClient hook replacing axiosInstance
  packages/core/admin/admin/src/content-manager/pages/EditView/Informations/tests/index.test.js
  packages/core/admin/admin/src/core/utils/axiosInstance.js
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/useFetchClient/index.js
  packages/core/admin/admin/src/pages/Admin/tests/useTrackUsage.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/index.js
  packages/core/admin/admin/src/utils/fetchClient.js
  packages/core/admin/admin/src/utils/getFetchClient.js
  packages/core/admin/admin/src/utils/tests/fetchClient.test.js
  packages/core/admin/admin/src/utils/tests/getFetchClient.test.js
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/index.js
  packages/core/content-type-builder/admin/src/utils/axiosInstance.js
  packages/core/email/admin/src/utils/axiosInstance.js
  packages/core/helper-plugin/lib/src/index.js
  packages/core/helper-plugin/lib/src/utils/wrapAxiosInstance/index.js
  packages/generators/generators/lib/files/js/plugin/admin/src/utils/axiosInstance.js
  packages/generators/generators/lib/files/ts/plugin/admin/src/utils/axiosInstance.ts
  packages/plugins/i18n/admin/src/utils/axiosInstance.js
  packages/plugins/users-permissions/admin/src/hooks/useFetchRole/index.js
  packages/plugins/users-permissions/admin/src/utils/axiosInstance.js
Labels: source: core:admin, pr: enhancement

#15113 Add useDragAndDrop hook documentation
  docs/docs/core/content-manager/hooks/use-drag-and-drop.mdx
  docs/sidebars.js
  packages/core/admin/admin/src/content-manager/hooks/useKeyboardDragAndDrop.js
Labels: source: docs, pr: doc

#14977 refactor(entity-manager): getDeepPopulate
  packages/core/content-manager/server/services/entity-manager.js
  packages/core/content-manager/server/services/utils/__tests__/populate.test.js
  packages/core/content-manager/server/services/utils/populate.js
Labels: source: core:content-manager, pr: enhancement

#15098 [CRUDReducer]: Add flag to only set modified data
  packages/admin-test-utils/lib/fixtures/store/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/sharedReducers/crudReducer/actions.js
  packages/core/admin/admin/src/content-manager/sharedReducers/crudReducer/constants.js
  packages/core/admin/admin/src/content-manager/sharedReducers/crudReducer/reducer.js
  packages/core/admin/admin/src/content-manager/sharedReducers/crudReducer/tests/crudReducer.test.js
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewCopyLocale/index.js
Labels: source: core:content-manager, pr: fix

#15112 [Fix] MediaLibraryInput localized icon
  examples/getstarted/src/api/category/content-types/category/schema.json
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/CarouselAssets.js
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/tests/CarouselAssets.test.js
  packages/core/upload/admin/src/components/MediaLibraryInput/index.js
Labels: source: core:upload, pr: fix

#15126 fix: reset `gridTemplateColumns` otherwise component breaks out of grid
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/helper-plugin/lib/src/components/ReactSelect/utils/getSelectStyles.js
Labels: source: core:helper-plugin, pr: fix

#15034 Fix some usecases where deadlocks can happen
  packages/core/database/lib/entity-manager/index.js
  packages/core/database/lib/entity-manager/regular-relations.js
  packages/plugins/i18n/tests/content-manager/crud.test.api.js
Labels: source: core:content-manager, pr: fix

#15047 Change strapi icons color in dashboard
  packages/core/admin/admin/src/pages/HomePage/SocialLinks.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
Labels: source: core:admin, pr: fix

#15037 Put inversedBy only once for manyToMany and oneToOne relations
  packages/core/content-type-builder/server/services/schema-builder/content-type-builder.js
Labels: source: core:content-type-builder, pr: fix

#15130 [RelationsReordering]: fixes
  packages/core/admin/admin/src/content-manager/components/DragLayer/RelationDragPreview.js
  packages/core/admin/admin/src/content-manager/components/DragLayer/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DynamicComponent.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/RelationItem.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/RelationItem.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/RelationList.test.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/components/Component.js
  packages/core/admin/admin/src/content-manager/hooks/useDragAndDrop.js
  packages/core/admin/admin/src/content-manager/utils/ItemTypes.js
Labels: source: core:content-manager, pr: fix

#15139 fix: filter path because a dynamic zone is a component but it should be classified as a dynamic zone
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DynamicComponent.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/recursivelyFindPathsBasedOnCondition.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/tests/recursivelyFindPathsBasedOnCondition.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/RelationInputDataManager.js
Labels: source: core:content-manager, pr: fix

#15140 [build-script]: use / as the path separator for glob.sync
  packages/core/admin/utils/get-plugins-path.js
Labels: source: tooling, pr: fix

#15152 [Reordering]: fix indicies order
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/tests/index.test.js
  packages/core/admin/admin/src/content-manager/hooks/useDragAndDrop.js
Labels: source: core:content-manager, pr: fix

#15157 [DND]: Preview images
  docs/docs/core/content-manager/hooks/use-drag-and-drop.mdx
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DynamicComponent.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/RelationItem.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/components/Component.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/components/Preview.js
Labels: source: core:content-manager, pr: fix

#15145 Add Turkish translation
  examples/getstarted/src/plugins/myplugin/admin/src/translations/tr.json
  packages/core/admin/admin/src/translations/tr.json
  packages/core/content-type-builder/admin/src/translations/tr.json
  packages/core/email/admin/src/translations/tr.json
  packages/core/upload/admin/src/translations/tr.json
  packages/plugins/color-picker/admin/src/translations/tr.json
  packages/plugins/documentation/admin/src/translations/tr.json
  packages/plugins/graphql/admin/src/translations/tr.json
  packages/plugins/i18n/admin/src/translations/tr.json
  packages/plugins/sentry/admin/src/translations/tr.json
  packages/plugins/users-permissions/admin/src/translations/tr.json
Labels: source: core:admin, pr: enhancement

#14996 replace some lodash function with native
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/email/admin/src/pages/Settings/index.js
  packages/core/email/server/bootstrap.js
  packages/core/email/server/controllers/email.js
Labels: source: core:admin, pr: enhancement

#15132 ML: Unable to select all media library assets, when page is greater than 1
  packages/core/upload/admin/src/pages/App/MediaLibrary.js
Labels: source: core:upload, pr: fix

#15159 [core: admin] Audit logs modal css change
  packages/core/admin/admin/src/pages/SettingsPage/pages/AuditLogs/ListView/ModalDialog/index.js
Labels: source: core:admin, pr: enhancement

#15111 Protect telemetry properties route
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/admin/server/routes/admin.js
Labels: source: core:admin, pr: security

#15143 Fix all usecases where deadlocks can happen (for MySQL versions above 5 and MariaDB)
  packages/core/database/lib/entity-manager/regular-relations.js
Labels: source: core:database, pr: fix

#14083 Chore/user level data
  packages/core/admin/admin/src/components/AuthenticatedApp/index.js
  packages/core/admin/admin/src/components/AuthenticatedApp/tests/index.test.js
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/admin/admin/src/utils/index.js
  packages/core/admin/admin/src/utils/tests/uniqueAdminHash.test.js
  packages/core/admin/admin/src/utils/uniqueAdminHash.js
  packages/core/admin/server/controllers/__tests__/admin.test.js
  packages/core/admin/server/controllers/admin.js
  packages/core/admin/server/services/__tests__/metrics.test.js
  packages/core/admin/server/services/metrics.js
  packages/core/content-manager/server/controllers/__tests__/single-types.test.js
  packages/core/content-manager/server/controllers/collection-types.js
  packages/core/content-manager/server/controllers/single-types.js
  packages/core/content-manager/server/services/__tests__/metrics.test.js
  packages/core/content-manager/server/services/metrics.js
  packages/core/content-type-builder/server/controllers/content-types.js
  packages/core/helper-plugin/lib/src/hooks/useTracking/index.js
  packages/core/helper-plugin/lib/src/hooks/useTracking/tests/index.test.js
  packages/core/strapi/lib/Strapi.js
  packages/core/strapi/lib/commands/opt-in-telemetry.js
  packages/core/strapi/lib/commands/opt-out-telemetry.js
  packages/core/strapi/lib/services/metrics/__tests__/admin-user-hash.test.js
  packages/core/strapi/lib/services/metrics/__tests__/index.test.js
  packages/core/strapi/lib/services/metrics/admin-user-hash.js
  packages/core/strapi/lib/services/metrics/index.js
  packages/core/strapi/lib/services/metrics/middleware.js
  packages/core/strapi/lib/services/metrics/sender.js
  packages/core/strapi/lib/utils/success.js
  packages/core/upload/server/controllers/admin-folder-file.js
  packages/core/upload/server/services/metrics.js
  packages/core/upload/server/services/upload.js
  packages/generators/app/lib/utils/usage.js
  packages/plugins/i18n/server/services/__tests__/metrics.test.js
  packages/plugins/i18n/server/services/metrics.js
Labels: source: core:strapi, pr: chore

#15189 Update qs to fix CVE-2022-24999
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  packages/core/strapi/package.json
  yarn.lock
Labels: source: dependencies, pr: security

#15069 improve SK translations
  packages/core/admin/admin/src/translations/sk.json
  packages/core/upload/admin/src/translations/sk.json
Labels: source: core:admin, pr: chore

#15176 Content-manager: handle complex component nesting in the UI
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/reducer.test.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/index.js
Labels: source: core:content-manager, pr: fix

#15192 [DnD]: reordering and scrolling at the same time
  docs/docs/core/content-manager/hooks/use-drag-and-drop.mdx
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/RelationItem.js
  packages/core/admin/admin/src/content-manager/hooks/useDragAndDrop.js
Labels: source: core:content-manager, pr: fix

#15195 [Auth]: change confirmation to confirm
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
  packages/plugins/users-permissions/tests/content-api/auth.test.api.js
Labels: source: core:admin, pr: chore

#15129 [entity-service]: support locale=all for single types
  packages/plugins/i18n/server/services/__tests__/entity-service-decorator.test.js
  packages/plugins/i18n/server/services/entity-service-decorator.js
  packages/plugins/i18n/tests/content-api/content-api.test.api.js
Labels: source: core:strapi, pr: fix

#15201 Fix typo in inactive issue cron workflow
  .github/workflows/issues_dailyCron.yml
Labels: source: tooling, pr: chore

#15085 [features] Media Library list view
  packages/core/helper-plugin/lib/src/utils/auth/index.js
  packages/core/upload/admin/src/components/AssetCard/AssetCard.js
  packages/core/upload/admin/src/components/AssetCard/AssetCardBase.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/index.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/index.test.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/utils/isSelectable.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/utils/tests/isSelectable.test.js
  packages/core/upload/admin/src/components/AssetDialog/SelectedStep/index.js
  packages/core/upload/admin/src/components/AssetDialog/index.js
  packages/core/upload/admin/src/components/AssetGridList/Draggable.js
  packages/core/upload/admin/src/components/AssetGridList/index.js
  packages/core/upload/admin/src/components/AssetGridList/tests/AssetGridList.test.js
  packages/core/upload/admin/src/components/AssetGridList/tests/__snapshots__/AssetGridList.test.js.snap
  packages/core/upload/admin/src/components/Breadcrumbs/CrumbSimpleMenuAsync.js
  packages/core/upload/admin/src/components/EditAssetDialog/PreviewBox/index.js
  packages/core/upload/admin/src/components/EditFolderDialog/tests/EditFolderDialog.test.js
  packages/core/upload/admin/src/components/FolderGridList/FolderGridList.js
  packages/core/upload/admin/src/components/FolderGridList/index.js
  packages/core/upload/admin/src/components/FolderGridList/tests/FolderGridList.test.js
  packages/core/upload/admin/src/components/FolderGridList/tests/__snapshots__/FolderGridList.test.js.snap
  packages/core/upload/admin/src/components/FolderList/index.js
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/CarouselAsset.js
  packages/core/upload/admin/src/components/TableList/CellContent.js
  packages/core/upload/admin/src/components/TableList/PreviewCell.js
  packages/core/upload/admin/src/components/TableList/TableRows.js
  packages/core/upload/admin/src/components/TableList/index.js
  packages/core/upload/admin/src/components/TableList/tests/CellContent.test.js
  packages/core/upload/admin/src/components/TableList/tests/PreviewCell.test.js
  packages/core/upload/admin/src/components/TableList/tests/TableList.test.js
  packages/core/upload/admin/src/components/TableList/tests/TableRows.test.js
  packages/core/upload/admin/src/components/TableList/tests/__snapshots__/CellContent.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/core/upload/admin/src/constants.js
  packages/core/upload/admin/src/hooks/__mocks__/useFolders.js
  packages/core/upload/admin/src/pages/App/MediaLibrary.js
  packages/core/upload/admin/src/pages/App/tests/MediaLibrary.test.js
  packages/core/upload/admin/src/translations/en.json
  packages/core/upload/admin/src/utils/createAssetUrl.js
  packages/core/upload/admin/src/utils/getBreadcrumbDataML.js
  packages/core/upload/admin/src/utils/getFolderURL.js
  packages/core/upload/admin/src/utils/index.js
  packages/core/upload/admin/src/utils/tests/getFolderURL.test.js
Labels: source: core:upload, pr: feature

#15198 [Fix] email provider access
  packages/core/email/server/bootstrap.js
Labels: source: core:email, pr: fix

#15197 Avoid deadlocks for mysql and mariadb when creating a Nth locale
  packages/core/database/lib/entity-manager/regular-relations.js
Labels: source: core:database, pr: fix

#15174 fix: Add button of repeatable components is missing a focus outline and focus handling
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/AccordionGroupCustom/index.js
Labels: source: core:content-manager, pr: fix

#15097 fix: application crash when deleting a filter on a contenttype
  packages/core/helper-plugin/lib/src/components/FilterListURLQuery/AttributeTag.js
  packages/core/upload/admin/src/components/FilterList/FilterTag.js
Labels: source: core:content-manager, pr: fix

#14700 Feature: Media Library configure the view
  packages/core/admin/server/services/__tests__/role.test.js
  packages/core/admin/server/services/role.js
  packages/core/admin/server/tests/admin-permission.test.api.js
  packages/core/admin/server/tests/admin-role.test.api.js
  packages/core/upload/admin/src/components/SortPicker/index.js
  packages/core/upload/admin/src/hooks/__mocks__/useConfig.js
  packages/core/upload/admin/src/hooks/tests/useConfig.test.js
  packages/core/upload/admin/src/hooks/tests/useModalQueryParams.test.js
  packages/core/upload/admin/src/hooks/useConfig.js
  packages/core/upload/admin/src/hooks/useModalQueryParams.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/Settings.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/tests/Settings.test.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/tests/__snapshots__/Settings.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/index.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/state/actionTypes.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/state/actions.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/state/init.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/state/reducer.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/state/tests/init.test.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/state/tests/reducer.test.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/ConfigureTheView.test.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/BulkActions.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/BulkDeleteButton.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/BulkMoveButton.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/EmptyOrNoPermissions.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/Filters.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/Header.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/BulkActions.test.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/BulkDeleteButton.test.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/BulkMoveButton.test.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/EmptyOrNoPermissions.test.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/Header.test.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkActions.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkDeleteButton.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkMoveButton.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/Header.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/index.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/tests/MediaLibrary.test.js
  packages/core/upload/admin/src/pages/App/index.js
  packages/core/upload/admin/src/pages/App/tests/Upload.test.js
  packages/core/upload/admin/src/permissions.js
  packages/core/upload/admin/src/translations/en.json
  packages/core/upload/server/bootstrap.js
  packages/core/upload/server/constants.js
  packages/core/upload/server/controllers/index.js
  packages/core/upload/server/controllers/validation/admin/configureView.js
  packages/core/upload/server/controllers/view-configuration.js
  packages/core/upload/server/routes/index.js
  packages/core/upload/server/routes/view-configuration.js
  packages/core/upload/server/services/upload.js
  packages/core/upload/tests/admin/configure-view.test.api.js
Labels: source: core:upload, pr: feature

#15211 [chore] Bump DS 1.4.1
  packages/core/admin/admin/src/content-manager/components/InputJSON/FieldError.js
  packages/core/admin/admin/src/content-manager/components/InputJSON/FieldWrapper.js
  packages/core/admin/admin/src/content-manager/components/InputJSON/Label.js
  packages/core/admin/admin/src/content-manager/components/InputJSON/index.js
  packages/core/admin/admin/src/content-manager/components/InputUID/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/EditView/DraftAndPublishBadge/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/plugins.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/providers.test.js.snap
  packages/core/admin/admin/src/pages/ProfilePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/components/SettingsNav/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/SingleSignOn/tests/__snapshots__/index.test.js.snap
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/package.json
  packages/core/email/admin/src/pages/Settings/tests/index.test.js
  packages/core/helper-plugin/lib/src/components/DateTimePicker/index.js
  packages/core/helper-plugin/lib/src/components/DateTimePicker/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/GenericInput/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/NotAllowedInput/tests/index.test.js
  packages/core/helper-plugin/lib/src/components/SearchURLQuery/tests/index.test.js
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/core/upload/admin/src/pages/SettingsPage/tests/index.test.js
  packages/plugins/color-picker/admin/src/components/ColorPicker/ColorPickerInput/index.js
  packages/plugins/i18n/admin/src/components/LocaleSelect/tests/LocaleSelect.test.js
  packages/plugins/i18n/admin/src/components/LocaleSelect/tests/__snapshots__/LocaleSelect.test.js.snap
  packages/plugins/users-permissions/admin/src/components/FormModal/Input/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
  yarn.lock
Labels: source: core:admin, pr: chore

#14830 DateTimePicker from DS used in Strapi
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationMultiple/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/plugins.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/providers.test.js.snap
  packages/core/admin/admin/src/pages/ProfilePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/ee/admin/pages/SettingsPage/SingleSignOn/tests/__snapshots__/index.test.js.snap
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.js.snap
  packages/core/email/admin/src/pages/Settings/tests/index.test.js
  packages/core/helper-plugin/lib/src/components/DateTimePicker/index.js
  packages/core/helper-plugin/lib/src/components/DateTimePicker/parseDate.js
  packages/core/helper-plugin/lib/src/components/DateTimePicker/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/DateTimePicker/tests/parseDate.test.js
  packages/core/helper-plugin/lib/src/components/FilterPopoverURLQuery/Inputs.js
  packages/core/helper-plugin/lib/src/components/GenericInput/index.js
  packages/core/helper-plugin/lib/src/components/GenericInput/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/FilterPopover/FilterValueInput.js
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/tests/__snapshots__/Settings.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.js.snap
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
Labels: source: core:helper-plugin, pr: enhancement

#15151 fix(upload): normalize the string used as basename
  packages/core/upload/server/services/upload.js
Labels: source: core:upload, pr: fix

#15221 Improve ML reactivity when there are many files
  packages/core/upload/server/content-types/file/schema.js
Labels: source: core:upload, pr: enhancement

#15224 Put inversedBy only once for manyToMany and oneToOne relations when creating a content-type
  packages/core/content-type-builder/server/services/schema-builder/content-type-builder.js
Labels: source: core:content-type-builder, pr: fix

#15188 fix: Loader is not displayed in Save button while creating an entry for the collection-type
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/index.js
Labels: source: core:content-manager, pr: fix

#15243 [fix] ML table headers and asset count
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/index.test.js
  packages/core/upload/admin/src/components/TableList/index.js
  packages/core/upload/admin/src/components/TableList/tests/TableList.test.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/index.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/tests/MediaLibrary.test.js
Labels: source: core:upload, pr: fix

#15212 Add requestContext to Strapi interface
  packages/core/strapi/lib/types/core/strapi/index.d.ts
Labels: pr: chore, source: typescript

#15235 Move cropper CSS import from main bundle to upload plugin
  packages/core/admin/admin/src/components/GlobalStyle/index.js
  packages/core/upload/admin/src/components/EditAssetDialog/PreviewBox/index.js
Labels: source: core:admin, pr: chore

#15241 fix: Content manager crashing when dynamic zone entry field is not of type string
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DynamicComponent.js
Labels: source: core:content-manager, pr: fix

#15254 [fix] Relation path setup
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/findLeafByPathAndReplace.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/tests/findLeafByPathAndReplace.test.js
Labels: source: core:content-manager, pr: fix

#14276 Remove duplicated admin api route for batch delete users
  packages/core/admin/server/routes/roles.js
Labels: source: core:admin, pr: chore

#14546 Create and apply admin rate limit middleware
  packages/core/admin/package.json
  packages/core/admin/server/index.js
  packages/core/admin/server/middlewares/index.js
  packages/core/admin/server/middlewares/rateLimit.js
  packages/core/admin/server/routes/authentication.js
  packages/core/strapi/lib/services/errors.js
  packages/core/utils/lib/errors.js
Labels: source: core:admin, pr: enhancement

#15232 fix transalation documentation for setting page
  packages/plugins/documentation/admin/src/translations/dk.json
  packages/plugins/documentation/admin/src/translations/en.json
  packages/plugins/documentation/admin/src/translations/es.json
  packages/plugins/documentation/admin/src/translations/ko.json
  packages/plugins/documentation/admin/src/translations/pl.json
  packages/plugins/documentation/admin/src/translations/sv.json
  packages/plugins/documentation/admin/src/translations/tr.json
  packages/plugins/documentation/admin/src/translations/zh.json
Labels: source: plugin:documentation, pr: fix

#15258 fix: translation of profile language setting
  packages/core/admin/admin/src/pages/ProfilePage/index.js
  packages/core/admin/admin/src/translations/ca.json
  packages/core/admin/admin/src/translations/dk.json
  packages/core/admin/admin/src/translations/es.json
  packages/core/admin/admin/src/translations/fr.json
  packages/core/admin/admin/src/translations/hu.json
  packages/core/admin/admin/src/translations/ja.json
  packages/core/admin/admin/src/translations/nl.json
  packages/core/admin/admin/src/translations/zh-Hans.json
  packages/core/admin/admin/src/translations/zh.json
Labels: source: core:admin, pr: fix

#14593 disable migrations config
  packages/core/database/lib/index.js
  packages/core/database/lib/migrations/index.js
Labels: source: core:database, pr: enhancement

#15261 fix: translations of CarouselAssetActions
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/CarouselAssetActions.js
Labels: source: core:admin, pr: fix

#14553 Update the Code Of Conduct
  CODE_OF_CONDUCT.md
Labels: source: docs, pr: doc

#15182 Update security and readme for v3 EOL
  .github/workflows/issues_handleLabel.yml
  README.md
  SECURITY.md
  packages/core/strapi/README.md
Labels: source: docs, pr: chore
