Repository strapi/strapi, pull requests merged in 2022-06, with the labels that each got.

#13444 Fix yup strapiID not working
  packages/core/utils/lib/__tests__/validators.test.js
  packages/core/utils/lib/validators.js
Labels: source: core:utils, pr: fix

#13449 Fix CVE-2022-29256
  packages/core/upload/package.json
Labels: source: dependencies, pr: fix

#13450 Fix CVE-2021-46708
  packages/plugins/documentation/package.json
Labels: source: dependencies, pr: fix

#13437 Pl translation
  packages/core/admin/admin/src/translations/pl.json
Labels: source: core:admin, pr: chore

#13368 V3 security updates
  packages/strapi-admin/package.json
  packages/strapi-plugin-upload/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#13462 [marketplace] add providers tabs
  packages/core/admin/admin/src/hooks/useFetchMarketplaceProviders/index.js
  packages/core/admin/admin/src/hooks/useFetchMarketplaceProviders/utils/api.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/InstallPluginButton.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackagesGrid/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/server.js
  packages/core/admin/admin/src/translations/en.json
Labels: pr: feature, source: marketplace

#13501 Add search to marketplace providers
  packages/core/admin/admin/src/pages/MarketplacePage/components/EmptyNpmPackageSearch/EmptyNpmPackageGrid.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/EmptyNpmPackageSearch/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
  yarn.lock
Labels: flag: don't merge

#13442 kara-kalpak locale
  packages/plugins/i18n/server/constants/iso-locales.json
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
Labels: source: core:admin, pr: enhancement

#13546 [Marketplace] Add submit providers button
  packages/core/admin/admin/src/pages/MarketplacePage/components/PageHeader/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
Labels: pr: feature, source: marketplace

#13543 [Marketplace] Add providers to marketplace
  packages/core/admin/admin/src/hooks/useFetchMarketplaceProviders/index.js
  packages/core/admin/admin/src/hooks/useFetchMarketplaceProviders/utils/api.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/EmptyNpmPackageSearch/EmptyNpmPackageGrid.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/EmptyNpmPackageSearch/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/InstallPluginButton.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackagesGrid/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/PageHeader/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/server.js
  packages/core/admin/admin/src/translations/en.json
  yarn.lock
Labels: pr: feature, source: marketplace

#13105 Fix upload plugin
  packages/core/upload/server/controllers/content-api.js
  packages/core/upload/server/routes/content-api.js
Labels: source: core:upload, pr: fix

#13370 add missing await in upload plugin
  packages/core/upload/server/services/upload.js
Labels: source: core:upload, pr: fix

#13130 Fix / AuthenticatedApp tests
  packages/core/admin/admin/src/components/AuthenticatedApp/tests/index.test.js
Labels: source: core:admin, pr: fix

#13514 Use `ctx._matchedRoute` instead of `ctx.request.url` for Sentry transaction name
  packages/plugins/sentry/server/middlewares/sentry.js
Labels: source: plugin:sentry, pr: enhancement

#13580 Save dimensions for svg and gif images
  packages/core/upload/server/services/image-manipulation.js
  packages/core/upload/server/services/upload.js
  packages/core/upload/tests/admin/image-dimension.test.e2e.js
  packages/core/upload/tests/utils/strapi.gif
  packages/core/upload/tests/utils/strapi.jpg
  packages/core/upload/tests/utils/strapi.png
  packages/core/upload/tests/utils/strapi.svg
  packages/core/upload/tests/utils/strapi.tiff
  packages/core/upload/tests/utils/strapi.webp
Labels: source: core:upload, pr: fix

#13618 chore: Update design-systems and icons to 1.2.0
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetCard/tests/DocAssetCard.test.js
  packages/core/upload/admin/src/components/AssetCard/tests/ImageAssetCard.test.js
  packages/core/upload/admin/src/components/AssetList/tests/AssetList.test.js
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  yarn.lock
Labels: source: core:admin, pr: chore

#13609 Wysiwyg: Update system font-family
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/EditorStylesContainer.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/tests/index.test.js
Labels: source: core:admin, pr: fix

#12825 Integrate react-refresh to increase productivity
  packages/core/admin/package.json
  packages/core/admin/webpack.config.js
Labels: source: tooling, pr: chore

#12820 [Jest] Add ability to search and navigate test file on watch mode
  jest.base-config.front.js
  jest.base-config.js
  package.json
  yarn.lock
Labels: source: tooling, pr: chore

#13572 [GraphQL] Enable filtering on nested components
  packages/plugins/graphql/server/services/builders/filters/content-type.js
  packages/plugins/graphql/server/services/utils/mappers/graphql-filters-to-strapi-query.js
Labels: source: plugin:graphql, pr: enhancement

#13560 feat(translations): add several items in zh-Hans
  packages/core/admin/admin/src/translations/zh-Hans.json
Labels: source: core:admin, pr: enhancement

#13467 Add Hindi translation
  packages/core/admin/admin/src/translations/hi.json
  packages/core/admin/admin/src/translations/languageNativeNames.js
Labels: source: core:admin, pr: enhancement

#13606 Webpack: Cleanup resolver configuration
  packages/core/admin/webpack.alias.js
Labels: source: core:admin, pr: fix

#13575 fix(content-type-builder/attribute-option): align text to the left
  packages/core/content-type-builder/admin/src/components/AttributeOptions/AttributeOption/BoxWrapper.js
Labels: source: core:content-type-builder, pr: fix

#13640 chore: Remove unused dependencies from the helper-plugin
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/webpack.config.js
  yarn.lock
Labels: source: core:helper-plugin, pr: chore

#13233 Chore/opt in telemetry
  packages/core/strapi/bin/strapi.js
  packages/core/strapi/lib/commands/opt-in-telemetry.js
Labels: source: core:strapi, pr: feature

#13336 #13317 Throw error when files extensions below config/ are different from .js or .json
  packages/core/strapi/lib/core/app-configuration/config-loader.js
Labels: source: core:strapi, pr: fix

#13644 Add doc flag in pr status check to avoid merging of PR
  .github/actions/check-pr-status/dist/index.js
  .github/actions/check-pr-status/index.js
Labels: source: tooling, pr: chore

#12843 Optimize database foreign keys references - MySQL/MariaDB
  packages/core/database/lib/dialects/mysql/schema-inspector.js
Labels: source: core:database, pr: fix

#13550 Optimize database foreign keys references - PostgreSQL
  packages/core/database/lib/dialects/postgresql/schema-inspector.js
Labels: source: core:database, pr: enhancement
