Repository strapi/strapi, pull requests merged in 2022-03, with the labels that each got.

#12450 [Feature] Usecase / Persona
  packages/core/admin/admin/src/components/UnauthenticatedLogo/index.js
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/ForgotPassword/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/ForgotPasswordSuccess/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Login/BaseLogin.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/index.js
  packages/core/admin/admin/src/pages/AuthPage/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/index.js
  packages/core/admin/admin/src/pages/UseCasePage/index.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/ee/admin/pages/AuthPage/components/Providers/index.js
Labels: issue-type: feature request, source: core:admin

#12692 Register checkbox
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
Labels: issue-type: enhancement, source: core:admin

#12579 Fix the populate filtering
  packages/core/content-manager/server/tests/api/populate/filtering/index.test.e2e.js
  packages/core/strapi/lib/services/entity-service/params.js
  packages/core/utils/lib/convert-query-params.js
Labels: issue-type: bug, source: core:strapi

#12693 Fix/upload file directly to entity
  packages/core/upload/server/services/upload.js
  packages/core/upload/tests/upload.test.e2e.js
Labels: issue-type: bug, source: core:upload

#12691 Fix date field
  packages/plugins/graphql/server/services/internals/scalars/date.js
  packages/plugins/graphql/server/services/internals/scalars/index.js
  packages/plugins/graphql/tests/crud.test.e2e.js
  packages/plugins/graphql/tests/fields/date.test.e2e.js
  packages/plugins/graphql/tests/relations.test.e2e.js
Labels: issue-type: bug, source: plugin:graphql

#12627 Populate nested images for getNonLocalisedFields
  packages/generators/generators/lib/plops/__tests__/content-type.test.js
  packages/plugins/i18n/server/controllers/__tests__/content-types.test.js
  packages/plugins/i18n/server/controllers/content-types.js
  packages/plugins/i18n/server/services/__tests__/content-types.test.js
  packages/plugins/i18n/server/services/content-types.js
Labels: issue-type: bug, source: plugin:i18n

#12700 Add a lockfile check to the github actions
  .github/actions/security/lockfile/action.yml
  .github/actions/security/lockfile/script.sh
  .github/workflows/checks.yml
Labels: source: tooling, issue-type: security

#12663 Fixes server restarting when modifying admin files
  packages/core/admin/index.js
  packages/core/content-manager/server/tests/api/populate/filtering/index.test.e2e.js
  packages/core/strapi/lib/commands/develop.js
  yarn.lock
Labels: issue-type: bug, source: core:strapi

#12724 Ensure the session PK check is disabled during schema update for MySQL
  packages/core/database/lib/dialects/mysql/index.js
Labels: source: core:database, pr: fix

#12730 Update label checker to use pr: instead of issue-type
  .github/actions/check-pr-status/__tests__/action.test.js
  .github/actions/check-pr-status/dist/index.js
  .github/actions/check-pr-status/index.js
Labels: source: tooling, pr: chore

#12737 Update dependabot label config
  .github/dependabot.yml
Labels: source: tooling, pr: chore

#12488 Include required description in 200 response
  packages/plugins/documentation/server/utils/builders/build-api-responses.js
Labels: issue: bug, source: plugin:documentation, pr: fix

#12490 Set operationId
  packages/plugins/documentation/server/utils/builders/build-api-endpoint-path.js
Labels: source: plugin:documentation, pr: fix

#12758 Fix loading time when opening an entity with many related entities
  packages/core/content-manager/server/services/entity-manager.js
Labels: source: core:content-manager, pr: fix

#12200 Allow special characters in an enum
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/types.js
  packages/core/content-type-builder/admin/src/translations/en.json
  packages/core/content-type-builder/admin/src/utils/startsWithANumber.js
  packages/core/content-type-builder/admin/src/utils/toRegressedEnumValue.js
  packages/core/content-type-builder/server/controllers/validation/common.js
  packages/core/strapi/lib/core/domain/content-type/validator.js
  packages/core/utils/lib/__tests__/string-formatting.test.js
  packages/core/utils/lib/index.js
  packages/core/utils/lib/string-formatting.js
  packages/plugins/graphql/server/services/builders/enums.js
Labels: source: core:content-type-builder, pr: enhancement

#12781 Fix sanitize media
  packages/core/strapi/tests/api/populate/filtering/index.test.e2e.js
  packages/core/strapi/tests/api/populate/rec.jpg
  packages/core/strapi/tests/api/populate/sanitize.test.e2e.js
  packages/core/utils/lib/sanitize/visitors/remove-restricted-relations.js
  packages/core/utils/lib/traverse-entity.js
Labels: source: core:strapi, pr: security

#12690 CM: Fix sync layouts in case no relation is set
  packages/core/content-manager/server/services/utils/configuration/layouts.js
  packages/core/content-manager/server/tests/content-manager/relations.test.e2e.js
Labels: source: core:content-manager, pr: fix

#12375 Allow U&P rate limiter's config to be overridden for specific routes
  packages/plugins/users-permissions/server/middlewares/rateLimit.js
Labels: source: plugin:users-permissions, pr: enhancement

#12757 InputUID: fix showing value availability
  packages/core/admin/admin/src/content-manager/components/InputUID/index.js
  packages/core/admin/admin/src/content-manager/components/InputUID/tests/index.test.js
Labels: source: core:content-manager, pr: fix

#12358 Docs: Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: source: tooling, pr: doc

#12394 Translation key correction of wording
  packages/core/email/admin/src/pages/Settings/index.js
Labels: source: core:email, pr: enhancement

#12653 fix: beforeDelete lifecycle components access
  packages/core/strapi/lib/services/entity-service/index.js
  packages/core/strapi/tests/lifecycles/before-delete.test.e2e.js
Labels: source: core:strapi, pr: enhancement

#12672 fix: placeholder for email confirmation link input
  packages/plugins/users-permissions/admin/src/translations/en.json
Labels: source: tooling, pr: fix

#12722 Add events to monitor first administrator account creation
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/index.js
  packages/core/strapi/lib/Strapi.js
Labels: source: core:admin, pr: chore

#12707 fix: winston default configuration
  packages/utils/logger/lib/default-configuration.js
Labels: source: core:utils, pr: fix

#12193 [v4] Split providers and grant config to a new files
  packages/plugins/users-permissions/server/bootstrap/grant-config.js
  packages/plugins/users-permissions/server/bootstrap/index.js
  packages/plugins/users-permissions/server/services/providers-list.js
  packages/plugins/users-permissions/server/services/providers.js
Labels: source: plugin:users-permissions, pr: chore

#12209 fix(editor): set proper line height
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/EditorStylesContainer.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/tests/index.test.js
Labels: source: core:content-manager, pr: enhancement

#12654 German translation (i18n)
  packages/plugins/i18n/admin/src/translations/de.json
Labels: source: plugin:i18n, pr: enhancement

#12644 Allow all URI schemes for setting reset password page
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/schema.test.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/utils/schema.js
Labels: source: plugin:users-permissions, pr: fix

#12764 fix: serve admin static file with public cache
  packages/core/admin/server/routes/serve-admin-panel.js
Labels: source: core:admin, pr: enhancement

#12714 Fix json field not validated on publish
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/isValidJSONString.test.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/cleanData.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/isValidJSONString.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/schema.js
  packages/core/admin/admin/src/content-manager/components/InputJSON/index.js
  packages/core/admin/admin/src/content-manager/components/SingleTypeFormWrapper/index.js
  packages/core/helper-plugin/lib/src/content-manager/utils/formatContentTypeData.js
  packages/core/helper-plugin/lib/src/content-manager/utils/formatContentTypeData.stories.mdx
  packages/core/helper-plugin/lib/src/content-manager/utils/tests/formatContentTypeData.test.js
  packages/core/helper-plugin/lib/src/content-manager/utils/tests/testData.js
  packages/core/helper-plugin/lib/src/index.js
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewCopyLocale/utils/cleanData.js
  packages/plugins/i18n/admin/src/middlewares/addCommonFieldsToInitialDataMiddleware.js
  packages/plugins/i18n/admin/src/middlewares/tests/addCommonFieldsToInitialDataMiddleware.test.js
Labels: source: core:content-manager, pr: fix

#12345 Handle user not found error in email confirmation
  packages/plugins/users-permissions/server/controllers/auth.js
Labels: source: plugin:users-permissions, pr: fix

#12745 cleanup commented out block of code
  packages/core/admin/admin/src/content-manager/pages/EditView/index.js
Labels: source: core:content-manager, pr: chore

#12288 Make component category translatable
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/ComponentPicker/Category/index.js
Labels: source: core:content-manager, pr: enhancement

#12801 Remove `enzyme` related packages
  jest.base-config.front.js
  package.json
  packages/admin-test-utils/lib/setup/enzyme-setup.js
  packages/admin-test-utils/lib/setup/styled-components.js
  packages/admin-test-utils/package.json
  packages/core/helper-plugin/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#12712 Allow snake case in content type generator
  packages/generators/generators/lib/plops/prompts/get-attributes-prompts.js
  packages/generators/generators/lib/plops/utils/validate-attribute-input.js
  packages/generators/generators/lib/plops/utils/validate-input.js
Labels: source: cli, pr: fix

#12356 Docs: Update contributing guide
  CONTRIBUTING.md
Labels: source: tooling, pr: doc

#12813 Fix / Release notification stacking
  packages/core/admin/admin/src/components/AuthenticatedApp/index.js
  packages/core/admin/admin/src/components/AuthenticatedApp/tests/index.test.js
  packages/core/admin/admin/src/components/AuthenticatedApp/utils/api.js
  packages/core/admin/admin/src/pages/Admin/index.js
Labels: source: core:admin, pr: fix

#12754 feat: interactively merge duplicated translations
  scripts/front/find-duplicate-translation-values.js
  scripts/front/merge-duplicated-translations/allowed-keys.js
  scripts/front/merge-duplicated-translations/find-duplicated-translation.js
  scripts/front/merge-duplicated-translations/index.js
  scripts/front/utils/search-files-content.js
  scripts/front/utils/translation-files.js
Labels: source: tooling, pr: chore

#12831 Bump DS 0.0.1-alpha.79
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#12791 GenericInput: improve null default-value handling for boolean fields
  packages/core/admin/admin/src/content-manager/components/Inputs/index.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/ja.json
  packages/core/admin/admin/src/translations/ko.json
  packages/core/helper-plugin/lib/src/components/GenericInput/GenericInput.stories.mdx
  packages/core/helper-plugin/lib/src/components/GenericInput/index.js
  packages/core/helper-plugin/lib/src/components/GenericInput/storyUtils/layout.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
Labels: source: core:content-manager, pr: enhancement

#12194 Added admin:create-user command
  packages/core/strapi/bin/strapi.js
  packages/core/strapi/lib/commands/__tests__/admin-create.test.js
  packages/core/strapi/lib/commands/admin-create.js
Labels: source: cli, pr: enhancement

#12793 feat(guided-tour): added tracking for the guided-tour
  packages/core/admin/admin/src/components/GuidedTour/Homepage/index.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/index.js
  packages/core/admin/admin/src/components/GuidedTour/layout.js
  packages/core/admin/admin/src/pages/AuthPage/index.js
Labels: source: core:strapi, pr: enhancement

#12829 Codecov: ignore md and mdx files
  codecov.yml
Labels: source: tooling, pr: fix

#12664 [Marketplace] Strapi market release
  packages/core/admin/.env
  packages/core/admin/admin/src/assets/images/icon_made-by-strapi.svg
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/useFetchInstalledPlugins/index.js
  packages/core/admin/admin/src/hooks/useFetchInstalledPlugins/utils/api.js
  packages/core/admin/admin/src/hooks/useFetchMarketplacePlugins/index.js
  packages/core/admin/admin/src/hooks/useFetchMarketplacePlugins/utils/api.js
  packages/core/admin/admin/src/hooks/useFetchPluginsFromMarketPlace/index.js
  packages/core/admin/admin/src/hooks/useFetchPluginsFromMarketPlace/tests/useFetchPluginsFromMarketPlace.test.js
  packages/core/admin/admin/src/pages/InstalledPluginsPage/Plugins.js
  packages/core/admin/admin/src/pages/MarketplacePage/MarketplaceBanner/Wrapper.js
  packages/core/admin/admin/src/pages/MarketplacePage/MarketplaceBanner/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/PluginCard/Wrapper.js
  packages/core/admin/admin/src/pages/MarketplacePage/PluginCard/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/Wrapper.js
  packages/core/admin/admin/src/pages/MarketplacePage/assets/marketplace-coming-soon.png
  packages/core/admin/admin/src/pages/MarketplacePage/components/EmptyPluginSearch/EmptyPluginGrid.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/EmptyPluginSearch/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/PluginCard/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/server.js
  packages/core/admin/admin/src/pages/MarketplacePage/utils/api.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/server/controllers/__tests__/admin.test.js
  packages/core/admin/server/controllers/admin.js
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/index.js
  packages/core/strapi/lib/Strapi.js
  packages/core/strapi/lib/core/loaders/plugins/get-enabled-plugins.js
  packages/core/strapi/lib/middlewares/security.js
  packages/core/strapi/tests/filtering.test.e2e.js
  packages/generators/generators/lib/plops/prompts/get-attributes-prompts.js
  packages/generators/generators/lib/plops/utils/validate-attribute-input.js
  packages/generators/generators/lib/plops/utils/validate-input.js
  packages/plugins/documentation/server/utils/builders/build-api-endpoint-path.js
  packages/plugins/users-permissions/server/controllers/auth.js
  yarn.lock
Labels: pr: feature, source: marketplace

#12206 [v4] fix(plugin generator): support valid package names for pluginId
  packages/generators/generators/lib/files/plugin/admin/src/pluginId.js
Labels: source: cli, pr: fix

#12812 Add missing keys to translation
  packages/core/admin/admin/src/translations/vi.json
  packages/plugins/sentry/admin/src/translations/vi.json
  scripts/front/__tests__/add-missing-keys-to-other-language.test.js
  scripts/front/__tests__/en.json
  scripts/front/__tests__/vi.json
  scripts/front/add-missing-keys-to-other-language.js
  scripts/front/reorder-admin-translation-files.js
Labels: source: tooling, pr: enhancement

#12835 [Fix bug] Min error repeatable components
  packages/core/admin/admin/src/content-manager/components/ComponentInitializer/index.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/AccordionGroupCustom/index.js
Labels: source: core:admin, pr: fix

#12862 fix: prop validation warning in dark mode tests
  packages/core/admin/admin/src/components/AuthenticatedApp/tests/index.test.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/tests/index.test.js
  packages/core/admin/admin/src/components/Notifications/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/App/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Informations/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/NoContentType/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/NoPermissions/tests/index.test.js
  packages/core/admin/admin/src/pages/ProfilePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/CreatePage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/ListPage/tests/index.test.js
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/index.test.js
  packages/core/content-type-builder/admin/src/pages/ListView/tests/index.test.js
Labels: source: core:admin, pr: fix

#12864 [Fix] Update snapshot Homepage Reddit's icon
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
Labels: source: core:admin, pr: fix

#12875 Remove DB examples folder
  packages/core/database/examples/.gitignore
  packages/core/database/examples/connections.js
  packages/core/database/examples/docker-compose.yml
  packages/core/database/examples/index.js
  packages/core/database/examples/models.js
  packages/core/database/examples/typings.ts
Labels: source: core:database, pr: chore

#12871 [CTB] Add format examples in date field select
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/baseForm.js
  packages/core/content-type-builder/admin/src/components/List/index.js
  packages/core/content-type-builder/admin/src/components/ListRow/index.js
  packages/core/content-type-builder/admin/src/components/SelectDateType/index.js
  packages/core/content-type-builder/admin/src/pages/ListView/index.js
  packages/core/content-type-builder/admin/src/translations/cs.json
  packages/core/content-type-builder/admin/src/translations/de.json
  packages/core/content-type-builder/admin/src/translations/dk.json
  packages/core/content-type-builder/admin/src/translations/en.json
  packages/core/content-type-builder/admin/src/translations/es.json
  packages/core/content-type-builder/admin/src/translations/id.json
  packages/core/content-type-builder/admin/src/translations/it.json
  packages/core/content-type-builder/admin/src/translations/ko.json
  packages/core/content-type-builder/admin/src/translations/ms.json
  packages/core/content-type-builder/admin/src/translations/nl.json
  packages/core/content-type-builder/admin/src/translations/pl.json
  packages/core/content-type-builder/admin/src/translations/ru.json
  packages/core/content-type-builder/admin/src/translations/sk.json
  packages/core/content-type-builder/admin/src/translations/th.json
  packages/core/content-type-builder/admin/src/translations/uk.json
  packages/core/content-type-builder/admin/src/translations/zh-Hans.json
  packages/core/content-type-builder/admin/src/translations/zh.json
Labels: source: core:content-type-builder, pr: enhancement

#12883 Add footer to DynamicTable component
  packages/core/helper-plugin/lib/src/components/DynamicTable/DynamicTable.stories.mdx
  packages/core/helper-plugin/lib/src/components/DynamicTable/index.js
Labels: source: core:helper-plugin, pr: enhancement

#12771 Add SERVER_URL variable to user e-mail templates
  packages/plugins/users-permissions/server/controllers/auth.js
  packages/plugins/users-permissions/server/controllers/validation/email-template.js
  packages/plugins/users-permissions/server/services/user.js
Labels: source: plugin:users-permissions, pr: enhancement

#12861 GenericInput: Allow number inputs to be cleared
  packages/core/helper-plugin/lib/src/components/GenericInput/index.js
  packages/core/helper-plugin/lib/src/components/GenericInput/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/GenericInput/tests/index.test.js
Labels: source: core:content-manager, pr: fix

#12906 Always set the provider property in uploaded file database entries
  packages/core/upload/server/services/upload.js
  packages/core/upload/tests/upload.test.e2e.js
Labels: source: core:upload, pr: fix

#12852 Update issue templates and urls / swap roadmap to canny
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/config.yml
  packages/core/admin/admin/src/pages/HomePage/SocialLinks.js
  packages/core/strapi/README.md
Labels: source: doc:readme, pr: doc

#12920 Fix snapshots
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
Labels: source: core:admin, pr: chore

#12877 EditAssetDialog: Use original image as source for cropping
  packages/core/upload/admin/src/components/EditAssetDialog/PreviewBox/AssetPreview.js
  packages/core/upload/admin/src/components/EditAssetDialog/PreviewBox/index.js
Labels: source: core:upload, pr: fix

#12922 ML: Add audio type to asset filters
  packages/core/upload/admin/src/utils/displayedFilters.js
  packages/core/upload/admin/src/utils/getAllowedFiles.js
  packages/core/upload/admin/src/utils/tests/getAllowedFiles.test.js
Labels: source: core:upload, pr: enhancement

#12916 Handle marketplace production environment
  packages/core/admin/admin/src/pages/MarketplacePage/components/PluginCard/InstallPluginButton.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/PluginCard/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
Labels: pr: enhancement, source: marketplace

#12213 CM: Allow displaying components in the list view
  packages/admin-test-utils/lib/fixtures/store/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/Relation/PopoverContent.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/Relation/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationMultiple/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationMultiple/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationMultiple/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationSingle/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationSingle/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationSingle/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RepeatableComponent/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/SingleComponent/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/utils/hasContent.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/utils/isSingleRelation.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/utils/tests/hasContent.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/utils/tests/isSingleRelation.test.js
  packages/core/admin/admin/src/content-manager/hooks/useFetchContentTypeLayout/utils/formatLayouts.js
  packages/core/admin/admin/src/content-manager/hooks/useFetchContentTypeLayout/utils/tests/formatLayouts.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/actions.js
  packages/core/admin/admin/src/content-manager/pages/ListView/reducer.js
  packages/core/admin/admin/src/content-manager/pages/ListView/tests/reducer.test.js
  packages/core/admin/admin/src/content-manager/pages/ListViewLayoutManager/index.js
  packages/core/admin/admin/src/content-manager/utils/checkIfAttributeIsDisplayable.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:content-manager, pr: enhancement

#12815 fix: ApolloServer middleware CORS issue
  packages/plugins/graphql/server/bootstrap.js
Labels: source: plugin:graphql, pr: fix

#12957 Build: Prevent output from swallowing webpack errors
  packages/core/admin/scripts/build.js
Labels: source: core:strapi, pr: fix

#12970 GenericInput: prevent controlled/ uncontrolled warnings
  packages/core/helper-plugin/lib/src/components/GenericInput/index.js
Labels: source: core:content-manager, pr: fix

#12979 [Registration Page] Text and padding improvements
  packages/core/admin/admin/src/layouts/UnauthenticatedLayout/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: enhancement

#12838 Fix actionOptions not taking into account by the upload provider
  packages/core/upload/server/bootstrap.js
Labels: source: core:upload, pr: fix

#12997 Revert "Fix actionOptions not taking into account by the upload provider"
  packages/core/upload/server/bootstrap.js
Labels: source: core:upload, pr: fix

#12846 ML: Add FolderCard component
  packages/core/upload/admin/src/components/FolderCard/FolderCard/FolderCard.js
  packages/core/upload/admin/src/components/FolderCard/FolderCard/index.js
  packages/core/upload/admin/src/components/FolderCard/FolderCardBody/FolderCardBody.js
  packages/core/upload/admin/src/components/FolderCard/FolderCardBody/index.js
  packages/core/upload/admin/src/components/FolderCard/FolderCardCheckbox/FolderCardCheckbox.js
  packages/core/upload/admin/src/components/FolderCard/FolderCardCheckbox/index.js
  packages/core/upload/admin/src/components/FolderCard/contexts/FolderCard.js
  packages/core/upload/admin/src/components/FolderCard/hooks/tests/useId.test.js
  packages/core/upload/admin/src/components/FolderCard/hooks/useId.js
  packages/core/upload/admin/src/components/FolderCard/index.js
  packages/core/upload/admin/src/components/FolderCard/styled.js
  packages/core/upload/admin/src/components/FolderCard/tests/FolderCard.test.js
  packages/core/upload/admin/src/components/FolderCard/tests/__snapshots__/FolderCard.test.js.snap
Labels: source: core:admin, pr: enhancement

#12632 EditViewDataManagerProvider: Handle API errors independently from yup
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/getAPIInnerError.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/getYupInnerErrors.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/handleAPIError.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/tests/getAPIInnerError.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/tests/handleAPIError.test.js
  packages/core/admin/admin/src/content-manager/components/InputUID/index.js
  packages/core/admin/admin/src/content-manager/components/Inputs/index.js
  packages/core/admin/admin/src/content-manager/components/SingleTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/index.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/helper-plugin/lib/src/components/GenericInput/index.js
  packages/core/helper-plugin/lib/src/utils/getYupInnerErrors/index.js
  packages/core/upload/admin/src/components/MediaLibraryInput/index.js
Labels: source: core:content-manager, pr: fix

#12972 CM: Fix displaying number fields in the DynamicTable
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/utils/hasContent.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/utils/tests/hasContent.test.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/schema.js
  packages/core/admin/admin/src/content-manager/utils/isFieldTypeNumber.js
  packages/core/admin/admin/src/content-manager/utils/tests/isFieldTypeNumber.test.js
Labels: source: core:content-manager, pr: fix

#12918 Make strapi compatible with knex v1
  .github/actions/run-e2e-tests/script.sh
  .github/workflows/tests.yml
  examples/getstarted/package.json
  packages/core/admin/server/bootstrap.js
  packages/core/database/lib/connection.js
  packages/core/database/lib/dialects/mysql/schema-inspector.js
  packages/core/database/lib/dialects/sqlite/schema-inspector.js
  packages/core/database/lib/entity-manager.js
  packages/core/database/lib/index.js
  packages/core/database/lib/schema/schema.js
  packages/core/database/package.json
  packages/generators/app/lib/create-cli-db-project.js
  packages/generators/app/lib/utils/db-client-dependencies.js
  packages/generators/app/lib/utils/db-client-name.js
  packages/generators/app/lib/utils/usage.js
  test/create-test-app.js
  test/e2e.js
  yarn.lock
Labels: source: core:database, flag: migration guide, pr: chore

#13005 DynamicTable: Show id for media and relations in components
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/utils/hasContent.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/utils/tests/hasContent.test.js
Labels: source: core:content-manager, pr: fix

#12975 RepeatableComponent: Fix error messages when component is nested
  packages/core/admin/admin/src/content-manager/components/FieldComponent/index.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/index.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/utils/getComponentErrorKeys.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/utils/tests/getComponentErrorKeys.test.js
Labels: source: core:content-manager, pr: fix

#13006 Allow date fields to be selected as component main fields
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/index.js
Labels: source: core:content-manager, pr: fix

#12971 feat(menu-logo): added a permission for project level settings
  packages/core/admin/server/config/admin-actions.js
  packages/core/admin/server/tests/admin-permission.test.e2e.js
Labels: source: core:admin, pr: feature

#13018 Fix actionOptions not taking into account by the upload provider
  packages/core/upload/server/__tests__/bootstrap.test.js
  packages/core/upload/server/bootstrap.js
Labels: source: core:upload, pr: fix
