Repository strapi/strapi, pull requests merged in 2022-11, with the labels that each got.

#14659 [refactor][Relations]: state management (removing connect / disconnect)
  packages/core/admin/admin/src/content-manager/components/DynamicZone/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/reducer.test.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/cleanData.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/findLeafByPathAndReplace.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/recursivelyFindPathsBasedOnCondition.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/tests/cleanData.test.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/tests/findLeafByPathAndReplace.test.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/tests/recursivelyFindPathsBasedOnCondition.test.js
  packages/core/admin/admin/src/content-manager/components/FieldComponent/index.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/RelationInput.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/RelationInputDataManager.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/tests/RelationInputDataManger.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/utils/diffRelations.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/utils/index.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/utils/normalizeRelations.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/utils/normalizeSearchResults.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/utils/tests/diffRelations.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/utils/tests/normalizeRelations.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/utils/tests/normalizeSearchResults.test.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/index.js
  packages/core/admin/admin/src/content-manager/hooks/useRelation/tests/useRelation.test.js
  packages/core/admin/admin/src/content-manager/hooks/useRelation/useRelation.js
  packages/core/admin/admin/src/content-manager/pages/App/reducer.js
Labels: source: core:content-manager, pr: enhancement

#14765 fix: gracefully fail 404 results from API
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/RelationInputDataManager.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/utils/normalizeSearchResults.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/utils/select.js
  packages/core/admin/admin/src/content-manager/hooks/useRelation/useRelation.js
Labels: source: core:content-manager, pr: fix

#14764 CM: Stop passing defaultParams down (not needed any longer)
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/RelationInputDataManager.js
  packages/core/admin/admin/src/content-manager/hooks/useFetchContentTypeLayout/utils/formatLayouts.js
  packages/core/admin/admin/src/content-manager/hooks/useFetchContentTypeLayout/utils/tests/formatLayouts.test.js
Labels: pr: enhancement

#14768 feat: re-add the count & make it dynamic
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/reducer.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/RelationInputDataManager.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/tests/RelationInputDataManger.test.js
Labels: source: core:content-manager, pr: fix

#14773 Chore: Update @Strapi/design-system to 1.2.6
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/components/SettingsNav/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/SingleSignOn/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/package.json
  packages/core/helper-plugin/lib/src/components/PaginationURLQuery/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/PaginationURLQuery/tests/index.test.js
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/AssetList/tests/__snapshots__/AssetList.test.js.snap
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/RemoveAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/MediaLibraryInput/tests/__snapshots__/MediaLibraryInput.test.js.snap
  packages/core/upload/admin/src/components/SelectTree/tests/__snapshots__/SelectTree.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/AddAssetStep/tests/__snapshots__/FromComputerForm.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/core/upload/admin/src/pages/App/tests/__snapshots__/Header.test.js.snap
  packages/core/upload/admin/src/pages/SettingsPage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
  yarn.lock
Labels: source: dependencies, pr: chore

#14761 CM: Replace custom State and Badge components with Status
  packages/core/admin/admin/src/content-manager/components/DynamicTable/index.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/admin/admin/src/content-manager/components/State/index.js
Labels: source: core:content-manager, pr: fix

#14777 Chore: Upgrade react-select from v4 to v5
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/RelationInput.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/admin/webpack.alias.js
  packages/core/helper-plugin/lib/src/components/ReactSelect/Async/Async.js
  packages/core/helper-plugin/lib/src/components/ReactSelect/Async/index.js
  packages/core/helper-plugin/lib/src/index.js
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/SelectTree/tests/__snapshots__/SelectTree.test.js.snap
  yarn.lock
Labels: source: core:helper-plugin, pr: chore

#14737 [Marketplace] Exp-381 github stars and npm download fields mapping
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/PackageStats.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/server.js
Labels: pr: feature, source: marketplace

#14776 RelationInput: Overwrite default react-select no-options message
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/RelationInput.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/RelationInputDataManager.js
Labels: source: core:content-manager, pr: enhancement

#14786 Chore: Bump @strapi/design-system to 1.2.7
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  yarn.lock
Labels: source: core:admin, pr: fix

#14785 ReactSelect: Add missing box-shadow
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/helper-plugin/lib/src/components/ReactSelect/utils/getSelectStyles.js
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/SelectTree/tests/__snapshots__/SelectTree.test.js.snap
Labels: source: core:content-manager, pr: enhancement

#14782 ConditionsModal: Fix modal component structure and add missing translations
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/ConditionsModal/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/ContentTypeCollapse/Collapse/index.js
  packages/core/admin/admin/src/translations/ca.json
  packages/core/admin/admin/src/translations/de.json
  packages/core/admin/admin/src/translations/dk.json
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/es.json
  packages/core/admin/admin/src/translations/fr.json
  packages/core/admin/admin/src/translations/gu.json
  packages/core/admin/admin/src/translations/he.json
  packages/core/admin/admin/src/translations/hi.json
  packages/core/admin/admin/src/translations/hu.json
  packages/core/admin/admin/src/translations/id.json
  packages/core/admin/admin/src/translations/it.json
  packages/core/admin/admin/src/translations/ja.json
  packages/core/admin/admin/src/translations/ko.json
  packages/core/admin/admin/src/translations/ml.json
  packages/core/admin/admin/src/translations/nl.json
  packages/core/admin/admin/src/translations/no.json
  packages/core/admin/admin/src/translations/pl.json
  packages/core/admin/admin/src/translations/pt-BR.json
  packages/core/admin/admin/src/translations/ru.json
  packages/core/admin/admin/src/translations/sa.json
  packages/core/admin/admin/src/translations/sk.json
  packages/core/admin/admin/src/translations/sv.json
  packages/core/admin/admin/src/translations/th.json
  packages/core/admin/admin/src/translations/zh-Hans.json
  packages/core/admin/admin/src/translations/zh.json
Labels: source: core:admin, pr: fix

#14784 ConditionsModal: Fix selection of multiple items in different categories
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/ConditionsModal/ActionRow/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/ConditionsModal/ActionRow/utils/options.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/ConditionsModal/ActionRow/utils/tests/options.test.js
Labels: source: core:admin, pr: fix

#14783 [Marketplace] Add plugin/provider stats
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/PackageStats.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/server.js
  packages/core/admin/admin/src/translations/en.json
Labels: pr: feature, source: marketplace

#14771 Update dependabot config to include github actions
  .github/dependabot.yml
Labels: source: tooling, pr: enhancement

#14800 feat: add visual reordering of relations
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/reducer.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/RelationItem.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/RelationList.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/RelationItem.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/RelationList.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/__snapshots__/RelationItem.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/__snapshots__/RelationList.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInput/constants.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/RelationInput.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/RelationInputDataManager.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/tests/RelationInputDataManger.test.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/DraggedItem/DraggingSibling.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/DraggedItem/Preview.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/DraggedItem/index.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/DraggedItem/utils/select.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/index.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/utils/connect.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/utils/select.js
  packages/core/admin/admin/src/content-manager/utils/composeRefs.js
  packages/core/admin/admin/src/content-manager/utils/index.js
  packages/core/admin/admin/src/content-manager/utils/tests/composeRefs.test.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/package.json
  packages/core/helper-plugin/lib/src/content-manager/hooks/useCMEditViewDataManager/useCMEditViewDataManager.stories.mdx
  yarn.lock
Labels: source: core:content-manager, pr: enhancement

#14809 Update logo
  packages/core/admin/admin/src/assets/images/logo_strapi_auth.png
  packages/core/admin/admin/src/assets/images/logo_strapi_auth_v4.png
  packages/core/admin/admin/src/assets/images/logo_strapi_menu.png
Labels: source: core:admin, pr: chore

#14810 Chore: Cleanup brand assets
  packages/core/admin/admin/src/assets/images/banner_strapi-rocket.png
  packages/core/admin/admin/src/assets/images/big-logo-home.png
  packages/core/admin/admin/src/assets/images/hot-air-balloon.png
  packages/core/admin/admin/src/assets/images/oops.png
  packages/core/admin/admin/src/assets/images/upgrade-details.png
Labels: source: core:admin, pr: chore

#14808 Add contributing guide to contributor doc
  docs/docs/community/0-contributing.md
  docs/docs/community/1-code-of-conduct.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/yarn.lock
  yarn.lock
Labels: source: docs, pr: doc

#14816 Chore: Cleanup brand assets
  packages/core/admin/admin/src/StrapiApp.js
  packages/core/admin/admin/src/assets/images/homepage-logo.png
  packages/core/admin/admin/src/assets/images/icon_made-by-strapi.svg
  packages/core/admin/admin/src/assets/images/icon_offline-cloud.svg
  packages/core/admin/admin/src/assets/images/logo-strapi-2022.svg
  packages/core/admin/admin/src/assets/images/logo_strapi_auth.png
  packages/core/admin/admin/src/assets/images/logo_strapi_auth_v4.png
  packages/core/admin/admin/src/assets/images/logo_strapi_menu.png
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/index.js
Labels: source: core:admin, pr: chore

#14817 HomePage: Replace corner ornament with a small SVG
  packages/core/admin/admin/src/assets/images/homepage-logo.png
  packages/core/admin/admin/src/pages/HomePage/assets/corner-ornament.svg
  packages/core/admin/admin/src/pages/HomePage/index.js
Labels: source: core:admin, pr: enhancement

#14820 [Marketplace] Reduce use of getByRole to improve performance
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackagesFilters/FilterSelect.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackagesFilters/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/plugins.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/providers.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/plugins.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/providers.test.js
Labels: pr: chore, source: marketplace

#14822 Fix validation on user update
  packages/plugins/users-permissions/server/controllers/validation/user.js
Labels: source: plugin:users-permissions, pr: fix

#14823 Remove tests relation-list.test.api.js & relations.test.api.js
  packages/core/content-manager/server/tests/content-manager/relations.test.api.js
  packages/core/content-manager/server/tests/relation-list.test.api.js
Labels: source: core:content-manager, pr: chore

#14504 Relations: error handling for non existent relations
  jest.base-config.js
  packages/core/admin/admin/src/pages/HomePage/index.js
  packages/core/content-manager/server/tests/api/basic-dp-dz.test.api.js
  packages/core/content-manager/server/tests/api/basic-dz.test.api.js
  packages/core/strapi/lib/services/entity-service/__tests__/entity-service-events.test.js
  packages/core/strapi/lib/services/entity-service/__tests__/entity-service.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/index.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/relations/attribute-level.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/relations/component-level.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/relations/dynamic-zone-level.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/relations/media-level.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/relations/utils/relations.testdata.js
  packages/core/strapi/lib/services/entity-validator/index.js
  packages/core/strapi/tests/api/basic-dz.test.api.js
  packages/core/strapi/tests/endpoint.test.api.js
  packages/core/upload/tests/admin/file-folder.test.api.js
Labels: source: core:strapi, pr: fix

#14836 CM: Remove unused icon components
  packages/core/admin/admin/src/content-manager/icons/Bold/index.js
  packages/core/admin/admin/src/content-manager/icons/Code/index.js
  packages/core/admin/admin/src/content-manager/icons/Cross/index.js
  packages/core/admin/admin/src/content-manager/icons/Italic/index.js
  packages/core/admin/admin/src/content-manager/icons/Link/index.js
  packages/core/admin/admin/src/content-manager/icons/Media/index.js
  packages/core/admin/admin/src/content-manager/icons/Na/index.js
  packages/core/admin/admin/src/content-manager/icons/Ol/index.js
  packages/core/admin/admin/src/content-manager/icons/Quote/index.js
  packages/core/admin/admin/src/content-manager/icons/Striked/index.js
  packages/core/admin/admin/src/content-manager/icons/Ul/index.js
  packages/core/admin/admin/src/content-manager/icons/Underline/index.js
Labels: source: core:content-manager, pr: chore

#14790 prevent caption and alternativeText from automatically populating with file name on upload
  packages/core/upload/admin/src/hooks/useUpload.js
Labels: source: core:upload, pr: fix

#12500 DynamicZone - extend FriendlyName with MainValue
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/Component/hooks/tests/getDisplayedValue.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/Component/hooks/useMainValue.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/Component/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/Component/utils/connect.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/Component/utils/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/Component/utils/select.js
Labels: source: core:content-manager, pr: enhancement

#14709 Add relations reordering
  packages/core/database/lib/entity-manager/__tests__/relations-sorter.test.js
  packages/core/database/lib/entity-manager/index.js
  packages/core/database/lib/entity-manager/relations-sorter.js
  packages/core/database/lib/metadata/index.js
  packages/core/database/lib/metadata/relations.js
  packages/core/database/lib/query/helpers/where.js
Labels: source: core:database, pr: feature

#14754 Update en.json
  packages/core/email/admin/src/translations/en.json
Labels: source: core:email, pr: chore

#14403 [CustomField] Documentation
  docs/docs/custom-fields.md
  docs/docs/example.md
  docs/sidebars.js
Labels: source: docs, pr: doc

#14855 Chore: Remove istanbul dependency
  package.json
  yarn.lock
Labels: source: tooling, pr: chore

#14850 [DynamicZone]: Cleanup & test
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/AddComponentButton.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/AddComponentButton/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/AddComponentButton/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/Component/Rectangle.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/Component/hooks/tests/getDisplayedValue.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/Component/hooks/useMainValue.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/Component/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/Component/utils/connect.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/Component/utils/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/Component/utils/select.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/ComponentCard.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/ComponentCategory.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/ComponentPicker.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DynamicComponent.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DynamicZoneLabel.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DzLabel/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DzLabel/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/AddComponentButton.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/ComponentCard.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/ComponentCategory.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/ComponentPicker.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/DynamicComponent.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/DynamicZoneLabel.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/__snapshots__/ComponentCard.test.js.snap
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/fixtures.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/tests/fixtures.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/tests/index.test.js
Labels: source: core:content-manager, pr: chore

#14858 Chore: Update @testing-library/dom to 8.19.0
  packages/core/admin/package.json
  packages/core/upload/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#14860 Chore: Update @testing-library/react-hooks to 8.0.1
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#14811 [relations]: add reordering keyboard navigation
  packages/core/admin/admin/src/components/GuidedTour/Modal/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/RelationItem.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/RelationItem.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/RelationList.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/__snapshots__/RelationItem.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/__snapshots__/RelationList.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/RelationInput.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/RelationInputDataManager.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/tests/RelationInputDataManger.test.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/App/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/package.json
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/SearchURLQuery/tests/index.test.js
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetCard/tests/DocAssetCard.test.js
  packages/core/upload/admin/src/components/AssetCard/tests/ImageAssetCard.test.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/SearchAsset/tests/index.test.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/AssetList/tests/__snapshots__/AssetList.test.js.snap
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/FolderCard/tests/__snapshots__/FolderCard.test.js.snap
  packages/core/upload/admin/src/components/SelectTree/tests/__snapshots__/SelectTree.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/tests/index.test.js
  yarn.lock
Labels: source: core:content-manager, pr: enhancement

#14866 chore: update design-system to 1.2.8
  packages/core/admin/admin/src/components/GuidedTour/Modal/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/App/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/tests/index.test.js
  packages/core/admin/package.json
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/SearchURLQuery/tests/index.test.js
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetCard/tests/DocAssetCard.test.js
  packages/core/upload/admin/src/components/AssetCard/tests/ImageAssetCard.test.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/SearchAsset/tests/index.test.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/AssetList/tests/__snapshots__/AssetList.test.js.snap
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/FolderCard/tests/__snapshots__/FolderCard.test.js.snap
  packages/core/upload/admin/src/components/SelectTree/tests/__snapshots__/SelectTree.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/tests/index.test.js
  yarn.lock
Labels: source: dependencies, pr: chore

#14859 Chore: Update @testing-library/react to 12.1.4
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/documentation/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#14716 [DEITS] Add eslint+prettier for typescript files
  .eslintrc.back.typescript.js
  .eslintrc.js
  package.json
  packages/core/data-transfer/package.json
  packages/core/strapi/lib/types/core/attributes/relation.d.ts
  packages/core/strapi/lib/types/factories.d.ts
  yarn.lock
Labels: flag: don't merge

#14787 Fix the findParams argument to be passed correctly
  packages/plugins/graphql/server/services/builders/mutations/single-type.js
Labels: source: plugin:graphql, pr: fix

#14861 Chore: Update @testing-library/user-event to 14.4.3
  packages/core/admin/admin/src/components/LanguageProvider/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/plugins.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/providers.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/SingleSignOn/tests/__snapshots__/index.test.js.snap
  packages/core/admin/ee/admin/pages/SettingsPage/SingleSignOn/tests/index.test.js
  packages/core/admin/package.json
  packages/core/upload/admin/src/components/AssetCard/tests/AssetCardBase.test.js
  packages/core/upload/admin/src/components/EditAssetDialog/tests/EditAssetDialog.test.js
  packages/core/upload/package.json
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#14839 Fix: knex withSchema.raw error
  packages/core/database/lib/entity-manager/regular-relations.js
Labels: source: core:database, pr: fix

#14742 Add even more swedish translations :)
  packages/core/admin/admin/src/translations/sv.json
  packages/plugins/color-picker/admin/src/translations/sv.json
  packages/plugins/documentation/admin/src/translations/sv.json
  packages/plugins/graphql/admin/src/translations/sv.json
  packages/plugins/sentry/admin/src/translations/sv.json
  packages/plugins/users-permissions/admin/src/translations/sv.json
Labels: source: plugin:i18n, pr: enhancement

#14753 Update pt-BR.json
  packages/core/admin/admin/src/translations/pt-BR.json
  packages/core/content-type-builder/admin/src/translations/pt-BR.json
Labels: source: core:strapi, pr: chore

#14884 Chore: fix spelling of SchemaProvideer to SchemaProvider
  packages/core/database/lib/index.d.ts
  packages/core/database/lib/schema/index.d.ts
Labels: pr: fix, source: typescript

#14903 Chore: Fix AssetCardBase tests
  packages/core/upload/admin/src/components/AssetCard/tests/AssetCardBase.test.js
Labels: source: tooling, pr: chore

#14848 [webpack]: use path.resolve instead of require
  packages/core/admin/webpack.alias.js
Labels: source: core:admin, pr: chore

#14899 Chore: Ensure core-js polyfills the frontend-tests based on the compile target
  .eslintrc.js
  jest.base-config.front.js
  jest.base-config.js
  jest.config.api.js
  jest.config.front.js
  package.json
  packages/admin-test-utils/lib/setup/test-bundler.js
  packages/admin-test-utils/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#14718 [CTB] fix: preserve pluginOptions in relation properties
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/reducer.js
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/tests/reducer_edit_attribute_action.test.js
  packages/core/content-type-builder/server/services/schema-builder/content-type-builder.js
Labels: source: core:content-type-builder, pr: fix

#14588 Fixing #14587: Can edit json field with false value
  packages/core/helper-plugin/lib/src/content-manager/utils/formatContentTypeData.js
  packages/core/helper-plugin/lib/src/content-manager/utils/tests/formatContentTypeData.test.js
Labels: source: core:content-manager, pr: fix

#14524 Add nvm config file
  .nvmrc
Labels: source: tooling, pr: enhancement

#14930 CM: Fix RelationMultiple text wrapping
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationMultiple/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationMultiple/tests/__snapshots__/index.test.js.snap
Labels: source: core:content-manager, pr: fix

#14929 CM: Fix ToggleInput wrapping for configure the view
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/Settings.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
Labels: source: core:content-manager, pr: fix

#14909 Fix schema support for postgres when using raw queries
  .github/workflows/db/postgres/init.sql
  .github/workflows/tests.yml
  .gitignore
  packages/core/database/lib/entity-manager/regular-relations.js
  packages/core/database/lib/utils/knex.js
  packages/core/upload/server/controllers/admin-folder-file.js
  packages/core/upload/server/services/__tests__/metrics.js
  packages/core/upload/server/services/folder.js
  packages/core/upload/server/services/metrics.js
  packages/plugins/i18n/server/migrations/field/migrate-for-bookshelf.js
  test/api.js
  test/create-test-app.js
Labels: source: core:strapi, pr: fix

#14872 Chore: Update codecov uploader
  .github/actions/install-modules/action.yml
  .github/actions/install-modules/script.sh
  .github/workflows/tests.yml
  jest.config.js
  packages/core/admin/jest.config.front.js
  packages/core/helper-plugin/jest.config.front.js
Labels: source: tooling, pr: chore

#14950 Avoid use of window functions for MySQL versions below 8
  packages/core/database/lib/dialects/dialect.js
  packages/core/database/lib/dialects/mysql/constants.js
  packages/core/database/lib/dialects/mysql/database-inspector.js
  packages/core/database/lib/dialects/mysql/index.js
  packages/core/database/lib/dialects/postgresql/database-inspector.js
  packages/core/database/lib/dialects/postgresql/index.js
  packages/core/database/lib/dialects/sqlite/database-inspector.js
  packages/core/database/lib/dialects/sqlite/index.js
  packages/core/database/lib/entity-manager/regular-relations.js
  packages/core/database/lib/index.js
  packages/core/database/lib/utils/constants.js
Labels: source: core:database, pr: fix

#14948 Fix failing API tests
  packages/core/content-manager/server/tests/api/basic-dp-dz.test.api.js
  packages/core/content-manager/server/tests/api/basic-dz.test.api.js
  packages/core/strapi/lib/services/entity-service/__tests__/entity-service-events.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/index.test.js
  packages/core/strapi/lib/services/entity-validator/index.js
  packages/core/strapi/tests/api/basic-dz.test.api.js
Labels: source: core:strapi, pr: fix

#14945 Fix flaky / false positive tests due to process.exit timing errors
  .github/actions/install-modules/action.yml
  .github/actions/install-modules/script.sh
  .github/workflows/tests.yml
  test/api.js
Labels: source: tooling, pr: chore

#14876 Fix relations for MySQL versions below 8
  examples/getstarted/config/database.js
  packages/core/admin/package.json
  packages/core/database/lib/dialects/dialect.js
  packages/core/database/lib/dialects/mysql/constants.js
  packages/core/database/lib/dialects/mysql/database-inspector.js
  packages/core/database/lib/dialects/mysql/index.js
  packages/core/database/lib/dialects/postgresql/index.js
  packages/core/database/lib/dialects/sqlite/index.js
  packages/core/database/lib/entity-manager/regular-relations.js
  packages/core/database/package.json
  packages/core/strapi/package.json
  packages/generators/app/package.json
  yarn.lock
Labels: source: core:database, pr: fix

#14898 feat: add relations fe state management conceptual documentation
  docs/docs/core/content-manager/relations.mdx
  docs/sidebars.js
  docs/static/img/content-manager/relations/component-example.png
  docs/static/img/content-manager/relations/relations-statemanagemen-diagram.png
Labels: source: core:content-manager, pr: doc

#14955 Update Contrib docs logo with new ones
  docs/static/img/logo.svg
  docs/static/img/logo_dark.svg
Labels: source: docs, pr: chore

#14875 Tracking system, accessing the CTB
  packages/core/admin/admin/src/components/LeftMenu/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/FormApiTokenContainer/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/FormBody/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/FormHead/index.js
Labels: source: core:admin, pr: enhancement

#14865 Update/add dutch translations
  packages/core/admin/admin/src/translations/nl.json
Labels: source: core:strapi, pr: enhancement

#14755 Update pt.json
  packages/core/admin/admin/src/translations/pt.json
  packages/core/content-type-builder/admin/src/translations/pt.json
  packages/core/email/admin/src/translations/pt.json
  packages/core/upload/admin/src/translations/pt.json
Labels: source: core:strapi, pr: chore

#14959 Add skipped test workflow to avoid required check issues on docs PRs
  .github/workflows/skipped_tests.yml
Labels: source: tooling, pr: chore

#14697 Frontend: Configure the view in ML
  packages/core/upload/admin/src/components/SortPicker/index.js
  packages/core/upload/admin/src/constants.js
  packages/core/upload/admin/src/hooks/__mocks__/useConfig.js
  packages/core/upload/admin/src/hooks/tests/useConfig.test.js
  packages/core/upload/admin/src/hooks/tests/useModalQueryParams.test.js
  packages/core/upload/admin/src/hooks/useConfig.js
  packages/core/upload/admin/src/hooks/useModalQueryParams.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/Settings.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/tests/Settings.test.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/tests/__snapshots__/Settings.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/index.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/state/actionTypes.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/state/actions.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/state/init.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/state/reducer.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/state/tests/init.test.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/state/tests/reducer.test.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/ConfigureTheView.test.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/BulkActions.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/BulkDeleteButton.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/BulkMoveButton.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/EmptyOrNoPermissions.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/Filters.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/Header.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/BulkActions.test.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/BulkDeleteButton.test.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/BulkMoveButton.test.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/EmptyOrNoPermissions.test.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/Header.test.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkActions.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkDeleteButton.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkMoveButton.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/Header.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/index.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/tests/MediaLibrary.test.js
  packages/core/upload/admin/src/pages/App/index.js
  packages/core/upload/admin/src/pages/App/tests/Upload.test.js
  packages/core/upload/admin/src/permissions.js
  packages/core/upload/admin/src/translations/en.json
Labels: source: core:upload, pr: feature

#14922 update Traditional Chinese translation
  packages/core/admin/admin/src/translations/zh.json
  packages/core/content-type-builder/admin/src/translations/zh.json
  packages/core/email/admin/src/translations/zh.json
  packages/core/upload/admin/src/translations/zh.json
  packages/plugins/color-picker/admin/src/translations/zh.json
  packages/plugins/documentation/admin/src/translations/zh.json
  packages/plugins/graphql/admin/src/translations/zh.json
  packages/plugins/i18n/admin/src/translations/zh.json
  packages/plugins/sentry/admin/src/translations/zh.json
  packages/plugins/users-permissions/admin/src/translations/zh.json
Labels: source: plugin:i18n, pr: enhancement

#14914 v3 dependencies
  .github/workflows/tests.yml
  packages/create-strapi-starter/package.json
  packages/strapi-admin/package.json
  packages/strapi-generate-new/package.json
  packages/strapi-helper-plugin/package.json
  packages/strapi-plugin-content-manager/package.json
  packages/strapi-plugin-documentation/package.json
  packages/strapi-plugin-upload/package.json
  packages/strapi-plugin-users-permissions/package.json
  packages/strapi/package.json
  yarn.lock
Labels: source: dependencies, pr: security

#14961 [deps]: minification in DS
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  yarn.lock
Labels: source: dependencies, pr: fix

#14849 Upload: Improve asset cards and upload progress visual design
  packages/core/upload/admin/src/components/AssetCard/AssetCardBase.js
  packages/core/upload/admin/src/components/AssetCard/UploadingAssetCard.js
  packages/core/upload/admin/src/components/AssetCard/tests/DocAssetCard.test.js
  packages/core/upload/admin/src/components/AssetCard/tests/ImageAssetCard.test.js
  packages/core/upload/admin/src/components/AssetList/tests/__snapshots__/AssetList.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/core/upload/admin/src/components/UploadProgress/index.js
  packages/core/upload/admin/src/components/UploadProgress/tests/index.test.js
Labels: source: core:upload, pr: enhancement

#14590 [Custom fields] Add default value to options
  examples/getstarted/src/api/kitchensink/content-types/kitchensink/schema.json
  examples/getstarted/src/plugins/myplugin/admin/src/index.js
  examples/getstarted/src/plugins/myplugin/server/register.js
  packages/core/admin/admin/src/core/apis/CustomFields.js
  packages/core/admin/admin/src/tests/StrapiApp.test.js
  packages/core/content-type-builder/admin/src/components/FormModal/reducer.js
  packages/core/content-type-builder/admin/src/components/FormModal/tests/reducer.set-custom-field-data-schema.test.js
  packages/core/content-type-builder/admin/src/components/FormModal/utils/customFieldDefaultOptionsReducer.js
  packages/plugins/color-picker/admin/src/index.js
Labels: source: core:content-type-builder, pr: enhancement

#14814 [Marketplace] Exp-373 Update the sort options in SelectSort component
  packages/core/admin/admin/src/pages/MarketplacePage/components/SortSelect/index.js
  packages/core/admin/admin/src/translations/en.json
Labels: pr: enhancement, source: marketplace

#14915 [core:admin] Exp-435 Add audit logs page in the admin panel settings
  packages/core/admin/admin/src/hooks/useSettingsMenu/init.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/AuditLogs/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/AuditLogs/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/AuditLogs/ProtectedListPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/utils/defaultRoutes.js
  packages/core/admin/admin/src/permissions/defaultPermissions.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: feature

#14870 Rewrite invalid uid prefix error message
  packages/core/strapi/lib/core/domain/content-type/index.js
Labels: source: core:admin, pr: fix

#14883 Update russian translation
  packages/core/admin/admin/src/translations/ru.json
Labels: source: plugin:i18n, pr: enhancement

#14746 GitHub Workflows security hardening
  .github/workflows/addToProject.yml
  .github/workflows/contributor-doc.yml
  .github/workflows/nightly.yml
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#14952 Add toggle switch in ML and ML modal
  packages/core/helper-plugin/lib/src/utils/auth/index.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/index.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/index.test.js
  packages/core/upload/admin/src/constants.js
  packages/core/upload/admin/src/pages/App/MediaLibrary.js
  packages/core/upload/admin/src/pages/App/tests/MediaLibrary.test.js
  packages/core/upload/admin/src/translations/en.json
Labels: source: core:upload, pr: feature

#14975 [upload] rename folderlist to foldergrid
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/index.js
  packages/core/upload/admin/src/components/FolderGridList/FolderGridList.js
  packages/core/upload/admin/src/components/FolderGridList/index.js
  packages/core/upload/admin/src/components/FolderGridList/tests/FolderGridList.test.js
  packages/core/upload/admin/src/components/FolderGridList/tests/__snapshots__/FolderGridList.test.js.snap
  packages/core/upload/admin/src/components/FolderList/index.js
  packages/core/upload/admin/src/pages/App/MediaLibrary.js
Labels: source: core:upload, pr: chore

#14881 [Content manager] Refactor edit view
  packages/core/admin/admin/src/content-manager/pages/EditView/GridRow/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/selectors.js
  packages/core/admin/admin/src/content-manager/pages/EditView/utils/createAttributesLayout.js
  packages/core/admin/admin/src/content-manager/pages/EditView/utils/tests/createAttributesLayout.test.js
  packages/core/admin/admin/src/content-manager/pages/EditViewLayoutManager/index.js
Labels: source: core:content-manager, pr: chore

#14835 Chore/fix iso locales
  packages/plugins/i18n/server/constants/__tests__/index.test.js
  packages/plugins/i18n/server/constants/iso-locales.json
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
Labels: source: plugin:i18n, pr: chore

#14724 fix(upload-files): do file upload on components too
  packages/core/strapi/lib/services/entity-service/__tests__/entity-service.test.js
  packages/core/strapi/lib/services/entity-service/index.js
  packages/core/upload/tests/content-api/upload.test.api.js
Labels: source: core:upload, pr: fix

#14994 [RepeatableComponent]: add keyboard navigable DnD
  packages/core/admin/admin/src/content-manager/components/ComponentInitializer/index.js
  packages/core/admin/admin/src/content-manager/components/DragLayer/RepetableComponentDragPreview.js
  packages/core/admin/admin/src/content-manager/components/DragLayer/index.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/RelationItem.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/__snapshots__/RelationItem.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/__snapshots__/RelationList.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/RelationInputDataManager.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/AccordionGroupCustom/index.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/AddFieldButton.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/DraggedItem/IconButtonCustoms.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/DraggedItem/utils/connect.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/DraggedItem/utils/index.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/DraggedItem/utils/select.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/components/Accordion.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/components/Component.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/components/Preview.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/components/tests/Accordion.test.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/components/tests/Component.test.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/components/tests/Preview.test.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/components/tests/__snapshots__/Accordion.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/components/tests/__snapshots__/Preview.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/index.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/tests/fixtures.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/utils/getComponentErrorKeys.js
  packages/core/admin/admin/src/content-manager/hooks/tests/useKeyboardDragAndDrop.test.js
  packages/core/admin/admin/src/content-manager/hooks/tests/usePrev.test.js
  packages/core/admin/admin/src/content-manager/hooks/useDragAndDrop.js
  packages/core/admin/admin/src/content-manager/hooks/useKeyboardDragAndDrop.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:content-manager, pr: enhancement

#14885 Fix #14712: Query Parameter for Locale (API Documentation Plugin)
  packages/plugins/documentation/server/services/helpers/utils/query-params.js
Labels: source: plugin:documentation, pr: fix

#14873 [Custom fields] Create hook to lazy load custom field components
  .github/workflows/contributor-doc.yml
  .github/workflows/nightly.yml
  .github/workflows/tests.yml
  packages/core/admin/admin/src/content-manager/components/Inputs/index.js
  packages/core/admin/admin/src/content-manager/hooks/useLazyComponents/index.js
  packages/core/admin/admin/src/content-manager/hooks/useLazyComponents/tests/useLazyComponents.test.js
  packages/core/admin/admin/src/content-manager/pages/CollectionTypeRecursivePath/components/ErrorFallback.js
  packages/core/admin/admin/src/content-manager/pages/CollectionTypeRecursivePath/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/GridRow/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/selectors.js
  packages/core/admin/admin/src/content-manager/pages/EditView/utils/getCustomFieldUidsFromLayout.js
  packages/core/admin/admin/src/content-manager/pages/EditView/utils/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/utils/tests/getCustomFieldUidsFromLayout.test.js
Labels: source: core:content-manager, pr: fix

#14878 Add MySQL 5.7 to Github API tests
  .github/workflows/contributor-doc.yml
  .github/workflows/nightly.yml
  .github/workflows/tests.yml
  packages/core/admin/server/tests/admin-api-token-crud.test.api.js
  packages/core/upload/tests/content-api/graphql-upload-automatic-folder.test.api.js
  packages/core/upload/tests/content-api/upload-automatic-folder.test.api.js
Labels: source: tooling, pr: chore

#14879 [Feature] Populate fragments for polymorphic relations
  packages/core/database/lib/query/helpers/populate/apply.js
  packages/core/strapi/tests/api/populate/filtering/index.test.api.js
  packages/core/utils/lib/content-types.js
  packages/core/utils/lib/convert-query-params.js
Labels: source: core:database, pr: feature

#14233 generate db config with all clients
  packages/generators/app/lib/create-project.js
  packages/generators/app/lib/resources/templates/database-templates/js/database.template
  packages/generators/app/lib/resources/templates/database-templates/mysql.template
  packages/generators/app/lib/resources/templates/database-templates/postgres.template
  packages/generators/app/lib/resources/templates/database-templates/sqlite.template
  packages/generators/app/lib/resources/templates/database-templates/ts/database.template
  packages/generators/app/lib/resources/templates/database.js
  packages/generators/app/lib/resources/templates/js/database-templates/mysql.template
  packages/generators/app/lib/resources/templates/js/database-templates/postgres.template
  packages/generators/app/lib/resources/templates/js/database-templates/sqlite.template
  packages/generators/app/lib/resources/templates/ts/database-templates/mysql.template
  packages/generators/app/lib/resources/templates/ts/database-templates/postgres.template
  packages/generators/app/lib/resources/templates/ts/database-templates/sqlite.template
Labels: source: core:database, pr: feature

#15026 [design-system]: update to 1.4.0
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationMultiple/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/App/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/EditView/DraftAndPublishBadge/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/plugins.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/providers.test.js.snap
  packages/core/admin/admin/src/pages/ProfilePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/components/SettingsNav/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/SingleSignOn/tests/__snapshots__/index.test.js.snap
  packages/core/admin/package.json
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.js.snap
  packages/core/email/admin/src/pages/Settings/tests/index.test.js
  packages/core/helper-plugin/lib/src/components/DateTimePicker/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/PageSizeURLQuery/tests/index.test.js
  packages/core/helper-plugin/lib/src/components/PaginationURLQuery/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/PaginationURLQuery/tests/index.test.js
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetCard/tests/DocAssetCard.test.js
  packages/core/upload/admin/src/components/AssetCard/tests/ImageAssetCard.test.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/AssetList/tests/__snapshots__/AssetList.test.js.snap
  packages/core/upload/admin/src/components/SelectTree/tests/__snapshots__/SelectTree.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
  yarn.lock
Labels: source: dependencies, pr: chore

#15043 Use commander to 8.2.0 everywhere
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/strapi/package.json
  yarn.lock
Labels: source: cli, pr: fix

#14927 Tracking system, editing collection name
  packages/core/content-type-builder/admin/src/components/FormModal/index.js
  packages/core/content-type-builder/admin/src/components/FormModalEndActions/index.js
Labels: source: core:content-type-builder, pr: enhancement
