Repository strapi/strapi, pull requests merged in 2022-09, with the labels that each got.

#14213 Regenerate an API token
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/useRegenerate/index.js
  packages/core/admin/admin/src/hooks/useRegenerate/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/Regenerate/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/utils/getDateOfExpiration.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/utils/tests/getDateOfExpiration.test.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: feature

#14259 Api token v2 refactor frontend
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/ActionBoundRoutes/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/BoundRoute/getMethodColor.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/BoundRoute/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/CollapsableContentType/CheckBoxWrapper.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/CollapsableContentType/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/ContenTypesSection/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/Permissions/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/Permissions/utils/tabLabels.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/init.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/reducer.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/reducer.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/utils/getActionsState.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/utils/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/utils/tests/dataMock.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/utils/tests/getActionsState.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/utils/tests/togglePermissions.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/utils/tests/transformPermissionsData.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/utils/togglePermissions.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/utils/transformPermissionsData.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin

#14282 Fix/i18n locale queries forbidden access
  packages/plugins/i18n/server/graphql.js
Labels: source: plugin:graphql, pr: fix

#14279 Update minimum and recommended database versions
  README.md
  packages/core/strapi/README.md
Labels: source: docs, pr: chore

#14264 Fix global.users translation for ES
  packages/core/admin/admin/src/translations/es.json
Labels: source: core:admin, pr: fix

#14132 Fix/delete components when deleting entity
  packages/core/database/lib/entity-manager.js
  packages/core/strapi/lib/services/entity-service/components.js
  packages/core/strapi/lib/services/entity-service/index.js
  packages/core/strapi/tests/api/basic-dp-compo.test.e2e.js
  packages/core/utils/lib/content-types.js
Labels: source: core:content-manager, pr: fix

#14275 Fix several issues in the users-permissions OpenAPI specification
  packages/plugins/users-permissions/documentation/content-api.yaml
Labels: source: plugin:users-permissions, pr: fix

#14332 Improve pk management in schema builder
  packages/core/database/lib/schema/builder.js
Labels: source: core:database, pr: chore

#14317 Manage tokens having the same name
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/server/tests/admin-permission.test.e2e.js
Labels: source: core:admin, pr: fix

#14320 chore/eslint
  .eslintrc.back.js
  packages/core/admin/scripts/build.js
  packages/core/admin/server/services/__tests__/role.test.js
  packages/core/admin/server/services/permission/permissions-manager/query-builers.js
  packages/core/admin/server/services/permission/queries.js
  packages/core/admin/server/tests/admin-permissions-conditions.test.e2e.js
  packages/core/admin/server/tests/admin-user.test.e2e.js
  packages/core/admin/server/validation/common-functions/check-fields-are-correctly-nested.js
  packages/core/content-manager/server/services/components.js
  packages/core/content-type-builder/server/services/schema-builder/schema-handler.js
  packages/core/content-type-builder/tests/single-type.test.e2e.js
  packages/core/database/lib/entity-manager.js
  packages/core/database/lib/lifecycles/index.js
  packages/core/database/lib/query/helpers/join.js
  packages/core/database/lib/query/helpers/populate.js
  packages/core/database/lib/query/helpers/transform.js
  packages/core/database/lib/query/helpers/where.js
  packages/core/database/lib/query/query-builder.js
  packages/core/database/lib/schema/schema.js
  packages/core/strapi/lib/commands/configurationDump.js
  packages/core/strapi/lib/core-api/controller/transform.js
  packages/core/strapi/lib/core/loaders/apis.js
  packages/core/strapi/lib/core/loaders/plugins/get-enabled-plugins.js
  packages/core/strapi/lib/core/loaders/plugins/index.js
  packages/core/strapi/lib/core/registries/content-types.js
  packages/core/strapi/lib/core/registries/controllers.js
  packages/core/strapi/lib/core/registries/hooks.js
  packages/core/strapi/lib/core/registries/middlewares.js
  packages/core/strapi/lib/core/registries/policies.js
  packages/core/strapi/lib/core/registries/services.js
  packages/core/strapi/lib/services/cron.js
  packages/core/strapi/lib/services/entity-service/components.js
  packages/core/strapi/lib/services/entity-validator/index.js
  packages/core/strapi/lib/services/metrics/__tests__/middleware.test.js
  packages/core/strapi/lib/services/metrics/middleware.js
  packages/core/strapi/lib/services/server/register-routes.js
  packages/core/strapi/lib/services/utils/upload-files.js
  packages/core/strapi/lib/services/worker-queue.js
  packages/core/strapi/lib/utils/addSlash.js
  packages/core/utils/lib/build-query.js
  packages/core/utils/lib/print-value.js
  packages/generators/app/lib/create-customized-project.js
  packages/plugins/documentation/server/services/documentation.js
  packages/plugins/users-permissions/server/controllers/content-manager-user.js
  packages/plugins/users-permissions/server/controllers/user.js
  scripts/front/merge-duplicated-translations/find-duplicated-translation.js
  scripts/front/merge-duplicated-translations/index.js
  scripts/open-api/serve.js
  test/unit.setup.js
Labels: source: tooling, pr: chore

#14362 Update readme with node 18 support
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  CONTRIBUTING.md
  README.md
  packages/core/strapi/README.md
Labels: pr: doc

#14316 Validation lifespan during the creation of a token
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/utils/schema.js
Labels: source: core:admin, pr: fix

#14321 Regenerate permission for API token
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/permissions/defaultPermissions.js
  packages/core/admin/package.json
  packages/core/admin/server/config/admin-actions.js
  packages/core/admin/server/routes/api-tokens.js
  packages/core/admin/server/tests/admin-permission.test.e2e.js
  packages/core/strapi/package.json
Labels: source: core:admin, pr: feature

#14314 Synchronize the token type selector with the permissions in the request
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  yarn.lock
Labels: source: core:admin, pr: fix

#14292 fix: some french translations are not correct
  packages/core/admin/admin/src/translations/fr.json
Labels: source: core:admin, pr: enhancement

#14290 Trim admin's first name when validating
  packages/core/admin/admin/src/pages/AuthPage/utils/forms.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/utils/schema.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/utils/validations/users/profile.js
  packages/core/admin/server/validation/common-validators.js
  packages/core/strapi/lib/commands/admin-create.js
Labels: source: core:admin, pr: enhancement

#14373 update sharp in upload package
  packages/core/upload/package.json
Labels: source: core:upload, pr: chore

#14397 [Fix] CM LV custom labels
  packages/core/admin/admin/src/content-manager/components/DynamicTable/index.js
Labels: source: core:content-manager, pr: fix

#14170 Fix relations not correctly set when uploading a new file to an entity
  packages/core/database/lib/entity-manager/entity-repository.js
  packages/core/database/lib/entity-manager/index.js
  packages/core/database/lib/entity-manager/morph-relations.js
  packages/core/upload/tests/content-api/upload.test.e2e.js
Labels: source: core:database, pr: fix

#14372 Remove outdated Strapi-Docker link from README
  README.md
Labels: source: docs, pr: doc

#14394 Select permissions with the "Select all" command
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/reducer.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/reducer.test.js
Labels: source: core:admin, pr: fix

#14430 Chore: Upgrade jest to 29.0.3 and jest-watch-typeahead to 2.x
  package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#14298 Do not allow reserved names for singular/plural API names
  packages/core/content-type-builder/admin/src/components/FormModal/contentType/createContentTypeSchema.js
Labels: source: core:content-type-builder, pr: enhancement

#14370 Request context
  examples/getstarted/src/api/address/content-types/address/lifecycles.js
  examples/getstarted/src/api/address/routes/address.js
  packages/core/strapi/lib/Strapi.js
  packages/core/strapi/lib/services/request-context.js
  packages/core/strapi/lib/services/server/index.js
Labels: source: core:strapi, pr: feature

#14300 Prevent `InputJSON` from crashing when field value is `0`
  packages/core/admin/admin/src/content-manager/components/InputJSON/index.js
Labels: source: core:content-manager, pr: fix

#14369 [Enh] Store app theme
  packages/core/admin/admin/src/components/ThemeToggleProvider/index.js
Labels: source: core:admin, pr: enhancement

#14153 Complete (English -> en-) Locales
  packages/plugins/i18n/server/constants/iso-locales.json
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
Labels: source: plugin:i18n, pr: enhancement

#14444 [Fix] Guided tour visibility on prod mode
  packages/core/admin/admin/src/components/AuthenticatedApp/index.js
  packages/core/admin/admin/src/components/AuthenticatedApp/tests/index.test.js
Labels: source: core:admin, pr: fix

#14363 Translations: Use $ne to translate not-equal-filter
  packages/core/admin/admin/src/translations/zh-Hans.json
  packages/core/helper-plugin/lib/src/components/FilterPopoverURLQuery/utils/getFilterList.js
  packages/core/upload/admin/src/components/FilterPopover/utils/getFilterList.js
Labels: source: core:content-manager, pr: chore

#14445 [Enh] en-PA locale
  packages/plugins/i18n/server/constants/iso-locales.json
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
Labels: source: plugin:i18n, pr: enhancement

#14265 Exclude source maps when loading APIs
  packages/core/strapi/lib/core/loaders/apis.js
Labels: pr: fix, source: typescript

#14449 [Chore] bump DS to 1.2.3
  packages/core/admin/admin/src/components/AuthenticatedApp/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/App/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/components/SettingsNav/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/ListPage/tests/index.test.js
  packages/core/admin/package.json
  packages/core/helper-plugin/lib/src/components/PaginationURLQuery/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/PaginationURLQuery/tests/index.test.js
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/SelectTree/tests/__snapshots__/SelectTree.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/AddAssetStep/tests/FromComputerForm.test.js
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/plugins/users-permissions/admin/src/pages/Providers/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/tests/index.test.js
  yarn.lock
Labels: source: core:admin, pr: chore

#14341 Add free-form filters to the query parameters
  packages/plugins/documentation/server/services/helpers/utils/query-params.js
Labels: source: plugin:documentation, pr: enhancement

#14437 Refactoring API tokens v2 frontend code
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/FormApiTokenContainer/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/FormBody/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/FormHead/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
Labels: source: core:admin, pr: enhancement

#14371 Add Te Reo Māori locale
  packages/plugins/i18n/server/constants/iso-locales.json
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
Labels: source: plugin:i18n, pr: enhancement

#14459 Fixing error when building without src/admin #13975
  packages/core/admin/utils/__tests__/get-custom-app-config-file.test.js
  packages/core/admin/utils/get-custom-app-config-file.js
Labels: source: core:admin, pr: fix

#14475 [feature]: Add ability to click on AssetCard and have it envoke a modal
  packages/core/upload/admin/src/components/AssetCard/AssetCardBase.js
  packages/core/upload/admin/src/components/AssetCard/AudioAssetCard.js
  packages/core/upload/admin/src/components/AssetCard/DocAssetCard.js
  packages/core/upload/admin/src/components/AssetCard/ImageAssetCard.js
  packages/core/upload/admin/src/components/AssetCard/VideoAssetCard.js
  packages/core/upload/admin/src/components/AssetCard/tests/AssetCardBase.test.js
  packages/core/upload/admin/src/components/AssetCard/tests/DocAssetCard.test.js
  packages/core/upload/admin/src/components/AssetCard/tests/ImageAssetCard.test.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/AssetList/tests/__snapshots__/AssetList.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
Labels: source: core:upload, pr: enhancement

#14493 [fix][RelationInput]: menu placement on options changed
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/RelationInputDataManager.js
Labels: source: core:content-manager, pr: fix

#14458 Treat email as lowercase when creating a user
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/index.js
  packages/core/admin/ee/server/controllers/user.js
  packages/core/admin/server/controllers/__tests__/user.test.js
  packages/core/admin/server/controllers/user.js
  packages/core/admin/server/tests/admin-user.test.e2e.js
Labels: source: core:admin, pr: fix

#14492 check if set is empty
  packages/core/database/lib/entity-manager/index.js
Labels: source: core:content-manager, pr: fix

#14500 Fix wrong filter param used with the entityService in UP
  packages/plugins/users-permissions/server/services/permission.js
Labels: source: plugin:users-permissions, pr: fix

#14507 Update UP e2e test following API token V2 release
  packages/plugins/users-permissions/tests/content-api/auth.test.e2e.js
Labels: source: plugin:users-permissions, pr: fix

#14447 Database load/populate ordering
  packages/core/database/lib/query/helpers/populate.js
  packages/core/database/lib/query/helpers/populate/apply.js
  packages/core/database/lib/query/helpers/populate/index.js
  packages/core/database/lib/query/helpers/populate/process.js
Labels: source: core:database, pr: chore

#14498 Add cloud hosting telemetry property
  packages/core/admin/server/controllers/admin.js
  packages/core/strapi/lib/services/metrics/sender.js
  packages/generators/app/lib/utils/usage.js
Labels: source: core:strapi, pr: enhancement
