Repository strapi/strapi, pull requests merged in 2022-04, with the labels that each got.

#13004 [marketplace] add offline layout
  packages/core/admin/admin/src/assets/images/icon_offline-cloud.svg
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/schema.js
  packages/core/admin/admin/src/content-manager/components/Inputs/index.js
  packages/core/admin/admin/src/hooks/useNavigatorOnLine/index.js
  packages/core/admin/admin/src/hooks/useNavigatorOnLine/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/PageHeader/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/helper-plugin/lib/src/utils/getYupInnerErrors/index.js
Labels: pr: feature, source: marketplace

#12635 Upgrade purest to 4.x
  packages/plugins/users-permissions/package.json
  packages/plugins/users-permissions/server/controllers/auth.js
  packages/plugins/users-permissions/server/services/providers-list.js
  packages/plugins/users-permissions/server/services/providers.js
  yarn.lock
Labels: source: plugin:users-permissions, pr: chore

#12287 Harmonize secret generation + don't generate in production mode
  .github/actions/run-e2e-tests/script.sh
  examples/getstarted/config/admin.js
  examples/kitchensink/config/admin.js
  examples/kitchensink/config/server.js
  packages/core/admin/package.json
  packages/core/admin/server/bootstrap.js
  packages/core/admin/server/config/api-token.js
  packages/core/admin/server/config/index.js
  packages/core/admin/server/services/__tests__/api-token.test.js
  packages/core/admin/server/services/api-token.js
  packages/core/admin/server/services/token.js
  packages/core/helper-plugin/package.json
  packages/generators/app/lib/create-project.js
  packages/generators/app/lib/resources/files/config/admin.js
  packages/generators/app/lib/resources/templates/admin-config.js
  packages/generators/app/lib/resources/templates/admin-config.template
  packages/generators/app/lib/resources/templates/env.template
  packages/plugins/users-permissions/package.json
  packages/plugins/users-permissions/server/bootstrap/index.js
  test/e2e.js
  yarn.lock
Labels: source: core:strapi, pr: enhancement

#13089 [Improvement] Speed up Webpack 🎉🎉🎉
  packages/core/admin/package.json
  packages/core/admin/scripts/build.js
  packages/core/admin/webpack.config.js
  yarn.lock
Labels: source: core:admin, pr: enhancement

#13037 Add kyrgyz tajik languages
  packages/plugins/i18n/server/constants/iso-locales.json
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
Labels: source: plugin:i18n, pr: enhancement

#13067 Added Sanskrit (sa) to i18n locales
  packages/plugins/i18n/server/constants/iso-locales.json
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
Labels: source: plugin:i18n, pr: enhancement

#12910 Opt out telemetry command
  packages/core/admin/server/controllers/__tests__/admin.test.js
  packages/core/admin/server/controllers/admin.js
  packages/core/strapi/bin/strapi.js
  packages/core/strapi/lib/commands/opt-out-telemetry.js
  packages/core/strapi/lib/services/metrics/index.js
Labels: source: core:strapi, pr: feature

#13087 Menu logo/update project settings route
  packages/core/admin/server/controllers/admin.js
  packages/core/admin/server/routes/admin.js
  packages/core/admin/server/services/__tests__/project-settings.test.js
  packages/core/admin/server/services/index.js
  packages/core/admin/server/services/project-settings.js
  packages/core/admin/server/utils/index.d.ts
  packages/core/admin/server/validation/project-settings.js
Labels: source: core:admin, pr: feature

#13152 Fix ADMIN_JWT_SECRET being generated with a space
  packages/generators/app/lib/resources/templates/env.template
Labels: source: core:strapi, pr: fix

#13140 FIx upload error: Error: VipsJpeg: Invalid SOS parameters for sequential JPEG
  packages/core/upload/package.json
Labels: source: dependencies, pr: chore

#13178 add marketplace media csp settings to provider docs
  packages/providers/upload-aws-s3/README.md
  packages/providers/upload-cloudinary/README.md
Labels: source: doc:readme, pr: fix

#13207 Upgrade nodemailer
  packages/providers/email-nodemailer/package.json
Labels: source: core:upload, pr: fix
