Repository strapi/strapi, pull requests merged in 2022-05, with the labels that each got.

#13054 Admin UI Catalan translation
  packages/core/admin/admin/src/translations/ca.json
  packages/core/admin/admin/src/translations/languageNativeNames.js
Labels: source: core:strapi, pr: enhancement

#13201 Added new ru translations for admin content
  packages/core/admin/admin/src/translations/ru.json
Labels: source: core:admin, pr: enhancement

#13219 [Enhancement] Updated homepage logo
  packages/core/admin/admin/src/assets/images/homepage-logo.png
Labels: source: core:admin, pr: enhancement

#13231 fix getUpdateMessage typo
  packages/core/strapi/lib/utils/update-notifier/index.js
Labels: source: core:strapi, pr: chore

#12850 Fix bulk delete for non-default locales
  packages/plugins/i18n/server/services/entity-service-decorator.js
  packages/plugins/i18n/tests/content-manager/crud.test.e2e.js
Labels: source: plugin:i18n, pr: fix

#13225 Shrink marketplace cards padding
  packages/core/admin/admin/src/pages/MarketplacePage/components/PluginCard/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
Labels: pr: enhancement, source: marketplace

#13092 Display error when loading upload provider
  packages/core/upload/server/bootstrap.js
Labels: source: core:upload, pr: enhancement

#13236 [Enh] Allow Wysiwyg spellcheck
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/Editor.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/tests/index.test.js
Labels: source: core:admin, pr: enhancement

#13168 Upgrade Sentry version (both for plugin and internal) to latest
  packages/generators/app/package.json
  packages/plugins/sentry/package.json
Labels: source: plugin:sentry, pr: fix

#13257 SingleTypeFormWrapper: Display custom error messages
  packages/core/admin/admin/src/content-manager/components/SingleTypeFormWrapper/index.js
Labels: source: core:content-manager, pr: fix

#13189 [V3] Remove hidden attributes from admin API responses
  packages/strapi-admin/models/User.config.js
  packages/strapi-admin/services/permission/permissions-manager/index.js
  packages/strapi-admin/services/user.js
  packages/strapi-utils/lib/sanitize-entity.js
Labels: source: core:admin, pr: security

#13275 Fix deployment on GCP by generating .gitkeep for db migrations
  packages/generators/app/lib/resources/files/database/migrations/.gitkeep
Labels: source: core:strapi, pr: fix

#13227 [Fix] Guided tour skipped local storage
  packages/core/helper-plugin/lib/src/utils/auth/index.js
Labels: source: core:admin, pr: fix

#13277 fix: hook getter spread make handlers invalid
  packages/core/utils/lib/__tests__/hooks.test.js
  packages/core/utils/lib/hooks.js
Labels: source: core:strapi, pr: fix

#12929 [plugin:documentation] add component schemas
  packages/plugins/documentation/__mocks__/strapi.js
  packages/plugins/documentation/__tests__/build-component-schema.test.js
  packages/plugins/documentation/server/config/default-plugin-config.js
  packages/plugins/documentation/server/config/index.js
  packages/plugins/documentation/server/services/documentation.js
  packages/plugins/documentation/server/services/helpers/build-api-endpoint-path.js
  packages/plugins/documentation/server/services/helpers/build-component-schema.js
  packages/plugins/documentation/server/services/helpers/index.js
  packages/plugins/documentation/server/services/helpers/utils/clean-schema-attributes.js
  packages/plugins/documentation/server/services/helpers/utils/get-api-responses.js
  packages/plugins/documentation/server/services/helpers/utils/get-schema-data.js
  packages/plugins/documentation/server/services/helpers/utils/loop-content-type-names.js
  packages/plugins/documentation/server/services/helpers/utils/pascal-case.js
  packages/plugins/documentation/server/services/helpers/utils/query-params.js
  packages/plugins/documentation/server/services/helpers/utils/routes.js
  packages/plugins/documentation/server/services/utils/components.json
  packages/plugins/documentation/server/services/utils/parametersOptions.json
  packages/plugins/documentation/server/services/utils/unknownComponent.json
  packages/plugins/documentation/server/utils/builders/build-api-endpoint-path.js
  packages/plugins/documentation/server/utils/builders/build-api-requests.js
  packages/plugins/documentation/server/utils/builders/build-api-responses.js
  packages/plugins/documentation/server/utils/builders/index.js
  packages/plugins/documentation/server/utils/error-response.js
Labels: source: plugin:documentation, pr: fix

#11960 Fix unable to populate User in Users-Permissions
  packages/core/strapi/lib/Strapi.js
  packages/core/strapi/lib/core/loaders/index.js
  packages/core/strapi/lib/core/loaders/sanitizers.js
  packages/core/strapi/lib/core/registries/sanitizers.js
  packages/core/utils/lib/sanitize/index.js
  packages/plugins/i18n/server/controllers/__tests__/locales.test.js
  packages/plugins/users-permissions/server/controllers/role.js
  packages/plugins/users-permissions/server/controllers/settings.js
  packages/plugins/users-permissions/server/controllers/user.js
  packages/plugins/users-permissions/server/register.js
  packages/plugins/users-permissions/server/routes/admin/role.js
  packages/plugins/users-permissions/server/routes/content-api/role.js
  packages/plugins/users-permissions/server/services/role.js
  packages/plugins/users-permissions/server/services/user.js
  packages/plugins/users-permissions/server/utils/index.js
  packages/plugins/users-permissions/server/utils/sanitize/index.js
  packages/plugins/users-permissions/server/utils/sanitize/sanitizers.js
  packages/plugins/users-permissions/server/utils/sanitize/visitors/index.js
  packages/plugins/users-permissions/server/utils/sanitize/visitors/remove-user-relation-from-role-entities.js
  packages/plugins/users-permissions/tests/content-api/users-api.test.e2e.js
Labels: source: plugin:users-permissions, pr: fix

#13185 Sanitize hidden attributes from admin API responses
  packages/core/admin/server/services/__tests__/permissions-manager-sanitize.test.js
  packages/core/admin/server/services/permission/permissions-manager/sanitize.js
  packages/core/admin/server/services/user.js
  packages/core/content-manager/server/tests/api/basic.test.e2e.js
  packages/core/content-type-builder/server/services/schema-builder/component-builder.js
  packages/core/content-type-builder/server/services/schema-builder/content-type-builder.js
  packages/core/content-type-builder/server/services/schema-builder/index.js
  packages/core/content-type-builder/server/services/schema-builder/schema-handler.js
Labels: source: core:admin, pr: security

#12881 ML: Apply fallback mime-type if none is set
  packages/core/strapi/lib/middlewares/body.js
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/upload/server/graphql.js
  yarn.lock
Labels: source: core:strapi, pr: fix

#13271 Load storage providers before server start
  packages/core/upload/server/__tests__/register.test.js
  packages/core/upload/server/bootstrap.js
  packages/core/upload/server/register.js
Labels: source: core:upload, pr: enhancement

#13292 Fix email confirmation
  packages/plugins/users-permissions/server/controllers/auth.js
Labels: source: plugin:users-permissions, pr: fix

#13183 Features/menu logo
  packages/core/admin/admin/src/components/ConfigurationsProvider/index.js
  packages/core/admin/admin/src/components/ConfigurationsProvider/reducer.js
  packages/core/admin/admin/src/components/ConfigurationsProvider/tests/index.test.js
  packages/core/admin/admin/src/components/ConfigurationsProvider/tests/reducer.test.js
  packages/core/admin/admin/src/components/LeftMenu/index.js
  packages/core/admin/admin/src/components/Providers/index.js
  packages/core/admin/admin/src/components/UnauthenticatedLogo/index.js
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/Form/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/Form/init.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/Form/reducer.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/Form/tests/reducer.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/reducer.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/stepper.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/reducer.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/AddLogoDialog.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/FromComputerForm.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/FromUrlForm.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/ImageCardAsset.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/PendingLogoDialog.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/reducer.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/tests/reducer.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/server.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/utils/api.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/utils/constants.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/utils/getFormData.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/utils/parseFileMetadatas.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/utils/prefixAllUrls.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/utils/urlToFile.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/server/config/admin-actions.js
  packages/core/admin/server/controllers/__tests__/admin.test.js
  packages/core/admin/server/controllers/admin.js
  packages/core/admin/server/routes/admin.js
  packages/core/admin/server/services/__tests__/project-settings.test.js
  packages/core/admin/server/services/index.js
  packages/core/admin/server/services/project-settings.js
  packages/core/admin/server/tests/admin-permission.test.e2e.js
  packages/core/admin/server/utils/index.d.ts
  packages/core/admin/server/validation/project-settings.js
  packages/plugins/documentation/server/services/helpers/build-api-endpoint-path.js
  packages/plugins/documentation/server/services/helpers/build-component-schema.js
  packages/plugins/documentation/server/services/helpers/utils/clean-schema-attributes.js
  packages/plugins/documentation/server/services/helpers/utils/pascal-case.js
  packages/plugins/documentation/server/services/helpers/utils/routes.js
Labels: source: core:admin, pr: feature

#13291 fix: issue #13149 input color
  packages/core/admin/admin/src/content-manager/components/SelectWrapper/utils/getSelectStyles.js
Labels: source: core:content-manager, pr: fix

#13314 v4.1.11
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/providers/upload-rackspace/package.json
  packages/utils/babel-plugin-switch-ee-ce/package.json
  packages/utils/logger/package.json
Labels: source: dependencies, pr: chore

#13272 Bump umzug to 3.1.1
  packages/core/database/lib/migrations/index.js
  packages/core/database/lib/migrations/storage.js
  packages/core/database/package.json
  packages/core/upload/server/register.js
  packages/plugins/documentation/server/services/helpers/build-api-endpoint-path.js
  packages/plugins/documentation/server/services/helpers/build-component-schema.js
  packages/plugins/documentation/server/services/helpers/utils/clean-schema-attributes.js
  packages/plugins/documentation/server/services/helpers/utils/pascal-case.js
  packages/plugins/documentation/server/services/helpers/utils/routes.js
  packages/plugins/users-permissions/server/controllers/auth.js
  yarn.lock
Labels: source: dependencies, pr: chore

#12454 Fix not working deleteUsersPermissionsUser and mutations related to role
  packages/plugins/users-permissions/server/graphql/mutations/crud/user/delete-user.js
  packages/plugins/users-permissions/server/graphql/resolvers-configs.js
Labels: source: plugin:users-permissions, pr: fix

#13315 [Fix] CTB Media advanced settings layout
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/advancedForm.js
Labels: source: core:content-type-builder, pr: fix

#13310 [Enh] Homepage links trackUsage
  packages/core/admin/admin/src/pages/HomePage/ContentBlocks.js
Labels: source: core:admin, pr: enhancement

#13339 add missing items property causing infinite load on error schema
  packages/plugins/documentation/server/config/default-plugin-config.js
Labels: source: plugin:documentation, pr: fix

#13345 Increase test coverage for get-file-path util
  packages/generators/generators/lib/plops/utils/__tests__/get-file-path.test.js
Labels: source: tooling, pr: enhancement

#13256 Make component icons optional
  packages/core/admin/admin/src/content-manager/components/DynamicComponentCard/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/ComponentPicker/Category/ComponentCard/index.js
  packages/core/content-type-builder/admin/src/components/ComponentCard/index.js
  packages/core/content-type-builder/admin/src/components/ComponentIconPicker/index.js
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/index.js
  packages/core/content-type-builder/admin/src/components/FormModal/component/createComponentSchema.js
  packages/core/content-type-builder/server/controllers/validation/component.js
  packages/core/content-type-builder/tests/components.test.e2e.js
Labels: source: core:admin, pr: feature

#13323 [plugin:documentation] fix required attributes on post requests
  packages/plugins/documentation/__tests__/build-component-schema.test.js
  packages/plugins/documentation/server/services/helpers/build-component-schema.js
Labels: source: plugin:documentation, pr: fix

#13344 Increase Test Coverage - Added test case to check the thrown error message if input is incorrect date for parseType()
  packages/core/utils/lib/__tests__/parse-type.test.js
Labels: source: tooling, pr: enhancement

#13353 Added test to validate the min constraint for big integer if no min is specified
  packages/core/strapi/lib/services/entity-validator/__tests__/biginteger-validators.test.js
Labels: source: tooling, pr: enhancement

#12170 #12081 Fix empty string is accepted by API
  packages/core/strapi/lib/services/entity-validator/__tests__/email-validators.test.js
  packages/core/strapi/lib/services/entity-validator/validators.js
Labels: source: core:strapi, pr: fix

#12264 Validate plugin/middleware/policy name inside generators
  packages/generators/generators/lib/plops/middleware.js
  packages/generators/generators/lib/plops/plugin.js
  packages/generators/generators/lib/plops/policy.js
Labels: source: cli, pr: enhancement

#12196 fix: handle user not found error
  packages/plugins/users-permissions/server/controllers/user.js
  packages/plugins/users-permissions/tests/content-api/users-api.test.e2e.js
Labels: source: plugin:users-permissions, pr: fix

#12959 Docs: Update upload provider readme files
  packages/providers/upload-aws-s3/README.md
  packages/providers/upload-cloudinary/README.md
  packages/providers/upload-rackspace/README.md
Labels: source: doc:readme, pr: doc

#12277 fix: skip git config file that looks like dir
  packages/core/strapi/lib/core/loaders/apis.js
Labels: source: core:strapi, flag: migration guide, pr: fix

#12312 Check that plugin name is kebab-cased upon generation
  packages/core/utils/lib/index.js
  packages/core/utils/lib/string-formatting.js
  packages/generators/generators/lib/plops/plugin.js
  packages/generators/generators/lib/templates/plugin-package.json.hbs
Labels: source: cli, pr: enhancement

#12773 fix emailConfirmation graphql mutation
  packages/plugins/users-permissions/server/graphql/mutations/auth/email-confirmation.js
Labels: source: plugin:graphql, pr: fix

#13298 dots in bucket names
  packages/providers/upload-aws-s3/README.md
Labels: source: core:upload, pr: doc

#12203 Fix state not being shared with "beforeXXX" and "afterXXX" events
  packages/core/database/lib/__tests__/lifecycles.test.js
  packages/core/database/lib/entity-manager.js
  packages/core/database/lib/lifecycles/index.d.ts
  packages/core/database/lib/lifecycles/index.js
Labels: source: core:database, pr: feature

#12694 Don't prompt to choose installation type when user has provided database options
  packages/cli/create-strapi-app/create-strapi-app.js
  packages/cli/create-strapi-app/utils/prompt-user.js
Labels: source: cli, pr: fix

#13352 Added test case to check password validity
  packages/core/admin/server/services/__tests__/auth.test.js
Labels: source: tooling, pr: enhancement

#13354 Fix CTB not adding all field extensions
  packages/core/content-type-builder/admin/src/utils/formAPI.js
Labels: source: core:content-type-builder, pr: fix

#13249 Upload Plugin UI Catalan translation
  packages/core/upload/admin/src/translations/ca.json
Labels: source: core:upload, pr: chore

#13378 Add incremental build by default in the generated tsconfig.json
  packages/utils/typescript/lib/configs/server.json
Labels: source: core:utils, pr: enhancement

#13302 Update security doc to reference extended v3 support
  SECURITY.md
Labels: source: doc:readme, pr: chore

#13290 [@strapi/database]: Add missing WhereParams attributes to the type definition
  packages/core/database/lib/index.d.ts
Labels: source: core:database, pr: chore

#13404 Fix generation of OpenAPI documentation with top level type attribute
  packages/plugins/documentation/__tests__/build-component-schema.test.js
  packages/plugins/documentation/server/services/helpers/build-component-schema.js
Labels: source: plugin:documentation, pr: fix

#13361 Update .gitignore to allow use of word "coverage"
  examples/getstarted/.gitignore
Labels: source: core:strapi, pr: fix

#13394 Automatically add new github issues to support project
  .github/workflows/addToProject.yml
Labels: source: tooling, pr: chore

#12966 fix: change from mailgun-js to mailgun.js
  packages/providers/email-mailgun/README.md
  packages/providers/email-mailgun/lib/__tests__/convert-provider-options.test.js
  packages/providers/email-mailgun/lib/index.js
  packages/providers/email-mailgun/package.json
  yarn.lock
Labels: source: core:email, pr: fix

#13376 Chore/update node support
  .github/workflows/tests.yml
  README.md
  examples/getstarted/package.json
  examples/kitchensink/package.json
  package.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/lib/templates/plugin-package.json.hbs
  packages/generators/generators/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/providers/upload-rackspace/package.json
  packages/utils/logger/package.json
Labels: source: core:strapi, pr: chore

#13113 Prevent `argv` check on "add-missing-keys-to-other-language"
  scripts/front/add-missing-keys-to-other-language.js
Labels: source: tooling, pr: fix

#13331 Remove limit on deep populate on components
  packages/core/content-manager/server/services/entity-manager.js
Labels: source: core:content-manager, pr: fix
