Repository strapi/strapi, pull requests merged in 2022-08, with the labels that each got.

#13855 Better handle populating of dynamic-zones
  packages/core/content-manager/server/tests/api/basic-dz.test.e2e.js
  packages/core/content-manager/server/tests/api/populate-dz.test.e2e.js
  packages/core/utils/lib/convert-query-params.js
  packages/plugins/graphql/server/services/builders/dynamic-zones.js
Labels: source: core:utils, pr: fix

#13793 feat(graphql): Add bounded cache
  packages/plugins/graphql/server/bootstrap.js
Labels: source: plugin:graphql, pr: fix

#13934 Add apiToken.salt directly in the config of created projects
  packages/generators/app/lib/resources/templates/js/admin-config.template
  packages/generators/app/lib/resources/templates/ts/admin-config.template
Labels: source: cli, pr: fix

#13799 chore: Bump @strapi/design-system to 1.2.1
  packages/core/admin/admin/src/content-manager/pages/App/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/NoContentType/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/NoPermissions/tests/index.test.js
  packages/core/admin/admin/src/pages/InternalErrorPage/tests/index.test.js
  packages/core/admin/admin/src/pages/NotFoundPage/tests/index.test.js
  packages/core/admin/admin/src/pages/ProfilePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/components/SettingsNav/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/package.json
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/DateTimePicker/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/PaginationURLQuery/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/PaginationURLQuery/tests/index.test.js
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/SelectTree/tests/__snapshots__/SelectTree.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/AddAssetStep/tests/FromComputerForm.test.js
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Providers/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
  yarn.lock
Labels: source: core:admin, pr: chore

#13943 CTB: Update SubNav styles using improved DS properties
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/index.js
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.js.snap
  yarn.lock
Labels: source: core:content-type-builder, pr: enhancement

#13937 Fix false positive results for ts utils' getConfigPath
  packages/utils/typescript/lib/utils/get-config-path.js
  packages/utils/typescript/lib/utils/is-using-typescript-sync.js
  packages/utils/typescript/lib/utils/is-using-typescript.js
Labels: pr: fix, source: typescript

#13950 Fix invalid return for ts get-config-path
  packages/utils/typescript/lib/utils/get-config-path.js
Labels: pr: fix, source: typescript

#13930 Do not override width and height after uploading image
  packages/core/upload/server/services/__tests__/upload/formatFileInfo.test.js
  packages/core/upload/server/services/__tests__/upload/image.png
  packages/core/upload/server/services/__tests__/upload/uploadImage.test.js
  packages/core/upload/server/services/upload.js
Labels: source: core:upload, pr: fix

#13655 fix: diff indexes columns
  packages/core/database/lib/schema/diff.js
Labels: source: core:database, pr: fix

#13905 Fix webpack custom config loading in TypeScript projects
  packages/generators/app/lib/resources/files/ts/src/admin/webpack.config.example.js
Labels: source: core:admin, pr: fix

#13958 clean config files for generated projects
  packages/generators/app/lib/create-project.js
  packages/generators/app/lib/resources/dot-files/common/env.example
  packages/generators/app/lib/resources/files/js/config/admin.js
  packages/generators/app/lib/resources/files/js/database/migrations/.gitkeep
  packages/generators/app/lib/resources/files/ts/config/admin.ts
  packages/generators/app/lib/resources/files/ts/database/migrations/.gitkeep
  packages/generators/app/lib/resources/templates/admin-config.js
  packages/generators/app/lib/resources/templates/js/admin-config.template
Labels: source: cli, pr: fix

#13961 Update dependabot config
  .github/dependabot.yml
Labels: source: tooling, pr: chore

#13976 Upload: Handle file upload errors gracefully
  packages/core/upload/admin/src/components/AssetCard/UploadingAssetCard.js
  packages/core/upload/admin/src/translations/en.json
Labels: source: core:upload, pr: fix

#13978 ML: Improve canRead and canCreate permission messages
  packages/core/upload/admin/src/pages/App/MediaLibrary.js
  packages/core/upload/admin/src/pages/App/components/EmptyOrNoPermissions.js
  packages/core/upload/admin/src/pages/App/components/tests/EmptyOrNoPermissions.test.js
  packages/core/upload/admin/src/pages/App/tests/MediaLibrary.test.js
  packages/core/upload/admin/src/translations/en.json
Labels: source: core:upload, pr: enhancement

#13985 GraphQL: Remove unused @apollo/federation dependency
  packages/plugins/graphql/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#13917 [Features] Breadcrumbs Folders navigation
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/index.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/index.test.js
  packages/core/upload/admin/src/components/AssetDialog/DialogHeader.js
  packages/core/upload/admin/src/components/AssetDialog/index.js
  packages/core/upload/admin/src/components/AssetDialog/tests/DialogHeader.test.js
  packages/core/upload/admin/src/components/Breadcrumbs/Breadcrumbs.js
  packages/core/upload/admin/src/components/Breadcrumbs/CrumbSimpleMenuAsync.js
  packages/core/upload/admin/src/components/Breadcrumbs/index.js
  packages/core/upload/admin/src/components/Breadcrumbs/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/Breadcrumbs/tests/index.test.js
  packages/core/upload/admin/src/components/BulkMoveDialog/BulkMoveDialog.js
  packages/core/upload/admin/src/components/EditAssetDialog/index.js
  packages/core/upload/admin/src/components/EditFolderDialog/EditFolderDialog.js
  packages/core/upload/admin/src/constants.js
  packages/core/upload/admin/src/hooks/__mocks__/useFolderStructure.js
  packages/core/upload/admin/src/hooks/tests/useFolder.test.js
  packages/core/upload/admin/src/hooks/useFolder.js
  packages/core/upload/admin/src/pages/App/MediaLibrary.js
  packages/core/upload/admin/src/pages/App/components/Header.js
  packages/core/upload/admin/src/pages/App/tests/Header.test.js
  packages/core/upload/admin/src/pages/App/tests/MediaLibrary.test.js
  packages/core/upload/admin/src/pages/App/tests/__snapshots__/Header.test.js.snap
  packages/core/upload/admin/src/translations/ca.json
  packages/core/upload/admin/src/translations/de.json
  packages/core/upload/admin/src/translations/dk.json
  packages/core/upload/admin/src/translations/en.json
  packages/core/upload/admin/src/translations/es.json
  packages/core/upload/admin/src/translations/ko.json
  packages/core/upload/admin/src/translations/pl.json
  packages/core/upload/admin/src/utils/getBreadcrumbDataCM.js
  packages/core/upload/admin/src/utils/getBreadcrumbDataML.js
  packages/core/upload/admin/src/utils/getFolderParents.js
  packages/core/upload/admin/src/utils/getFolderURL.js
  packages/core/upload/admin/src/utils/index.js
  packages/core/upload/admin/src/utils/tests/getBreadcrumbDataCM.test.js
  packages/core/upload/admin/src/utils/tests/getBreadcrumbDataML.test.js
  packages/core/upload/admin/src/utils/tests/getFolderParents.test.js
  packages/core/upload/admin/src/utils/tests/getFolderURL.test.js
  packages/plugins/graphql/server/bootstrap.js
Labels: source: core:upload, pr: feature

#13993 CellContent: Relax number formatting
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/CellValue.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/utils/getNumberOfDecimals.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/utils/tests/getNumberOfDecimals.test.js
Labels: source: core:content-manager, pr: fix

#13941 Move from deprecated packages to graphql-scalars to handle scalar types
  packages/plugins/graphql/package.json
  packages/plugins/graphql/server/services/internals/scalars/date.js
  packages/plugins/graphql/server/services/internals/scalars/index.js
  yarn.lock
Labels: source: dependencies, pr: chore

#13949 Fix: app crashes on upload corrupt image
  packages/core/upload/server/services/__tests__/upload/uploadImage.test.js
  packages/core/upload/server/services/image-manipulation.js
  packages/core/upload/server/services/upload.js
  packages/core/upload/server/utils/file.js
Labels: source: core:upload, pr: fix

#13710 Init tech docs
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/api/index.md
  docs/docs/index.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/static/.nojekyll
  docs/static/img/logo.svg
  docs/static/img/logo_dark.svg
  docs/yarn.lock
Labels: source: docs, pr: chore

#13875 Add more locales. smn, smn_FI, se, se_FI, se_NO, se_SE, gd, gd_GB, ug…
  packages/plugins/i18n/server/constants/iso-locales.json
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
Labels: source: plugin:i18n, pr: enhancement

#14009 Remove admin-development example
  examples/admin-development/.babelrc.json
  examples/admin-development/.storybook/main.js
  examples/admin-development/.storybook/preview.js
  examples/admin-development/Introduction.stories.mdx
  examples/admin-development/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#14018 Chore: Remove legacy travis config file
  _travis/mysql.cnf
Labels: source: tooling, pr: chore

#13846 update: localized attribute filter
  packages/core/admin/admin/src/content-manager/components/AttributeFilter/index.js
Labels: source: core:content-manager, pr: enhancement

#14002 Generate fileInfo for every file when uploading in bulk
  packages/core/upload/server/controllers/content-api.js
  packages/core/upload/tests/content-api/upload-automatic-folder.test.e2e.js
Labels: source: core:upload, pr: fix

#13951 add badgeContent to pluginsSectionsLinks
  packages/core/admin/admin/src/components/LeftMenu/index.js
Labels: source: core:admin, pr: enhancement

#14025 Chore: Update @strapi/* dependencies in examples
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#14036 Revert "add badgeContent to pluginsSectionsLinks"
  packages/core/admin/admin/src/components/LeftMenu/index.js
Labels: source: core:admin, pr: fix

#14003 Add missing permissions to webhook triggering endpoint
  packages/core/admin/server/routes/webhooks.js
Labels: source: core:strapi, pr: fix

#13964 Fix upload of menu logo
  packages/core/admin/server/services/__tests__/project-settings.test.js
  packages/core/admin/server/services/project-settings.js
  packages/core/admin/server/tests/admin-project-settings.test.e2e.js
  packages/core/admin/server/tests/utils/logo.png
Labels: source: core:admin, pr: fix

#14040 Fix wrong file location when editing a file from the content-manager
  packages/core/content-manager/server/services/entity-manager.js
Labels: source: core:content-manager, pr: fix

#14042 [Fix] Folder location AssetDialog
  packages/core/upload/admin/src/components/AssetDialog/index.js
Labels: source: core:upload, pr: fix

#13928 Fix count issue when deep filtering
  packages/core/database/lib/query/query-builder.js
  packages/core/strapi/tests/deepFiltering.test.e2e.js
Labels: source: core:database, pr: fix

#14043 Deprecate Rackspace upload provider
  packages/providers/upload-rackspace/.editorconfig
  packages/providers/upload-rackspace/.gitignore
  packages/providers/upload-rackspace/.npmignore
  packages/providers/upload-rackspace/LICENSE
  packages/providers/upload-rackspace/README.md
  packages/providers/upload-rackspace/lib/index.js
  packages/providers/upload-rackspace/package.json
Labels: source: core:upload, pr: chore

#13611 Fix CORS response headers.
  packages/core/strapi/lib/middlewares/cors.js
Labels: source: core:strapi, pr: fix

#14072 Put missing code back
  packages/plugins/users-permissions/server/controllers/auth.js
Labels: source: plugin:users-permissions, pr: fix

#14068 Update content-api.yaml
  packages/plugins/users-permissions/documentation/content-api.yaml
Labels: source: plugin:users-permissions, pr: doc

#14032 Ignore if populating a scalar attribute
  packages/core/content-manager/server/tests/api/populate-dz.test.e2e.js
  packages/core/database/lib/query/helpers/populate.js
Labels: source: core:database, pr: fix

#14041 Fix/trigger webhook on bulk delete
  packages/core/strapi/lib/services/entity-service/__tests__/entity-service-events.test.js
  packages/core/strapi/lib/services/entity-service/index.js
Labels: source: core:strapi, pr: fix

#14050 chore: dependency updates
  package.json
  packages/admin-test-utils/lib/setup/test-bundler.js
  packages/admin-test-utils/package.json
  packages/core/admin/admin/src/components/LanguageProvider/tests/index.test.js
  packages/core/admin/package.json
  packages/core/admin/webpack.config.js
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/webpack.config.js
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/plugins/documentation/package.json
  packages/plugins/i18n/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#13992 properly reject promise in cloudinary provider
  packages/core/strapi/lib/services/entity-service/__tests__/entity-service-events.test.js
  packages/core/strapi/lib/services/entity-service/index.js
  packages/core/upload/server/services/upload.js
  packages/providers/upload-cloudinary/lib/index.js
Labels: source: core:upload, pr: fix

#13901 chore: Unify template spacing
  examples/getstarted/src/middlewares/test-middleware.js
  examples/getstarted/src/policies/test-policy.js
  packages/core/admin/ee/server/services/__tests__/sso.test.js
  packages/core/content-manager/server/services/utils/configuration/index.js
  packages/generators/admin/component/index.js
  packages/generators/admin/component/templates/actions.js.hbs
  packages/generators/admin/component/templates/constants.js.hbs
  packages/generators/admin/component/templates/index.js.hbs
  packages/generators/admin/component/templates/reducer.js.hbs
  packages/generators/admin/component/templates/selectors.js.hbs
  packages/generators/admin/component/templates/tests/actions.test.js.hbs
  packages/generators/admin/component/templates/tests/index.test.js.hbs
  packages/generators/admin/component/templates/tests/reducer.test.js.hbs
  packages/generators/admin/component/templates/tests/selectors.test.js.hbs
  packages/generators/generators/lib/plops/api.js
  packages/generators/generators/lib/plops/content-type.js
  packages/generators/generators/lib/plops/policy.js
  packages/generators/generators/lib/templates/js/collection-type-routes.js.hbs
  packages/generators/generators/lib/templates/js/controller.js.hbs
  packages/generators/generators/lib/templates/js/core-controller.js.hbs
  packages/generators/generators/lib/templates/js/core-router.js.hbs
  packages/generators/generators/lib/templates/js/core-service.js.hbs
  packages/generators/generators/lib/templates/js/middleware.js.hbs
  packages/generators/generators/lib/templates/js/policy.js.hbs
  packages/generators/generators/lib/templates/js/service.js.hbs
  packages/generators/generators/lib/templates/js/single-route.js.hbs
  packages/generators/generators/lib/templates/js/single-type-routes.js.hbs
  packages/generators/generators/lib/templates/ts/collection-type-routes.ts.hbs
  packages/generators/generators/lib/templates/ts/controller.ts.hbs
  packages/generators/generators/lib/templates/ts/core-controller.ts.hbs
  packages/generators/generators/lib/templates/ts/core-router.ts.hbs
  packages/generators/generators/lib/templates/ts/core-service.ts.hbs
  packages/generators/generators/lib/templates/ts/middleware.ts.hbs
  packages/generators/generators/lib/templates/ts/policy.ts.hbs
  packages/generators/generators/lib/templates/ts/service.ts.hbs
  packages/generators/generators/lib/templates/ts/single-route.ts.hbs
  packages/generators/generators/lib/templates/ts/single-type-routes.ts.hbs
  packages/plugins/users-permissions/server/services/providers.js
Labels: source: core:strapi, pr: chore

#14112 Setup timeout for logo update page due to slow image fetching
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/index.test.js
Labels: source: tooling, pr: chore

#13962 Require Node >=14, <=16 to install Strapi
  packages/generators/app/lib/resources/json/common/package.json.js
  packages/generators/app/lib/utils/check-requirements.js
  packages/generators/app/package.json
  packages/generators/generators/lib/templates/ts/plugin-package.json.hbs
Labels: source: cli, pr: fix

#14078 Fix typescript plugin generation
  packages/generators/generators/lib/files/ts/plugin/server/bootstrap.ts
  packages/generators/generators/lib/files/ts/plugin/server/controllers/my-controller.ts.hbs
  packages/generators/generators/lib/files/ts/plugin/server/destroy.ts
  packages/generators/generators/lib/files/ts/plugin/server/register.ts
  packages/generators/generators/lib/files/ts/plugin/server/services/my-service.ts
  packages/generators/generators/lib/templates/ts/middleware.ts.hbs
  packages/generators/generators/lib/templates/ts/plugin-package.json.hbs
Labels: pr: fix, source: typescript

#14095 Completed the (fr) French locale for the i18n plugin
  packages/plugins/i18n/admin/src/translations/fr.json
Labels: source: plugin:i18n, pr: chore

#14119 Chore: Ignore process.exit eslint warnings
  .eslintrc.back.js
Labels: source: tooling, pr: chore

#14093 Fix new typescript projects with special characters in path
  packages/generators/app/lib/resources/json/ts/tsconfig-server.json.js
Labels: pr: fix, source: typescript

#14118 Automated nightly releases
  .github/workflows/nightly.yml
  package.json
  scripts/pre-publish.sh
  yarn.lock
Labels: source: tooling, pr: chore

#14147 Add Nightly Release build status badge
  README.md
Labels: source: docs, pr: chore

#14111 [Fix] Dynamic table translations
  packages/core/admin/admin/src/content-manager/components/DynamicTable/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/utils/tableHeaders.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/utils/tableHeaders.js
  packages/core/admin/admin/src/translations/ca.json
  packages/core/admin/admin/src/translations/de.json
  packages/core/admin/admin/src/translations/dk.json
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/es.json
  packages/core/admin/admin/src/translations/fr.json
  packages/core/admin/admin/src/translations/gu.json
  packages/core/admin/admin/src/translations/he.json
  packages/core/admin/admin/src/translations/hi.json
  packages/core/admin/admin/src/translations/hu.json
  packages/core/admin/admin/src/translations/id.json
  packages/core/admin/admin/src/translations/it.json
  packages/core/admin/admin/src/translations/ja.json
  packages/core/admin/admin/src/translations/ko.json
  packages/core/admin/admin/src/translations/ml.json
  packages/core/admin/admin/src/translations/nl.json
  packages/core/admin/admin/src/translations/no.json
  packages/core/admin/admin/src/translations/pl.json
  packages/core/admin/admin/src/translations/pt-BR.json
  packages/core/admin/admin/src/translations/ru.json
  packages/core/admin/admin/src/translations/sa.json
  packages/core/admin/admin/src/translations/sk.json
  packages/core/admin/admin/src/translations/th.json
  packages/core/admin/admin/src/translations/zh-Hans.json
  packages/core/admin/admin/src/translations/zh.json
  packages/core/helper-plugin/lib/src/components/DynamicTable/TableHead/index.js
Labels: source: core:admin, pr: enhancement

#14109 Add coverage script in the admin
  packages/core/admin/jest.config.front.js
  packages/core/admin/package.json
  packages/core/helper-plugin/jest.config.front.js
  packages/core/helper-plugin/package.json
Labels: source: core:admin, pr: chore

#13458 fix #13453 Documentation Plugin doesn't generate Proper Type for the …
  packages/plugins/documentation/server/services/helpers/build-component-schema.js
  packages/plugins/documentation/server/services/helpers/utils/clean-schema-attributes.js
Labels: source: plugin:documentation, pr: fix

#14175 chore: Fix some test errors
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationSingle/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationSingle/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/AddComponentButton/tests/index.test.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/upload/admin/src/components/Breadcrumbs/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/Breadcrumbs/tests/index.test.js
  packages/core/upload/admin/src/constants.js
  packages/core/upload/admin/src/hooks/__mocks__/useFolder.js
  packages/core/upload/admin/src/pages/App/tests/Header.test.js
Labels: source: tooling, pr: chore

#14179 Documentation: Fix eslint errors
  packages/plugins/documentation/server/services/helpers/build-component-schema.js
  packages/plugins/documentation/server/services/helpers/utils/clean-schema-attributes.js
Labels: source: plugin:documentation, pr: fix

#14061 Fix service typings
  packages/core/strapi/lib/core-api/service/index.d.ts
  packages/core/strapi/lib/types/core/strapi/index.d.ts
  packages/core/strapi/lib/types/factories.d.ts
Labels: pr: fix, source: typescript

#14177 chore: Fix and simplify LocaleSelect tests
  packages/plugins/i18n/admin/src/components/LocaleSelect/tests/LocaleSelect.test.js
  packages/plugins/i18n/admin/src/components/LocaleSelect/tests/__snapshots__/LocaleSelect.test.js.snap
  packages/plugins/i18n/admin/src/components/LocaleSelect/tests/server.js
Labels: source: tooling, pr: fix

#13872 Add tracking property for os.arch() to Amplitude / Sentry (project creation)
  packages/generators/app/lib/index.js
  packages/generators/app/lib/utils/usage.js
Labels: source: tooling, pr: enhancement

#14182 CM: Fix test errors for EditSettingsView
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/index.test.js
Labels: source: tooling, pr: fix

#14100 Update pt-BR translation
  packages/core/admin/admin/src/translations/pt-BR.json
  packages/core/content-type-builder/admin/src/translations/pt-BR.json
Labels: source: core:admin, pr: enhancement

#14115 Update es.json
  packages/core/admin/admin/src/translations/es.json
  packages/core/upload/admin/src/translations/es.json
Labels: source: core:admin, pr: enhancement

#13994 show language code
  packages/plugins/i18n/admin/src/components/ModalEdit/BaseForm.js
Labels: source: plugin:i18n, pr: fix

#14116 Add missing swedish core admin translations
  packages/core/admin/admin/src/translations/sv.json
Labels: source: core:admin, pr: enhancement

#14176 Fix primary button size on API Tokens List and Edit views
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
Labels: source: core:admin, pr: feature

#13597 Allow to pass `step` to datetime/time fields
  packages/core/admin/admin/src/content-manager/components/Inputs/index.js
  packages/core/admin/admin/src/content-manager/components/Inputs/utils/getStep.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/ModalForm.js
  packages/core/content-manager/server/controllers/validation/model-configuration.js
Labels: source: core:content-type-builder, pr: enhancement

#14133 Add shadow to the Permissions container and close the Accordion if an…
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/CollapsableContentType/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/ContenTypesSection/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/Permissions/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
Labels: source: core:admin, pr: enhancement

#14198 Loading a plugin should always verify its presence
  packages/core/strapi/lib/middlewares/body.js
  packages/core/strapi/lib/middlewares/security.js
Labels: source: core:strapi, pr: fix

#14206 0 values are not handled correctly in relations
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationSingle/index.js
  packages/core/admin/admin/src/content-manager/components/SelectOne/SingleValue.js
  packages/core/admin/admin/src/content-manager/components/SelectWrapper/Option.js
Labels: source: core:content-manager, pr: fix

#14227 Docs: Expand on how to use e2e snapshot tests with jest arguments
  CONTRIBUTING.md
Labels: source: tooling, pr: doc

#14231 [FE] Integrate the BE to Save a Token in Creation and Update
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/utils/schema.js
Labels: source: core:admin, pr: feature

#14201 Limit the amount of GitHub Actions time consumed by tests
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#13720 Add primary keys to relational table
  packages/core/database/lib/dialects/dialect.js
  packages/core/database/lib/dialects/sqlite/index.js
  packages/core/database/lib/metadata/relations.js
  packages/core/database/lib/schema/builder.js
Labels: source: core:database, pr: fix

#14174 Change notification message when we successfully save a created or edited token
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: feature

#14108 Add last activity column in the API tokens list
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/DynamicTable/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/utils/tableHeaders.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: feature

#14180 RBAC on API tokens settings access
  packages/core/admin/admin/src/permissions/defaultPermissions.js
  packages/core/admin/server/config/admin-actions.js
  packages/core/admin/server/tests/admin-permission.test.e2e.js
Labels: source: core:admin, pr: feature

#14178 CM: Fix test errors in ListSettingsView
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/index.test.js
Labels: source: tooling, pr: fix

#14241 Chore: Bump @strapi/design-system to 1.2.2
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/package.json
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/pages/App/tests/__snapshots__/Header.test.js.snap
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
  yarn.lock
Labels: source: core:admin, pr: chore

#14195 Make all settings header primary actions small
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/index.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ListPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/ListPage/index.js
  packages/core/upload/admin/src/pages/SettingsPage/index.js
  packages/core/upload/admin/src/pages/SettingsPage/tests/index.test.js
  packages/plugins/i18n/admin/src/components/LocaleList/index.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/index.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/index.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/tests/index.test.js
Labels: source: core:admin, pr: enhancement

#14124 Allow the use of 'true', 't', 'false', 'f', '1', '0' in addition to '*' when populating a field in REST API
  packages/core/strapi/tests/api/populate/filtering/index.test.e2e.js
  packages/core/utils/lib/convert-query-params.js
Labels: source: core:strapi, pr: enhancement

#14252 Run nightlies only on our repo
  .github/workflows/nightly.yml
Labels: source: tooling, pr: chore

#14260 Update upload plugin catalan translation
  packages/core/upload/admin/src/translations/ca.json
Labels: source: core:admin, pr: enhancement

#14221 chore: Update jest packages to v29
  jest.base-config.front.js
  package.json
  packages/core/admin/server/tests/admin-permission.test.e2e.js
  packages/core/content-manager/server/services/utils/configuration/__tests__/settings.test.js
  packages/core/content-type-builder/server/services/__tests__/__snapshots__/content-types.test.js.snap
  packages/core/content-type-builder/tests/__snapshots__/collection-type.test.e2e.js.snap
  packages/core/content-type-builder/tests/__snapshots__/single-type.test.e2e.js.snap
  packages/core/upload/admin/src/components/SelectTree/tests/__snapshots__/SelectTree.test.js.snap
  packages/core/upload/admin/src/components/SelectTree/utils/tests/__snapshots__/flattenTree.test.js.snap
  packages/core/upload/server/services/__tests__/metrics.js
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
  yarn.lock
Labels: source: tooling, pr: fix

#14246 [Enh] ReactSelect loading state
  packages/core/admin/admin/src/content-manager/components/SelectMany/index.js
  packages/core/admin/admin/src/content-manager/components/SelectOne/index.js
  packages/core/admin/admin/src/content-manager/components/SelectWrapper/index.js
  packages/core/helper-plugin/lib/src/components/ReactSelect/ReactSelect.js
Labels: source: core:helper-plugin, pr: enhancement

#14190 Update metadata casing and structure
  packages/core/strapi/lib/services/metrics/sender.js
  packages/generators/app/lib/index.js
  packages/generators/app/lib/utils/usage.js
Labels: source: tooling, pr: fix
