Repository strapi/strapi, pull requests merged in 2023-03, with the labels that each got.

#15916 chore: update zh-Hans translation
  packages/core/admin/admin/src/translations/zh-Hans.json
  packages/core/content-type-builder/admin/src/translations/zh-Hans.json
  packages/core/upload/admin/src/pages/App/MediaLibrary/index.js
  packages/core/upload/admin/src/translations/zh-Hans.json
Labels: source: core:admin, pr: chore

#15958 [Fix] typo when returning a component category
  packages/core/content-manager/server/services/__tests__/components.test.js
  packages/core/content-manager/server/services/components.js
Labels: source: core:content-manager, pr: fix

#15962 Fix license seat undefined blocking user creation
  packages/core/admin/ee/admin/hooks/useLicenseLimitNotification/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/ListPage/CreateAction/index.js
  packages/core/admin/ee/server/controllers/admin.js
  packages/core/admin/ee/server/controllers/user.js
  packages/core/admin/ee/server/services/seat-enforcement.js
Labels: source: core:strapi, pr: fix

#15950 [enhancement]: Improve remove password sanitization performance
  packages/core/utils/lib/content-types.js
Labels: source: core:utils, pr: enhancement

#15878 [Test] - API private url signing
  packages/core/upload/tests/admin/private-file-signing.test.api.js
Labels: source: core:upload, pr: enhancement

#15968 chore: Add all undeclared packages to package.json
  examples/getstarted/package.json
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/Editor.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/utils/continueList.js
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#15984 Alignment should be center not flex-start
  packages/core/admin/admin/src/content-manager/components/ComponentInitializer/index.js
Labels: source: core:content-manager, pr: fix

#15900 [Relations]: solve swapping entity ids without unmounting components
  docs/docs/core/content-manager/relations.mdx
  examples/getstarted/src/api/category/content-types/category/schema.json
  examples/getstarted/src/api/relation-locale/content-types/relation-locale/schema.json
  examples/getstarted/src/api/relation-locale/controllers/relation-locale.js
  examples/getstarted/src/api/relation-locale/routes/relation-locale.js
  examples/getstarted/src/api/relation-locale/services/relation-locale.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/RelationInput.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/RelationInputDataManager.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/tests/RelationInputDataManger.test.js
  packages/core/admin/admin/src/content-manager/hooks/useRelation/tests/useRelation.test.js
  packages/core/admin/admin/src/content-manager/hooks/useRelation/useRelation.js
Labels: source: plugin:i18n, pr: fix

#15976 Fix invalid require using internal paths
  packages/core/admin/server/controllers/api-token.js
  packages/core/admin/server/controllers/transfer/runner.js
  packages/core/admin/server/services/__tests__/api-token.test.js
  packages/core/admin/server/services/__tests__/transfer/token.test.js
  packages/core/admin/server/strategies/__tests__/api-token.test.js
  packages/core/admin/server/strategies/data-transfer.js
  packages/core/data-transfer/src/engine/index.ts
  packages/core/email/server/services/email.js
  packages/core/strapi/lib/commands/__tests__/data-transfer/export.test.js
  packages/core/strapi/lib/commands/__tests__/data-transfer/import.test.js
  packages/core/strapi/lib/commands/__tests__/data-transfer/transfer.test.js
  packages/core/strapi/lib/commands/transfer/export.js
  packages/core/strapi/lib/commands/transfer/import.js
  packages/core/strapi/lib/commands/transfer/transfer.js
  packages/core/strapi/lib/commands/transfer/utils.js
  packages/core/strapi/lib/services/entity-validator/__tests__/biginteger-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/date-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/datetime-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/email-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/enumeration-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/float-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/integer-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/string-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/time-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/timestamp-validators.test.js
  packages/core/strapi/lib/services/entity-validator/__tests__/uid-validators.test.js
Labels: source: core:strapi, pr: chore

#15949 Fix some eu traslations removing dots
  packages/core/admin/admin/src/translations/eu.json
Labels: source: core:admin, pr: enhancement

#16002 [Fix]: Media validator
  packages/core/strapi/lib/services/entity-validator/index.js
  packages/core/strapi/tests/api/basic-media.test.api.js
Labels: source: core:strapi, pr: fix

#16013 Prevent url issues in the useFetchClient
  docs/docs/core/helper-plugin/hooks/use-fetch-client.mdx
Labels: source: core:helper-plugin, pr: doc

#16018 Check Mime or Ext are not nullish in useAsset hook
  packages/core/upload/admin/src/hooks/tests/useAssets.test.js
  packages/core/upload/admin/src/hooks/useAssets.js
Labels: source: core:upload, pr: fix

#16017 Replace spacing with gap
  packages/core/admin/admin/src/content-manager/components/NonRepeatableComponent/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/GlobalActions/index.js
Labels: source: core:content-manager, pr: fix

#15587 add ability to list and remove cron jobs
  packages/core/strapi/lib/services/cron.js
Labels: source: core:strapi, pr: enhancement

#15877 make id arg required in singular content type graphql request
  packages/plugins/graphql/server/services/builders/utils.js
Labels: source: plugin:graphql, pr: fix

#15980 Only run FE unit on 18 & run build in matrix
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#15395 update: Added migration generate with CLI
  packages/generators/generators/lib/plopfile.js
  packages/generators/generators/lib/plops/migration.js
  packages/generators/generators/lib/plops/utils/get-formatted-date.js
  packages/generators/generators/lib/plops/utils/validate-file-name-input.js
  packages/generators/generators/lib/templates/js/migration.js.hbs
  packages/generators/generators/lib/templates/ts/migration.ts.hbs
Labels: source: cli, pr: enhancement

#15974 [Data transfer] aborting prompts displays as error
  packages/core/strapi/bin/strapi.js
  packages/core/strapi/lib/commands/utils/commander.js
Labels: pr: enhancement, source: core:data-transfer

#16029 Fix Warning: Each child in a list should have a unique "key" prop in AssetGridList
  packages/core/upload/admin/src/components/AssetGridList/index.js
Labels: source: core:upload, pr: fix

#16020 refactor(review-workflows): use knex for raw sql query
  packages/core/admin/ee/server/services/review-workflows/review-workflows.js
  packages/core/admin/ee/server/tests/review-workflows.test.api.js
Labels: pr: enhancement

#15975 feat(review-workflows): add stage attribute in entities
  examples/getstarted/src/api/address/content-types/address/schema.json
  packages/core/admin/ee/server/constants/workflows.js
  packages/core/admin/ee/server/content-types/workflow-stage/index.js
  packages/core/admin/ee/server/middlewares/__tests__/review-workflows.test.js
  packages/core/admin/ee/server/middlewares/review-workflows.js
  packages/core/admin/ee/server/register.js
  packages/core/admin/ee/server/services/__tests__/review-workflows.test.js
  packages/core/admin/ee/server/services/review-workflows/review-workflows.js
  packages/core/admin/ee/server/tests/review-workflows.test.api.js
  packages/core/database/lib/entity-manager/entity-repository.js
Labels: pr: feature, source: core:review-workflows

#16032 [Data transfer] Add transfer command filters
  packages/core/strapi/lib/commands/transfer/export.js
  packages/core/strapi/lib/commands/transfer/import.js
  packages/core/strapi/lib/commands/transfer/transfer.js
Labels: source: core:data-transfer

#15649 CTB: Add checkbox to toggle review workflows for a content-type
  packages/core/admin/ee/admin/pages/SettingsPage/utils/customRoutes.js
  packages/core/content-type-builder/admin/src/components/FormModal/contentType/form.js
  packages/core/content-type-builder/admin/src/components/FormModal/index.js
  packages/core/content-type-builder/admin/src/components/ReviewWorkflowsToggle/index.js
  packages/core/content-type-builder/admin/src/translations/en.json
Labels: source: core:review-workflows

#15981 [Data transfer] Handle signals to gracefully interrupt an ongoing transfer
  packages/core/data-transfer/src/engine/__tests__/engine.test.ts
  packages/core/data-transfer/src/engine/index.ts
  packages/core/strapi/bin/strapi.js
  packages/core/strapi/lib/commands/__tests__/data-transfer/export.test.js
  packages/core/strapi/lib/commands/__tests__/data-transfer/import.test.js
  packages/core/strapi/lib/commands/__tests__/data-transfer/transfer.test.js
  packages/core/strapi/lib/commands/transfer/export.js
  packages/core/strapi/lib/commands/transfer/import.js
  packages/core/strapi/lib/commands/transfer/transfer.js
  packages/core/strapi/lib/commands/transfer/utils.js
Labels: pr: enhancement, source: core:data-transfer

#15778 Fix non required json input being set to 'null' instead of null
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/schema.js
  packages/core/admin/admin/src/content-manager/utils/createDefaultForm.js
  packages/core/admin/admin/src/content-manager/utils/tests/createDefaultForm.test.js
  packages/core/helper-plugin/lib/src/components/GenericInput/index.js
Labels: source: core:content-manager, pr: fix

#16033 Disabled property for JSONInput (GenericInput)
  packages/core/helper-plugin/lib/src/components/GenericInput/index.js
Labels: source: core:content-manager, pr: fix

#16060 [Fix] CTB return private config on media types
  packages/core/content-type-builder/server/utils/attributes.js
Labels: source: core:content-type-builder, pr: fix

#16036 Update zh-Hans.json to catch up latest en.json
  packages/core/admin/admin/src/translations/zh-Hans.json
Labels: source: core:admin, pr: enhancement

#15966 Add oneOf env helper for union values
  packages/core/utils/lib/__tests__/env-helper.test.js
  packages/core/utils/lib/env-helper.js
Labels: source: core:utils, pr: enhancement

#16037 Error handling for timeout in transfer
  packages/core/data-transfer/src/strapi/providers/remote-destination/index.ts
Labels: pr: fix, source: core:data-transfer

#16054 Fix documentation plugin tests
  packages/plugins/documentation/__mocks__/strapi.js
  packages/plugins/documentation/__tests__/build-component-schema.test.js
  packages/plugins/documentation/jest.config.js
  packages/plugins/documentation/package.json
  packages/plugins/documentation/server/services/__mocks__/mock-content-types.js
  packages/plugins/documentation/server/services/__mocks__/mock-strapi-data.js
  packages/plugins/documentation/server/services/__tests__/build-component-schema.test.js
  packages/plugins/documentation/server/services/__tests__/documentation.test.js
  packages/plugins/documentation/server/services/documentation.js
  packages/plugins/documentation/server/services/helpers/build-component-schema.js
  packages/plugins/documentation/server/services/helpers/utils/clean-schema-attributes.js
  packages/plugins/documentation/server/services/helpers/utils/loop-content-type-names.js
  yarn.lock
Labels: source: plugin:documentation, pr: fix

#16022 Fix invalid openapi schema override
  packages/plugins/documentation/__mocks__/strapi.js
  packages/plugins/documentation/__tests__/build-component-schema.test.js
  packages/plugins/documentation/jest.config.js
  packages/plugins/documentation/package.json
  packages/plugins/documentation/server/config/default-plugin-config.js
  packages/plugins/documentation/server/services/__mocks__/mock-content-types.js
  packages/plugins/documentation/server/services/__mocks__/mock-strapi-data.js
  packages/plugins/documentation/server/services/__tests__/build-component-schema.test.js
  packages/plugins/documentation/server/services/__tests__/documentation.test.js
  packages/plugins/documentation/server/services/documentation.js
  packages/plugins/documentation/server/services/helpers/build-component-schema.js
  packages/plugins/documentation/server/services/helpers/utils/clean-schema-attributes.js
  packages/plugins/documentation/server/services/helpers/utils/loop-content-type-names.js
  packages/plugins/users-permissions/documentation/content-api.yaml
  yarn.lock
Labels: source: plugin:users-permissions, pr: fix

#16081 [Fix]: add links for database docs
  docs/sidebars.js
Labels: source: docs, pr: fix

#16076 Update zh-Hans translation to match latest en.json
  packages/plugins/users-permissions/admin/src/translations/zh-Hans.json
Labels: source: plugin:users-permissions, pr: enhancement

#16061 Different field types with the same name break CM EditView
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/reducer.test.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/findAllAndReplace.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/findLeafByPathAndReplace.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/recursivelyFindPathsBasedOnCondition.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/tests/findAllAndReplace.test.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/tests/findLeafByPathAndReplace.test.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/tests/recursivelyFindPathsBasedOnCondition.test.js
  packages/core/content-manager/server/services/utils/__tests__/populate.test.js
  packages/core/content-manager/server/services/utils/populate.js
Labels: source: core:content-manager, pr: fix

#16085 ContentTypeBuilderNav: Fix plus icon size
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/index.js
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.js.snap
Labels: source: core:content-type-builder, pr: fix

#16096 Fix invalid action mapping using unknow action
  packages/core/admin/server/controllers/__tests__/user.test.js
  packages/core/admin/server/tests/admin-user.test.api.js
  packages/core/content-manager/server/controllers/__tests__/single-types.test.js
  packages/core/content-manager/server/services/permission-checker.js
  packages/core/strapi/tests/api/fields/fields.test.api.js
  packages/plugins/graphql/server/services/builders/utils.js
Labels: source: core:strapi, pr: fix

#16025 [Data Transfer] Pull
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/TokenTypeSelect/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/components/FormTransferTokenContainer/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/utils/schema.js
  packages/core/admin/server/controllers/transfer/runner.js
  packages/core/admin/server/routes/transfer.js
  packages/core/admin/server/services/constants.js
  packages/core/admin/server/services/transfer/permission.js
  packages/core/admin/server/services/transfer/token.js
  packages/core/admin/server/tests/admin-transfer-token-crud.test.api.js
  packages/core/admin/server/validation/transfer/token.js
  packages/core/data-transfer/src/strapi/providers/index.ts
  packages/core/data-transfer/src/strapi/providers/remote-destination/__tests__/index.test.ts
  packages/core/data-transfer/src/strapi/providers/remote-destination/__tests__/utils.test.ts
  packages/core/data-transfer/src/strapi/providers/remote-destination/index.ts
  packages/core/data-transfer/src/strapi/providers/remote-source/index.ts
  packages/core/data-transfer/src/strapi/providers/utils.ts
  packages/core/data-transfer/src/strapi/remote/constants.ts
  packages/core/data-transfer/src/strapi/remote/controllers/index.ts
  packages/core/data-transfer/src/strapi/remote/controllers/push.ts
  packages/core/data-transfer/src/strapi/remote/flows/index.ts
  packages/core/data-transfer/src/strapi/remote/handlers.ts
  packages/core/data-transfer/src/strapi/remote/handlers/abstract.ts
  packages/core/data-transfer/src/strapi/remote/handlers/constants.ts
  packages/core/data-transfer/src/strapi/remote/handlers/index.ts
  packages/core/data-transfer/src/strapi/remote/handlers/pull.ts
  packages/core/data-transfer/src/strapi/remote/handlers/push.ts
  packages/core/data-transfer/src/strapi/remote/handlers/utils.ts
  packages/core/data-transfer/src/strapi/remote/index.ts
  packages/core/data-transfer/types/remote/index.d.ts
  packages/core/data-transfer/types/remote/protocol/client/commands.d.ts
  packages/core/data-transfer/types/remote/protocol/client/transfer/pull.d.ts
  packages/core/strapi/lib/commands/transfer/transfer.js
Labels: pr: enhancement, source: core:data-transfer

#16109 Fix broken populate traversal with no fragment
  packages/core/strapi/tests/api/sanitize/resources/fixtures/document.js
  packages/core/strapi/tests/api/sanitize/resources/schemas/component-b.js
  packages/core/strapi/tests/api/sanitize/resources/schemas/document.js
  packages/core/strapi/tests/api/sanitize/resources/schemas/index.js
  packages/core/strapi/tests/api/sanitize/sanitize-query.test.api.js
  packages/core/utils/lib/traverse/query-populate.js
Labels: source: core:strapi, pr: fix

#16112 [Fix] add published at attribute to be filterable and sortable
  packages/core/admin/server/services/permission/permissions-manager/sanitize.js
Labels: source: plugin:users-permissions, pr: fix

#16074 Fix plugins generating documentation the user doesn't want
  packages/plugins/documentation/server/config/default-plugin-config.js
  packages/plugins/documentation/server/services/__tests__/documentation.test.js
  packages/plugins/documentation/server/services/documentation.js
  packages/plugins/documentation/server/services/utils/default-openapi-components.js
  packages/plugins/users-permissions/server/register.js
Labels: source: plugin:documentation, pr: fix

#16123 Add Eventyret to support team automation
  .github/workflows/issues_handleLabel.yml
Labels: source: tooling, pr: chore

#15029 fix typo in examples
  examples/kitchensink/src/admin/app.example.js
  examples/kitchensink/src/admin/app.js
Labels: source: core:strapi, pr: fix

#16084 Persist DB tables for EE features
  packages/core/admin/ee/server/bootstrap.js
  packages/core/admin/ee/server/utils/persisted-tables.js
  packages/core/database/lib/schema/__tests__/schema-diff.test.js
  packages/core/database/lib/schema/diff.js
  packages/core/database/lib/schema/index.js
Labels: source: core:database, pr: feature

#13040 Add baseUrl and rootPath properties to upload-aws-s3 plugin's configuration
  packages/providers/upload-aws-s3/README.md
  packages/providers/upload-aws-s3/lib/__tests__/upload-aws-s3.test.js
  packages/providers/upload-aws-s3/lib/index.js
Labels: source: core:upload, pr: enhancement

#16108 Remove subscriptions-transport-ws package from graphql plugin
  packages/plugins/graphql/package.json
  packages/plugins/graphql/server/bootstrap.js
  yarn.lock
Labels: source: plugin:graphql, pr: enhancement

#16086 test(upload-local): make sure file url is always relative
  packages/providers/upload-local/jest.config.js
  packages/providers/upload-local/lib/__tests__/upload-local.test.js
  packages/providers/upload-local/lib/index.js
Labels: source: core:upload, pr: enhancement

#16156 fix(core upload): add missing FR translations (signed)
  packages/core/upload/admin/src/translations/fr.json
Labels: source: core:upload, pr: chore

#14269 Return newly created IDs when using createMany
  packages/core/database/lib/entity-manager/index.js
  packages/core/database/tests/db.test.api.js
Labels: source: core:database, pr: enhancement

#16141 InputUID: Hide re-generate button when field is disabled
  packages/core/admin/admin/src/content-manager/components/InputUID/endActionStyle.js
  packages/core/admin/admin/src/content-manager/components/InputUID/index.js
  packages/core/admin/admin/src/content-manager/components/InputUID/tests/index.test.js
Labels: source: core:content-manager, pr: enhancement

#16158 Single components should not populate if they're not required
  examples/getstarted/src/api/relation-locale/content-types/relation-locale/schema.json
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/reducer.test.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/findAllAndReplace.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/tests/findAllAndReplace.test.js
Labels: source: core:content-manager, pr: fix

#16165 [Data transfer] Confirm delete of local data on 'pull' transfer
  packages/core/strapi/bin/strapi.js
Labels: pr: fix, source: core:data-transfer

#16026 feature(i18n): add Asturian locale
  packages/plugins/i18n/server/constants/iso-locales.json
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
Labels: source: core:admin, pr: enhancement

#16187 Nx config improvements
  .github/workflows/tests.yml
  .nxignore
  nx.json
  packages/core/data-transfer/.eslintignore
  packages/core/data-transfer/.gitignore
  packages/core/data-transfer/package.json
  packages/core/data-transfer/tsconfig.json
  packages/utils/logger/.eslintignore
  packages/utils/logger/.gitignore
  packages/utils/logger/package.json
  packages/utils/logger/project.json
  packages/utils/logger/tsconfig.json
Labels: source: tooling, pr: chore

#16194 Run build:ts before unit-test back
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#14456 Fix core router not working within plugin context
  examples/getstarted/src/plugins/myplugin/server/routes.js
  examples/getstarted/src/plugins/myplugin/strapi-server.js
  packages/core/strapi/lib/core/loaders/plugins/index.js
  packages/core/strapi/lib/factories.js
  packages/core/strapi/lib/services/server/register-routes.js
Labels: source: core:strapi, pr: fix

#16199 Fix types export in `@strapi/logger`
  packages/utils/logger/package.json
Labels: source: core:utils, pr: fix

#15773 [Feature]: Private S3 bucket provider
  docs/docs/core/upload/backend/providers/intro.md
  docs/docs/core/upload/intro.md
  packages/core/content-manager/server/services/entity-manager.js
  packages/core/strapi/lib/services/metrics/index.js
  packages/core/upload/admin/src/components/AssetCard/ImageAssetCard.js
  packages/core/upload/admin/src/components/AssetCard/tests/ImageAssetCard.test.js
  packages/core/upload/admin/src/components/AssetGridList/tests/__snapshots__/AssetGridList.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/EditAssetDialog.test.js
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/index.test.js
  packages/core/upload/admin/src/utils/createAssetUrl.js
  packages/core/upload/server/__tests__/bootstrap.test.js
  packages/core/upload/server/__tests__/register.test.js
  packages/core/upload/server/bootstrap.js
  packages/core/upload/server/controllers/admin-file.js
  packages/core/upload/server/controllers/admin-upload.js
  packages/core/upload/server/register.js
  packages/core/upload/server/services/__tests__/metrics.js
  packages/core/upload/server/services/extensions/content-manager/__tests__/entity-manager.test.js
  packages/core/upload/server/services/extensions/content-manager/entity-manager.js
  packages/core/upload/server/services/extensions/content-manager/index.js
  packages/core/upload/server/services/extensions/index.js
  packages/core/upload/server/services/file.js
  packages/core/upload/server/services/index.js
  packages/core/upload/server/services/metrics/index.js
  packages/core/upload/server/services/metrics/weekly-metrics.js
  packages/core/upload/tests/admin/private-file-signing.test.api.js
  packages/providers/upload-aws-s3/README.md
  packages/providers/upload-aws-s3/lib/__tests__/getBucketFromUrl.test.js
  packages/providers/upload-aws-s3/lib/index.js
  packages/providers/upload-aws-s3/lib/utils.js
Labels: source: core:upload, pr: feature

#16177 Auth: Trim whitespace from fields
  packages/core/admin/admin/src/components/LocalesProvider/__mocks__/useLocalesProvider.js
  packages/core/admin/admin/src/hooks/useConfigurations/__mocks__/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
Labels: source: core:admin, pr: fix

#16064 fix(logger): remove request status code coloring
  packages/core/strapi/lib/middlewares/logger.js
Labels: source: core:strapi, pr: enhancement

#15971 Fix error handling for transfer websocket connection
  packages/core/data-transfer/src/strapi/providers/remote-destination/__tests__/index.test.ts
  packages/core/data-transfer/src/strapi/providers/remote-destination/index.ts
Labels: pr: fix, source: core:data-transfer

#16124 Use Yarn3
  .gitattributes
  .github/actions/check-pr-status/dist/index.js
  .github/actions/check-pr-status/yarn.lock
  .github/actions/run-api-tests/script.sh
  .github/actions/security/lockfile/script.sh
  .github/workflows/adminBundleSize.yml
  .github/workflows/checks.yml
  .github/workflows/contributor-doc.yml
  .github/workflows/tests.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  lerna.json
  package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/strapi/package.json
  packages/utils/babel-plugin-switch-ee-ce/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/tsconfig/package.json
  yarn.lock
Labels: source: dependencies, pr: enhancement

#16145 Persist RW db tables when feature is enabled
  packages/core/admin/ee/server/bootstrap.js
Labels: pr: enhancement

#16229 Skip cache on `build:ts` in CI
  .github/actions/run-api-tests/script.sh
  .github/workflows/tests.yml
  vercel.json
Labels: source: tooling, pr: fix

#16129 fix: use default postgres port for fallback
  packages/generators/app/lib/resources/templates/database-templates/ts/database.template
Labels: pr: fix, source: generators:app

#16006 [Data Transfer] Add Pull feature to data transfer
  packages/core/admin/admin/src/hooks/useRegenerate/index.js
  packages/core/admin/admin/src/hooks/useRegenerate/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/FormHead/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/Regenerate/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/TokenTypeSelect/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/components/FormTransferTokenContainer/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/utils/schema.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/ListView/index.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/server/controllers/transfer/runner.js
  packages/core/admin/server/middlewares/data-transfer.js
  packages/core/admin/server/routes/transfer.js
  packages/core/admin/server/services/constants.js
  packages/core/admin/server/services/transfer/permission.js
  packages/core/admin/server/services/transfer/token.js
  packages/core/admin/server/tests/admin-transfer-token-crud.test.api.js
  packages/core/admin/server/validation/transfer/token.js
  packages/core/data-transfer/src/engine/__tests__/engine.test.ts
  packages/core/data-transfer/src/engine/index.ts
  packages/core/data-transfer/src/strapi/providers/index.ts
  packages/core/data-transfer/src/strapi/providers/remote-destination/__tests__/index.test.ts
  packages/core/data-transfer/src/strapi/providers/remote-destination/__tests__/utils.test.ts
  packages/core/data-transfer/src/strapi/providers/remote-destination/index.ts
  packages/core/data-transfer/src/strapi/providers/remote-source/index.ts
  packages/core/data-transfer/src/strapi/providers/utils.ts
  packages/core/data-transfer/src/strapi/remote/constants.ts
  packages/core/data-transfer/src/strapi/remote/controllers/index.ts
  packages/core/data-transfer/src/strapi/remote/controllers/push.ts
  packages/core/data-transfer/src/strapi/remote/flows/index.ts
  packages/core/data-transfer/src/strapi/remote/handlers.ts
  packages/core/data-transfer/src/strapi/remote/handlers/abstract.ts
  packages/core/data-transfer/src/strapi/remote/handlers/constants.ts
  packages/core/data-transfer/src/strapi/remote/handlers/index.ts
  packages/core/data-transfer/src/strapi/remote/handlers/pull.ts
  packages/core/data-transfer/src/strapi/remote/handlers/push.ts
  packages/core/data-transfer/src/strapi/remote/handlers/utils.ts
  packages/core/data-transfer/src/strapi/remote/index.ts
  packages/core/data-transfer/types/remote/index.d.ts
  packages/core/data-transfer/types/remote/protocol/client/commands.d.ts
  packages/core/data-transfer/types/remote/protocol/client/transfer/pull.d.ts
  packages/core/data-transfer/types/transfer-engine.d.ts
  packages/core/strapi/bin/strapi.js
  packages/core/strapi/lib/commands/__tests__/data-transfer/export.test.js
  packages/core/strapi/lib/commands/__tests__/data-transfer/import.test.js
  packages/core/strapi/lib/commands/__tests__/data-transfer/transfer.test.js
  packages/core/strapi/lib/commands/transfer/export.js
  packages/core/strapi/lib/commands/transfer/import.js
  packages/core/strapi/lib/commands/transfer/transfer.js
  packages/core/strapi/lib/commands/transfer/utils.js
  packages/core/strapi/lib/commands/utils/commander.js
Labels: pr: feature, source: core:data-transfer

#16234 TempKeys should be calculated based on Ids & TempKeys not array length
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/tests/InformationBoxEE.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/reducer/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/reducer/tests/index.test.js
Labels: source: core:content-manager, pr: fix

#16180 Add mysql2 as a db config client option
  .github/workflows/tests.yml
  examples/getstarted/config/database.js
  examples/getstarted/package.json
  packages/core/admin/server/tests/admin-api-token-crud.test.api.js
  packages/core/admin/server/tests/admin-transfer-token-crud.test.api.js
  packages/core/database/lib/dialects/index.js
  packages/generators/app/lib/resources/templates/database-templates/js/database.template
  packages/generators/app/lib/resources/templates/database-templates/mysql2.template
  packages/generators/app/lib/resources/templates/database-templates/ts/database.template
  packages/generators/app/lib/utils/db-client-dependencies.js
  test/api.js
  yarn.lock
Labels: source: core:database, pr: enhancement

#16238 [Data transfer] Allow trailing slash from admin url in remote transfer
  packages/core/data-transfer/src/strapi/providers/remote-destination/__tests__/index.test.ts
  packages/core/data-transfer/src/strapi/providers/remote-destination/index.ts
  packages/core/data-transfer/src/strapi/providers/remote-source/index.ts
  packages/core/data-transfer/src/strapi/providers/utils.ts
Labels: pr: fix, source: core:data-transfer

#16246 upgrade sharp to 0.32.0 to fix #16227
  packages/core/upload/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#16243 When deleting a stage move entities to the nearest available stage
  packages/core/admin/ee/server/controllers/workflows/stages/index.js
  packages/core/admin/ee/server/services/__tests__/stages.test.js
  packages/core/admin/ee/server/services/review-workflows/stages.js
  packages/core/admin/ee/server/tests/review-workflows.test.api.js
Labels: pr: fix, source: core:review-workflows
