Repository strapi/strapi, pull requests merged in 2023-11, with the labels that each got.

#18556 fix(blocks): first click on modifiers doesn't work
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useModifiersStore.js
Labels: source: core:content-manager, pr: fix

#18592 chore: remove extraneous editorconfigs
  examples/getstarted/.editorconfig
  examples/kitchensink-ts/.editorconfig
  examples/kitchensink/.editorconfig
  packages/core/admin/.editorconfig
  packages/core/content-manager/.editorconfig
  packages/core/content-type-builder/.editorconfig
  packages/core/database/.editorconfig
  packages/core/email/.editorconfig
  packages/core/permissions/.editorconfig
  packages/core/strapi/.editorconfig
  packages/core/types/.editorconfig
  packages/core/upload/.editorconfig
  packages/core/utils/.editorconfig
  packages/generators/app/.editorconfig
  packages/generators/generators/.editorconfig
  packages/generators/generators/src/files/js/plugin/.editorconfig
  packages/generators/generators/src/files/ts/plugin/.editorconfig
  packages/plugins/cloud/.editorconfig
  packages/plugins/color-picker/.editorconfig
  packages/plugins/graphql/.editorconfig
  packages/plugins/sentry/.editorconfig
  packages/plugins/users-permissions/.editorconfig
  packages/providers/audit-logs-local/.editorconfig
  packages/providers/email-amazon-ses/.editorconfig
  packages/providers/email-mailgun/.editorconfig
  packages/providers/email-nodemailer/.editorconfig
  packages/providers/email-sendgrid/.editorconfig
  packages/providers/email-sendmail/.editorconfig
  packages/providers/upload-aws-s3/.editorconfig
  packages/providers/upload-cloudinary/.editorconfig
  packages/providers/upload-local/.editorconfig
Labels: source: core:strapi, pr: chore

#18657 fix(core/admin): missing env utilities
  packages/core/admin/_internal/node/core/plugins.ts
Labels: source: core:admin, pr: fix

#18658 fix(admin): build pipeline & deps
  packages/core/admin/_internal/node/core/dependencies.ts
  packages/core/admin/_internal/node/core/plugins.ts
  packages/core/admin/_internal/node/staticFiles.ts
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/src/commands/data-transfer.ts
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/strapi/package.json
  packages/core/strapi/packup.config.ts
  packages/core/strapi/src/admin.ts
  packages/core/strapi/src/commands/actions/plugin/build-command/action.ts
  packages/core/upload/package.json
  packages/generators/generators/src/templates/js/plugin-package.json.hbs
  packages/generators/generators/src/templates/ts/plugin-package.json.hbs
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: fix

#18667 fix(admin): close webpack watch on reload
  packages/core/admin/_internal/node/develop.ts
  packages/core/admin/_internal/node/webpack/watch.ts
Labels: source: core:admin, pr: fix

#18668 fix: import Document directly & add `ignorePrompts` CLI flag
  packages/core/admin/_internal/cli/index.ts
  packages/core/admin/_internal/node/build.ts
  packages/core/admin/_internal/node/core/dependencies.ts
  packages/core/admin/_internal/node/develop.ts
  packages/core/admin/_internal/node/staticFiles.ts
  packages/core/admin/tsconfig.json
Labels: source: core:admin, pr: fix

#18616 chore(admin): convert useSettingsMenu to TS
  packages/core/admin/admin/src/App.tsx
  packages/core/admin/admin/src/constants.ts
  packages/core/admin/admin/src/hooks/__mocks__/useSettingsMenu.ts
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/tests/useEnterprise.test.ts
  packages/core/admin/admin/src/hooks/useEnterprise.ts
  packages/core/admin/admin/src/hooks/useSettingsMenu.ts
  packages/core/admin/admin/src/hooks/useSettingsMenu/index.js
  packages/core/admin/admin/src/hooks/useSettingsMenu/utils/formatLinks.js
  packages/core/admin/admin/src/hooks/useSettingsMenu/utils/sortLinks.js
  packages/core/admin/admin/src/hooks/useSettingsMenu/utils/tests/formatLinks.test.js
  packages/core/admin/admin/src/pages/Auth/AuthPage.tsx
  packages/core/admin/admin/src/pages/HomePage.tsx
  packages/core/admin/admin/src/pages/SettingsPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/admin/admin/src/types/permissions.ts
  packages/core/admin/ee/admin/src/constants.ts
Labels: source: core:admin, pr: chore

#18670 fix(admin): use appropriate loader between jsx and tsx
  packages/core/admin/_internal/node/webpack/config.ts
Labels: source: core:admin, pr: fix

#18647 Fix: GraphQL validates repeatable component attributes correctly
  api-tests/plugins/graphql/components.test.api.js
  packages/plugins/graphql/server/services/builders/resolvers/component.js
Labels: source: plugin:graphql, pr: fix

#18591 feat: allow passing http serverOptions from config
  examples/getstarted/config/server.js
  packages/core/strapi/src/services/server/http-server.ts
Labels: source: core:strapi, pr: feature

#18557 Update AWS (aws-sdk) from V2 to V3 with TS
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-aws-s3/src/__tests__/upload-aws-s3.test.ts
  packages/providers/upload-aws-s3/src/__tests__/utils.test.ts
  packages/providers/upload-aws-s3/src/index.ts
  packages/providers/upload-aws-s3/src/utils.ts
  yarn.lock
Labels: pr: fix, source: providers

#18613 chore(content-releases): Create releases CT, create and find services and controllers
  packages/core/content-releases/package.json
  packages/core/content-releases/server/src/constants.ts
  packages/core/content-releases/server/src/content-types/index.ts
  packages/core/content-releases/server/src/content-types/release-action/index.ts
  packages/core/content-releases/server/src/content-types/release-action/schema.ts
  packages/core/content-releases/server/src/content-types/release/index.ts
  packages/core/content-releases/server/src/content-types/release/schema.ts
  packages/core/content-releases/server/src/controllers/index.ts
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/server/src/controllers/validation/release.ts
  packages/core/content-releases/server/src/index.ts
  packages/core/content-releases/server/src/routes/index.ts
  packages/core/content-releases/server/src/routes/release.ts
  packages/core/content-releases/server/src/services/index.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/server/src/types.ts
  yarn.lock
Labels: pr: chore, source: core:content-releases

#18688 refactor(admin): add watch-admin flag
  packages/core/admin/_internal/cli/index.ts
  packages/core/admin/_internal/node/createBuildContext.ts
  packages/core/admin/_internal/node/develop.ts
  packages/core/admin/_internal/node/webpack/watch.ts
Labels: source: core:admin, pr: enhancement

#18682 chore: convert webhooks page
  packages/core/admin/admin/src/App.tsx
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/components/ConfigurationProvider.tsx
  packages/core/admin/admin/src/components/Providers.tsx
  packages/core/admin/admin/src/components/tests/ConfigurationProvider.test.tsx
  packages/core/admin/admin/src/contexts/configuration.ts
  packages/core/admin/admin/src/pages/Settings/SettingsPage.tsx
  packages/core/admin/admin/src/pages/Settings/components/Filters/index.js
  packages/core/admin/admin/src/pages/Settings/constants.ts
  packages/core/admin/admin/src/pages/Settings/pages/ApplicationInfo/ApplicationInfoPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/ApplicationInfo/components/LogoInput.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/CreatePage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/EditPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/ListPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/components/Events.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/components/EventsTable.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/components/HeadersInput.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/components/TriggerContainer.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/components/WebhookForm.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/components/tests/WebhookForm.test.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/tests/ListPage.test.tsx
  packages/core/admin/admin/src/pages/Settings/tests/SettingsPage.test.tsx
  packages/core/admin/admin/tests/server.ts
  packages/core/admin/admin/tests/utils.tsx
  packages/core/admin/ee/admin/src/hooks/tests/useLicenseLimits.test.ts
  packages/core/admin/ee/admin/src/hooks/tests/useLicenseLimits.test.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/ApplicationInfoPage/components/AdminSeatInfo.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/ApplicationInfoPage/components/tests/AdminSeatInfo.test.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/Webhooks/components/EventsTable.tsx
  packages/core/admin/shared/contracts/admin.ts
  packages/core/admin/shared/contracts/webhooks.ts
  packages/core/helper-plugin/src/icons/RemoveRoundedButton.tsx
Labels: source: core:admin, pr: chore

#18626 chore: add precise types to blocks attribute
  packages/core/types/src/types/core/attributes/blocks.ts
Labels: pr: chore, source: typescript

#18694 Fix: website link containing a typo
  packages/core/admin/admin/src/pages/SettingsPage/pages/ReviewWorkflows/SalesPage.js
Labels: source: core:admin, pr: fix

#18650 feat(content-releases): Create the page header with create release action
  packages/core/content-releases/admin/src/components/AddReleaseDialog.tsx
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/pages/App.tsx
  packages/core/content-releases/admin/src/pages/ReleasesPage/Releases.tsx
  packages/core/content-releases/admin/src/pages/ReleasesPage/tests/Releases.test.tsx
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/package.json
  yarn.lock
Labels: pr: feature, source: core:content-releases

#18671 chore: convert blocks editor to typescript
  packages/core/admin/admin/custom.d.ts
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/BlocksEditor.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/BlocksInput.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/Toolbar.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useBlocksStore.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useModifiersStore.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useModifiersStore.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/plugins/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/plugins/withLinks.ts
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/plugins/withStrapiSchema.ts
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/tests/BlocksEditor.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/tests/mock-schema.ts
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/utils/links.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/utils/links.ts
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/utils/types.ts
  packages/core/admin/admin/src/content-manager/components/Inputs/index.js
Labels: source: core:admin, pr: chore

#18700 fix: add missing prepublish script
  packages/admin-test-utils/package.json
  packages/core/content-type-builder/package.json
  packages/core/upload/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
Labels: source: core:strapi, pr: fix

#18704 chore: update design-system 1.13.1
  package.json
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#18707 chore(admin): add workflow contracts
  packages/core/admin/shared/contracts/review-workflows.ts
Labels: source: core:admin, pr: chore

#18722 [v5] Document service params updates
  packages/core/types/src/modules/documents/index.ts
  packages/core/types/src/modules/documents/params/document-service.ts
Labels: v5

#18692 Add content manager API contracts
  packages/core/content-manager/shared/contracts/collection-types.ts
  packages/core/content-manager/shared/contracts/components.ts
  packages/core/content-manager/shared/contracts/content-types.ts
  packages/core/content-manager/shared/contracts/init.ts
  packages/core/content-manager/shared/contracts/relations.ts
  packages/core/content-manager/shared/contracts/single-types.ts
  packages/core/content-manager/shared/contracts/uid.ts
Labels: source: core:content-manager

#18674 feat: add dhivehi localization to strapi
  packages/plugins/i18n/server/constants/iso-locales.json
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
Labels: source: core:admin, pr: enhancement

#18751 Release 4.15.3 & 4.15.4
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/pack-up/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#18768 chore(deps): update axios to 1.6.0
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#18764 fix(admin): admin build errors
  docs/docs/docs/01-core/admin/06-commands/01-build.md
  docs/docs/docs/01-core/admin/06-commands/02-develop.md
  examples/getstarted/src/admin/app.example.js
  examples/getstarted/src/admin/app.js
  packages/core/admin/_internal/node/core/admin-customisations.ts
  packages/core/admin/_internal/node/core/plugins.ts
  packages/core/admin/_internal/node/createBuildContext.ts
  packages/core/admin/_internal/node/staticFiles.ts
  packages/core/admin/_internal/node/webpack/config.ts
  packages/core/admin/admin/src/render.ts
  packages/core/strapi/src/admin.ts
Labels: source: core:admin, pr: fix

#18770 fix(admin): admin build errors (#18764)
  docs/docs/docs/01-core/admin/06-commands/01-build.md
  docs/docs/docs/01-core/admin/06-commands/02-develop.md
  examples/getstarted/src/admin/app.example.js
  examples/getstarted/src/admin/app.js
  packages/core/admin/_internal/node/core/admin-customisations.ts
  packages/core/admin/_internal/node/core/plugins.ts
  packages/core/admin/_internal/node/createBuildContext.ts
  packages/core/admin/_internal/node/staticFiles.ts
  packages/core/admin/_internal/node/webpack/config.ts
  packages/core/admin/admin/src/render.ts
  packages/core/strapi/src/admin.ts
Labels: source: core:admin, pr: fix

#18769 chore(deps): update axios to 1.6.0 (#18768)
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  yarn.lock
Labels: source: dependencies, pr: security

#18780 fix(admin): load app custom with jsx and allow more extensions
  examples/getstarted/jsconfig.json
  examples/getstarted/src/admin/app.js
  packages/core/admin/_internal/node/core/admin-customisations.ts
  packages/core/admin/_internal/node/core/files.ts
  packages/core/admin/_internal/node/staticFiles.ts
Labels: source: core:admin, pr: fix

#18086 Update ru.json from en.json
  packages/core/admin/admin/src/translations/ru.json
Labels: source: core:admin, pr: chore

#18732 chore(blocks): manage editor disabled state in context
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksContent.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksEditor.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksToolbar.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/hooks/tests/useBlocksStore.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/hooks/tests/useModifiersStore.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/tests/BlocksToolbar.test.tsx
Labels: source: core:admin, pr: chore

#18789 fix(admin): restore current password input on profile page
  packages/core/admin/admin/src/pages/ProfilePage.tsx
  packages/core/admin/admin/src/pages/tests/ProfilePage.test.tsx
  packages/core/admin/shared/contracts/users.ts
Labels: source: core:admin, pr: fix

#18733 Make AWS Credentials optional
  packages/providers/upload-aws-s3/src/__tests__/utils.test.ts
  packages/providers/upload-aws-s3/src/index.ts
  packages/providers/upload-aws-s3/src/utils.ts
Labels: pr: fix, source: providers

#18303 V5: add Document ID
  .github/actions/check-pr-status/dist/index.js
  api-tests/core/content-manager/search.test.api.js
  api-tests/core/strapi/api/validate-query/validate-query.test.api.js
  api-tests/core/strapi/search.test.api.js
  e2e/app-template/package.json
  packages/core/admin/_internal/node/webpack/config.ts
  packages/core/admin/package.json
  packages/core/admin/server/services/permission/permissions-manager/sanitize.js
  packages/core/admin/server/services/permission/permissions-manager/validate.js
  packages/core/content-type-builder/server/services/builder.js
  packages/core/database/src/index.ts
  packages/core/database/src/types/index.ts
  packages/core/database/src/utils/content-types.ts
  packages/core/strapi/package.json
  packages/core/strapi/src/Strapi.ts
  packages/core/strapi/src/utils/transform-content-types-to-models.ts
  packages/core/utils/src/__tests__/content-types.test.ts
  packages/core/utils/src/content-types.ts
  packages/utils/pack-up/package.json
  yarn.lock
Labels: source: core:database, pr: feature, v5

#18797 fix(admin): windows files paths do not make for module paths
  packages/core/admin/_internal/node/core/admin-customisations.ts
  packages/core/admin/_internal/node/core/files.ts
  packages/core/admin/_internal/node/core/plugins.ts
  packages/core/admin/_internal/node/createBuildContext.ts
  packages/core/admin/_internal/node/staticFiles.ts
Labels: source: core:admin, pr: fix

#18640 chore(repo): Add Change Freeze workflow
  .github/workflows/changeFreeze.yml
Labels: source: tooling, pr: chore

#18775 Fix: typescript build cleaning and type generation
  packages/core/admin/_internal/node/build.ts
  packages/core/admin/_internal/node/core/timer.ts
  packages/core/admin/_internal/node/develop.ts
Labels: pr: fix, source: typescript

#18715 chore(content-releases): add permissions to content releases plugin
  packages/core/content-releases/admin/src/constants.ts
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/pages/App.tsx
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleasesPage.test.tsx
  packages/core/content-releases/package.json
  packages/core/content-releases/server/src/__tests__/index.test.ts
  packages/core/content-releases/server/src/__tests__/release.test.ts
  packages/core/content-releases/server/src/constants.ts
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/server/src/register.ts
  packages/core/content-releases/server/src/routes/release.ts
  packages/core/strapi/package.json
  yarn.lock
Labels: pr: chore, source: core:content-releases

#18794 Falky tests experimentation
  .github/workflows/tests.yml
  packages/core/admin/admin/src/content-manager/components/InputUID/tests/index.test.js
  packages/utils/pack-up/examples/cjs-js/package.json
  packages/utils/pack-up/examples/esm-js/package.json
Labels: source: tooling, pr: fix

#18815 chore(actions): run checks workflow on develop branches
  .github/workflows/checks.yml
Labels: source: tooling, pr: chore

#18739 feat(content-releases): add create release-action endpoint
  packages/core/admin/_internal/node/staticFiles.ts
  packages/core/content-releases/server/src/__tests__/index.test.ts
  packages/core/content-releases/server/src/__tests__/release.test.ts
  packages/core/content-releases/server/src/constants.ts
  packages/core/content-releases/server/src/content-types/release-action/schema.ts
  packages/core/content-releases/server/src/controllers/__tests__/release-action.test.ts
  packages/core/content-releases/server/src/controllers/index.ts
  packages/core/content-releases/server/src/controllers/release-action.ts
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/server/src/controllers/validation/release-action.ts
  packages/core/content-releases/server/src/routes/index.ts
  packages/core/content-releases/server/src/routes/release-action.ts
  packages/core/content-releases/server/src/routes/release.ts
  packages/core/content-releases/server/src/services/__tests__/release-validation.test.ts
  packages/core/content-releases/server/src/services/index.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/server/src/services/validation.ts
  packages/core/content-releases/server/src/types.ts
  packages/core/content-releases/server/src/utils/index.ts
  packages/core/content-releases/server/tsconfig.json
  packages/core/content-releases/shared/types.ts
  packages/core/strapi/src/admin.ts
Labels: pr: feature, source: core:content-releases

#18814 test(pack-up): add ENV to allow immutable installs in yarn 4
  .github/workflows/tests.yml
  packages/utils/pack-up/tests/spawn.ts
Labels: pr: chore, source: utils:pack-up

#18777 chore(docs): initialize contributor docs for content releases
  docs/docs/docs/01-core/content-releases/00-intro.md
  docs/docs/docs/01-core/content-releases/01-backend.md
  docs/docs/docs/01-core/content-releases/_category_.json
Labels: source: docs, pr: chore

#18819 chore(u&p): convert js to jsx
  packages/plugins/users-permissions/.eslintrc
  packages/plugins/users-permissions/admin/src/components/BoundRoute/index.jsx
  packages/plugins/users-permissions/admin/src/components/FormModal/Input/index.jsx
  packages/plugins/users-permissions/admin/src/components/FormModal/Input/tests/index.test.jsx
  packages/plugins/users-permissions/admin/src/components/FormModal/index.jsx
  packages/plugins/users-permissions/admin/src/components/FormModal/tests/index.test.jsx
  packages/plugins/users-permissions/admin/src/components/Permissions/PermissionRow/CheckboxWrapper.jsx
  packages/plugins/users-permissions/admin/src/components/Permissions/PermissionRow/SubCategory.jsx
  packages/plugins/users-permissions/admin/src/components/Permissions/PermissionRow/index.jsx
  packages/plugins/users-permissions/admin/src/components/Permissions/index.jsx
  packages/plugins/users-permissions/admin/src/components/Policies/index.jsx
  packages/plugins/users-permissions/admin/src/components/UsersPermissions/index.jsx
  packages/plugins/users-permissions/admin/src/contexts/UsersPermissionsContext/index.jsx
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/index.jsx
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.jsx
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/components/EmailForm.jsx
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/components/EmailTable.jsx
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/index.jsx
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/index.test.jsx
  packages/plugins/users-permissions/admin/src/pages/Providers/index.jsx
  packages/plugins/users-permissions/admin/src/pages/Providers/tests/index.test.jsx
  packages/plugins/users-permissions/admin/src/pages/Roles/index.jsx
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/CreatePage.jsx
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/EditPage.jsx
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/ListPage/components/TableBody.jsx
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/ListPage/index.jsx
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/ListPage/tests/index.test.jsx
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/tests/CreatePage.test.jsx
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/tests/EditPage.test.jsx
  packages/plugins/users-permissions/packup.config.ts
Labels: source: plugin:users-permissions, pr: chore

#18683 fix: Attribute.JSON type matches RFC 4627
  packages/core/types/src/types/core/attributes/json.ts
Labels: pr: fix, source: typescript

#18736 chore(admin): convert Single Sign On settings page to TS and refactoring
  examples/getstarted/src/api/address/content-types/address/schema.json
  packages/core/admin/admin/src/types/permissions.ts
  packages/core/admin/ee/admin/src/pages/SettingsPage/constants.ts
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/SingleSignOn/hooks/tests/useSettingsForm.test.ts
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/SingleSignOn/hooks/useSettingsForm.ts
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/SingleSignOn/index.js
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/SingleSignOn/utils/schema.js
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/SingleSignOnPage.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/tests/SingleSignOnPage.test.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/tests/server.js
  packages/core/admin/shared/contracts/admin.ts
Labels: source: core:admin, pr: chore

#18808 fix: protect undefined values on SelectComponents
  packages/core/content-type-builder/admin/src/components/SelectComponents/index.js
Labels: source: core:content-type-builder, pr: fix

#18812 Fix/aws credentials
  packages/providers/upload-aws-s3/src/__tests__/utils.test.ts
  packages/providers/upload-aws-s3/src/index.ts
  packages/providers/upload-aws-s3/src/utils.ts
Labels: pr: fix, source: providers

#18832 chore(documentation): convert js to jsx
  packages/core/admin/.eslintignore
  packages/core/content-type-builder/.eslintrc
  packages/core/content-type-builder/packup.config.ts
  packages/core/email/.eslintrc.js
  packages/plugins/documentation/.eslintrc
  packages/plugins/documentation/admin/src/pages/PluginPage/index.jsx
  packages/plugins/documentation/admin/src/pages/PluginPage/tests/index.test.jsx
  packages/plugins/documentation/admin/src/pages/SettingsPage/index.jsx
  packages/plugins/documentation/admin/src/pages/SettingsPage/tests/index.test.jsx
  packages/plugins/documentation/packup.config.ts
  packages/plugins/sentry/packup.config.ts
Labels: source: plugin:documentation, pr: chore

#18817 test(releases): setup test harness for working with the admin app
  packages/core/content-releases/admin/.eslintrc
  packages/core/content-releases/admin/.eslintrc.js
  packages/core/content-releases/admin/src/components/AddReleaseDialog.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleasesPage.test.tsx
  packages/core/content-releases/admin/tests/server.ts
  packages/core/content-releases/admin/tests/setup.ts
  packages/core/content-releases/admin/tests/store.ts
  packages/core/content-releases/admin/tests/utils.tsx
  packages/core/content-releases/jest.config.front.js
  packages/core/content-releases/package.json
  packages/core/content-releases/packup.config.ts
  packages/core/content-releases/tsconfig.build.json
  yarn.lock
Labels: pr: feature, source: core:content-releases

#18720 feat(content-releases): Redirect to /content-releases/:releaseId onCreate and add header on details page
  packages/core/admin/_internal/node/webpack/aliases.ts
  packages/core/content-releases/admin/.eslintrc
  packages/core/content-releases/admin/.eslintrc.js
  packages/core/content-releases/admin/src/components/AddReleaseDialog.tsx
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/modules/releaseSlice.ts
  packages/core/content-releases/admin/src/pages/App.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleasesPage.test.tsx
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/admin/src/utils/data.ts
  packages/core/content-releases/admin/src/utils/errors.ts
  packages/core/content-releases/admin/tests/server.ts
  packages/core/content-releases/admin/tests/setup.ts
  packages/core/content-releases/admin/tests/store.ts
  packages/core/content-releases/admin/tests/utils.tsx
  packages/core/content-releases/admin/tsconfig.build.json
  packages/core/content-releases/admin/tsconfig.json
  packages/core/content-releases/jest.config.front.js
  packages/core/content-releases/package.json
  packages/core/content-releases/packup.config.ts
  packages/core/content-releases/shared/contracts/releases.ts
  packages/core/content-releases/tsconfig.build.json
  yarn.lock
Labels: pr: feature, source: core:content-releases

#18839 chore(deps): update storybook
  packages/core/helper-plugin/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#18831 chore(i18n): convert CMEditView components to TS
  examples/getstarted/types/generated/contentTypes.d.ts
  packages/core/admin/admin/src/core/store/configure.ts
  packages/core/admin/admin/src/index.ts
  packages/core/admin/admin/src/reducer.ts
  packages/core/admin/server/tsconfig.build.json
  packages/core/helper-plugin/src/content-manager/CMEditViewDataManager.tsx
  packages/core/helper-plugin/src/content-manager/utils/contentManagementUtilRemoveFieldsFromData.ts
  packages/core/helper-plugin/src/content-manager/utils/formatContentTypeData.ts
  packages/core/helper-plugin/src/hooks/useQueryParams.ts
  packages/core/helper-plugin/src/index.ts
  packages/core/strapi/src/admin.ts
  packages/plugins/i18n/admin/src/components/CMEditViewCopyLocale.tsx
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents.tsx
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewCopyLocale/utils/cleanData.ts
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewCopyLocale/utils/generateOptions.ts
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewCopyLocale/utils/index.ts
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewCopyLocale/utils/removePasswordAndRelationsFieldFromData.ts
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewCopyLocale/utils/tests/data.ts
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewCopyLocale/utils/tests/generateOptions.test.ts
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewCopyLocale/utils/tests/removePasswordAndRelationsFieldFromData.test.ts
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewLocalePicker/Bullet.tsx
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewLocalePicker/index.tsx
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewLocalePicker/utils/createLocalesOption.tsx
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewLocalePicker/utils/index.tsx
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/index.tsx
  packages/plugins/i18n/admin/src/components/CMEditViewLocalePicker.tsx
  packages/plugins/i18n/admin/src/components/LocaleListCell/LocaleListCell.tsx
  packages/plugins/i18n/admin/src/components/LocalePicker/index.tsx
  packages/plugins/i18n/admin/src/components/tests/CMEditViewInjectedComponents.test.tsx
  packages/plugins/i18n/admin/src/hooks/useContentTypePermissions.ts
  packages/plugins/i18n/admin/src/hooks/useContentTypePermissions/index.ts
  packages/plugins/i18n/admin/src/index.ts
  packages/plugins/i18n/admin/src/selectors/selectCollectionTypesRelatedPermissions.ts
  packages/plugins/i18n/admin/src/selectors/selectI18nLocales.ts
  packages/plugins/i18n/admin/src/selectors/tests/selectors.test.ts
  packages/plugins/i18n/admin/src/store/hooks.ts
  packages/plugins/i18n/admin/src/store/reducers.ts
  packages/plugins/i18n/admin/src/utils/data.ts
  packages/plugins/i18n/admin/src/utils/tests/data.test.ts
  packages/plugins/i18n/admin/tests/store.ts
  packages/plugins/i18n/shared/contracts/locales.ts
  packages/plugins/i18n/shared/contracts/shared.ts
Labels: source: plugin:i18n, pr: chore

#18838 chore(i18n): convert CM List view components to TS
  .github/actions/check-pr-status/dist/index.js
  packages/plugins/i18n/admin/src/components/CMListViewInjectedComponents/DeleteModalAdditionalInfos/index.tsx
  packages/plugins/i18n/admin/src/components/CMListViewInjectedComponents/PublishModalAdditionalInfos/index.tsx
  packages/plugins/i18n/admin/src/components/CMListViewInjectedComponents/UnpublishModalAdditionalInfos/index.tsx
  packages/plugins/i18n/admin/src/components/CMListViewModalsAdditionalInformation.tsx
  packages/plugins/i18n/admin/src/components/LocalePicker.tsx
  packages/plugins/i18n/admin/src/components/LocalePicker/index.tsx
  packages/plugins/i18n/admin/src/contentManagerHooks/utils/addLocaleToLinksSearch.ts
  packages/plugins/i18n/admin/src/hooks/__mocks__/useContentTypeHasI18n.ts
  packages/plugins/i18n/admin/src/hooks/useContentTypeHasI18n.ts
  packages/plugins/i18n/admin/src/hooks/useContentTypePermissions.ts
  packages/plugins/i18n/admin/src/hooks/useHasI18n/index.ts
  packages/plugins/i18n/admin/src/index.ts
  packages/plugins/i18n/admin/src/store/hooks.ts
  packages/plugins/i18n/admin/src/utils/getDefaultLocale.ts
  packages/plugins/i18n/admin/src/utils/getInitialLocale.ts
  packages/plugins/i18n/admin/src/utils/getLocaleFromQuery.ts
  packages/plugins/i18n/admin/src/utils/locales.ts
  packages/plugins/i18n/admin/src/utils/tests/getDefaultLocale.test.ts
  packages/plugins/i18n/admin/src/utils/tests/getInitialLocale.test.ts
  packages/plugins/i18n/admin/src/utils/tests/locales.test.ts
  packages/plugins/i18n/server/src/services/content-types.ts
  packages/plugins/i18n/server/src/services/core-api.ts
  packages/plugins/i18n/server/src/services/entity-service-decorator.ts
  packages/plugins/i18n/server/src/services/iso-locales.ts
  packages/plugins/i18n/server/src/services/locales.ts
  packages/plugins/i18n/server/src/services/localizations.ts
  packages/plugins/i18n/server/src/services/metrics.ts
  packages/plugins/i18n/server/src/services/permissions.ts
  packages/plugins/i18n/server/src/utils/index.ts
Labels: source: plugin:i18n, pr: chore

#18821 feat(content-releases): add findOne endpoint
  docs/docs/docs/01-core/content-releases/01-backend.md
  packages/core/content-releases/admin/src/components/AddReleaseDialog.tsx
  packages/core/content-releases/admin/src/modules/releaseSlice.ts
  packages/core/content-releases/admin/src/utils/data.ts
  packages/core/content-releases/admin/tsconfig.build.json
  packages/core/content-releases/admin/tsconfig.json
  packages/core/content-releases/server/src/controllers/__tests__/release-action.test.ts
  packages/core/content-releases/server/src/controllers/release-action.ts
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/server/src/controllers/validation/release-action.ts
  packages/core/content-releases/server/src/routes/release-action.ts
  packages/core/content-releases/server/src/routes/release.ts
  packages/core/content-releases/server/src/services/__tests__/release-validation.test.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/server/src/services/validation.ts
  packages/core/content-releases/server/tsconfig.build.json
  packages/core/content-releases/server/tsconfig.json
  packages/core/content-releases/shared/contracts/release-actions.ts
  packages/core/content-releases/shared/contracts/releases.ts
  packages/core/content-releases/shared/types.ts
Labels: pr: feature, source: core:content-releases

#18829 feature(content-releases): Add update release service/endpoint
  docs/docs/docs/01-core/content-releases/01-backend.md
  packages/core/content-releases/server/src/__tests__/release.test.ts
  packages/core/content-releases/server/src/controllers/__tests__/release.test.ts
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/server/src/controllers/validation/release.ts
  packages/core/content-releases/server/src/routes/release.ts
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/shared/contracts/releases.ts
Labels: pr: feature, source: core:content-releases

#18854 chore(blocks): miscellaneous improvements
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Paragraph.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/tests/Code.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/tests/Link.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/tests/List.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/tests/Paragraph.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/tests/Quote.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksEditor.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/plugins/withImages.ts
Labels: source: core:admin, pr: chore

#18823 [Content Manager]- types for routing middleware
  packages/core/content-manager/server/src/middlewares/routing.ts
Labels: source: core:content-manager, pr: enhancement

#18862 Clean up API token shared contracts
  packages/core/admin/server/src/services/api-token.ts
  packages/core/admin/shared/contracts/api-token.ts
Labels: source: core:admin, pr: chore

#18828 added english for norway
  packages/plugins/i18n/server/constants/iso-locales.json
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
Labels: source: plugin:i18n, pr: enhancement

#18508 [v5] use fetch api for strapi.fetch
  .github/actions/check-pr-status/dist/index.js
  packages/core/strapi/package.json
  packages/core/strapi/src/commands/actions/telemetry/disable/action.ts
  packages/core/strapi/src/commands/actions/telemetry/enable/action.ts
  packages/core/strapi/src/services/metrics/__tests__/index.test.ts
  packages/core/strapi/src/services/webhook-runner.ts
  packages/core/strapi/src/utils/fetch.ts
  packages/core/types/package.json
  packages/core/types/src/modules/fetch.ts
  packages/generators/app/package.json
  packages/generators/app/src/utils/usage.ts
  yarn.lock
Labels: flag: 💥 Breaking change, source: core:utils, pr: chore, v5

#18510 [v5] Replace usage of http/https for requests with fetch api
  .github/actions/check-pr-status/dist/index.js
  packages/core/data-transfer/src/strapi/providers/local-source/assets.ts
  packages/core/data-transfer/src/strapi/remote/handlers/utils.ts
  packages/core/strapi/src/utils/fetch.ts
Labels: pr: chore, source: core:data-transfer, v5

#18846 [content-manager] types for policies
  packages/core/content-manager/server/src/policies/__tests__/has-draft-and-publish.test.ts
  packages/core/content-manager/server/src/policies/has-draft-and-publish.ts
  packages/core/content-manager/server/src/policies/hasPermissions.ts
Labels: source: core:content-manager, pr: enhancement

#18860 feat: type content manger entity manager service
  packages/core/content-manager/server/src/services/entity-manager.ts
  packages/core/content-manager/server/src/services/populate-builder.ts
  packages/core/content-manager/server/src/services/utils/__tests__/populate.test.ts
  packages/core/content-manager/server/src/services/utils/populate.ts
Labels: pr: enhancement, source: typescript

#18870 fix(type): export JSONObject
  packages/core/types/src/types/core/attributes/json.ts
Labels: source: core:content-type-builder, pr: fix

#18867 chore: refactor rtk with type contracts
  packages/core/content-releases/admin/src/components/AddReleaseDialog.tsx
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/services/axios.ts
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/utils/data.ts
  packages/core/content-releases/admin/src/utils/errors.ts
  packages/core/content-releases/admin/tests/utils.tsx
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/shared/contracts/release-actions.ts
  packages/core/content-releases/shared/contracts/releases.ts
Labels: pr: chore, source: core:content-releases

#18888 (content-manager): types for field sizes service
  packages/core/content-manager/server/src/services/__tests__/field-sizes.test.ts
  packages/core/content-manager/server/src/services/field-sizes.ts
Labels: source: core:content-manager, pr: enhancement

#18802 chore(blocks): pass modifiers via useBlocksEditorContext
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksContent.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksEditor.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksToolbar.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Modifiers.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/hooks/tests/useModifiersStore.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/hooks/useModifiersStore.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/tests/BlocksInput.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/tests/BlocksToolbar.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/tests/mock-schema.ts
Labels: source: core:admin, pr: chore

#18898 fix(blocks): add modifiers to test provider
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/tests/Wrapper.tsx
Labels: source: core:admin, pr: chore

#18897 chore: remove ee direct imports
  api-tests/core/admin/admin-permission.test.api.js
  api-tests/core/admin/ee/provider-login.test.api.js
  api-tests/core/admin/ee/provider-options.test.api.js
  api-tests/core/admin/ee/review-workflows.test.api.ts
  packages/core/admin/_internal/node/build.ts
  packages/core/admin/_internal/node/develop.ts
  packages/core/admin/ee/server/src/bootstrap.ts
  packages/core/admin/ee/server/src/controllers/admin.ts
  packages/core/admin/ee/server/src/controllers/user.ts
  packages/core/admin/ee/server/src/destroy.ts
  packages/core/admin/ee/server/src/register.ts
  packages/core/admin/ee/server/src/routes/utils.ts
  packages/core/admin/ee/server/src/services/__tests__/assignees.test.ts
  packages/core/admin/ee/server/src/services/__tests__/audit-logs.test.ts
  packages/core/admin/ee/server/src/services/__tests__/passport.test.ts
  packages/core/admin/ee/server/src/services/__tests__/review-workflows-validation.test.ts
  packages/core/admin/ee/server/src/services/__tests__/sso.test.ts
  packages/core/admin/ee/server/src/services/__tests__/stages.test.ts
  packages/core/admin/ee/server/src/services/__tests__/workflows.test.ts
  packages/core/admin/ee/server/src/services/audit-logs.ts
  packages/core/admin/ee/server/src/services/passport.ts
  packages/core/admin/ee/server/src/services/passport/sso.ts
  packages/core/admin/ee/server/src/services/seat-enforcement.ts
  packages/core/admin/ee/server/src/utils/__tests__/sso-lock.test.ts
  packages/core/admin/ee/server/src/utils/sso-lock.ts
  packages/core/admin/ee/server/src/validation/role.ts
  packages/core/admin/ee/server/src/validation/user.ts
  packages/core/admin/server/register.js
  packages/core/admin/server/src/controllers/__tests__/admin.test.ts
  packages/core/content-manager/server/policies/index.js
  packages/core/content-type-builder/server/services/builder.js
  packages/core/content-type-builder/server/src/controllers/content-types.ts
  packages/core/strapi/package.json
  packages/core/strapi/src/Strapi.ts
  packages/core/types/src/index.ts
Labels: source: core:admin, pr: chore

#18904 [v5] ] Set default log level to 'info'
  packages/core/strapi/src/Strapi.ts
Labels: source: core:strapi, pr: enhancement, v5

#18885 chore(admin): convert transfer tokens to TS
  packages/core/admin/admin/src/components/GuidedTour/Modal.tsx
  packages/core/admin/admin/src/components/GuidedTour/Provider.tsx
  packages/core/admin/admin/src/pages/Settings/constants.ts
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/CreateView.tsx
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/EditView.tsx
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/EditView/components/FormTransferTokenContainer/index.js
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/EditView/components/LoadingView/index.js
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/EditView/index.js
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/EditView/tests/index.test.js
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/EditView/utils/getDateOfExpiration.js
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/EditView/utils/index.js
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/EditView/utils/schema.js
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/EditView/utils/tests/dataMock.js
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/EditView/utils/tests/getDateOfExpiration.test.js
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/ListView.tsx
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/ListView/utils/tableHeaders.js
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/ProtectedCreateView/index.js
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/ProtectedEditView/index.js
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/ProtectedListView/index.js
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/tests/ListView.test.tsx
  packages/core/admin/admin/src/types/permissions.ts
  packages/core/admin/shared/contracts/transfer/token.ts
  packages/core/helper-plugin/src/features/GuidedTour.tsx
  packages/core/helper-plugin/src/features/Tracking.tsx
  packages/core/helper-plugin/src/utils/translatedErrors.ts
Labels: source: core:admin, pr: chore

#18868 Check the code versioning before starting the upgrade process
  packages/utils/upgrade/package.json
  packages/utils/upgrade/src/__tests__/core/requirements/is-clean-git-repo.test.ts
  packages/utils/upgrade/src/core/requirements/is-clean-git-repo.ts
  packages/utils/upgrade/src/tasks/upgrade.ts
  yarn.lock
Labels: pr: chore

#18580 fix(documentation): use correct localization schema
  packages/plugins/documentation/server/services/helpers/utils/clean-schema-attributes.js
Labels: source: plugin:documentation, pr: fix

#18890 [Upgrade tool] Add documentation
  packages/utils/upgrade/README.md
  packages/utils/upgrade/resources/transforms/4.16.0/console.error-to-console.debug.code.ts
Labels: source: cli, pr: doc

#18879 chore(cm): convert crudReducer to TS
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.jsx
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/index.jsx
  packages/core/admin/admin/src/content-manager/components/SingleTypeFormWrapper/index.jsx
  packages/core/admin/admin/src/content-manager/pages/ComponentSetttingsView/index.jsx
  packages/core/admin/admin/src/content-manager/sharedReducers/crudReducer/actions.js
  packages/core/admin/admin/src/content-manager/sharedReducers/crudReducer/actions.ts
  packages/core/admin/admin/src/content-manager/sharedReducers/crudReducer/constants.ts
  packages/core/admin/admin/src/content-manager/sharedReducers/crudReducer/reducer.ts
  packages/core/admin/admin/src/content-manager/sharedReducers/crudReducer/selectors.js
  packages/core/admin/admin/src/content-manager/sharedReducers/crudReducer/tests/crudReducer.test.js
  packages/core/admin/admin/src/content-manager/sharedReducers/crudReducer/tests/reducer.test.ts
  packages/core/admin/admin/src/core/store/configure.ts
Labels: source: core:content-manager, pr: chore

#18745 chore(lock): deduplicate dependencies
  packages/core/admin/_internal/node/webpack/config.ts
  yarn.lock
Labels: source: core:admin, pr: chore

#18894 feat(blocks): make it easier to exit code blocks
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Code.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Quote.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/tests/Code.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/tests/Quote.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksContent.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Modifiers.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/tests/BlocksToolbar.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/utils/enterKey.ts
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: enhancement

#18922 feat(blocks): add markdown snippets
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Code.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Heading.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Image.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/List.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Quote.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksContent.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksEditor.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksToolbar.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/utils/conversions.ts
Labels: source: core:admin, pr: feature

#18901 fix(blocks): handle enter key on image
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Image.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Quote.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/tests/Image.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksContent.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksToolbar.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/tests/mock-schema.ts
  packages/core/admin/admin/src/content-manager/components/BlocksInput/utils/conversions.ts
Labels: source: core:admin, pr: fix

#18884 feat(content-releases): Releases list page UI implementation
  packages/core/content-releases/admin/src/components/tests/AddReleaseDialog.test.tsx
  packages/core/content-releases/admin/src/pages/App.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleasesPage.test.tsx
  packages/core/content-releases/admin/src/pages/tests/mockReleasesPageData.ts
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/shared/contracts/releases.ts
Labels: pr: feature, source: core:content-releases

#18957 chore(i18n): convert middlewares to TS
  packages/core/admin/admin/src/content-manager/sharedReducers/crudReducer/actions.ts
  packages/core/admin/admin/src/content-manager/sharedReducers/crudReducer/reducer.ts
  packages/plugins/i18n/admin/src/middlewares/addCommonFieldsToInitialData.ts
  packages/plugins/i18n/admin/src/middlewares/extendCTBAttributeInitialData.ts
  packages/plugins/i18n/admin/src/middlewares/extendCTBInitialData.ts
  packages/plugins/i18n/admin/src/middlewares/localePermission.ts
  packages/plugins/i18n/admin/src/middlewares/tests/extendCTBAttrributeInitialDataMiddleware.test.ts
  packages/plugins/i18n/admin/src/middlewares/tests/extendCTBInitialDataMiddleware.test.ts
  packages/plugins/i18n/admin/src/middlewares/tests/localePermissionMiddleware.test.ts
  packages/plugins/i18n/shared/contracts/content-manager.ts
Labels: source: plugin:i18n, pr: chore

#18959 chore(deps): update DS to 1.13.2
  .github/actions/check-pr-status/dist/index.js
  examples/getstarted/package.json
  package.json
  packages/core/admin/package.json
  packages/core/admin/shared/contracts/users.ts
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetCard/tests/DocAssetCard.test.jsx
  packages/core/upload/admin/src/components/AssetCard/tests/ImageAssetCard.test.jsx
  packages/core/upload/admin/src/components/AssetGridList/tests/__snapshots__/AssetGridList.test.jsx.snap
  packages/core/upload/admin/src/components/FolderCard/tests/__snapshots__/FolderCard.test.jsx.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.jsx.snap
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore
