Repository strapi/strapi, pull requests merged in 2023-09, with the labels that each got.

#17877 [CTB]: Added new Blocks type
  packages/core/content-type-builder/admin/src/components/AttributeIcon/index.js
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/advancedForm.js
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/types.js
  packages/core/content-type-builder/admin/src/components/FormModal/utils/getAttributesToDisplay.js
  packages/core/content-type-builder/admin/src/translations/en.json
  packages/plugins/i18n/admin/src/utils/localizedFields.js
Labels: source: core:content-type-builder, pr: feature

#17773 Create types for Api Config
  packages/core/strapi/lib/types/core/config/api.d.ts
  packages/core/strapi/lib/types/core/config/index.d.ts
Labels: pr: feature, source: typescript

#17888 refactor: tracking to tsx
  packages/core/helper-plugin/custom.d.ts
  packages/core/helper-plugin/src/features/Tracking.jsx
  packages/core/helper-plugin/src/features/Tracking.tsx
  packages/core/helper-plugin/src/features/tests/Tracking.test.tsx
Labels: source: core:helper-plugin, pr: chore

#17898 Add NpsSurvey back to AuthenticatedApp
  packages/core/admin/admin/src/components/AuthenticatedApp/index.js
Labels: source: core:admin, pr: fix

#17851 DB configuration type
  packages/core/strapi/lib/types/core/config/database.d.ts
  packages/core/strapi/lib/types/core/config/index.d.ts
Labels: pr: feature, source: typescript

#17895 Fix #17875 - Missing schema in validateQuery after upgrading to v4.13.1
  packages/plugins/graphql/server/services/builders/resolvers/association.js
Labels: source: plugin:graphql, pr: fix

#17903 [helper-plugin] Migrate request util to TypeScript
  packages/core/helper-plugin/src/utils/request.ts
  packages/core/helper-plugin/src/utils/tests/request.test.ts
Labels: source: core:helper-plugin, pr: chore

#17847 Added missing `models` key to `SubscriberMap` and made actions optional.
  packages/core/database/lib/lifecycles/subscribers/index.d.ts
Labels: pr: fix, source: typescript

#17927 v4.13.2
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#17831 Fix `strapi import` failure caused by corrupted asset metadata
  packages/core/data-transfer/src/file/providers/source/index.ts
Labels: pr: fix, source: core:data-transfer

#17747 feat(experimental): add plugin:build command
  .github/workflows/tests.yml
  docs/docs/docs/01-core/strapi/commands/_category_.json
  docs/docs/docs/01-core/strapi/commands/plugin/00-overview.md
  docs/docs/docs/01-core/strapi/commands/plugin/01-build.md
  docs/docs/docs/01-core/strapi/commands/plugin/_category_.json
  jest-preset.front.js
  package.json
  packages/core/admin/scripts/build.js
  packages/core/admin/scripts/create-dev-plugins-file.js
  packages/core/admin/utils/__tests__/create-plugins-exclude-path.test.js
  packages/core/admin/utils/__tests__/plugins.test.js
  packages/core/admin/utils/create-cache-dir.js
  packages/core/admin/utils/create-plugins-exclude-path.js
  packages/core/admin/utils/get-plugins.js
  packages/core/admin/utils/plugins.js
  packages/core/admin/webpack.config.dev.js
  packages/core/admin/webpack.config.js
  packages/core/helper-plugin/package.json
  packages/core/strapi/lib/commands/actions/plugin/build-command/action.js
  packages/core/strapi/lib/commands/actions/plugin/build-command/command.js
  packages/core/strapi/lib/commands/builders/__tests__/packages.test.js
  packages/core/strapi/lib/commands/builders/packages.js
  packages/core/strapi/lib/commands/builders/tasks/dts.js
  packages/core/strapi/lib/commands/builders/tasks/index.js
  packages/core/strapi/lib/commands/builders/tasks/vite.js
  packages/core/strapi/lib/commands/index.js
  packages/core/strapi/lib/commands/utils/__tests__/fixtures/test.pkg.json
  packages/core/strapi/lib/commands/utils/__tests__/pkg.test.js
  packages/core/strapi/lib/commands/utils/helpers.js
  packages/core/strapi/lib/commands/utils/logger.js
  packages/core/strapi/lib/commands/utils/pkg.js
  packages/core/strapi/lib/types/core/strapi/index.d.ts
  packages/core/strapi/package.json
  packages/plugins/color-picker/.eslintrc.js
  packages/plugins/color-picker/admin/.eslintrc.js
  packages/plugins/color-picker/admin/src/components/ColorPickerIcon.tsx
  packages/plugins/color-picker/admin/src/components/ColorPickerInput.tsx
  packages/plugins/color-picker/admin/src/components/tests/ColorPickerInput.test.tsx
  packages/plugins/color-picker/admin/src/components/tests/__snapshots__/ColorPickerInput.test.tsx.snap
  packages/plugins/color-picker/admin/src/components/tests/color-picker-input.test.js
  packages/plugins/color-picker/admin/src/global.d.ts
  packages/plugins/color-picker/admin/src/hooks/useComposeRefs.ts
  packages/plugins/color-picker/admin/src/index.ts
  packages/plugins/color-picker/admin/src/pluginId.js
  packages/plugins/color-picker/admin/src/pluginId.ts
  packages/plugins/color-picker/admin/src/utils/getTrad.js
  packages/plugins/color-picker/admin/src/utils/getTrad.ts
  packages/plugins/color-picker/admin/tsconfig.build.json
  packages/plugins/color-picker/admin/tsconfig.eslint.json
  packages/plugins/color-picker/admin/tsconfig.json
  packages/plugins/color-picker/package.json
  packages/plugins/color-picker/server/tsconfig.build.json
  packages/plugins/color-picker/strapi-admin.js
  packages/utils/eslint-config-custom/front/typescript.js
  yarn.lock
Labels: source: core:strapi, pr: feature

#17917 [CM]: Add basic blocks(Slate) editor input
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/Inputs/index.js
  packages/core/admin/admin/src/content-manager/components/Inputs/utils/getInputType.js
  packages/core/admin/admin/src/content-manager/utils/schema.js
  packages/core/admin/package.json
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/advancedForm.js
  yarn.lock
Labels: source: core:content-manager, pr: feature

#17932 chore(admin-test-utils): swallow styled-components transient errors
  packages/admin-test-utils/src/environment.ts
Labels: source: tooling, pr: chore

#17933 fix(ee): invalidate stages list when stage is changed
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/StageSelect/StageSelect.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/hooks/useReviewWorkflowsStages.js
Labels: pr: fix, source: core:review-workflows

#17925 refactor: convert Notifications to TS
  packages/core/helper-plugin/src/components/AnErrorOccurred.tsx
  packages/core/helper-plugin/src/components/NoContent.tsx
  packages/core/helper-plugin/src/features/Notifications.tsx
  packages/core/helper-plugin/src/types.ts
  packages/core/helper-plugin/src/utils/getYupInnerErrors.ts
  packages/core/helper-plugin/tsconfig.json
  packages/utils/tsconfig/client.json
Labels: source: core:helper-plugin, pr: chore

#17937 Add the ID property to the filter objects
  packages/core/strapi/lib/services/entity-service/types/params/filters/index.d.ts
Labels: pr: fix, source: typescript

#17940 [Blocks editor] Setup toolbar container
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
  packages/core/admin/package.json
  yarn.lock
Labels: source: core:admin, pr: enhancement

#17939 Forbid access to listAvailableStages without READ content type access
  api-tests/core/admin/ee/review-workflows.test.api.js
  packages/core/admin/ee/server/controllers/__tests__/stages.test.js
  packages/core/admin/ee/server/controllers/workflows/stages/index.js
  packages/core/admin/ee/server/routes/review-workflows.js
Labels: pr: enhancement, source: core:review-workflows

#17935 chore(review-workflow): enable assignee test-suite
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/AssigneeSelect/AssigneeSelect.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/AssigneeSelect/tests/AssigneeSelect.test.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/StageSelect/tests/StageSelect.test.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/tests/InformationBoxEE.test.js
Labels: pr: chore, source: core:review-workflows

#17947 [TS Migrate Helper Plugin] Add dependencies to fix lint
  packages/core/helper-plugin/jest.config.front.js
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/src/hooks/tests/useClipboard.test.ts
  packages/core/helper-plugin/src/hooks/tests/useFieldHint.test.tsx
  packages/core/helper-plugin/src/hooks/tests/useQueryParams.test.tsx
  packages/core/helper-plugin/src/hooks/tests/useSelectionState.test.ts
  packages/core/helper-plugin/src/utils/tests/stopPropagation.test.ts
  packages/core/helper-plugin/tests/server.ts
  packages/core/helper-plugin/tests/setup.ts
  packages/core/helper-plugin/tests/utils.tsx
  packages/core/helper-plugin/tsconfig.json
  packages/plugins/color-picker/admin/src/global.d.ts
  packages/utils/tsconfig/client.json
  yarn.lock
Labels: source: core:helper-plugin, pr: fix

#17954 v4.13.3
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#17857 Add event to sync project data more frequently - admin users count + active admin users count
  packages/core/admin/ee/server/bootstrap.js
  packages/core/admin/server/bootstrap.js
  packages/core/admin/server/services/metrics.js
Labels: source: core:admin, pr: chore

#17961 Fix check pr status causing a local diff
  .github/actions/check-pr-status/dist/index.js
Labels: source: tooling, pr: fix

#17967 fix: relativeURLs fail with appendSearchParamsToUrl
  packages/core/upload/admin/src/components/AssetCard/ImageAssetCard.js
  packages/core/upload/admin/src/utils/appendSearchParamsToUrl.js
  packages/core/upload/admin/src/utils/tests/appendSearchParamsToUrl.test.js
Labels: source: core:upload, pr: fix

#17887 Test content API sanitization of assignees on review workflow content types
  api-tests/core/admin/ee/review-workflows.test.api.js
  api-tests/core/strapi/api/populate/sanitize.test.api.js
Labels: pr: enhancement, source: core:review-workflows

#17973 [Blocks editor] Add modifier buttons to the toolbar
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: enhancement

#17948 chore(deps): update @strapi/design-system and @strapi/icons to 1.10.1
  examples/getstarted/package.json
  packages/core/admin/admin/src/components/GuidedTour/Homepage/tests/index.test.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/NoContentType/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/InternalErrorPage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/NotFoundPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/admin/package.json
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/.eslintrc.js
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetCard/tests/DocAssetCard.test.js
  packages/core/upload/admin/src/components/AssetCard/tests/ImageAssetCard.test.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/SearchAsset/tests/index.test.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/Breadcrumbs/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.js.snap
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/index.test.js
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#17982 fix: fallback to window.location.href if backendURL is not defined
  packages/core/upload/admin/src/utils/appendSearchParamsToUrl.js
  packages/core/upload/admin/src/utils/tests/appendSearchParamsToUrl.test.js
Labels: source: core:upload, pr: fix

#17984 fix type imports
  packages/core/strapi/lib/types/core/strapi/index.d.ts
Labels: pr: fix, source: typescript

#18013 [helper-plugin]: useFetchClient hook typescript
  packages/core/helper-plugin/src/hooks/tests/useFetchClient.test.tsx
  packages/core/helper-plugin/src/hooks/useFetchClient.ts
Labels: source: core:helper-plugin, pr: enhancement

#18011 Test the correct return format for strapi_stage attribute in the content API
  api-tests/core/admin/ee/review-workflows.test.api.js
Labels: source: core:admin, pr: enhancement

#17819 Chore/ts migrate helper plugin notallowedinput
  packages/core/helper-plugin/src/components/NotAllowedInput.tsx
  packages/core/helper-plugin/src/components/tests/NotAllowedInput.test.tsx
Labels: source: core:helper-plugin, pr: chore

#17788 [helper-plugin]: migrate Form to TypeScript
  packages/core/helper-plugin/src/components/Form.tsx
Labels: source: core:helper-plugin, pr: chore

#18015 refactor: InjectionZone
  packages/core/helper-plugin/src/components/InjectionZone.jsx
  packages/core/helper-plugin/src/components/InjectionZone.tsx
Labels: source: core:helper-plugin, pr: chore

#18017 Update GH bug report template
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Labels: source: tooling, pr: enhancement

#18018 refactor(helper-plugin): convert hasPermissions and difference to TS
  packages/core/helper-plugin/src/utils/difference.js
  packages/core/helper-plugin/src/utils/difference.ts
  packages/core/helper-plugin/src/utils/getFetchClient.ts
  packages/core/helper-plugin/src/utils/hasPermissions.js
  packages/core/helper-plugin/src/utils/hasPermissions.ts
  packages/core/helper-plugin/src/utils/tests/difference.test.ts
  packages/core/helper-plugin/src/utils/tests/hasPermissions.test.ts
Labels: source: core:helper-plugin, pr: chore

#17941 [Bugfix] Bulk publish/unpublish for non-default locale entities
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/ConfirmBulkActionDialog/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/ConfirmBulkActionDialog/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/tests/index.test.js
  packages/core/content-manager/server/controllers/collection-types.js
  packages/core/content-manager/server/services/entity-manager.d.ts
  packages/core/content-manager/server/services/entity-manager.js
Labels: source: core:admin, pr: fix

#17993 [helper-plugin] create unit test for useFocusWhenNavigate
  packages/core/helper-plugin/src/hooks/tests/useFilter.test.ts
  packages/core/helper-plugin/src/hooks/tests/useFocusWhenNavigate.test.tsx
  yarn.lock
Labels: source: core:helper-plugin, pr: chore

#17980 [RTE]: Block renderers
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/tempSchema.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/tests/index.test.js
Labels: source: core:content-manager, pr: feature

#17987 [Helper Plugin] migrate RelativeTime to TypeScript
  packages/core/helper-plugin/src/components/RelativeTime.tsx
  packages/core/helper-plugin/src/components/tests/RelativeTime.test.jsx
  packages/core/helper-plugin/src/components/tests/RelativeTime.test.tsx
Labels: source: core:helper-plugin, pr: chore

#17986 [Helper Plugin] migrate PaginationURLQuery to TypeScript
  packages/core/helper-plugin/src/components/PaginationURLQuery.tsx
  packages/core/helper-plugin/src/components/tests/PaginationURLQuery.test.tsx
Labels: source: core:helper-plugin, pr: chore

#17985 [Helper Plugin] migrate ReactSelect to TypeScript
  packages/core/helper-plugin/src/components/ReactSelect.tsx
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/SelectTree/tests/__snapshots__/SelectTree.test.js.snap
Labels: source: core:helper-plugin, pr: chore

#18028 fix: set a fallback where we define `window.strapi.backendURL`
  packages/core/admin/admin/src/index.js
  packages/core/upload/admin/src/utils/appendSearchParamsToUrl.js
  packages/core/upload/admin/src/utils/tests/appendSearchParamsToUrl.test.js
Labels: source: core:admin, pr: fix

#17969 Migrate SearchURLQuery to TypeScript
  packages/core/helper-plugin/src/components/SearchURLQuery.tsx
  packages/core/helper-plugin/src/components/tests/SearchURLQuery.test.tsx
  packages/core/helper-plugin/src/features/Tracking.tsx
Labels: source: core:helper-plugin, pr: chore

#18039 refactor(helper-plugin): convert Table to TS
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/src/components/Table.tsx
  packages/core/helper-plugin/src/components/tests/Table.test.tsx
  yarn.lock
Labels: source: core:helper-plugin, pr: chore

#18036 refactor(helper-plugin): convert useAPIErrorHandler to TS
  packages/core/helper-plugin/src/hooks/tests/useAPIErrorHandler.test.js
  packages/core/helper-plugin/src/hooks/tests/useAPIErrorHandler.test.ts
  packages/core/helper-plugin/src/hooks/tests/useCollator.test.ts
  packages/core/helper-plugin/src/hooks/useAPIErrorHandler.js
  packages/core/helper-plugin/src/hooks/useAPIErrorHandler.ts
  packages/core/helper-plugin/src/utils/normalizeAPIError.ts
Labels: source: core:helper-plugin, pr: chore

#18016 refactor: content-manager folder
  packages/core/helper-plugin/src/content-manager/CMEditViewDataManager.stories.mdx
  packages/core/helper-plugin/src/content-manager/CMEditViewDataManager.tsx
  packages/core/helper-plugin/src/content-manager/contexts/ContentManagerEditViewDataManagerContext.jsx
  packages/core/helper-plugin/src/content-manager/hooks/useCMEditViewDataManager.js
  packages/core/helper-plugin/src/content-manager/utils/contentManagementUtilRemoveFieldsFromData.ts
  packages/core/helper-plugin/src/content-manager/utils/formatContentTypeData.ts
  packages/core/helper-plugin/src/content-manager/utils/getAttributeInfos.ts
  packages/core/helper-plugin/src/content-manager/utils/tests/contentManagementUtilRemoveFieldsFromData.test.ts
  packages/core/helper-plugin/src/content-manager/utils/tests/formatContentTypeData.test.ts
  packages/core/helper-plugin/src/content-manager/utils/tests/testData.ts
  packages/core/helper-plugin/src/index.js
Labels: source: core:helper-plugin, pr: chore

#18045 Migrate GenericInput to TypeScript
  packages/core/helper-plugin/src/components/GenericInput.tsx
  packages/core/helper-plugin/src/content-manager/CMEditViewDataManager.tsx
  packages/core/helper-plugin/src/hooks/useFieldHint.tsx
  packages/core/helper-plugin/src/hooks/useFocusInputField.ts
  packages/core/helper-plugin/src/types.ts
Labels: source: core:helper-plugin, pr: chore

#17920 fix(CM): fix relation layout
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
Labels: source: core:admin, pr: fix

#18050 [helper-plugin]: migrate use-rbac to typescript
  packages/core/helper-plugin/src/features/RBAC.tsx
  packages/core/helper-plugin/src/hooks/tests/useRBAC.test.ts
  packages/core/helper-plugin/src/hooks/useRBAC.ts
Labels: source: core:helper-plugin, pr: enhancement

#18053 tests(marketplace): await data-fetching so there's no act warnings
  packages/core/admin/admin/src/pages/MarketplacePage/components/EmptyNpmPackageSearch/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackagesFilters/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackagesGrid/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/plugins.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/providers.test.js
Labels: pr: chore, source: marketplace

#18063 tests(user-permissions): add default messages for form errors
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/CreatePage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/EditPage.js
Labels: source: plugin:users-permissions, pr: chore

#18057 Fix RBAC provider single child expectation
  packages/core/admin/admin/src/components/RBACProvider/index.js
Labels: source: core:admin, pr: fix

#18043 Migrate stages into RBAC versions
  packages/core/admin/ee/server/migrations/review-workflows-stages-roles.js
  packages/core/admin/ee/server/register.js
  packages/core/admin/ee/server/services/review-workflows/stage-permissions.js
  packages/core/admin/ee/server/services/review-workflows/stages.js
Labels: pr: enhancement, source: core:review-workflows

#18029 [DTS] Use schema names in custom queries
  packages/core/data-transfer/src/strapi/queries/link.ts
Labels: pr: fix, source: core:data-transfer

#18081 [Blocks] Modifiers are not working on headings and some other blocks
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
Labels: source: core:content-manager, pr: fix

#18059 [Blocks Editor] Create the select with the headings
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: enhancement

#17944 fix: blocked users can still login via provider
  packages/plugins/users-permissions/server/controllers/auth.js
Labels: source: plugin:users-permissions, pr: fix

#17956 Fix TypeScript project builds with Generated Types
  packages/core/strapi/lib/commands/actions/develop/action.js
  packages/core/strapi/lib/commands/actions/ts/generate-types/action.js
  packages/core/strapi/lib/commands/builders/typescript.js
  packages/core/strapi/lib/compile.d.ts
  packages/core/strapi/lib/compile.js
  packages/core/strapi/lib/index.d.ts
  packages/utils/typescript/lib/compile.js
  packages/utils/typescript/lib/compilers/basic.js
  packages/utils/typescript/lib/compilers/index.js
  packages/utils/typescript/lib/compilers/watch.js
Labels: pr: fix, source: typescript

#18093 fix(content-manager): add optional chaining because listRef may not have a node attached
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
Labels: source: core:content-manager, pr: fix

#18080 [Fix] Fix the content Type Dialog problem with the Grid elements in Safari
  packages/core/content-type-builder/admin/src/components/AttributeOptions/AttributeList/index.js
  packages/core/content-type-builder/admin/src/components/AttributeOptions/tests/__snapshots__/index.test.js.snap
Labels: source: core:content-type-builder, pr: fix

#18082 [blocks]: Quote option added
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:content-manager, pr: enhancement

#18076 [Blocks editor] Refactor to use a store of blocks and modifiers
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/BlocksInput/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useBlocksStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useModifiersStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useModifiersStore.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
Labels: source: core:admin, pr: enhancement

#18100 Update main readme with gif and latest positioning
  README.md
  packages/core/strapi/README.md
Labels: source: docs, pr: chore

#17930 Fix Dynamic Zone Tests
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/DynamicComponent.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/tests/index.test.js
Labels: source: core:admin, pr: fix

#18107 fix(core): Revert plugin property on CustomFieldServerOptions
  packages/core/strapi/lib/types/core/strapi/index.d.ts
Labels: source: core:strapi, pr: fix

#18079 [Rich Text Editor] Save to database
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/tests/mock-schema.js
  packages/core/admin/admin/src/content-manager/utils/schema.js
  packages/core/database/lib/fields/index.js
  packages/core/database/lib/schema/schema.js
  packages/core/database/lib/types/index.js
  packages/core/strapi/lib/services/entity-validator/__tests__/blocks-validators.test.js
  packages/core/strapi/lib/services/entity-validator/blocks-validator.js
  packages/core/strapi/lib/services/entity-validator/validators.js
Labels: source: core:strapi, pr: feature

#18116 refactor(content-manager): convert InputUIDs data-fetching to use react-query
  packages/core/admin/admin/src/content-manager/components/InputUID/index.js
  packages/core/admin/admin/src/content-manager/components/InputUID/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/Inputs/index.js
Labels: source: core:content-manager, pr: chore

#17905 Start Typescript Tests
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/types/src/types/__tests__/definitions/utils/array.d.ts
  packages/core/types/src/types/__tests__/definitions/utils/expression.d.ts
  packages/core/types/src/types/__tests__/definitions/utils/guard.d.ts
  packages/core/types/src/types/__tests__/definitions/utils/object.d.ts
  packages/core/types/src/types/__tests__/test.utils.ts
  packages/core/types/src/types/__tests__/utils/array.test.ts
  packages/core/types/src/types/__tests__/utils/expression.test.ts
  packages/core/types/src/types/__tests__/utils/guard.test.ts
  packages/core/types/src/types/__tests__/utils/object.test.ts
  packages/core/types/src/types/__tests__/utils/string.test.ts
  packages/core/types/src/types/utils/string.ts
  yarn.lock
Labels: pr: chore, source: typescript

#18129 [Email] define shared types for email package
  packages/core/email/shared/types.ts
Labels: source: core:email, pr: enhancement

#18109 [Blocks]: Add image block option
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:content-manager, pr: enhancement

#18112 [Blocks editor] Fix enter key behavior in code blocks
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/BlocksInput/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useBlocksStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/DynamicComponent.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/tests/index.test.js
  packages/core/admin/package.json
  packages/core/admin/utils/plugins.js
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/lib/types/core/strapi/index.d.ts
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  scripts/publish.sh
  yarn.lock
Labels: source: core:admin, pr: enhancement

#18132 [blocks]: Add slate history
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
  packages/core/admin/package.json
  yarn.lock
Labels: source: core:content-manager, pr: enhancement

#18113 test(content-manager): fix console pollution in tests
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/Option.test.js
  packages/core/admin/admin/src/content-manager/hooks/useLazyComponents/tests/useLazyComponents.test.js
  packages/core/admin/admin/src/content-manager/hooks/useRelation/tests/useRelation.test.js
  packages/core/admin/admin/src/content-manager/hooks/useRelation/useRelation.js
  packages/core/helper-plugin/src/components/tests/DateTimePicker.test.tsx
  packages/core/helper-plugin/src/utils/tests/request.test.ts
Labels: source: core:content-manager, pr: chore

#17979 Types for the plugins
  packages/core/types/src/types/core/index.ts
  packages/core/types/src/types/core/plugins/config/index.ts
  packages/core/types/src/types/core/plugins/config/strapi-admin/index.ts
  packages/core/types/src/types/core/plugins/config/strapi-server/config.ts
  packages/core/types/src/types/core/plugins/config/strapi-server/content-types.ts
  packages/core/types/src/types/core/plugins/config/strapi-server/controllers.ts
  packages/core/types/src/types/core/plugins/config/strapi-server/index.ts
  packages/core/types/src/types/core/plugins/config/strapi-server/lifecycle.ts
  packages/core/types/src/types/core/plugins/config/strapi-server/routes.ts
  packages/core/types/src/types/core/plugins/index.ts
  packages/core/types/src/types/index.ts
Labels: pr: chore, source: typescript

#18152 [Blocks editor] Remove default value input from advanced CTB form
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/advancedForm.js
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/baseForm.js
Labels: source: core:admin, pr: enhancement

#18157 [Blocks Editor]: Can’t create a block below an image or code block
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
Labels: source: core:content-manager, pr: fix

#18153 fix: make permission subject nullable in schema.
  packages/core/admin/server/validation/permission.js
Labels: source: core:admin, pr: fix

#18165 [Blocks editor] change the label value for the ordered and unordered list
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: enhancement

#18170 Update design system and icons version to 1.11.0
  examples/getstarted/package.json
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#18166 Add new Blocks rich text editor (alpha)
  examples/getstarted/src/api/kitchensink/content-types/kitchensink/schema.json
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/BlocksInput/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useBlocksStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useModifiersStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useModifiersStore.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/tests/mock-schema.js
  packages/core/admin/admin/src/content-manager/components/Inputs/index.js
  packages/core/admin/admin/src/content-manager/components/Inputs/utils/getInputType.js
  packages/core/admin/admin/src/content-manager/utils/schema.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/ee/server/content-types/workflow-stage/index.js
  packages/core/admin/package.json
  packages/core/admin/server/domain/permission/index.js
  packages/core/content-manager/server/services/field-sizes.js
  packages/core/content-type-builder/admin/src/components/AttributeIcon/index.js
  packages/core/content-type-builder/admin/src/components/AttributeOptions/AttributeOption/index.js
  packages/core/content-type-builder/admin/src/components/AttributeOptions/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/advancedForm.js
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/baseForm.js
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/types.js
  packages/core/content-type-builder/admin/src/components/FormModal/index.js
  packages/core/content-type-builder/admin/src/components/FormModal/utils/getAttributesToDisplay.js
  packages/core/content-type-builder/admin/src/translations/en.json
  packages/core/content-type-builder/server/controllers/validation/types.js
  packages/core/content-type-builder/server/services/constants.js
  packages/core/database/lib/fields/index.js
  packages/core/database/lib/schema/schema.js
  packages/core/database/lib/types/index.js
  packages/core/strapi/src/services/entity-validator/__tests__/blocks-validators.test.ts
  packages/core/strapi/src/services/entity-validator/blocks-validator.ts
  packages/core/strapi/src/services/entity-validator/validators.ts
  packages/plugins/documentation/server/services/helpers/utils/clean-schema-attributes.js
  packages/plugins/i18n/admin/src/utils/localizedFields.js
  yarn.lock
Labels: source: core:admin, pr: feature

#18121 feat(pack-up): add watch command
  package.json
  packages/cli/create-strapi-starter/src/utils/prompt-user.ts
  packages/utils/eslint-config-custom/back/typescript.js
  packages/utils/pack-up/.eslintrc.js
  packages/utils/pack-up/package.json
  packages/utils/pack-up/scripts/build.ts
  packages/utils/pack-up/scripts/check.ts
  packages/utils/pack-up/scripts/watch.ts
  packages/utils/pack-up/src/cli/errors.ts
  packages/utils/pack-up/src/cli/index.ts
  packages/utils/pack-up/src/node/build.ts
  packages/utils/pack-up/src/node/check.ts
  packages/utils/pack-up/src/node/core/config.ts
  packages/utils/pack-up/src/node/core/exports.ts
  packages/utils/pack-up/src/node/core/logger.ts
  packages/utils/pack-up/src/node/core/pkg.ts
  packages/utils/pack-up/src/node/core/tsconfig.ts
  packages/utils/pack-up/src/node/createBuildContext.ts
  packages/utils/pack-up/src/node/createBuildTasks.ts
  packages/utils/pack-up/src/node/createTasks.ts
  packages/utils/pack-up/src/node/tasks/dts.ts
  packages/utils/pack-up/src/node/tasks/dts/build.ts
  packages/utils/pack-up/src/node/tasks/dts/diagnostic.ts
  packages/utils/pack-up/src/node/tasks/dts/types.ts
  packages/utils/pack-up/src/node/tasks/dts/watch.ts
  packages/utils/pack-up/src/node/tasks/index.ts
  packages/utils/pack-up/src/node/tasks/vite/build.ts
  packages/utils/pack-up/src/node/tasks/vite/config.ts
  packages/utils/pack-up/src/node/tasks/vite/types.ts
  packages/utils/pack-up/src/node/tasks/vite/watch.ts
  packages/utils/pack-up/src/node/watch.ts
  yarn.lock
Labels: source: tooling, pr: feature

#18177 Add blocks to namespace mapper
  packages/utils/typescript/lib/generators/common/models/mappers.js
Labels: source: core:utils, pr: fix

#18187 Add missing blocks attribute types
  examples/getstarted/types/generated/components.d.ts
  examples/getstarted/types/generated/contentTypes.d.ts
  packages/core/types/src/modules/entity-service/params/attributes.ts
  packages/core/types/src/types/core/attributes/base.ts
  packages/core/types/src/types/core/attributes/blocks.ts
  packages/core/types/src/types/core/attributes/common.ts
  packages/core/types/src/types/core/attributes/index.ts
  packages/core/types/src/types/core/attributes/utils.ts
  packages/core/types/src/types/core/common/schema.ts
  packages/core/utils/src/types.ts
Labels: pr: fix, source: typescript

#18133 feat(pack-up): add init command
  packages/core/strapi/src/commands/actions/admin/create-user/action.ts
  packages/core/strapi/src/commands/actions/admin/reset-user-password/action.ts
  packages/utils/pack-up/.eslintrc.js
  packages/utils/pack-up/package.json
  packages/utils/pack-up/packup.config.ts
  packages/utils/pack-up/src/__tests__/cli.test.ts
  packages/utils/pack-up/src/__tests__/node.test.ts
  packages/utils/pack-up/src/cli/errors.ts
  packages/utils/pack-up/src/cli/index.ts
  packages/utils/pack-up/src/index.ts
  packages/utils/pack-up/src/node/build.ts
  packages/utils/pack-up/src/node/core/errors.ts
  packages/utils/pack-up/src/node/core/files.ts
  packages/utils/pack-up/src/node/core/git.ts
  packages/utils/pack-up/src/node/core/logger.ts
  packages/utils/pack-up/src/node/core/pkg.ts
  packages/utils/pack-up/src/node/createBuildContext.ts
  packages/utils/pack-up/src/node/init.ts
  packages/utils/pack-up/src/node/tasks/dts/build.ts
  packages/utils/pack-up/src/node/tasks/dts/watch.ts
  packages/utils/pack-up/src/node/tasks/vite/build.ts
  packages/utils/pack-up/src/node/tasks/vite/watch.ts
  packages/utils/pack-up/src/node/templates/create.ts
  packages/utils/pack-up/src/node/templates/internal/default.ts
  packages/utils/pack-up/src/node/templates/internal/files/editorConfig.ts
  packages/utils/pack-up/src/node/templates/internal/files/eslint.ts
  packages/utils/pack-up/src/node/templates/internal/files/gitIgnore.ts
  packages/utils/pack-up/src/node/templates/internal/files/prettier.ts
  packages/utils/pack-up/src/node/templates/internal/files/typescript.ts
  packages/utils/pack-up/src/node/templates/load.ts
  packages/utils/pack-up/src/node/templates/types.ts
  packages/utils/pack-up/tests/console.ts
  packages/utils/pack-up/tests/spawn.ts
  packages/utils/pack-up/tests/workspaces.ts
  packages/utils/pack-up/tsconfig.json
  yarn.lock
Labels: source: tooling, pr: feature

#18173 chore: add tsc for packages and back to workflow
  .github/workflows/tests.yml
  package.json
Labels: source: tooling, pr: chore

#18110 Fix: Relations Input search not found
  packages/core/admin/admin/src/content-manager/hooks/useRelation/tests/useRelation.test.js
  packages/core/admin/admin/src/content-manager/hooks/useRelation/useRelation.js
  packages/core/content-manager/server/controllers/relations.js
Labels: source: core:admin, pr: fix

#18194 Restore radix toolbar dependency
  packages/core/admin/package.json
  yarn.lock
Labels: source: dependencies, pr: fix

#18186 chore(deps): upgrade playwright to 1.38.1
  .github/workflows/tests.yml
  package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#18185 chore(e2e): store test traces for failed tests as GH action artifacts
  .github/workflows/tests.yml
  playwright.base.config.js
Labels: source: tooling, pr: chore

#18184 [Blocks Editor] On save with image block getting success with error occurred message
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
Labels: source: core:content-manager, pr: fix

#18197 v4.14.0
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/getstarted/types/generated/components.d.ts
  examples/getstarted/types/generated/contentTypes.d.ts
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/types/src/modules/entity-service/params/attributes.ts
  packages/core/types/src/types/core/attributes/base.ts
  packages/core/types/src/types/core/attributes/blocks.ts
  packages/core/types/src/types/core/attributes/common.ts
  packages/core/types/src/types/core/attributes/index.ts
  packages/core/types/src/types/core/attributes/utils.ts
  packages/core/types/src/types/core/common/schema.ts
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/core/utils/src/types.ts
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/lib/generators/common/models/mappers.js
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#18178 [Blocks editor] Show i18n icon on localized blocks fields
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
Labels: source: core:admin, pr: enhancement

#18188 [Blocks editor] Fix disabled state
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/BlocksInput/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
Labels: source: core:admin, pr: fix
