Repository strapi/strapi, pull requests merged in 2023-01, with the labels that each got.

#15284 [fix] Guided tour documentation link
  packages/core/admin/admin/src/components/GuidedTour/Modal/components/Content.js
Labels: source: core:admin, pr: fix

#15213 Add --cache option to lint and prettier scripts
  .gitignore
  package.json
Labels: source: tooling, pr: enhancement

#15208 Update Sentry plugin readme regarding non-prod env
  packages/plugins/sentry/README.md
Labels: source: docs, pr: doc

#15289 fix: zh translations of content-manager.containers.Edit.information.by
  packages/core/admin/admin/src/translations/zh.json
Labels: source: core:upload, pr: fix

#15278 fix: broken translations in EditFolderDialog and various zh translations in Media Library
  packages/core/admin/admin/src/translations/zh.json
  packages/core/upload/admin/src/components/EditFolderDialog/EditFolderDialog.js
  packages/core/upload/admin/src/translations/zh.json
Labels: source: core:upload, pr: fix

#15330 Fix: Prevent CNAME file from being overwritten by the GH action
  .github/workflows/contributor-doc.yml
Labels: source: docs, pr: fix

#15334 Chore: Bump docs dependencies
  docs/package.json
  docs/yarn.lock
Labels: source: docs, pr: chore

#15196 fix(content-manager): close ListSettingsView/EditFieldForm with escape
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/index.js
Labels: source: core:content-manager, pr: fix

#15296 feat: Hungarian admin translations
  packages/core/admin/admin/src/translations/hu.json
Labels: source: core:strapi, pr: chore

#15294 [fix] Boolean field validation in component
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/schema.js
Labels: source: core:content-manager, pr: fix

#15348 Clean markdown files with prettier
  CODE_OF_CONDUCT.md
  packages/plugins/sentry/README.md
  packages/providers/email-nodemailer/README.md
Labels: source: docs, pr: chore

#15349 Use cache for lint-staged scripts
  package.json
Labels: source: tooling, pr: enhancement

#15288 fix: translations of RelationInputDataManager
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/zh.json
Labels: source: core:content-manager, pr: enhancement

#15355 [Playwright]: Add a template application to begin database-dumping
  .github/workflows/playwright.yml
  e2e/app-template/README.md
  e2e/app-template/package.json
  e2e/app-template/template.json
  e2e/app-template/template/src/api/.gitkeep
  e2e/app-template/template/src/api/database/content-types/database/schema.json
  e2e/app-template/template/src/api/database/controllers/database.js
  e2e/app-template/template/src/api/database/routes/database.js
  e2e/app-template/template/src/api/database/services/database.js
  e2e/app-template/template/src/index.js
  e2e/authentication.spec.js
  package.json
  playwright.config.js
  test/helpers/test-app.js
  test/scripts/create-test-app.js
Labels: source: tooling, pr: enhancement

#15381 [Modals]: add in prompt to CTB modals to avoid premature closing and data loss
  packages/core/content-type-builder/admin/src/components/FormModal/index.js
Labels: source: core:content-type-builder, pr: enhancement

#15295 Document the useFetchClient hook
  docs/docs/core/hooks/use-fetch-client.mdx
  docs/sidebars.js
Labels: source: docs, pr: doc

#15386 [e2e]: use DEITS for speedy importing data
  .github/workflows/e2e.yml
  .gitignore
  e2e/app-template/template.json
  e2e/authentication.spec.js
  e2e/data/backup.tar
  e2e/scripts/data-transfer.js
  jest.base-config.js
  lerna.json
  package.json
Labels: source: tooling, pr: chore

#15032 [admin] fix left menu sorting behaviour
  packages/core/admin/admin/src/content-manager/pages/App/LeftMenu/index.js
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/useContentTypeBuilderMenu.js
Labels: source: core:admin, pr: fix

#15385 Update U&P email templating
  packages/core/email/server/services/email.js
  packages/core/utils/lib/index.js
  packages/core/utils/lib/object-formatting.js
  packages/core/utils/lib/template.js
  packages/plugins/users-permissions/server/controllers/validation/__tests__/email-template.test.js
  packages/plugins/users-permissions/server/controllers/validation/email-template.js
  packages/plugins/users-permissions/server/services/user.js
  packages/plugins/users-permissions/server/services/users-permissions.js
Labels: source: plugin:users-permissions, pr: security

#15397 Fix CVE-2022-23539 / CVE-2022-23541 / CVE-2022-23540 / CVE-2022-23529
  packages/core/admin/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: fix

#15399 Prevent license ping for api tests
  .github/actions/run-api-tests/script.sh
Labels: source: tooling, pr: enhancement

#15051 feat: added authLogo setting
  packages/core/admin/server/controllers/__tests__/admin.test.js
  packages/core/admin/server/controllers/admin.js
  packages/core/admin/server/services/__tests__/project-settings.test.js
  packages/core/admin/server/services/project-settings.js
  packages/core/admin/server/validation/project-settings.js
Labels: pr: feature

#14767 Fix: Publishing single-type if config is true, and allow updating the drafts - api
  packages/core/strapi/lib/core-api/service/__tests__/index.test.js
  packages/core/strapi/lib/core-api/service/single-type.js
  packages/core/strapi/tests/single-type.test.api.js
Labels: source: core:strapi, pr: fix

#14208 Remove generic typing form GenericeService
  packages/core/strapi/lib/core-api/service/index.d.ts
Labels: pr: fix, source: typescript

#15396 [Relations/DynamicZones]: manage refetching and cleanData
  examples/getstarted/src/api/kitchensink/content-types/kitchensink/schema.json
  examples/getstarted/src/components/basic/relation.json
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/cleanData.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/RelationInputDataManager.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/tests/RelationInputDataManger.test.js
  packages/core/admin/admin/src/content-manager/hooks/useCallbackRef.js
  packages/core/admin/admin/src/content-manager/hooks/useRelation/tests/useRelation.test.js
  packages/core/admin/admin/src/content-manager/hooks/useRelation/useRelation.js
  packages/core/admin/admin/src/content-manager/utils/getMaxTempKey.js
  packages/core/admin/admin/src/content-manager/utils/paths.js
Labels: source: core:content-manager, pr: fix

#15011 Fix RouterConfig type
  packages/core/strapi/lib/types/factories.d.ts
Labels: pr: chore, source: typescript

#15414 [Relations]: add `strict: false` to API post
  docs/docs/core/content-manager/hooks/use-callback-ref.mdx
  docs/sidebars.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/cleanData.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/tests/cleanData.test.js
Labels: source: core:content-manager, pr: fix

#15439 [docs] Add linking the design system docs
  docs/docs/core/admin/link-strapi-design-system.md
  docs/sidebars.js
Labels: source: docs, pr: doc

#15427 [docs]: add docs for e2e
  docs/docs/testing/e2e/app-template.md
  docs/docs/testing/e2e/data-transfer.md
  docs/docs/testing/e2e/setup.md
  docs/sidebars.js
Labels: source: docs, pr: doc

#15442 Fix incorrect location for command
  docs/docs/core/admin/link-strapi-design-system.md
Labels: source: docs, pr: doc

#15436 Fix/solve snapshots tests failing node 18
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/helper-plugin/lib/src/components/FilterListURLQuery/tests/index.test.js
  packages/core/helper-plugin/lib/src/components/RelativeTime/tests/index.test.js
Labels: source: dependencies, pr: fix

#15369 [webpack]: add browserlist
  packages/core/admin/.browserslistrc
  packages/core/admin/package.json
  packages/core/admin/webpack.config.js
  packages/core/helper-plugin/.browserslistrc
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/webpack.config.js
  yarn.lock
Labels: source: tooling, pr: chore

#15451 fix(VideoAssetCard): dissalow pointer-events on videoPreview
  packages/core/upload/admin/src/components/AssetCard/VideoAssetCard.js
  packages/core/upload/admin/src/components/AssetGridList/tests/__snapshots__/AssetGridList.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
Labels: source: core:upload, pr: fix

#15421 Chore: Update axios to 1.2.2
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  yarn.lock
Labels: source: core:admin, pr: fix

#15428 [chore] Bump DS to 1.4.2
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/tests/index.test.js
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#15458 fix: filter dropped files before trying to upload
  packages/core/admin/admin/src/components/Notifications/Notification/index.js
  packages/core/upload/admin/src/components/MediaLibraryInput/index.js
  packages/core/upload/admin/src/translations/en.json
Labels: source: core:upload, pr: fix

#15459 fix: use box to contain ellipse
  packages/core/admin/admin/src/content-manager/components/DragLayer/RelationDragPreview.js
Labels: source: core:content-manager, pr: fix

#15325 Fix component reordering for mysql
  packages/core/database/lib/entity-manager/regular-relations.js
  packages/core/strapi/tests/components/repeatable-order.test.api.js
Labels: source: core:database, pr: fix

#15461 [useKeyboardDragAndDrop]: add active to keyboard hook to stop it working when not active
  packages/core/admin/admin/src/content-manager/hooks/tests/useKeyboardDragAndDrop.test.js
  packages/core/admin/admin/src/content-manager/hooks/useDragAndDrop.js
  packages/core/admin/admin/src/content-manager/hooks/useKeyboardDragAndDrop.js
Labels: source: core:content-manager, pr: fix

#15464 [DynamicTable]: reverse data from BE to show relations in same order
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationMultiple/index.js
Labels: source: core:content-manager, pr: fix

#15465 [ReactSelect]: use grids but not min-content, just 100%
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/helper-plugin/lib/src/components/ReactSelect/utils/getSelectStyles.js
Labels: source: core:content-manager, pr: fix

#15466 [ReactSelect]: the indicator should not be a dropdown according to their spec
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/Option.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/helper-plugin/lib/src/components/ReactSelect/components/DropdownIndicator.js
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/SelectTree/tests/__snapshots__/SelectTree.test.js.snap
Labels: source: core:helper-plugin, pr: fix

#15467 [RelationsList]: add shadow & fade for shadow not being needed
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/RelationList.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/__snapshots__/RelationList.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
Labels: source: core:content-manager, pr: fix

#15274 [enh] ML Listview video preview
  packages/core/upload/admin/src/components/TableList/CellContent.js
  packages/core/upload/admin/src/components/TableList/PreviewCell.js
  packages/core/upload/admin/src/components/TableList/TableRows.js
  packages/core/upload/admin/src/components/TableList/tests/CellContent.test.js
  packages/core/upload/admin/src/components/TableList/tests/PreviewCell.test.js
  packages/core/upload/admin/src/components/TableList/tests/__snapshots__/CellContent.test.js.snap
Labels: source: core:upload, pr: enhancement

#15462 Add new notification variant to notification component
  packages/core/admin/admin/src/components/Notifications/Notification/index.js
  packages/core/admin/admin/src/components/Notifications/reducer.js
  packages/core/admin/admin/src/components/Notifications/tests/reducer.test.js
  packages/core/helper-plugin/lib/src/hooks/useNotification/useNotification.stories.mdx
Labels: source: core:admin, pr: chore

#15223 Add tiny piece of documentation around the relation component structure
  docs/docs/core/content-manager/relations.mdx
Labels: source: core:content-manager, pr: doc

#15400 axios migration refactoring useFetchClient and getFetchclient
  docs/docs/core/hooks/use-fetch-client.mdx
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/helper-plugin/README.md
  packages/core/helper-plugin/lib/src/hooks/useFetchClient/index.js
  packages/core/helper-plugin/lib/src/index.js
  packages/core/helper-plugin/lib/src/utils/fetchClient/index.js
  packages/core/helper-plugin/lib/src/utils/fetchClient/tests/fetchClient.test.js
  packages/core/helper-plugin/lib/src/utils/getFetchClient/index.js
  packages/core/helper-plugin/lib/src/utils/getFetchClient/tests/getFetchClient.test.js
  packages/core/helper-plugin/lib/src/utils/wrapAxiosInstance/index.js
Labels: source: core:helper-plugin, pr: enhancement

#15487 [design-system]: install design-system 1.5.0
  packages/core/admin/admin/src/components/LeftMenu/index.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/App/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/EditView/DraftAndPublishBadge/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Informations/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/plugins.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/providers.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/plugins.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/providers.test.js
  packages/core/admin/admin/src/pages/ProfilePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/components/SettingsNav/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/SingleSignOn/tests/__snapshots__/index.test.js.snap
  packages/core/admin/package.json
  packages/core/content-type-builder/admin/src/components/AttributeOptions/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
  packages/core/email/admin/src/pages/Settings/tests/index.test.js
  packages/core/helper-plugin/lib/src/components/DateTimePicker/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/PageSizeURLQuery/tests/index.test.js
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/TableList/tests/TableList.test.js
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/tests/__snapshots__/Settings.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.js.snap
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  yarn.lock
Labels: source: external, pr: chore

#15499 Settings: Move SSO page into pages directory
  packages/core/admin/admin/src/pages/SettingsPage/components/SettingsNav/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/tests/__snapshots__/index.test.js.snap
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/tests/server.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/utils/schema.js
  packages/core/admin/ee/admin/pages/SettingsPage/utils/customRoutes.js
Labels: source: core:admin, pr: chore

#15096 [features][Auth logo customization]
  packages/core/admin/admin/src/components/ConfigurationsProvider/index.js
  packages/core/admin/admin/src/components/ConfigurationsProvider/reducer.js
  packages/core/admin/admin/src/components/ConfigurationsProvider/tests/reducer.test.js
  packages/core/admin/admin/src/components/UnauthenticatedLogo/index.js
  packages/core/admin/admin/src/core/utils/axiosInstance.js
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/CustomizationInfos/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/CustomizationInfos/init.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/CustomizationInfos/reducer.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/CustomizationInfos/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/CustomizationInfos/tests/reducer.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/Form/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/tests/AddLogoDialog.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/tests/ImageCardAsset.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/tests/PendingLogoDialog.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/tests/__snapshots__/AddLogoDialog.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/tests/__snapshots__/ImageCardAsset.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/tests/__snapshots__/PendingLogoDialog.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/server.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/utils/api.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/admin/src/permissions/defaultPermissions.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/server/controllers/__tests__/admin.test.js
  packages/core/admin/server/controllers/admin.js
  packages/core/admin/server/services/__tests__/project-settings.test.js
  packages/core/admin/server/services/project-settings.js
  packages/core/admin/server/validation/project-settings.js
Labels: source: core:admin, pr: enhancement

#15513 [Fix] AddLogoDialog snapshots
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/tests/__snapshots__/AddLogoDialog.test.js.snap
Labels: source: core:admin, pr: fix

#15488 Add: Cloud link in README file
  README.md
Labels: source: docs, pr: chore

#15217 (fix) Warn for duplicated inverseBy relationships
  packages/core/database/lib/index.js
  packages/core/database/lib/metadata/relations.js
  packages/core/database/lib/validations/index.js
  packages/core/database/lib/validations/relations/bidirectional.js
  packages/core/database/lib/validations/relations/index.js
Labels: source: core:database, pr: fix

#15501 [FIX] LeftMenu collection type name sorting
  packages/core/admin/admin/src/content-manager/pages/App/LeftMenu/index.js
  packages/core/admin/admin/src/content-manager/pages/App/LeftMenu/utils/index.js
  packages/core/admin/admin/src/content-manager/pages/App/LeftMenu/utils/matchByTitle.js
  packages/core/admin/admin/src/content-manager/pages/App/LeftMenu/utils/tests/matchByTitle.test.js
Labels: source: core:content-manager, pr: fix

#15523 [Information]: styling with semantics
  packages/core/admin/admin/src/content-manager/pages/EditView/Information/index.js
Labels: source: core:content-manager, pr: fix

#15443 CM: Refactor edit-view information box to be visually grouped
  packages/core/admin/admin/src/content-manager/pages/EditView/Information/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Information/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Information/utils/getUnits.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Informations/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/index.js
Labels: source: core:content-manager, pr: enhancement

#15512 Chore: Make field constraint error messages more consistent
  packages/core/admin/admin/src/translations/en.json
  test/config/front/testUtils/commonTrads.json
  test/config/front/testUtils/formatMessages.js
Labels: source: core:content-manager, pr: enhancement

#15509 add db dialect to startup info log
  packages/core/strapi/lib/utils/startup-logger.js
Labels: source: core:strapi, pr: enhancement

#15507 Remove PG Magic Numbers
  packages/core/database/lib/dialects/postgresql/index.js
Labels: source: core:database, pr: enhancement

#15532 Fix: handle missing plugin with proper error message
  packages/core/strapi/lib/core/loaders/plugins/index.js
Labels: source: core:strapi, pr: enhancement

#15412 Update Knex to 2.4.0 to fix CVE-2016-20018
  packages/core/database/package.json
  yarn.lock
Labels: source: dependencies, pr: fix

#15424 Display min/max limits with field description
  packages/core/admin/admin/src/content-manager/components/Hint/index.js
  packages/core/admin/admin/src/content-manager/components/InputUID/index.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/index.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-manager/server/services/utils/configuration/metadatas.js
  packages/core/helper-plugin/lib/src/components/GenericInput/index.js
  packages/core/helper-plugin/lib/src/hooks/useFieldHint/index.js
  packages/core/helper-plugin/lib/src/hooks/useFieldHint/tests/useFieldHint.test.js
  packages/core/helper-plugin/lib/src/hooks/useFieldHint/utils/getFieldUnits.js
  packages/core/helper-plugin/lib/src/hooks/useFieldHint/utils/getMinMax.js
  packages/core/helper-plugin/lib/src/hooks/useFieldHint/utils/index.js
  packages/core/helper-plugin/lib/src/hooks/useFieldHint/utils/tests/getFieldUnits.test.js
  packages/core/helper-plugin/lib/src/hooks/useFieldHint/utils/tests/getMinMax.test.js
Labels: source: core:content-manager, pr: feature

#15549 WYSIWYG: Fix preview pane styles
  packages/core/admin/admin/src/content-manager/components/PreviewWysiwyg/Wrapper.js
Labels: source: core:content-manager, pr: fix

#15552 [fix] ML Video preview size
  packages/core/upload/admin/src/components/TableList/PreviewCell.js
Labels: source: core:upload, pr: fix

#15430 CTB: Replace ToggleInput with Checkbox for the d&p switch
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/EventInput/index.js
  packages/core/content-type-builder/admin/src/components/DraftAndPublishToggle/index.js
  packages/core/content-type-builder/admin/src/components/FormModal/contentType/form.js
  packages/core/content-type-builder/admin/src/components/FormModal/forms/index.js
  packages/core/content-type-builder/admin/src/translations/de.json
  packages/core/content-type-builder/admin/src/translations/dk.json
  packages/core/content-type-builder/admin/src/translations/en.json
  packages/core/content-type-builder/admin/src/translations/es.json
  packages/core/content-type-builder/admin/src/translations/fr.json
  packages/core/content-type-builder/admin/src/translations/id.json
  packages/core/content-type-builder/admin/src/translations/it.json
  packages/core/content-type-builder/admin/src/translations/ko.json
  packages/core/content-type-builder/admin/src/translations/pl.json
  packages/core/content-type-builder/admin/src/translations/pt-BR.json
  packages/core/content-type-builder/admin/src/translations/ru.json
  packages/core/content-type-builder/admin/src/translations/sv.json
  packages/core/content-type-builder/admin/src/translations/tr.json
  packages/core/content-type-builder/admin/src/translations/zh.json
  packages/plugins/i18n/admin/src/index.js
  packages/plugins/i18n/admin/src/translations/de.json
  packages/plugins/i18n/admin/src/translations/dk.json
  packages/plugins/i18n/admin/src/translations/en.json
  packages/plugins/i18n/admin/src/translations/es.json
  packages/plugins/i18n/admin/src/translations/fr.json
  packages/plugins/i18n/admin/src/translations/ko.json
  packages/plugins/i18n/admin/src/translations/pl.json
  packages/plugins/i18n/admin/src/translations/tr.json
  packages/plugins/i18n/admin/src/translations/zh-Hans.json
  packages/plugins/i18n/admin/src/translations/zh.json
Labels: source: core:content-type-builder, pr: enhancement

#15530 [DEITS] Import or export error, missing database connection
  packages/core/strapi/lib/commands/transfer/utils.js
Labels: pr: enhancement

#15426 Consistent ordering of recommended versions table in README
  README.md
  packages/core/strapi/README.md
Labels: source: docs, pr: doc

#15562 Add integration tests for transactions
  packages/core/database/lib/tests/transactions.test.api.js
Labels: source: core:database, pr: chore

#15517 Admin: Allow reducers to be injected async into the store
  packages/core/admin/admin/src/core/store/configureStore.js
  packages/core/admin/admin/src/core/store/createReducer.js
  packages/core/admin/admin/src/core/store/tests/configureStore.test.js
Labels: source: core:admin, pr: enhancement

#15563 WYSIWYG: Fix CSS flex setup to take the toolbar into account
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/EditorLayout.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/tests/index.test.js
Labels: source: core:content-manager, pr: fix

#15535 Prevent deadlocks on components and locale updates
  packages/core/strapi/lib/services/entity-service/components.js
  packages/core/upload/server/services/upload.js
  packages/plugins/i18n/server/services/localizations.js
Labels: source: core:strapi, pr: fix

#15382 Fix: Access/ID Tokens using Cognito Login Provider
  packages/plugins/users-permissions/admin/src/pages/Providers/utils/forms.js
  packages/plugins/users-permissions/package.json
  packages/plugins/users-permissions/server/services/providers-registry.js
  yarn.lock
Labels: source: plugin:users-permissions, pr: security

#15578 Chore: Remove fontawesome dependencies
  packages/core/admin/package.json
  yarn.lock
Labels: source: core:admin, pr: fix

#15147 Online license verification
  packages/admin-test-utils/lib/setup/strapi.js
  packages/core/admin/admin/src/index.js
  packages/core/admin/ee/admin/hooks/useSettingsMenu/utils/customAdminLinks.js
  packages/core/admin/ee/admin/pages/SettingsPage/utils/customRoutes.js
  packages/core/admin/ee/server/bootstrap.js
  packages/core/admin/ee/server/routes/features-routes.js
  packages/core/admin/ee/server/routes/index.js
  packages/core/admin/ee/server/services/__tests__/audit-logs.test.js
  packages/core/admin/ee/server/services/__tests__/passport.test.js
  packages/core/admin/ee/server/services/__tests__/sso.test.js
  packages/core/admin/ee/server/services/audit-logs.js
  packages/core/admin/ee/server/services/passport.js
  packages/core/admin/ee/server/services/passport/sso.js
  packages/core/admin/server/controllers/__tests__/admin.test.js
  packages/core/admin/server/controllers/admin.js
  packages/core/admin/strapi-server.js
  packages/core/strapi/ee/ee-store.js
  packages/core/strapi/ee/index.js
  packages/core/strapi/ee/license.js
  packages/core/strapi/ee/resources/key.pub
  packages/core/strapi/lib/Strapi.js
  packages/core/strapi/lib/commands/builders/admin.js
  packages/core/strapi/lib/services/metrics/index.js
  packages/core/strapi/lib/services/metrics/sender.js
  packages/core/strapi/lib/utils/cron.js
  packages/core/strapi/lib/utils/ee.js
  packages/core/strapi/lib/utils/startup-logger.js
  packages/core/strapi/package.json
Labels: source: core:strapi, pr: feature

#15577 Remove --detectOpenHandles from "api" tests
  test/api.js
Labels: source: tooling, pr: fix

#15570 Add new useInjectReducer() hook
  packages/core/admin/admin/src/hooks/useInjectReducer/index.js
  packages/core/admin/admin/src/hooks/useInjectReducer/tests/useInjectReducer.test.js
  packages/core/admin/admin/src/hooks/useInjectReducer/useInjectReducer.js
Labels: source: core:admin, pr: enhancement

#15591 Bump database client versions
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  packages/generators/app/lib/utils/db-client-dependencies.js
  yarn.lock
Labels: pr: chore, source: generators:app

#15597 Browserslist: exclude dead browsers
  packages/core/admin/.browserslistrc
  packages/core/helper-plugin/.browserslistrc
Labels: source: core:admin, pr: enhancement

#15350 replace axiosInstance with getFetchClient inside the users-permissions
  packages/plugins/users-permissions/admin/src/hooks/useFetchRole/index.js
  packages/plugins/users-permissions/admin/src/hooks/usePlugins/index.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/utils/api.js
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/utils/api.js
  packages/plugins/users-permissions/admin/src/pages/Providers/utils/api.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/index.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/index.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/utils/api.js
  packages/plugins/users-permissions/admin/src/utils/axiosInstance.js
  packages/plugins/users-permissions/admin/src/utils/index.js
Labels: source: plugin:users-permissions, pr: enhancement

#15604 [Audit logs] Make JSON input the size of its content
  packages/core/admin/ee/admin/pages/SettingsPage/pages/AuditLogs/ListView/Modal/ActionBody.js
Labels: source: core:admin, pr: chore

#15598 [DEITS] Import: Add specific error messages and only allow importing valid extensions
  packages/core/data-transfer/src/file/providers/source/index.ts
  packages/core/strapi/bin/strapi.js
Labels: source: core:strapi, pr: enhancement

#15625 Chore: Bump react-intl from v5 to 6.2.7
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/documentation/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#15627 Chore: Update and unpin babel dependencies
  package.json
  packages/core/admin/package.json
  packages/utils/babel-plugin-switch-ee-ce/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#15516 [FIX] documentation plugin config typo
  packages/plugins/documentation/README.md
Labels: source: plugin:documentation, pr: fix

#15626 Chore: Update webpack dependencies
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#15629 Chore: Update and unpin @babel/template
  packages/utils/babel-plugin-switch-ee-ce/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#15630 Chore: Update webpack loaders
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#15584 Add translation Euskara for Admin UI
  packages/core/admin/admin/src/translations/eu.json
  packages/core/admin/admin/src/translations/languageNativeNames.js
Labels: source: core:admin, pr: chore

#15525 Update ru.json
  packages/core/admin/admin/src/translations/ru.json
Labels: source: core:admin, pr: chore

#15611 feat(async-utils): map
  docs/docs/core/utils/async.md
  packages/core/utils/lib/__tests__/async.test.js
  packages/core/utils/lib/async.d.ts
  packages/core/utils/lib/async.js
  packages/core/utils/lib/index.js
  packages/core/utils/lib/pipe-async.js
  packages/core/utils/lib/sanitize/index.js
  packages/core/utils/lib/sanitize/sanitizers.js
  packages/core/utils/package.json
Labels: source: core:utils, pr: enhancement

#15609 [DEITS] Improve error messaging on import schema validation
  packages/core/data-transfer/src/engine/index.ts
  packages/core/data-transfer/src/utils/json.ts
Labels: source: core:strapi, pr: enhancement

#15583 feat(review-workflow): Workflow content type and controllers
  packages/core/admin/ee/server/constants/workflows.js
  packages/core/admin/ee/server/content-types/index.js
  packages/core/admin/ee/server/content-types/workflow/index.js
  packages/core/admin/ee/server/controllers/index.js
  packages/core/admin/ee/server/controllers/workflows/index.js
  packages/core/admin/ee/server/index.js
  packages/core/admin/ee/server/routes/index.js
  packages/core/admin/ee/server/services/__tests__/workflows.test.js
  packages/core/admin/ee/server/services/index.js
  packages/core/admin/ee/server/services/workflows.js
  packages/core/admin/ee/server/tests/review-workflows.test.api.js
  packages/core/admin/ee/server/utils/index.js
  packages/core/strapi/ee/license.js
Labels: pr: feature, flag: EE

#15534 Fix and updates for plugin translations
  packages/plugins/color-picker/README.md
  packages/plugins/color-picker/admin/src/translations/cs.json
  packages/plugins/color-picker/admin/src/translations/en.json
  packages/plugins/color-picker/admin/src/translations/ru.json
  packages/plugins/color-picker/admin/src/translations/sv.json
  packages/plugins/color-picker/admin/src/translations/tr.json
  packages/plugins/color-picker/admin/src/translations/zh.json
Labels: pr: chore, source: plugin: color-picker

#15606 [Content Manager] Add the new JSONInput from the DS to the CM
  packages/core/admin/admin/src/content-manager/components/InputJSON/FieldWrapper.js
  packages/core/admin/admin/src/content-manager/components/InputJSON/Label.js
  packages/core/admin/admin/src/content-manager/components/InputJSON/components.js
  packages/core/admin/admin/src/content-manager/components/InputJSON/index.js
  packages/core/admin/admin/src/content-manager/components/InputJSON/jsonlint.js
  packages/core/admin/admin/src/content-manager/components/Inputs/index.js
  packages/core/helper-plugin/lib/src/components/GenericInput/index.js
  packages/core/helper-plugin/lib/src/components/GenericInput/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/lib/src/components/GenericInput/tests/index.test.js
Labels: source: core:content-manager, pr: chore

#15639 [DEITS] import command should throw jsonl parse errors
  packages/core/data-transfer/package.json
  packages/core/data-transfer/src/file/providers/source/index.ts
  yarn.lock
Labels: pr: fix, source: core:data-transfer

#15644 Chore: Update caniuse database
  yarn.lock
Labels: source: core:admin, pr: chore

#15635 Settings: Connect Review Workflow UI, data loader and redux
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/ReviewWorkflows.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/actions/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/actions/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/Stage.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/tests/Stage.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stages.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/tests/Stages.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/constants.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/hooks/tests/useReviewWorkflows.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/hooks/useReviewWorkflows.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/reducer/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/reducer/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/tests/ReviewWorkflows.test.js
Labels: source: core:review-workflows

#15599 replace axiosInstance with getFetchClient inside the upload
  packages/core/upload/admin/src/components/EditFolderDialog/tests/EditFolderDialog.test.js
  packages/core/upload/admin/src/hooks/tests/useAssets.test.js
  packages/core/upload/admin/src/hooks/tests/useBulkMove.test.js
  packages/core/upload/admin/src/hooks/tests/useBulkRemove.test.js
  packages/core/upload/admin/src/hooks/tests/useConfig.test.js
  packages/core/upload/admin/src/hooks/tests/useEditFolder.test.js
  packages/core/upload/admin/src/hooks/tests/useFolder.test.js
  packages/core/upload/admin/src/hooks/tests/useFolderStructure.test.js
  packages/core/upload/admin/src/hooks/tests/useFolders.test.js
  packages/core/upload/admin/src/hooks/useAssets.js
  packages/core/upload/admin/src/hooks/useBulkMove.js
  packages/core/upload/admin/src/hooks/useBulkRemove.js
  packages/core/upload/admin/src/hooks/useConfig.js
  packages/core/upload/admin/src/hooks/useEditAsset.js
  packages/core/upload/admin/src/hooks/useEditFolder.js
  packages/core/upload/admin/src/hooks/useFolder.js
  packages/core/upload/admin/src/hooks/useFolderStructure.js
  packages/core/upload/admin/src/hooks/useFolders.js
  packages/core/upload/admin/src/hooks/useUpload.js
  packages/core/upload/admin/src/pages/SettingsPage/index.js
  packages/core/upload/admin/src/utils/axiosInstance.js
  packages/core/upload/admin/src/utils/deleteRequest.js
  packages/core/upload/admin/src/utils/index.js
Labels: source: core:upload, pr: enhancement
