Repository strapi/strapi, pull requests merged in 2023-05, with the labels that each got.

#16516 [TS] Automatic types generation (dev mode)
  packages/core/strapi/lib/commands/actions/develop/action.js
Labels: pr: feature, source: typescript

#16364 enhancement: Improve mysql concurrency performance
  packages/core/database/lib/index.js
  packages/core/strapi/lib/services/entity-service/components.js
  packages/plugins/i18n/server/services/localizations.js
Labels: source: core:strapi, pr: enhancement

#16587 Chore: CM - Minor cleanup of configure the view
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/constants.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/index.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/utils/api.js
Labels: source: core:content-manager, pr: chore

#16585 Enhancement: Review workflow colors and reordering
  api-tests/core/admin/ee/review-workflows.test.api.js
  packages/core/admin/ee/admin/content-manager/components/DynamicTable/CellContent/ReviewWorkflowsStage/ReviewWorkflowsStageEE.js
  packages/core/admin/ee/admin/content-manager/components/DynamicTable/CellContent/ReviewWorkflowsStage/getTableColumn.js
  packages/core/admin/ee/admin/content-manager/components/DynamicTable/CellContent/ReviewWorkflowsStage/tests/ReviewWorkflowsStage.test.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/InformationBoxEE.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/tests/InformationBoxEE.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/ReviewWorkflows.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/actions/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/StageDragPreview/StageDragPreview.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/StageDragPreview/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/Stage.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/components/OptionColor/OptionColor.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/components/OptionColor/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/components/SingleValueColor/SingleValueColor.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/components/SingleValueColor/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/tests/Stage.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stages.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/tests/Stages.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/constants.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/reducer/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/reducer/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/tests/ReviewWorkflows.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/utils/colors.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/utils/getWorkflowValidationSchema.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/utils/tests/colors.test.js
  packages/core/admin/ee/server/constants/workflows.js
  packages/core/admin/ee/server/content-types/workflow-stage/index.js
  packages/core/admin/ee/server/migrations/review-workflows-stages-color.js
  packages/core/admin/ee/server/register.js
  packages/core/admin/ee/server/services/review-workflows/stages.js
  packages/core/admin/ee/server/validation/review-workflows.js
  packages/core/helper-plugin/src/components/DynamicTable/TableHead/index.js
Labels: source: core:admin, pr: enhancement

#16584 Renamed message when running in production.
  packages/core/content-type-builder/admin/src/translations/en.json
Labels: source: core:content-type-builder, pr: chore

#15748 docs: api reference
  docs/.eslintrc.docs.js
  docs/docs/api/Strapi.mdx
  docs/docs/api/api.mdx
  docs/docs/api/components/type.jsx
  docs/docs/api/container.mdx
  docs/docs/api/cron.mdx
  docs/docs/api/event-hub.mdx
  docs/docs/api/index.md
  docs/docs/api/startup-logger.mdx
  docs/docs/api/strapi-fs.mdx
  docs/docs/api/strapi-server.mdx
  docs/docs/api/structure.example
  docs/docs/api/telemetry.mdx
  packages/core/strapi/lib/Strapi.js
Labels: source: docs, pr: doc

#16592 Cloning entities FE fixes
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/RelationInputDataManager.js
Labels: source: core:content-manager, pr: fix

#16458 feat(RW): config flag to deactivate review workflows
  api-tests/core/admin/ee/review-workflows.test.api.js
  examples/getstarted/config/admin.js
  packages/core/admin/ee/server/bootstrap.js
  packages/core/strapi/ee/index.js
  packages/core/strapi/ee/license.js
Labels: flag: documentation

#16484 feat: register admin routes like any other plugin
  packages/core/admin/ee/server/routes/audit-logs.js
  packages/core/admin/ee/server/routes/index.js
  packages/core/admin/ee/server/routes/license-limit.js
  packages/core/admin/ee/server/routes/review-workflows.js
  packages/core/admin/ee/server/routes/sso.js
  packages/core/admin/ee/server/routes/utils.js
  packages/core/admin/server/routes/index.js
  packages/core/strapi/lib/services/server/register-routes.js
Labels: source: core:strapi, pr: chore

#16611 chore: update ds@1.7.3
  examples/getstarted/package.json
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/ProfilePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/tests/__snapshots__/index.test.js.snap
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/admin/src/pages/Settings/tests/index.test.js
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/src/components/DateTimePicker/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/src/components/PageSizeURLQuery/tests/index.test.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/Breadcrumbs/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/tests/__snapshots__/Settings.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.js.snap
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/admin/src/components/LocaleSelect/tests/__snapshots__/LocaleSelect.test.js.snap
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#16614 Chore: Update success notification text
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/InformationBoxEE.js
Labels: source: core:content-manager, pr: chore

#16616 Fix: Reset gap between stage action buttons
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/Stage.js
Labels: source: core:admin, pr: fix

#16626 chore: bump aws-sdk version
  packages/providers/upload-aws-s3/package.json
  yarn.lock
Labels: source: core:upload, pr: chore

#16607 feat(review-workflow): content api
  api-tests/core/admin/ee/review-workflows.test.api.js
  packages/core/admin/ee/server/controllers/content-api/workflows/index.js
  packages/core/admin/ee/server/controllers/content-api/workflows/stages/index.js
  packages/core/admin/ee/server/controllers/index.js
  packages/core/admin/ee/server/routes/review-workflows.js
  packages/core/admin/ee/server/services/__tests__/stages.test.js
  packages/core/admin/ee/server/services/review-workflows/stages.js
  packages/core/admin/ee/server/services/review-workflows/workflows.js
  packages/core/admin/ee/server/validation/review-workflows.js
  packages/core/strapi/lib/services/server/register-routes.js
Labels: pr: feature, source: core:review-workflows

#16636 Sanitize input query for all core controllers
  packages/core/strapi/lib/core-api/controller/collection-type.js
  packages/core/strapi/lib/core-api/controller/index.js
  packages/core/utils/lib/traverse/query-populate.js
Labels: source: core:strapi, pr: fix

#16635 Stop mocking useTracking
  packages/admin-test-utils/custom.d.ts
  packages/admin-test-utils/src/environment.ts
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/index.test.js
  packages/core/admin/admin/src/pages/Admin/index.js
  packages/core/admin/admin/src/pages/Admin/tests/index.test.js
  packages/core/admin/admin/src/pages/Admin/tests/useTrackUsage.test.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/plugins.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/providers.test.js
  packages/core/admin/admin/src/pages/ProfilePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/components/SettingsNav/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/Table/DeleteButton/tests/DeleteButton.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/CustomizationInfos/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/CreatePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/tests/Stage.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/tests/Stages.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/tests/ReviewWorkflows.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/tests/index.test.js
  packages/core/content-type-builder/admin/src/components/AttributeOptions/tests/index.test.js
  packages/core/content-type-builder/admin/src/components/FormModalNavigationProvider/tests/index.test.js
  packages/core/content-type-builder/admin/src/pages/ListView/tests/index.test.js
  packages/core/helper-plugin/src/features/Tracking.js
  packages/core/helper-plugin/src/features/tests/Tracking.test.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/SearchAsset/tests/index.test.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/index.test.js
  packages/core/upload/admin/src/components/AssetDialog/tests/AssetDialog.test.js
  packages/core/upload/admin/src/components/EditFolderDialog/tests/EditFolderDialog.test.js
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/tests/CarouselAssets.test.js
  packages/core/upload/admin/src/components/TableList/tests/TableList.test.js
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/PendingAssetStep.test.js
  packages/core/upload/admin/src/hooks/tests/useConfig.test.js
  packages/core/upload/admin/src/hooks/tests/useModalQueryParams.test.js
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Providers/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/tests/index.test.js
Labels: source: tooling, pr: chore

#16612 Update Russian translation for core:admin
  packages/core/admin/admin/src/translations/ru.json
Labels: source: core:admin, pr: chore

#16615 Created Russian translation for plugin:i18n
  packages/plugins/i18n/admin/src/translations/ru.json
Labels: source: plugin:i18n, pr: chore

#16517 fix testMatch /ignore
  jest-preset.front.js
  jest-preset.unit.js
Labels: source: tooling, pr: fix

#16640 fix: change alignment from stretch to center
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
Labels: source: core:admin, pr: fix

#16613 Fix: Add border to stage color badges
  packages/core/admin/ee/admin/content-manager/components/DynamicTable/CellContent/ReviewWorkflowsStage/ReviewWorkflowsStageEE.js
  packages/core/admin/ee/admin/content-manager/components/DynamicTable/CellContent/ReviewWorkflowsStage/tests/ReviewWorkflowsStage.test.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/tests/InformationBoxEE.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/components/OptionColor/OptionColor.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/components/SingleValueColor/SingleValueColor.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/reducer/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/utils/colors.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/utils/tests/colors.test.js
Labels: source: core:admin, pr: fix

#16646 Chore: Remove unnecessary styled overwrites
  packages/core/helper-plugin/src/components/DynamicTable/index.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/PaginationFooter/Pagination.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/index.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
Labels: source: core:helper-plugin, pr: chore

#16668 Fix broken open documentation link
  packages/plugins/documentation/admin/src/pages/PluginPage/index.js
  packages/plugins/documentation/admin/src/pages/utils/useReactQuery.js
Labels: source: plugin:documentation, pr: fix

#16292 [fix] remove Expect-CT response header
  packages/core/strapi/package.json
  yarn.lock
Labels: source: core:strapi, pr: fix

#16670 Bump DS to 1.7.4
  examples/getstarted/package.json
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/NoContentType/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/NoPermissions/tests/index.test.js
  packages/core/admin/admin/src/pages/InternalErrorPage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/NotFoundPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/Breadcrumbs/tests/__snapshots__/index.test.js.snap
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/tests/index.test.js
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#16644 Extend CustomFieldServerOptions types
  packages/core/strapi/lib/types/core/strapi/index.d.ts
Labels: pr: enhancement, source: typescript

#16681 `origin` will be type `string` if present
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/database/package.json
  yarn.lock
Labels: source: core:content-manager, pr: fix

#16675 Fix: Fix toOne sorting in CM list-view
  packages/core/admin/ee/admin/content-manager/components/DynamicTable/CellContent/ReviewWorkflowsStage/getTableColumn.js
  packages/core/helper-plugin/src/components/DynamicTable/TableHead/index.js
Labels: source: core:content-manager, pr: fix

#16634 [DTS] Allow schema check bypass; remove data that cannot be transfered
  packages/core/data-transfer/src/engine/__tests__/engine.test.ts
  packages/core/data-transfer/src/engine/index.ts
  packages/core/data-transfer/src/utils/middleware.ts
  packages/core/data-transfer/types/transfer-engine.d.ts
  packages/core/strapi/lib/commands/actions/export/__tests__/export.test.js
  packages/core/strapi/lib/commands/actions/export/action.js
  packages/core/strapi/lib/commands/actions/import/__tests__/import.test.js
  packages/core/strapi/lib/commands/actions/import/action.js
  packages/core/strapi/lib/commands/actions/import/command.js
  packages/core/strapi/lib/commands/actions/transfer/__tests__/transfer.test.js
  packages/core/strapi/lib/commands/actions/transfer/action.js
  packages/core/strapi/lib/commands/actions/transfer/command.js
  packages/core/strapi/lib/commands/utils/commander.js
  packages/core/strapi/lib/commands/utils/data-transfer.js
Labels: severity: high, pr: fix, source: core:data-transfer

#16686 Update DS to 1.7.5
  examples/getstarted/package.json
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/admin/src/components/LocaleSelect/tests/__snapshots__/LocaleSelect.test.js.snap
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#16465 Collection names and ids uniqueness
  api-tests/core/content-type-builder/collection-type.test.api.js
  packages/core/content-type-builder/admin/src/components/FormModal/contentType/createContentTypeSchema.js
  packages/core/content-type-builder/admin/src/components/FormModal/forms/index.js
  packages/core/content-type-builder/admin/src/translations/en.json
  packages/core/content-type-builder/server/controllers/validation/content-type.js
Labels: source: core:content-type-builder, pr: enhancement

#16666 Settings: Split review workflows into list and edit-view
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/EditView/EditView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/EditView/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/EditView/tests/EditView.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/ListView/ListView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/ListView/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/ListView/tests/ListView.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/utils/customRoutes.js
Labels: source: core:admin, pr: feature

#16705 Make sure the admin user email is defined before trying to use it
  packages/core/strapi/lib/services/metrics/admin-user-hash.js
Labels: source: core:admin, pr: fix

#16693 Remove @vscode/sqlite3 from example and CI matrix
  .github/workflows/tests.yml
  examples/getstarted/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#16648 Wait for websocket to open only once in transfer pull
  packages/core/data-transfer/src/strapi/providers/remote-source/index.ts
  packages/core/data-transfer/src/strapi/providers/utils.ts
Labels: pr: fix, source: core:data-transfer

#16706 Reintroduce the environment property in the tracking system
  packages/core/strapi/lib/Strapi.js
Labels: source: core:strapi, pr: chore

#16697 Add more flexibility to factory types
  packages/core/strapi/lib/core-api/controller/index.d.ts
  packages/core/strapi/lib/core-api/service/index.d.ts
  packages/core/strapi/lib/types/factories.d.ts
Labels: pr: enhancement, source: typescript

#16736 Chore: Add eslint rule to forbid access to the strapi global
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/index.js
  packages/core/admin/ee/admin/pages/AuthPage/components/Login/index.js
  packages/core/admin/ee/admin/pages/AuthPage/components/Providers/SSOProviders.js
  packages/core/admin/ee/admin/pages/AuthPage/components/Providers/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/ListPage/ModalForm/utils/formDataModel.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/ListPage/ModalForm/utils/roleSettingsForm.js
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/utils/serverRestartWatcher.js
  packages/plugins/documentation/admin/src/utils/openWithNewTab.js
  packages/plugins/users-permissions/admin/src/components/FormModal/Input/index.js
  packages/plugins/users-permissions/admin/src/components/FormModal/Input/tests/index.test.js
  packages/utils/eslint-config-custom/front.js
Labels: source: core:admin, pr: enhancement

#16628 Chore: Replace axios calls with helper-plugin utils
  docs/docs/docs/01-core/helper-plugin/hooks/use-fetch-client.mdx
  packages/admin-test-utils/package.json
  packages/admin-test-utils/src/after-env.ts
  packages/core/admin/admin/src/components/AuthenticatedApp/utils/api.js
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/hooks/useFetchContentTypeLayout/index.js
  packages/core/admin/admin/src/content-manager/pages/App/useContentManagerInitData.js
  packages/core/admin/admin/src/content-manager/pages/ComponentSetttingsView/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/hooks/marketplace/constants.js
  packages/core/admin/admin/src/hooks/marketplace/useFetchMarketplacePlugins/index.js
  packages/core/admin/admin/src/hooks/marketplace/useFetchMarketplaceProviders/index.js
  packages/core/admin/admin/src/hooks/useFetchMarketplacePlugins/utils/api.js
  packages/core/admin/admin/src/hooks/useFetchMarketplaceProviders/utils/api.js
  packages/core/admin/admin/src/hooks/useReleaseNotification/utils/api.js
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/utils/useMarketplaceData.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/utils/urlToFile.js
  packages/core/admin/admin/src/pages/UseCasePage/index.js
  packages/core/helper-plugin/src/utils/getFetchClient/index.js
  packages/core/helper-plugin/src/utils/getFetchClient/tests/getFetchClient.test.js
  packages/core/upload/admin/src/components/UploadAssetDialog/AddAssetStep/tests/FromComputerForm.test.js
  packages/core/upload/admin/src/utils/downloadFile.js
  packages/core/upload/admin/src/utils/urlsToAssets.js
  yarn.lock
Labels: source: core:admin, pr: chore

#16749 chore: remove react-fast-compare
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/index.js
  packages/core/admin/admin/src/content-manager/components/FieldComponent/index.js
  packages/core/admin/admin/src/content-manager/components/Inputs/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/DeleteLink/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/index.js
  packages/core/admin/admin/src/content-manager/pages/EditViewLayoutManager/Permissions.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/package.json
  packages/core/admin/webpack.alias.js
  yarn.lock
Labels: source: dependencies, pr: chore

#16746 Remove all references to airtable assets and switch to market-assets
  packages/providers/upload-aws-s3/README.md
  packages/providers/upload-cloudinary/README.md
Labels: source: docs, pr: doc

#16731 chore: align swc usage for test:unit and fix swc/helpers hazards
  jest-preset.unit.js
  package.json
  packages/core/data-transfer/jest.config.js
  packages/generators/generators/jest.config.js
  packages/providers/email-mailgun/jest.config.js
  packages/providers/upload-aws-s3/jest.config.js
  packages/providers/upload-local/jest.config.js
  yarn.lock
Labels: source: tooling, pr: chore

#16759 fix: Media library folders and files can get unintentionally deleted
  api-tests/core/upload/admin/folder-file.test.api.js
  packages/core/upload/server/services/folder.js
Labels: source: core:upload, pr: fix

#16700 [Webhooks FE] Refactor List view
  packages/core/admin/admin/src/hooks/marketplace/constants.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/EventInput/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/EventInput/tests/formatValue.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/EventInput/utils/formatValue.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/reducer.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/tests/reducer.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/tests/server.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-type-builder/admin/src/components/FormModal/contentType/createContentTypeSchema.js
  packages/core/content-type-builder/admin/src/components/FormModal/forms/index.js
Labels: source: core:admin, pr: chore

#16404 fix: Description and min/max characters not visible during error screen
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:content-manager, pr: fix

#16760 fix: Some folders can't be moved inside others
  packages/core/upload/server/controllers/utils/folders.js
  packages/core/upload/server/controllers/validation/admin/folder-file.js
  packages/core/upload/server/controllers/validation/admin/folder.js
Labels: source: core:upload, pr: fix

#16791 Chore: Refactor useModels to use react-query rather than useReducer
  docs/docs/docs/01-core/content-manager/hooks/use-content-types.mdx
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/useContentTypes/__mocks__/index.js
  packages/core/admin/admin/src/hooks/useContentTypes/index.js
  packages/core/admin/admin/src/hooks/useContentTypes/tests/useContentTypes.test.js
  packages/core/admin/admin/src/hooks/useContentTypes/useContentTypes.js
  packages/core/admin/admin/src/hooks/useModels/index.js
  packages/core/admin/admin/src/hooks/useModels/reducer.js
  packages/core/admin/admin/src/hooks/useModels/tests/reducer.test.js
  packages/core/admin/admin/src/pages/HomePage/index.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/index.js
Labels: source: core:content-manager, pr: chore

#16797 Revert "Chore: Refactor useModels to use react-query rather than useReducer"
  docs/docs/docs/01-core/content-manager/hooks/use-content-types.mdx
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/useContentTypes/__mocks__/index.js
  packages/core/admin/admin/src/hooks/useContentTypes/index.js
  packages/core/admin/admin/src/hooks/useContentTypes/tests/useContentTypes.test.js
  packages/core/admin/admin/src/hooks/useContentTypes/useContentTypes.js
  packages/core/admin/admin/src/hooks/useModels/index.js
  packages/core/admin/admin/src/hooks/useModels/reducer.js
  packages/core/admin/admin/src/hooks/useModels/tests/reducer.test.js
  packages/core/admin/admin/src/pages/HomePage/index.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/index.js
Labels: source: core:content-manager, pr: chore

#16799 chore: license in strapi/ee needs prefix
  packages/core/strapi/ee/LICENSE.txt
Labels: source: docs, pr: fix

#16789 fix collection names check for plural names in edit
  packages/core/content-type-builder/admin/src/components/FormModal/forms/index.js
Labels: source: core:content-type-builder, pr: fix

#16768 feature: onCommit , onRollback transaction methods
  api-tests/core/database/transactions.test.api.js
  packages/core/admin/ee/server/services/__tests__/audit-logs.test.js
  packages/core/admin/ee/server/services/audit-logs.js
  packages/core/database/lib/index.d.ts
  packages/core/database/lib/index.js
  packages/core/database/lib/transaction-context.js
Labels: source: core:database, pr: enhancement

#16751 feat: introduce useClipboard hook to remove dependency
  docs/docs/docs/01-core/helper-plugin/hooks/use-callback-ref.mdx
  docs/docs/docs/01-core/helper-plugin/hooks/use-clipboard.mdx
  packages/admin-test-utils/src/environment.ts
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/InstallPluginButton.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/TokenBox/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/components/MagicLink/MagicLinkWrapper.js
  packages/core/admin/package.json
  packages/core/admin/webpack.alias.js
  packages/core/helper-plugin/src/hooks/tests/useClipboard.test.js
  packages/core/helper-plugin/src/hooks/useClipboard.js
  packages/core/helper-plugin/src/index.js
  packages/core/upload/admin/src/components/CopyLinkButton/index.js
  packages/core/upload/admin/src/components/EditAssetDialog/tests/EditAssetDialog.test.js
  packages/core/upload/admin/src/components/EditAssetDialog/tests/index.test.js
  packages/core/upload/package.json
  packages/plugins/documentation/package.json
  yarn.lock
Labels: source: core:helper-plugin, pr: enhancement

#16804 Chore: Refactor useModels to use react-query rather than useReducer
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/useContentTypes/index.js
  packages/core/admin/admin/src/hooks/useContentTypes/tests/useContentTypes.test.js
  packages/core/admin/admin/src/hooks/useContentTypes/useContentTypes.js
  packages/core/admin/admin/src/hooks/useModels/index.js
  packages/core/admin/admin/src/hooks/useModels/reducer.js
  packages/core/admin/admin/src/hooks/useModels/tests/reducer.test.js
  packages/core/admin/admin/src/pages/HomePage/index.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/index.js
Labels: source: core:content-manager, pr: chore

#16808 chore: add file extension to remove-dist-tag workflow
  .github/workflows/remove-dist-tag.yml
Labels: source: tooling, pr: chore

#16777 fix template data.db location
  packages/generators/app/src/resources/templates/database-templates/js/database.template
  packages/generators/app/src/resources/templates/database-templates/ts/database.template
Labels: pr: fix, source: generators:app

#16809 Chore: Add docs and auto-mock for useContentTypes()
  docs/docs/docs/01-core/content-manager/hooks/use-content-types.mdx
  jest-preset.front.js
  packages/core/admin/admin/src/hooks/useContentTypes/__mocks__/index.js
  packages/core/admin/admin/src/hooks/useContentTypes/tests/index.test.js
  packages/core/admin/admin/src/hooks/useContentTypes/useContentTypes.js
  packages/core/admin/admin/src/pages/HomePage/index.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
Labels: source: core:content-manager, pr: doc

#16816 Enhancement: Create useAdminUsers data fetching hook
  docs/docs/docs/01-core/admin/04-hooks/_category_.json
  docs/docs/docs/01-core/admin/04-hooks/use-admin-users.mdx
  packages/core/admin/admin/src/hooks/useAdminUsers/__mocks__/index.js
  packages/core/admin/admin/src/hooks/useAdminUsers/index.js
  packages/core/admin/admin/src/hooks/useAdminUsers/tests/useAdminUsers.test.js
  packages/core/admin/admin/src/hooks/useAdminUsers/useAdminUsers.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/EditPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/EditPage/utils/api.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/utils/api.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/AuditLogs/ListView/hooks/useAuditLogsData.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/AuditLogs/ListView/tests/getDisplayedFilters.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/AuditLogs/ListView/utils/getDisplayedFilters.js
Labels: source: core:admin, pr: enhancement

#16833 Remove typedoc dev dependency
  package.json
  yarn.lock
Labels: source: tooling, pr: chore

#16843 Chore: Update @strapi/design-system and @strapi/icons to 1.7.9
  examples/getstarted/package.json
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/ProfilePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/tests/__snapshots__/index.test.js.snap
  packages/core/admin/package.json
  packages/core/content-type-builder/admin/src/components/AttributeOptions/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/package.json
  packages/core/email/admin/src/pages/Settings/tests/index.test.js
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/AssetGridList/tests/__snapshots__/AssetGridList.test.js.snap
  packages/core/upload/admin/src/components/Breadcrumbs/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.js.snap
  packages/core/upload/admin/src/components/ContextInfo/tests/__snapshots__/ContextInfo.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/tests/__snapshots__/Settings.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.js.snap
  packages/core/upload/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/admin/src/pages/SettingsPage/tests/index.test.js
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/tests/index.test.js
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#16807 doc: transactions
  docs/docs/docs/01-core/database/01-relations/_category_.json
  docs/docs/docs/01-core/database/01-relations/reordering.mdx
  docs/docs/docs/01-core/database/02-transactions.md
Labels: source: core:database, pr: doc

#16673 Translation english to arabic
  packages/core/admin/admin/src/translations/ar.json
Labels: source: core:admin, pr: enhancement

#16486 [fix] i18n entity-service decorator findMany
  packages/plugins/i18n/server/services/__tests__/entity-service-decorator.test.js
  packages/plugins/i18n/server/services/entity-service-decorator.js
Labels: source: plugin:i18n, pr: fix

#16478 feat(entity service): wrapResult
  packages/core/strapi/lib/services/entity-service/index.js
Labels: source: core:strapi, pr: enhancement

#16518 feat: Signed Private URLs in entity service
  api-tests/core/upload/content-api/private-file-signing.test.api.js
  packages/core/strapi/lib/services/entity-service/index.js
  packages/core/upload/server/__tests__/bootstrap.test.js
  packages/core/upload/server/__tests__/register.test.js
  packages/core/upload/server/bootstrap.js
  packages/core/upload/server/register.js
  packages/core/upload/server/services/extensions/__tests__/sign-media.test.js
  packages/core/upload/server/services/extensions/core/entity-service.js
  packages/core/upload/server/services/extensions/core/index.js
  packages/core/upload/server/services/extensions/index.js
  packages/core/upload/server/services/extensions/utils.js
Labels: source: core:upload, pr: enhancement

#16861 Chore: Notification - Add missing translation
  packages/core/admin/admin/src/translations/en.json
  packages/core/helper-plugin/src/features/Notifications.js
Labels: source: core:helper-plugin, pr: chore

#16862 Chore: Remove stray console log
  packages/core/admin/admin/src/hooks/useContentTypes/useContentTypes.js
Labels: source: core:admin, pr: chore

#16865 fix: init sentry only when generating an app
  packages/generators/app/src/index.ts
Labels: pr: fix, source: generators:app

#16834 Enhancement: Allow admin users to be assigned to an entity in the CM edit view
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/InformationBoxEE.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/AssigneeSelect/AssigneeSelect.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/AssigneeSelect/index.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/AssigneeSelect/tests/AssigneeSelect.test.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/StageSelect/StageSelect.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/StageSelect/index.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/StageSelect/tests/StageSelect.test.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/constants.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/tests/InformationBoxEE.test.js
Labels: source: core:content-manager, pr: enhancement

#16872 Fix: Fix refetching users
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/index.js
Labels: source: core:admin, pr: fix
