Repository strapi/strapi, pull requests merged in 2023-07, with the labels that each got.

#17139 Fix entity-service filter $between operator to allow Date objects
  packages/core/utils/src/__tests__/convert-query-params.test.ts
  packages/core/utils/src/convert-query-params.ts
Labels: source: core:utils, pr: fix

#17141 [ADMIN] fix bug on saving user details
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/EditPage/index.js
Labels: source: core:admin, pr: fix

#17143 Fix GraphQL pagination results
  api-tests/plugins/graphql/crud.test.api.js
  packages/plugins/graphql/server/services/internals/types/response-collection-meta.js
Labels: source: plugin:graphql, pr: fix

#17140 refactor: useRBAC hook to stop infinite loop
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ProtectedEditPage/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/AuditLogs/ListView/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/index.js
  packages/core/helper-plugin/.storybook/preview.js
  packages/core/helper-plugin/jest.config.front.js
  packages/core/helper-plugin/jsconfig.json
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/src/hooks/tests/useRBAC.test.js
  packages/core/helper-plugin/src/hooks/useRBAC.js
  packages/core/helper-plugin/src/hooks/useRBAC/index.js
  packages/core/helper-plugin/src/hooks/useRBAC/init.js
  packages/core/helper-plugin/src/hooks/useRBAC/reducer.js
  packages/core/helper-plugin/src/hooks/useRBAC/tests/init.test.js
  packages/core/helper-plugin/src/hooks/useRBAC/tests/reducer.test.js
  packages/core/helper-plugin/src/hooks/useRBAC/utils/generateAllowedActions.js
  packages/core/helper-plugin/src/hooks/useRBAC/utils/generateResultsObject.js
  packages/core/helper-plugin/src/hooks/useRBAC/utils/tests/generateResultsObject.test.js
  packages/core/helper-plugin/src/index.js
  packages/core/helper-plugin/tests/server.js
  packages/core/helper-plugin/tests/setup.js
  packages/core/helper-plugin/tests/utils.js
  packages/core/upload/admin/src/hooks/useMediaLibraryPermissions.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/index.js
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/index.js
  packages/plugins/users-permissions/admin/src/pages/Providers/index.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/index.js
  yarn.lock
Labels: source: core:helper-plugin, pr: fix

#17128 FIX: Review Workflows webhooks blitz bugs
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/utils/makeWebhookValidationSchema.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/ee/server/services/review-workflows/__tests__/entity-service-decorator.test.js
  packages/core/admin/ee/server/services/review-workflows/entity-service-decorator.js
Labels: flag: migration guide, pr: fix, source: core:review-workflows

#17122 Optimise pull transfer for entities, configurations, links and assets
  docs/docs/docs/01-core/data-transfer/02-providers/05-remote-strapi/01-websocket.md
  packages/core/data-transfer/src/strapi/providers/remote-source/index.ts
  packages/core/data-transfer/src/strapi/remote/handlers/pull.ts
  packages/core/data-transfer/types/remote/protocol/client/transfer/pull.d.ts
Labels: pr: fix, source: core:data-transfer

#17169 chore: update DS to 1.8.1
  examples/getstarted/package.json
  packages/core/admin/admin/src/components/GuidedTour/Homepage/tests/index.test.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RelationMultiple/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/tests/__snapshots__/AddLogoDialog.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/tests/__snapshots__/PendingLogoDialog.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/package.json
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/package.json
  packages/core/email/admin/src/pages/Settings/tests/index.test.js
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/src/components/DateTimePicker/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/Breadcrumbs/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/RemoveAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/AddAssetStep/tests/__snapshots__/FromComputerForm.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkActions.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkDeleteButton.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkMoveButton.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/Header.test.js.snap
  packages/core/upload/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/admin/src/pages/PluginPage/tests/index.test.js
  packages/plugins/documentation/admin/src/pages/SettingsPage/tests/index.test.js
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#17126 Chore: Remove unique identifier
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/admin/admin/src/pages/App/utils/index.js
  packages/core/admin/admin/src/pages/App/utils/unique-identifier.js
  packages/core/admin/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#17072 Create the getMultipleEntriesNumberOfDraftRelations handler
  api-tests/core/content-manager/api/number-of-draft-relations.test.api.js
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/components/SingleTypeFormWrapper/index.js
  packages/core/content-manager/oas.yml
  packages/core/content-manager/server/controllers/collection-types.js
  packages/core/content-manager/server/controllers/single-types.js
  packages/core/content-manager/server/routes/admin.js
  packages/core/content-manager/server/services/entity-manager.d.ts
  packages/core/content-manager/server/services/entity-manager.js
Labels: source: core:content-manager, pr: enhancement

#17184 Chore: Group dependabot updates
  .github/dependabot.yml
Labels: source: tooling, pr: chore

#17188 Fix bug #17187: updated the handleClick function
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/TokenBox/index.js
Labels: source: core:admin, pr: fix

#17183 chore: refactor helper-plugin tests & PaginationURLQuery
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/src/components/FilterListURLQuery/index.js
  packages/core/helper-plugin/src/components/FilterListURLQuery/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/src/components/FilterListURLQuery/tests/index.test.js
  packages/core/helper-plugin/src/components/LinkButton/LinkButton.stories.mdx
  packages/core/helper-plugin/src/components/PageSizeURLQuery/PageSizeURLQuery.stories.mdx
  packages/core/helper-plugin/src/components/PageSizeURLQuery/index.js
  packages/core/helper-plugin/src/components/PageSizeURLQuery/tests/index.test.js
  packages/core/helper-plugin/src/components/PaginationURLQuery/PaginationURLQuery.stories.mdx
  packages/core/helper-plugin/src/components/PaginationURLQuery/index.js
  packages/core/helper-plugin/src/components/PaginationURLQuery/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/src/components/PaginationURLQuery/tests/index.test.js
  packages/core/helper-plugin/src/components/SearchURLQuery/index.js
  packages/core/helper-plugin/src/components/SearchURLQuery/tests/index.test.js
  packages/core/helper-plugin/src/hooks/useFetchClient/tests/useFetchClient.test.js
  packages/core/helper-plugin/src/index.js
  packages/core/helper-plugin/tests/server.js
  packages/core/helper-plugin/tests/utils.js
  yarn.lock
Labels: source: core:helper-plugin, pr: chore

#17195 fix: i18n CM EditView locale selector flex gap
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewLocalePicker/index.js
Labels: source: plugin:i18n, pr: fix

#17204 Fix date parser
  packages/core/database/lib/fields/shared/parsers.js
Labels: source: core:database, pr: fix

#17207 4.11.4
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/lib/fields/shared/parsers.js
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/babel-plugin-switch-ee-ce/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#17155 chore: remove step from time configure view modal
  packages/core/admin/admin/src/content-manager/components/Inputs/index.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/ModalForm.js
  packages/core/content-manager/server/controllers/validation/model-configuration.js
  packages/core/helper-plugin/src/components/GenericInput/index.js
Labels: source: core:content-manager, pr: chore

#17175 feat: Add an any type for strapi.admin
  packages/core/strapi/lib/types/core/strapi/index.d.ts
Labels: pr: enhancement, source: typescript

#16841 Update zh-Hans.json to fix issue of 'The intl string context variable…
  packages/core/admin/admin/src/translations/zh-Hans.json
Labels: source: core:admin, pr: chore

#17123 feat(review-workflows): apply license restrictions
  api-tests/core/admin/ee/review-workflows-content-types.test.api.js
  api-tests/core/admin/ee/review-workflows.test.api.js
  packages/core/admin/ee/server/constants/workflows.js
  packages/core/admin/ee/server/register.js
  packages/core/admin/ee/server/services/__tests__/review-workflows-validation.test.js
  packages/core/admin/ee/server/services/__tests__/review-workflows.test.js
  packages/core/admin/ee/server/services/__tests__/stages.test.js
  packages/core/admin/ee/server/services/__tests__/workflows.test.js
  packages/core/admin/ee/server/services/index.js
  packages/core/admin/ee/server/services/review-workflows/review-workflows.js
  packages/core/admin/ee/server/services/review-workflows/stages.js
  packages/core/admin/ee/server/services/review-workflows/validation.js
  packages/core/admin/ee/server/services/review-workflows/workflows/__tests__/content-types.test.js
  packages/core/admin/ee/server/services/review-workflows/workflows/index.js
  packages/core/admin/ee/server/utils/review-workflows.js
  packages/core/strapi/ee/license.js
Labels: pr: enhancement, source: core:review-workflows

#17047 Chore: Refactor CM list-view review-workflow columns to use useEnterprise
  docs/docs/docs/01-core/admin/04-hooks/use-enterprise.mdx
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/ReviewWorkflowsStage/getTableColumn.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/TableRows/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/hooks/useEnterprise/tests/useEnterprise.test.js
  packages/core/admin/admin/src/hooks/useEnterprise/useEnterprise.js
  packages/core/admin/ee/admin/content-manager/components/DynamicTable/CellContent/ReviewWorkflowsStage/getTableColumn.js
  packages/core/admin/ee/admin/content-manager/components/DynamicTable/CellContent/ReviewWorkflowsStage/index.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/ReviewWorkflowsStageEE.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/constants.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/index.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/tests/ReviewWorkflowsStage.test.js
Labels: source: core:admin, pr: enhancement

#17213 Chore: Apply default color to ReviewWorkflowsColumn
  packages/core/admin/admin/src/content-manager/pages/ListView/components/TableRows/index.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/ReviewWorkflowsStageEE.js
Labels: source: core:admin, pr: chore

#17074 Add params serializer
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/components/SingleTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/TableRows/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/utils/buildQueryString.js
  packages/core/admin/admin/src/content-manager/pages/ListView/utils/buildValidGetParams.js
  packages/core/admin/admin/src/content-manager/pages/ListView/utils/createPluginsFilter.js
  packages/core/admin/admin/src/content-manager/pages/ListView/utils/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/utils/tests/buildQueryString.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/utils/tests/buildValidGetParams.test.js
  packages/core/admin/admin/src/hooks/useAdminUsers/useAdminUsers.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/AuditLogs/ListView/hooks/useAuditLogsData.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/hooks/useReviewWorkflows.js
  packages/core/helper-plugin/src/utils/fetchClient/index.js
  packages/core/helper-plugin/src/utils/fetchClient/tests/fetchClient.test.js
  packages/core/helper-plugin/src/utils/getFetchClient/index.js
  packages/core/helper-plugin/src/utils/getFetchClient/tests/getFetchClient.test.js
  packages/core/upload/admin/src/hooks/tests/useAssets.test.js
  packages/core/upload/admin/src/hooks/tests/useFolder.test.js
  packages/core/upload/admin/src/hooks/tests/useFolders.test.js
  packages/core/upload/admin/src/hooks/useAssets.js
  packages/core/upload/admin/src/hooks/useFolder.js
  packages/core/upload/admin/src/hooks/useFolders.js
Labels: source: core:admin, pr: chore

#17227 chore: shuffle e2e tests and add first conent-type
  e2e/app-template/template/src/api/testing/content-types/testing/schema.json
  e2e/app-template/template/src/api/testing/controllers/testing.js
  e2e/app-template/template/src/api/testing/routes/testing.js
  e2e/app-template/template/src/api/testing/services/testing.js
  e2e/constants.js
  e2e/data/with-admin.tar
  e2e/scripts/dts-export.js
  e2e/tests/admin/login.spec.js
  e2e/tests/admin/logout.spec.js
  e2e/tests/admin/signup.spec.js
  e2e/tests/content-manager/listview.spec.js
  e2e/utils/login.js
  examples/kitchensink/src/api/testing/content-types/testing/schema.json
  examples/kitchensink/src/api/testing/controllers/testing.js
  examples/kitchensink/src/api/testing/routes/testing.js
  examples/kitchensink/src/api/testing/services/testing.js
  playwright.config.js
Labels: source: tooling, pr: chore

#17215 Delete merge presence in data transfer strategies
  packages/core/data-transfer/src/strapi/providers/local-destination/__tests__/index.test.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/index.ts
Labels: pr: fix, source: core:data-transfer

#17050 Chore: Refactor useLicenseLimits() hook
  docs/docs/docs/01-core/admin/01-ee/02-hooks/_category_.json
  docs/docs/docs/01-core/admin/01-ee/02-hooks/use-license-limits.mdx
  packages/core/admin/ee/admin/hooks/useLicenseLimitNotification/index.js
  packages/core/admin/ee/admin/hooks/useLicenseLimitNotification/tests/index.test.js
  packages/core/admin/ee/admin/hooks/useLicenseLimits/index.js
  packages/core/admin/ee/admin/hooks/useLicenseLimits/tests/index.test.js
  packages/core/admin/ee/admin/hooks/useLicenseLimits/useLicenseLimits.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ApplicationInfosPage/components/AdminSeatInfo/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ApplicationInfosPage/components/AdminSeatInfo/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/ListPage/CreateAction/index.js
Labels: source: core:admin, pr: chore

#17232 Fix: Close msw server properly after running the testsuite
  packages/core/admin/ee/admin/hooks/useLicenseLimits/tests/index.test.js
Labels: source: core:admin, pr: fix

#17243 Chore: Improve and extend dependabot groups
  .github/dependabot.yml
Labels: source: tooling, pr: chore

#17217 fix: only run the query if sso is enabled
  packages/core/admin/admin/src/pages/ProfilePage/index.js
  packages/core/admin/admin/src/pages/ProfilePage/tests/index.test.js
Labels: source: core:admin, pr: fix

#17253 fix: CM media-input browsing
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/index.js
  packages/core/upload/admin/src/components/AssetDialog/index.js
  packages/core/upload/admin/src/components/Breadcrumbs/Breadcrumbs.js
  packages/core/upload/admin/src/components/Breadcrumbs/CrumbSimpleMenuAsync.js
  packages/core/upload/admin/src/hooks/tests/useModalQueryParams.test.js
  packages/core/upload/admin/src/hooks/useModalQueryParams.js
  packages/core/upload/admin/src/utils/getBreadcrumbDataCM.js
  packages/core/upload/admin/src/utils/tests/getBreadcrumbDataCM.test.js
Labels: source: core:upload, pr: fix

#17237 Fix settings menu permissions in CE
  packages/core/admin/admin/src/hooks/useSettingsMenu/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/SettingsNav/index.js
Labels: source: core:admin, pr: fix

#17203 Chore: Refactor ee_else_ce component imports to new useEnterprise hook
  packages/core/admin/admin/src/content-manager/pages/EditView/Information/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Information/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/InformationBox/InformationBoxCE.js
  packages/core/admin/admin/src/content-manager/pages/EditView/InformationBox/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Login/index.js
  packages/core/admin/admin/src/pages/AuthPage/constants.js
  packages/core/admin/admin/src/pages/AuthPage/index.js
  packages/core/admin/admin/src/pages/HomePage/index.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/AdminSeatInfo/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/EditPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/CreateAction/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/CreateAction/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/components/MagicLink/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/EventTable/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/index.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/InformationBoxEE.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/index.js
  packages/core/admin/ee/admin/pages/AuthPage/components/Login/index.js
  packages/core/admin/ee/admin/pages/HomePage/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ApplicationInfosPage/components/AdminSeatInfo/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ApplicationInfosPage/components/AdminSeatInfo/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/ListPage/CreateAction/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/ListPage/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/components/MagicLink/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Webhooks/EditView/components/EventTable/index.js
Labels: source: core:admin, pr: chore

#17265 chore: update ds to 1.8.2
  examples/getstarted/package.json
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/__snapshots__/index.test.js.snap
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/Breadcrumbs/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/admin/src/pages/SettingsPage/tests/index.test.js
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#17206 Chore: Drop babel ee_else_ce plugin and babel from @strapi/admin
  .github/dependabot.yml
  jest-preset.front.js
  packages/core/admin/index.js
  packages/core/admin/package.json
  packages/core/admin/webpack.alias.js
  packages/core/admin/webpack.config.js
  packages/utils/babel-plugin-switch-ee-ce/.babelrc
  packages/utils/babel-plugin-switch-ee-ce/.eslintignore
  packages/utils/babel-plugin-switch-ee-ce/.eslintrc.js
  packages/utils/babel-plugin-switch-ee-ce/.gitignore
  packages/utils/babel-plugin-switch-ee-ce/LICENCE
  packages/utils/babel-plugin-switch-ee-ce/README.md
  packages/utils/babel-plugin-switch-ee-ce/lib/index.js
  packages/utils/babel-plugin-switch-ee-ce/lib/mapToRelative.js
  packages/utils/babel-plugin-switch-ee-ce/lib/normalizeOptions.js
  packages/utils/babel-plugin-switch-ee-ce/lib/resolvePath.js
  packages/utils/babel-plugin-switch-ee-ce/lib/transformers/import.js
  packages/utils/babel-plugin-switch-ee-ce/lib/utils.js
  packages/utils/babel-plugin-switch-ee-ce/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#17214 refactor: remove simple menu v1
  jest-preset.front.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/DisplayedFields.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/ModalForm.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/SortDisplayedFields.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RelationMultiple/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RelationMultiple/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RelationMultiple/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RepeatableComponent/index.js
  packages/core/admin/admin/src/layouts/UnauthenticatedLayout/LocaleToggle/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/content-type-builder/admin/src/components/Relation/RelationField/RelationTargetPicker/index.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/index.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/PreviewBox/CroppingActions.js
  packages/core/upload/admin/src/components/SortPicker/index.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/index.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/tests/MediaLibrary.test.js
Labels: source: core:admin, pr: chore

#17282 fix(ee): use named export for user settings page
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/ListPage/index.js
Labels: source: core:admin, pr: fix

#17290 Return routes once only
  packages/core/strapi/lib/services/server/index.js
Labels: source: core:strapi, pr: fix

#17292 v4.11.5
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/admin/src/components/FormModalHeader/index.js
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/babel-plugin-switch-ee-ce/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#17296 Fix bulkDelete not found should return a count of 0
  api-tests/core/content-manager/index.test.api.js
  packages/core/strapi/lib/services/entity-service/index.js
Labels: source: core:content-manager, pr: fix

#17286 feature(content-manager): display full user names in list view
  packages/core/admin/admin/src/content-manager/pages/ListView/components/TableRows/index.js
Labels: source: core:content-manager, pr: enhancement

#17277 Display assignee in list view using useEnterprise pattern
  packages/core/admin/admin/src/content-manager/pages/ListView/components/TableRows/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/ReviewWorkflowsAssigneeEE.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/constants.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/getTableColumns.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/index.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/tests/ReviewWorkflowsAssignee.test.js
  packages/core/admin/ee/server/services/__tests__/assignees.test.js
Labels: pr: fix, source: core:review-workflows

#17135 feat: New command 'components:list'
  packages/core/strapi/lib/commands/actions/components/list/action.js
  packages/core/strapi/lib/commands/actions/components/list/command.js
  packages/core/strapi/lib/commands/index.js
Labels: source: cli, pr: feature

#17311 Validate all stages of a workflow have a unique name
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/CreateView/CreateView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/EditView/EditView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/utils/tests/validateWorkflow.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/utils/validateWorkflow.js
Labels: source: core:review-workflows

#17196 [Front] Add warning message to confirm publish dialog
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:content-manager, pr: enhancement

#17335 fix(i18n): entity locale actions were aimed at default locale
  packages/core/admin/admin/src/content-manager/components/SingleTypeFormWrapper/index.js
Labels: source: core:content-manager, pr: fix

#17105 Transfer assets to and from external providers
  packages/core/data-transfer/src/file/providers/destination/index.ts
  packages/core/data-transfer/src/file/providers/source/index.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/__tests__/index.test.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/index.ts
  packages/core/data-transfer/src/strapi/providers/local-source/assets.ts
  packages/core/data-transfer/src/strapi/providers/remote-destination/index.ts
  packages/core/data-transfer/src/strapi/queries/entity.ts
  packages/core/data-transfer/src/strapi/remote/handlers/push.ts
  packages/core/data-transfer/types/common-entities.d.ts
Labels: pr: fix, source: core:data-transfer

#17340 Fix error on adding relations
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/Option.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/Option.test.js
Labels: source: core:content-manager, pr: fix

#17185 feature/bulk-publish-v2
  api-tests/core/content-manager/api/number-of-draft-relations.test.api.js
  packages/core/admin/admin/src/constants.js
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/components/ListViewTable/CellContent/PublicationState/PublicationState.js
  packages/core/admin/admin/src/content-manager/components/ListViewTable/CellContent/PublicationState/index.js
  packages/core/admin/admin/src/content-manager/components/ListViewTable/CellContent/PublicationState/tests/PublicationState.test.js
  packages/core/admin/admin/src/content-manager/components/SingleTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/Body/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/ConfirmBulkActionDialog/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/ConfirmBulkActionDialog/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RelationMultiple/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RelationMultiple/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/TableRows/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/admin/admin/src/translations/ca.json
  packages/core/admin/admin/src/translations/de.json
  packages/core/admin/admin/src/translations/dk.json
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/es.json
  packages/core/admin/admin/src/translations/eu.json
  packages/core/admin/admin/src/translations/fr.json
  packages/core/admin/admin/src/translations/gu.json
  packages/core/admin/admin/src/translations/hi.json
  packages/core/admin/admin/src/translations/hu.json
  packages/core/admin/admin/src/translations/ja.json
  packages/core/admin/admin/src/translations/ko.json
  packages/core/admin/admin/src/translations/ml.json
  packages/core/admin/admin/src/translations/nl.json
  packages/core/admin/admin/src/translations/pl.json
  packages/core/admin/admin/src/translations/pt-BR.json
  packages/core/admin/admin/src/translations/ru.json
  packages/core/admin/admin/src/translations/sa.json
  packages/core/admin/admin/src/translations/sk.json
  packages/core/admin/admin/src/translations/sv.json
  packages/core/admin/admin/src/translations/tr.json
  packages/core/admin/admin/src/translations/zh-Hans.json
  packages/core/admin/admin/src/translations/zh.json
  packages/core/admin/ee/admin/constants.js
  packages/core/content-manager/oas.yml
  packages/core/content-manager/server/controllers/collection-types.js
  packages/core/content-manager/server/controllers/single-types.js
  packages/core/content-manager/server/routes/admin.js
  packages/core/content-manager/server/services/entity-manager.d.ts
  packages/core/content-manager/server/services/entity-manager.js
  packages/core/content-type-builder/admin/src/pages/ListView/index.js
  packages/core/helper-plugin/src/components/DynamicTable/index.js
  packages/core/helper-plugin/src/components/Table/Table.stories.mdx
  packages/core/helper-plugin/src/components/Table/index.js
  packages/core/helper-plugin/src/components/Table/tests/index.test.js
  packages/core/helper-plugin/src/index.js
Labels: source: core:admin, pr: feature

#17347 Add cellFormatter support
  packages/core/admin/admin/src/content-manager/pages/ListView/components/TableRows/index.js
Labels: source: core:admin, pr: fix

#17353 Fix: Remove @strapi/babel-plugin-switch-ee-ce again
  packages/utils/babel-plugin-switch-ee-ce/package.json
  yarn.lock
Labels: source: core:admin, pr: fix

#17310 WIP sendReviewWorkflowPropertiesOnceAWeek weekly cron job
  packages/core/admin/ee/server/bootstrap.js
  packages/core/admin/ee/server/services/index.js
  packages/core/admin/ee/server/services/review-workflows/metrics/index.js
  packages/core/admin/ee/server/services/review-workflows/metrics/weekly-metrics.js
  packages/core/upload/server/services/metrics/weekly-metrics.js
  packages/core/upload/server/utils/__tests__/cron.test.js
Labels: source: core:review-workflows

#17159 Chunk Cloudinary uploads only for large files
  packages/providers/upload-cloudinary/src/index.ts
Labels: pr: enhancement, source: providers

#17285 Chore: Split user RBAC permissions from useLicenseLimits hook
  docs/docs/docs/01-core/admin/01-ee/02-hooks/use-license-limits.mdx
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/InformationBoxEE.js
  packages/core/admin/ee/admin/hooks/index.js
  packages/core/admin/ee/admin/hooks/useLicenseLimitNotification/index.js
  packages/core/admin/ee/admin/hooks/useLicenseLimitNotification/tests/index.test.js
  packages/core/admin/ee/admin/hooks/useLicenseLimits/__mocks__/index.js
  packages/core/admin/ee/admin/hooks/useLicenseLimits/index.js
  packages/core/admin/ee/admin/hooks/useLicenseLimits/tests/index.test.js
  packages/core/admin/ee/admin/hooks/useLicenseLimits/useLicenseLimits.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ApplicationInfosPage/components/AdminSeatInfo/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ApplicationInfosPage/components/AdminSeatInfo/tests/index.test.js
Labels: source: core:admin, pr: chore

#17358 Feat: Add RBAC permissions for review-workflow settings pages
  packages/core/admin/ee/admin/constants.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/ProtectedPage/ProtectedPage.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/ProtectedPage/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/Stage.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/tests/Stage.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stages.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/tests/Stages.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/WorkflowAttributes/WorkflowAttributes.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/WorkflowAttributes/tests/WorkflowAttributes.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/CreateView/CreateView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/CreateView/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/EditView/EditView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/EditView/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/ListView/ListView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/ListView/index.js
Labels: source: core:admin, pr: enhancement

#17367 Chore: Remove stray cypress config file
  cypress.json
Labels: source: tooling, pr: chore

#17369 Fix: Remove content-type groups from workflow attrs conditionally
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/WorkflowAttributes/WorkflowAttributes.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/WorkflowAttributes/tests/WorkflowAttributes.test.js
Labels: source: core:admin, pr: fix

#17319 admin lastname defaults to undefined
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
Labels: source: core:admin, pr: fix

#17354 Chore: Give precedence to error.message over error.details
  packages/core/helper-plugin/src/hooks/useAPIErrorHandler/utils/formatAPIError/index.js
  packages/core/helper-plugin/src/hooks/useAPIErrorHandler/utils/formatAPIError/tests/index.test.js
  packages/core/helper-plugin/src/hooks/useAPIErrorHandler/utils/normalizeAPIError/index.js
  packages/core/helper-plugin/src/hooks/useAPIErrorHandler/utils/normalizeAPIError/tests/index.test.js
Labels: source: core:admin, pr: enhancement

#17368 refactor: documentation tests
  packages/admin-test-utils/src/fixtures/permissions/documentation-permissions.ts
  packages/admin-test-utils/src/fixtures/permissions/index.ts
  packages/plugins/documentation/admin/src/components/FieldActionWrapper/index.js
  packages/plugins/documentation/admin/src/components/PluginIcon/index.js
  packages/plugins/documentation/admin/src/hooks/useDocumentation.js
  packages/plugins/documentation/admin/src/index.js
  packages/plugins/documentation/admin/src/pages/PluginPage/index.js
  packages/plugins/documentation/admin/src/pages/PluginPage/tests/index.test.js
  packages/plugins/documentation/admin/src/pages/PluginPage/tests/server.js
  packages/plugins/documentation/admin/src/pages/SettingsPage/index.js
  packages/plugins/documentation/admin/src/pages/SettingsPage/tests/index.test.js
  packages/plugins/documentation/admin/src/pages/SettingsPage/tests/server.js
  packages/plugins/documentation/admin/src/pages/utils/schema.js
  packages/plugins/documentation/admin/src/pages/utils/useReactQuery.js
  packages/plugins/documentation/admin/src/utils/openWithNewTab.js
  packages/plugins/documentation/jest.config.front.js
  packages/plugins/documentation/package.json
  packages/plugins/documentation/tests/server.js
  packages/plugins/documentation/tests/setup.js
  yarn.lock
Labels: source: plugin:documentation, pr: chore

#17363 fix: display & clone relations in components
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/strapi/lib/services/entity-service/index.js
Labels: source: core:content-manager, pr: fix

#17378 Chore: Update review-workflow chargebee entitlements
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/InformationBoxEE.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/constants.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/CreateView/CreateView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/EditView/EditView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/ListView/ListView.js
Labels: source: core:admin, pr: chore

#17380 Fix Strapi utils with ts migration
  packages/core/utils/src/convert-query-params.ts
  packages/core/utils/src/index.ts
Labels: source: core:utils, pr: fix

#17385 chore: mark jsonSuperSetOf as experimental and for internal use
  packages/core/database/lib/query/helpers/where.js
  packages/core/utils/src/operators.ts
Labels: source: core:database, pr: chore

#17383 Fix: Fixes various review-workflow UI bugs
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/Stage.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/CreateView/CreateView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/EditView/EditView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/ListView/ListView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/reducer/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/reducer/tests/index.test.js
Labels: source: core:admin, pr: fix

#17341 [SSO] Accept null value for ssoLockedRoles
  api-tests/core/admin/ee/provider-options.test.api.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/utils/schema.js
  packages/core/admin/ee/server/validation/authentication.js
Labels: source: core:admin, pr: fix

#17384 fix: Assigning multiple content types in a workflow
  api-tests/core/admin/ee/review-workflows-content-types.test.api.js
  packages/core/admin/ee/server/services/review-workflows/workflows/__tests__/content-types.test.js
  packages/core/admin/ee/server/services/review-workflows/workflows/content-types.js
  packages/core/admin/ee/server/services/review-workflows/workflows/index.js
Labels: pr: fix, source: core:review-workflows

#17389 Fix: Remove delete button from the list-view instead of disabling it
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/ListView/ListView.js
Labels: source: core:admin, pr: fix

#17388 Fix: Remove limits overlay if a user is at limit
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/ListView/ListView.js
Labels: source: core:admin, pr: fix

#17395 fix: license review workflow options
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/InformationBoxEE.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/constants.js
  packages/core/admin/ee/server/services/__tests__/review-workflows-validation.test.js
  packages/core/admin/ee/server/services/review-workflows/review-workflows.js
  packages/core/admin/ee/server/services/review-workflows/validation.js
Labels: pr: enhancement, source: core:review-workflows

#17396 Fix command not mounting the routes correctly
  packages/core/strapi/lib/commands/actions/routes/list/action.js
Labels: source: core:strapi, pr: fix

#17387 [SSO] allow defaultRole to be nullable when autoRegister is false
  api-tests/core/admin/ee/provider-options.test.api.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/index.js
  packages/core/admin/ee/server/validation/authentication.js
Labels: source: core:admin, pr: fix

#17404 Enhancement: Show confirmation modal if a workflow would 'steal' a content-type
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/WorkflowAttributes/WorkflowAttributes.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/WorkflowAttributes/tests/WorkflowAttributes.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/CreateView/CreateView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/EditView/EditView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/reducer/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/reducer/tests/index.test.js
  packages/core/helper-plugin/src/components/ConfirmDialog/index.js
  packages/core/helper-plugin/src/components/ConfirmDialog/tests/index.test.js
  packages/core/helper-plugin/src/components/DynamicTable/index.js
  packages/core/helper-plugin/src/components/Table/index.js
  packages/core/helper-plugin/src/index.js
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/RemoveAssetDialog.test.js.snap
Labels: source: core:admin, pr: enhancement

#17420 Enhancement: Emphasize workflow name
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/WorkflowAttributes/WorkflowAttributes.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/WorkflowAttributes/tests/WorkflowAttributes.test.js
Labels: source: core:admin, pr: enhancement

#17405 [bulk publish] Set page size to the number of selected entries
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/index.js
Labels: source: core:admin, pr: fix

#17402 [bulk publish] Deselect the entries that were published from the list view
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/index.js
Labels: source: core:admin, pr: fix

#17412 fixed grammatical error in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: source: tooling, pr: chore

#17422 Chore: Update review workflows copy
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/ListView/ListView.js
Labels: source: core:admin, pr: chore

#17410 Await for `isSsoLocked` promise, fix #17409
  packages/core/admin/ee/server/services/auth.js
Labels: source: core:admin, pr: fix

#17262 fix: relations are not returned in the correct order
  api-tests/core/content-manager/api/relations-cross-entity-ordering.test.api.js
  packages/core/database/lib/entity-manager/regular-relations.js
Labels: source: core:database, pr: fix

#17403 Bulk Publish: fix Select All not working inside the Modal
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/index.js
Labels: source: core:content-manager, pr: fix

#17428 Bulk publish: fix, enable countManyEntriesDraftRelations API only when you have selected entries in the modal
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/ConfirmBulkActionDialog/index.js
Labels: source: core:admin, pr: fix

#17371 Add confirmation to continue when assets backup folder cannot be created
  packages/core/data-transfer/src/engine/index.ts
  packages/core/data-transfer/src/errors/providers.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/index.ts
  packages/core/data-transfer/src/strapi/providers/utils.ts
  packages/core/data-transfer/src/strapi/remote/handlers/utils.ts
  packages/core/data-transfer/types/transfer-engine.d.ts
  packages/core/strapi/lib/commands/actions/transfer/__tests__/transfer.test.js
  packages/core/strapi/lib/commands/actions/transfer/action.js
  packages/core/strapi/lib/commands/utils/data-transfer.js
Labels: pr: fix, source: core:data-transfer

#17431 [bulk publish] Remove sorting from the bulk publish modal
  packages/core/helper-plugin/src/components/Table/index.js
Labels: source: core:admin, pr: fix

#17426 [bulk publish] Change published label in the modal
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/index.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: fix

#16557 Drop Node 14 support, add Node 20
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/actions/check-pr-status/README.md
  .github/workflows/skipped_tests.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  README.md
  api-tests/core/strapi/migrations/migration-draft-publish.test.api.js
  api-tests/core/upload/content-api/upload-automatic-folder.test.api.js
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  package.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/admin/src/pages/ProfilePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/ee/server/services/__tests__/audit-logs.test.js
  packages/core/admin/package.json
  packages/core/admin/server/services/__tests__/api-token.test.js
  packages/core/admin/server/services/__tests__/transfer/token.test.js
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/README.md
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/app/src/resources/json/common/engines.ts
  packages/generators/app/src/utils/check-requirements.ts
  packages/generators/generators/package.json
  packages/generators/generators/src/templates/js/plugin-package.json.hbs
  packages/generators/generators/src/templates/ts/plugin-package.json.hbs
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/logger/package.json
  packages/utils/typescript/package.json
Labels: source: core:strapi, pr: chore

#17362 Migrate core/permissions to ts
  packages/core/permissions/.eslintignore
  packages/core/permissions/.eslintrc.js
  packages/core/permissions/index.d.ts
  packages/core/permissions/jest.config.js
  packages/core/permissions/lib/domain/index.js
  packages/core/permissions/lib/domain/permission/index.js
  packages/core/permissions/lib/engine/abilities/index.js
  packages/core/permissions/lib/engine/hooks.js
  packages/core/permissions/lib/engine/index.js
  packages/core/permissions/lib/index.js
  packages/core/permissions/package.json
  packages/core/permissions/src/__tests__/permissions.engine.test.ts
  packages/core/permissions/src/domain/index.ts
  packages/core/permissions/src/domain/permission/index.ts
  packages/core/permissions/src/engine/abilities/casl-ability.ts
  packages/core/permissions/src/engine/abilities/index.ts
  packages/core/permissions/src/engine/hooks.ts
  packages/core/permissions/src/engine/index.ts
  packages/core/permissions/src/global.d.ts
  packages/core/permissions/src/index.ts
  packages/core/permissions/tsconfig.eslint.json
  packages/core/permissions/tsconfig.json
  yarn.lock
Labels: pr: chore, source: core:permissions

#17430 Fix: Better align review workflows design and implementation of RBAC
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/Stage.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/tests/Stage.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/CreateView/CreateView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/EditView/EditView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/ListView/ListView.js
Labels: source: core:admin, pr: fix

#17294 Multiple Workflows - Tracking events
  packages/core/admin/ee/server/bootstrap.js
  packages/core/admin/ee/server/services/__tests__/review-workflows-validation.test.js
  packages/core/admin/ee/server/services/__tests__/workflows.test.js
  packages/core/admin/ee/server/services/index.js
  packages/core/admin/ee/server/services/review-workflows/metrics.js
  packages/core/admin/ee/server/services/review-workflows/metrics/__tests__/weekly-metrics.test.js
  packages/core/admin/ee/server/services/review-workflows/metrics/index.js
  packages/core/admin/ee/server/services/review-workflows/metrics/weekly-metrics.js
  packages/core/admin/ee/server/services/review-workflows/workflows/index.js
  packages/core/upload/server/services/metrics/weekly-metrics.js
  packages/core/upload/server/utils/__tests__/cron.test.js
Labels: pr: enhancement, source: core:review-workflows

#17434 Migrate permission back eslint after color-picker changes. merge issues
  packages/core/permissions/.eslintrc.js
Labels: pr: chore, source: core:permissions

#17440 Chore: Cleanup configure the view styles
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/EditFieldForm.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/Settings.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/SortDisplayedFields.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/index.js
Labels: source: core:content-manager, pr: chore

#17437 Chore: Inline fetch functions and drop getRequestUrl from content-manager
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/components/InputUID/index.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/utils/getRelationLink.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/utils/select.js
  packages/core/admin/admin/src/content-manager/components/SingleTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/components/SingleTypeFormWrapper/utils/getRequestUrl.js
  packages/core/admin/admin/src/content-manager/components/SingleTypeFormWrapper/utils/index.js
  packages/core/admin/admin/src/content-manager/pages/App/utils/getContentTypeLinks.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/index.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/utils/api.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RelationMultiple/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/content-manager/utils/getRequestUrl.js
  packages/core/admin/admin/src/content-manager/utils/index.js
Labels: source: core:content-manager, pr: chore

#17438 Chore: Drop lodash from configure the view page
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/index.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/index.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/init.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/init.test.js
  packages/core/admin/admin/src/content-manager/utils/checkIfAttributeIsDisplayable.js
Labels: source: core:content-manager, pr: chore

#17449 Update semver to remove audit warnings
  packages/core/admin/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/strapi/package.json
  packages/generators/app/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#17280 fixed: Media Library - Can`t delete empty folder #17263
  packages/core/upload/admin/src/components/EditFolderDialog/EditFolderDialog.js
Labels: source: core:upload, pr: fix

#16570 fix: Update env.example
  packages/generators/app/src/resources/dot-files/common/env.example
Labels: pr: enhancement, source: generators:app

#17455 Update media thumbnails on replace
  packages/core/upload/admin/src/components/AssetCard/AssetCard.js
  packages/core/upload/admin/src/components/AssetGridList/tests/__snapshots__/AssetGridList.test.js.snap
Labels: source: core:upload, pr: fix

#17461 Revert 17319 fix/default admin lastname
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
Labels: source: core:admin, pr: chore

#17441 Feature: Allow review workflow stage column as default sort option
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/Settings.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/index.js
  packages/core/admin/ee/admin/content-manager/pages/ListSettingsView/constants.js
Labels: source: core:content-manager, pr: feature

#17473 Fix generate-test-app always linking packages
  test/helpers/test-app.js
  test/scripts/run-e2e-tests.js
Labels: source: tooling, pr: chore

#17472 4.12.0
  .github/actions/check-pr-status/package.json
  docs/docs/guides/e2e/00-setup.md
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/ee/server/bootstrap.js
  packages/core/admin/ee/server/services/__tests__/review-workflows-validation.test.js
  packages/core/admin/ee/server/services/__tests__/workflows.test.js
  packages/core/admin/ee/server/services/index.js
  packages/core/admin/ee/server/services/review-workflows/metrics.js
  packages/core/admin/ee/server/services/review-workflows/metrics/__tests__/weekly-metrics.test.js
  packages/core/admin/ee/server/services/review-workflows/metrics/index.js
  packages/core/admin/ee/server/services/review-workflows/metrics/weekly-metrics.js
  packages/core/admin/ee/server/services/review-workflows/workflows/index.js
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/upload/server/services/metrics/weekly-metrics.js
  packages/core/upload/server/utils/__tests__/cron.test.js
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#17493 fix: reorder rw permissions so they appear as CRUD
  packages/core/admin/ee/server/config/admin-actions.js
Labels: pr: fix, source: core:review-workflows

#17491 Fix some spelling and standardiZe regional usages
  api-tests/core/admin/ee/review-workflows-content-types.test.api.js
  docs/docs/docs/00-intro.md
  docs/docs/docs/01-core/admin/02-permissions/01-how-they-work.mdx
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/cleanData.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/hooks/useLazyComponents/tests/useLazyComponents.test.js
  packages/core/admin/admin/src/content-manager/sharedReducers/crudReducer/reducer.js
  packages/core/content-type-builder/admin/src/components/FormModal/index.js
  packages/plugins/users-permissions/documentation/content-api.yaml
Labels: source: docs, pr: chore

#17462 Fix: Registration - Send null for lastname instead of empty string
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/constants.js
  packages/core/admin/server/validation/authentication/register.js
Labels: source: core:admin, pr: fix

#17452 [DTS] Add detail to ws upgrade error
  packages/core/data-transfer/src/strapi/remote/handlers/utils.ts
Labels: pr: enhancement, source: core:data-transfer

#17478 Enhancement: Add RW assignee as default sort option
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/Settings.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/ee/admin/content-manager/pages/ListSettingsView/constants.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/ReviewWorkflowsAssigneeEE.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/tests/ReviewWorkflowsAssignee.test.js
Labels: pr: enhancement, source: core:review-workflows

#17512 fix: Content API partial update fails when not populating stage field
  packages/core/admin/ee/server/services/review-workflows/__tests__/entity-service-decorator.test.js
  packages/core/admin/ee/server/services/review-workflows/entity-service-decorator.js
Labels: pr: fix, source: core:review-workflows

#17476 Make assignee sortable from the list view
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/constants.js
Labels: pr: enhancement, source: core:review-workflows

#17490 Fix intermittently failing API tests by using consistent versions of sqlite packages
  api-tests/core/strapi/migrations/migration-draft-publish.test.api.js
  e2e/app-template/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  packages/generators/app/src/utils/db-client-dependencies.ts
  yarn.lock
Labels: source: tooling, pr: fix

#16960 Add case insensitive filters to content manager
  packages/core/admin/admin/src/translations/ar.json
  packages/core/admin/admin/src/translations/ca.json
  packages/core/admin/admin/src/translations/de.json
  packages/core/admin/admin/src/translations/dk.json
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/es.json
  packages/core/admin/admin/src/translations/eu.json
  packages/core/admin/admin/src/translations/fr.json
  packages/core/admin/admin/src/translations/gu.json
  packages/core/admin/admin/src/translations/hi.json
  packages/core/admin/admin/src/translations/hu.json
  packages/core/admin/admin/src/translations/ja.json
  packages/core/admin/admin/src/translations/ko.json
  packages/core/admin/admin/src/translations/ml.json
  packages/core/admin/admin/src/translations/nl.json
  packages/core/admin/admin/src/translations/pl.json
  packages/core/admin/admin/src/translations/pt-BR.json
  packages/core/admin/admin/src/translations/ru.json
  packages/core/admin/admin/src/translations/sa.json
  packages/core/admin/admin/src/translations/sk.json
  packages/core/admin/admin/src/translations/sv.json
  packages/core/admin/admin/src/translations/tr.json
  packages/core/admin/admin/src/translations/zh-Hans.json
  packages/core/admin/admin/src/translations/zh.json
  packages/core/database/lib/index.d.ts
  packages/core/database/lib/query/helpers/where.js
  packages/core/helper-plugin/src/components/FilterPopoverURLQuery/utils/getFilterList.js
  packages/core/upload/admin/src/components/FilterPopover/utils/getFilterList.js
  packages/core/utils/src/operators.ts
  packages/plugins/graphql/server/services/builders/filters/operators/index.js
  packages/plugins/graphql/server/services/builders/filters/operators/nei.js
  packages/plugins/graphql/server/services/constants.js
Labels: source: core:content-manager, pr: enhancement

#17475 Fix data transfer relations
  packages/core/data-transfer/src/engine/__tests__/engine.test.ts
  packages/core/data-transfer/src/engine/index.ts
  packages/core/data-transfer/src/strapi/providers/local-source/__tests__/entities.test.ts
  packages/core/data-transfer/src/strapi/providers/local-source/entities.ts
Labels: pr: fix, source: core:data-transfer

#16507 Wildcard populate performance optimizations
  api-tests/core/strapi/api/populate/sanitize.test.api.js
  packages/core/utils/src/convert-query-params.ts
  packages/core/utils/src/traverse/query-populate.ts
Labels: source: core:utils, pr: enhancement
