Repository strapi/strapi, pull requests merged in 2023-08, with the labels that each got.

#17526 [TS][Entity Service] Add findMany types
  packages/core/strapi/lib/services/entity-service/types/index.d.ts
Labels: pr: feature, source: typescript

#17533 Chore: Move marketplace and plugins hooks into their page contexts
  packages/core/admin/admin/src/hooks/marketplace/useFetchMarketplacePlugins/index.js
  packages/core/admin/admin/src/hooks/marketplace/useFetchMarketplaceProviders/index.js
  packages/core/admin/admin/src/hooks/useFetchEnabledPlugins/index.js
  packages/core/admin/admin/src/hooks/useFetchEnabledPlugins/utils/api.js
  packages/core/admin/admin/src/pages/InstalledPluginsPage/Plugins.js
  packages/core/admin/admin/src/pages/InstalledPluginsPage/hooks/usePlugins/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/constants.js
  packages/core/admin/admin/src/pages/MarketplacePage/hooks/useFetchMarketplacePlugins/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/hooks/useFetchMarketplaceProviders/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/utils/useMarketplaceData.js
Labels: source: core:admin, pr: chore

#17513 fix(upload): Use native fetch over API client for downloadFile
  packages/core/upload/admin/src/utils/downloadFile.js
  packages/core/upload/admin/src/utils/tests/downloadFile.test.js
Labels: source: core:upload, pr: fix

#17542 Fix controller types
  packages/core/strapi/lib/types/core-api/controller.d.ts
Labels: pr: fix, source: typescript

#17544 Update: README files with new links + Strapi Cloud option
  packages/generators/app/src/resources/files/js/README.md
  packages/generators/app/src/resources/files/ts/README.md
Labels: source: docs, pr: doc

#17545 [Fix] Bulk publish: show the count of already published entries
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: fix

#17458 Chore: Enforce build sourcemaps with an environment variable
  packages/core/admin/index.js
  packages/core/admin/scripts/build.js
  packages/core/admin/webpack.config.js
Labels: source: tooling, pr: chore

#17486 chore: bump strapi/eslint-config to 0.2.0
  package.json
  packages/utils/eslint-config-custom/back.js
  packages/utils/eslint-config-custom/back/typescript.js
  packages/utils/eslint-config-custom/front.js
  yarn.lock
Labels: source: dependencies, pr: chore

#17590 Support cellformatter in ListView table
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
Labels: source: core:admin, pr: fix

#17579 fix: save component's view configuration
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/index.js
Labels: source: core:content-manager, pr: fix

#17550 Fix typos inside generators
  packages/generators/generators/src/files/js/plugin/server/register.js
  packages/generators/generators/src/files/ts/plugin/server/register.ts
Labels: pr: chore, source: generators:app

#17527 Chore: Consolidate useAdminRoles and useAdminRolePermissions hooks
  docs/docs/docs/01-core/admin/04-hooks/use-admin-role-permissions.mdx
  docs/docs/docs/01-core/admin/04-hooks/use-admin-roles.mdx
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/useAdminRolePermissions/__mocks__/index.js
  packages/core/admin/admin/src/hooks/useAdminRolePermissions/index.js
  packages/core/admin/admin/src/hooks/useAdminRolePermissions/tests/index.test.js
  packages/core/admin/admin/src/hooks/useAdminRoles/__mocks__/index.js
  packages/core/admin/admin/src/hooks/useAdminRoles/index.js
  packages/core/admin/admin/src/hooks/useAdminRoles/tests/index.test.js
  packages/core/admin/admin/src/hooks/useFetchPermissionsLayout/index.js
  packages/core/admin/admin/src/hooks/useFetchPermissionsLayout/reducer.js
  packages/core/admin/admin/src/hooks/useFetchPermissionsLayout/tests/reducer.test.js
  packages/core/admin/admin/src/hooks/useFetchRole/index.js
  packages/core/admin/admin/src/hooks/useFetchRole/reducer.js
  packages/core/admin/admin/src/hooks/useFetchRole/tests/reducer.test.js
  packages/core/admin/admin/src/hooks/useRolesList/index.js
  packages/core/admin/admin/src/hooks/useRolesList/init.js
  packages/core/admin/admin/src/hooks/useRolesList/reducer.js
  packages/core/admin/admin/src/hooks/useRolesList/tests/init.test.js
  packages/core/admin/admin/src/hooks/useRolesList/tests/reducer.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/CreatePage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/CreatePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/RoleForm/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ListPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/hooks/useAdminRolePermissionLayout/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/hooks/useAdminRolePermissionLayout/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/tests/index.test.js
  packages/core/admin/server/controllers/role.js
  packages/core/admin/server/services/__tests__/role.test.js
  packages/core/admin/server/services/role.js
Labels: source: core:admin, pr: chore

#17592 Upgrade mysql2 client to 3.6.0 for CI
  examples/getstarted/package.json
  examples/kitchensink/package.json
  packages/generators/app/src/utils/db-client-dependencies.ts
  yarn.lock
Labels: source: external, pr: chore

#17599 fix: cannot clear date-field
  packages/core/content-type-builder/admin/src/components/FormModal/utils/customFieldDefaultOptionsReducer.js
  packages/core/helper-plugin/src/components/GenericInput.jsx
  packages/core/helper-plugin/src/components/tests/GenericInput.test.jsx
Labels: source: core:helper-plugin, pr: fix

#17551 List view: new cog button icon with the view settings in the list view page
  packages/core/admin/admin/src/content-manager/components/AttributeFilter/Filters.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/FieldPicker/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/FieldPicker/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/ViewSettingsMenu/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/ViewSettingsMenu/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: enhancement

#17601 Revert "List view: new cog button icon with the view settings in the list view page"
  packages/core/admin/admin/src/content-manager/components/AttributeFilter/Filters.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/FieldPicker/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/FieldPicker/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/ViewSettingsMenu/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/ViewSettingsMenu/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: chore

#17300 translate en to zh-Hans by using claude.ai
  packages/core/admin/admin/src/translations/zh-Hans.json
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/components/TableBody.js
  packages/plugins/users-permissions/admin/src/translations/zh-Hans.json
Labels: source: core:admin, pr: chore

#17600 Fix - Navigation between single types in the Content Manager
  packages/core/admin/admin/src/content-manager/hooks/useSyncRbac/index.js
  packages/core/admin/admin/src/content-manager/pages/EditViewLayoutManager/index.js
  packages/core/admin/admin/src/content-manager/pages/ListViewLayoutManager/index.js
Labels: source: core:content-manager, pr: fix

#17621 chore: update ds to 1.9.0
  examples/getstarted/package.json
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#17623 fix(ee): condition for displaying edit view info box
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/InformationBoxEE.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/tests/InformationBoxEE.test.js
Labels: pr: fix, source: core:review-workflows

#17632 chore: update storybook to v7
  packages/core/helper-plugin/.eslintrc.js
  packages/core/helper-plugin/.storybook/main.js
  packages/core/helper-plugin/.storybook/main.ts
  packages/core/helper-plugin/.storybook/preview.js
  packages/core/helper-plugin/.storybook/preview.tsx
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/src/components/AnErrorOccurred.stories.mdx
  packages/core/helper-plugin/src/components/CheckPagePermissions.stories.mdx
  packages/core/helper-plugin/src/components/CheckPermissions.stories.mdx
  packages/core/helper-plugin/src/components/ConfirmDialog.stories.mdx
  packages/core/helper-plugin/src/components/ContentBox.stories.mdx
  packages/core/helper-plugin/src/components/DateTimePicker.stories.mdx
  packages/core/helper-plugin/src/components/DynamicTable.stories.mdx
  packages/core/helper-plugin/src/components/EmptyBodyTable.stories.mdx
  packages/core/helper-plugin/src/components/EmptyStateLayout.stories.mdx
  packages/core/helper-plugin/src/components/FilterListURLQuery.stories.mdx
  packages/core/helper-plugin/src/components/FilterPopoverURLQuery.stories.mdx
  packages/core/helper-plugin/src/components/Form.stories.mdx
  packages/core/helper-plugin/src/components/GenericInput.stories.mdx
  packages/core/helper-plugin/src/components/Link.stories.mdx
  packages/core/helper-plugin/src/components/LinkButton.stories.mdx
  packages/core/helper-plugin/src/components/LoadingIndicatorPage.stories.mdx
  packages/core/helper-plugin/src/components/NoContent.stories.mdx
  packages/core/helper-plugin/src/components/NoMedia.stories.mdx
  packages/core/helper-plugin/src/components/NoPermissions.stories.mdx
  packages/core/helper-plugin/src/components/PageSizeURLQuery.stories.mdx
  packages/core/helper-plugin/src/components/PaginationURLQuery.stories.mdx
  packages/core/helper-plugin/src/components/RelativeTime.stories.mdx
  packages/core/helper-plugin/src/components/SearchURLQuery.stories.mdx
  packages/core/helper-plugin/src/components/Status.stories.mdx
  packages/core/helper-plugin/src/components/Table.stories.mdx
  packages/core/helper-plugin/src/content-manager/hooks/useCMEditViewDataManager.stories.mdx
  packages/core/helper-plugin/src/content-manager/utils/formatContentTypeData.stories.mdx
  packages/core/helper-plugin/src/features/CustomFields.stories.mdx
  packages/core/helper-plugin/src/features/GuidedTour.stories.mdx
  packages/core/helper-plugin/src/features/Notifications.stories.mdx
  packages/core/helper-plugin/src/hooks/useFieldHint.jsx
  packages/core/helper-plugin/src/hooks/useFocusWhenNavigate.stories.mdx
  packages/core/helper-plugin/src/hooks/useLockScroll.stories.mdx
  packages/core/helper-plugin/src/hooks/useSelectionState.stories.mdx
  packages/core/helper-plugin/src/icons/RemoveRoundedButton.stories.mdx
  packages/core/helper-plugin/src/icons/SortIcon.stories.mdx
  packages/core/helper-plugin/src/templates/PageTemplate.stories.mdx
  packages/core/helper-plugin/src/utils/auth.stories.mdx
  packages/core/helper-plugin/src/utils/awaitToJS.stories.mdx
  packages/core/helper-plugin/src/utils/difference.stories.mdx
  packages/core/helper-plugin/src/utils/getFileExtension.stories.mdx
  packages/core/helper-plugin/src/utils/hasPermissions.stories.mdx
  packages/core/helper-plugin/src/utils/prefixFileUrlWithBackendUrl.stories.mdx
  packages/core/helper-plugin/src/utils/pxToRem.stories.mdx
  packages/core/helper-plugin/src/utils/setHexOpacity.stories.mdx
  packages/core/helper-plugin/src/utils/translatedErrors.stories.mdx
  yarn.lock
Labels: source: core:helper-plugin, pr: chore

#17637 fix: use ts-expect-error on admin test mock
  packages/admin-test-utils/src/environment.ts
  packages/admin-test-utils/tsconfig.json
Labels: source: tooling, pr: fix

#17648 Release v4.12.4
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/admin-test-utils/src/environment.ts
  packages/admin-test-utils/tsconfig.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/admin/src/pages/Roles/tests/CreatePage.test.js
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#17620 fix: Cannot update content due to wrong sql query
  packages/core/database/lib/entity-manager/regular-relations.js
Labels: source: core:database, pr: fix

#17609 fix: ListView in ApiTokens and TransferTokens shows empty content table
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/ListView/index.js
Labels: source: core:admin, pr: enhancement

#17668 Fix: Ensure fresh data for list and edit-views (api-tokens, users)
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/EditPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/index.js
Labels: source: core:admin, pr: fix

#17650 Chore: Refactor roles list, create and edit pages
  packages/plugins/users-permissions/admin/src/components/Permissions/index.js
  packages/plugins/users-permissions/admin/src/hooks/index.js
  packages/plugins/users-permissions/admin/src/hooks/useFetchRole/index.js
  packages/plugins/users-permissions/admin/src/hooks/useFetchRole/reducer.js
  packages/plugins/users-permissions/admin/src/hooks/useFetchRole/tests/reducer.test.js
  packages/plugins/users-permissions/admin/src/hooks/useForm/index.js
  packages/plugins/users-permissions/admin/src/hooks/useForm/reducer.js
  packages/plugins/users-permissions/admin/src/hooks/useForm/tests/reducer.test.js
  packages/plugins/users-permissions/admin/src/hooks/useRolesList/index.js
  packages/plugins/users-permissions/admin/src/hooks/useRolesList/init.js
  packages/plugins/users-permissions/admin/src/hooks/useRolesList/reducer.js
  packages/plugins/users-permissions/admin/src/hooks/useRolesList/tests/init.test.js
  packages/plugins/users-permissions/admin/src/hooks/useRolesList/tests/reducer.test.js
  packages/plugins/users-permissions/admin/src/index.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/index.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/utils/api.js
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/index.js
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/utils/api.js
  packages/plugins/users-permissions/admin/src/pages/Providers/index.js
  packages/plugins/users-permissions/admin/src/pages/Providers/reducer.js
  packages/plugins/users-permissions/admin/src/pages/Providers/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Providers/utils/api.js
  packages/plugins/users-permissions/admin/src/pages/Providers/utils/createProvidersArray.js
  packages/plugins/users-permissions/admin/src/pages/Providers/utils/tests/createProvidersArray.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ProtectedCreatePage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ProtectedEditPage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ProtectedListPage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/hooks/usePlugins.js
  packages/plugins/users-permissions/admin/src/pages/Roles/index.js
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/CreatePage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/EditPage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/ListPage/components/TableBody.js
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/ListPage/index.js
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/ListPage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/ListPage/utils/api.js
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/tests/CreatePage.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/tests/EditPage.test.js
  packages/plugins/users-permissions/admin/src/tests/setup.js
  packages/plugins/users-permissions/jest.config.front.js
  packages/plugins/users-permissions/tests/setup.js
Labels: source: plugin:users-permissions, pr: chore

#17667 Chore: Refactor email plugin settings page
  packages/core/email/admin/src/index.js
  packages/core/email/admin/src/pages/Settings/components/Configuration.js
  packages/core/email/admin/src/pages/Settings/components/EmailHeader.js
  packages/core/email/admin/src/pages/Settings/index.js
  packages/core/email/admin/src/pages/Settings/tests/index.test.js
  packages/core/email/admin/src/pages/Settings/tests/utils/server.js
  packages/core/email/admin/src/pages/Settings/utils/api.js
  packages/core/email/admin/src/pluginId.js
  packages/core/email/admin/src/utils/getTrad.js
  packages/core/email/package.json
  yarn.lock
Labels: source: core:email, pr: chore

#17673 Chore: Reorganize enterprise hooks
  packages/core/admin/ee/admin/hooks/__mocks__/useLicenseLimits.js
  packages/core/admin/ee/admin/hooks/index.js
  packages/core/admin/ee/admin/hooks/tests/useLicenseLimitNotification.js
  packages/core/admin/ee/admin/hooks/tests/useLicenseLimits.test.js
  packages/core/admin/ee/admin/hooks/useAuthProviders.js
  packages/core/admin/ee/admin/hooks/useAuthProviders/index.js
  packages/core/admin/ee/admin/hooks/useAuthProviders/reducer.js
  packages/core/admin/ee/admin/hooks/useAuthProviders/tests/reducer.test.js
  packages/core/admin/ee/admin/hooks/useLicenseLimitNotification.js
  packages/core/admin/ee/admin/hooks/useLicenseLimits.js
  packages/core/admin/ee/admin/hooks/useLicenseLimits/index.js
  packages/core/admin/ee/admin/pages/AuthPage/components/Login/index.js
  packages/core/admin/ee/admin/pages/AuthPage/components/Providers/index.js
  packages/core/admin/ee/admin/pages/HomePage/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/CreateView/CreateView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/EditView/EditView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/ListView/ListView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/ListPage/CreateAction/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/ListPage/index.js
Labels: source: core:admin, pr: chore

#17488 chore(@​strapi/typescript-utils): add repository info to package.json
  packages/utils/typescript/package.json
Labels: pr: chore, source: typescript

#17535 added support for Valencian locale
  packages/plugins/i18n/server/constants/iso-locales.json
  packages/plugins/i18n/server/services/__tests__/__snapshots__/iso-locales.test.js.snap
Labels: source: core:admin, pr: chore

#17669 Chore: Refactor data-fetching and simplify ApplicationInfosPage
  packages/core/admin/admin/src/pages/Admin/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/SettingsNav/index.js
  packages/core/admin/admin/src/pages/SettingsPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/utils/api.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/utils/prefixAllUrls.js
  packages/core/admin/admin/src/pages/SettingsPage/utils/createSectionsRoutes.js
  packages/core/admin/admin/src/pages/SettingsPage/utils/getSectionsToDisplay.js
  packages/core/admin/admin/src/pages/SettingsPage/utils/index.js
  packages/core/admin/admin/src/pages/SettingsPage/utils/tests/createSectionsRoutes.js
  packages/core/admin/admin/src/pages/SettingsPage/utils/tests/getSectionsToDisplay.test.js
Labels: source: core:admin, pr: chore

#17681 Fix Strapi dark and light mode images on readme
  packages/core/strapi/README.md
Labels: source: docs, pr: doc

#17680 v4.12.5
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#17721 chore(helper-plugin): setup dependabot pattern group, bump storybook
  .github/dependabot.yml
  packages/core/helper-plugin/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#17697 Remove upload-artifact for playwright-reports
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#17733 fix: dont use relative paths, use webpack alias instead
  packages/core/admin/index.js
  packages/core/admin/scripts/build.js
  packages/core/admin/scripts/create-dev-plugins-file.js
  packages/core/admin/scripts/create-plugins-file.js
  packages/core/admin/utils/__tests__/create-plugins-exclude-path.test.js
  packages/core/admin/utils/__tests__/get-plugins-path.test.js
  packages/core/admin/utils/create-cache-dir.js
  packages/core/admin/utils/create-plugins-exclude-path.js
  packages/core/admin/utils/get-plugins-path.js
  packages/core/admin/utils/get-plugins.js
  packages/core/admin/utils/index.js
  packages/core/admin/webpack.config.dev.js
  packages/core/admin/webpack.config.js
  packages/core/content-type-builder/package.json
  packages/core/strapi/lib/commands/actions/watch-admin/action.js
  packages/core/strapi/lib/commands/builders/admin.js
  packages/core/strapi/lib/core/loaders/plugins/get-enabled-plugins.js
Labels: source: core:admin, pr: fix

#17288 Feature: Workflow Assignees
  api-tests/core/admin/ee/review-workflows.test.api.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/ReviewWorkflowsStage/getTableColumns.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/InformationBoxEE.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/AssigneeSelect/AssigneeSelect.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/AssigneeSelect/index.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/AssigneeSelect/tests/AssigneeSelect.test.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/StageSelect/StageSelect.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/StageSelect/index.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/StageSelect/tests/StageSelect.test.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/constants.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/tests/InformationBoxEE.test.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/ReviewWorkflowsAssigneeEE.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/constants.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/index.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/tests/ReviewWorkflowsAssignee.test.js
  packages/core/admin/ee/server/constants/workflows.js
  packages/core/admin/ee/server/controllers/index.js
  packages/core/admin/ee/server/controllers/workflows/assignees/index.js
  packages/core/admin/ee/server/routes/review-workflows.js
  packages/core/admin/ee/server/services/__tests__/assignees.test.js
  packages/core/admin/ee/server/services/__tests__/review-workflows.test.js
  packages/core/admin/ee/server/services/index.js
  packages/core/admin/ee/server/services/review-workflows/assignees.js
  packages/core/admin/ee/server/services/review-workflows/metrics/index.js
  packages/core/admin/ee/server/services/review-workflows/review-workflows.js
  packages/core/admin/ee/server/validation/review-workflows.js
Labels: source: core:content-manager, pr: feature

#17570 Feature/nps
  docs/docs/docs/01-core/admin/05-nps.md
  docs/docs/docs/01-core/helper-plugin/hooks/use-persistent-state.mdx
  packages/core/admin/admin/src/components/AuthenticatedApp.js
  packages/core/admin/admin/src/components/NpsSurvey/hooks/useNpsSurveySettings.js
  packages/core/admin/admin/src/components/NpsSurvey/index.js
  packages/core/admin/admin/src/components/NpsSurvey/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: feature

#17613 feat: add auto-focussing via URLSearchParam to content-manager
  docs/docs/docs/01-core/helper-plugin/hooks/use-focus-input-field.mdx
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DynamicZoneLabel.js
  packages/core/admin/admin/src/content-manager/components/InputUID/index.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/index.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/Editor.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/EditorStylesContainer.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/WysiwygStyles.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/index.js
  packages/core/admin/admin/src/pages/ProfilePage/tests/index.test.js
  packages/core/helper-plugin/src/components/GenericInput.jsx
  packages/core/helper-plugin/src/components/tests/GenericInput.test.jsx
  packages/core/helper-plugin/src/components/tests/__snapshots__/GenericInput.test.jsx.snap
  packages/core/helper-plugin/src/hooks/useFocusInputField.ts
  packages/core/helper-plugin/src/hooks/useQuery.js
  packages/core/helper-plugin/src/hooks/useQuery.ts
  packages/core/helper-plugin/src/index.js
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/CarouselAssets.js
  packages/core/upload/admin/src/components/MediaLibraryInput/index.js
  packages/plugins/color-picker/admin/src/components/ColorPicker/ColorPickerInput/index.js
  packages/plugins/color-picker/admin/src/hooks/useComposeRefs.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
Labels: source: core:content-manager, pr: feature

#17744 fix: webpack dev server wants false not undefined for a non-enabled plugins
  packages/core/admin/webpack.config.dev.js
Labels: source: core:admin, pr: fix

#17205 Feat: Allow writeable & nonvisible fields as default sort
  api-tests/core/content-manager/content-manager/configuration.test.api.js
  api-tests/core/content-manager/fields/non-visible.test.api.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Information/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/StageSelect/StageSelect.js
  packages/core/admin/server/services/permission/permissions-manager/sanitize.js
  packages/core/content-manager/package.json
  packages/core/content-manager/server/controllers/validation/model-configuration.js
  packages/core/content-manager/server/services/utils/configuration/__tests__/settings.test.js
  packages/core/content-manager/server/services/utils/configuration/attributes.js
  packages/core/content-manager/server/services/utils/configuration/settings.js
  yarn.lock
Labels: source: core:content-manager, pr: enhancement

#17685 Fix: Use sync over async components in admin panel APIs
  packages/core/admin/admin/src/StrapiApp.js
  packages/core/admin/admin/src/components/Providers/index.js
  packages/core/admin/admin/src/pages/Admin/index.js
  packages/core/admin/admin/src/pages/SettingsPage/constants.js
  packages/core/admin/admin/src/pages/SettingsPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/admin/admin/src/tests/StrapiApp.test.js
  packages/core/admin/admin/src/utils/createRoute.js
  packages/core/admin/admin/src/utils/tests/createRoute.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/constants.js
  packages/core/content-type-builder/admin/src/index.js
  packages/core/email/admin/src/index.js
  packages/core/helper-plugin/src/features/StrapiApp.jsx
  packages/core/helper-plugin/src/index.js
  packages/core/upload/admin/src/index.js
  packages/plugins/documentation/admin/src/index.js
  packages/plugins/i18n/admin/src/index.js
  packages/plugins/users-permissions/admin/src/index.js
Labels: source: core:admin, pr: fix

#17477 Enhancement: Improve content-manager sorting & filtering capabilities
  api-tests/core/content-manager/content-manager/configuration.test.api.js
  api-tests/core/content-manager/fields/non-visible.test.api.js
  packages/core/admin/admin/src/content-manager/components/AttributeFilter/hooks/useAllowedAttributes.js
  packages/core/admin/admin/src/content-manager/components/AttributeFilter/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/Filter/CustomInputs/AdminUsersFilter.js
  packages/core/admin/admin/src/content-manager/components/Filter/CustomInputs/tests/AdminUsersFilter.test.js
  packages/core/admin/admin/src/content-manager/components/Filter/Filter.js
  packages/core/admin/admin/src/content-manager/components/Filter/index.js
  packages/core/admin/admin/src/content-manager/hooks/useAllowedAttributes.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Information/index.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/Settings.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/content-manager/utils/getDisplayName.js
  packages/core/admin/admin/src/content-manager/utils/index.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/ee/admin/content-manager/components/Filter/CustomInputs/ReviewWorkflows/AssigneeFilter.js
  packages/core/admin/ee/admin/content-manager/components/Filter/CustomInputs/ReviewWorkflows/StageFilter.js
  packages/core/admin/ee/admin/content-manager/components/Filter/CustomInputs/ReviewWorkflows/constants.js
  packages/core/admin/ee/admin/content-manager/components/Filter/CustomInputs/ReviewWorkflows/tests/AssigneeFilter.test.js
  packages/core/admin/ee/admin/content-manager/components/Filter/CustomInputs/ReviewWorkflows/tests/StageFilter.test.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/StageSelect/StageSelect.js
  packages/core/admin/ee/admin/content-manager/pages/ListSettingsView/constants.js
  packages/core/admin/server/services/__tests__/permissions-manager-sanitize.test.js
  packages/core/admin/server/services/permission/permissions-manager/sanitize.js
  packages/core/content-manager/package.json
  packages/core/content-manager/server/controllers/validation/model-configuration.js
  packages/core/content-manager/server/services/data-mapper.js
  packages/core/content-manager/server/services/utils/configuration/__tests__/settings.test.js
  packages/core/content-manager/server/services/utils/configuration/attributes.js
  packages/core/content-manager/server/services/utils/configuration/settings.js
  packages/core/utils/src/content-types.ts
  yarn.lock
Labels: source: core:content-manager, pr: feature

#17569 Fix circular dependency caused by Attribute.UID in Attribute.Any
  packages/core/strapi/lib/types/core/attributes/common.d.ts
  packages/core/strapi/lib/types/core/attributes/uid.d.ts
  packages/core/strapi/lib/types/utils/expression.d.ts
  packages/core/strapi/lib/types/utils/guard.d.ts
Labels: pr: fix, source: typescript

#17745 [helper-plugin]: migrate use-persistent-state hook to typescript
  packages/core/helper-plugin/src/hooks/tests/usePersistentState.test.ts
  packages/core/helper-plugin/src/hooks/usePersistentState.ts
Labels: source: core:helper-plugin, pr: enhancement

#17758 v4.12.6
  .github/actions/check-pr-status/package.json
  docs/docs/docs/01-core/admin/05-nps.md
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/admin/src/components/NpsSurvey/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/Settings.js
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#17723 Route listing available stages to transition to
  api-tests/core/admin/ee/review-workflows.test.api.js
  packages/core/admin/ee/server/controllers/__tests__/stages.test.js
  packages/core/admin/ee/server/controllers/workflows/stages/index.js
  packages/core/admin/ee/server/routes/review-workflows.js
Labels: pr: feature, source: core:review-workflows

#17774 Fix typo in sanitize
  packages/core/admin/server/services/permission/permissions-manager/sanitize.js
Labels: source: core:utils, pr: fix

#17728 [helper-plugin]: migrate icons folder to typescript
  packages/core/helper-plugin/src/icons/RemoveRoundedButton.tsx
  packages/core/helper-plugin/src/icons/SortIcon.jsx
  packages/core/helper-plugin/src/icons/SortIcon.tsx
  packages/core/helper-plugin/src/utils/pxToRem.js
  packages/core/helper-plugin/src/utils/pxToRem.ts
  packages/core/helper-plugin/src/utils/tests/pxToRem.test.ts
Labels: source: core:helper-plugin, pr: enhancement

#17768 fix: include strapi_assignee as a known feature in data transfer
  packages/core/strapi/lib/commands/utils/data-transfer.js
Labels: pr: fix, source: core:review-workflows

#17739 docs: add fe coding guidelines
  docs/docs/guides/04-fe-coding-guidelines.mdx
  docs/docs/index.md
  docs/static/img/guides/fe-guidelines/caniuse-example.png
Labels: source: docs, pr: doc

#17796 Update assignee select success messaging
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/AssigneeSelect/AssigneeSelect.js
Labels: pr: fix, source: core:review-workflows

#17804 [U&P] Add allowedFields configuration option
  packages/plugins/users-permissions/server/bootstrap/index.js
  packages/plugins/users-permissions/server/controllers/auth.js
Labels: source: plugin:users-permissions, pr: security

#17602 List view: new cog button icon with the view settings in the list view page
  packages/core/admin/admin/src/content-manager/components/Filter/Filter.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/FieldPicker/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/FieldPicker/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/ViewSettingsMenu/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/ViewSettingsMenu/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: enhancement

#17834 fix(cm): add missing qs dependency
  packages/core/content-manager/package.json
  yarn.lock
Labels: source: core:admin, pr: fix

#17797 Use getDisplayName for CM list view assignee column
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/ReviewWorkflowsAssigneeEE.js
  packages/core/admin/ee/admin/content-manager/pages/ListView/ReviewWorkflowsColumn/tests/ReviewWorkflowsAssignee.test.js
Labels: pr: fix, source: core:review-workflows

#17772 feat: proxy content type in controller factory
  packages/core/strapi/lib/factories.js
Labels: source: core:strapi, pr: fix

#17798 fix(cm): check permissions before loading users
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/AssigneeSelect/AssigneeSelect.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/AssigneeSelect/tests/AssigneeSelect.test.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/StageSelect/StageSelect.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/tests/InformationBoxEE.test.js
Labels: source: core:content-manager, pr: fix

#17730 [DTS] Only delete types of data that are being transferred
  packages/core/data-transfer/src/__tests__/test-utils.ts
  packages/core/data-transfer/src/engine/__tests__/engine.test.ts
  packages/core/data-transfer/src/engine/index.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/__tests__/assets.test.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/__tests__/index.test.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/index.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/strategies/restore/index.ts
  packages/core/strapi/lib/commands/actions/import/__tests__/import.test.js
  packages/core/strapi/lib/commands/actions/import/action.js
  packages/core/strapi/lib/commands/actions/import/command.js
  packages/core/strapi/lib/commands/actions/transfer/__tests__/transfer.test.js
  packages/core/strapi/lib/commands/actions/transfer/action.js
  packages/core/strapi/lib/commands/actions/transfer/command.js
  packages/core/strapi/lib/commands/utils/data-transfer.js
Labels: pr: fix, source: core:data-transfer

#17702 fix: display role names
  api-tests/core/content-manager/api/relations-permissions.test.api.js
  packages/core/content-manager/server/controllers/relations.js
Labels: source: core:content-manager, pr: fix

#17844 Revert "Fix: Use sync over async components in admin panel APIs"
  packages/core/admin/admin/src/StrapiApp.js
  packages/core/admin/admin/src/components/Providers/index.js
  packages/core/admin/admin/src/pages/Admin/index.js
  packages/core/admin/admin/src/pages/SettingsPage/constants.js
  packages/core/admin/admin/src/pages/SettingsPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/admin/admin/src/tests/StrapiApp.test.js
  packages/core/admin/admin/src/utils/createRoute.js
  packages/core/admin/admin/src/utils/tests/createRoute.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/constants.js
  packages/core/content-type-builder/admin/src/index.js
  packages/core/email/admin/src/index.js
  packages/core/helper-plugin/src/features/StrapiApp.jsx
  packages/core/helper-plugin/src/index.js
  packages/core/upload/admin/src/index.js
  packages/plugins/documentation/admin/src/index.js
  packages/plugins/i18n/admin/src/index.js
  packages/plugins/users-permissions/admin/src/index.js
Labels: source: core:admin, pr: chore

#17769 [helper-plugin]: migrate useQueryParams hook to typescript
  packages/core/helper-plugin/src/hooks/tests/useQueryParams.test.tsx
  packages/core/helper-plugin/src/hooks/useQueryParams.ts
Labels: source: core:helper-plugin, pr: enhancement

#17845 Remove check for excluding non-local providers
  packages/core/data-transfer/src/strapi/providers/local-destination/index.ts
  packages/core/strapi/lib/commands/actions/import/action.js
Labels: pr: fix, source: core:data-transfer

#17799 [Feature] Entity Service types
  .github/actions/security/lockfile/action.yml
  .github/actions/security/lockfile/script.sh
  .github/workflows/checks.yml
  examples/getstarted/jsconfig.json
  examples/kitchensink/jsconfig.json
  jest-preset.unit.js
  packages/core/data-transfer/src/strapi/queries/entity.ts
  packages/core/strapi/lib/factories.d.ts
  packages/core/strapi/lib/services/entity-service/index.d.ts
  packages/core/strapi/lib/services/entity-service/index.js
  packages/core/strapi/lib/services/entity-service/types/index.d.ts
  packages/core/strapi/lib/services/entity-service/types/params/attributes.d.ts
  packages/core/strapi/lib/services/entity-service/types/params/data.d.ts
  packages/core/strapi/lib/services/entity-service/types/params/fields.d.ts
  packages/core/strapi/lib/services/entity-service/types/params/filters/index.d.ts
  packages/core/strapi/lib/services/entity-service/types/params/filters/operators.d.ts
  packages/core/strapi/lib/services/entity-service/types/params/index.d.ts
  packages/core/strapi/lib/services/entity-service/types/params/pagination.d.ts
  packages/core/strapi/lib/services/entity-service/types/params/populate.d.ts
  packages/core/strapi/lib/services/entity-service/types/params/publication-state.d.ts
  packages/core/strapi/lib/services/entity-service/types/params/search.d.ts
  packages/core/strapi/lib/services/entity-service/types/params/sort.d.ts
  packages/core/strapi/lib/services/entity-service/types/plugin.d.ts
  packages/core/strapi/lib/services/entity-service/types/result.d.ts
  packages/core/strapi/lib/types/__tests__/definitions/utils/string.d.ts
  packages/core/strapi/lib/types/__tests__/utils/string.test.js
  packages/core/strapi/lib/types/core-api/controller.d.ts
  packages/core/strapi/lib/types/core/attributes/common.d.ts
  packages/core/strapi/lib/types/core/attributes/component.d.ts
  packages/core/strapi/lib/types/core/attributes/date-time.d.ts
  packages/core/strapi/lib/types/core/attributes/dynamic-zone.d.ts
  packages/core/strapi/lib/types/core/attributes/media.d.ts
  packages/core/strapi/lib/types/core/attributes/relation.d.ts
  packages/core/strapi/lib/types/core/attributes/time.d.ts
  packages/core/strapi/lib/types/core/attributes/timestamp.d.ts
  packages/core/strapi/lib/types/core/attributes/utils.d.ts
  packages/core/strapi/lib/types/core/common/index.d.ts
  packages/core/strapi/lib/types/core/common/uid.d.ts
  packages/core/strapi/lib/types/core/index.d.ts
  packages/core/strapi/lib/types/core/plugins/index.d.ts
  packages/core/strapi/lib/types/core/schemas/index.d.ts
  packages/core/strapi/lib/types/core/strapi/index.d.ts
  packages/core/strapi/lib/types/index.d.ts
  packages/core/strapi/lib/types/shared/entity-service.d.ts
  packages/core/strapi/lib/types/shared/index.d.ts
  packages/core/strapi/lib/types/shared/plugins.d.ts
  packages/core/strapi/lib/types/utils/expression.d.ts
  packages/core/strapi/lib/types/utils/index.d.ts
  packages/core/strapi/lib/types/utils/object.d.ts
  packages/core/strapi/lib/types/utils/string.d.ts
  packages/core/strapi/package.json
  packages/generators/app/src/resources/json/js/jsconfig.json.ts
  packages/providers/audit-logs-local/src/index.ts
  yarn.lock
Labels: pr: feature, source: typescript

#17800 [helper-plugin] Migrate stopPropagation util to TS
  packages/core/helper-plugin/src/utils/stopPropagation.js
  packages/core/helper-plugin/src/utils/stopPropagation.ts
  packages/core/helper-plugin/src/utils/tests/stopPropagation.test.ts
  packages/core/helper-plugin/src/utils/translatedErrors.ts
Labels: source: core:helper-plugin, pr: chore

#17846 [helper-plugin]: migrate useSelectionState hook to typescript
  packages/core/helper-plugin/src/hooks/tests/useSelectionState.test.ts
  packages/core/helper-plugin/src/hooks/useSelectionState.ts
Labels: source: core:helper-plugin, pr: enhancement

#17865 fix: Ignore review workflow fields on user content type modifications check
  packages/plugins/users-permissions/server/bootstrap/index.js
Labels: pr: fix, source: core:review-workflows

#17751 fix: asset url appending
  packages/core/upload/admin/src/components/AssetCard/ImageAssetCard.js
  packages/core/upload/admin/src/components/AssetGridList/tests/__snapshots__/AssetGridList.test.js.snap
  packages/core/upload/admin/src/utils/appendSearchParamsToUrl.js
  packages/core/upload/admin/src/utils/index.js
  packages/core/upload/admin/src/utils/tests/appendSearchParamsToUrl.test.js
Labels: source: core:upload, pr: fix

#17864 fix(cm): remove chevron-down on context menus of dynamic-zone components
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DynamicComponent.js
Labels: source: core:content-manager, pr: fix

#17883 [helper-plugin] Migrate wrapAxiosInstance to typescript
  packages/core/helper-plugin/src/utils/tests/wrapAxiosInstance.test.ts
  packages/core/helper-plugin/src/utils/wrapAxiosInstance.js
  packages/core/helper-plugin/src/utils/wrapAxiosInstance.ts
Labels: source: core:helper-plugin, pr: chore
