Repository strapi/strapi, pull requests merged in 2023-10, with the labels that each got.

#18180 Allow empty objects in validator
  api-tests/core/strapi/api/validate-query/validate-query.test.api.js
  api-tests/plugins/graphql/relations.test.api.js
  packages/core/utils/src/validate/validators.ts
Labels: source: core:utils, pr: fix

#18242 chore: remove stylelint
  .stylelintrc
  package.json
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/index.js
  yarn.lock
Labels: source: dependencies, pr: chore

#18240 chore: update eslint
  package.json
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/src/components/DynamicTable.tsx
  packages/core/permissions/src/__tests__/permissions.engine.test.ts
  packages/core/strapi/src/load/load-files.ts
  packages/core/strapi/src/services/content-api/permissions/index.ts
  packages/core/strapi/src/services/entity-service/components.ts
  packages/core/strapi/src/services/entity-validator/blocks-validator.ts
  packages/core/strapi/src/services/server/routing.ts
  packages/core/strapi/src/services/utils/upload-files.ts
  packages/core/types/src/modules/entity-service/params/attributes.ts
  packages/core/types/src/types/core/attributes/component.ts
  packages/core/types/src/types/core/attributes/media.ts
  packages/core/types/src/types/core/attributes/relation.ts
  packages/core/types/src/types/core/attributes/uid.ts
  packages/core/utils/src/validate/validators.ts
  packages/core/utils/src/yup.ts
  packages/utils/eslint-config-custom/back/typescript.js
  packages/utils/eslint-config-custom/front/typescript.js
  yarn.lock
Labels: source: dependencies, pr: chore

#18205 [RTE] Make images truly void
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
Labels: source: core:admin, pr: fix

#18241 chore: bump design-system from 1.11.0 to 1.12.0
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#18237 docs(pack-up): add readme and contributor docs
  docs/docs/docs/05-utils/_category_.json
  docs/docs/docs/05-utils/pack-up/00-intro.mdx
  docs/docs/docs/05-utils/pack-up/01-commands/00-overview.mdx
  docs/docs/docs/05-utils/pack-up/01-commands/01-init.mdx
  docs/docs/docs/05-utils/pack-up/01-commands/02-build.mdx
  docs/docs/docs/05-utils/pack-up/01-commands/03-check.mdx
  docs/docs/docs/05-utils/pack-up/01-commands/04-watch.mdx
  docs/docs/docs/05-utils/pack-up/01-commands/_category_.json
  docs/docs/docs/05-utils/pack-up/02-config.mdx
  docs/docs/docs/05-utils/pack-up/03-templates.mdx
  docs/docs/docs/05-utils/pack-up/_category_.json
  packages/utils/pack-up/README.md
Labels: source: docs, pr: chore

#18181 [Blocks editor] Manage mixed blocks selection
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
Labels: source: core:admin, pr: enhancement

#18238 chore: use yarn resolution for design-system
  .github/workflows/tests.yml
  package.json
  packages/admin-test-utils/package.json
  packages/admin-test-utils/tsconfig.json
  packages/core/admin/package.json
  packages/core/helper-plugin/.eslintrc.js
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/src/content-manager/utils/tests/contentManagementUtilRemoveFieldsFromData.test.ts
  packages/core/helper-plugin/src/content-manager/utils/tests/formatContentTypeData.test.ts
  packages/core/helper-plugin/src/content-manager/utils/tests/testData.ts
  packages/core/helper-plugin/src/utils/request.ts
  packages/core/helper-plugin/tests/utils.tsx
  packages/core/helper-plugin/tsconfig.build.json
  packages/core/helper-plugin/tsconfig.eslint.json
  packages/core/helper-plugin/tsconfig.json
  packages/core/helper-plugin/webpack.config.js
  packages/plugins/color-picker/admin/.eslintrc.js
  packages/plugins/color-picker/admin/src/components/ColorPickerInput.tsx
  packages/plugins/color-picker/admin/src/global.d.ts
  packages/utils/tsconfig/client.json
  yarn.lock
Labels: source: external, pr: chore

#18195 [Rich Text Editor] Add link plugin and buttons
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useBlocksStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/plugins/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/plugins/withLinks.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/plugins/withStrapiSchema.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/utils/links.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:content-manager, pr: enhancement

#18193 [RTE] Fix focus on select
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useModifiersStore.js
Labels: source: core:admin, pr: fix

#18207 [RTE] Fix blocks config (list, sort, filter, main field)
  packages/core/admin/admin/src/content-manager/hooks/useAllowedAttributes.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/index.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/utils/createPossibleMainFieldsForModelsAndComponents.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/constants.js
  packages/core/admin/admin/src/content-manager/utils/checkIfAttributeIsDisplayable.js
  packages/core/content-manager/server/services/utils/configuration/attributes.js
Labels: source: core:admin, pr: fix

#18274 Update e2e test node engines
  e2e/app-template/package.json
Labels: source: tooling, pr: chore

#18260 [Blocks Editor] Fix empty list backspace issue
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/BlocksInput/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useBlocksStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
Labels: source: core:content-manager, pr: fix

#18284 [Blocks] Set fixed height for the whole editor
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/BlocksInput/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
Labels: source: core:admin, pr: enhancement

#18261 tests(upload): fix error logs in upload tests
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/tests/CarouselAssets.test.js
  packages/core/upload/admin/src/components/TableList/TableRows.js
  packages/core/upload/admin/src/components/TableList/tests/TableRows.test.js
  packages/core/upload/admin/src/components/UploadAssetDialog/UploadAssetDialog.js
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/UploadAssetDialog.test.js
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/server.js
  packages/core/upload/admin/src/hooks/tests/useConfig.test.js
  packages/core/upload/admin/src/hooks/tests/useFolder.test.js
  packages/core/upload/admin/src/hooks/tests/useFolders.test.js
  packages/core/upload/admin/src/hooks/tests/useModalQueryParams.test.js
  packages/core/upload/admin/src/hooks/useConfig.js
  packages/core/upload/admin/src/hooks/useFolder.js
  packages/core/upload/admin/src/hooks/useFolders.js
  packages/core/upload/admin/src/pages/SettingsPage/index.js
  packages/core/upload/admin/src/pages/SettingsPage/reducer.js
  packages/core/upload/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/upload/admin/src/pages/SettingsPage/tests/reducer.test.js
  packages/core/upload/admin/src/pages/SettingsPage/tests/utils/server.js
  packages/core/upload/admin/src/utils/tests/downloadFile.test.js
  packages/core/upload/admin/tests/server.js
  packages/core/upload/admin/tests/setup.js
  packages/core/upload/admin/tests/utils.jsx
  packages/core/upload/jest.config.front.js
  packages/core/upload/jsconfig.json
Labels: source: core:upload, pr: chore

#18272 Very Quick README.md Change
  README.md
Labels: source: docs, pr: fix

#18278 [Blocks] Replace alpha warnings by beta warnings
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/content-type-builder/admin/src/components/AttributeOptions/AttributeOption/index.js
  packages/core/content-type-builder/admin/src/components/FormModal/index.js
  packages/core/content-type-builder/admin/src/translations/en.json
Labels: source: core:admin, pr: enhancement

#18255 [Blocks editor] Manage click Enter twice on the same line
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useBlocksStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
Labels: source: core:admin, pr: enhancement

#18295 fix: undefined error for relation type filter field
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
Labels: source: core:content-manager, pr: fix

#18294 v4.14.3
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/pack-up/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#18285 chore(admin): convert useThemeToggle to TS
  .github/workflows/adminBundleSize.yml
  packages/core/admin/admin/src/components/Theme/index.js
  packages/core/admin/admin/src/components/ThemeToggleProvider/index.js
  packages/core/admin/admin/src/contexts/ThemeToggle/index.js
  packages/core/admin/admin/src/contexts/index.js
  packages/core/admin/admin/src/contexts/themeToggle.ts
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/useThemeToggle.ts
  packages/core/admin/admin/src/hooks/useThemeToggle/index.js
  packages/core/admin/admin/src/pages/ProfilePage/index.js
Labels: source: core:admin, pr: chore

#18290 [Blocks editor] Add the list ordered and list unordered options in the block selector
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
Labels: source: core:admin, pr: enhancement

#18315 feat: add exports to pack-up config
  packages/utils/pack-up/README.md
  packages/utils/pack-up/package.json
  packages/utils/pack-up/src/node/core/config.ts
  packages/utils/pack-up/src/node/createBuildContext.ts
  packages/utils/pack-up/src/node/createTasks.ts
Labels: pr: enhancement, source: utils:pack-up

#18252 fix: typo causing action button to not show in empty list
  e2e/tests/content-manager/listview.spec.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
Labels: source: core:content-manager, pr: fix

#18296 [Blocks Editor] Fix enter key on empty list
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useBlocksStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
Labels: source: core:content-manager, pr: fix

#18308 chore: build strapi utils with pack-up
  .github/actions/run-api-tests/script.sh
  .github/workflows/tests.yml
  packages/core/helper-plugin/declarations/@strapi/utils.d.ts
  packages/core/helper-plugin/src/utils/normalizeAPIError.ts
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/UploadAssetDialog.test.js
  packages/core/utils/package.json
  packages/core/utils/packup.config.ts
  packages/core/utils/src/index.ts
  packages/core/utils/src/parse-multipart.ts
  packages/core/utils/src/print-value.ts
  packages/core/utils/src/template-configuration.ts
  packages/core/utils/src/yup.ts
  packages/core/utils/tsconfig.build.json
  packages/core/utils/tsconfig.eslint.json
  yarn.lock
Labels: source: core:utils, pr: chore

#18292 chore(admin): Convert useNavigatorOnLine to TS
  packages/core/admin/admin/src/pages/MarketplacePage/hooks/__mocks__/useNavigatorOnline.ts
  packages/core/admin/admin/src/pages/MarketplacePage/hooks/tests/useNavigatorOnline.test.ts
  packages/core/admin/admin/src/pages/MarketplacePage/hooks/useNavigatorOnline.ts
  packages/core/admin/admin/src/pages/MarketplacePage/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/plugins.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/providers.test.js
Labels: source: core:admin, pr: chore

#18313 chore(admin): convert DragLayer, PrivateRoute, Theme, ThemeToggleProvider
  packages/core/admin/admin/custom.d.ts
  packages/core/admin/admin/src/components/AuthenticatedApp/tests/index.test.js
  packages/core/admin/admin/src/components/DragLayer.tsx
  packages/core/admin/admin/src/components/DragLayer/index.js
  packages/core/admin/admin/src/components/GlobalStyle/index.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/tests/index.test.js
  packages/core/admin/admin/src/components/PrivateRoute.tsx
  packages/core/admin/admin/src/components/PrivateRoute/index.js
  packages/core/admin/admin/src/components/Providers/index.js
  packages/core/admin/admin/src/components/Theme.tsx
  packages/core/admin/admin/src/components/Theme/index.js
  packages/core/admin/admin/src/components/ThemeToggleProvider.tsx
  packages/core/admin/admin/src/components/ThemeToggleProvider/index.js
  packages/core/admin/admin/src/components/tests/PrivateRoute.test.tsx
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/ComponentCard.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/NoContentType/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/NoPermissions/tests/index.test.js
  packages/core/admin/admin/src/contexts/themeToggle.ts
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/admin/admin/src/pages/ProfilePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/DynamicTable/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/admin/admin/tsconfig.json
Labels: source: core:admin, pr: chore

#18301 fix: upload replaced media file
  packages/core/upload/admin/src/hooks/useEditAsset.js
Labels: source: core:upload, pr: fix

#18328 chore: force dependabot to do semantic style commits
  .github/dependabot.yml
Labels: source: tooling, pr: chore

#18291 chore(admin): convert useRegenerate to TS
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/Regenerate/index.js
  packages/core/admin/admin/src/pages/SettingsPage/hooks/tests/useRegenerate.test.tsx
  packages/core/admin/admin/src/pages/SettingsPage/hooks/useRegenerate.ts
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/Regenerate/index.js
  packages/core/helper-plugin/src/features/Notifications.tsx
Labels: source: core:admin, pr: chore

#18310 chore(admin): convert useDebounce to TS
  packages/core/admin/admin/src/content-manager/components/InputUID/index.js
  packages/core/admin/admin/src/hooks/useDebounce.ts
  packages/core/admin/admin/src/hooks/useDebounce/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/plugins.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/providers.test.js
Labels: source: core:admin, pr: chore

#18324 [Blocks] Disable link button when editor is disabled
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
Labels: source: core:admin, pr: fix

#18330 fix(tooling): dependabot script
  .github/dependabot.yml
Labels: source: tooling, pr: chore

#18239 [Blocks Editor] Description and placeholder added
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/BlocksInput/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/tests/index.test.js
Labels: source: core:content-manager, pr: enhancement

#18311 feat: add Entity Id type
  packages/core/strapi/src/core-api/service/collection-type.ts
  packages/core/types/src/modules/entity-service/params/attributes.ts
  packages/core/types/src/types/core-api/service.ts
  packages/core/types/src/types/core/attributes/utils.ts
  packages/core/types/src/types/core/entity/index.ts
  packages/core/types/src/types/core/index.ts
  packages/core/utils/src/types.ts
Labels: pr: enhancement, source: typescript

#18325 [Blocks] Fix links colors
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useModifiersStore.js
Labels: source: core:admin, pr: fix

#18322 [Blocks] Fix code blocks shrinking
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
Labels: source: core:admin, pr: fix

#18334 [Blocks editor] Fix error message "This doesn't match the JSON format" when we click Save with an empty Block field
  packages/core/admin/admin/src/content-manager/utils/schema.js
Labels: source: core:admin, pr: enhancement

#18329 chore: convert helper-plugin to pack-up
  .github/workflows/adminBundleSize.yml
  .github/workflows/tests.yml
  packages/core/admin/admin/src/components/GuidedTour/Homepage/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/NoContentType/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/InternalErrorPage/tests/index.test.js
  packages/core/admin/admin/src/pages/NotFoundPage/tests/index.test.js
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/.browserslistrc
  packages/core/helper-plugin/.eslintignore
  packages/core/helper-plugin/.eslintrc
  packages/core/helper-plugin/.eslintrc.js
  packages/core/helper-plugin/.storybook/main.ts
  packages/core/helper-plugin/custom.d.ts
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/src/components/FilterListURLQuery.tsx
  packages/core/helper-plugin/src/components/FilterPopoverURLQuery.tsx
  packages/core/helper-plugin/src/content-manager/CMEditViewDataManager.tsx
  packages/core/helper-plugin/src/features/CustomFields.tsx
  packages/core/helper-plugin/src/hooks/tests/useAPIErrorHandler.test.ts
  packages/core/helper-plugin/src/hooks/useAPIErrorHandler.ts
  packages/core/helper-plugin/src/utils/tests/getAPIInnerErrors.test.ts
  packages/core/helper-plugin/src/utils/tests/normalizeAPIError.test.ts
  packages/core/helper-plugin/tsconfig.build.json
  packages/core/helper-plugin/tsconfig.eslint.json
  packages/core/helper-plugin/tsconfig.json
  packages/core/helper-plugin/webpack.config.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.js.snap
  packages/utils/pack-up/src/node/tasks/vite/config.ts
  yarn.lock
Labels: source: core:helper-plugin, pr: chore

#18318 chore(admin): convert useLicenseLimitNotification to TS
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/useLicenseLimitNotification.ts
  packages/core/admin/admin/src/hooks/useLicenseLimitNotification/index.js
  packages/core/admin/ee/admin/hooks/tests/useLicenseLimitNotification.ts
  packages/core/admin/ee/admin/hooks/useLicenseLimitNotification.ts
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/ListPage/index.js
Labels: source: core:admin, pr: chore

#18332 [Blocks Editor] Link popover save button disabled state
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useBlocksStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:content-manager, pr: fix

#17537 [Data Transfer] Select http/https module based on protocol in local provider
  packages/core/data-transfer/src/strapi/providers/local-source/assets.ts
Labels: pr: fix, source: core:data-transfer

#18340 fix: dependabot.yml
  .github/dependabot.yml
Labels: source: tooling, pr: chore

#18286 chore(admin): cleanup and convert useReleaseNotification to TS
  packages/core/admin/admin/src/components/AuthenticatedApp/index.js
  packages/core/admin/admin/src/components/AuthenticatedApp/tests/index.test.js
  packages/core/admin/admin/src/components/AuthenticatedApp/utils/api.js
  packages/core/admin/admin/src/components/AuthenticatedApp/utils/checkLatestStrapiVersion.js
  packages/core/admin/admin/src/components/AuthenticatedApp/utils/checkLatestStrapiVersion.ts
  packages/core/admin/admin/src/components/AuthenticatedApp/utils/fetchStrapiLatestRelease.ts
  packages/core/admin/admin/src/components/AuthenticatedApp/utils/tests/checkLatestStrapiVersion.test.ts
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/useReleaseNotification/index.js
  packages/core/admin/admin/src/hooks/useReleaseNotification/utils/checkLatestStrapiVersion.js
  packages/core/admin/admin/src/pages/Admin/tests/index.test.js
Labels: source: core:admin, pr: chore

#18201 Release beta version of blocks editor
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/BlocksInput/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useBlocksStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useModifiersStore.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/plugins/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/plugins/withLinks.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/plugins/withStrapiSchema.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/utils/links.js
  packages/core/admin/admin/src/content-manager/hooks/useAllowedAttributes.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/index.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/utils/createPossibleMainFieldsForModelsAndComponents.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/constants.js
  packages/core/admin/admin/src/content-manager/utils/checkIfAttributeIsDisplayable.js
  packages/core/admin/admin/src/content-manager/utils/schema.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-manager/server/services/utils/configuration/attributes.js
  packages/core/content-type-builder/admin/src/components/AttributeOptions/AttributeOption/index.js
  packages/core/content-type-builder/admin/src/components/FormModal/index.js
  packages/core/content-type-builder/admin/src/translations/en.json
Labels: source: core:admin, pr: enhancement

#18266 [Blocks] Fix content not updating when switching locales
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
Labels: source: core:admin, pr: fix

#18335 [Blocks editor] Images too big in large viewports
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
Labels: source: core:admin, pr: enhancement

#18357 chore: pack-up admin-test-utils
  packages/admin-test-utils/.eslintrc.js
  packages/admin-test-utils/package.json
  packages/admin-test-utils/src/fixtures/collection-types/index.ts
  packages/admin-test-utils/src/fixtures/meta-data/index.ts
  packages/admin-test-utils/src/fixtures/permissions/index.ts
  packages/admin-test-utils/tsconfig.build.json
  packages/admin-test-utils/tsconfig.eslint.json
  packages/admin-test-utils/tsconfig.json
  packages/core/helper-plugin/tests/utils.tsx
  yarn.lock
Labels: source: tooling, pr: chore

#18365 [RTE] remove screen debug
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
Labels: source: core:admin, pr: chore

#18321 Replace ts-zen (github) with strapi/ts-zen (npm)
  .github/workflows/checks.yml
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/types/src/types/__tests__/test.utils.ts
  packages/core/types/src/types/__tests__/utils/array.test.ts
  packages/core/types/src/types/__tests__/utils/expression.test.ts
  packages/core/types/src/types/__tests__/utils/guard.test.ts
  packages/core/types/src/types/__tests__/utils/object.test.ts
  packages/core/types/src/types/__tests__/utils/string.test.ts
  yarn.lock
Labels: source: dependencies, pr: chore

#18127 [Email] - Migrate frontend to typescript
  packages/core/admin/admin/src/utils/createRoute.js
  packages/core/email/admin/.eslintrc.js
  packages/core/email/admin/src/constants.ts
  packages/core/email/admin/src/index.ts
  packages/core/email/admin/src/pages/Settings.tsx
  packages/core/email/admin/src/pages/Settings/index.js
  packages/core/email/admin/src/translations/tests/plural.test.ts
  packages/core/email/admin/src/utils/schema.ts
  packages/core/email/admin/tsconfig.json
  packages/core/email/package.json
  packages/core/email/packup.config.ts
  packages/core/email/strapi-admin.js
  packages/core/email/tsconfig.build.json
  packages/core/helper-plugin/src/components/CheckPagePermissions.tsx
  packages/core/helper-plugin/src/components/CheckPermissions.tsx
  packages/core/helper-plugin/tsconfig.eslint.json
  packages/core/types/src/types/core/plugins/config/strapi-admin/index.ts
  packages/core/types/src/types/core/plugins/config/strapi-server/config.ts
  packages/plugins/color-picker/admin/tsconfig.eslint.json
  yarn.lock
Labels: source: core:email, pr: enhancement

#18336 chore(admin): convert useAdminRoles to TS
  packages/core/admin/admin/src/hooks/tests/useAdminRoles.test.tsx
  packages/core/admin/admin/src/hooks/useAdminRoles.ts
  packages/core/admin/admin/src/hooks/useAdminRoles/__mocks__/index.js
  packages/core/admin/admin/src/types/adminAPI.ts
  packages/core/admin/package.json
  packages/core/admin/shared/entities.ts
  yarn.lock
Labels: source: core:admin, pr: chore

#18358 feat(pack-up): enable preserve modules
  packages/utils/pack-up/src/node/core/config.ts
  packages/utils/pack-up/src/node/tasks/vite/config.ts
Labels: pr: enhancement, source: utils:pack-up

#18331 chore: pack-up database
  packages/core/database/package.json
  packages/core/database/packup.config.ts
  packages/core/database/tsconfig.build.json
  packages/core/database/tsconfig.eslint.json
  yarn.lock
Labels: source: core:database, pr: chore

#18374 Remove side effects and warnings in Blocks editor tests
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
Labels: source: core:admin, pr: chore

#18373 [Blocks Editor] Updated modifiers style
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useModifiersStore.js
Labels: source: core:content-manager, pr: fix

#18376 run lint and typescript at the same time
  .github/workflows/tests.yml
Labels: source: tooling, pr: enhancement, hacktoberfest-accepted

#18316 chore: TS declaration map files
  packages/core/data-transfer/package.json
  packages/core/data-transfer/tsconfig.build.json
  packages/core/permissions/package.json
  packages/core/permissions/tsconfig.json
  packages/core/strapi/package.json
  packages/core/strapi/tsconfig.build.json
  packages/core/types/package.json
  packages/core/types/tsconfig.build.json
  packages/core/types/tsconfig.json
  packages/core/utils/package.json
  packages/core/utils/tsconfig.json
  packages/utils/tsconfig/base.json
Labels: pr: chore, source: typescript

#18287 Allows users to disable NPS in strapi config.
  examples/getstarted/config/admin.js
  examples/kitchensink-ts/config/admin.ts
  examples/kitchensink/config/admin.js
  packages/admin-test-utils/custom.d.ts
  packages/admin-test-utils/src/environment.ts
  packages/core/admin/admin/src/components/NpsSurvey/index.js
  packages/core/admin/admin/src/index.js
  packages/core/admin/server/controllers/admin.js
  packages/generators/app/src/resources/files/js/config/admin.js
  packages/generators/app/src/resources/files/ts/config/admin.ts
Labels: source: core:admin, pr: enhancement

#18388 Update test regex to allow arbitrary subpaths
  packages/utils/pack-up/src/__tests__/node.test.ts
Labels: pr: chore, source: utils:pack-up

#18212 Types - Only allow content types as relation target (cannot target component)
  packages/core/types/src/types/core/attributes/common.ts
  packages/core/types/src/types/core/attributes/relation.ts
Labels: pr: fix, source: typescript

#18387 [Blocks] Multiple UI fixes to match the designs
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useBlocksStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
Labels: source: core:admin, pr: fix

#18384 [Blocks] Disable link button when multiple blocks are selected
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
Labels: source: core:admin, pr: fix

#18347 [Blocks editor] Images inserted and removed as first element breaks the app
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
Labels: source: core:admin, pr: enhancement

#18372 fix(helper-plugin): notifications should not have a default for "success"
  packages/core/helper-plugin/src/features/Notifications.tsx
Labels: source: core:helper-plugin, pr: fix

#18379 add jest shards for db tests.
  .github/actions/run-api-tests/action.yml
  .github/actions/run-api-tests/script.sh
  .github/workflows/tests.yml
Labels: source: tooling, pr: enhancement

#18362 chore: convert useAdminUsers to TS
  packages/core/admin/admin/src/hooks/__mocks__/useAdminUsers.ts
  packages/core/admin/admin/src/hooks/useAdminUsers.ts
  packages/core/admin/admin/src/hooks/useAdminUsers/index.js
  packages/core/admin/admin/src/hooks/useAdminUsers/tests/useAdminUsers.test.js
  packages/core/admin/admin/src/hooks/useAdminUsers/useAdminUsers.js
  packages/core/admin/admin/src/types/adminAPI.ts
  packages/core/admin/shared/entities.ts
Labels: source: core:admin, pr: chore

#18323 [Blocks] Fix converting list items
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
Labels: source: core:admin, pr: fix

#18364 chore: convert useEnterprise to TS
  packages/core/admin/admin/custom.d.ts
  packages/core/admin/admin/src/hooks/tests/useEnterprise.test.ts
  packages/core/admin/admin/src/hooks/useEnterprise.ts
  packages/core/admin/admin/src/hooks/useEnterprise/index.js
Labels: source: core:admin, pr: chore

#18395 fix(pack-up): redefine `external` to work better with presereModules and omit changing the fileName
  packages/core/admin/admin/src/components/GuidedTour/Homepage/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/NoContentType/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/InternalErrorPage/tests/index.test.js
  packages/core/admin/admin/src/pages/NotFoundPage/tests/index.test.js
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.js.snap
  packages/utils/pack-up/src/node/tasks/vite/config.ts
Labels: pr: fix, source: utils:pack-up

#18406 chore(pack-up): add gitignore
  packages/utils/pack-up/.gitignore
Labels: pr: chore, source: utils:pack-up

#18407 v4.14.4
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/custom.d.ts
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/admin/src/components/NpsSurvey/index.js
  packages/core/admin/admin/src/index.js
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/pack-up/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#18404 Remove accidental console.log in test
  packages/core/admin/server/controllers/__tests__/transfer/token.test.js
Labels: source: tooling, pr: chore

#18414 test(pack-up): fix unit tests by using a global-teardown
  packages/utils/pack-up/jest.config.js
  packages/utils/pack-up/src/__tests__/cli.test.ts
  packages/utils/pack-up/src/__tests__/node.test.ts
  packages/utils/pack-up/tests/teardown.ts
Labels: pr: chore, source: utils:pack-up

#18390 [Blocks editor] Remove empty line before block without editor selection
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
Labels: source: core:admin, pr: enhancement

#18412 [Blocks editor] Fix - When a image is selected we want to disable the modifier buttons
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
Labels: source: core:admin, pr: enhancement

#18420 chore(admin): convert more components to TS
  packages/core/admin/admin/custom.d.ts
  packages/core/admin/admin/src/components/AuthenticatedApp/index.js
  packages/core/admin/admin/src/components/AuthenticatedApp/tests/index.test.js
  packages/core/admin/admin/src/components/ConfigurationProvider.tsx
  packages/core/admin/admin/src/components/ConfigurationsProvider/index.js
  packages/core/admin/admin/src/components/ConfigurationsProvider/reducer.js
  packages/core/admin/admin/src/components/ConfigurationsProvider/tests/index.test.js
  packages/core/admin/admin/src/components/ConfigurationsProvider/tests/reducer.test.js
  packages/core/admin/admin/src/components/LeftMenu/index.js
  packages/core/admin/admin/src/components/NpsSurvey.tsx
  packages/core/admin/admin/src/components/NpsSurvey/hooks/useNpsSurveySettings.js
  packages/core/admin/admin/src/components/PluginsInitializer.tsx
  packages/core/admin/admin/src/components/PluginsInitializer/index.js
  packages/core/admin/admin/src/components/PluginsInitializer/init.js
  packages/core/admin/admin/src/components/PluginsInitializer/reducer.js
  packages/core/admin/admin/src/components/PluginsInitializer/tests/index.test.js
  packages/core/admin/admin/src/components/PluginsInitializer/tests/init.test.js
  packages/core/admin/admin/src/components/PluginsInitializer/tests/reducer.test.js
  packages/core/admin/admin/src/components/Providers/index.js
  packages/core/admin/admin/src/components/UnauthenticatedLogo.tsx
  packages/core/admin/admin/src/components/tests/ConfigurationProvider.test.tsx
  packages/core/admin/admin/src/components/tests/NpsSurvey.test.tsx
  packages/core/admin/admin/src/contexts/configuration.ts
  packages/core/admin/admin/src/contexts/index.js
  packages/core/admin/admin/src/hooks/__mocks__/useConfigurations.ts
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/useConfiguration.ts
  packages/core/admin/admin/src/hooks/useConfigurations.ts
  packages/core/admin/admin/src/pages/Admin/index.js
  packages/core/admin/admin/src/pages/Admin/tests/index.test.js
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/CustomizationInfos/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/CustomizationInfos/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/admin/tests/utils.tsx
  packages/core/admin/admin/tsconfig.build.json
  packages/core/admin/webpack.config.dev.js
  packages/core/helper-plugin/src/features/StrapiApp.tsx
  packages/core/helper-plugin/src/utils/auth.ts
Labels: source: core:admin, pr: chore

#18339 chore: convert other packages to pack-up
  packages/core/types/index.js
  packages/core/types/package.json
  packages/core/types/src/types/__tests__/utils/object.test.ts
  packages/generators/app/package.json
  packages/generators/app/packup.config.ts
  packages/generators/app/src/create-project.ts
  packages/generators/app/tsconfig.build.json
  packages/generators/app/tsconfig.eslint.json
  packages/generators/app/tsconfig.json
  packages/generators/generators/package.json
  packages/generators/generators/packup.config.ts
  packages/generators/generators/tsconfig.build.json
  packages/generators/generators/tsconfig.eslint.json
  packages/generators/generators/tsconfig.json
  packages/utils/logger/package.json
  packages/utils/logger/packup.config.ts
  packages/utils/logger/src/formats/index.ts
  packages/utils/logger/tsconfig.build.json
  packages/utils/logger/tsconfig.eslint.json
  packages/utils/logger/tsconfig.json
  test/helpers/test-app.js
  yarn.lock
Labels: source: tooling, pr: chore

#18136 [Email] Migrate to typescript
  packages/core/admin/admin/src/utils/createRoute.js
  packages/core/email/.editorconfig
  packages/core/email/.eslintignore
  packages/core/email/.eslintrc.js
  packages/core/email/admin/.eslintrc.js
  packages/core/email/admin/src/constants.ts
  packages/core/email/admin/src/index.ts
  packages/core/email/admin/src/pages/Settings.tsx
  packages/core/email/admin/src/pages/Settings/index.js
  packages/core/email/admin/src/translations/tests/plural.test.ts
  packages/core/email/admin/src/utils/schema.ts
  packages/core/email/admin/tsconfig.json
  packages/core/email/package.json
  packages/core/email/packup.config.ts
  packages/core/email/server/.eslintrc.js
  packages/core/email/server/bootstrap.js
  packages/core/email/server/controllers/email.js
  packages/core/email/server/controllers/index.js
  packages/core/email/server/routes/index.js
  packages/core/email/server/services/index.js
  packages/core/email/server/src/bootstrap.ts
  packages/core/email/server/src/config.ts
  packages/core/email/server/src/controllers/email.ts
  packages/core/email/server/src/controllers/index.ts
  packages/core/email/server/src/index.ts
  packages/core/email/server/src/routes/admin.ts
  packages/core/email/server/src/routes/content-api.ts
  packages/core/email/server/src/routes/index.ts
  packages/core/email/server/src/services/email.ts
  packages/core/email/server/src/services/index.ts
  packages/core/email/server/src/types.ts
  packages/core/email/server/tsconfig.build.json
  packages/core/email/server/tsconfig.eslint.json
  packages/core/email/server/tsconfig.json
  packages/core/email/shared/types.ts
  packages/core/email/strapi-admin.js
  packages/core/email/strapi-server.js
  packages/core/email/tsconfig.build.json
  packages/core/helper-plugin/src/components/CheckPagePermissions.tsx
  packages/core/helper-plugin/src/components/CheckPermissions.tsx
  packages/core/strapi/src/core/loaders/plugins/index.ts
  packages/core/types/src/types/core/plugins/config/strapi-admin/index.ts
  packages/core/types/src/types/core/plugins/config/strapi-server/config.ts
  packages/core/types/src/types/core/plugins/index.ts
  yarn.lock
Labels: source: core:email, pr: chore

#18428 chore: use npmignore to remove declaration maps from packaging
  packages/core/data-transfer/.npmignore
  packages/core/data-transfer/package.json
  packages/core/permissions/.npmignore
  packages/core/permissions/package.json
  packages/core/strapi/.npmignore
  packages/core/strapi/package.json
  packages/core/types/.npmignore
  packages/core/types/package.json
  packages/core/utils/.npmignore
  packages/core/utils/package.json
Labels: source: tooling, pr: chore

#18402 chore(tooling): add commitlint
  .commitlintrc.ts
  .github/workflows/commitlint.yml
  .husky/commit-msg
  .husky/pre-commit
  CONTRIBUTING.md
  package.json
  yarn.lock
Labels: source: tooling, pr: chore

#18302 docs: update tests that need passing for accepting contributions
  CONTRIBUTING.md
Labels: source: docs, pr: chore

#18425 chore: packup cli packages
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-app/packup.config.ts
  packages/cli/create-strapi-app/tsconfig.build.json
  packages/cli/create-strapi-app/tsconfig.eslint.json
  packages/cli/create-strapi-app/tsconfig.json
  packages/cli/create-strapi-starter/package.json
  packages/cli/create-strapi-starter/packup.config.ts
  packages/cli/create-strapi-starter/tsconfig.build.json
  packages/cli/create-strapi-starter/tsconfig.eslint.json
  packages/cli/create-strapi-starter/tsconfig.json
  yarn.lock
Labels: source: tooling, pr: chore

#18431 fix(admin): use tsconfig.build to build & alias helper-plugin in dev mode
  packages/core/admin/scripts/build.js
  packages/core/admin/webpack.config.dev.js
Labels: source: core:admin, pr: chore

#18337 [Blocks Editor] Fix layout shift
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/BlocksInput/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
Labels: source: core:content-manager, pr: fix

#18413 fix(blocks): prevent carrying over modifiers when creating empty blocks
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useBlocksStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
Labels: source: core:admin, pr: fix

#18426 [Blocks editor] Fix - Click on a Modifier when the editor selection is null crashes the app
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useModifiersStore.js
Labels: source: core:admin, pr: enhancement

#18367 chore: convert useAdminRolePermissions to TS
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/CreatePage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/hooks/__mocks__/useAdminRolePermissions.ts
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/hooks/tests/useAdminRolePermissions.test.ts
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/hooks/useAdminRolePermissions.ts
  packages/core/admin/admin/tests/server.ts
  packages/core/admin/shared/permissions.ts
Labels: source: core:admin, pr: chore

#18438 chore(deps): update design-system to 1.12.2
  package.json
  packages/core/admin/admin/src/components/NpsSurvey.tsx
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/src/features/Notifications.tsx
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#18423 chore(data-transfer): packup
  packages/core/data-transfer/package.json
  packages/core/data-transfer/packup.config.ts
  packages/core/data-transfer/src/strapi/remote/handlers/index.ts
  packages/core/data-transfer/tsconfig.build.json
  packages/core/data-transfer/tsconfig.eslint.json
  packages/core/data-transfer/tsconfig.json
  yarn.lock
Labels: pr: chore, source: core:data-transfer

#18375 [Blocks editor] Fix- The first time you click on the List option or button the list is not created
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
Labels: source: core:admin, pr: enhancement

#18433 chore(admin): convert more admin components
  packages/core/admin/admin/src/StrapiApp.js
  packages/core/admin/admin/src/components/AuthenticatedApp/index.js
  packages/core/admin/admin/src/components/LanguageProvider.tsx
  packages/core/admin/admin/src/components/LanguageProvider/index.js
  packages/core/admin/admin/src/components/LanguageProvider/init.js
  packages/core/admin/admin/src/components/LanguageProvider/reducer.js
  packages/core/admin/admin/src/components/LanguageProvider/tests/init.test.js
  packages/core/admin/admin/src/components/LanguageProvider/tests/reducer.test.js
  packages/core/admin/admin/src/components/LanguageProvider/utils/localStorageKey.js
  packages/core/admin/admin/src/components/LeftMenu.tsx
  packages/core/admin/admin/src/components/LocalesProvider/context.js
  packages/core/admin/admin/src/components/LocalesProvider/index.js
  packages/core/admin/admin/src/components/LocalesProvider/tests/index.test.js
  packages/core/admin/admin/src/components/LocalesProvider/useLocalesProvider.js
  packages/core/admin/admin/src/components/Providers/index.js
  packages/core/admin/admin/src/components/__mocks__/LanguageProvider.js
  packages/core/admin/admin/src/components/tests/LanguageProvider.test.tsx
  packages/core/admin/admin/src/contexts/Admin/index.js
  packages/core/admin/admin/src/contexts/MarketPlace/index.js
  packages/core/admin/admin/src/contexts/admin.ts
  packages/core/admin/admin/src/contexts/index.js
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/useMenu.ts
  packages/core/admin/admin/src/hooks/useMenu/index.js
  packages/core/admin/admin/src/hooks/useMenu/utils/checkPermissions.js
  packages/core/admin/admin/src/hooks/useMenu/utils/getGeneralLinks.js
  packages/core/admin/admin/src/hooks/useMenu/utils/getPluginSectionLinks.js
  packages/core/admin/admin/src/hooks/useMenu/utils/tests/checkPermissions.test.js
  packages/core/admin/admin/src/hooks/useMenu/utils/tests/getGeneralLinks.test.js
  packages/core/admin/admin/src/hooks/useMenu/utils/tests/getPluginSectionLinks.test.js
  packages/core/admin/admin/src/layouts/UnauthenticatedLayout/LocaleToggle/index.js
  packages/core/admin/admin/src/pages/Admin/index.js
  packages/core/admin/admin/src/pages/Admin/tests/index.test.js
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/index.js
  packages/core/admin/admin/src/pages/ProfilePage/index.js
  packages/core/admin/admin/src/pages/ProfilePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/CustomizationInfos/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/CustomizationInfos/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/tests/index.test.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/admin/src/shared/hooks/index.js
  packages/core/admin/admin/src/shared/hooks/useAdminProvider/index.js
  packages/core/admin/admin/src/shared/hooks/useInjectionZone/index.js
  packages/core/admin/admin/tests/utils.tsx
  packages/core/helper-plugin/.npmignore
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/src/features/RBAC.tsx
  packages/core/helper-plugin/src/features/StrapiApp.tsx
  packages/core/helper-plugin/tests/utils.tsx
  packages/core/helper-plugin/tsconfig.build.json
Labels: source: core:admin, pr: chore

#18449 fix: blocks static id removed
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/BlocksInput/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/index.js
Labels: source: core:content-manager, pr: fix

#18453 refactor(strapi): plugin:build now uses pack-up underneath
  packages/core/admin/package.json
  packages/core/email/admin/tsconfig.build.json
  packages/core/email/packup.config.ts
  packages/core/email/server/tsconfig.build.json
  packages/core/email/tsconfig.build.json
  packages/core/strapi/package.json
  packages/core/strapi/src/commands/actions/plugin/build-command/action.ts
  packages/core/strapi/src/commands/actions/plugin/build-command/command.ts
  packages/core/strapi/src/commands/builders/__tests__/packages.test.ts
  packages/core/strapi/src/commands/builders/packages.ts
  packages/core/strapi/src/commands/builders/tasks/dts.ts
  packages/core/strapi/src/commands/builders/tasks/index.ts
  packages/core/strapi/src/commands/builders/tasks/vite.ts
  packages/core/strapi/src/commands/utils/pkg.ts
  packages/plugins/color-picker/admin/tsconfig.build.json
  packages/plugins/color-picker/admin/tsconfig.json
  packages/plugins/color-picker/server/tsconfig.build.json
  packages/plugins/color-picker/server/tsconfig.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#18458 [Blocks editor] Fix - When a code block is selected we want to disable the modifier buttons and the link button
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
Labels: source: core:admin, pr: enhancement

#18446 Run `nx repair` to correct nx configuration
  nx.json
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
Labels: source: tooling, pr: chore

#18182 fix: content manager action buttons not triggering and checkbox causing scroll
  CONTRIBUTING.md
  packages/core/admin/admin/src/content-manager/pages/ListView/components/Body/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
Labels: source: core:content-manager, pr: fix

#18461 chore(admin): convert GuidedTour to TS
  packages/core/admin/admin/src/components/GuidedTour/Homepage.tsx
  packages/core/admin/admin/src/components/GuidedTour/Homepage/components/Step.js
  packages/core/admin/admin/src/components/GuidedTour/Homepage/components/Stepper.js
  packages/core/admin/admin/src/components/GuidedTour/Homepage/components/tests/Stepper.test.js
  packages/core/admin/admin/src/components/GuidedTour/Homepage/index.js
  packages/core/admin/admin/src/components/GuidedTour/Modal.tsx
  packages/core/admin/admin/src/components/GuidedTour/Modal/components/Content.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/components/Modal.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/components/StepNumberWithPadding.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/components/Stepper.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/index.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/reducer.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/tests/reducer.test.js
  packages/core/admin/admin/src/components/GuidedTour/Ornaments.tsx
  packages/core/admin/admin/src/components/GuidedTour/Provider.tsx
  packages/core/admin/admin/src/components/GuidedTour/Stepper/StepLine.js
  packages/core/admin/admin/src/components/GuidedTour/Stepper/StepNumber.js
  packages/core/admin/admin/src/components/GuidedTour/constants.js
  packages/core/admin/admin/src/components/GuidedTour/constants.ts
  packages/core/admin/admin/src/components/GuidedTour/index.js
  packages/core/admin/admin/src/components/GuidedTour/init.js
  packages/core/admin/admin/src/components/GuidedTour/reducer.js
  packages/core/admin/admin/src/components/GuidedTour/tests/Homepage.test.tsx
  packages/core/admin/admin/src/components/GuidedTour/tests/Modal.test.tsx
  packages/core/admin/admin/src/components/GuidedTour/tests/Provider.test.tsx
  packages/core/admin/admin/src/components/GuidedTour/tests/init.test.js
  packages/core/admin/admin/src/components/GuidedTour/tests/reducer.test.js
  packages/core/admin/admin/src/components/GuidedTour/utils/arePreviousSectionsDone.js
  packages/core/admin/admin/src/components/GuidedTour/utils/arePreviousStepsDone.js
  packages/core/admin/admin/src/components/GuidedTour/utils/isGuidedTourCompleted.js
  packages/core/admin/admin/src/components/GuidedTour/utils/persistStateToLocaleStorage.js
  packages/core/admin/admin/src/components/GuidedTour/utils/tests/arePreviousSectionsDone.test.js
  packages/core/admin/admin/src/components/GuidedTour/utils/tests/arePreviousSptesDone.test.js
  packages/core/admin/admin/src/components/GuidedTour/utils/tests/isGuidedTourCompleted.test.js
  packages/core/admin/admin/src/components/Providers/index.js
  packages/core/admin/admin/src/pages/Admin/index.js
  packages/core/admin/admin/src/pages/AuthPage/index.js
  packages/core/admin/admin/src/pages/HomePage/index.js
  packages/core/helper-plugin/src/features/GuidedTour.tsx
  packages/core/helper-plugin/src/features/Tracking.tsx
Labels: source: core:admin, pr: chore

#18467 chore(core/strapi): remove postinstall
  packages/core/strapi/package.json
  packages/core/strapi/scripts/postinstall.js
  packages/core/strapi/src/utils/postinstall.ts
Labels: source: core:strapi, pr: chore

#18451 chore(admin): implement redux-toolkit
  .github/dependabot.yml
  examples/getstarted/.gitignore
  examples/getstarted/types/generated/components.d.ts
  examples/getstarted/types/generated/contentTypes.d.ts
  examples/kitchensink-ts/.gitignore
  examples/kitchensink/.gitignore
  packages/admin-test-utils/package.json
  packages/admin-test-utils/src/fixtures/store/index.ts
  packages/core/admin/admin/src/StrapiApp.js
  packages/core/admin/admin/src/content-manager/pages/App/selectors.js
  packages/core/admin/admin/src/content-manager/pages/EditView/selectors.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/FieldPicker/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/selectors.js
  packages/core/admin/admin/src/core/store.ts
  packages/core/admin/admin/src/core/store/configureStore.js
  packages/core/admin/admin/src/core/store/tests/configureStore.test.js
  packages/core/admin/admin/src/hooks/useInjectReducer/tests/useInjectReducer.test.js
  packages/core/admin/admin/src/index.js
  packages/core/admin/admin/src/pages/App/selectors.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/reducers.js
  packages/core/admin/admin/src/tests/StrapiApp.test.js
  packages/core/admin/admin/tests/utils.tsx
  packages/core/admin/ee/admin/hooks/tests/useLicenseLimits.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ApplicationInfosPage/components/AdminSeatInfo/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/AuditLogs/ListView/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/tests/Stage.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/tests/Stages.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/WorkflowAttributes/tests/WorkflowAttributes.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/selectors.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/tests/index.test.js
  packages/core/admin/package.json
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/index.js
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/selectors.js
  packages/core/content-type-builder/admin/src/components/FormModal/selectors.js
  packages/core/content-type-builder/package.json
  packages/plugins/i18n/admin/src/components/LocaleSelect/tests/LocaleSelect.test.js
  packages/plugins/i18n/admin/src/pages/SettingsPage/tests/SettingsPage.test.js
  packages/plugins/i18n/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#18456 chore(admin): convert layouts to TS
  packages/core/admin/admin/src/layouts/AppLayout.tsx
  packages/core/admin/admin/src/layouts/UnauthenticatedLayout.tsx
  packages/core/admin/admin/src/layouts/UnauthenticatedLayout/LocaleToggle/index.js
  packages/core/admin/admin/src/layouts/UnauthenticatedLayout/index.js
  packages/core/admin/admin/src/pages/Admin/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/ForgotPassword/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/ForgotPasswordSuccess/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Login/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/index.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/UseCasePage/index.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/ee/admin/pages/AuthPage/components/Login/index.js
  packages/core/admin/ee/admin/pages/AuthPage/components/Providers/index.js
Labels: source: core:admin, pr: chore

#18401 chore(releases): setup releases plugin
  packages/core/admin/scripts/build.js
  packages/core/content-releases/.editorconfig
  packages/core/content-releases/.eslintignore
  packages/core/content-releases/.eslintrc.js
  packages/core/content-releases/.npmignore
  packages/core/content-releases/LICENSE
  packages/core/content-releases/README.md
  packages/core/content-releases/admin/.eslintrc.js
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/admin/tsconfig.json
  packages/core/content-releases/package.json
  packages/core/content-releases/packup.config.ts
  packages/core/content-releases/server/.eslintrc.js
  packages/core/content-releases/server/src/index.ts
  packages/core/content-releases/server/src/register.ts
  packages/core/content-releases/server/tsconfig.build.json
  packages/core/content-releases/server/tsconfig.eslint.json
  packages/core/content-releases/server/tsconfig.json
  packages/core/content-releases/strapi-server.js
  packages/core/content-releases/tsconfig.build.json
  packages/core/strapi/package.json
  packages/core/strapi/src/core/loaders/plugins/get-enabled-plugins.ts
  yarn.lock
Labels: pr: chore, source: core:content-releases

#18472 chore(admin): move and combine various constants into a single TS file
  packages/core/admin/admin/src/StrapiApp.js
  packages/core/admin/admin/src/constants.ts
  packages/core/admin/admin/src/content-manager/pages/App/useContentManagerInitData.js
  packages/core/admin/admin/src/content-manager/pages/EditViewLayoutManager/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/exposedHooks.js
  packages/core/admin/admin/src/injectionZones.js
Labels: source: core:admin, pr: chore

#18421 [Blocks editor] Fix - Change delete and edit buttons style inside the Link Popover
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useBlocksStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
Labels: source: core:admin, pr: enhancement

#18102 Remove node 16 tests and update all static tests to node 20
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/actions/check-pr-status/README.md
  .github/actions/check-pr-status/action.yml
  .github/workflows/nightly.yml
  .github/workflows/publish-prerelease.yml
  .github/workflows/remove-dist-tag.yml
  .github/workflows/skipped_tests.yml
  .github/workflows/tests.yml
  .nvmrc
  CONTRIBUTING.md
  README.md
  docs/docs/docs/01-core/strapi/commands/plugin/01-build.md
  e2e/app-template/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  package.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/README.md
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/app/src/resources/json/common/engines.ts
  packages/generators/generators/package.json
  packages/generators/generators/src/templates/js/plugin-package.json.hbs
  packages/generators/generators/src/templates/ts/plugin-package.json.hbs
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/logger/package.json
  packages/utils/pack-up/package.json
  packages/utils/pack-up/src/node/createBuildContext.ts
  packages/utils/typescript/package.json
Labels: source: tooling, pr: chore

#18476 chore(admin): convert ApiTokenPermissions to TS
  packages/core/admin/admin/src/contexts/ApiTokenPermissions/index.js
  packages/core/admin/admin/src/contexts/apiTokenPermissions.tsx
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/ActionBoundRoutes/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/CollapsableContentType/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/Permissions/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
Labels: source: core:admin, pr: chore

#18478 chore(admin): convert InternalErrorPage to TS
  packages/core/admin/admin/src/pages/Admin/index.js
  packages/core/admin/admin/src/pages/InternalErrorPage.tsx
  packages/core/admin/admin/src/pages/InternalErrorPage/tests/index.test.js
Labels: source: core:admin, pr: chore

#18482 chore(admin): convert NotFoundPage to TS
  packages/core/admin/admin/src/pages/Admin/index.js
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/admin/admin/src/pages/NotFoundPage.tsx
  packages/core/admin/admin/src/pages/NotFoundPage/tests/index.test.js
Labels: source: core:admin, pr: chore

#18383 combined all CI improvement
  .github/actions/run-api-tests/script.sh
  .github/actions/run-build/action.yml
  .github/workflows/tests.yml
  package.json
Labels: source: tooling, pr: enhancement

#18485 fix: blocks fields not working in GraphQL
  packages/plugins/graphql/server/services/constants.js
Labels: source: plugin:graphql, pr: fix

#18473 refactor(admin): convert rest of components to TS
  packages/core/admin/admin/src/StrapiApp.js
  packages/core/admin/admin/src/components/AuthenticatedApp.tsx
  packages/core/admin/admin/src/components/AuthenticatedApp/index.js
  packages/core/admin/admin/src/components/AuthenticatedApp/utils/api.js
  packages/core/admin/admin/src/components/AuthenticatedApp/utils/checkLatestStrapiVersion.ts
  packages/core/admin/admin/src/components/AuthenticatedApp/utils/fetchStrapiLatestRelease.ts
  packages/core/admin/admin/src/components/AuthenticatedApp/utils/tests/checkLatestStrapiVersion.test.ts
  packages/core/admin/admin/src/components/ConfigurationProvider.tsx
  packages/core/admin/admin/src/components/LanguageProvider.tsx
  packages/core/admin/admin/src/components/Providers.tsx
  packages/core/admin/admin/src/components/Providers/index.js
  packages/core/admin/admin/src/components/RBACProvider.tsx
  packages/core/admin/admin/src/components/RBACProvider/actions.js
  packages/core/admin/admin/src/components/RBACProvider/constants.js
  packages/core/admin/admin/src/components/RBACProvider/index.js
  packages/core/admin/admin/src/components/RBACProvider/reducer.js
  packages/core/admin/admin/src/components/ThemeToggleProvider.tsx
  packages/core/admin/admin/src/components/tests/AuthenticatedApp.test.tsx
  packages/core/admin/admin/src/components/tests/RBACProvider.test.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/contexts/admin.ts
  packages/core/admin/admin/src/core/store/configure.ts
  packages/core/admin/admin/src/core/store/hooks.ts
  packages/core/admin/admin/src/hooks/useInjectReducer/tests/useInjectReducer.test.js
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/helper-plugin/src/components/CheckPagePermissions.tsx
  packages/core/helper-plugin/src/components/CheckPermissions.tsx
  packages/core/helper-plugin/src/features/AppInfo.tsx
  packages/core/helper-plugin/src/features/CustomFields.tsx
  packages/core/helper-plugin/src/features/Library.tsx
  packages/core/helper-plugin/src/features/RBAC.tsx
  packages/core/helper-plugin/src/features/StrapiApp.tsx
  packages/core/helper-plugin/src/hooks/useRBAC.ts
  packages/core/helper-plugin/src/utils/auth.ts
  packages/core/helper-plugin/src/utils/hasPermissions.ts
  packages/core/helper-plugin/src/utils/tests/hasPermissions.test.ts
  packages/utils/tsconfig/client.json
Labels: source: core:admin, pr: chore

#18486 feat(pack-up): add the ability to pass plugins via the config
  docs/docs/docs/05-utils/pack-up/02-config.mdx
  packages/utils/pack-up/README.md
  packages/utils/pack-up/src/node/core/config.ts
  packages/utils/pack-up/src/node/tasks/vite/config.ts
Labels: pr: enhancement, source: utils:pack-up

#18491 Make named and default exports live together with ts migration
  packages/core/strapi/src/index.ts
Labels: source: core:strapi, pr: fix

#18477 chore(admin): convert UseCasePage to TS
  packages/core/admin/admin/src/pages/App/index.js
  packages/core/admin/admin/src/pages/UseCasePage.tsx
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/admin/src/pages/tests/UseCasePage.test.tsx
Labels: source: core:admin, pr: chore

#18511 chore(core/strapi): move components into their own registry
  packages/core/strapi/src/Strapi.ts
  packages/core/strapi/src/container.ts
  packages/core/strapi/src/core/loaders/components.ts
  packages/core/strapi/src/core/loaders/index.ts
  packages/core/strapi/src/core/registries/__tests__/components.test.ts
  packages/core/strapi/src/core/registries/components.ts
Labels: source: core:strapi, pr: chore

#18506 fix(ctb): advanced settings DatePickers crash with empty string
  packages/core/content-type-builder/admin/src/components/TabForm/index.js
Labels: source: core:content-type-builder, pr: fix

#18525 chore(core/strapi): simplify loader and registries
  packages/core/strapi/src/Strapi.ts
  packages/core/strapi/src/core/loaders/index.ts
  packages/core/strapi/src/core/loaders/src-index.ts
  packages/core/strapi/src/core/registries/index.ts
  packages/core/types/src/index.ts
Labels: source: core:strapi, pr: chore

#18490 chore(tooling): lint needs build
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#18502 feature(admin): sync theme with system theme
  packages/core/admin/admin/src/components/Theme.tsx
  packages/core/admin/admin/src/components/ThemeToggleProvider.tsx
  packages/core/admin/admin/src/contexts/themeToggle.ts
  packages/core/admin/admin/src/pages/ProfilePage/components/Preferences/index.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: feature

#18492 fix(blocks): Select without border and disable styles
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
Labels: source: core:content-manager, pr: fix

#18496 fix(blocks): prevent creating images inside a list
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/index.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/Toolbar/tests/index.test.js
Labels: source: core:admin, pr: fix

#18536 chore(admin): convert useContentTypes to TS
  packages/core/admin/admin/src/hooks/__mocks__/useContentTypes.ts
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/tests/useContentTypes.test.ts
  packages/core/admin/admin/src/hooks/useContentTypes.ts
  packages/core/admin/admin/src/hooks/useContentTypes/index.js
  packages/core/admin/shared/schema.ts
Labels: source: core:admin, pr: chore

#18521 fix(blocks): fix weird behaviour when try to delete content inside a list (dropdown option empty)
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/tests/useBlocksStore.test.js
  packages/core/admin/admin/src/content-manager/components/BlocksEditor/hooks/useBlocksStore.js
Labels: source: core:admin, pr: fix

#18538 chore(deps): update design-system to 1.13.0
  package.json
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#18534 chore(admin): convert useInjectionZone to TS
  packages/core/admin/admin/src/content-manager/components/InjectionZoneList/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/contexts/admin.ts
  packages/core/admin/admin/src/shared/components/InjectionZone.tsx
  packages/core/admin/admin/src/shared/components/InjectionZone/index.js
  packages/core/admin/admin/src/shared/components/index.js
  packages/core/admin/admin/src/shared/hooks/__mocks__/useInjectionZone.ts
  packages/core/admin/admin/src/shared/hooks/index.js
  packages/core/admin/admin/src/shared/hooks/useInjectionZone.ts
  packages/core/admin/admin/src/shared/hooks/useInjectionZone/index.js
Labels: source: core:admin, pr: chore

#18509 fix(ctb): update attribute picker spacings
  packages/core/content-type-builder/admin/src/components/AttributeOptions/AttributeList/index.js
  packages/core/content-type-builder/admin/src/components/AttributeOptions/CustomFieldsList/index.js
  packages/core/content-type-builder/admin/src/components/AttributeOptions/index.js
  packages/core/content-type-builder/admin/src/components/AttributeOptions/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/admin/src/components/AttributeOptions/utils/getPadding.js
  packages/core/content-type-builder/admin/src/components/FormModal/utils/getAttributesToDisplay.js
Labels: source: core:content-type-builder, pr: enhancement

#18487 chore(admin): convert App to TS
  packages/core/admin/admin/src/App.tsx
  packages/core/admin/admin/src/StrapiApp.js
  packages/core/admin/admin/src/app.js
  packages/core/admin/admin/src/constants.ts
  packages/core/admin/admin/src/content-manager/pages/App/index.js
  packages/core/admin/admin/src/content-manager/pages/CollectionTypeRecursivePath/index.js
  packages/core/admin/admin/src/content-manager/pages/ComponentSetttingsView/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/ViewSettingsMenu/index.js
  packages/core/admin/admin/src/content-manager/pages/SingleTypeRecursivePath/index.js
  packages/core/admin/admin/src/core/store/configure.ts
  packages/core/admin/admin/src/hooks/useMenu.ts
  packages/core/admin/admin/src/hooks/useSettingsMenu/index.js
  packages/core/admin/admin/src/index.js
  packages/core/admin/admin/src/pages/Admin/index.js
  packages/core/admin/admin/src/pages/App/constants.js
  packages/core/admin/admin/src/pages/InstalledPluginsPage/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ProtectedCreateView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ProtectedEditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ProtectedListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/CreatePage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ListPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ProtectedEditPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ProtectedListPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/ProtectedCreateView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/ProtectedEditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/ProtectedListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ProtectedEditPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ProtectedListPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ProtectedCreateView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ProtectedEditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/ProtectedListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/utils/makeUniqueRoutes.ts
  packages/core/admin/admin/src/reducer.js
  packages/core/admin/admin/src/selectors.js
  packages/core/admin/admin/src/utils/createRoute.tsx
  packages/core/admin/ee/admin/constants.ts
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/components/AssigneeSelect/AssigneeSelect.js
  packages/core/admin/ee/admin/pages/App/constants.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ApplicationInfosPage/components/AdminSeatInfo/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/AuditLogs/ListView/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/AuditLogs/ProtectedListPage/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/CreateView/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/EditView/EditView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/EditView/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/ListView/ListView.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/pages/ListView/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/index.js
Labels: source: core:admin, pr: chore

#18530 Update Yarn to v4.0.0
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarn/releases/yarn-4.0.0.cjs
  .yarnrc.yml
  docs/docs/docs/01-core/admin/01-ee/00-intro.md
  package.json
  packages/admin-test-utils/custom.d.ts
  packages/core/admin/admin/src/hooks/useSettingsForm/index.js
  packages/core/admin/admin/src/pages/AuthPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/SettingsNav/index.js
  packages/core/admin/shared/schema.ts
  yarn.lock
Labels: source: dependencies, pr: chore

#18551 chore(admin): convert core utils to TS
  packages/core/admin/admin/src/StrapiApp.js
  packages/core/admin/admin/src/core/utils/basename.js
  packages/core/admin/admin/src/core/utils/basename.ts
  packages/core/admin/admin/src/core/utils/createHook.ts
  packages/core/admin/admin/src/core/utils/index.js
  packages/core/admin/admin/src/core/utils/tests/createHook.test.ts
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/components/MagicLink/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/components/MagicLink/index.js
Labels: source: core:admin, pr: chore

#18548 chore(admin): convert marketplace
  .yarnrc.yml
  packages/core/admin/admin/modules.d.ts
  packages/core/admin/admin/src/pages/Admin/index.js
  packages/core/admin/admin/src/pages/Marketplace/MarketplacePage.tsx
  packages/core/admin/admin/src/pages/Marketplace/components/NpmPackageCard.tsx
  packages/core/admin/admin/src/pages/Marketplace/components/NpmPackagesFilters.tsx
  packages/core/admin/admin/src/pages/Marketplace/components/NpmPackagesGrid.tsx
  packages/core/admin/admin/src/pages/Marketplace/components/OfflineLayout.tsx
  packages/core/admin/admin/src/pages/Marketplace/components/PageHeader.tsx
  packages/core/admin/admin/src/pages/Marketplace/components/SortSelect.tsx
  packages/core/admin/admin/src/pages/Marketplace/hooks/__mocks__/useNavigatorOnline.ts
  packages/core/admin/admin/src/pages/Marketplace/hooks/tests/useNavigatorOnline.test.ts
  packages/core/admin/admin/src/pages/Marketplace/hooks/useMarketplaceData.ts
  packages/core/admin/admin/src/pages/Marketplace/hooks/useNavigatorOnline.ts
  packages/core/admin/admin/src/pages/Marketplace/tests/MarketplacePage.test.tsx
  packages/core/admin/admin/src/pages/Marketplace/tests/MarketplacePlugins.test.tsx
  packages/core/admin/admin/src/pages/Marketplace/tests/MarketplaceProviders.test.tsx
  packages/core/admin/admin/src/pages/MarketplacePage/components/EmptyNpmPackageSearch/EmptyNpmPackageGrid.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/EmptyNpmPackageSearch/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/MissingPluginBanner/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/CardButton.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/InstallPluginButton.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/PackageStats.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackagesFilters/FilterSelect.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackagesFilters/FiltersPopover.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackagesFilters/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackagesGrid/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackagesPagination/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/components/SortSelect/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/constants.js
  packages/core/admin/admin/src/pages/MarketplacePage/hooks/useFetchMarketplacePlugins/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/hooks/useFetchMarketplaceProviders/index.js
  packages/core/admin/admin/src/pages/MarketplacePage/utils/useMarketplaceData.js
  packages/core/admin/admin/tsconfig.json
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/helper-plugin/src/components/DynamicTable.tsx
  packages/core/helper-plugin/src/components/Table.tsx
  packages/core/helper-plugin/src/features/Tracking.tsx
  packages/core/helper-plugin/src/hooks/useQueryParams.ts
  packages/plugins/graphql/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#18549 [admin]: type webhook controller
  packages/core/admin/server/src/controllers/webhooks.ts
  packages/core/admin/shared/contracts/webhooks.ts
  packages/core/types/src/index.ts
Labels: source: core:admin, pr: enhancement

#17885 Fix: RBAC Same role as creator list view data display as - (dash)
  packages/core/content-manager/server/controllers/collection-types.js
Labels: source: core:admin, pr: fix

#18554 chore(admin): convert useInjectReducer, core/apis & StrapiApp to TS
  package.json
  packages/core/admin/admin/module.d.ts
  packages/core/admin/admin/modules.d.ts
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/constants.ts
  packages/core/admin/admin/src/contexts/admin.ts
  packages/core/admin/admin/src/core/apis/Components.ts
  packages/core/admin/admin/src/core/apis/CustomFields.ts
  packages/core/admin/admin/src/core/apis/Fields.ts
  packages/core/admin/admin/src/core/apis/Middlewares.js
  packages/core/admin/admin/src/core/apis/Middlewares.ts
  packages/core/admin/admin/src/core/apis/Plugin.js
  packages/core/admin/admin/src/core/apis/Plugin.ts
  packages/core/admin/admin/src/core/apis/Reducers.js
  packages/core/admin/admin/src/core/apis/Reducers.ts
  packages/core/admin/admin/src/core/apis/index.js
  packages/core/admin/admin/src/core/store/configure.ts
  packages/core/admin/admin/src/core/utils/createHook.ts
  packages/core/admin/admin/src/hooks/tests/useInjectReducer.test.tsx
  packages/core/admin/admin/src/hooks/useInjectReducer.ts
  packages/core/admin/admin/src/hooks/useInjectReducer/index.js
  packages/core/admin/admin/src/hooks/useInjectReducer/tests/useInjectReducer.test.js
  packages/core/admin/admin/src/hooks/useMenu.ts
  packages/core/admin/admin/src/index.js
  packages/core/admin/admin/src/pages/Marketplace/MarketplacePage.tsx
  packages/core/admin/admin/src/reducer.ts
  packages/core/admin/admin/src/selectors.js
  packages/core/admin/admin/src/selectors.ts
  packages/core/admin/admin/src/shared/components/InjectionZone.tsx
  packages/core/admin/admin/src/shared/hooks/useInjectionZone.ts
  packages/core/admin/admin/src/tests/StrapiApp.test.tsx
  packages/core/admin/admin/src/tests/__snapshots__/StrapiApp.test.js.snap
  packages/core/admin/admin/src/translations/languageNativeNames.ts
  packages/core/admin/admin/src/translations/tests/index.test.ts
  packages/core/admin/admin/src/translations/tests/plural.test.ts
  packages/core/admin/admin/tsconfig.json
  packages/core/admin/package.json
  packages/core/helper-plugin/src/features/CustomFields.tsx
  packages/core/helper-plugin/src/features/StrapiApp.tsx
  yarn.lock
Labels: source: core:admin, pr: chore

#18475 feat: Replace type
  packages/core/types/src/types/__tests__/definitions/utils/object.d.ts
  packages/core/types/src/types/__tests__/utils/object.test.ts
  packages/core/types/src/types/utils/object.ts
Labels: pr: enhancement, source: typescript

#18450 Fix: markdown height change
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/Editor.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/WysiwygFooter.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/WysiwygNav.js
Labels: source: core:content-manager, pr: fix

#18583 fix(pack-up): set NODE_ENV if it's not already set
  packages/utils/pack-up/src/node/build.ts
Labels: pr: fix, source: utils:pack-up

#18564 V4.15.0
  .github/actions/check-pr-status/package.json
  .yarnrc.yml
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/pack-up/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#18512 [v5] Replace fast-deep-equal with lodash/fp isEqual
  packages/core/admin/server/services/role.js
Labels: source: core:admin, pr: chore, v5

#18598 chore(admin): convert context to use assertion technique
  packages/core/admin/admin/src/App.tsx
  packages/core/admin/admin/src/components/AuthenticatedApp.tsx
  packages/core/admin/admin/src/components/ConfigurationProvider.tsx
  packages/core/admin/admin/src/components/LanguageProvider.tsx
  packages/core/admin/admin/src/components/LeftMenu.tsx
  packages/core/admin/admin/src/components/Providers.tsx
  packages/core/admin/admin/src/components/Theme.tsx
  packages/core/admin/admin/src/components/ThemeToggleProvider.tsx
  packages/core/admin/admin/src/components/UnauthenticatedLogo.tsx
  packages/core/admin/admin/src/components/__mocks__/LanguageProvider.ts
  packages/core/admin/admin/src/components/tests/ConfigurationProvider.test.tsx
  packages/core/admin/admin/src/components/tests/NpsSurvey.test.tsx
  packages/core/admin/admin/src/contexts/admin.ts
  packages/core/admin/admin/src/contexts/apiTokenPermissions.tsx
  packages/core/admin/admin/src/contexts/configuration.ts
  packages/core/admin/admin/src/contexts/themeToggle.ts
  packages/core/admin/admin/src/hooks/__mocks__/useConfigurations.ts
  packages/core/admin/admin/src/hooks/useConfiguration.ts
  packages/core/admin/admin/src/hooks/useThemeToggle.ts
  packages/core/admin/admin/src/pages/Admin.tsx
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/ProfilePage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/ActionBoundRoutes/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/CollapsableContentType/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/Permissions/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/CustomizationInfos/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/CustomizationInfos/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/Permissions/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/PermissionsDataManagerProvider/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/hooks/usePermissionsDataManager.ts
  packages/core/admin/admin/src/pages/tests/UseCasePage.test.tsx
  packages/core/admin/admin/tests/utils.tsx
  packages/core/admin/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#18565 Ts/types admin tests
  packages/core/admin/package.json
  packages/core/admin/server/src/controllers/__tests__/admin.test.ts
  packages/core/admin/server/src/controllers/__tests__/api-token.test.ts
  packages/core/admin/server/src/controllers/__tests__/content-api.test.ts
  packages/core/admin/server/src/controllers/__tests__/permission.test.ts
  packages/core/admin/server/src/controllers/__tests__/role.test.ts
  packages/core/admin/server/src/controllers/__tests__/transfer/token.test.ts
  packages/core/admin/server/src/controllers/__tests__/user.test.ts
  packages/core/admin/server/src/domain/action/__tests__/action-domain.test.ts
  packages/core/admin/server/src/domain/action/__tests__/action-provider.test.ts
  packages/core/admin/server/src/domain/condition/__tests__/condition-domain.test.ts
  packages/core/admin/server/src/domain/condition/__tests__/condition-provider.test.ts
  packages/core/admin/server/src/domain/permission/__tests__/permission-domain.test.ts
  packages/core/admin/server/src/services/__tests__/action.test.ts
  packages/core/admin/server/src/services/__tests__/api-token.test.ts
  packages/core/admin/server/src/services/__tests__/auth.test.ts
  packages/core/admin/server/src/services/__tests__/content-type.test.ts
  packages/core/admin/server/src/services/__tests__/metrics.test.ts
  packages/core/admin/server/src/services/__tests__/passport.test.ts
  packages/core/admin/server/src/services/__tests__/permission.test.ts
  packages/core/admin/server/src/services/__tests__/permissions-manager-sanitize.test.ts
  packages/core/admin/server/src/services/__tests__/permissions-manager-validate.test.ts
  packages/core/admin/server/src/services/__tests__/permissions-manager.test.ts
  packages/core/admin/server/src/services/__tests__/permissions.section-builder.section.test.ts
  packages/core/admin/server/src/services/__tests__/project-settings.test.ts
  packages/core/admin/server/src/services/__tests__/role.test.ts
  packages/core/admin/server/src/services/__tests__/token.test.ts
  packages/core/admin/server/src/services/__tests__/transfer/token.test.ts
  packages/core/admin/server/src/services/__tests__/user.test.ts
  packages/core/admin/server/src/services/action.ts
  packages/core/admin/server/src/services/transfer/token.ts
  packages/core/admin/server/src/strategies/__tests__/admin.test.ts
  packages/core/admin/server/src/strategies/__tests__/api-token.test.ts
  packages/core/admin/server/src/validation/__tests__/common-functions.test.ts
  packages/core/admin/server/tsconfig.json
  yarn.lock
Labels: source: core:admin, pr: enhancement

#18563 chore(generators): remove admin
  package.json
  packages/generators/admin/component/index.js
  packages/generators/admin/component/templates/actions.js.hbs
  packages/generators/admin/component/templates/constants.js.hbs
  packages/generators/admin/component/templates/index.js.hbs
  packages/generators/admin/component/templates/reducer.js.hbs
  packages/generators/admin/component/templates/selectors.js.hbs
  packages/generators/admin/component/templates/tests/actions.test.js.hbs
  packages/generators/admin/component/templates/tests/index.test.js.hbs
  packages/generators/admin/component/templates/tests/reducer.test.js.hbs
  packages/generators/admin/component/templates/tests/selectors.test.js.hbs
  packages/generators/admin/plopfile.js
  packages/generators/admin/utils/fileExistsInPackages.js
  packages/generators/admin/utils/getPluginList.js
  packages/generators/admin/utils/packagesFolder.js
Labels: source: tooling, pr: chore

#18599 fix: delete process.nexttick
  packages/core/data-transfer/src/strapi/remote/handlers/push.ts
Labels: pr: fix, source: core:data-transfer

#18611 chore(admin): fix some admin build issues
  packages/core/admin/server/src/controllers/__tests__/content-api.test.ts
  packages/core/admin/server/src/services/__tests__/permissions.section-builder.section.test.ts
  packages/core/types/src/modules/webhook-runner.ts
Labels: source: core:admin, pr: enhancement

#18499 [v5] Remove support for MySQL v5
  .github/workflows/skipped_tests.yml
  .github/workflows/tests.yml
  README.md
  packages/core/database/src/dialects/dialect.ts
  packages/core/database/src/dialects/mysql/index.ts
  packages/core/database/src/entity-manager/regular-relations.ts
  packages/core/strapi/README.md
  packages/core/strapi/src/Strapi.ts
Labels: flag: 💥 Breaking change, source: core:database, pr: chore, v5

#18500 [v5] Only support better-sqlite3 package for sqlite
  .github/workflows/tests.yml
  e2e/app-template/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  packages/core/database/packup.config.ts
  packages/core/database/src/connection.ts
  packages/generators/app/src/types.ts
  packages/generators/app/src/utils/db-client-dependencies.ts
  yarn.lock
Labels: flag: 💥 Breaking change, source: core:database, pr: chore, v5

#18593 chore(admin): convert ProfilePage and re-use server driven types
  packages/core/admin/admin/src/components/AuthenticatedApp.tsx
  packages/core/admin/admin/src/components/NpsSurvey.tsx
  packages/core/admin/admin/src/components/tests/RBACProvider.test.tsx
  packages/core/admin/admin/src/hooks/tests/useAdminRoles.test.ts
  packages/core/admin/admin/src/hooks/useAdminRoles.ts
  packages/core/admin/admin/src/hooks/useAdminUsers.ts
  packages/core/admin/admin/src/hooks/useContentTypes.ts
  packages/core/admin/admin/src/pages/Admin.tsx
  packages/core/admin/admin/src/pages/ProfilePage.tsx
  packages/core/admin/admin/src/pages/ProfilePage/components/Password/index.js
  packages/core/admin/admin/src/pages/ProfilePage/components/Preferences/index.js
  packages/core/admin/admin/src/pages/ProfilePage/components/UserInfo/index.js
  packages/core/admin/admin/src/pages/ProfilePage/index.js
  packages/core/admin/admin/src/pages/ProfilePage/tests/utils/serverLockedSSO.js
  packages/core/admin/admin/src/pages/ProfilePage/utils/schema.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/hooks/tests/useAdminRolePermissions.test.ts
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/hooks/useAdminRolePermissions.ts
  packages/core/admin/admin/src/pages/tests/ProfilePage.test.tsx
  packages/core/admin/admin/src/render.ts
  packages/core/admin/admin/src/types/adminAPI.ts
  packages/core/admin/admin/tests/utils.tsx
  packages/core/admin/shared/contracts/admin.ts
  packages/core/admin/shared/contracts/providers.ts
  packages/core/admin/shared/contracts/roles.ts
  packages/core/admin/shared/contracts/shared.ts
  packages/core/admin/shared/contracts/user.ts
  packages/core/admin/shared/contracts/users.ts
  packages/core/admin/shared/entities.ts
  packages/core/admin/shared/permissions.ts
  packages/core/helper-plugin/src/components/CheckPagePermissions.tsx
  packages/core/helper-plugin/src/components/CheckPermissions.tsx
  packages/core/helper-plugin/src/components/GenericInput.tsx
  packages/core/helper-plugin/src/features/AppInfo.tsx
  packages/core/helper-plugin/src/features/RBAC.tsx
  packages/core/helper-plugin/src/hooks/tests/useRBAC.test.ts
  packages/core/helper-plugin/src/utils/hasPermissions.ts
  packages/core/helper-plugin/src/utils/tests/hasPermissions.test.ts
  packages/core/helper-plugin/tests/utils.tsx
Labels: source: core:admin, pr: chore

#18614 fix(workflows): admin bundle-size workflow
  .github/workflows/adminBundleSize.yml
Labels: source: tooling, pr: fix

#18503 [v5] Use mysql2 as the package for mysql
  .github/workflows/tests.yml
  examples/getstarted/config/database.js
  examples/getstarted/package.json
  examples/kitchensink/package.json
  packages/core/database/src/connection.ts
  packages/core/database/src/dialects/index.ts
  packages/generators/app/src/resources/templates/database-templates/js/database.template
  packages/generators/app/src/resources/templates/database-templates/ts/database.template
  packages/generators/app/src/types.ts
  packages/generators/app/src/utils/db-client-dependencies.ts
  test/scripts/run-api-tests.js
  yarn.lock
Labels: flag: 💥 Breaking change, source: core:database, pr: chore, v5

#18617 Fix imports in admin tests
  packages/core/admin/server/src/controllers/__tests__/admin.test.ts
  packages/core/admin/server/src/services/__tests__/auth.test.ts
  packages/core/admin/server/src/services/__tests__/passport.test.ts
  packages/core/admin/server/src/services/__tests__/role.test.ts
  packages/core/admin/server/src/services/__tests__/user.test.ts
Labels: source: core:admin, pr: enhancement
