Repository strapi/strapi, pull requests merged in 2023-02, with the labels that each got.

#15046 Update where.js
  packages/core/database/lib/query/helpers/where.js
Labels: source: core:strapi, pr: enhancement

#14921 Fix duplicated emails checking
  packages/plugins/users-permissions/server/services/providers.js
Labels: status: confirmed, source: plugin:users-permissions, pr: fix

#15363 Fix: Webhook & lifecyles payload with populated relations
  examples/getstarted/config/server.js
  packages/core/content-manager/server/services/__tests__/entity-manager.test.js
  packages/core/content-manager/server/services/entity-manager.js
  packages/core/content-manager/server/services/utils/__tests__/count.test.js
  packages/core/content-manager/server/services/utils/count.js
  packages/core/content-manager/server/tests/api/basic-relations.test.api.js
  packages/generators/app/lib/resources/files/js/config/server.js
  packages/generators/app/lib/resources/files/ts/config/server.ts
Labels: source: core:content-manager, pr: fix

#14900 Tracking system, number of content types and components per user/project
  packages/core/admin/server/controllers/admin.js
  packages/core/strapi/lib/services/metrics/sender.js
  packages/plugins/i18n/server/services/metrics.js
Labels: source: core:strapi, pr: enhancement

#14398 Add media sizeLimit for every provider
  packages/core/strapi/lib/types/core/attributes/common.d.ts
  packages/core/upload/server/config.js
  packages/core/upload/server/register.js
  packages/core/upload/server/services/provider.js
  packages/core/upload/server/services/upload.js
  packages/core/upload/server/utils/file.js
  packages/core/upload/tests/admin/file-size-limit.test.e2e.js
  packages/core/utils/lib/async.d.ts
  packages/providers/upload-local/lib/index.js
Labels: source: core:upload, pr: fix

#15656 [CTB]AttributeIcon - Fixing issue #15413
  packages/core/content-type-builder/admin/src/components/AttributeIcon/index.js
  packages/core/content-type-builder/admin/src/components/AttributeOptions/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
Labels: source: core:content-type-builder, pr: fix

#15669 [Fix]: Support avif and heif image formats in upload plugin
  packages/core/upload/server/services/image-manipulation.js
Labels: source: core:upload, pr: fix

#15387 Fix configuration example for nodemailer provider
  packages/providers/email-nodemailer/README.md
Labels: source: core:email, pr: fix

#13919 Add support to upload cloudinary file to specific folder with path variable
  packages/providers/upload-cloudinary/lib/index.js
Labels: source: core:upload, pr: enhancement

#15490 fix(upload): add populate query to findOne method
  packages/core/upload/server/controllers/content-api.js
  packages/core/upload/tests/content-api/upload.test.api.js
Labels: source: core:upload, pr: fix

#15245 replace axiosInstance with getFetchClient inside the admin
  packages/core/admin/admin/src/components/AuthenticatedApp/utils/api.js
  packages/core/admin/admin/src/components/LeftMenu/index.js
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationMultiple/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationMultiple/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationMultiple/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/InputUID/index.js
  packages/core/admin/admin/src/content-manager/components/SingleTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/hooks/useFetchContentTypeLayout/index.js
  packages/core/admin/admin/src/content-manager/hooks/useRelation/tests/useRelation.test.js
  packages/core/admin/admin/src/content-manager/hooks/useRelation/useRelation.js
  packages/core/admin/admin/src/content-manager/pages/App/useModels.js
  packages/core/admin/admin/src/content-manager/pages/App/utils/getContentTypeLinks.js
  packages/core/admin/admin/src/content-manager/pages/ComponentSetttingsView/index.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/utils/api.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/utils/api.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/core/utils/axiosInstance.js
  packages/core/admin/admin/src/core/utils/index.js
  packages/core/admin/admin/src/hooks/useFetchEnabledPlugins/utils/api.js
  packages/core/admin/admin/src/hooks/useRegenerate/index.js
  packages/core/admin/admin/src/hooks/useRegenerate/tests/index.test.js
  packages/core/admin/admin/src/hooks/useRolesList/index.js
  packages/core/admin/admin/src/index.js
  packages/core/admin/admin/src/pages/Admin/tests/useTrackUsage.test.js
  packages/core/admin/admin/src/pages/ProfilePage/utils/api.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/utils/api.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/EditPage/utils/api.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/utils/api.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/components/SelectRoles/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/ListPage/index.js
  packages/core/helper-plugin/lib/src/hooks/useFetchClient/index.js
  packages/core/helper-plugin/lib/src/hooks/useFetchClient/tests/useFetchClient.test.js
Labels: source: core:admin, pr: enhancement

#15711 chore: tidy-up contributor docs
  docs/docs/core/helper-plugin/hooks/use-fetch-client.mdx
  docs/sidebars.js
Labels: source: docs, pr: doc

#15690 Add event hub page to contributor docs
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  docs/docs/core/utils/event-hub.md
  docs/docs/example.md
  docs/sidebars.js
  docs/static/img/utils/event-hub-diagram.png
Labels: source: docs, pr: enhancement

#15637 feat(review-workflows): add default workflow
  packages/core/admin/ee/server/bootstrap.js
  packages/core/admin/ee/server/constants/default-stages.json
  packages/core/admin/ee/server/constants/default-workflow.json
  packages/core/admin/ee/server/services/__tests__/review-workflows.test.js
  packages/core/admin/ee/server/services/__tests__/stages.test.js
  packages/core/admin/ee/server/services/index.js
  packages/core/admin/ee/server/services/review-workflows/review-workflows.js
  packages/core/admin/ee/server/services/review-workflows/stages.js
  packages/core/admin/ee/server/services/review-workflows/workflows.js
  packages/core/admin/ee/server/tests/review-workflows.test.api.js
  packages/core/admin/ee/server/utils/index.js
  packages/core/utils/lib/async.d.ts
Labels: pr: feature, source: core:review-workflows

#15720 [relations]: we should always try and apply the relation paths if they exist
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/reducer.test.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/findLeafByPathAndReplace.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/tests/findLeafByPathAndReplace.test.js
Labels: source: core:content-manager, pr: fix

#15683 Settings: Add workflow management to settings page
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/ReviewWorkflows.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/actions/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/actions/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/AddStage/AddStage.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/AddStage/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/AddStage/tests/AddStage.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/AddStage/tests/__snapshots__/AddStage.test.js.snap
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/Stage.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/tests/Stage.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stages.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/tests/Stages.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/constants.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/hooks/tests/useReviewWorkflows.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/hooks/useReviewWorkflows.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/reducer/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/reducer/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/tests/ReviewWorkflows.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/utils/getWorkflowValidationSchema.js
Labels: source: core:review-workflows

#15702 Fix `hasTable` is undefined for schema postgres users
  packages/core/database/lib/validations/relations/bidirectional.js
Labels: source: core:database, pr: fix

#15696 Update auto-label workflow to include DEITS label
  .github/workflows/issues_handleLabel.yml
Labels: source: tooling, pr: chore

#15725 fix sharp version for macOS < 11
  packages/core/upload/package.json
  yarn.lock
Labels: source: dependencies, pr: fix

#15695 Jest: Collect coverage for ee admin folders
  jest.base-config.front.js
Labels: source: core:admin, pr: enhancement

#15216 Add Patreon as an Oauth2 Provider in the Users & Permissions plugin
  packages/plugins/users-permissions/server/bootstrap/grant-config.js
  packages/plugins/users-permissions/server/services/providers-registry.js
Labels: source: plugin:users-permissions, pr: enhancement

#15643 Fix: Performance degradation with deep nested compos
  packages/core/strapi/lib/services/entity-service/__tests__/entity-service.test.js
  packages/core/strapi/lib/services/entity-service/components.js
  packages/core/utils/lib/async.d.ts
  packages/core/utils/lib/async.js
  packages/core/utils/lib/index.js
  packages/plugins/i18n/server/services/__tests__/localizations.test.js
  packages/plugins/i18n/server/services/localizations.js
Labels: source: core:strapi, pr: fix

#15733 Point CTB to the marketplace custom field category
  packages/core/content-type-builder/admin/src/components/AttributeOptions/EmptyAttributes/index.js
Labels: source: core:content-type-builder, pr: fix

#15719 Rename audit logs table name
  packages/core/admin/ee/server/migrations/audit-logs-table.js
  packages/core/admin/ee/server/register.js
  packages/core/admin/ee/server/services/__tests__/audit-logs.test.js
  packages/providers/audit-logs-local/lib/content-types/audit-log/schema.js
Labels: source: core:admin, pr: fix, flag: EE

#15744 [CustomInputs]: handle the hook being re-rendered
  packages/core/admin/admin/src/content-manager/hooks/useLazyComponents/index.js
  packages/core/admin/admin/src/content-manager/hooks/useLazyComponents/tests/useLazyComponents.test.js
Labels: source: core:content-manager, pr: fix

#15750 fix(upload-local-provider): use package require instead of absolute path
  packages/core/upload/server/graphql.js
  packages/core/upload/server/register.js
  packages/core/upload/server/services/image-manipulation.js
  packages/core/upload/server/services/provider.js
  packages/core/upload/server/services/upload.js
  packages/core/utils/lib/file.js
  packages/core/utils/lib/index.js
  packages/providers/upload-local/lib/index.js
Labels: source: core:upload, pr: fix

#15761 Chore: Update redux and react-redux
  packages/admin-test-utils/package.json
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/upload/package.json
  packages/plugins/documentation/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#15762 Chore: Update gh actions dependencies
  .github/actions/check-pr-status/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#15760 Chore: Update msw to 1.0.0
  packages/core/admin/package.json
  packages/core/upload/package.json
  packages/plugins/documentation/package.json
  packages/plugins/i18n/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#15723 [enh] Add Onboarding videos
  packages/core/admin/admin/src/assets/images/onboarding-preview.png
  packages/core/admin/admin/src/pages/Admin/Onboarding/constants.js
  packages/core/admin/admin/src/pages/Admin/Onboarding/index.js
  packages/core/admin/admin/src/pages/Admin/Onboarding/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/Admin/Onboarding/tests/index.test.js
  packages/core/admin/admin/src/pages/Admin/index.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: enhancement

#15766 Chore: Remove legacy cypress tests
  packages/core/content-manager/server/tests/front/integration/createPage_specs.js
  packages/core/content-manager/server/tests/front/integration/init_specs.js
  packages/core/content-manager/server/tests/front/integration/listPage_specs.js
  packages/core/content-type-builder/tests/front/integrationOld/createApi_specs.js
Labels: source: core:content-type-builder, pr: chore

#15768 Chore: Update supertest
  package.json
  packages/core/strapi/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#15767 Chore: Update koa-session to 6.4.0
  packages/core/strapi/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#15441 chore: tidy up deps and export cjs & esm modules
  packages/core/admin/admin/src/content-manager/pages/App/tests/index.test.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/plugins.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/providers.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/webpack.config.js
  packages/plugins/users-permissions/admin/src/pages/Providers/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/tests/index.test.js
  yarn.lock
Labels: source: core:helper-plugin, pr: chore

#15769 Chore: Remove node-polyfill-webpack-plugin
  packages/core/admin/package.json
  packages/core/admin/webpack.config.js
  yarn.lock
Labels: source: core:admin, pr: chore

#15770 Github: Add admin bundle-size PR reporter
  .github/workflows/adminBundleSize.yml
Labels: source: tooling, pr: chore

#15771 fix: Can not update media folder
  packages/core/upload/admin/src/hooks/useEditAsset.js
Labels: source: core:upload, pr: fix

#15765 Remove `request` dependency
  package.json
  packages/plugins/users-permissions/package.json
  test/helpers/waitRestart.js
  yarn.lock
Labels: source: tooling, pr: chore

#15757 fix: Sometimes the children display order is incorrect in list view
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationMultiple/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationMultiple/tests/index.test.js
Labels: source: core:content-manager, pr: fix

#15777 Revert "Github: Add admin bundle-size PR reporter"
  .github/workflows/adminBundleSize.yml
Labels: source: tooling, pr: chore

#15595 Add E2E Signup Tests
  e2e/authentication/login.spec.js
  e2e/authentication/signup.spec.js
  e2e/constants.js
  e2e/scripts/dts-export.js
  e2e/scripts/dts-import.js
Labels: pr: enhancement

#15780 Docs: Fix sidebar structure
  docs/sidebars.js
Labels: source: docs, pr: fix

#15612 Prevent uploading files that have unallowed file type
  packages/core/upload/admin/src/components/MediaLibraryInput/index.js
  packages/core/upload/admin/src/components/UploadAssetDialog/UploadAssetDialog.js
Labels: source: core:upload, pr: fix

#15044 Warn if trying to use Strapi v3's `enabled` option to disable the CORS middleware
  packages/core/strapi/lib/middlewares/cors.js
Labels: source: core:strapi, pr: chore

#15732 Generate db config with all clients
  packages/generators/app/lib/create-project.js
  packages/generators/app/lib/resources/templates/database-templates/js/database.template
  packages/generators/app/lib/resources/templates/database-templates/mysql.template
  packages/generators/app/lib/resources/templates/database-templates/postgres.template
  packages/generators/app/lib/resources/templates/database-templates/sqlite.template
  packages/generators/app/lib/resources/templates/database-templates/ts/database.template
  packages/generators/app/lib/resources/templates/database.js
  packages/generators/app/lib/resources/templates/js/database-templates/mysql.template
  packages/generators/app/lib/resources/templates/js/database-templates/postgres.template
  packages/generators/app/lib/resources/templates/js/database-templates/sqlite.template
  packages/generators/app/lib/resources/templates/ts/database-templates/mysql.template
  packages/generators/app/lib/resources/templates/ts/database-templates/postgres.template
  packages/generators/app/lib/resources/templates/ts/database-templates/sqlite.template
Labels: source: core:database, pr: feature

#15693 [Fix]: Graphql accept publication state argument in relations
  packages/core/utils/lib/convert-query-params.js
  packages/plugins/graphql/tests/dp-relations.test.api.js
Labels: source: core:strapi, pr: fix

#15730 replace axiosInstance with getFetchClient inside the email
  packages/core/email/admin/src/pages/Settings/utils/api.js
  packages/core/email/admin/src/utils/axiosInstance.js
Labels: source: core:email, pr: enhancement

#15715 [Fix]: Graphql handle pagination arguments in relations
  packages/core/utils/lib/convert-query-params.js
  packages/plugins/graphql/tests/relations.test.api.js
Labels: source: plugin:graphql, pr: fix

#15797 Delete createBuildIndex.js
  packages/core/helper-plugin/createBuildIndex.js
Labels: source: core:helper-plugin, pr: chore

#15779 Add E2E Logout Tests
  e2e/authentication/login.spec.js
  e2e/authentication/logout.spec.js
  e2e/authentication/utils/index.js
Labels: pr: enhancement

#15694 [RBAC]: Document how they work on the FE in `contributors`
  docs/docs/core/content-manager/intro.md
  docs/docs/core/content-type-builder/intro.md
  docs/docs/core/permissions/frontend/fetching-permissions.mdx
  docs/docs/core/permissions/frontend/using-permissions.mdx
  docs/docs/core/permissions/how-they-work.mdx
  docs/docs/core/permissions/intro.mdx
  docs/sidebars.js
  docs/static/img/permissions/permissions-into-app.png
  docs/static/img/permissions/rbac-edit-page.png
Labels: source: docs, pr: doc

#15783 Refactor entity manager extensions
  packages/core/content-manager/server/services/entity-manager.js
  packages/core/upload/server/register.js
  packages/core/upload/server/services/extensions/content-manager/entity-manager.js
Labels: source: core:upload, pr: enhancement

#15742 Set default locale when using Query Engine function createMany
  packages/plugins/i18n/server/bootstrap.js
  packages/plugins/i18n/server/services/__tests__/localizations.test.js
  packages/plugins/i18n/server/services/localizations.js
Labels: source: plugin:i18n, pr: fix

#15752 Fix JSON field for postgres when the value is a simple string
  packages/core/database/lib/dialects/postgresql/index.js
Labels: source: core:database, pr: fix

#12666 Upload middleware route & typo fix
  packages/core/strapi/lib/middlewares/public/index.js
Labels: source: core:upload, pr: fix

#15727 replace axiosInstance with useFetchClient inside the i18n plugin
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents/CMEditViewCopyLocale/index.js
  packages/plugins/i18n/admin/src/utils/axiosInstance.js
  packages/plugins/i18n/admin/src/utils/index.js
Labels: source: plugin:i18n, pr: enhancement

#15807 [Settings]: fix mail icon on windows
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/components/MagicLink/MagicLinkWrapper.js
Labels: source: core:admin, pr: fix

#15785 Move audit logs permissions to EE
  packages/core/admin/admin/src/permissions/defaultPermissions.js
  packages/core/admin/ee/admin/permissions/customPermissions.js
Labels: source: core:admin, pr: chore, flag: EE

#15788 Track settings pages usage
  packages/core/admin/admin/src/pages/SettingsPage/components/SettingsNav/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/SettingsNav/tests/index.test.js
Labels: source: core:admin, pr: chore

#15541 Update the AWS S3 provider README
  packages/providers/upload-aws-s3/README.md
Labels: source: docs, pr: chore

#15802 feat(utils): add ReduceAsync function
  docs/docs/core/utils/async.md
  packages/core/utils/lib/__tests__/async.test.js
  packages/core/utils/lib/async.d.ts
  packages/core/utils/lib/async.js
  packages/core/utils/lib/index.js
Labels: source: core:utils, pr: enhancement

#15816 Remove dead code for the install and uninstall plugin actions
  packages/admin-test-utils/lib/fixtures/permissions/admin-permissions.js
  packages/core/admin/admin/src/hooks/useMenu/utils/tests/getGeneralLinks.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/Permissions/utils/tests/data.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/Permissions/utils/tests/formatLayoutForSettingsAndPlugins.test.js
  packages/core/admin/admin/src/permissions/defaultPermissions.js
  packages/core/admin/server/config/admin-actions.js
  packages/core/admin/server/controllers/admin.js
  packages/core/admin/server/routes/admin.js
  packages/core/admin/server/tests/admin-permission.test.api.js
  packages/core/helper-plugin/lib/src/utils/hasPermissions/tests/hasPermissions.test.js
  packages/core/helper-plugin/lib/src/utils/hasPermissions/tests/hasPermissionsTestData.js
Labels: source: core:admin, pr: chore

#15781 replace axiosInstance with getFetchClient inside the content-type builder
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/index.js
  packages/core/content-type-builder/admin/src/utils/axiosInstance.js
Labels: source: core:content-type-builder, pr: enhancement

#15818 [Relations]: Introduce fractional indexing for better diffing
  jest.base-config.front.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/reducer.test.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/cleanData.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/utils/tests/cleanData.test.js
  packages/core/admin/package.json
  yarn.lock
Labels: source: core:content-manager, pr: fix

#15692 [Helper-Plugin] getYupInnerErrors use yup params in error messaging
  packages/core/admin/admin/src/translations/ar.json
  packages/core/admin/admin/src/translations/ca.json
  packages/core/admin/admin/src/translations/cs.json
  packages/core/admin/admin/src/translations/de.json
  packages/core/admin/admin/src/translations/dk.json
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/es.json
  packages/core/admin/admin/src/translations/eu.json
  packages/core/admin/admin/src/translations/fr.json
  packages/core/admin/admin/src/translations/gu.json
  packages/core/admin/admin/src/translations/he.json
  packages/core/admin/admin/src/translations/hi.json
  packages/core/admin/admin/src/translations/hu.json
  packages/core/admin/admin/src/translations/id.json
  packages/core/admin/admin/src/translations/it.json
  packages/core/admin/admin/src/translations/ja.json
  packages/core/admin/admin/src/translations/ko.json
  packages/core/admin/admin/src/translations/ml.json
  packages/core/admin/admin/src/translations/ms.json
  packages/core/admin/admin/src/translations/nl.json
  packages/core/admin/admin/src/translations/no.json
  packages/core/admin/admin/src/translations/pl.json
  packages/core/admin/admin/src/translations/pt-BR.json
  packages/core/admin/admin/src/translations/pt.json
  packages/core/admin/admin/src/translations/ru.json
  packages/core/admin/admin/src/translations/sa.json
  packages/core/admin/admin/src/translations/sk.json
  packages/core/admin/admin/src/translations/sv.json
  packages/core/admin/admin/src/translations/th.json
  packages/core/admin/admin/src/translations/tr.json
  packages/core/admin/admin/src/translations/uk.json
  packages/core/admin/admin/src/translations/vi.json
  packages/core/admin/admin/src/translations/zh-Hans.json
  packages/core/admin/admin/src/translations/zh.json
  packages/core/helper-plugin/lib/src/utils/getYupInnerErrors/index.js
  packages/core/helper-plugin/lib/src/utils/getYupInnerErrors/tests/index.test.js
Labels: source: core:helper-plugin, pr: enhancement

#15827 Chore: Bump swc jsc.target to es2020
  jest.base-config.front.js
Labels: source: tooling, pr: enhancement

#15832 Github: Add admin bundle-size PR reporter
  .github/workflows/adminBundleSize.yml
Labels: source: tooling, pr: chore

#15826 Chore: Upgrade swc and remove core-js polyfill for tests
  jest.base-config.front.js
  package.json
  packages/admin-test-utils/lib/setup/test-bundler.js
  packages/admin-test-utils/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#15836 GH: Optimize GH bundle-size report setup
  .github/workflows/adminBundleSize.yml
Labels: source: tooling, pr: chore

#15842 Call process.exit after successful build
  packages/core/strapi/lib/commands/builders/admin.js
Labels: source: cli, pr: fix

#15824 [chore] fixes on Overview page & moved get help link
  packages/core/admin/admin/src/pages/Admin/Onboarding/index.js
  packages/core/admin/admin/src/pages/Admin/Onboarding/tests/index.test.js
  packages/core/admin/admin/src/pages/HomePage/SocialLinks.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: chore

#15798 [Templates] Plugin deps & Custom.d.ts
  packages/generators/generators/lib/files/js/plugin/admin/src/utils/axiosInstance.js
  packages/generators/generators/lib/files/ts/plugin/admin/src/components/Initializer/index.tsx
  packages/generators/generators/lib/files/ts/plugin/admin/src/components/PluginIcon/index.tsx
  packages/generators/generators/lib/files/ts/plugin/admin/src/index.tsx
  packages/generators/generators/lib/files/ts/plugin/admin/src/pages/App/index.tsx
  packages/generators/generators/lib/files/ts/plugin/admin/src/pages/HomePage/index.tsx
  packages/generators/generators/lib/files/ts/plugin/admin/src/utils/axiosInstance.ts
  packages/generators/generators/lib/files/ts/plugin/custom.d.ts
  packages/generators/generators/lib/files/ts/plugin/tsconfig.json
  packages/generators/generators/lib/files/ts/plugin/tsconfig.server.json
  packages/generators/generators/lib/templates/js/plugin-package.json.hbs
  packages/generators/generators/lib/templates/ts/plugin-package.json.hbs
Labels: pr: fix, source: generators:app

#15792 Add all undeclared packages to `package.json`
  examples/getstarted/package.json
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/i18n/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#15822 [Docs] Improve e2e testing documentation
  docs/docs/testing/e2e/app-template.md
  docs/docs/testing/e2e/data-transfer.md
  e2e/authentication/login.spec.js
  e2e/authentication/logout.spec.js
  e2e/authentication/signup.spec.js
  e2e/scripts/dts-import.js
Labels: source: docs

#15853 Fix a tiny syntax error in `config/database.ts` of the template
  packages/generators/app/lib/resources/templates/database-templates/ts/database.template
Labels: pr: fix, source: typescript

#15858 chore: remove admin imports from tests
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/index.test.js
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/admin/src/pages/ListView/tests/index.test.js
Labels: source: core:content-type-builder, pr: chore

#15860 Chore: Remove whatwg-fetch polyfill
  jest.base-config.front.js
  packages/admin-test-utils/lib/mocks/fetch.js
  packages/admin-test-utils/package.json
  packages/core/admin/webpack.alias.js
  packages/core/helper-plugin/lib/src/utils/request/index.js
  packages/core/helper-plugin/package.json
  yarn.lock
Labels: source: core:helper-plugin, pr: chore

#15864 Add vercel.json
  vercel.json
Labels: source: tooling, pr: chore

#15863 Chore: Remove usage of lodash chain from admin/src
  packages/core/admin/admin/src/content-manager/pages/App/utils/generateModelsLinks.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/Permissions/utils/formatLayoutForSettingsAndPlugins.js
Labels: source: core:admin, pr: chore

#15843 EditAssetDialog: Only send the folderId when saving the cropped asset
  packages/core/upload/admin/src/components/EditAssetDialog/PreviewBox/index.js
Labels: source: core:upload, pr: fix

#15831 fix: always return an object if data is falsey
  packages/core/upload/admin/src/hooks/tests/useConfig.test.js
  packages/core/upload/admin/src/hooks/useConfig.js
Labels: source: core:upload, pr: fix

#15884 Revert "Call process.exit after successful build"
  packages/core/strapi/lib/commands/builders/admin.js
Labels: source: core:admin, pr: fix

#15881 [Fix]: forEach async
  packages/plugins/i18n/server/services/localizations.js
Labels: source: core:utils, pr: fix

#15886 Fix the relative path for sqlite database in the default database connection
  packages/generators/app/lib/resources/templates/database-templates/ts/database.template
Labels: pr: fix, source: generators:app

#15887 Fix wrong import names for some icons in the CTB
  packages/core/content-type-builder/admin/src/components/AttributeIcon/index.js
Labels: source: core:content-type-builder, pr: fix

#15847 feat(review-workflows): add options in content type builder
  packages/core/admin/ee/server/middlewares/review-workflows.js
  packages/core/admin/ee/server/register.js
  packages/core/content-type-builder/server/controllers/validation/content-type.js
  packages/core/content-type-builder/server/controllers/validation/model-schema.js
  packages/core/content-type-builder/server/services/content-types.js
  packages/core/content-type-builder/server/services/schema-builder/content-type-builder.js
  packages/core/utils/lib/content-types.js
Labels: source: core:content-type-builder, pr: feature

#15892 Update CTB Snapshots
  packages/core/content-type-builder/admin/src/components/AttributeOptions/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
Labels: source: core:content-type-builder, pr: fix

#15815 Confirmation message when deleting a transfer token or an API token from the list
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/FormiTokenContainer/LifeSpanInput.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/LifeSpanInput/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/Regenerate/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/Table/DeleteButton/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/Table/DeleteButton/tests/DeleteButton.test.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/Table/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/TokenDescription/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/TokenName/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/TokenTypeSelect/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/components/FormTransferTokenContainer/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/components/LoadingView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/ListView/tests/index.test.js
  packages/core/data-transfer/src/strapi/remote/handlers.ts
Labels: pr: enhancement, source: core:data-transfer

#15880 [Data Transfer] Show the progress of the transfer
  packages/core/data-transfer/src/engine/index.ts
  packages/core/data-transfer/src/strapi/providers/remote-destination/index.ts
  packages/core/data-transfer/src/strapi/providers/remote-destination/utils.ts
  packages/core/data-transfer/types/utils.d.ts
  packages/core/strapi/lib/commands/__tests__/data-transfer/export.test.js
  packages/core/strapi/lib/commands/__tests__/data-transfer/import.test.js
  packages/core/strapi/lib/commands/__tests__/data-transfer/transfer.test.js
  packages/core/strapi/lib/commands/transfer/export.js
  packages/core/strapi/lib/commands/transfer/import.js
  packages/core/strapi/lib/commands/transfer/transfer.js
  packages/core/strapi/lib/commands/transfer/utils.js
Labels: source: cli, pr: enhancement

#15837 Adapt the tracking system events for both API tokens and transfer tokens
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/Table/DeleteButton/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/Table/DeleteButton/tests/DeleteButton.test.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/Table/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/TokenBox/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/constants.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/ListView/index.js
Labels: source: core:admin, pr: enhancement

#14670 add media attribute validator
  packages/core/strapi/lib/services/entity-validator/index.js
  packages/core/strapi/tests/api/basic-media.test.api.js
Labels: source: core:strapi, pr: fix

#15894 [documentation]: Relations reordering
  docs/docs/core/database/intro.md
  docs/docs/core/database/relations/reordering.mdx
  docs/static/img/database/m2m-example.png
  docs/static/img/database/mw-example.png
  docs/static/img/database/o2o-example.png
  docs/static/img/database/reordering-algo-1.png
  docs/static/img/database/reordering-algo-2.png
  docs/static/img/database/reordering.png
Labels: source: docs, pr: doc

#15734 Add enforcement of seats to EE
  packages/core/admin/admin/src/components/Notifications/Notification/index.js
  packages/core/admin/admin/src/hooks/index.js
  packages/core/admin/admin/src/hooks/useLicenseLimitNotification/index.js
  packages/core/admin/admin/src/hooks/useLicenseLimits/index.js
  packages/core/admin/admin/src/pages/HomePage/index.js
  packages/core/admin/admin/src/pages/HomePage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/AdminSeatInfo/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/EditPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/CreateAction/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/CreateAction/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/ee/admin/hooks/index.js
  packages/core/admin/ee/admin/hooks/useLicenseLimitNotification/index.js
  packages/core/admin/ee/admin/hooks/useLicenseLimitNotification/tests/index.test.js
  packages/core/admin/ee/admin/hooks/useLicenseLimits/index.js
  packages/core/admin/ee/admin/hooks/useLicenseLimits/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ApplicationInfosPage/components/AdminSeatInfo/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ApplicationInfosPage/components/AdminSeatInfo/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/ListPage/CreateAction/index.js
  packages/core/admin/ee/server/bootstrap.js
  packages/core/admin/ee/server/controllers/admin.js
  packages/core/admin/ee/server/controllers/index.js
  packages/core/admin/ee/server/controllers/user.js
  packages/core/admin/ee/server/routes/index.js
  packages/core/admin/ee/server/services/index.js
  packages/core/admin/ee/server/services/seat-enforcement.js
  packages/core/admin/ee/server/services/user.js
  packages/core/strapi/ee/ee-store.js
  packages/core/strapi/ee/index.js
  packages/core/strapi/lib/Strapi.js
Labels: source: core:admin, pr: chore

#15934 Fix translations and remove useless file
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/FormiTokenContainer/LifeSpanInput.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/LifeSpanInput/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/Regenerate/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/Table/index.js
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/TokenBox/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/FormApiTokenContainer/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/components/Regenerate/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/ListView/utils/tableHeaders.js
  packages/core/admin/admin/src/translations/ca.json
  packages/core/admin/admin/src/translations/de.json
  packages/core/admin/admin/src/translations/dk.json
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/es.json
  packages/core/admin/admin/src/translations/eu.json
  packages/core/admin/admin/src/translations/fr.json
  packages/core/admin/admin/src/translations/hi.json
  packages/core/admin/admin/src/translations/hu.json
  packages/core/admin/admin/src/translations/ja.json
  packages/core/admin/admin/src/translations/ko.json
  packages/core/admin/admin/src/translations/ml.json
  packages/core/admin/admin/src/translations/nl.json
  packages/core/admin/admin/src/translations/pl.json
  packages/core/admin/admin/src/translations/pt-BR.json
  packages/core/admin/admin/src/translations/ru.json
  packages/core/admin/admin/src/translations/sa.json
  packages/core/admin/admin/src/translations/sk.json
  packages/core/admin/admin/src/translations/sv.json
  packages/core/admin/admin/src/translations/tr.json
  packages/core/admin/admin/src/translations/zh-Hans.json
  packages/core/admin/admin/src/translations/zh.json
Labels: source: core:admin, pr: fix

#15941 Fix db generated config - pg port
  packages/generators/app/lib/resources/templates/database-templates/js/database.template
Labels: source: core:database, pr: fix

#15911 Add documentation to install with lerna instead of yarn
  docs/docs/how-to-install-packages.md
  docs/sidebars.js
Labels: source: docs, pr: doc

#15848 Add all undeclared "safe" packages to package.json
  examples/getstarted/package.json
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/Editor.js
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/utils/continueList.js
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#15927 CM: Display current workflow stage in the edit-view
  packages/core/admin/admin/src/content-manager/pages/EditView/Information/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/Information/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/InformationBox/InformationBoxCE.js
  packages/core/admin/admin/src/content-manager/pages/EditView/InformationBox/index.js
  packages/core/admin/admin/src/content-manager/pages/EditView/InformationBox/tests/InformationBoxCe.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/index.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/InformationBoxEE.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/index.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/tests/InformationBoxEE.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/hooks/tests/useReviewWorkflows.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/hooks/useReviewWorkflows.js
Labels: source: core:review-workflows
