Repository strapi/strapi, pull requests merged in 2023-06, with the labels that each got.

#16827 feat(review workflow): Prevent too long table name for rw join table attributes
  api-tests/core/admin/ee/review-workflows-content-types.test.api.js
  api-tests/core/content-manager/search.test.api.js
  packages/core/admin/ee/server/services/__tests__/review-workflows.test.js
  packages/core/admin/ee/server/services/review-workflows/review-workflows.js
  packages/core/admin/ee/server/utils/review-workflows.js
  packages/core/admin/ee/server/validation/review-workflows.js
Labels: pr: enhancement, source: core:review-workflows

#16881 refactor(review-workflow): shorten the stage attribute name on entities
  docs/docs/docs/01-core/content-manager/02-review-workflows.mdx
  packages/core/admin/ee/admin/content-manager/components/DynamicTable/CellContent/ReviewWorkflowsStage/getTableColumn.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/InformationBoxEE.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/tests/InformationBoxEE.test.js
  packages/core/admin/ee/server/constants/workflows.js
  packages/core/admin/ee/server/services/__tests__/stages.test.js
  packages/core/admin/ee/server/services/review-workflows/__tests__/entity-service-decorator.test.js
  packages/core/admin/ee/server/services/review-workflows/review-workflows.js
  packages/core/strapi/lib/commands/utils/data-transfer.js
Labels: pr: enhancement, source: core:review-workflows

#16835 [WebHooks] - expose allowed webhook events in webhook store
  packages/core/admin/ee/server/services/__tests__/review-workflows.test.js
  packages/core/admin/ee/server/services/review-workflows/review-workflows.js
  packages/core/admin/server/controllers/webhooks.js
  packages/core/content-manager/server/bootstrap.js
  packages/core/content-manager/server/constants/index.js
  packages/core/content-manager/server/controllers/__tests__/single-types.test.js
  packages/core/content-manager/server/controllers/collection-types.js
  packages/core/content-manager/server/controllers/single-types.js
  packages/core/content-manager/server/services/__tests__/entity-manager.test.js
  packages/core/content-manager/server/services/entity-manager.js
  packages/core/strapi/lib/services/entity-service/__tests__/entity-service-events.test.js
  packages/core/strapi/lib/services/entity-service/__tests__/entity-service.test.js
  packages/core/strapi/lib/services/entity-service/index.js
  packages/core/strapi/lib/services/webhook-store.js
  packages/core/upload/server/__tests__/bootstrap.test.js
  packages/core/upload/server/bootstrap.js
  packages/core/upload/server/constants.js
  packages/core/upload/server/services/upload.js
  packages/core/utils/lib/index.js
  packages/core/utils/lib/webhook.js
Labels: source: core:strapi, pr: enhancement

#16884 fix: ids in query.createMany return type
  packages/core/database/lib/index.d.ts
  packages/core/strapi/lib/services/entity-service/index.d.ts
Labels: source: core:database, pr: fix

#16899 Chore: Update @strapi/design-system and @strapi/icons to 1.7.10
  examples/getstarted/package.json
  packages/core/admin/admin/src/components/GuidedTour/Homepage/tests/index.test.js
  packages/core/admin/admin/src/components/GuidedTour/Modal/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/CellContent/RelationMultiple/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/EditView/Header/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/ProfilePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoInput/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/tests/__snapshots__/AddLogoDialog.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/components/LogoModalStepper/tests/__snapshots__/PendingLogoDialog.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/admin/src/pages/UseCasePage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/tests/__snapshots__/index.test.js.snap
  packages/core/admin/package.json
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
  packages/core/content-type-builder/package.json
  packages/core/email/admin/src/pages/Settings/tests/index.test.js
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/Breadcrumbs/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/RemoveAssetDialog.test.js.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.js.snap
  packages/core/upload/admin/src/components/MediaLibraryInput/tests/__snapshots__/MediaLibraryInput.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/AddAssetStep/tests/__snapshots__/FromComputerForm.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/__snapshots__/UploadAssetDialog.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkActions.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkDeleteButton.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkMoveButton.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/Header.test.js.snap
  packages/core/upload/admin/src/pages/SettingsPage/tests/index.test.js
  packages/core/upload/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/admin/src/pages/PluginPage/tests/index.test.js
  packages/plugins/documentation/admin/src/pages/SettingsPage/tests/index.test.js
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/admin/src/components/LocaleSelect/tests/__snapshots__/LocaleSelect.test.js.snap
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/tests/index.test.js
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#16824 fix: add type compare in row isSelected condition
  packages/core/upload/admin/src/components/TableList/TableRows.js
  packages/core/upload/admin/src/components/TableList/tests/TableRows.test.js
Labels: source: core:upload, pr: fix

#16826 feat: add dynamic components above and below
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/AddComponentButton.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/ComponentCard.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/ComponentCategory.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/ComponentPicker.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DynamicComponent.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/DynamicZoneLabel.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/AddComponentButton.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/ComponentCard.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/ComponentCategory.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/ComponentPicker.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/DynamicComponent.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/DynamicZoneLabel.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/fixtures.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/utils/connect.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/utils/select.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/reducer.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/index.js
Labels: source: core:content-manager, pr: feature

#16800 [Webhooks] Refactor Edit view
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/EventInput/EventRow.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/EventInput/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/EventTable/EventTableCE.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/EventTable/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/Events/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/Events/tests/formatValue.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/HeadersInput/Combobox.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/HeadersInput/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/HeadersInput/keys.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/utils/makeWebhookValidationSchema.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/utils/fieldsRegex.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/utils/schema.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/reducer.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/utils/formatData.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Webhooks/EditView/components/EventTable/EventTableEE.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Webhooks/EditView/components/EventTable/index.js
  packages/core/content-type-builder/admin/src/components/FormModal/forms/index.js
  packages/core/utils/lib/content-types.js
Labels: source: core:admin, pr: enhancement

#16937 chore: fix tests
  packages/core/admin/admin/src/content-manager/components/DynamicTable/BulkActionsBar/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/ProfilePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/tests/__snapshots__/index.test.js.snap
  packages/core/content-manager/server/services/entity-manager.js
  packages/core/content-type-builder/admin/src/pages/ListView/tests/__snapshots__/index.test.js.snap
  packages/core/email/admin/src/pages/Settings/tests/index.test.js
  packages/core/helper-plugin/src/components/DateTimePicker/tests/__snapshots__/index.test.js.snap
  packages/core/helper-plugin/src/components/PageSizeURLQuery/tests/index.test.js
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/tests/__snapshots__/Settings.test.js.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.js.snap
  packages/plugins/i18n/admin/src/components/LocaleSelect/tests/__snapshots__/LocaleSelect.test.js.snap
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
Labels: source: tooling, pr: chore

#16942 fix: dtp value should not pass empty string
  packages/core/helper-plugin/src/components/FilterPopoverURLQuery/Inputs.js
  packages/core/helper-plugin/src/components/GenericInput/index.js
  packages/core/upload/admin/src/components/FilterPopover/FilterValueInput.js
Labels: source: core:helper-plugin, pr: fix

#16949 fix: error message improvements
  packages/core/admin/admin/src/content-manager/pages/EditView/index.js
  packages/core/content-manager/server/controllers/collection-types.js
Labels: source: core:content-manager, pr: fix

#16837 Improve Controllers with the new type system
  packages/core/strapi/lib/core-api/controller/index.d.ts
  packages/core/strapi/lib/core-api/service/index.d.ts
  packages/core/strapi/lib/core/registries/services.d.ts
  packages/core/strapi/lib/factories.d.ts
  packages/core/strapi/lib/index.d.ts
  packages/core/strapi/lib/types/core-api/controller.d.ts
  packages/core/strapi/lib/types/core-api/index.d.ts
  packages/core/strapi/lib/types/core-api/router.d.ts
  packages/core/strapi/lib/types/core-api/service.d.ts
  packages/core/strapi/lib/types/core/common/controller.d.ts
  packages/core/strapi/lib/types/core/common/service.d.ts
  packages/core/strapi/lib/types/core/common/uid.d.ts
  packages/core/strapi/lib/types/core/strapi/index.d.ts
  packages/core/strapi/lib/types/factories.d.ts
  packages/core/strapi/lib/types/index.d.ts
  packages/core/strapi/lib/types/utils/array.d.ts
  packages/core/strapi/lib/types/utils/expression.d.ts
  packages/core/strapi/lib/types/utils/index.d.ts
Labels: pr: enhancement, source: typescript

#16868 fix: Private s3 bucket with CDN & compatible S3 providers
  packages/providers/upload-aws-s3/src/__tests__/getBucketFromUrl.test.ts
  packages/providers/upload-aws-s3/src/__tests__/is-url-from-bucket.test.ts
  packages/providers/upload-aws-s3/src/__tests__/upload-aws-s3.test.ts
  packages/providers/upload-aws-s3/src/index.ts
  packages/providers/upload-aws-s3/src/utils.ts
Labels: source: core:upload, pr: fix

#16965 chore: fix code styling
  packages/core/admin/admin/src/hooks/useSettingsForm/index.js
  packages/core/admin/admin/src/hooks/useSettingsForm/tests/index.test.js
  packages/core/admin/admin/src/pages/ProfilePage/components/Preferences/index.js
  packages/core/admin/admin/src/pages/ProfilePage/components/UserInfo/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/utils/schema.js
  packages/core/admin/ee/server/validation/authentication.js
Labels: source: core:admin, pr: chore

#16958 Add review workflow webhook events in FE
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Webhooks/EditView/components/EventTable/EventTableEE.js
Labels: pr: feature, source: core:review-workflows

#16951 remove react-select from RW & ban with ESlint
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/Option.test.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/InformationBoxEE.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/tests/InformationBoxEE.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/Stage.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/components/OptionColor/OptionColor.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/components/OptionColor/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/components/SingleValueColor/SingleValueColor.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/components/SingleValueColor/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/components/Stages/Stage/tests/Stage.test.js
  packages/core/upload/admin/src/components/SelectTree/SelectTree.js
  packages/utils/eslint-config-custom/front.js
Labels: pr: chore, source: core:review-workflows

#16969 fix: dynamic zone component data
  packages/core/admin/admin/src/content-manager/components/DynamicZone/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/tests/index.test.js
Labels: source: core:content-manager, pr: fix

#16773 [DTS] Retry sending messages if no response was recieved
  packages/core/data-transfer/src/strapi/providers/remote-destination/__tests__/utils.test.ts
  packages/core/data-transfer/src/strapi/providers/remote-destination/index.ts
  packages/core/data-transfer/src/strapi/providers/remote-source/index.ts
  packages/core/data-transfer/src/strapi/providers/utils.ts
  packages/core/data-transfer/src/strapi/remote/handlers/abstract.ts
  packages/core/data-transfer/src/strapi/remote/handlers/pull.ts
  packages/core/data-transfer/src/strapi/remote/handlers/push.ts
  packages/core/data-transfer/src/strapi/remote/handlers/utils.ts
Labels: pr: fix, source: core:data-transfer

#16964 fix: Reintroduce webhook events utils
  packages/core/utils/lib/index.js
  packages/core/utils/lib/webhook.js
Labels: source: core:utils, pr: fix

#16940 docs: Fix default expire time of private assets
  packages/providers/upload-aws-s3/README.md
Labels: source: core:upload, pr: fix

#16919 fix(review-workflows): display review workflows informations in content-manager when needed
  api-tests/core/admin/ee/review-workflows-content-types.test.api.js
  examples/getstarted/src/api/address/content-types/address/schema.json
  examples/getstarted/src/api/category/content-types/category/schema.json
  packages/core/admin/admin/src/content-manager/utils/mergeMetasWithSchema.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/InformationBoxEE.js
  packages/core/admin/ee/admin/content-manager/pages/EditView/InformationBox/tests/InformationBoxEE.test.js
  packages/core/admin/ee/server/services/__tests__/workflows.test.js
  packages/core/admin/ee/server/services/review-workflows/workflows/__tests__/content-types.test.js
  packages/core/admin/ee/server/services/review-workflows/workflows/content-types.js
  packages/core/admin/ee/server/services/review-workflows/workflows/index.js
  packages/core/content-manager/server/controllers/validation/model-configuration.js
  packages/core/content-manager/server/services/__tests__/content-types.test.js
  packages/core/content-manager/server/services/configuration.js
Labels: pr: fix, source: core:review-workflows

#16552 fix: ignore non array values
  packages/core/admin/ee/server/utils/persisted-tables.js
  packages/core/database/lib/schema/diff.js
Labels: source: core:strapi, pr: fix

#16979 Fix lineHeight breaking card spacing
  packages/core/admin/admin/src/pages/MarketplacePage/components/NpmPackageCard/PackageStats.js
  packages/core/admin/admin/src/pages/MarketplacePage/tests/__snapshots__/index.test.js.snap
Labels: pr: fix, source: marketplace

#16981 refactor: use version 2 of breadcrumbs in anticipation of deprecation
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/ConditionsModal/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/AuditLogs/ListView/Modal/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/AuditLogs/ListView/tests/index.test.js
  packages/core/content-type-builder/admin/src/components/FormModalHeader/index.js
  packages/plugins/users-permissions/admin/src/components/FormModal/index.js
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/components/EmailForm.js
Labels: source: core:admin, pr: chore

#16984 Chore: Cleanup eslint/front configuration
  packages/utils/eslint-config-custom/front.js
Labels: source: tooling, pr: chore

#16870 Fix: Handle undefined routes in registerAPIRoutes forEach loop
  packages/core/strapi/lib/services/server/register-routes.js
Labels: source: core:strapi, pr: fix

#17020 [TS] Allow unsafe calls for abstract services
  packages/core/strapi/lib/types/core/common/service.d.ts
  packages/core/strapi/lib/types/core/strapi/index.d.ts
Labels: pr: fix, source: typescript

#17019 Chore: Bump nx from v15 to v16
  package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#16992 chore: remove history & clean up some U&P tests
  packages/plugins/users-permissions/admin/src/components/Permissions/PermissionRow/SubCategory.js
  packages/plugins/users-permissions/admin/src/hooks/index.js
  packages/plugins/users-permissions/admin/src/hooks/usePlugins.js
  packages/plugins/users-permissions/admin/src/hooks/usePlugins/index.js
  packages/plugins/users-permissions/admin/src/hooks/usePlugins/init.js
  packages/plugins/users-permissions/admin/src/hooks/usePlugins/reducer.js
  packages/plugins/users-permissions/admin/src/hooks/usePlugins/tests/init.test.js
  packages/plugins/users-permissions/admin/src/hooks/usePlugins/tests/reducer.test.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/utils/server.js
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/utils/server.js
  packages/plugins/users-permissions/admin/src/pages/Providers/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Providers/tests/server.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/CreatePage/tests/server.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/tests/server.js
  packages/plugins/users-permissions/admin/src/pages/Roles/EditPage/utils/schema.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/tests/server.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/utils/api.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ProtectedCreatePage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ProtectedEditPage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ProtectedListPage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/constants.js
  packages/plugins/users-permissions/admin/src/pages/Roles/tests/CreatePage.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/tests/EditPage.test.js
  packages/plugins/users-permissions/jest.config.front.js
  packages/plugins/users-permissions/package.json
  packages/plugins/users-permissions/tests/server.js
  packages/plugins/users-permissions/tests/setup.js
  yarn.lock
Labels: source: plugin:users-permissions, pr: chore

#17021 Remove didReceiveAPIRequest event
  packages/core/admin/server/strategies/api-token.js
  packages/plugins/users-permissions/server/strategies/users-permissions.js
Labels: source: core:strapi, pr: fix

#17025 FIX - Detect is webhook form is dirty
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/tests/index.test.js
Labels: source: core:admin, pr: fix

#16814 fix: RBAC conditions with relations
  api-tests/core/admin/admin-permissions-custom-conditions.test.api.js
  packages/core/content-manager/server/controllers/__tests__/single-types.test.js
  packages/core/content-manager/server/controllers/collection-types.js
  packages/core/content-manager/server/controllers/relations.js
  packages/core/content-manager/server/controllers/single-types.js
  packages/core/content-manager/server/services/__tests__/entity-manager.test.js
  packages/core/content-manager/server/services/entity-manager.d.ts
  packages/core/content-manager/server/services/entity-manager.js
  packages/core/content-manager/server/services/index.js
  packages/core/content-manager/server/services/permission-checker.js
  packages/core/content-manager/server/services/populate-builder.js
  packages/core/content-manager/server/services/utils/__tests__/query-populate.test.js
  packages/core/content-manager/server/services/utils/populate.js
  packages/utils/api-tests/strapi.js
Labels: source: core:content-manager, pr: fix

#16956 Emit workflow stage change webhook event
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Webhooks/EditView/components/EventTable/EventTableEE.js
  packages/core/admin/ee/server/constants/webhookEvents.js
  packages/core/admin/ee/server/services/review-workflows/__tests__/entity-service-decorator.test.js
  packages/core/admin/ee/server/services/review-workflows/entity-service-decorator.js
  packages/core/admin/ee/server/services/review-workflows/review-workflows.js
Labels: pr: feature, source: core:review-workflows

#17026 Maintain consistent backend validation for publish and bulk publish
  packages/core/content-manager/server/services/entity-manager.js
Labels: source: core:content-manager, pr: fix

#17034 Chore: Move plugin permissions into constants
  packages/core/content-type-builder/admin/src/constants.js
  packages/core/content-type-builder/admin/src/index.js
  packages/core/content-type-builder/admin/src/pages/App/index.js
  packages/core/email/admin/src/constants.js
  packages/core/email/admin/src/index.js
  packages/core/email/admin/src/pages/Settings/index.js
  packages/core/upload/admin/src/constants.js
  packages/core/upload/admin/src/hooks/useMediaLibraryPermissions.js
  packages/core/upload/admin/src/index.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/index.js
  packages/core/upload/admin/src/pages/SettingsPage/index.js
  packages/core/upload/admin/src/permissions.js
  packages/plugins/documentation/admin/src/constants.js
  packages/plugins/documentation/admin/src/index.js
  packages/plugins/documentation/admin/src/pages/PluginPage/index.js
  packages/plugins/documentation/admin/src/pages/SettingsPage/index.js
  packages/plugins/i18n/admin/src/constants.js
  packages/plugins/i18n/admin/src/index.js
  packages/plugins/i18n/admin/src/pages/SettingsPage/index.js
  packages/plugins/users-permissions/admin/src/constants.js
  packages/plugins/users-permissions/admin/src/index.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/index.js
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/index.js
  packages/plugins/users-permissions/admin/src/pages/Providers/index.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ListPage/index.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ProtectedCreatePage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ProtectedEditPage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/ProtectedListPage.js
  packages/plugins/users-permissions/admin/src/pages/Roles/index.js
Labels: source: core:admin, pr: chore

#16996 Enhancement: Replace ee_else_ce imports with useEnterprise in auth
  packages/core/admin/admin/src/pages/AuthPage/constants.js
  packages/core/admin/admin/src/pages/AuthPage/index.js
  packages/core/admin/admin/src/pages/AuthPage/utils/index.js
  packages/core/admin/ee/admin/pages/AuthPage/constants.js
  packages/core/admin/ee/admin/pages/AuthPage/utils/forms.js
Labels: source: core:admin, pr: enhancement

#16995 Enhancement: Replace ee_else_ce imports with useEnterprise in settings - users
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/constants.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/index.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/utils/formDataModel.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/utils/roleSettingsForm.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/utils/schema.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/utils/stepper.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/ListPage/ModalForm/constants.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/Users/ListPage/ModalForm/utils/formDataModel.js
Labels: source: core:admin, pr: enhancement

#17030 Fix/overlapping date type
  packages/core/strapi/lib/types/core/attributes/date.d.ts
Labels: pr: fix, source: typescript

#17045 fix(review-workflow): the feature shouldn't be deactivated on content type creation
  api-tests/core/content-manager/search.test.api.js
  packages/core/admin/ee/server/utils/review-workflows.js
  packages/core/content-type-builder/admin/src/components/FormModal/index.js
Labels: pr: fix, source: core:review-workflows

#16192 [Enhancement]: Clone entity relations
  .github/actions/check-pr-status/dist/index.js
  api-tests/core/content-manager/api/basic-compo.test.api.js
  api-tests/core/content-manager/api/basic-dp-dz.test.api.js
  api-tests/core/content-manager/api/basic-dz.test.api.js
  api-tests/core/content-manager/api/basic.test.api.js
  api-tests/core/content-manager/api/relations.test.api.js
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper/index.js
  packages/core/admin/admin/src/content-manager/components/DynamicTable/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/index.js
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/reducer.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/RelationInputDataManager.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/utils/select.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/utils/tests/select.test.js
  packages/core/admin/admin/src/content-manager/pages/EditView/hooks/useOnce.js
  packages/core/admin/admin/src/content-manager/pages/EditView/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/FieldPicker/utils/getAllAllowedHeader.js
  packages/core/admin/admin/src/content-manager/pages/ListView/FieldPicker/utils/tests/getAllAllowedHeaders.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/PaginationFooter/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/CellValue.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/Media/FileWrapper.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/Media/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/MultipleMedias.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RelationMultiple/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RelationMultiple/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RelationMultiple/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RelationSingle/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RelationSingle/tests/__snapshots__/index.test.js.snap
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RelationSingle/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/RepeatableComponent/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/SingleComponent/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/tests/CellValue.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/utils/hasContent.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/utils/isSingleRelation.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/utils/tests/hasContent.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/CellContent/utils/tests/isSingleRelation.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/ConfirmDialogDelete/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/ConfirmDialogDeleteAll/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/FieldPicker/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/TableRows/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/utils/index.js
  packages/core/admin/admin/src/content-manager/pages/ListViewLayoutManager/Permissions.js
  packages/core/content-manager/server/controllers/collection-types.js
  packages/core/content-manager/server/controllers/utils/__tests__/clone.test.js
  packages/core/content-manager/server/controllers/utils/clone.js
  packages/core/content-manager/server/routes/admin.js
  packages/core/content-manager/server/services/entity-manager.js
  packages/core/database/lib/entity-manager/entity-repository.js
  packages/core/database/lib/entity-manager/index.js
  packages/core/database/lib/entity-manager/regular-relations.js
  packages/core/database/lib/entity-manager/relations/cloning/regular-relations.js
  packages/core/database/lib/metadata/relations.js
  packages/core/helper-plugin/src/hooks/useAPIErrorHandler/useAPIErrorHandler.js
  packages/core/strapi/lib/services/entity-service/components.js
  packages/core/strapi/lib/services/entity-service/index.d.ts
  packages/core/strapi/lib/services/entity-service/index.js
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/UploadAssetDialog.test.js
Labels: source: core:content-manager, pr: enhancement

#17076 Fix bulk publish padding
  packages/core/helper-plugin/src/components/DynamicTable/index.js
Labels: source: core:content-manager, pr: fix

#17078 Fix: Fix infinite rendering loop of role edit page
  packages/core/admin/admin/src/pages/SettingsPage/pages/Roles/ProtectedEditPage/index.js
Labels: source: core:admin, pr: fix

#17079 Fix: Rendering loops for audit-logs and SSO settings pages
  packages/core/admin/ee/admin/pages/SettingsPage/pages/AuditLogs/ListView/index.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/SingleSignOn/index.js
Labels: source: core:admin, pr: fix

#17053 feat(review-workflows): remove deleted content-types in assigned workflows
  packages/core/admin/ee/server/migrations/review-workflows-deleted-ct-in-workflows.js
  packages/core/admin/ee/server/register.js
  packages/core/admin/ee/server/services/review-workflows/workflows/index.js
  packages/core/admin/ee/server/utils/review-workflows.js
  packages/core/utils/lib/operators.js
Labels: pr: enhancement, source: core:review-workflows

#17098 Fix unwanted imports
  packages/core/admin/ee/server/controllers/workflows/stages/index.js
  packages/core/admin/ee/server/services/passport.js
  packages/core/admin/server/services/permission/permissions-manager/sanitize.js
Labels: source: core:utils, pr: chore

#16802 fix: media library multiple selection
  packages/core/helper-plugin/src/hooks/useSelectionState/index.js
  packages/core/helper-plugin/src/hooks/useSelectionState/tests/useSelectionState.test.js
  packages/core/helper-plugin/src/hooks/useSelectionState/useSelectionState.stories.mdx
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/index.js
  packages/core/upload/admin/src/components/AssetDialog/index.js
Labels: source: core:upload, pr: fix

#17100 Fix linting error in CSS
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/Events/index.js
Labels: source: core:admin, pr: fix

#17102 [ADMIN] Prevent unnecessary api calls on profile save
  packages/core/admin/admin/src/pages/ProfilePage/index.js
Labels: source: core:admin, pr: fix

#17110 fix bug on Settings > Documentation & Advanced setting tab while saving
  packages/plugins/documentation/admin/src/pages/SettingsPage/index.js
  packages/plugins/documentation/admin/src/pages/SettingsPage/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/index.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
Labels: source: core:admin, pr: fix

#17103 fix(Settings/Webhooks): correctly display webhook name error
  packages/core/admin/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/utils/makeWebhookValidationSchema.js
  packages/core/admin/admin/src/translations/en.json
Labels: pr: fix

#16702 Bump jest versions to 29.5 and ts-jest to 29.1
  .github/actions/check-pr-status/dist/index.js
  package.json
  packages/core/admin/admin/src/components/AuthenticatedApp/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/components/tests/DynamicComponent.test.js
  packages/core/admin/admin/src/content-manager/components/DynamicZone/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/InputUID/tests/index.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/tests/RelationInputDataManger.test.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/components/tests/Component.test.js
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/App/utils/tests/getContentTypeLinks.test.js
  packages/core/admin/admin/src/core/utils/tests/createHook.test.js
  packages/core/admin/admin/src/hooks/useMenu/utils/tests/getPluginSectionLinks.test.js
  packages/core/admin/admin/src/pages/AuthPage/components/Register/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/EditView/tests/index.test.js
  packages/core/admin/admin/src/pages/SettingsPage/pages/TransferTokens/ListView/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/AuditLogs/ListView/tests/index.test.js
  packages/core/admin/ee/admin/pages/SettingsPage/pages/ReviewWorkflows/tests/ReviewWorkflows.test.js
  packages/core/admin/ee/server/services/__tests__/audit-logs.test.js
  packages/core/admin/ee/server/services/__tests__/passport.test.js
  packages/core/admin/ee/server/services/__tests__/workflows.test.js
  packages/core/admin/server/services/__tests__/project-settings.test.js
  packages/core/email/admin/src/pages/Settings/tests/index.test.js
  packages/core/helper-plugin/src/components/RelativeTime/tests/index.test.js
  packages/core/helper-plugin/src/utils/fetchClient/tests/fetchClient.test.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/tests/Settings.test.js
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/ConfigureTheView.test.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/tests/MediaLibrary.test.js
  packages/core/upload/admin/src/pages/App/tests/Upload.test.js
  packages/core/utils/lib/__tests__/content-types.test.js
  packages/plugins/i18n/admin/src/pages/SettingsPage/tests/SettingsPage.test.js
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.js
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/index.test.js
  packages/utils/typescript/lib/__tests__/generators/schemas/attributes.test.js
  yarn.lock
Labels: source: tooling, pr: chore

#17112 fix: Cannot save "required" dynamic-zone or component
  api-tests/core/content-manager/api/basic-dp-compo.test.api.js
  packages/core/content-manager/server/controllers/collection-types.js
Labels: source: core:content-manager, pr: fix

#17113 fix: Clone entities Not Found Error
  packages/core/content-manager/server/controllers/collection-types.js
Labels: severity: high, source: core:content-manager, pr: fix

#17114 Fix broken links in contributor docs
  docs/docs/docs/01-core/admin/01-ee/01-review-workflows.md
  docs/docs/docs/01-core/admin/02-permissions/02-frontend/fetching-permissions.mdx
  docs/docs/docs/01-core/admin/02-permissions/02-frontend/using-permissions.mdx
  docs/docs/docs/01-core/admin/03-settings/01-review-workflows.mdx
  docs/docs/docs/01-core/content-manager/02-review-workflows.mdx
  docs/docs/docs/01-core/content-manager/hooks/use-drag-and-drop.mdx
  docs/docs/docs/01-core/utils/async.md
Labels: source: docs, pr: chore

#17108 Remove unnecessary code replaced by sanitize
  packages/core/content-manager/server/controllers/collection-types.js
  packages/core/content-manager/server/controllers/single-types.js
  packages/core/content-manager/server/utils/index.js
  packages/core/content-manager/server/utils/pick-writable-attributes.js
Labels: source: core:content-manager, pr: chore

#17095 fix: Preview issue after image replacement
  packages/core/upload/admin/src/components/AssetCard/ImageAssetCard.js
Labels: source: core:upload, pr: fix

#17060 fix(review-workflow): sanitize admin api requests
  packages/core/admin/ee/server/controllers/workflows/index.js
  packages/core/admin/ee/server/controllers/workflows/stages/index.js
Labels: pr: fix, source: core:review-workflows

#17106 Correct payload structure for review workflows stage change webhook
  packages/core/admin/ee/server/services/review-workflows/__tests__/entity-service-decorator.test.js
  packages/core/admin/ee/server/services/review-workflows/entity-service-decorator.js
Labels: pr: fix, flag: documentation

#16671 chore: remove react-select usage from RelationInput
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/Option.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/Relation.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/RelationList.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/Option.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/components/tests/__snapshots__/RelationList.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/RelationInput.test.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/admin/admin/src/content-manager/components/RelationInputDataManager/tests/RelationInputDataManger.test.js
Labels: source: core:helper-plugin, pr: chore

#17117 fix: remove parseISO and just use native Date instead
  packages/core/helper-plugin/src/components/FilterPopoverURLQuery/Inputs.js
  packages/core/helper-plugin/src/components/GenericInput/index.js
Labels: source: core:helper-plugin, pr: fix

#17099 fix: Update lastUsedAt once an hour
  packages/core/admin/admin/src/pages/SettingsPage/components/Tokens/Table/index.js
  packages/core/admin/admin/src/translations/ca.json
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/es.json
  packages/core/admin/admin/src/translations/fr.json
  packages/core/admin/server/strategies/__tests__/api-token.test.js
  packages/core/admin/server/strategies/api-token.js
  packages/core/admin/server/strategies/data-transfer.js
  packages/core/helper-plugin/src/components/RelativeTime/RelativeTime.stories.mdx
  packages/core/helper-plugin/src/components/RelativeTime/index.js
Labels: source: core:admin, pr: fix

#17130 Release 4.11.3
  .github/actions/check-pr-status/package.json
  api-tests/core/content-manager/api/basic-dp-compo.test.api.js
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/admin/src/pages/SettingsPage/pages/Users/ProtectedEditPage/index.js
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-manager/server/controllers/collection-types.js
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/helper-plugin/src/components/RelativeTime/index.js
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/core/utils/src/convert-query-params.ts
  packages/core/utils/src/object-formatting.ts
  packages/core/utils/src/string-formatting.ts
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/admin/src/pages/SettingsPage/index.js
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/babel-plugin-switch-ee-ce/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#16825 fix: Content-Type-Builder removes hidden fields on save
  packages/core/content-type-builder/server/services/content-types.js
Labels: source: core:content-type-builder, pr: fix

#17131 Fix missing review workflows column
  packages/core/admin/admin/src/content-manager/pages/ListView/index.js
Labels: source: core:content-manager, pr: fix, flag: EE

#17059 Initialize bulk publish v2 modal
  packages/core/admin/admin/src/content-manager/pages/ListView/components/Body/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/SelectedEntriesModal/tests/index.test.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/index.js
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActionButtons/tests/index.test.js
  packages/core/admin/admin/src/translations/en.json
  packages/core/helper-plugin/src/components/Table/index.js
Labels: source: core:content-manager, pr: enhancement

#17145 fix[S3-Provider]: Do not sign files if using baseURL
  packages/providers/upload-aws-s3/README.md
  packages/providers/upload-aws-s3/src/__tests__/is-url-from-bucket.test.ts
  packages/providers/upload-aws-s3/src/__tests__/upload-aws-s3.test.ts
  packages/providers/upload-aws-s3/src/index.ts
  packages/providers/upload-aws-s3/src/utils.ts
Labels: severity: medium, pr: fix, source: providers

#17137 doc: examples of async utils
  docs/docs/docs/01-core/utils/async.md
Labels: source: docs, pr: doc

#17154 refactor: useAsset query to use folderPath
  packages/core/upload/admin/src/components/Breadcrumbs/CrumbSimpleMenuAsync.js
  packages/core/upload/admin/src/hooks/tests/useAssets.test.js
  packages/core/upload/admin/src/hooks/useAssets.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/Header.js
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/Header.test.js.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/index.js
  packages/core/upload/admin/src/utils/getBreadcrumbDataML.js
  packages/core/upload/admin/src/utils/getFolderURL.js
  packages/core/upload/admin/src/utils/tests/getFolderURL.test.js
Labels: source: core:upload, pr: fix

#17121 Fix : Content manager shows 403 (permissions error) on page reload
  packages/core/admin/admin/src/components/AuthenticatedApp/index.js
Labels: source: core:admin, pr: fix

#17127 add transformParamsToQuery back to fix error
  packages/plugins/i18n/server/services/__tests__/entity-service-decorator.test.js
  packages/plugins/i18n/server/services/entity-service-decorator.js
Labels: severity: high, source: plugin:i18n, pr: fix
