Repository strapi/strapi, pull requests merged in 2023-12, with the labels that each got.

#18905 feat(content-releases): add create release action to cm edit view
  packages/core/content-releases/admin/src/components/AddReleaseDialog.tsx
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/components/ReleaseActionOptions.tsx
  packages/core/content-releases/admin/src/components/tests/CMReleasesContainer.test.tsx
  packages/core/content-releases/admin/src/components/tests/ReleasActionOptions.test.tsx
  packages/core/content-releases/admin/src/constants.ts
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/server/src/controllers/__tests__/release.test.ts
  packages/core/content-releases/server/src/controllers/release-action.ts
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/server/src/controllers/validation/release-action.ts
  packages/core/content-releases/server/src/controllers/validation/release.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/server/src/services/validation.ts
  packages/core/content-releases/shared/contracts/releases.ts
  packages/core/content-releases/shared/validation-schemas.ts
  packages/core/helper-plugin/src/components/CheckPermissions.tsx
Labels: pr: feature, source: core:content-releases

#18962 chore(workflows): update unit_front to use node 20
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#18956 feat(content-releases): Edit Release
  packages/core/content-releases/admin/src/components/ReleaseModal.tsx
  packages/core/content-releases/admin/src/components/tests/AddReleaseDialog.test.tsx
  packages/core/content-releases/admin/src/components/tests/ReleaseModal.test.tsx
  packages/core/content-releases/admin/src/constants.ts
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/translations/en.json
Labels: pr: feature, source: core:content-releases

#16921 Register logger middleware before errors middleware
  examples/getstarted/config/middlewares.js
  examples/kitchensink-ts/config/middlewares.ts
  packages/core/strapi/src/services/server/register-middlewares.ts
  packages/generators/app/src/resources/files/js/config/middlewares.js
  packages/generators/app/src/resources/files/ts/config/middlewares.ts
Labels: source: core:strapi, pr: fix

#18943 feat(content-releases): add endpoint to remove release action from release
  docs/docs/docs/01-core/content-releases/01-backend.md
  packages/core/content-releases/server/src/constants.ts
  packages/core/content-releases/server/src/controllers/release-action.ts
  packages/core/content-releases/server/src/routes/release-action.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/shared/contracts/release-actions.ts
Labels: pr: feature, source: core:content-releases

#18983 chore(cm): convert recursive layouts to TS
  packages/core/admin/admin/src/content-manager/contexts/ContentTypeLayout.jsx
  packages/core/admin/admin/src/content-manager/contexts/Wysiwyg.jsx
  packages/core/admin/admin/src/content-manager/contexts/index.jsx
  packages/core/admin/admin/src/content-manager/hooks/index.js
  packages/core/admin/admin/src/content-manager/hooks/useWysiwyg.js
  packages/core/admin/admin/src/content-manager/pages/App/index.jsx
  packages/core/admin/admin/src/content-manager/pages/CollectionTypeRecursivePath.tsx
  packages/core/admin/admin/src/content-manager/pages/CollectionTypeRecursivePath/components/ErrorFallback.jsx
  packages/core/admin/admin/src/content-manager/pages/CollectionTypeRecursivePath/index.jsx
  packages/core/admin/admin/src/content-manager/pages/EditView/EditViewPage.tsx
  packages/core/admin/admin/src/content-manager/pages/SingleTypeRecursivePath.tsx
  packages/core/admin/admin/src/content-manager/pages/SingleTypeRecursivePath/index.jsx
  packages/core/admin/admin/src/content-manager/utils/formatLayoutToApi.js
  packages/core/admin/admin/src/content-manager/utils/index.js
  packages/core/admin/admin/src/content-manager/utils/layouts.ts
  packages/core/admin/admin/src/content-manager/utils/tests/formatLayoutToApi.test.js
  packages/core/admin/admin/src/content-manager/utils/tests/layouts.test.ts
  packages/core/admin/admin/src/selectors.ts
Labels: source: core:content-manager, pr: chore

#18966 fix deep query populate issue on dynamic zone
  packages/core/utils/package.json
  packages/core/utils/src/__tests__/query-populate.test.ts
  packages/core/utils/src/__tests__/test-utils.ts
  packages/core/utils/src/traverse/query-populate.ts
  yarn.lock
Labels: source: core:utils, pr: fix

#18986 fix(permissions): circular dependency
  packages/core/permissions/src/engine/abilities/casl-ability.ts
  packages/core/permissions/src/engine/hooks.ts
  packages/core/permissions/src/engine/index.ts
  packages/core/permissions/src/types.ts
  packages/core/types/src/index.ts
  packages/core/types/src/types/core/permissions/index.ts
Labels: pr: fix, source: core:permissions

#18994 chore: refactor dnd hook to use generics
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksContent.tsx
  packages/core/admin/admin/src/content-manager/components/DynamicZone/DynamicComponent.tsx
  packages/core/admin/admin/src/content-manager/components/Relations/RelationInput.tsx
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent.tsx
  packages/core/admin/admin/src/content-manager/hooks/useDragAndDrop.ts
  packages/core/admin/admin/src/content-manager/hooks/useKeyboardDragAndDrop.ts
Labels: source: core:content-manager, pr: chore

#18869 (content-manager): types for component service
  packages/core/content-manager/server/src/services/__tests__/components.test.ts
  packages/core/content-manager/server/src/services/__tests__/content-types.test.ts
  packages/core/content-manager/server/src/services/components.ts
  packages/core/content-manager/server/src/services/configuration.ts
  packages/core/content-manager/server/src/services/content-types.ts
  packages/core/content-manager/server/src/services/utils/store.ts
  packages/core/content-manager/shared/contracts/content-types.ts
Labels: source: core:content-manager, pr: enhancement

#18871 [feat]: feature flags
  docs/docs/docs/06-future-flags.md
  examples/getstarted/config/features.js
  packages/core/admin/_internal/node/createBuildContext.ts
  packages/core/admin/_internal/node/staticFiles.ts
  packages/core/admin/admin/custom.d.ts
  packages/core/admin/admin/src/render.ts
  packages/core/admin/ee/admin/custom.d.ts
  packages/core/content-releases/admin/custom.d.ts
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/server/custom.d.ts
  packages/core/content-releases/server/src/__tests__/index.test.ts
  packages/core/content-releases/server/src/index.ts
  packages/core/content-releases/server/src/register.ts
  packages/core/content-releases/server/tsconfig.build.json
  packages/core/content-releases/server/tsconfig.eslint.json
  packages/core/content-releases/server/tsconfig.json
  packages/core/strapi/src/Strapi.ts
  packages/core/strapi/src/admin.ts
  packages/core/strapi/src/core/loaders/plugins/get-enabled-plugins.ts
  packages/core/strapi/src/services/features.ts
  packages/core/types/src/index.ts
  packages/core/types/src/modules/features.ts
Labels: source: core:admin, pr: enhancement

#18999 feat(content-releases): list releases containing content type entry
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/components/ReleaseActionOptions.tsx
  packages/core/content-releases/admin/src/components/tests/CMReleasesContainer.test.tsx
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/server/src/services/release.ts
Labels: pr: feature, source: core:content-releases

#19015 [content-manager] types for permissions service
  packages/core/content-manager/server/src/services/permission.ts
Labels: source: core:content-manager, pr: enhancement

#18910 [content-manager] types for uid service
  packages/core/content-manager/server/src/services/__tests__/uid.test.ts
  packages/core/content-manager/server/src/services/uid.ts
Labels: source: core:content-manager, pr: enhancement

#19014 [content-manager] types for metrics service
  packages/core/content-manager/server/src/services/__tests__/metrics.test.ts
  packages/core/content-manager/server/src/services/metrics.ts
Labels: source: core:content-manager, pr: enhancement

#18382 fix: wrapAxiosInstance.test
  packages/core/helper-plugin/src/utils/tests/wrapAxiosInstance.test.ts
Labels: source: core:helper-plugin, pr: fix

#19000 feat(content-releases): Delete a Release
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/server/src/routes/release.ts
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/shared/contracts/releases.ts
Labels: pr: feature, source: core:content-releases

#19037 doc(pack-up): fix config file name in readme
  packages/utils/pack-up/README.md
Labels: pr: doc, source: utils:pack-up

#18978 chore(generator): add runtime dir to gitignore
  packages/generators/app/src/resources/dot-files/common/gitignore
Labels: pr: chore, source: generators:app

#19036 refactor(cm): remove collection-type form wrappers
  e2e/tests/content-manager/editview.spec.js
  packages/core/admin/admin/src/content-manager/components/CollectionTypeFormWrapper.tsx
  packages/core/admin/admin/src/content-manager/components/ContentTypeFormWrapper.tsx
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/Provider.tsx
  packages/core/admin/admin/src/content-manager/components/Relations/RelationInputDataManager.tsx
  packages/core/admin/admin/src/content-manager/components/Relations/utils/getRelationLink.ts
  packages/core/admin/admin/src/content-manager/components/Relations/utils/tests/getRelationLink.test.ts
  packages/core/admin/admin/src/content-manager/components/Relations/utils/tests/normalizeRelations.test.ts
  packages/core/admin/admin/src/content-manager/hooks/useContentManagerInitData.ts
  packages/core/admin/admin/src/content-manager/pages/App.tsx
  packages/core/admin/admin/src/content-manager/pages/CollectionTypePages.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/EditViewPage.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/DeleteLink.tsx
  packages/core/admin/admin/src/content-manager/pages/EditViewLayoutManager.tsx
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/index.test.jsx
  packages/core/content-type-builder/admin/src/pages/ListView/LinkToCMSettingsView.tsx
  packages/plugins/i18n/admin/src/components/CMEditViewLocalePicker.tsx
  packages/plugins/i18n/admin/src/components/LocalePicker.tsx
  packages/plugins/i18n/admin/src/contentManagerHooks/app.ts
  packages/plugins/i18n/admin/src/contentManagerHooks/tests/app.test.ts
  packages/plugins/i18n/admin/src/index.ts
Labels: source: core:content-manager, pr: chore

#18852 Feat(blocks): move blocks
  docs/docs/docs/01-core/content-manager/hooks/use-drag-and-drop.mdx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Code.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Heading.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Link.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/List.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Paragraph.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Quote.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/tests/Wrapper.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksContent.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksEditor.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/tests/BlocksInput.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/tests/BlocksToolbar.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/utils/types.ts
  packages/core/admin/admin/src/content-manager/components/DynamicZone/DynamicComponent.tsx
  packages/core/admin/admin/src/content-manager/components/Relations/RelationInput.tsx
  packages/core/admin/admin/src/content-manager/components/RepeatableComponent.tsx
  packages/core/admin/admin/src/content-manager/hooks/useDragAndDrop.ts
  packages/core/admin/admin/src/content-manager/hooks/useKeyboardDragAndDrop.ts
  packages/core/admin/admin/src/content-manager/utils/dragAndDrop.ts
  packages/core/admin/admin/src/translations/en.json
  packages/core/types/src/types/core/attributes/blocks.ts
Labels: source: core:content-manager, pr: feature

#18887 (content-manager): types for data mapper service
  packages/core/content-manager/server/src/services/data-mapper.ts
Labels: source: core:content-manager, pr: enhancement

#19026 feat(content-releases): Release Details page
  packages/core/admin/admin/src/index.ts
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
  packages/core/content-releases/admin/src/pages/tests/mockReleaseDetailsPageData.ts
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/admin/tests/utils.tsx
  packages/core/content-releases/shared/contracts/release-actions.ts
  packages/core/content-releases/shared/contracts/releases.ts
Labels: pr: feature, source: core:content-releases

#19020 chore(admin): convert auditLogs page to TS
  packages/core/admin/ee/admin/src/pages/SettingsPage/constants.ts
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/ListPage.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/ListView/ComboboxFilter/index.js
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/ListView/Modal/ActionBody.js
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/ListView/Modal/ActionItem.js
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/ListView/Modal/index.js
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/ListView/PaginationFooter/index.js
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/ListView/index.js
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/ProtectedListPage/index.js
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/components/ComboboxFilter.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/components/Modal.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/components/PaginationFooter.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/components/TableRows.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/components/tests/TableRows.test.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/hooks/useAuditLogsData.ts
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/hooks/useFormatTimeStamp.ts
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/tests/ListPage.test.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/tests/utils/data.ts
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/utils/getActionTypesDefaultMessages.ts
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/utils/getDisplayedFilters.ts
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/utils/tableHeaders.ts
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/utils/tests/getDisplayedFilters.test.ts
  packages/core/admin/shared/contracts/audit-logs.ts
Labels: source: core:admin, pr: chore

#19046 feat(content-releases): Add action column to details view
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/components/ReleaseActionOptions.tsx
  packages/core/content-releases/admin/src/components/tests/ReleasActionOptions.test.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/translations/en.json
Labels: pr: feature, source: core:content-releases

#19047 feat(content-releases): add delete release action button
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/components/ReleaseActionMenu.tsx
  packages/core/content-releases/admin/src/components/tests/CMReleasesContainer.test.tsx
  packages/core/content-releases/admin/src/components/tests/ReleaseActionMenu.test.tsx
  packages/core/content-releases/admin/src/constants.ts
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/shared/contracts/releases.ts
Labels: pr: feature, source: core:content-releases

#19055 feat(content-releases): add functionality to publish release button
  packages/core/content-releases/admin/src/constants.ts
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
  packages/core/content-releases/admin/src/pages/tests/mockReleaseDetailsPageData.ts
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/translations/en.json
Labels: pr: feature, source: core:content-releases

#19049 feat(content-releases): Release delete action
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/translations/en.json
Labels: pr: feature, source: core:content-releases

#19057 chore: lint test scripts
  test/.eslintrc
  test/scripts/run-e2e-tests.js
Labels: source: tooling, pr: chore, v5

#19059 chore(content-releases): update permissions wording
  packages/core/content-releases/server/src/constants.ts
Labels: pr: chore, source: core:content-releases

#18811 chore(deps): bump graphql-upload to 15.0.2
  packages/plugins/graphql/package.json
  packages/plugins/graphql/server/src/bootstrap.ts
  packages/plugins/graphql/server/src/services/internals/scalars/index.ts
  yarn.lock
Labels: source: plugin:graphql, pr: chore

#19043 fix(content-manager): search relations with contains not startsWith
  packages/core/admin/admin/src/content-manager/components/Relations/RelationInput.tsx
  packages/core/admin/admin/src/content-manager/components/Relations/tests/__snapshots__/RelationInput.test.tsx.snap
  packages/core/admin/admin/src/content-manager/components/Relations/tests/useRelation.test.tsx
  packages/core/admin/admin/src/content-manager/components/Relations/useRelation.ts
Labels: source: core:admin, pr: fix

#19070 chore: backport relations search fix
  packages/core/admin/admin/src/content-manager/components/RelationInput/RelationInput.js
  packages/core/admin/admin/src/content-manager/components/RelationInput/tests/__snapshots__/RelationInput.test.js.snap
  packages/core/admin/admin/src/content-manager/hooks/useRelation/tests/useRelation.test.js
  packages/core/admin/admin/src/content-manager/hooks/useRelation/useRelation.js
Labels: source: core:content-manager, pr: fix

#19041 feat(strapi): add experimental plugin:verify command
  docs/docs/docs/01-core/strapi/commands/plugin/04-check.md
  packages/core/strapi/src/commands/actions/plugin/init/action.ts
  packages/core/strapi/src/commands/actions/plugin/verify/action.ts
  packages/core/strapi/src/commands/actions/plugin/verify/command.ts
  packages/core/strapi/src/commands/index.ts
Labels: source: core:strapi, pr: enhancement

#18883 Fix issues with case sensitive email addresses sent by some SSO providers
  packages/core/admin/server/services/__tests__/user.test.js
  packages/core/admin/server/services/user.js
Labels: source: core:admin, pr: fix

#19042 [Content manager] Refactor useContentManagerInitData to remove ModelsContext
  packages/core/admin/admin/src/content-manager/contexts/models.ts
  packages/core/admin/admin/src/content-manager/hooks/useContentManagerInitData.ts
  packages/core/admin/admin/src/content-manager/pages/App.tsx
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/index.jsx
  packages/core/admin/admin/src/tests/StrapiApp.test.tsx
  packages/core/admin/admin/tests/utils.tsx
Labels: flag: 💥 Breaking change

#19084 fix(tooling): use nx to build & clean
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/logger/package.json
  packages/utils/pack-up/package.json
  scripts/pre-publish.sh
  scripts/publish.sh
Labels: source: tooling, pr: fix

#19081 [Telemetry] Custom Controllers Count
  packages/core/strapi/src/Strapi.ts
  packages/core/strapi/src/factories.ts
Labels: source: core:strapi, pr: enhancement

#19100 chore: release 4.16.0
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/pack-up/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: pr: chore, source: core:core

#19105 v4.16.2
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/pack-up/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#19093 [Types] Fix entity-service's parameters inference for generic mapped types with deep literal intersections
  packages/core/types/src/modules/entity-service/params/attributes/index.ts
  packages/core/types/src/modules/entity-service/params/filters/index.ts
  packages/core/types/src/modules/entity-service/params/sort.ts
  packages/core/types/src/types/utils/array.ts
  packages/core/utils/package.json
Labels: pr: fix, source: typescript

#19066 fix(content-releases): fix padding bottom duplicated in the Heading of the Details page
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
Labels: pr: fix, source: core:content-releases

#19067 fix(content-releases): remove Refresh button from the details page
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
Labels: pr: fix, source: core:content-releases

#19090 fix(content-releases): add a bottom border below tabs
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
Labels: pr: fix, source: core:content-releases

#19096 fix(content-releases): CM add Release add content when there are no releases
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/translations/en.json
Labels: pr: fix, source: core:content-releases

#19099 fix(content-releases):disable edit and delete buttons in the Details page when you don't have permissions
  packages/core/content-releases/admin/src/constants.ts
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
Labels: pr: fix, source: core:content-releases

#19095 fix(content-releases): empty Details page add a button to the CM
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/translations/en.json
Labels: pr: fix, source: core:content-releases

#19078 fix(content-releases): redirect to the list page when we have errors in the Details page
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
  packages/core/content-releases/admin/src/translations/en.json
Labels: pr: fix, source: core:content-releases

#19083 Select and run codemods only
  packages/utils/upgrade/src/cli/commands/codemods.ts
  packages/utils/upgrade/src/cli/index.ts
  packages/utils/upgrade/src/cli/types.ts
  packages/utils/upgrade/src/modules/codemod-runner/__tests__/codemod-runner.test.ts
  packages/utils/upgrade/src/modules/codemod-runner/codemod-runner.ts
  packages/utils/upgrade/src/modules/codemod-runner/index.ts
  packages/utils/upgrade/src/modules/codemod-runner/types.ts
  packages/utils/upgrade/src/modules/common/types.ts
  packages/utils/upgrade/src/modules/upgrader/types.ts
  packages/utils/upgrade/src/modules/upgrader/upgrader.ts
  packages/utils/upgrade/src/tasks/__tests__/codemods.test.ts
  packages/utils/upgrade/src/tasks/codemods/codemods.ts
  packages/utils/upgrade/src/tasks/codemods/index.ts
  packages/utils/upgrade/src/tasks/codemods/types.ts
  packages/utils/upgrade/src/tasks/index.ts
  packages/utils/upgrade/src/tasks/upgrade/types.ts
Labels: pr: feature

#19056 Add unit tests for upgrade tool
  packages/utils/upgrade/src/modules/codemod-repository/__tests__/repository.test.ts
  packages/utils/upgrade/src/modules/codemod/__tests__/codemod.test.ts
  packages/utils/upgrade/src/modules/logger/__tests__/logger.test.ts
  packages/utils/upgrade/src/modules/npm/__tests__/package.test.ts
  packages/utils/upgrade/src/modules/requirement/__tests__/requirement.test.ts
  packages/utils/upgrade/src/modules/version/__tests__/range.test.ts
  packages/utils/upgrade/src/modules/version/__tests__/semver.test.ts
Labels: pr: chore
