Repository strapi/strapi, pull requests merged in 2024-02, with the labels that each got.

#19382 fix(users): adjust response management to create user
  packages/core/admin/admin/src/services/users.ts
Labels: source: core:admin, pr: fix

#19398 feat: add addEditViewSidePanel API to strapi
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/components/DescriptionComponentRenderer.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/EditViewPage.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/Panels.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/ListViewPage.tsx
  packages/core/admin/admin/src/core/apis/Components.ts
  packages/core/admin/admin/src/core/apis/Fields.ts
  packages/core/admin/admin/src/core/apis/Middlewares.ts
  packages/core/admin/admin/src/core/apis/Plugin.ts
  packages/core/admin/admin/src/core/apis/Reducers.ts
  packages/core/admin/admin/src/core/apis/content-manager.ts
  packages/core/admin/admin/src/core/apis/tests/content-manager.test.ts
  packages/core/admin/admin/src/hooks/useInjectReducer.ts
  packages/core/admin/admin/src/index.ts
  packages/core/admin/admin/src/render.ts
  packages/core/admin/admin/src/tests/StrapiApp.test.tsx
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/ee/admin/src/content-manager/pages/EditView/components/AssigneeSelect.tsx
  packages/core/admin/ee/admin/src/content-manager/pages/EditView/components/InformationBoxEE.tsx
  packages/core/admin/ee/admin/src/content-manager/pages/EditView/components/ReviewWorkflowsPanel.tsx
  packages/core/admin/ee/admin/src/content-manager/pages/EditView/components/StageSelect.tsx
  packages/core/admin/ee/admin/src/content-manager/pages/EditView/components/tests/AssigneeSelect.test.tsx
  packages/core/admin/ee/admin/src/content-manager/pages/EditView/components/tests/InformationBoxEE.test.tsx
  packages/core/admin/ee/admin/src/content-manager/pages/EditView/components/tests/StageSelect.test.tsx
  packages/core/admin/package.json
  packages/core/helper-plugin/src/features/StrapiApp.tsx
  yarn.lock
Labels: source: core:content-manager, pr: feature

#19379 chore: update github action versions for node 16 deprecations
  .github/actions/run-build/action.yml
  .github/actions/yarn-nm-install/action.yml
  .github/workflows/adminBundleSize.yml
  .github/workflows/checks.yml
  .github/workflows/contributor-doc.yml
  .github/workflows/nightly.yml
  .github/workflows/publish-prerelease.yml
  .github/workflows/remove-dist-tag.yml
  .github/workflows/skipped_tests.yml
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#19386 feat: add history versions endpoint
  packages/core/content-manager/server/src/history/controllers/__tests__/history-version.test.ts
  packages/core/content-manager/server/src/history/controllers/history-version.ts
  packages/core/content-manager/server/src/history/controllers/index.ts
  packages/core/content-manager/server/src/history/index.ts
  packages/core/content-manager/server/src/history/routes/history-version.ts
  packages/core/content-manager/server/src/history/routes/index.ts
  packages/core/content-manager/server/src/history/services/history.ts
  packages/core/content-manager/shared/contracts/history-versions.ts
Labels: source: core:content-manager, pr: feature

#19413 chore: fixes for flaky tests
  jest-preset.front.js
  packages/admin-test-utils/src/after-env.ts
  packages/admin-test-utils/src/fixtures/store/index.ts
  packages/core/admin/admin/src/core/store/configure.ts
  packages/core/admin/admin/src/pages/Marketplace/tests/MarketplacePlugins.test.tsx
  packages/core/admin/admin/src/pages/Marketplace/tests/MarketplaceProviders.test.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/tests/ListPage.test.tsx
  packages/core/admin/admin/tests/utils.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/ReviewWorkflows/components/tests/Stage.test.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/ReviewWorkflows/components/tests/Stages.test.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/ReviewWorkflows/components/tests/WorkflowAttributes.test.tsx
  packages/core/content-releases/admin/tests/utils.tsx
  packages/core/helper-plugin/src/components/tests/GenericInput.test.tsx
  packages/plugins/color-picker/admin/src/components/tests/ColorPickerInput.test.tsx
  packages/plugins/i18n/admin/tests/utils.tsx
  packages/utils/pack-up/src/__tests__/cli.test.ts
  playwright.base.config.js
Labels: source: tooling, pr: chore

#19399 fix(content-releases): standardize icons size
  packages/core/content-releases/admin/src/components/ReleaseActionMenu.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
Labels: pr: fix, source: core:content-releases

#19381 fix(dts): support morphToOne relations
  packages/core/data-transfer/src/strapi/queries/link.ts
Labels: pr: fix, source: core:data-transfer

#19376 fix(content-releases): handle release.createdBy is null
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/server/src/controllers/__tests__/release.test.ts
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/shared/contracts/releases.ts
Labels: pr: fix, source: core:content-releases

#19414 feat(content-releases): Add new scheduling service
  docs/docs/docs/01-core/content-releases/01-backend.md
  packages/core/content-releases/package.json
  packages/core/content-releases/server/src/services/__tests__/scheduling.test.ts
  packages/core/content-releases/server/src/services/index.ts
  packages/core/content-releases/server/src/services/scheduling.ts
  packages/core/content-releases/server/src/utils/index.ts
  yarn.lock
Labels: pr: feature, source: core:content-releases

#19421 feat: list history versions in the history page sidebar
  packages/core/admin/admin/src/content-manager/history/components/VersionDetails.tsx
  packages/core/admin/admin/src/content-manager/history/components/VersionsList.tsx
  packages/core/admin/admin/src/content-manager/history/components/tests/VersionsList.test.tsx
  packages/core/admin/admin/src/content-manager/history/pages/History.tsx
  packages/core/admin/admin/src/content-manager/history/pages/tests/History.test.tsx
  packages/core/admin/admin/src/content-manager/history/services/historyVersion.ts
  packages/core/admin/admin/src/content-manager/history/tests/mockData.ts
  packages/core/admin/admin/src/content-manager/history/tests/server.ts
  packages/core/admin/admin/src/content-manager/services/api.ts
  packages/core/admin/admin/src/pages/Settings/pages/ApiTokens/EditView/utils/getDateOfExpiration.ts
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/utils/locales.ts
  packages/core/admin/admin/src/utils/tests/locales.test.ts
  packages/core/admin/admin/tests/mockData.ts
  packages/core/admin/admin/tests/server.ts
  packages/core/admin/admin/tests/store.ts
  packages/core/content-manager/server/src/history/services/history.ts
  packages/core/content-manager/shared/contracts/history-versions.ts
Labels: source: core:content-manager, pr: feature

#19418 feat(content-releases): add scheduledAt to releases content type & requests
  packages/core/content-releases/server/src/content-types/release/schema.ts
  packages/core/content-releases/server/src/services/__tests__/release-validation.test.ts
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/server/src/services/validation.ts
  packages/core/content-releases/shared/contracts/releases.ts
  packages/core/content-releases/shared/validation-schemas.ts
Labels: pr: feature, source: core:content-releases

#19423 feat: add publish & update action
  e2e/tests/content-manager/editview.spec.ts
  e2e/tests/content-manager/listview.spec.ts
  e2e/tests/content-manager/uniqueness.spec.js
  jest-preset.front.js
  packages/admin-test-utils/package.json
  packages/admin-test-utils/src/environment.ts
  packages/admin-test-utils/src/setup.ts
  packages/core/admin/admin/src/components/DescriptionComponentRenderer.tsx
  packages/core/admin/admin/src/content-manager/components/Form.tsx
  packages/core/admin/admin/src/content-manager/components/FormInputs/Time.tsx
  packages/core/admin/admin/src/content-manager/constants/attributes.ts
  packages/core/admin/admin/src/content-manager/hooks/tests/useDocumentLayout.test.ts
  packages/core/admin/admin/src/content-manager/hooks/useDocumentLayout.ts
  packages/core/admin/admin/src/content-manager/pages/EditView/EditViewPage.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/DeleteLink.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/DocumentActions.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/FormInputs/BlocksInput/BlocksInput.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/FormInputs/BlocksInput/tests/BlocksInput.test.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/FormLayout.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/Header.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/Information.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/InformationBoxCE.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/InputRenderer.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/Panels.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/tests/Header.test.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/tests/Information.test.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/tests/InformationBoxCE.test.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/tests/Panels.test.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/utils/data.ts
  packages/core/admin/admin/src/content-manager/pages/ListView/ListViewPage.tsx
  packages/core/admin/admin/src/core/apis/content-manager.ts
  packages/core/admin/admin/src/core/apis/tests/content-manager.test.ts
  packages/core/admin/admin/src/hooks/useForceUpdate.ts
  packages/core/admin/admin/src/hooks/useIsMounted.ts
  packages/core/admin/admin/src/hooks/useThrottledCallback.ts
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/package.json
  packages/core/helper-plugin/src/hooks/__mocks__/useAPIErrorHandler.js
  yarn.lock
Labels: source: core:content-manager, pr: enhancement, v5

#19420 fix(content-releases): add disabled state to action radio buttons
  packages/core/content-releases/admin/src/components/ReleaseActionOptions.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
Labels: pr: fix, source: core:content-releases

#19440 fix(review-workflows): cannot create or update workflow & data doesn't invalidate correctly
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/ReviewWorkflows/CreatePage.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/ReviewWorkflows/EditPage.tsx
  packages/core/admin/ee/admin/src/services/reviewWorkflows.ts
  packages/core/admin/shared/contracts/review-workflows.ts
Labels: pr: fix, source: core:review-workflows

#19447 fix(review-workflows): pass data not body
  packages/core/admin/ee/admin/src/services/reviewWorkflows.ts
Labels: pr: fix, source: core:review-workflows

#19445 Restore proper pagination object
  api-tests/core/content-manager/api/x-to-many-rf-preview.test.api.js
  packages/core/content-manager/server/src/controllers/relations.ts
Labels: source: core:content-manager, pr: fix

#19453 Chore: fix playwright test issue
  e2e/constants.js
  e2e/scripts/dts-import.js
  e2e/tests/content-manager/uniqueness.spec.js
Labels: source: tooling, pr: chore

#19391 docs(content-releases): add frontend docs
  docs/docs/docs/01-core/content-manager/03-content-releases.mdx
  docs/docs/docs/01-core/content-releases/02-frontend/00-intro.md
  docs/docs/docs/01-core/content-releases/02-frontend/01-releases-page.mdx
  docs/docs/docs/01-core/content-releases/02-frontend/02-release-details-page.mdx
  docs/docs/docs/01-core/content-releases/02-frontend/_category_.json
Labels: pr: doc, source: core:content-releases

#19408 fix(content-releases): replace Popover with Menu component in the Details page
  e2e/tests/content-releases/release-details-page.spec.ts
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
Labels: pr: fix, source: core:content-releases

#19456 feat(content-releases): update cron scheduling when release scheduledAt is changed
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/server/src/services/validation.ts
  packages/core/content-releases/shared/contracts/releases.ts
  packages/core/content-releases/shared/validation-schemas.ts
Labels: pr: feature, source: core:content-releases

#19459 feat(cm): add unpublish & delete actions, also re-enable single-types
  packages/core/admin/admin/src/content-manager/constants/collections.ts
  packages/core/admin/admin/src/content-manager/hooks/useContentManagerInitData.ts
  packages/core/admin/admin/src/content-manager/hooks/useDocument.ts
  packages/core/admin/admin/src/content-manager/hooks/useDocumentActions.ts
  packages/core/admin/admin/src/content-manager/hooks/useDocumentLayout.ts
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/SettingsForm/SettingsForm.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/EditViewPage.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/DocumentActions.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/Header.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/tests/DocumentActions.test.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/tests/Header.test.tsx
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/ListSettingsView.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/ListViewPage.tsx
  packages/core/admin/admin/src/content-manager/router.tsx
  packages/core/admin/admin/src/content-manager/services/documents.ts
  packages/core/admin/admin/src/core/apis/content-manager.ts
  packages/core/admin/admin/src/core/apis/tests/content-manager.test.ts
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/tests/server.ts
  packages/core/content-manager/shared/contracts/collection-types.ts
  packages/core/helper-plugin/src/hooks/useAPIErrorHandler.ts
Labels: source: core:content-manager, pr: enhancement

#19197 enhancement: allow relative links in the Blocks editor
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Link.tsx
  packages/core/strapi/src/services/entity-validator/__tests__/blocks-validators.test.ts
  packages/core/strapi/src/services/entity-validator/blocks-validator.ts
Labels: source: core:admin, pr: enhancement

#19338 feat: modify the default value of Attribute.Component Repeatable
  packages/core/admin/admin/src/content-manager/pages/ListView/components/TableCells/Components.tsx
  packages/core/types/src/types/core/attributes/component.ts
  packages/utils/typescript/lib/__tests__/generators/schemas/attributes.test.js
  packages/utils/typescript/lib/generators/common/models/mappers.js
Labels: flag: 💥 Breaking change, pr: enhancement, source: typescript

#19371 enh: add logger level to server config
  examples/getstarted/config/server.js
  packages/core/core/src/Strapi.ts
Labels: source: core:strapi, pr: enhancement, flag: documentation

#19467 Fix input payload validation
  api-tests/core/strapi/api/validate-body.test.api.js
  packages/core/admin/server/src/services/permission/permissions-manager/sanitize.ts
  packages/core/admin/server/src/services/permission/permissions-manager/validate.ts
  packages/core/utils/src/sanitize/index.ts
  packages/core/utils/src/validate/index.ts
Labels: source: core:strapi, pr: fix

#19374 enhancement: make policy error public
  packages/core/core/src/services/server/compose-endpoint.ts
Labels: flag: 💥 Breaking change, source: core:strapi, pr: fix, flag: documentation

#19462 feat(content-history): add version header
  packages/core/admin/admin/src/content-manager/history/components/VersionContent.tsx
  packages/core/admin/admin/src/content-manager/history/components/VersionDetails.tsx
  packages/core/admin/admin/src/content-manager/history/components/VersionHeader.tsx
  packages/core/admin/admin/src/content-manager/history/components/tests/VersionHeader.test.tsx
  packages/core/admin/admin/src/content-manager/history/pages/History.tsx
  packages/core/admin/admin/src/content-manager/history/pages/tests/History.test.tsx
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-manager/server/src/history/services/history.ts
  packages/core/content-manager/shared/contracts/history-versions.ts
Labels: source: core:content-manager, pr: feature

#19458 feat(content-manager): display history versions
  packages/core/admin/admin/src/content-manager/components/Inputs.tsx
  packages/core/admin/admin/src/content-manager/history/components/VersionContent.tsx
  packages/core/admin/admin/src/content-manager/history/components/VersionHeader.tsx
  packages/core/admin/admin/src/content-manager/history/components/VersionsList.tsx
  packages/core/admin/admin/src/content-manager/history/components/tests/VersionHeader.test.tsx
  packages/core/admin/admin/src/content-manager/history/components/tests/VersionsList.test.tsx
  packages/core/admin/admin/src/content-manager/history/pages/History.tsx
  packages/core/admin/admin/src/content-manager/history/pages/tests/History.test.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/EditViewPage.tsx
  packages/core/admin/admin/src/content-manager/pages/EditViewLayoutManager.tsx
  packages/core/helper-plugin/src/components/GenericInput.tsx
Labels: source: core:admin, pr: feature

#19373 feat[Document Service]: Param transformation
  packages/core/core/src/services/document-service/transform/__tests__/fields.test.ts
  packages/core/core/src/services/document-service/transform/__tests__/filters.test.ts
  packages/core/core/src/services/document-service/transform/__tests__/populate.test.ts
  packages/core/core/src/services/document-service/transform/__tests__/sort.test.ts
  packages/core/core/src/services/document-service/transform/__tests__/utils.ts
  packages/core/core/src/services/document-service/transform/fields.ts
  packages/core/core/src/services/document-service/transform/filters.ts
  packages/core/core/src/services/document-service/transform/id-transform.ts
  packages/core/core/src/services/document-service/transform/populate.ts
  packages/core/core/src/services/document-service/transform/relations/transform/data-ids.ts
  packages/core/core/src/services/document-service/transform/sort.ts
  packages/core/core/src/services/document-service/transform/types.ts
  packages/core/core/src/services/document-service/transform/utils.ts
Labels: pr: feature, source: core:core

#19345 fix: restrict model and attribute names that break Strapi
  api-tests/core/content-type-builder/collection-type.test.api.js
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/validation/common.ts
  packages/core/content-type-builder/admin/src/components/FormModal/component/createComponentSchema.ts
  packages/core/content-type-builder/admin/src/components/FormModal/contentType/createContentTypeSchema.ts
  packages/core/content-type-builder/server/src/controllers/validation/__tests__/content-type.test.ts
  packages/core/content-type-builder/server/src/controllers/validation/content-type.ts
  packages/core/content-type-builder/server/src/controllers/validation/model-schema.ts
  packages/core/content-type-builder/server/src/services/builder.ts
Labels: source: core:content-type-builder, pr: fix

#19479 fix: q search flakey test
  api-tests/core/strapi/api/validate-query/validate-query.test.api.js
  api-tests/core/strapi/deep-filtering.test.api.js
Labels: pr: fix

#19483 Experiment/change label cloud plugin
  packages/plugins/cloud/admin/src/index.ts
  packages/plugins/cloud/admin/src/translations/en.json
  packages/plugins/cloud/admin/src/translations/fr.json
Labels: pr: chore, source: plugin:cloud

#19455 feat(content-releases): added a purchase content releases page
  packages/core/admin/admin/src/components/LeftMenu.tsx
  packages/core/content-releases/admin/custom.d.ts
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/pages/PurchaseContentReleases.tsx
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/helper-plugin/src/features/StrapiApp.tsx
Labels: pr: feature, source: core:content-releases

#19473 feat(content-releases): add timezone to releases
  packages/core/content-releases/server/src/content-types/release/schema.ts
  packages/core/content-releases/shared/contracts/releases.ts
  packages/core/content-releases/shared/validation-schemas.ts
Labels: pr: feature, source: core:content-releases

#19500 feat(cm): add publish and save
  packages/core/admin/admin/src/content-manager/hooks/tests/useDocumentActions.test.ts
  packages/core/admin/admin/src/content-manager/hooks/useDocumentActions.ts
  packages/core/admin/admin/src/content-manager/pages/EditView/components/DocumentActions.tsx
  packages/core/admin/admin/src/content-manager/services/documents.ts
  packages/core/content-manager/shared/contracts/collection-types.ts
  packages/core/content-manager/shared/contracts/single-types-v5.ts
  packages/core/content-manager/shared/contracts/single-types.ts
Labels: source: core:content-manager, pr: enhancement

#19490 Fix Type Generation Checks for Min/Max Default Values
  packages/utils/typescript/lib/__tests__/generators/schemas/attributes.test.js
  packages/utils/typescript/lib/generators/common/models/attributes.js
Labels: pr: fix, source: typescript

#19384 fix(admin): french translations for null/not null filters
  packages/core/admin/admin/src/translations/fr.json
Labels: source: core:admin, pr: chore

#19487 feat: discard endpoint
  api-tests/core/content-manager/api/basic-dp.test.api.js
  packages/core/content-manager/server/src/controllers/collection-types.ts
  packages/core/content-manager/server/src/controllers/single-types.ts
  packages/core/content-manager/server/src/routes/admin.ts
  packages/core/content-manager/server/src/services/entity-manager.ts
  packages/core/content-manager/shared/contracts/collection-types.ts
Labels: source: core:content-manager, pr: enhancement

#19503 Experiment/readme strapi v5
  README.md
Labels: source: docs, pr: chore

#19444 feat(content-releases): remove cron when scheduled release is deleted
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
Labels: pr: feature, source: core:content-releases

#19510 fix(i18n): extract relatedEntityId from the query
  api-tests/plugins/i18n/content-manager/crud.test.api.js
  api-tests/plugins/i18n/locales.test.api.js
  packages/plugins/i18n/server/src/controllers/validate-locale-creation.ts
Labels: source: plugin:i18n, pr: fix

#19372 fix: validate query populate
  api-tests/core/strapi/api/validate-query/resources/fixtures/document.js
  api-tests/core/strapi/api/validate-query/resources/schemas/document.js
  api-tests/core/strapi/api/validate-query/validate-query.test.api.js
  packages/core/admin/server/src/services/permission/permissions-manager/sanitize.ts
  packages/core/admin/server/src/services/permission/permissions-manager/validate.ts
  packages/core/utils/src/__tests__/query-populate.test.ts
  packages/core/utils/src/sanitize/sanitizers.ts
  packages/core/utils/src/sanitize/visitors/expand-wildcard-populate.ts
  packages/core/utils/src/sanitize/visitors/index.ts
  packages/core/utils/src/traverse/factory.ts
  packages/core/utils/src/traverse/query-fields.ts
  packages/core/utils/src/traverse/query-populate.ts
  packages/core/utils/src/validate/index.ts
  packages/core/utils/src/validate/utils.ts
  packages/core/utils/src/validate/validators.ts
  packages/core/utils/src/validate/visitors/throw-disallowed-fields.ts
  packages/core/utils/src/validate/visitors/throw-dynamic-zones.ts
  packages/core/utils/src/validate/visitors/throw-morph-to-relations.ts
  packages/core/utils/src/validate/visitors/throw-password.ts
  packages/core/utils/src/validate/visitors/throw-private.ts
  packages/core/utils/src/validate/visitors/throw-restricted-fields.ts
  packages/core/utils/src/validate/visitors/throw-restricted-relations.ts
Labels: flag: 💥 Breaking change, source: core:utils, pr: fix, v5

#19506 fix(history): fetch single-types
  packages/core/admin/admin/src/content-manager/history/components/VersionContent.tsx
  packages/core/content-manager/server/src/history/controllers/__tests__/history-version.test.ts
  packages/core/content-manager/server/src/history/controllers/history-version.ts
  packages/core/content-manager/server/src/history/services/history.ts
Labels: source: core:content-manager, pr: fix

#19480 fix(content-manager): fix strange behaviours when you change position on Dynamic Zones and solve issue with ids not unique
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/reducer.test.ts
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/Editor.tsx
  packages/core/admin/admin/src/content-manager/utils/fields.ts
Labels: source: core:content-manager, pr: fix

#19536 chore: init split single-type collection-type in document service
  api-tests/core/strapi/document-service/middlewares.test.api.ts
  packages/core/core/src/Strapi.ts
  packages/core/core/src/services/document-service/collection-type.ts
  packages/core/core/src/services/document-service/common.ts
  packages/core/core/src/services/document-service/document-service.ts
  packages/core/core/src/services/document-service/index.ts
  packages/core/core/src/services/document-service/middlewares/index.ts
  packages/core/core/src/services/document-service/repository-factory.ts
  packages/core/core/src/services/document-service/single-type.ts
  packages/core/types/src/modules/documents/index.ts
  packages/core/types/src/modules/documents/middleware.ts
Labels: pr: chore, source: core:core

#19547 chore: refactor middlewares
  packages/core/content-manager/server/src/services/entity-manager.ts
  packages/core/core/src/services/document-service/__tests__/middlewares.test.ts
  packages/core/core/src/services/document-service/collection-type.ts
  packages/core/core/src/services/document-service/common.ts
  packages/core/core/src/services/document-service/draft-and-publish.ts
  packages/core/core/src/services/document-service/index.ts
  packages/core/core/src/services/document-service/internationalization.ts
  packages/core/core/src/services/document-service/middlewares.ts
  packages/core/core/src/services/document-service/middlewares/defaults/draft-and-publish.ts
  packages/core/core/src/services/document-service/middlewares/defaults/index.ts
  packages/core/core/src/services/document-service/middlewares/defaults/locales.ts
  packages/core/core/src/services/document-service/middlewares/index.ts
  packages/core/core/src/services/document-service/repository-factory.ts
  packages/core/core/src/services/document-service/single-type.ts
  packages/core/types/src/modules/documents/index.ts
  packages/core/types/src/modules/documents/middleware.ts
  packages/core/types/src/modules/documents/service-instance.ts
Labels: pr: chore, source: core:core

#19499 Chore/data — Add telemetry events for SSO
  packages/core/admin/ee/server/src/controllers/audit-logs.ts
  packages/core/admin/ee/server/src/controllers/authentication.ts
  packages/core/admin/ee/server/src/services/index.ts
  packages/core/admin/ee/server/src/services/metrics.ts
  packages/core/admin/ee/server/src/services/review-workflows/metrics/weekly-metrics.ts
  packages/core/admin/server/src/bootstrap.ts
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
Labels: source: core:admin, pr: chore

#19498 Feat(releases): Ability to schedule a release
  e2e/tests/content-releases/release-details-page.spec.ts
  e2e/tests/content-releases/releases-page.spec.ts
  packages/admin-test-utils/custom.d.ts
  packages/admin-test-utils/src/environment.ts
  packages/core/content-releases/admin/src/components/ReleaseModal.tsx
  packages/core/content-releases/admin/src/components/tests/ReleaseModal.test.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleasesPage.test.tsx
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/package.json
  packages/core/content-releases/shared/contracts/releases.ts
  packages/core/content-releases/shared/validation-schemas.ts
  yarn.lock
Labels: pr: feature, source: core:content-releases

#19553 fix: history page back button
  packages/core/admin/admin/src/content-manager/history/components/VersionHeader.tsx
  packages/core/admin/admin/src/content-manager/history/components/VersionsList.tsx
  packages/core/admin/admin/src/content-manager/history/components/tests/VersionHeader.test.tsx
Labels: source: core:admin, pr: fix

#19515 feat(content-releases): add publish webhook
  examples/getstarted/config/features.js
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/Webhooks/components/EventsTable.tsx
  packages/core/content-releases/server/src/__tests__/index.test.ts
  packages/core/content-releases/server/src/bootstrap.ts
  packages/core/content-releases/server/src/constants.ts
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
Labels: pr: feature, source: core:content-releases

#19548 feat: add information to header actions menu
  packages/core/admin/admin/src/content-manager/pages/EditView/components/DocumentActions.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/Header.tsx
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-manager/shared/contracts/collection-types.ts
  packages/core/content-manager/shared/contracts/single-types.ts
Labels: source: core:content-manager, pr: enhancement

#19572 fix: prevent infinite loop opening pool connections in mysql
  packages/core/database/src/dialects/mysql/database-inspector.ts
  packages/core/database/src/dialects/mysql/index.ts
Labels: source: core:database, pr: fix

#19552 feat(content-releases): show release scheduled date
  e2e/tests/content-releases/release-details-page.spec.ts
  e2e/tests/content-releases/releases-page.spec.ts
  examples/getstarted/config/features.js
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/components/ReleaseModal.tsx
  packages/core/content-releases/admin/src/components/tests/CMReleasesContainer.test.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/admin/src/utils/tests/time.test.ts
  packages/core/content-releases/admin/src/utils/time.ts
Labels: pr: feature, source: core:content-releases

#19575 chore(release): merge v4.20.2 into develop
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/workspace-plugin/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/pack-up/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#19574 chore(release): merge 4.20.2 into main
  .github/actions/check-pr-status/package.json
  README.md
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/workspace-plugin/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/tests/reducer.test.ts
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/Editor.tsx
  packages/core/admin/admin/src/content-manager/utils/fields.ts
  packages/core/admin/admin/src/translations/fr.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/pack-up/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: pr: chore, source: core:core

#19566 fix(history): refetch history versions on mount
  packages/core/admin/admin/src/content-manager/history/components/VersionContent.tsx
  packages/core/admin/admin/src/content-manager/history/pages/History.tsx
  packages/core/admin/admin/src/content-manager/history/services/historyVersion.ts
Labels: source: core:admin, pr: fix

#19563 chore: use db model instead of content type
  packages/core/content-manager/package.json
  packages/core/content-manager/server/src/history/content-types/history-version.ts
  packages/core/content-manager/server/src/history/content-types/index.ts
  packages/core/content-manager/server/src/history/index.ts
  packages/core/content-manager/server/src/history/models/history-version.ts
  packages/core/content-manager/server/src/index.ts
  packages/core/database/src/types/index.ts
  yarn.lock
Labels: source: core:content-manager, pr: chore

#19586 fix(Content-releases): timezone null for timezones UTC-HH:MM
  packages/core/content-releases/admin/src/components/ReleaseModal.tsx
Labels: pr: fix, source: core:content-releases

#19587 fix(content-releases): fix UI details
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/components/ReleaseActionOptions.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
Labels: pr: fix, source: core:content-releases

#19583 enhancement: use defaultLocale on delete/publish/unpublish/discardDra…
  packages/core/content-manager/server/src/services/collection-types.ts
  packages/core/core/src/services/document-service/collection-type.ts
  packages/core/core/src/services/document-service/internationalization.ts
  packages/core/core/src/services/document-service/single-type.ts
Labels: pr: enhancement, source: core:core

#19578 feat(cm): re-implement validation
  e2e/tests/content-manager/uniqueness.spec.ts
  packages/core/admin/admin/src/content-manager/components/Form.tsx
  packages/core/admin/admin/src/content-manager/components/FormInputs/types.ts
  packages/core/admin/admin/src/content-manager/components/Relations/RelationInputDataManager.tsx
  packages/core/admin/admin/src/content-manager/constants/attributes.ts
  packages/core/admin/admin/src/content-manager/hooks/tests/useDocument.test.tsx
  packages/core/admin/admin/src/content-manager/hooks/useDocumentLayout.ts
  packages/core/admin/admin/src/content-manager/pages/EditView/EditViewPage.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/DocumentActions.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/FormInputs/Component/Input.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/FormInputs/DynamicZone/DynamicZoneLabel.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/FormInputs/DynamicZone/Field.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/Header.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/InputRenderer.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActions/SelectedEntriesModal.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActions/tests/SelectedEntriesModal.test.tsx
  packages/core/admin/admin/src/content-manager/utils/validation.ts
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/ReviewWorkflows/components/Stage.tsx
  packages/core/helper-plugin/src/components/NotAllowedInput.tsx
  packages/core/helper-plugin/src/components/tests/NotAllowedInput.test.tsx
  packages/core/utils/src/yup.ts
  packages/plugins/i18n/admin/src/components/tests/CreateLocale.test.tsx
  packages/plugins/i18n/admin/src/components/tests/EditLocale.test.tsx
Labels: source: core:content-manager, pr: enhancement

#19518 fix(content-manager): uid availability and generation
  e2e/tests/content-manager/uniqueness.spec.ts
  packages/core/content-manager/server/src/services/__tests__/uid.test.ts
  packages/core/content-manager/server/src/services/uid.ts
Labels: source: core:content-manager, pr: fix

#19593 Add sizeInBytes for upload providers
  packages/core/upload/server/services/upload.js
  packages/providers/upload-aws-s3/src/index.ts
  packages/providers/upload-cloudinary/src/index.ts
  packages/providers/upload-local/src/index.ts
Labels: source: core:upload, pr: fix, fix:4

#19460 chore: add centralized methods for replacing hardcoded strings for database identifiers
  packages/core/core/src/utils/__tests__/transform-content-types-to-models.test.ts
  packages/core/core/src/utils/transform-content-types-to-models.ts
  packages/core/database/src/index.ts
  packages/core/database/src/utils/identifiers/index.ts
Labels: source: core:database, pr: chore

#19561 chore(database): use naming functions for identifiers in metadata
  packages/core/database/src/metadata/index.ts
  packages/core/database/src/metadata/relations.ts
  packages/core/database/src/utils/identifiers/index.ts
  packages/core/database/src/validations/relations/bidirectional.ts
Labels: source: core:database, pr: chore, version: 5

#19596 chore(database): refactor database schema to use naming functions
  packages/core/database/src/schema/schema.ts
  packages/core/database/src/utils/identifiers/index.ts
Labels: source: core:database, pr: chore

#19567 chore(database): add long db identifiers shortening algorithm
  packages/core/database/src/metadata/index.ts
  packages/core/database/src/utils/identifiers/__tests__/identifiers.test.ts
  packages/core/database/src/utils/identifiers/index.ts
  packages/core/database/src/utils/identifiers/shortener.ts
Labels: source: core:database, pr: enhancement

#19595 feat(content-releases): Add edit release button on edit view
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/components/ReleaseActionMenu.tsx
  packages/core/content-releases/admin/src/translations/en.json
Labels: pr: feature, source: core:content-releases

#19485 fix: transfer pull getting stuck/skipping assets step
  packages/core/data-transfer/src/strapi/providers/local-destination/index.ts
  packages/core/data-transfer/src/strapi/providers/local-source/assets.ts
  packages/core/data-transfer/src/strapi/providers/remote-source/index.ts
  packages/core/data-transfer/src/strapi/providers/utils.ts
  packages/core/data-transfer/src/strapi/remote/handlers/pull.ts
  packages/core/data-transfer/types/common-entities.d.ts
  packages/core/data-transfer/types/remote/protocol/client/transfer/pull.d.ts
Labels: pr: fix, source: core:data-transfer

#19502 feat(content-releases): add status to releases
  docs/docs/docs/01-core/content-releases/00-intro.md
  docs/docs/docs/01-core/content-releases/01-backend.md
  packages/core/content-releases/server/src/__tests__/index.test.ts
  packages/core/content-releases/server/src/bootstrap.ts
  packages/core/content-releases/server/src/content-types/release-action/schema.ts
  packages/core/content-releases/server/src/content-types/release/schema.ts
  packages/core/content-releases/server/src/migrations/index.ts
  packages/core/content-releases/server/src/register.ts
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/server/src/utils/index.ts
  packages/core/content-releases/shared/contracts/release-actions.ts
  packages/core/content-releases/shared/contracts/releases.ts
Labels: pr: feature, source: core:content-releases

#19605 fix(content-releases): changes in how showing the count of pending releases
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleasesPage.test.tsx
  packages/core/content-releases/admin/src/pages/tests/mockReleasesPageData.ts
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/server/src/controllers/__tests__/release.test.ts
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/shared/contracts/releases.ts
Labels: pr: fix, source: core:content-releases

#19618 chore(content-manager): use documentId over id
  docs/docs/docs/01-core/content-manager/hooks/use-document-actions.mdx
  docs/docs/docs/01-core/content-manager/hooks/use-document.mdx
  packages/core/admin/admin/src/content-manager/hooks/tests/useDocument.test.tsx
  packages/core/admin/admin/src/content-manager/hooks/tests/useDocumentActions.test.ts
  packages/core/admin/admin/src/content-manager/hooks/useDocument.ts
  packages/core/admin/admin/src/content-manager/hooks/useDocumentActions.ts
  packages/core/admin/admin/src/content-manager/pages/EditView/components/DocumentActions.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/Header.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/Panels.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/ListViewPage.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActions/ConfirmBulkActionDialog.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActions/tests/Buttons.test.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/components/TableActions.tsx
  packages/core/admin/admin/src/content-manager/services/documents.ts
  packages/core/admin/admin/src/core/apis/content-manager.ts
  packages/core/admin/admin/src/index.ts
  packages/core/admin/admin/tests/server.ts
  packages/core/content-manager/server/tsconfig.build.json
  packages/core/content-manager/shared/contracts/collection-types.ts
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/components/tests/ReleaseActionMenu.test.tsx
  packages/core/content-releases/shared/contracts/release-actions.ts
  packages/core/helper-plugin/src/components/Table.tsx
  packages/core/types/src/modules/documents/result/index.ts
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
  packages/plugins/i18n/admin/src/components/LocaleListCell.tsx
  packages/plugins/i18n/admin/src/components/tests/LocaleListCell.test.tsx
Labels: source: core:content-manager, pr: chore

#19620 feat(history): delete expired history versions
  packages/core/content-manager/package.json
  packages/core/content-manager/server/src/history/index.ts
  packages/core/content-manager/server/src/history/services/__tests__/history.test.ts
  packages/core/content-manager/server/src/history/services/history.ts
  yarn.lock
Labels: source: core:content-manager, pr: feature

#19626 fix: do not validate locale if not creating
  packages/plugins/i18n/server/src/register.ts
Labels: source: plugin:i18n, pr: fix

#19630 chore: bump @strapi/design-systems from 1.14.1 to 1.15.0
  examples/getstarted/package.json
  package.json
  packages/core/admin/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#19623 chore: update History with new v5 APIs
  packages/core/admin/admin/src/content-manager/components/FormInputs/Date.tsx
  packages/core/admin/admin/src/content-manager/components/FormInputs/DateTime.tsx
  packages/core/admin/admin/src/content-manager/history/components/VersionContent.tsx
  packages/core/admin/admin/src/content-manager/history/components/VersionHeader.tsx
  packages/core/admin/admin/src/content-manager/history/components/tests/VersionHeader.test.tsx
  packages/core/admin/admin/src/content-manager/history/components/tests/VersionsList.test.tsx
  packages/core/admin/admin/src/content-manager/history/pages/History.tsx
  packages/core/admin/admin/src/content-manager/history/routes.tsx
  packages/core/admin/admin/src/content-manager/hooks/useDocumentLayout.ts
  packages/core/admin/admin/src/content-manager/layout.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/FormInputs/Component/Input.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/InputRenderer.tsx
  packages/core/content-manager/server/src/history/services/__tests__/history.test.ts
  packages/core/content-manager/server/src/history/services/history.ts
Labels: source: core:content-manager, pr: chore

#19629 fix(content-manager): send locale when deleting i18n single type
  packages/core/admin/admin/src/content-manager/components/ContentTypeFormWrapper.tsx
Labels: source: core:admin, pr: fix, fix:4

#19628 fix(content-releases): Delete selected timezone value
  packages/core/content-releases/admin/src/components/ReleaseModal.tsx
Labels: pr: fix, source: core:content-releases

#19627 fix(content-releases): release details action styles
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
Labels: pr: fix, source: core:content-releases

#19621 fix: api and transfer token lifespan select lists work with all durations
  e2e/app-template/template/src/api/config/controllers/config.js
  e2e/app-template/template/src/api/config/routes/config.js
  e2e/app-template/template/src/create-transfer-token.js
  e2e/app-template/template/src/index.js
  e2e/constants.js
  e2e/scripts/dts-import.js
  e2e/tests/admin/transfer/tokens.spec.ts
  e2e/utils/shared.ts
  packages/core/admin/admin/src/pages/Settings/pages/ApiTokens/EditView/EditViewPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/EditView.tsx
  packages/core/admin/server/src/services/api-token.ts
  packages/core/admin/server/src/services/transfer/token.ts
  packages/core/admin/shared/contracts/api-token.ts
  packages/core/admin/shared/contracts/transfer.ts
Labels: pr: fix, source: core:data-transfer
