Repository strapi/strapi, pull requests merged in 2024-07, with the labels that each got.

#20647 fix: duplicated audit log events
  packages/core/admin/ee/server/src/audit-logs/services/lifecycles.ts
Labels: source: core:admin, pr: fix

#20648 feat(release-settings): apply rbac permission in the release settings page
  packages/core/admin/admin/src/types/permissions.ts
  packages/core/admin/ee/admin/src/constants.ts
  packages/core/content-releases/admin/src/constants.ts
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/modules/hooks.ts
  packages/core/content-releases/admin/src/pages/ReleasesSettingsPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleasesSettingsPage.test.tsx
  packages/core/content-releases/admin/tests/utils.tsx
  packages/core/content-releases/shared/contracts/settings.ts
Labels: pr: feature, version: 5, source: core:content-releases

#20656 Fix prevent category edits
  packages/core/content-type-builder/admin/src/components/SelectCategory.tsx
Labels: source: core:content-type-builder, fix:5

#20573 fix: Update @aws-sdk/client-s3 package to fix Issue #20425
  packages/providers/upload-aws-s3/package.json
  yarn.lock
Labels: source: core:upload, pr: fix

#20531 fix clone entity, #20509
  packages/core/database/src/entity-manager/regular-relations.ts
Labels: source: core:database, pr: fix

#20659 Fix Koa Query Type
  packages/core/core/src/index.ts
  packages/core/core/src/middlewares/query.ts
Labels: pr: fix, source: core:core

#20634 enhancement: add a way to register a u&p provider
  packages/plugins/users-permissions/server/bootstrap/grant-config.js
  packages/plugins/users-permissions/server/bootstrap/index.js
  packages/plugins/users-permissions/server/services/providers-registry.js
  packages/plugins/users-permissions/server/utils/index.d.ts
Labels: source: plugin:users-permissions, pr: enhancement

#20658 fix: support string array
  packages/core/strapi/src/middlewares/cors.ts
Labels: source: core:strapi, pr: fix

#20663 Prevent Vite hmr from Hijacking WS Upgrade Events
  packages/core/strapi/src/node/create-build-context.ts
  packages/core/strapi/src/node/vite/config.ts
  packages/core/strapi/src/node/vite/watch.ts
Labels: source: core:strapi, pr: fix

#20629 [Fix] Auto clone modal and ensure we validate correct statuses
  packages/core/content-manager/admin/src/hooks/useDocumentActions.ts
  packages/core/content-manager/admin/src/services/documents.ts
  packages/core/content-manager/server/src/controllers/collection-types.ts
  packages/core/content-manager/server/src/controllers/single-types.ts
  packages/core/content-manager/server/src/controllers/uid.ts
  packages/core/content-manager/server/src/controllers/validation/__tests__/dimensions.test.ts
  packages/core/content-manager/server/src/controllers/validation/dimensions.ts
  packages/core/content-manager/server/src/services/document-manager.ts
  packages/core/core/src/services/entity-validator/validators.ts
Labels: source: core:content-manager, pr: fix

#20664 fix(content-manager): bulk actions modal don't force to use modal
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-releases/admin/src/components/ReleaseActionModal.tsx
  packages/plugins/i18n/admin/src/components/BulkLocaleActionModal.tsx
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
Labels: source: core:content-manager, pr: fix, fix:5

#20607 chore: bump glob from 7.2.0 to 10.4.2 in core/strapi
  packages/core/strapi/package.json
  packages/core/strapi/src/load/glob.ts
  packages/core/strapi/src/load/load-files.ts
  yarn.lock
Labels: source: core:strapi, pr: security

#20208 fix(scheduling): update error message
  packages/core/content-releases/admin/src/components/ReleaseModal.tsx
  packages/core/content-releases/admin/src/pages/ReleasesSettingsPage.tsx
  packages/core/content-releases/admin/src/validation/schemas.ts
  packages/core/content-releases/server/src/controllers/validation/release.ts
  packages/core/content-releases/server/src/controllers/validation/settings.ts
  packages/core/content-releases/shared/validation-schemas.ts
Labels: pr: fix, source: core:content-releases, fix:5

#20666 feat(releases-settings): use the default timezone in the Release modal
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
Labels: pr: feature, version: 5, source: core:content-releases

#20479 feat(cli): use project name from package json by default
  packages/cli/cloud/.eslintignore
  packages/cli/cloud/jest.config.js
  packages/cli/cloud/package.json
  packages/cli/cloud/src/create-project/action.ts
  packages/cli/cloud/src/create-project/utils/__tests__/apply-default-name.test.ts
  packages/cli/cloud/src/create-project/utils/__tests__/get-project-name-from-pkg.test.ts
  packages/cli/cloud/src/create-project/utils/apply-default-name.ts
  packages/cli/cloud/src/create-project/utils/get-project-name-from-pkg.ts
  packages/cli/cloud/src/utils/__tests__/compress-files.test.ts
Labels: source: cli, pr: enhancement

#20685 Change the Cloud message in Homepage
  packages/core/admin/admin/src/pages/HomePage.tsx
  packages/core/admin/admin/src/pages/tests/HomePage.test.tsx
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: chore

#20680 Fix file path parsing to allow cross-platform compatibility
  packages/core/core/src/utils/__tests__/filepath-to-prop-path.test.ts
  packages/core/core/src/utils/filepath-to-prop-path.ts
Labels: pr: fix, source: core:core

#20695 chore(cloud-cli): migrate to fs-extra
  packages/cli/cloud/src/utils/compress-files.ts
  packages/cli/cloud/src/utils/pkg.ts
Labels: source: cli, pr: chore

#20679 fix(content-releases): check time has not passed if date is today
  packages/core/content-releases/admin/src/components/ReleaseModal.tsx
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/admin/src/validation/schemas.ts
Labels: pr: fix, source: core:content-releases, fix:5

#20694 feat(cli): Add projects list command
  packages/cli/cloud/src/index.ts
  packages/cli/cloud/src/list-projects/action.ts
  packages/cli/cloud/src/list-projects/command.ts
  packages/cli/cloud/src/list-projects/index.ts
  packages/cli/cloud/src/services/cli-api.ts
Labels: source: cli, pr: feature

#20713 feat(cm): add optimistic document updates
  packages/core/content-manager/admin/src/services/documents.ts
Labels: source: core:content-manager, pr: feature

#20722 chore: release v4.25.3
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/workspace-plugin/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#20724 chore: v4.25.3 release
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/workspace-plugin/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: pr: chore, source: core:core

#20720 chore: init empty cloud plugin
  examples/getstarted/package.json
  packages/plugins/cloud/admin/src/components/Cloud.tsx
  packages/plugins/cloud/admin/src/components/Github.tsx
  packages/plugins/cloud/admin/src/components/Icons/LinkIcon.tsx
  packages/plugins/cloud/admin/src/components/Icons/UploadIcon.tsx
  packages/plugins/cloud/admin/src/components/Initializer.tsx
  packages/plugins/cloud/admin/src/index.ts
  packages/plugins/cloud/admin/src/pages/App.tsx
  packages/plugins/cloud/admin/src/pages/Home.tsx
  packages/plugins/cloud/admin/src/pages/HomePage.tsx
  packages/plugins/cloud/admin/src/pages/assets/corner-ornament.svg
  packages/plugins/cloud/admin/src/pages/assets/left-side-cloud.png
  packages/plugins/cloud/admin/src/pages/assets/right-side-cloud.png
  packages/plugins/cloud/admin/src/translations/en.json
  packages/plugins/cloud/admin/src/translations/fr.json
  packages/plugins/cloud/admin/src/utils/getTrad.ts
  packages/plugins/cloud/admin/src/utils/getTranslation.ts
  packages/plugins/cloud/package.json
  yarn.lock
Labels: pr: chore, source: plugin:cloud

#20704 fix(documentation): add check to password input
  packages/plugins/documentation/admin/src/components/SettingsForm.tsx
  packages/plugins/documentation/admin/src/pages/Settings.tsx
  packages/plugins/documentation/admin/src/pages/tests/Settings.test.tsx
  packages/plugins/documentation/admin/src/translations/en.json
  packages/plugins/documentation/server/src/controllers/documentation.ts
Labels: source: plugin:documentation, pr: fix, fix:5

#20740 fix: invalid path separator
  packages/core/strapi/src/load/__tests__/filepath-to-prop-path.test.ts
  packages/core/strapi/src/load/filepath-to-prop-path.ts
Labels: source: core:strapi, pr: fix

#19723 Cron type fix
  packages/core/admin/package.json
  packages/core/content-releases/package.json
  packages/core/strapi/package.json
  packages/core/strapi/src/services/cron.ts
  packages/core/types/package.json
  packages/core/types/src/modules/cron.ts
  yarn.lock
Labels: pr: fix, source: typescript, community

#20831 chore(cloud-cli): update dependencies
  packages/cli/cloud/package.json
  yarn.lock
Labels: source: cli, version: 5

#20846 fix: show media dialog in blocks and markdown editors
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/Blocks/Image.tsx
  packages/core/upload/admin/src/components/MediaLibraryDialog/index.jsx
Labels: source: core:upload, pr: fix

#20770 Fix Long Collection title breaks ui
  packages/core/content-manager/admin/src/components/LeftMenu.tsx
  packages/core/content-manager/admin/src/pages/ListView/ListViewPage.tsx
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/ContentTypeBuilderNav.tsx
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.tsx.snap
  packages/core/content-type-builder/admin/src/components/Relation/RelationField/RelationTargetPicker/RelationTargetPicker.tsx
  packages/core/content-type-builder/admin/src/pages/ListView/ListView.tsx
Labels: pr: fix, source: core:core, fix:5

#20856 chore: add styled-components upgrade codemod
  packages/utils/upgrade/resources/codemods/5.0.0/dependency-upgrade-styled-components.json.ts
Labels: pr: chore, source: utils:upgrade

#20717 fix: updating contributing guide workflow
  CONTRIBUTING.md
Labels: source: docs, pr: chore, community

#20854 Chore: Removing some people from the issue auto-assignment
  .github/workflows/issues_handleLabel.yml
Labels: source: tooling, pr: chore

#20850 fix(cloud-cli): avoid blocking event loop in deploy command
  packages/cli/cloud/src/deploy-project/action.ts
  packages/cli/cloud/src/services/build-logs.ts
Labels: source: cli, pr: fix

#20668 fix: inconsistent publish permissions
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/server/src/controllers/collection-types.ts
  tests/api/core/admin/admin-permissions-custom-conditions.test.api.js
Labels: source: core:content-manager, pr: fix

#20855 Fix the dimensions of the More button
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-releases/admin/src/components/ReleaseActionMenu.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
Labels: pr: fix, source: core:core, fix:5

#20851 fix color in disabled buttons
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
Labels: source: core:content-manager, pr: fix, version: 5

#20865 revert(typescript-utils): replace deleted admin tsconfig
  packages/utils/typescript/tsconfigs/admin.json
Labels: pr: fix, source: typescript

#20847 feat: history version on bulk publish locales
  packages/core/content-manager/server/src/history/services/lifecycles.ts
  packages/core/content-manager/server/src/history/services/utils.ts
  packages/core/content-manager/server/src/services/document-metadata.ts
  tests/api/core/content-manager/content-manager/history/history.test.api.ts
Labels: source: core:content-manager, pr: feature

#20861 feat: Private s3 buckets
  packages/core/upload/server/src/__tests__/bootstrap.test.ts
  packages/core/upload/server/src/bootstrap.ts
  packages/core/upload/server/src/services/extensions/content-manager/entity-manager.ts
  packages/core/upload/server/src/services/extensions/content-manager/index.ts
  packages/core/upload/server/src/services/extensions/core/entity-service.ts
  packages/core/upload/server/src/services/extensions/core/index.ts
  packages/core/upload/server/src/services/extensions/index.ts
Labels: source: core:upload, pr: feature

#20866 fix: json fields not parsed properly
  packages/core/admin/admin/src/components/FormInputs/Json.tsx
  packages/core/database/src/fields/json.ts
Labels: source: core:database, pr: fix

#20862 fix: the left offset of the cloud image
  packages/plugins/cloud/admin/src/pages/HomePage.tsx
Labels: pr: fix, source: plugin:cloud, fix:5

#20852 fix(review-workflows): invalidate document queries when stage & assignee is changed
  packages/core/content-manager/admin/src/services/documents.ts
  packages/core/review-workflows/admin/src/services/api.ts
  packages/core/review-workflows/admin/src/services/content-manager.ts
  packages/core/review-workflows/admin/src/services/settings.ts
Labels: source: core:review-workflows, fix:5

#20864 fix(upload): mock usefolderstructure to fix flaky frontend test
  packages/core/upload/admin/src/pages/App/MediaLibrary/tests/MediaLibrary.test.jsx
Labels: source: core:upload, fix:5

#19123 fix custom email provider test issue #19122
  packages/core/email/server/src/bootstrap.ts
Labels: source: core:email, pr: fix, community

#20848 fix(content-releases): add bulk add to release to v5
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-releases/admin/src/components/ReleaseAction.tsx
  packages/core/content-releases/admin/src/components/ReleaseListCell.tsx
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/server/src/controllers/__tests__/release-action.test.ts
  packages/core/content-releases/server/src/controllers/release-action.ts
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/server/src/routes/release-action.ts
  packages/core/content-releases/server/src/routes/release.ts
  packages/core/content-releases/server/src/services/__tests__/release-validation.test.ts
  packages/core/content-releases/server/src/services/validation.ts
  packages/core/content-releases/shared/contracts/release-actions.ts
  packages/core/content-releases/shared/contracts/releases.ts
  tests/api/plugins/content-releases/releases.test.api.ts
Labels: source: core:content-releases, fix:5

#20894 fix: admin validation broken when json is still an object
  packages/core/admin/admin/src/components/FormInputs/Json.tsx
  packages/core/content-manager/admin/src/utils/validation.ts
Labels: source: core:admin, pr: fix

#20879 fix: resolve internal plugins from the strapi pkg
  packages/core/core/src/loaders/plugins/get-enabled-plugins.ts
Labels: pr: fix, source: core:core
