Repository strapi/strapi, pull requests merged in 2024-10, with the labels that each got.

#21496 test(cli): update snapshots for list commands
  tests/cli/tests/strapi/strapi/README.md
  tests/cli/tests/strapi/strapi/policies-list.test.cli.js
  tests/cli/tests/strapi/strapi/routes-list.test.cli.js
  tests/cli/tests/strapi/strapi/services-list.test.cli.js
  tests/cli/tests/strapi/strapi/version.test.cli.js
  tests/scripts/run-cli-tests.js
  tests/scripts/run-e2e-tests.js
Labels: pr: chore, source: e2e-tests

#21383 Fix issue #20597 by adding scroll
  packages/core/content-type-builder/admin/src/components/FormModal/FormModal.tsx
Labels: source: core:content-type-builder, pr: fix, community

#21500 test(api): enable graphl and upload tests
  tests/api/core/upload/admin/folder.test.api.js
  tests/api/core/upload/content-api/upload-automatic-folder.test.api.js
  tests/api/plugins/graphql/crud.test.api.js
  tests/api/plugins/i18n/content-api/content-api.test.api.js
  tests/api/plugins/users-permissions/users-graphql.test.api.js
Labels: source: core:admin, pr: chore

#21542 fix: Create table if it doesn't exist
  packages/core/content-releases/server/src/migrations/database/5.0.0-document-id-in-actions.ts
Labels: pr: fix, version: 5, source: core:content-releases

#21533 Fix Various Document Service Type Issues
  packages/core/types/src/modules/documents/params/attributes/id.ts
  packages/core/types/src/modules/documents/params/attributes/index.ts
  packages/core/types/src/modules/documents/params/attributes/relations.ts
  packages/core/types/src/modules/documents/params/filters/index.ts
  packages/core/types/src/public/shared.ts
  packages/core/types/src/schema/attribute/definitions/relation.ts
Labels: pr: fix, source: typescript

#21493 Config password rules users-permissions
  packages/plugins/users-permissions/server/controllers/auth.js
  packages/plugins/users-permissions/server/controllers/validation/__tests__/auth.test.js
  packages/plugins/users-permissions/server/controllers/validation/auth.js
Labels: source: plugin:users-permissions, pr: enhancement

#21550 fix: <svg> attribute width="<N>rem" errors in Safari
  packages/core/admin/admin/src/components/LeftMenu.tsx
  packages/core/admin/admin/src/components/Onboarding.tsx
Labels: source: core:admin, pr: fix, community

#21555 feat: base files for static preview
  packages/core/content-manager/server/src/controllers/index.ts
  packages/core/content-manager/server/src/preview/controllers/index.ts
  packages/core/content-manager/server/src/preview/controllers/preview.ts
  packages/core/content-manager/server/src/preview/index.ts
  packages/core/content-manager/server/src/preview/routes/index.ts
  packages/core/content-manager/server/src/preview/routes/preview.ts
  packages/core/content-manager/server/src/preview/services/index.ts
  packages/core/content-manager/server/src/preview/services/preview.ts
  packages/core/content-manager/server/src/preview/utils.ts
  packages/core/content-manager/server/src/routes/index.ts
  packages/core/content-manager/server/src/services/index.ts
Labels: source: core:content-manager, pr: feature

#21497 feat(content-releases): add stage check to releases details page
  packages/core/content-manager/admin/src/pages/EditView/EditViewPage.tsx
  packages/core/content-releases/admin/src/components/EntryValidationPopover.tsx
  packages/core/content-releases/admin/src/components/tests/EntryValidationPopover.test.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/package.json
  packages/core/content-releases/server/src/controllers/release-action.ts
  packages/core/content-releases/server/src/services/release-action.ts
  packages/core/content-releases/shared/contracts/release-actions.ts
  tests/api/core/review-workflows/review-workflows.test.api.ts
  tests/e2e/tests/content-releases/release-details-page.spec.ts
  yarn.lock
Labels: pr: feature, source: core:content-releases

#21540 fix: validation issues in the Users & Permissions plugin
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/schema.test.js
  packages/plugins/users-permissions/admin/src/pages/Providers/tests/schema.test.js
  packages/plugins/users-permissions/admin/src/pages/Providers/utils/forms.js
Labels: source: plugin:users-permissions, pr: fix, community

#21557 Fix Internal Plugin Resolve Path
  packages/core/core/src/loaders/plugins/get-enabled-plugins.ts
Labels: pr: fix, source: core:core

#21549 Add Back the Deprecated Shared Populate Option for Morph Links
  packages/core/types/src/modules/documents/params/populate.ts
  packages/core/types/src/schema/attribute/definitions/component.ts
  packages/core/types/src/schema/attribute/definitions/media.ts
  packages/core/types/src/utils/expression.ts
  packages/core/types/src/utils/index.ts
  packages/core/utils/src/convert-query-params.ts
Labels: source: core:utils, pr: enhancement

#21588 fix: v5 migration with wrong enum values
  packages/core/core/src/migrations/database/5.0.0-discard-drafts.ts
  packages/core/core/src/services/document-service/common.ts
  packages/core/core/src/services/document-service/entries.ts
  packages/core/core/src/services/document-service/index.ts
  packages/core/core/src/services/document-service/repository.ts
Labels: pr: fix, source: core:core

#21582 fix: rename file to remove spec char reserved on windows
  packages/core/review-workflows/admin/src/router.tsx
  packages/core/review-workflows/admin/src/routes/settings/id.tsx
Labels: pr: fix, source: core:review-workflows

#21554 chore: migrate media-library hooks to Typescript
  packages/core/upload/admin/src/hooks/__mocks__/useAssets.ts
  packages/core/upload/admin/src/hooks/__mocks__/useBulkMove.ts
  packages/core/upload/admin/src/hooks/__mocks__/useBulkRemove.ts
  packages/core/upload/admin/src/hooks/__mocks__/useConfig.ts
  packages/core/upload/admin/src/hooks/__mocks__/useEditFolder.ts
  packages/core/upload/admin/src/hooks/__mocks__/useFolder.ts
  packages/core/upload/admin/src/hooks/__mocks__/useFolderStructure.ts
  packages/core/upload/admin/src/hooks/__mocks__/useFolders.ts
  packages/core/upload/admin/src/hooks/__mocks__/useMediaLibraryPermissions.ts
  packages/core/upload/admin/src/hooks/__mocks__/useModalQueryParams.ts
  packages/core/upload/admin/src/hooks/tests/useAssets.test.ts
  packages/core/upload/admin/src/hooks/tests/useBulkMove.test.ts
  packages/core/upload/admin/src/hooks/tests/useBulkRemove.test.ts
  packages/core/upload/admin/src/hooks/tests/useConfig.test.ts
  packages/core/upload/admin/src/hooks/tests/useEditFolder.test.ts
  packages/core/upload/admin/src/hooks/tests/useFolder.test.ts
  packages/core/upload/admin/src/hooks/tests/useFolderStructure.test.tsx
  packages/core/upload/admin/src/hooks/tests/useFolders.test.ts
  packages/core/upload/admin/src/hooks/tests/useModalQueryParams.test.ts
  packages/core/upload/admin/src/hooks/tests/useRemoveAsset.test.tsx
  packages/core/upload/admin/src/hooks/useAssets.ts
  packages/core/upload/admin/src/hooks/useBulkMove.ts
  packages/core/upload/admin/src/hooks/useBulkRemove.ts
  packages/core/upload/admin/src/hooks/useConfig.ts
  packages/core/upload/admin/src/hooks/useCropImg.ts
  packages/core/upload/admin/src/hooks/useEditAsset.js
  packages/core/upload/admin/src/hooks/useEditAsset.ts
  packages/core/upload/admin/src/hooks/useEditFolder.js
  packages/core/upload/admin/src/hooks/useEditFolder.ts
  packages/core/upload/admin/src/hooks/useFolder.ts
  packages/core/upload/admin/src/hooks/useFolderStructure.ts
  packages/core/upload/admin/src/hooks/useFolders.ts
  packages/core/upload/admin/src/hooks/useMediaLibraryPermissions.ts
  packages/core/upload/admin/src/hooks/useModalQueryParams.js
  packages/core/upload/admin/src/hooks/useModalQueryParams.ts
  packages/core/upload/admin/src/hooks/useRemoveAsset.js
  packages/core/upload/admin/src/hooks/useRemoveAsset.ts
  packages/core/upload/admin/src/hooks/useUpload.ts
  packages/core/upload/admin/src/hooks/utils/rename-keys.js
  packages/core/upload/admin/src/hooks/utils/rename-keys.ts
  packages/core/upload/admin/src/hooks/utils/tests/rename-keys.test.ts
  packages/core/upload/admin/src/newConstants.ts
  packages/core/upload/admin/src/translations/tests/plural.test.ts
  packages/core/upload/shared/contracts/files.ts
  packages/core/upload/shared/contracts/folders.ts
Labels: source: core:upload, pr: chore

#21559 fix: history trying to restore components that were deleted
  packages/core/content-manager/server/src/history/services/utils.ts
  tests/api/core/content-manager/content-manager/history/history.test.api.ts
Labels: source: core:content-manager, pr: fix

#21578 fix: copy button shown on v4 plugins
  packages/core/admin/admin/src/pages/Marketplace/components/NpmPackageCard.tsx
  packages/core/admin/admin/src/pages/Marketplace/tests/MarketplacePage.test.tsx
Labels: pr: fix, source: marketplace

#21465 feat(cli): add environment list command to cloud cli
  packages/cli/cloud/src/cloud/command.ts
  packages/cli/cloud/src/environment/command.ts
  packages/cli/cloud/src/environment/list/action.ts
  packages/cli/cloud/src/environment/list/command.ts
  packages/cli/cloud/src/environment/list/index.ts
  packages/cli/cloud/src/index.ts
  packages/cli/cloud/src/services/cli-api.ts
  packages/cli/cloud/src/types.ts
Labels: source: cli, pr: feature

#21616 fix: history cron job breaking on mysql
  packages/core/content-manager/server/src/history/services/__tests__/lifecycles.test.ts
  packages/core/content-manager/server/src/history/services/lifecycles.ts
Labels: source: core:content-manager, pr: fix

#21606 fix: wrong jobs value after removing a task
  packages/core/core/src/services/cron.ts
Labels: pr: fix, source: core:core

#21467 enhancement: add support for Node 22
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/actions/check-pr-status/README.md
  .github/workflows/tests.yml
  CONTRIBUTING.md
  examples/experimental-dev/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/todo-example/package.json
  package.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-app/src/utils/database.ts
  packages/cli/create-strapi-app/src/utils/engines.ts
  packages/cli/create-strapi/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/core/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/permissions/package.json
  packages/core/review-workflows/package.json
  packages/core/strapi/README.md
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/logger/package.json
  packages/utils/typescript/package.json
  packages/utils/upgrade/package.json
  packages/utils/upgrade/resources/codemods/5.0.0/sqlite3-to-better-sqlite3.json.ts
  packages/utils/upgrade/resources/codemods/5.1.0/dependency-better-sqlite3.json.ts
  packages/utils/upgrade/src/modules/project/project.ts
  tests/cli/app-template/package.json
  tests/e2e/app-template/package.json
  yarn.lock
Labels: source: tooling, pr: enhancement

#21627 fix: Removed back button from Role page
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/ListPage/index.jsx
Labels: source: plugin:users-permissions, pr: fix, community

#21501 fix: loading relations without DP fails after migrating to v5
  packages/core/core/src/services/document-service/transform/__tests__/id-map.test.ts
  packages/core/core/src/services/document-service/transform/id-map.ts
  packages/core/database/src/migrations/internal-migrations/5.0.0-04-published-at.ts
Labels: source: core:database, pr: fix, source: core:core, fix:5

#21740 fix: test CI/CD building repo 2 times
  .github/workflows/tests.yml
Labels: source: tooling, pr: fix

#21630 fix: changed empty components wording
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Initializer.tsx
  packages/core/content-manager/admin/src/translations/en.json
  packages/core/content-manager/admin/src/translations/es.json
  packages/core/content-manager/admin/src/translations/fr.json
  packages/core/content-manager/admin/src/translations/ja.json
  tests/e2e/tests/content-manager/uniqueness.spec.ts
Labels: source: core:admin, pr: fix

#21776 enhancement: add preview panel button
  packages/core/content-manager/admin/src/preview/components/PreviewSidePanel.tsx
  packages/core/content-manager/admin/src/preview/index.ts
  packages/core/content-manager/admin/src/preview/services/preview.ts
  packages/core/content-manager/admin/src/translations/en.json
Labels: source: core:content-manager, pr: enhancement

#21770 chore: add test workflow filters for each test type
  .github/filters.yaml
  .github/workflows/skipped_tests.yml
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#21751 Upgrade Tool - Enhanced Logging, and Improved Error Handling
  packages/utils/upgrade/src/modules/error/utils.ts
  packages/utils/upgrade/src/modules/format/formats.ts
  packages/utils/upgrade/src/modules/upgrader/upgrader.ts
  packages/utils/upgrade/src/tasks/upgrade/requirements/major.ts
  packages/utils/upgrade/src/tasks/upgrade/upgrade.ts
Labels: pr: enhancement, source: utils:upgrade

#21795 chore: upgrade mysql2 package
  examples/getstarted/package.json
  examples/kitchensink/package.json
  packages/cli/create-strapi-app/src/utils/database.ts
  yarn.lock
Labels: source: dependencies, pr: security

#21752 feat: add mapping property support for documentation plugin's open api generated docs
  packages/plugins/documentation/server/src/services/helpers/utils/clean-schema-attributes.ts
Labels: source: plugin:documentation, pr: enhancement, community

#21801 chore: fix mysql workflow
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#21802 chore: upgrade koa/router to 12.0.2
  packages/core/core/package.json
  packages/core/types/package.json
  templates/website/yarn.lock
  yarn.lock
Labels: source: dependencies, pr: security

#21745 Update "upgrade major" rules
  packages/utils/upgrade/src/modules/error/utils.ts
  packages/utils/upgrade/src/modules/format/formats.ts
  packages/utils/upgrade/src/modules/upgrader/upgrader.ts
  packages/utils/upgrade/src/modules/version/__tests__/range.test.ts
  packages/utils/upgrade/src/modules/version/range.ts
  packages/utils/upgrade/src/tasks/upgrade/requirements/major.ts
  packages/utils/upgrade/src/tasks/upgrade/upgrade.ts
Labels: pr: enhancement, flag: documentation, source: utils:upgrade

#21800 fix: broken list view pagination
  packages/core/content-manager/admin/src/services/documents.ts
  tests/e2e/tests/content-manager/listview.spec.ts
Labels: source: core:content-manager, pr: fix

#21780 enhancement: add copy preview url button
  packages/core/admin/admin/src/index.ts
  packages/core/content-manager/admin/src/preview/components/PreviewSidePanel.tsx
  packages/core/content-manager/admin/src/preview/index.ts
  packages/core/content-manager/admin/src/translations/en.json
  packages/core/upload/admin/src/components/CopyLinkButton/index.jsx
  packages/core/upload/admin/src/hooks/tests/useClipboard.test.ts
  packages/core/upload/admin/src/hooks/useClipboard.ts
Labels: source: core:content-manager, pr: enhancement

#21754 Add <latest> Upgrade Command
  packages/utils/upgrade/src/cli/commands/upgrade.ts
  packages/utils/upgrade/src/cli/errors.ts
  packages/utils/upgrade/src/modules/error/utils.ts
  packages/utils/upgrade/src/modules/upgrader/types.ts
  packages/utils/upgrade/src/modules/upgrader/upgrader.ts
  packages/utils/upgrade/src/modules/version/__tests__/range.test.ts
  packages/utils/upgrade/src/modules/version/__tests__/semver.test.ts
  packages/utils/upgrade/src/modules/version/range.ts
  packages/utils/upgrade/src/modules/version/types.ts
  packages/utils/upgrade/src/tasks/__tests__/codemods.test.ts
  packages/utils/upgrade/src/tasks/codemods/utils.ts
  packages/utils/upgrade/src/tasks/upgrade/prompts/index.ts
  packages/utils/upgrade/src/tasks/upgrade/prompts/latest.ts
  packages/utils/upgrade/src/tasks/upgrade/upgrade.ts
Labels: pr: feature, flag: documentation, source: utils:upgrade

#21495 Make locale/localizations private for non-localized cts
  packages/plugins/i18n/server/src/register.ts
  packages/plugins/i18n/server/src/services/index.ts
  packages/plugins/i18n/server/src/services/sanitize/index.ts
  packages/plugins/i18n/server/src/utils/index.ts
  packages/plugins/users-permissions/server/controllers/role.js
  tests/api/core/content-manager/search.test.api.js
  tests/api/core/strapi/api/sort/sort.test.api.ts
  tests/api/core/strapi/api/validate/validate-query.test.api.js
Labels: source: plugin:i18n, pr: fix

#21797 chore: upgrade sendgrid-mail to 8.1.3
  packages/providers/email-sendgrid/package.json
  yarn.lock
Labels: source: dependencies, pr: security

#21580 fix(strapi/types): type Attribute.column
  packages/core/types/src/types/core/attributes/base.ts
Labels: pr: enhancement, source: typescript, fix:4, community

#21739 chore: re-enable history e2e tests
  tests/e2e/tests/content-manager/history.spec.ts
Labels: pr: chore, source: e2e-tests

#21612 feat(content-releases): considered review stage when getting the action status
  examples/getstarted/src/api/category/content-types/category/schema.json
  packages/core/content-releases/admin/src/components/EntryValidationPopover.tsx
  packages/core/content-releases/admin/src/components/tests/EntryValidationPopover.test.tsx
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/server/src/middlewares/documents.ts
  packages/core/content-releases/server/src/services/release-action.ts
  packages/core/content-releases/server/src/utils/index.ts
  packages/core/content-releases/shared/contracts/release-actions.ts
  packages/core/content-type-builder/admin/src/components/FormModal/FormModal.tsx
  packages/core/content-type-builder/admin/src/components/FormModal/contentType/createContentTypeSchema.ts
  packages/core/content-type-builder/server/src/controllers/validation/model-schema.ts
  packages/core/review-workflows/server/src/services/workflows.ts
  tests/api/core/review-workflows/review-workflows-content-types.test.api.ts
  tests/api/core/review-workflows/review-workflows-stage-permissions.test.api.ts
  tests/api/core/review-workflows/review-workflows-webhooks.test.api.ts
  tests/api/core/review-workflows/review-workflows.test.api.ts
Labels: pr: feature, source: core:content-releases

#21873 fix: search by numeric numbers in a relation
  packages/core/database/src/query/helpers/where.ts
Labels: source: core:database, pr: fix

#21878 fix: validation message errors
  packages/core/content-releases/admin/src/components/EntryValidationPopover.tsx
Labels: pr: fix, source: core:content-releases

#21868 Sort Generated Content-Types and Components Definitions
  packages/utils/typescript/lib/generators/common/imports.js
  packages/utils/typescript/lib/generators/common/models/schema.js
  packages/utils/typescript/lib/generators/common/models/utils.js
  packages/utils/typescript/lib/generators/components/index.js
  packages/utils/typescript/lib/generators/content-types/index.js
Labels: pr: enhancement, source: typescript

#21897 feat: add workflowId & hasRequiredStageToPublish to workflows metrics
  packages/core/review-workflows/server/src/services/metrics/index.ts
  packages/core/review-workflows/server/src/services/workflows.ts
Labels: pr: feature, source: core:review-workflows

#21858 fix(strapi/types): add Attribute column type
  packages/core/types/src/schema/attribute/base.ts
Labels: pr: enhancement, source: typescript

#21266 fix: wrong jobs value after removing a task
  packages/core/strapi/src/services/cron.ts
Labels: pr: fix, source: core:core, community

#21913 chore: add preview tracking
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewSidePanel.tsx
Labels: source: core:content-manager, pr: chore

#21798 chore: upgrade plop to 4.0.1
  package.json
  packages/generators/generators/package.json
  packages/generators/generators/src/index.ts
  packages/generators/generators/src/plopfile.ts
  packages/generators/generators/src/plops/api.ts
  packages/generators/generators/src/plops/content-type.ts
  packages/generators/generators/src/plops/controller.ts
  packages/generators/generators/src/plops/middleware.ts
  packages/generators/generators/src/plops/migration.ts
  packages/generators/generators/src/plops/policy.ts
  packages/generators/generators/src/plops/service.ts
  yarn.lock
Labels: source: dependencies, pr: security

#21833 chore: upgrade cookie to 0.7.1
  .github/filters.yaml
  docs/yarn.lock
  templates/website/yarn.lock
  yarn.lock
Labels: source: dependencies, pr: security

#21927 enhancement: Sort Generated Content-Types and Components Definitions (#21868)
  packages/utils/typescript/lib/generators/common/imports.js
  packages/utils/typescript/lib/generators/common/models/schema.js
  packages/utils/typescript/lib/generators/common/models/utils.js
  packages/utils/typescript/lib/generators/components/index.js
  packages/utils/typescript/lib/generators/content-types/index.js
Labels: pr: enhancement, source: typescript

#21900 feat: DTS assert count of items sent and received is equal
  packages/core/data-transfer/src/strapi/providers/remote-destination/index.ts
  packages/core/data-transfer/src/strapi/remote/handlers/push.ts
  packages/core/data-transfer/types/remote/protocol/client/transfer/push.d.ts
Labels: pr: enhancement, source: core:data-transfer

#21855 fix: order when loading more than 10 relations
  packages/core/content-manager/admin/src/services/relations.ts
Labels: source: core:content-manager, pr: fix

#21947 fix: api state not cleared on logout
  packages/core/admin/admin/src/features/Auth.tsx
Labels: source: core:admin, pr: fix, version: 4

#20871 feat(documentation): add /openapi.json route (strapi/documentation#2143)
  packages/plugins/documentation/server/controllers/documentation.js
  packages/plugins/documentation/server/routes/index.js
  packages/plugins/documentation/tests/server.js
Labels: pr: enhancement, flag: documentation, community

#21966 chore: re-enable blocks e2e test
  tests/e2e/tests/content-manager/blocks.spec.ts
Labels: pr: chore, source: e2e-tests

#21849 chore: add isHostedOnCloud property in NPS request
  packages/core/admin/admin/src/components/NpsSurvey.tsx
Labels: source: core:admin, pr: chore

#20167 fix: checking for relation type existence
  packages/core/database/src/query/helpers/populate/apply.ts
Labels: source: core:database, pr: fix, community

#21980 fix(e2e): enable e2e bulk action tests in listview.spec.ts
  tests/e2e/tests/content-manager/listview.spec.ts
Labels: pr: fix, source: e2e-tests

#21983 enhancement: add preview page header
  packages/core/content-manager/admin/src/history/components/VersionsList.tsx
  packages/core/content-manager/admin/src/pages/EditView/EditViewPage.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentStatus.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
  packages/core/content-manager/admin/src/translations/en.json
  tests/e2e/tests/content-manager/preview.spec.ts
Labels: source: core:content-manager, pr: enhancement

#21547 feat: fix filters attribute name
  packages/core/utils/src/__tests__/query-populate.test.ts
  packages/core/utils/src/sanitize/sanitizers.ts
  packages/core/utils/src/traverse-entity.ts
  packages/core/utils/src/traverse/factory.ts
  packages/core/utils/src/traverse/query-filters.ts
  packages/core/utils/src/traverse/query-populate.ts
  packages/core/utils/src/traverse/query-sort.ts
  packages/core/utils/src/validate/validators.ts
  tests/api/core/strapi/api/populate/filtering/index.test.api.js
Labels: source: core:utils, pr: fix

#21938 fix: releases page e2e
  playwright.base.config.js
  tests/e2e/tests/content-releases/releases-page.spec.ts
Labels: pr: chore, source: core:content-releases

#21941 fix(typescript): declare modules used in @strapi/strapi
  packages/core/strapi/src/admin.ts
  packages/core/strapi/src/types/index.d.ts
Labels: pr: enhancement, source: typescript, community

#21430 fix: single type name not applied in the content manager
  packages/core/content-manager/admin/src/pages/EditView/EditViewPage.tsx
  tests/e2e/tests/content-manager/editview.spec.ts
Labels: source: core:content-manager, pr: fix, community

#22010 fix(e2e): update blocks e2e tests
  tests/e2e/tests/content-manager/blocks.spec.ts
Labels: pr: fix, source: e2e-tests

#22008 feat: preview content in an iframe
  examples/getstarted/config/middlewares.js
  packages/core/content-manager/admin/src/preview/components/PreviewContent.tsx
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
Labels: pr: feature, source: core:preview

#21951 fix(content-manager): translate content-type fields in List and Edit …
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/NonRepeatable.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Repeatable.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/DynamicComponent.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormLayout.tsx
  packages/core/content-manager/admin/src/pages/ListView/ListViewPage.tsx
Labels: source: core:content-manager, pr: fix

#21984 fix: review workflow persist data
  packages/core/admin/ee/server/src/bootstrap.ts
  packages/core/admin/ee/server/src/services/__tests__/persisted-tables.test.ts
  packages/core/admin/ee/server/src/services/index.ts
  packages/core/admin/ee/server/src/services/persist-tables.ts
  packages/core/review-workflows/server/src/register.ts
Labels: pr: fix, source: core:review-workflows

#22030 v4.25.15
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/workspace-plugin/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#22027 fix: preview close button
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
Labels: pr: fix, source: core:preview

#21898 Feat(cloud-cli): deploy command allows environment to be passed
  packages/cli/cloud/src/cloud/command.ts
  packages/cli/cloud/src/deploy-project/action.ts
  packages/cli/cloud/src/deploy-project/command.ts
  packages/cli/cloud/src/environment/command.ts
  packages/cli/cloud/src/environment/list/command.ts
  packages/cli/cloud/src/services/cli-api.ts
Labels: source: cli, pr: feature
