Repository strapi/strapi, pull requests merged in 2024-08, with the labels that each got.

#20919 v4.25.6 to main
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/workspace-plugin/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/email/server/src/bootstrap.ts
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#20918 v4.25.6 to develop
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/workspace-plugin/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#20920 v5.0.0-rc.8 to v5/main
  .github/actions/check-pr-status/package.json
  examples/experimental-dev/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/workspace-plugin/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/core/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/permissions/package.json
  packages/core/review-workflows/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  packages/utils/upgrade/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#20923 fix(cli): Update 'project not found' error message in deploy command
  packages/cli/cloud/src/deploy-project/action.ts
Labels: source: cli, pr: fix

#20926 chore: delete api tests for deleted review workflows route
  tests/api/core/review-workflows/review-workflows-content-types.test.api.ts
  tests/api/core/review-workflows/review-workflows.test.api.ts
Labels: pr: chore, source: core:review-workflows

#20929 chore: use "workspace:*" version for all internal dependencies
  examples/experimental-dev/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/workspace-plugin/package.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/core/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/permissions/package.json
  packages/core/review-workflows/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/logger/package.json
  packages/utils/upgrade/package.json
  yarn.lock
Labels: pr: chore, source: core:core

#20691 Fix Failing E2E Tests
  packages/core/content-manager/admin/src/pages/EditView/EditViewPage.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/PublishAction.tsx
  packages/core/content-manager/admin/src/utils/validation.ts
  packages/core/content-type-builder/admin/src/components/DraftAndPublishToggle.tsx
  tests/e2e/tests/content-manager/blocks.spec.ts
  tests/e2e/tests/content-manager/cloning.spec.ts
  tests/e2e/tests/content-manager/editview.spec.ts
  tests/e2e/tests/content-manager/history.spec.ts
  tests/e2e/tests/content-manager/listview.spec.ts
  tests/e2e/tests/content-releases/release-details-page.spec.ts
  tests/e2e/tests/content-releases/releases-page.spec.ts
  tests/e2e/tests/content-type-builder/collection-type/create-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/create-single-type.spec.ts
  tests/e2e/tests/i18n/editview.spec.ts
  tests/e2e/tests/i18n/settings.spec.ts
Labels: pr: fix, source: e2e-tests

#20942 chore: aggregate test result to add a single required status check an…
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#20941 fix: policies registry returns same data types as other registries
  packages/core/core/src/registries/__tests__/policies.test.ts
  packages/core/core/src/registries/policies.ts
Labels: source: core:strapi, pr: fix

#20878 RBAC Action Aliases - v5
  packages/core/admin/server/src/config/admin-actions.ts
  packages/core/admin/server/src/domain/action/__tests__/action-provider.test.ts
  packages/core/admin/server/src/domain/action/index.ts
  packages/core/admin/server/src/domain/action/provider.ts
  packages/core/admin/server/src/domain/condition/__tests__/condition-provider.test.ts
  packages/core/admin/server/src/validation/action-provider.ts
  packages/core/admin/server/src/validation/common-validators.ts
  packages/core/content-manager/server/.eslintrc
  packages/core/content-manager/server/src/controllers/relations.ts
  packages/core/content-manager/server/src/policies/hasPermissions.ts
  packages/core/content-manager/server/src/services/permission-checker.ts
  packages/core/core/src/middlewares/query.ts
  packages/core/utils/src/__tests__/provider-factory.test.ts
  packages/core/utils/src/provider-factory.ts
  packages/plugins/i18n/server/src/services/permissions/actions.ts
  packages/plugins/users-permissions/server/bootstrap/users-permissions-actions.js
  tests/api/core/content-manager/api/relations-permissions.test.api.js
Labels: source: core:admin, pr: feature, echoes: feature

#20950 chore: v5/main workflows
  .github/workflows/checks.yml
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#20914 shard ee tests+ fix broken platform
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#20912 Fix relations for shortened contentTypes
  packages/core/database/src/metadata/relations.ts
Labels: source: core:database, pr: fix, echoes: bug

#20952 chore: add aggregate test result to v5
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#20892 fix: draft validations
  packages/core/core/src/services/entity-validator/__tests__/biginteger-validators.test.ts
  packages/core/core/src/services/entity-validator/__tests__/date-validators.test.ts
  packages/core/core/src/services/entity-validator/__tests__/datetime-validators.test.ts
  packages/core/core/src/services/entity-validator/__tests__/email-validators.test.ts
  packages/core/core/src/services/entity-validator/__tests__/float-validators.test.ts
  packages/core/core/src/services/entity-validator/__tests__/integer-validators.test.ts
  packages/core/core/src/services/entity-validator/__tests__/string-validators.test.ts
  packages/core/core/src/services/entity-validator/__tests__/time-validators.test.ts
  packages/core/core/src/services/entity-validator/__tests__/timestamp-validators.test.ts
  packages/core/core/src/services/entity-validator/__tests__/uid-validators.test.ts
  packages/core/core/src/services/entity-validator/validators.ts
  tests/api/core/strapi/document-service/uniqueness.test.api.ts
  tests/e2e/tests/content-manager/uniqueness.spec.ts
Labels: source: core:content-manager, pr: fix

#20954 RBAC Action Aliases - v4
  packages/core/admin/server/src/config/admin-actions.ts
  packages/core/admin/server/src/domain/action/__tests__/action-provider.test.ts
  packages/core/admin/server/src/domain/action/index.ts
  packages/core/admin/server/src/domain/action/provider.ts
  packages/core/admin/server/src/domain/condition/__tests__/condition-provider.test.ts
  packages/core/admin/server/src/validation/action-provider.ts
  packages/core/admin/server/src/validation/common-validators.ts
  packages/core/content-manager/server/src/controllers/__tests__/relations.test.ts
  packages/core/content-manager/server/src/controllers/relations.ts
  packages/core/content-manager/server/src/policies/hasPermissions.ts
  packages/core/content-manager/server/src/services/permission-checker.ts
  packages/core/utils/src/__tests__/provider-factory.test.ts
  packages/core/utils/src/provider-factory.ts
  packages/plugins/i18n/server/src/services/permissions/actions.ts
  packages/plugins/users-permissions/server/bootstrap/users-permissions-actions.js
  tests/api/core/content-manager/api/relations-permissions.test.api.js
Labels: source: core:admin, pr: feature, echoes: feature

#20949 test(cli): add list command tests
  packages/core/data-transfer/package.json
  packages/core/strapi/package.json
  packages/utils/typescript/package.json
  tests/cli/tests/strapi/strapi/content-types-list.test.cli.js
  tests/cli/tests/strapi/strapi/controllers-list.test.cli.js
  tests/cli/tests/strapi/strapi/hooks-list.test.cli.js
  tests/cli/tests/strapi/strapi/middlewares-list.test.cli.js
  tests/cli/tests/strapi/strapi/policies-list.test.cli.js
  tests/cli/tests/strapi/strapi/routes-list.test.cli.js
  tests/cli/tests/strapi/strapi/services-list.test.cli.js
  tests/cli/tests/strapi/strapi/version.test.cli.js
  tests/cli/utils/helpers.js
  tests/cli/utils/index.js
  tests/scripts/run-cli-tests.js
  yarn.lock
Labels: pr: enhancement, source: e2e-tests

#20960 Add codemod for react and react-dom
  packages/utils/upgrade/resources/codemods/5.0.0/dependency-upgrade-react-and-react-dom.json.ts
Labels: pr: enhancement, source: utils:upgrade

#20930 enhancement: move installed plugins page to settings
  packages/core/admin/admin/src/constants.ts
  packages/core/admin/admin/src/hooks/useMenu.ts
  packages/core/admin/admin/src/pages/Settings/constants.ts
  packages/core/admin/admin/src/pages/Settings/pages/InstalledPlugins.tsx
  packages/core/admin/admin/src/router.tsx
  packages/core/admin/admin/src/types/permissions.ts
  packages/core/admin/shared/contracts/admin.ts
Labels: source: core:admin, pr: enhancement

#20959 feat(cloud-cli): preselect node-version based on local node-version
  packages/cli/cloud/src/create-project/action.ts
  packages/cli/cloud/src/create-project/utils/__tests__/apply-default-name.test.ts
  packages/cli/cloud/src/create-project/utils/__tests__/project-questions.test.ts
  packages/cli/cloud/src/create-project/utils/apply-default-name.ts
  packages/cli/cloud/src/create-project/utils/project-questions.utils.ts
Labels: source: cli, pr: enhancement

#20958 fix(content-manager): dont perform unnecessary requests
  packages/core/content-manager/admin/src/pages/ListView/components/TableActions.tsx
Labels: source: core:content-manager, pr: fix

#20922 fix: uid availability check
  packages/core/admin/admin/src/components/Form.tsx
  packages/core/admin/admin/src/components/FormInputs/Email.tsx
  packages/core/admin/admin/src/components/FormInputs/Number.tsx
  packages/core/admin/admin/src/components/FormInputs/Password.tsx
  packages/core/admin/admin/src/components/FormInputs/String.tsx
  packages/core/admin/admin/src/components/FormInputs/Textarea.tsx
  packages/core/content-manager/admin/src/hooks/useDocumentActions.ts
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/UID.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/tests/UID.test.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/TableActions.tsx
  packages/core/content-manager/admin/src/services/api.ts
  packages/core/content-manager/admin/src/services/documents.ts
  packages/core/content-manager/admin/src/services/uid.ts
  packages/core/content-manager/admin/tests/server.ts
Labels: source: core:content-manager, pr: fix

#20963 [Fix] Validate cloning as entity creation so field validations aren't skipped e.g. unique constraints
  packages/core/strapi/src/services/entity-service/index.ts
  tests/e2e/tests/content-manager/cloning.spec.ts
Labels: source: core:strapi, pr: fix, fix:4

#20985 fix: don't check uniqueness for empty strings
  packages/core/core/src/services/entity-validator/validators.ts
  tests/api/core/strapi/document-service/uniqueness.test.api.ts
Labels: pr: fix, source: core:core

#20969 flatten tests
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#19585 test: add smoke test for settings menu
  tests/e2e/tests/settings/smoke-test.spec.ts
  tests/e2e/utils/shared.ts
Labels: source: tooling, pr: chore

#20975 Add lifecycles when transforming contentTypes to models
  packages/core/core/src/utils/__tests__/transform-content-types-to-models.test.ts
  packages/core/core/src/utils/transform-content-types-to-models.ts
Labels: pr: fix, source: core:core

#20973 fix(content-manager): dont count draft relations on the list view
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
Labels: source: core:content-manager, pr: fix, fix:5

#21013 feat: release rc 10
  .github/actions/check-pr-status/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/core/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/permissions/package.json
  packages/core/review-workflows/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  packages/utils/upgrade/package.json
  scripts/front/package.json
Labels: pr: chore, source: core:core

#21017 Removing workflows the support team doesn't need anymore
  .github/workflows/addToProject.yml
  .github/workflows/issues_handleLabel.yml
Labels: source: tooling, pr: chore

#21007 V5 lifecycles codemods
  packages/utils/upgrade/resources/codemods/5.0.0/comment-out-lifecycle-files.code.ts
Labels: pr: enhancement, source: utils:upgrade

#21025 change useAPIErrorHandler import to `@strapi/strapi/admin` codemod
  packages/utils/upgrade/resources/codemods/5.0.0/change-useAPIErrorHandler-import.code.ts
Labels: pr: enhancement, source: utils:upgrade

#21023 Add codemod for useRBAC import statement
  packages/utils/upgrade/resources/codemods/5.0.0/change-useAPIErrorHandler-import.code.ts
  packages/utils/upgrade/resources/codemods/5.0.0/useRBAC-hook-import-change.code.ts
  packages/utils/upgrade/resources/utils/change-import.ts
  packages/utils/upgrade/src/modules/project/constants.ts
Labels: pr: enhancement, source: utils:upgrade

#20999 enhancement!: restrict strapi prefixes in CTB
  packages/core/content-type-builder/server/src/controllers/validation/__tests__/component.test.ts
  packages/core/content-type-builder/server/src/controllers/validation/__tests__/content-type.test.ts
  packages/core/content-type-builder/server/src/controllers/validation/content-type.ts
  packages/core/content-type-builder/server/src/controllers/validation/model-schema.ts
  packages/core/content-type-builder/server/src/services/builder.ts
  packages/core/content-type-builder/server/src/services/constants.ts
  tests/api/core/content-type-builder/collection-type.test.api.js
Labels: flag: 💥 Breaking change, source: core:content-type-builder, pr: enhancement

#21036 fix(e2e): i18n bulk actions
  tests/e2e/tests/i18n/editview.spec.ts
Labels: pr: fix, source: e2e-tests

#21043 test(front): enable skipped tests
  packages/core/upload/admin/src/components/AssetCard/tests/AssetCardBase.test.jsx
  packages/core/upload/admin/src/components/FolderCard/tests/FolderCard.test.jsx
  packages/core/upload/admin/src/components/FolderCard/tests/__snapshots__/FolderCard.test.jsx.snap
Labels: source: core:strapi, pr: chore

#21047 chore: getstarted schema sync between v4-v5
  examples/getstarted/src/api/category/content-types/category/schema.json
  examples/getstarted/src/api/relation-locale/content-types/relation-locale/schema.json
Labels: pr: fix, source: core:core

#20976 Chore(CLI): Add validation to prevent deployment of suspended projects
  packages/cli/cloud/src/deploy-project/action.ts
  packages/cli/cloud/src/services/cli-api.ts
Labels: source: cli, pr: enhancement

#21050 fix: v5 migration does not link locales
  packages/core/database/src/migrations/internal-migrations/5.0.0-02-document-id.ts
Labels: source: core:database, pr: fix

#21044 chore: Disable draft relation counts
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/ConfirmBulkActionDialog.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/tests/ConfirmBulkActionDialog.test.tsx
  tests/e2e/tests/content-manager/editview.spec.ts
Labels: source: core:content-manager, pr: chore, version: 5

#21026 fix(content-manager): error when content type has no i18n enabled
  packages/core/content-manager/server/src/history/services/history.ts
  packages/core/content-manager/server/src/history/services/lifecycles.ts
  packages/core/content-manager/server/src/history/services/utils.ts
  tests/api/core/content-manager/content-manager/history/history.test.api.ts
Labels: source: core:content-manager, pr: fix

#21033 Fix Upgrade Tool Targeted Files For Plugins
  packages/utils/upgrade/src/modules/format/formats.ts
  packages/utils/upgrade/src/modules/project/__tests__/project.test.ts
  packages/utils/upgrade/src/modules/project/constants.ts
  packages/utils/upgrade/src/modules/project/project.ts
  packages/utils/upgrade/src/modules/project/types.ts
  packages/utils/upgrade/src/tasks/__tests__/codemods.test.ts
  packages/utils/upgrade/src/tasks/codemods/list-codemods.ts
  packages/utils/upgrade/src/tasks/codemods/run-codemods.ts
  packages/utils/upgrade/src/tasks/upgrade/upgrade.ts
Labels: pr: fix, source: utils:upgrade

#21060 Update Readme and Security docs for Strapi 5
  README.md
  SECURITY.md
Labels: source: docs, pr: doc

#21052 fix(cli): Update endpoint path for listLinkProjects
  packages/cli/cloud/src/services/cli-api.ts
Labels: source: cli, pr: chore

#20900 Fix: #17067 Discord Auth not assigning username correctly
  packages/plugins/users-permissions/server/services/providers-registry.js
Labels: source: plugin:users-permissions, pr: fix, community

#21051 fix(content-manager): pass components data to format function for edit layout
  packages/core/content-manager/admin/src/hooks/useDocumentLayout.ts
Labels: source: core:content-manager, pr: fix

#21075 chore: update lint-staged to 15.2.9
  docs/yarn.lock
  package.json
  yarn.lock
Labels: source: tooling, pr: chore

#21077 fix: uncheck files on Media Library
  packages/core/upload/admin/src/hooks/useSelectionState.ts
Labels: source: core:upload, pr: fix

#21081 chore: remove missing workflow dep
  .github/workflows/skipped_tests.yml
Labels: source: tooling, pr: chore

#21030 feat(i18n): add bulk unpublish locales edit view action
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/translations/en.json
  packages/core/content-manager/server/src/controllers/collection-types.ts
  packages/core/content-manager/shared/contracts/collection-types.ts
  packages/plugins/i18n/admin/src/components/BulkLocaleActionModal.tsx
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
  packages/plugins/i18n/admin/src/index.ts
  packages/plugins/i18n/admin/src/translations/en.json
  tests/e2e/tests/content-manager/editview.spec.ts
  tests/e2e/tests/i18n/editview.spec.ts
Labels: source: plugin:i18n, pr: feature, version: 5

#21080 fix: release errors not parsing nested errors
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
Labels: pr: fix, source: core:content-releases

#21082 chore: fix vercel contributor-docs deploy errors
  .github/filters.yaml
  .github/workflows/adminBundleSize.yml
  .github/workflows/issues_handleLabel.yml
  docs/yarn.lock
  packages/admin-test-utils/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/strapi/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#21088 fix: multiple v5 issues
  packages/core/content-manager/admin/src/components/ConfigurationForm/Fields.tsx
  packages/core/content-manager/admin/src/layout.tsx
  packages/core/upload/admin/src/components/UploadAssetDialog/AddAssetStep/FromUrlForm.jsx
Labels: source: core:content-manager, pr: fix

#21065 chore: remove helper plugin migration guide from monorepo
  .github/workflows/skipped_tests.yml
  HELPER_PLUGIN_MIGRATION_GUIDE.md
Labels: source: docs, pr: chore, version: 5

#21096 fix: issue 21079
  packages/core/admin/admin/src/content-manager/pages/ListView/components/AdminUsersFilter.tsx
  packages/core/admin/shared/contracts/user.ts
Labels: source: core:content-manager, pr: fix

#21099 fix: issue 21079 on v5
  packages/core/admin/shared/contracts/user.ts
  packages/core/content-manager/admin/src/pages/ListView/components/Filters.tsx
Labels: source: core:content-manager, pr: fix

#21102 fix: rich text selection & deletion issues
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksContent.tsx
Labels: source: core:content-manager, pr: fix

#21107 chore(e2e): cover ctb tab state management
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
Labels: source: e2e-tests

#21103 fix: admin path not taken into account on build & security middleware
  packages/core/core/src/middlewares/__tests__/security.test.ts
  packages/core/core/src/middlewares/security.ts
  packages/core/strapi/src/node/vite/plugins.ts
Labels: source: core:strapi, pr: fix

#21109 fix: draft tag color & release menu icons size
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentStatus.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
Labels: source: core:content-manager, pr: fix

#21101 fix: ctb configure view invalid permission check
  packages/core/content-type-builder/admin/src/components/FormModal/FormModal.tsx
  packages/core/content-type-builder/admin/src/components/FormModalNavigationProvider/FormModalNavigationProvider.tsx
  packages/core/content-type-builder/admin/src/components/FormModalNavigationProvider/constants.ts
  packages/core/content-type-builder/admin/src/contexts/FormModalNavigationContext.ts
  packages/core/content-type-builder/admin/src/pages/ListView/LinkToCMSettingsView.tsx
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
Labels: source: core:content-type-builder, pr: fix

#21114 fix(content-manager): change buttons of dialog to have fullWidth
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
Labels: source: core:content-manager, pr: fix

#21009 feat(i18n): fill in from another locale
  packages/core/content-manager/admin/src/pages/EditView/components/Header.tsx
  packages/core/content-manager/server/src/controllers/collection-types.ts
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
  packages/plugins/i18n/admin/src/index.ts
  packages/plugins/i18n/admin/src/translations/en.json
  packages/plugins/i18n/admin/src/utils/clean.ts
Labels: source: plugin:i18n, pr: feature
