Repository strapi/strapi, pull requests merged in 2024-12, with the labels that each got.

#22321 add documentId to `me` graphql query
  packages/plugins/users-permissions/server/graphql/types/me.js
Labels: source: core:database, pr: enhancement, community

#22311 enhancement: cmd+enter and ctrl+enter to save entry
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  tests/e2e/tests/content-manager/editview.spec.ts
Labels: source: core:content-manager, pr: enhancement

#22324 fix(preview): page title and disabled link
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewSidePanel.tsx
  tests/e2e/tests/content-manager/preview.spec.ts
Labels: source: core:content-manager, pr: fix

#22325 test(e2e): add update and delete content type tests
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/edit-single-type.spec.ts
Labels: pr: chore, source: e2e-tests

#22195 chore: added french translations for blocks
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/es.json
  packages/core/admin/admin/src/translations/fr.json
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/Blocks/Link.tsx
Labels: source: core:admin, pr: chore

#22327 chore: comment out getstarted log
  examples/getstarted/src/middlewares/test-middleware.js
Labels: source: tooling, pr: chore

#21950 fix: Documentation plugin makes git changes in production
  packages/plugins/documentation/server/src/bootstrap.ts
Labels: source: plugin:documentation, pr: enhancement, community

#22334 fix: preview back button behavior
  packages/core/admin/admin/src/features/BackButton.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
Labels: source: core:content-manager, pr: fix

#22338 chore(homepage): move guided tour
  packages/core/admin/admin/src/pages/Home/HomePage.tsx
  packages/core/admin/admin/src/pages/Home/components/GuidedTour.tsx
  tests/e2e/tests/admin/home.spec.ts
Labels: source: core:admin, pr: chore

#21881 enhancement: Add Wolof and Xhosa languages
  packages/plugins/i18n/server/src/constants/iso-locales.json
  packages/plugins/i18n/server/src/services/__tests__/__snapshots__/iso-locales.test.ts.snap
Labels: source: plugin:i18n, pr: enhancement

#22328 Fix: Cursor pointer issue in permission checkbox settings icon
  packages/core/admin/admin/src/pages/Settings/pages/Roles/ListPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/components/RoleRow.tsx
  packages/plugins/users-permissions/admin/src/components/Permissions/PermissionRow/SubCategory.jsx
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/components/EmailTable.jsx
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/ListPage/components/TableBody.jsx
Labels: source: core:admin, pr: fix, community

#22348 ci: run backend tests on server json file changes
  .github/filters.yaml
Labels: source: tooling, pr: chore

#22347 test(unit): fix locales snapshot
  package.json
  packages/plugins/i18n/server/src/services/__tests__/__snapshots__/iso-locales.test.ts.snap
Labels: source: tooling, pr: chore

#22351 fix: cleaner fallback for files preview (22100)
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/fr.json
  packages/core/upload/admin/src/components/AssetCard/AudioAssetCard.tsx
  packages/core/upload/admin/src/components/AssetCard/DocAssetCard.tsx
  packages/core/upload/admin/src/components/AssetCard/tests/__snapshots__/DocAssetCard.test.tsx.snap
  packages/core/upload/admin/src/components/AssetGridList/tests/__snapshots__/AssetGridList.test.tsx.snap
  packages/core/upload/admin/src/components/EditAssetDialog/PreviewBox/AssetPreview.tsx
  packages/core/upload/admin/src/components/EditAssetDialog/PreviewBox/PreviewComponents.tsx
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetContent.test.tsx.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.tsx.snap
Labels: source: core:upload, pr: fix, community

#22354 fix: accessing graphql playground without users-permissions plugin
  packages/plugins/graphql/server/src/bootstrap.ts
Labels: source: plugin:graphql, pr: fix

#22355 enhancement(homepage): create recently edited documents endpoint
  packages/core/admin/ee/server/src/controllers/index.ts
  packages/core/admin/server/src/controllers/homepage.ts
  packages/core/admin/server/src/controllers/index.ts
  packages/core/admin/server/src/routes/homepage.ts
  packages/core/admin/server/src/routes/index.ts
  packages/core/admin/server/src/services/homepage.ts
  packages/core/admin/server/src/services/index.ts
  packages/core/admin/server/src/utils/index.d.ts
  packages/core/admin/shared/contracts/homepage.ts
  tests/api/core/admin/admin-homepage.test.api.ts
Labels: source: core:admin, pr: enhancement

#21914 fix: Reverse proxy config
  packages/core/admin/admin/src/utils/tests/urls.test.ts
  packages/core/admin/admin/src/utils/urls.ts
  packages/core/core/src/configuration/index.ts
  packages/core/strapi/src/node/create-build-context.ts
  packages/core/strapi/src/node/types.ts
  packages/core/strapi/src/node/vite/config.ts
  packages/core/strapi/src/node/vite/watch.ts
  packages/core/strapi/src/node/webpack/watch.ts
Labels: source: core:strapi, pr: fix

#22372 chore: remove githead prop
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/core/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/permissions/package.json
  packages/core/review-workflows/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/logger/package.json
  packages/utils/typescript/package.json
  packages/utils/upgrade/package.json
Labels: source: tooling, pr: chore

#22206 fix: admin build path when serverAdminPanel is false
  packages/core/admin/_internal/node/createBuildContext.ts
Labels: source: core:admin, pr: fix, version: 4

#22369 future(homepage): add generic widget component
  packages/core/admin/admin/src/pages/Home/HomePage.tsx
  packages/core/admin/admin/src/pages/Home/components/Widget.tsx
  packages/core/admin/admin/src/pages/Home/components/tests/Widget.test.tsx
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: enhancement

#22377 enhancement(homepage): get recent publish activity
  packages/core/admin/server/src/controllers/homepage.ts
  packages/core/admin/server/src/services/homepage.ts
  packages/core/admin/shared/contracts/homepage.ts
  tests/api/core/admin/admin-homepage.test.api.ts
Labels: source: core:admin, pr: enhancement

#22374 test(e2e): components and dz in create collection type
  tests/e2e/tests/content-type-builder/collection-type/create-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/components/create-components.spec.ts
  tests/e2e/utils/content-types.ts
Labels: pr: chore, source: e2e-tests

#22336 feat: add static preview (remove future flag)
  .github/actions/run-e2e-tests/action.yml
  examples/getstarted/config/features.js
  packages/core/content-manager/admin/src/preview/constants.ts
  packages/core/content-manager/admin/src/preview/index.ts
  packages/core/content-manager/server/src/preview/constants.ts
  packages/core/content-manager/server/src/preview/index.ts
  packages/core/types/src/modules/features.ts
  tests/api/core/content-manager/preview/preview.test.api.ts
  tests/e2e/app-template/config/features.js
  tests/e2e/tests/content-manager/preview.spec.ts
Labels: source: core:content-manager, pr: feature

#22384 future(homepage): add recently edited documents widget
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/admin/admin/src/pages/Home/HomePage.tsx
  packages/core/admin/admin/src/pages/Home/components/ContentManagerWidgets.tsx
  packages/core/admin/admin/src/pages/Home/components/Widget.tsx
  packages/core/admin/admin/src/services/homepage.ts
  packages/core/admin/server/src/services/homepage.ts
  packages/core/admin/shared/contracts/homepage.ts
  packages/core/content-manager/admin/src/exports.ts
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentStatus.tsx
  packages/core/content-manager/admin/src/services/api.ts
  packages/core/content-manager/admin/src/services/documents.ts
  packages/core/content-manager/admin/src/translations/en.json
  tests/api/core/admin/admin-homepage.test.api.ts
  tests/e2e/tests/admin/home.spec.ts
Labels: source: core:admin, pr: enhancement

#22332 feat(content-manager): add syntax highlighting in the code block type in the Blocks field original solution
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/Blocks/Code.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/Blocks/tests/Code.test.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/Blocks/utils/prismLanguages.ts
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/BlocksContent.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/tests/mock-schema.ts
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/utils/constants.ts
  packages/core/content-manager/package.json
  yarn.lock
Labels: source: core:content-manager, pr: feature

#22380 fix: adjust polymorphic relation encoding and index mapping
  packages/core/database/src/entity-manager/index.ts
Labels: source: core:database, pr: fix

#22394 chore: remove duplicate dependency
  packages/core/review-workflows/package.json
Labels: pr: chore, source: core:review-workflows

#22391 enhancement(home): add recently published widget
  packages/core/admin/admin/src/pages/Home/HomePage.tsx
  packages/core/admin/admin/src/pages/Home/components/ContentManagerWidgets.tsx
  packages/core/content-manager/admin/src/translations/en.json
  tests/e2e/tests/admin/home.spec.ts
Labels: source: core:admin, pr: enhancement

#22397 security(deps): bump nanoid to 3.3.8 in yarn.lock
  yarn.lock
Labels: source: dependencies, pr: security

#22403 fix(home): replace title documentId with document title
  packages/core/admin/admin/src/pages/Home/components/ContentManagerWidgets.tsx
Labels: source: core:admin, pr: fix

#22405 fix(home): make locale defined or null to get the correct status
  packages/core/admin/server/src/services/homepage.ts
  packages/core/admin/shared/contracts/homepage.ts
  tests/api/core/admin/admin-homepage.test.api.ts
Labels: source: core:admin, pr: fix

#22419 enhancement: update purchase page links
  packages/core/content-releases/admin/src/pages/PurchaseContentReleases.tsx
  packages/core/review-workflows/admin/src/routes/purchase-review-workflows.tsx
Labels: pr: enhancement, source: core:content-releases

#22267 enhancement(database): add repair manager with component deletion fix
  packages/core/admin/ee/server/src/services/persist-tables.ts
  packages/core/core/src/Strapi.ts
  packages/core/database/src/dialects/dialect.ts
  packages/core/database/src/index.ts
  packages/core/database/src/repairs/__tests__/remove-orphan-morph-types.test.ts
  packages/core/database/src/repairs/__tests__/repair.test.ts
  packages/core/database/src/repairs/index.ts
  packages/core/database/src/repairs/operations/remove-orphan-morph-types.ts
  packages/core/database/src/schema/index.ts
  packages/core/database/src/utils/async-curry.ts
  packages/core/utils/src/validate/utils.ts
  tests/api/core/strapi/components/cleanup-after-delete.test.api.ts
Labels: source: core:database, pr: enhancement

#22432 fix: preview back button behavior
  packages/core/content-manager/admin/src/preview/components/PreviewContent.tsx
Labels: source: core:content-manager, pr: fix

#22273 fix: multiple requests locale
  packages/core/content-manager/admin/src/pages/ListView/ListViewPage.tsx
  packages/core/content-manager/server/src/services/document-metadata.ts
  packages/core/content-manager/server/src/services/utils/__tests__/validatable-fields-populate.test.ts
  packages/core/content-manager/server/src/services/utils/populate.ts
  packages/core/utils/src/__tests__/convert-query-params.test.ts
  packages/core/utils/src/convert-query-params.ts
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
  packages/plugins/i18n/admin/src/components/LocaleListCell.tsx
  packages/plugins/i18n/admin/src/components/tests/LocaleListCell.test.tsx
  tests/api/core/content-manager/api/document-metadata.test.api.js
Labels: source: core:content-manager, pr: fix

#22425 fix: add component button style
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/AddComponentButton.tsx
Labels: source: core:admin, pr: fix

#22423 fix(blocks): various ui issues
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/Blocks/Code.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/Blocks/Quote.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/BlocksContent.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/BlocksEditor.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/BlocksToolbar.tsx
Labels: source: core:admin, pr: fix

#22450 fix(homepage): make back button work when document has a locale
  packages/core/admin/admin/src/pages/Home/components/ContentManagerWidgets.tsx
Labels: source: core:admin, pr: fix

#22454 fix: remove lookup param from document service
  packages/core/core/src/services/document-service/repository.ts
  tests/api/core/strapi/document-service/validation/validation.test.api.ts
Labels: source: core:strapi, pr: fix

#22410 fix: remove double conversion that causes date shift
  packages/core/admin/admin/src/components/FormInputs/Date.tsx
  packages/core/admin/admin/src/components/FormInputs/tests/HandleDateChange.test.tsx
Labels: source: core:admin, pr: fix

#22435 fix(content-manager): ensure plugin::users-permissions.user is redire…
  packages/core/content-manager/admin/src/services/documents.ts
Labels: source: core:content-manager, pr: fix

#22464 fix: renable the basic relations test
  tests/api/core/content-manager/api/basic-relations.test.api.js
Labels: source: core:content-manager, pr: fix

#22448 fix(homepage): add missing styles for error, loading, and empty states
  packages/core/admin/admin/src/pages/Home/components/ContentManagerWidgets.tsx
  packages/core/admin/admin/src/pages/Home/components/Widget.tsx
Labels: source: core:admin, pr: fix

#22409 fix: hide doc status when no d&p
  packages/core/admin/admin/src/pages/Home/components/ContentManagerWidgets.tsx
  packages/core/admin/server/src/services/homepage.ts
  tests/api/core/admin/admin-homepage.test.api.ts
  tests/e2e/tests/admin/home.spec.ts
Labels: source: core:admin, pr: fix

#22443 fix: make generate command work
  packages/generators/generators/src/index.ts
  packages/generators/generators/src/plopfile.ts
  packages/generators/generators/src/plops/api.ts
  packages/generators/generators/src/plops/content-type.ts
  packages/generators/generators/src/plops/policy.ts
Labels: pr: fix, source: generators

#22395 test(e2e): add create content tests
  tests/e2e/tests/admin/api-tokens.spec.ts
  tests/e2e/tests/content-manager/create-content.spec.ts
  tests/e2e/tests/content-type-builder/collection-type/create-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/components/create-components.spec.ts
  tests/e2e/utils/content-creation.ts
  tests/e2e/utils/content-types.ts
  tests/e2e/utils/shared.ts
Labels: pr: chore, source: e2e-tests
