Repository strapi/strapi, pull requests merged in 2024-05, with the labels that each got.

#20234 fix(content-manager): bulk publish would only ever show first entry to be published
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActions/PublishAction.tsx
Labels: source: core:content-manager, pr: fix

#20238 fix(admin): if were in EE mode wait for the EE routes to be loaded before rendering
  packages/core/admin/admin/src/App.tsx
Labels: source: core:admin, pr: fix

#20246 chore: run lint fix
  packages/core/admin/admin/src/components/GuidedTour/Homepage.tsx
  packages/core/admin/admin/src/components/GuidedTour/Modal.tsx
  packages/core/admin/admin/src/components/Pagination.tsx
  packages/core/admin/admin/src/features/Notifications.tsx
  packages/core/admin/admin/src/pages/Auth/components/ForgotPassword.tsx
  packages/core/admin/admin/src/pages/Auth/components/ForgotPasswordSuccess.tsx
  packages/core/admin/admin/src/pages/Auth/components/Login.tsx
  packages/core/admin/admin/src/pages/Auth/components/Oops.tsx
  packages/core/admin/admin/src/pages/Auth/components/Register.tsx
  packages/core/admin/admin/src/pages/Auth/components/ResetPassword.tsx
  packages/core/admin/admin/src/pages/Marketplace/components/PageHeader.tsx
  packages/core/admin/admin/src/pages/Settings/components/Tokens/Table.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/components/ConditionsModal.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Users/components/NewUserForm.tsx
  packages/core/admin/ee/admin/src/pages/AuthPage/components/Providers.tsx
  packages/core/content-manager/admin/src/components/ConfigurationForm/Fields.tsx
  packages/core/content-manager/admin/src/components/LeftMenu.tsx
  packages/core/content-manager/admin/src/history/components/VersionHeader.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/DynamicComponent.tsx
  packages/core/content-manager/admin/src/pages/ListConfiguration/components/SortDisplayedFields.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/TableActions.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/TableCells/Components.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/TableCells/Relations.tsx
  packages/core/content-type-builder/admin/src/components/AttributeOptions/CustomFieldsList.tsx
  packages/core/content-type-builder/admin/src/components/AutoReloadOverlayBlocker.tsx
  packages/core/review-workflows/admin/src/components/LimitsModal.tsx
Labels: source: core:admin, pr: chore

#20243 chore: rename core packages
  packages/core/content-manager/package.json
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/components/ReleaseAction.tsx
  packages/core/content-releases/admin/src/components/tests/CMReleasesContainer.test.tsx
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
  packages/core/content-releases/package.json
  packages/core/content-type-builder/admin/src/pluginId.ts
  packages/core/content-type-builder/package.json
  packages/core/core/src/loaders/plugins/get-enabled-plugins.ts
  packages/core/email/package.json
  packages/core/review-workflows/admin/src/routes/content-manager/[model]/[id]/components/AssigneeSelect.tsx
  packages/core/review-workflows/admin/src/routes/content-manager/[model]/[id]/components/Panel.tsx
  packages/core/review-workflows/admin/src/routes/content-manager/[model]/[id]/components/StageSelect.tsx
  packages/core/review-workflows/admin/src/routes/content-manager/[model]/[id]/components/tests/AssigneeSelect.test.tsx
  packages/core/review-workflows/admin/src/routes/content-manager/[model]/[id]/components/tests/StageSelect.test.tsx
  packages/core/review-workflows/admin/src/routes/content-manager/[model]/constants.tsx
  packages/core/review-workflows/admin/src/services/content-manager.ts
  packages/core/review-workflows/admin/src/utils/cm-hooks.ts
  packages/core/review-workflows/package.json
  packages/core/strapi/package.json
  packages/core/strapi/src/admin.ts
  packages/core/strapi/src/node/core/aliases.ts
  packages/core/upload/admin/src/pluginId.js
  packages/core/upload/package.json
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
  packages/plugins/i18n/admin/src/components/LocaleListCell.tsx
  packages/plugins/i18n/admin/src/components/tests/LocaleListCell.test.tsx
  packages/plugins/i18n/admin/src/contentManagerHooks/editView.tsx
  packages/plugins/i18n/admin/src/contentManagerHooks/listView.tsx
  packages/plugins/i18n/admin/src/contentManagerHooks/tests/listView.test.ts
  packages/plugins/i18n/admin/src/hooks/useI18n.ts
  packages/plugins/i18n/admin/src/index.ts
  packages/plugins/i18n/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#20113 fix(database): drop fk before dropping index
  packages/core/database/src/schema/builder.ts
Labels: source: core:database, pr: fix

#20250 fix: CMReleasesContainer test
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/components/ReleaseActionMenu.tsx
  packages/core/content-releases/admin/src/components/tests/CMReleasesContainer.test.tsx
Labels: pr: fix, source: core:content-releases

#20256 chore: add type to bulk action actions
  packages/core/content-manager/admin/src/content-manager.ts
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/Actions.tsx
Labels: source: core:content-manager, pr: chore

#20129 feat: webhooks
  packages/core/core/src/services/__tests__/event-hub.test.ts
  packages/core/core/src/services/document-service/entries.ts
  packages/core/core/src/services/document-service/events.ts
  packages/core/core/src/services/document-service/index.ts
  packages/core/core/src/services/document-service/repository.ts
  packages/core/core/src/services/event-hub.ts
  packages/core/core/src/services/webhook-store.ts
  packages/core/types/src/modules/event-hub.ts
  tests/api/core/content-manager/api/basic-dp.test.api.js
  tests/api/core/strapi/document-service/events.test.api.ts
  tests/api/plugins/i18n/content-manager/non-localized-fields.test.api.js
Labels: pr: feature, source: core:core

#20069 feat(i18n): bulk locale publish modal in CM edit view
  packages/core/admin/admin/src/components/Form.tsx
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-manager/admin/src/exports.ts
  packages/core/content-manager/admin/src/hooks/tests/useDocument.test.tsx
  packages/core/content-manager/admin/src/hooks/tests/useDocumentActions.test.ts
  packages/core/content-manager/admin/src/hooks/useDocument.ts
  packages/core/content-manager/admin/src/hooks/useDocumentActions.ts
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/services/documents.ts
  packages/core/content-manager/admin/src/utils/tests/validation.test.ts
  packages/core/content-manager/admin/src/utils/validation.ts
  packages/plugins/i18n/admin/src/components/BulkLocaleActionModal.tsx
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
  packages/plugins/i18n/admin/src/index.ts
  packages/plugins/i18n/admin/src/services/relations.ts
  packages/plugins/i18n/admin/src/translations/en.json
  packages/plugins/i18n/shared/contracts/content-manager.ts
  tests/e2e/tests/content-manager/editview.spec.ts
  tests/e2e/tests/i18n/editview.spec.ts
  yarn.lock
Labels: source: plugin:i18n, pr: feature

#20245 feat(main-nav): Main nav refactoring, refactor the main nav container and all the links and user profile
  packages/core/admin/admin/src/components/LeftMenu.tsx
  packages/core/admin/admin/src/components/MainNav/MainNav.tsx
  packages/core/admin/admin/src/components/MainNav/NavLink.tsx
  packages/core/admin/admin/src/components/MainNav/NavUser.tsx
  packages/core/admin/admin/src/components/MainNav/tests/NavUser.test.tsx
Labels: source: core:admin, pr: enhancement

#20267 fix(history): adjust condition to display missing relations
  packages/core/content-manager/admin/src/history/components/VersionInputRenderer.tsx
Labels: source: core:content-manager, pr: fix

#20169 enhancement!: validate input in content API create and update controllers
  packages/core/admin/server/src/services/__tests__/permissions-manager-validate.test.ts
  packages/core/admin/server/src/services/permission/permissions-manager/sanitize.ts
  packages/core/admin/server/src/services/permission/permissions-manager/validate.ts
  packages/core/core/src/core-api/controller/collection-type.ts
  packages/core/core/src/core-api/controller/single-type.ts
  packages/core/core/src/services/document-service/transform/relations/extract/data-ids.ts
  packages/core/core/src/services/document-service/transform/relations/transform/data-ids.ts
  packages/core/core/src/services/document-service/transform/relations/utils/map-relation.ts
  packages/core/upload/server/src/services/extensions/content-manager/entity-manager.ts
  packages/core/upload/server/src/services/extensions/utils.ts
  packages/core/utils/src/content-types.ts
  packages/core/utils/src/traverse-entity.ts
  packages/core/utils/src/traverse/factory.ts
  packages/core/utils/src/validate/index.ts
  packages/core/utils/src/validate/utils.ts
  packages/core/utils/src/validate/validators.ts
  packages/core/utils/src/validate/visitors/index.ts
  packages/core/utils/src/validate/visitors/throw-disallowed-fields.ts
  packages/core/utils/src/validate/visitors/throw-dynamic-zones.ts
  packages/core/utils/src/validate/visitors/throw-morph-to-relations.ts
  packages/core/utils/src/validate/visitors/throw-password.ts
  packages/core/utils/src/validate/visitors/throw-private.ts
  packages/core/utils/src/validate/visitors/throw-restricted-fields.ts
  packages/core/utils/src/validate/visitors/throw-restricted-relations.ts
  packages/core/utils/src/validate/visitors/throw-unrecognized-fields.ts
  packages/plugins/users-permissions/server/utils/sanitize/visitors/remove-user-relation-from-role-entities.js
  tests/api/core/strapi/api/relations.test.api.js
  tests/api/core/strapi/api/validate/resources/fixtures/document.js
  tests/api/core/strapi/api/validate/resources/fixtures/index.js
  tests/api/core/strapi/api/validate/resources/fixtures/relation.js
  tests/api/core/strapi/api/validate/resources/index.js
  tests/api/core/strapi/api/validate/resources/schemas/component-a.js
  tests/api/core/strapi/api/validate/resources/schemas/component-b.js
  tests/api/core/strapi/api/validate/resources/schemas/document.js
  tests/api/core/strapi/api/validate/resources/schemas/index.js
  tests/api/core/strapi/api/validate/resources/schemas/relation.js
  tests/api/core/strapi/api/validate/validate-body.test.api.js
  tests/api/core/strapi/api/validate/validate-input.test.api.js
  tests/api/core/strapi/api/validate/validate-query.test.api.js
Labels: flag: 💥 Breaking change, pr: enhancement, flag: documentation, source: core:core

#20263 fix back button on ListSettingsView
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/index.jsx
  packages/plugins/users-permissions/server/config.js
Labels: source: core:content-manager, pr: fix

#20288 fix: flaky fe tests
  packages/core/review-workflows/admin/src/routes/settings/components/tests/WorkflowAttributes.test.tsx
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/index.test.jsx
Labels: pr: fix, source: core:review-workflows

#20235 enhancement(CM): bulk delete and unpublish migration to v5
  packages/core/admin/admin/src/components/Table.tsx
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/content-manager/admin/src/content-manager.ts
  packages/core/content-manager/admin/src/hooks/tests/useDocumentActions.test.ts
  packages/core/content-manager/admin/src/hooks/useDocumentActions.ts
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/UID.tsx
  packages/core/content-manager/admin/src/pages/ListView/ListViewPage.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/Actions.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/ConfirmBulkActionDialog.tsx
  packages/core/content-manager/admin/src/services/documents.ts
  packages/core/content-manager/admin/src/translations/en.json
  packages/core/content-manager/admin/tests/server.ts
  packages/core/content-releases/admin/src/components/ReleaseAction.tsx
  packages/core/content-releases/admin/src/index.ts
  tests/e2e/tests/content-manager/listview.spec.ts
Labels: source: core:content-manager, pr: enhancement

#20290 feat(main-nav): Fix the tooltip position of the links
  packages/core/admin/admin/src/components/LeftMenu.tsx
Labels: source: core:admin, pr: fix

#20291 fix(cm): nested components never have permission
  packages/core/admin/admin/src/components/FormInputs/Boolean.tsx
  packages/core/admin/admin/src/components/FormInputs/Checkbox.tsx
  packages/core/admin/admin/src/components/FormInputs/Date.tsx
  packages/core/admin/admin/src/components/FormInputs/DateTime.tsx
  packages/core/admin/admin/src/components/FormInputs/Email.tsx
  packages/core/admin/admin/src/components/FormInputs/Enumeration.tsx
  packages/core/admin/admin/src/components/FormInputs/Json.tsx
  packages/core/admin/admin/src/components/FormInputs/Number.tsx
  packages/core/admin/admin/src/components/FormInputs/Password.tsx
  packages/core/admin/admin/src/components/FormInputs/Renderer.tsx
  packages/core/admin/admin/src/components/FormInputs/String.tsx
  packages/core/admin/admin/src/components/FormInputs/Textarea.tsx
  packages/core/admin/admin/src/components/FormInputs/Time.tsx
  packages/core/content-manager/admin/src/features/DocumentRBAC.tsx
  packages/core/content-manager/admin/src/hooks/useContentTypeSchema.ts
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/BlocksInput.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Input.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/NotAllowed.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/UID.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Wysiwyg/Field.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/InputRenderer.tsx
Labels: source: core:content-manager, pr: fix

#19898 fix: improve CM modified date comparison
  packages/core/content-manager/server/src/services/document-metadata.ts
  packages/core/content-manager/shared/contracts/collection-types.ts
  tests/api/core/content-manager/api/document-metadata.test.api.js
Labels: source: core:content-manager, pr: enhancement

#20258 Publish multiple locales
  packages/core/admin/admin/src/components/Form.tsx
  packages/core/admin/admin/src/components/Layouts/GridLayout.tsx
  packages/core/admin/admin/src/components/Layouts/Layout.tsx
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-manager/admin/src/exports.ts
  packages/core/content-manager/admin/src/hooks/tests/useDocument.test.tsx
  packages/core/content-manager/admin/src/hooks/tests/useDocumentActions.test.ts
  packages/core/content-manager/admin/src/hooks/useDocument.ts
  packages/core/content-manager/admin/src/hooks/useDocumentActions.ts
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/PublishAction.tsx
  packages/core/content-manager/admin/src/services/documents.ts
  packages/core/content-manager/admin/src/utils/tests/validation.test.ts
  packages/core/content-manager/admin/src/utils/validation.ts
  packages/core/content-manager/server/src/controllers/collection-types.ts
  packages/core/content-manager/server/src/controllers/single-types.ts
  packages/core/content-manager/server/src/controllers/uid.ts
  packages/core/content-manager/server/src/controllers/utils/__tests__/dimensions.test.ts
  packages/core/content-manager/server/src/controllers/utils/dimensions.ts
  packages/core/content-manager/server/src/controllers/utils/metadata.ts
  packages/core/content-manager/server/src/controllers/validation/__tests__/dimensions.test.ts
  packages/core/content-manager/server/src/controllers/validation/dimensions.ts
  packages/core/content-manager/server/src/history/services/history.ts
  packages/core/content-manager/server/src/history/services/lifecycles.ts
  packages/core/content-manager/server/src/services/document-manager.ts
  packages/core/content-manager/server/src/services/document-metadata.ts
  packages/core/content-manager/server/src/services/utils/populate.ts
  packages/core/content-manager/shared/contracts/collection-types.ts
  packages/core/content-manager/shared/contracts/relations.ts
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/core/src/services/document-service/internationalization.ts
  packages/core/core/src/services/document-service/repository.ts
  packages/core/types/src/modules/documents/params/document-engine.ts
  packages/core/types/src/modules/documents/params/index.ts
  packages/core/types/src/modules/documents/params/locale.ts
  packages/core/utils/src/__tests__/content-types.test.ts
  packages/core/utils/src/content-types.ts
  packages/plugins/i18n/admin/src/components/BulkLocaleActionModal.tsx
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
  packages/plugins/i18n/admin/src/index.ts
  packages/plugins/i18n/admin/src/services/relations.ts
  packages/plugins/i18n/admin/src/translations/en.json
  packages/plugins/i18n/shared/contracts/content-manager.ts
  tests/api/core/content-manager/api/basic-dp-compo.test.api.js
  tests/api/core/content-manager/api/document-metadata.test.api.js
  tests/api/core/content-manager/api/number-of-draft-relations.test.api.js
  tests/api/core/strapi/document-service/discard-draft.test.api.ts
  tests/api/core/strapi/document-service/find-one.test.api.ts
  tests/api/core/strapi/document-service/publish.test.api.ts
  tests/api/core/strapi/document-service/unpublish.test.api.ts
  tests/e2e/tests/content-manager/editview.spec.ts
  tests/e2e/tests/i18n/editview.spec.ts
Labels: source: plugin:i18n, pr: feature, version: 5

#20275 feat(main-nav): Main nav refactoring, change links order
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/components/LeftMenu.tsx
  packages/core/admin/admin/src/components/MainNav/NavLink.tsx
  packages/core/admin/admin/src/hooks/useMenu.ts
  packages/core/content-manager/admin/src/index.ts
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-type-builder/admin/src/index.ts
  packages/core/upload/admin/src/index.js
  packages/plugins/documentation/admin/src/index.ts
Labels: source: core:admin, pr: enhancement, flag: documentation

#20274 chore(cm): changed the Configure the view link icon in the edit view
  packages/core/content-manager/admin/src/pages/EditView/components/Header.tsx
Labels: source: core:content-manager, pr: fix

#20325 chore: add workflow to update Browserslist DB
  .github/workflows/caniuse.yml
Labels: source: tooling, pr: chore

#20316 chore: update react&react-dom to 18.3
  docs/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  package.json
  packages/admin-test-utils/package.json
  packages/admin-test-utils/src/setup.ts
  packages/core/admin/admin/src/components/PageHelpers.tsx
  packages/core/admin/package.json
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/Blocks/Code.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/Blocks/tests/Code.test.tsx
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/database/src/metadata/__tests__/identifiers.test.ts
  packages/core/email/package.json
  packages/core/review-workflows/package.json
  packages/core/strapi/package.json
  packages/core/strapi/src/cli/commands/plugin/init/action.ts
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/utils/tsconfig/client.json
  tests/cli/app-template/package.json
  tests/e2e/app-template/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#20333 chore(test): change utils to .ts
  tests/e2e/constants.ts
  tests/e2e/tests/admin/login.spec.ts
  tests/e2e/tests/admin/signup.spec.ts
  tests/e2e/utils/dts-export.ts
  tests/e2e/utils/file-reset.ts
  tests/e2e/utils/rate-limit.ts
Labels: source: tooling, pr: chore

#20318 fix(admin): reset all redux toolkit cache on logout
  packages/core/admin/admin/src/features/Auth.tsx
  packages/core/admin/admin/src/hooks/useContentTypes.ts
  packages/core/admin/admin/src/index.ts
  packages/core/admin/admin/src/pages/Settings/components/Tokens/FormHead.tsx
  packages/core/admin/admin/src/services/admin.ts
  packages/core/admin/admin/src/services/api.ts
  packages/core/admin/admin/src/services/apiTokens.ts
  packages/core/admin/admin/src/services/auth.ts
  packages/core/admin/admin/src/services/contentManager.ts
  packages/core/admin/admin/src/services/transferTokens.ts
  packages/core/admin/admin/src/services/users.ts
  packages/core/admin/admin/src/services/webhooks.ts
  packages/core/admin/admin/src/utils/baseQuery.ts
  packages/core/admin/admin/src/utils/getFetchClient.ts
  packages/core/admin/admin/tests/utils.tsx
  packages/core/content-manager/admin/src/index.ts
  packages/core/content-manager/admin/src/services/api.ts
  packages/core/content-manager/admin/src/utils/api.ts
  packages/core/content-manager/admin/tests/utils.tsx
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/services/baseQuery.ts
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/utils/api.ts
  packages/core/content-releases/admin/tests/utils.tsx
  packages/core/review-workflows/admin/src/index.ts
  packages/core/review-workflows/admin/src/routes/content-manager/[model]/[id]/components/tests/AssigneeSelect.test.tsx
  packages/core/review-workflows/admin/src/routes/settings/components/Stages.tsx
  packages/core/review-workflows/admin/src/services/admin.ts
  packages/core/review-workflows/admin/src/services/api.ts
  packages/core/review-workflows/admin/src/services/content-manager.ts
  packages/core/review-workflows/admin/src/utils/api.ts
  packages/core/review-workflows/admin/tests/utils.tsx
  packages/plugins/documentation/admin/src/index.ts
  packages/plugins/documentation/admin/src/pages/tests/App.test.tsx
  packages/plugins/documentation/admin/src/pages/tests/Settings.test.tsx
  packages/plugins/documentation/admin/src/services/api.ts
  packages/plugins/documentation/admin/src/utils/baseQuery.ts
  packages/plugins/documentation/jest.config.front.js
  packages/plugins/documentation/tests/server.ts
  packages/plugins/documentation/tests/setup.ts
  packages/plugins/i18n/admin/src/services/api.ts
  packages/plugins/i18n/admin/src/services/relations.ts
  packages/plugins/i18n/admin/src/utils/baseQuery.ts
  packages/plugins/i18n/admin/tests/utils.tsx
Labels: source: core:admin, pr: fix

#20341 fix(typescript-utils): add tsBuildInfoFile to fix incremental options
  packages/utils/typescript/tsconfigs/server.json
Labels: pr: fix, source: typescript

#20266 feat: unlist core packages from plugin list
  packages/core/admin/server/src/controllers/admin.ts
  packages/core/core/src/loaders/plugins/get-enabled-plugins.ts
Labels: source: core:admin, pr: chore

#20287 fix(chore): replace use-context-selector context with React Context
  docs/docs/docs/01-core/admin/05-features/authentication.md
  packages/core/admin/admin/src/App.tsx
  packages/core/admin/admin/src/components/AuthenticatedApp.tsx
  packages/core/admin/admin/src/components/Context.tsx
  packages/core/admin/admin/src/components/LeftMenu.tsx
  packages/core/admin/admin/src/components/NpsSurvey.tsx
  packages/core/admin/admin/src/components/PrivateRoute.tsx
  packages/core/admin/admin/src/features/Configuration.tsx
  packages/core/admin/admin/src/pages/Auth/AuthPage.tsx
  packages/core/admin/admin/src/pages/Auth/components/Login.tsx
  packages/core/admin/admin/src/pages/Auth/components/Register.tsx
  packages/core/admin/admin/src/pages/Auth/components/ResetPassword.tsx
  packages/core/admin/admin/src/pages/ProfilePage.tsx
  packages/core/admin/admin/src/pages/UseCasePage.tsx
  packages/core/admin/ee/admin/src/pages/AuthResponse.tsx
  packages/core/admin/package.json
  yarn.lock
Labels: source: core:admin, pr: fix

#20335 fix: data transfer logging
  packages/core/strapi/src/cli/utils/__tests__/logger.test.ts
  packages/core/strapi/src/cli/utils/data-transfer.ts
  packages/utils/logger/src/configs/output-file-configuration.ts
Labels: pr: fix, source: core:data-transfer, echoes/type: bug

#20342 Fix transfer document id in DTS
  packages/core/data-transfer/src/engine/index.ts
Labels: pr: fix, fix:5

#20348 enhancement: improve gitignore in generated projects
  .gitignore
  packages/cli/create-strapi-starter/src/resources/gitignore
  packages/generators/app/src/resources/dot-files/common/gitignore
Labels: source: tooling, pr: enhancement

#20347 fix(ctb): validation compares pluralName and collectionName correctly
  packages/core/content-type-builder/admin/src/components/FormModal/forms/forms.ts
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/create-single-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/edit-single-type.spec.ts
  tests/e2e/utils/shared.ts
Labels: source: core:content-type-builder, pr: fix, echoes/type: bug

#19329 feat: add missing attributes to Media in typescript generator
  packages/utils/typescript/lib/__tests__/generators/schemas/attributes.test.js
  packages/utils/typescript/lib/generators/common/models/mappers.js
Labels: pr: fix, source: typescript, community

#20261 fix: create locale column when migrating from v4
  packages/core/database/src/migrations/internal-migrations/5.0.0-03-locale.ts
  packages/core/database/src/migrations/internal-migrations/index.ts
Labels: pr: fix, source: core:core

#20251 chore(audit-logs): migrate audit logs to v5
  package.json
  packages/core/admin/ee/server/src/audit-logs/content-types/audit-log.ts
  packages/core/admin/ee/server/src/audit-logs/controllers/audit-logs.ts
  packages/core/admin/ee/server/src/audit-logs/routes/audit-logs.ts
  packages/core/admin/ee/server/src/audit-logs/services/__tests__/audit-logs.test.ts
  packages/core/admin/ee/server/src/audit-logs/services/audit-logs.ts
  packages/core/admin/ee/server/src/audit-logs/services/lifecycles.ts
  packages/core/admin/ee/server/src/audit-logs/validation/audit-logs.ts
  packages/core/admin/ee/server/src/controllers/index.ts
  packages/core/admin/ee/server/src/destroy.ts
  packages/core/admin/ee/server/src/index.ts
  packages/core/admin/ee/server/src/migrations/audit-logs-table.ts
  packages/core/admin/ee/server/src/register.ts
  packages/core/admin/ee/server/src/routes/index.ts
  packages/core/admin/ee/server/src/services/__tests__/audit-logs.test.ts
  packages/core/admin/ee/server/src/services/index.ts
  packages/providers/audit-logs-local/.eslintignore
  packages/providers/audit-logs-local/.eslintrc.js
  packages/providers/audit-logs-local/.gitignore
  packages/providers/audit-logs-local/.npmignore
  packages/providers/audit-logs-local/LICENSE
  packages/providers/audit-logs-local/README.md
  packages/providers/audit-logs-local/package.json
  packages/providers/audit-logs-local/packup.config.ts
  packages/providers/audit-logs-local/src/content-types/audit-log/index.ts
  packages/providers/audit-logs-local/src/content-types/audit-log/schema.ts
  packages/providers/audit-logs-local/src/index.ts
  packages/providers/audit-logs-local/tsconfig.build.json
  packages/providers/audit-logs-local/tsconfig.eslint.json
  packages/providers/audit-logs-local/tsconfig.json
  tests/api/core/admin/ee/audit-logs/audit-logs.test.api.ts
  tests/setup/jest-api.setup.js
  yarn.lock
Labels: source: core:admin, pr: chore

#20370 [TS] Update position attribute to be optional in relation reordering types
  packages/core/types/src/modules/entity-service/params/attributes/relation.ts
Labels: pr: fix, source: typescript

#20098 chore: adds and fixes e2e for content history
  packages/core/content-manager/admin/src/history/components/VersionHeader.tsx
  packages/core/content-manager/admin/src/history/components/VersionsList.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations.tsx
  tests/e2e/tests/content-manager/history.spec.ts
  tests/e2e/tests/content-releases/releases-page.spec.ts
  tests/e2e/utils/dts-import.ts
  tests/e2e/utils/file-reset.ts
Labels: source: core:content-manager

#20303 chore: replace plugin cli with external strapi/sdk-plugin package
  docs/docs/docs/01-core/strapi/commands/plugin/00-overview.md
  docs/docs/docs/01-core/strapi/commands/plugin/01-build.md
  docs/docs/docs/01-core/strapi/commands/plugin/02-watch.md
  docs/docs/docs/01-core/strapi/commands/plugin/03-init.md
  docs/docs/docs/01-core/strapi/commands/plugin/04-check.md
  docs/docs/docs/01-core/strapi/commands/plugin/05-link-watch.md
  docs/docs/docs/01-core/strapi/commands/plugin/_category_.json
  packages/core/strapi/src/cli/commands/index.ts
  packages/core/strapi/src/cli/commands/plugin/build.ts
  packages/core/strapi/src/cli/commands/plugin/init/action.ts
  packages/core/strapi/src/cli/commands/plugin/init/command.ts
  packages/core/strapi/src/cli/commands/plugin/init/files/admin.ts
  packages/core/strapi/src/cli/commands/plugin/init/files/editorConfig.ts
  packages/core/strapi/src/cli/commands/plugin/init/files/eslint.ts
  packages/core/strapi/src/cli/commands/plugin/init/files/gitIgnore.ts
  packages/core/strapi/src/cli/commands/plugin/init/files/prettier.ts
  packages/core/strapi/src/cli/commands/plugin/init/files/server.ts
  packages/core/strapi/src/cli/commands/plugin/init/files/typescript.ts
  packages/core/strapi/src/cli/commands/plugin/init/index.ts
  packages/core/strapi/src/cli/commands/plugin/link-watch.ts
  packages/core/strapi/src/cli/commands/plugin/verify.ts
  packages/core/strapi/src/cli/commands/plugin/watch.ts
  packages/core/strapi/src/cli/index.ts
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/sentry/package.json
  yarn.lock
Labels: source: cli, pr: chore

#20172 Remove root level nested params
  packages/core/content-manager/server/src/controllers/collection-types.ts
  packages/core/content-manager/server/src/controllers/single-types.ts
  packages/core/content-manager/server/src/services/utils/populate.ts
  packages/core/types/src/modules/documents/params/populate.ts
  packages/core/types/src/modules/entity-service/params/populate.ts
  packages/core/utils/src/convert-query-params.ts
  packages/core/utils/src/traverse/query-populate.ts
  tests/api/core/strapi/api/populate/filtering/index.test.api.js
  tests/api/core/strapi/api/populate/sanitize.test.api.js
  tests/api/core/strapi/api/validate/validate-query.test.api.js
Labels: flag: 💥 Breaking change, source: core:content-manager, source: core:utils, source: typescript

#20255 enhancement: bulk publish migration to v5
  packages/core/admin/admin/src/components/Table.tsx
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/content-manager/admin/src/hooks/useDocumentActions.ts
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/Actions.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/PublishAction.tsx
  packages/core/content-manager/admin/src/translations/en.json
  tests/e2e/tests/content-manager/listview.spec.ts
Labels: source: core:content-manager, pr: enhancement

#20377 fix(webhooks): ensure id sent to client is always a string
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/EditPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/ListPage.tsx
  packages/core/admin/shared/contracts/webhooks.ts
  packages/core/core/src/services/webhook-runner.ts
  packages/core/core/src/services/webhook-store.ts
Labels: pr: fix, source: core:core

#20386 Fix: bulk publish modal and related issues
  packages/core/content-manager/admin/src/pages/ListView/ListViewPage.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/ConfirmBulkActionDialog.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/PublishAction.tsx
Labels: source: core:content-manager, pr: fix

#20354 feat: releases settings
  packages/core/content-releases/server/src/bootstrap.ts
  packages/core/content-releases/server/src/controllers/index.ts
  packages/core/content-releases/server/src/controllers/settings.ts
  packages/core/content-releases/server/src/controllers/validation/settings.ts
  packages/core/content-releases/server/src/routes/index.ts
  packages/core/content-releases/server/src/routes/settings.ts
  packages/core/content-releases/server/src/services/index.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/server/src/services/settings.ts
  packages/core/content-releases/server/src/utils/index.ts
  packages/core/content-releases/shared/contracts/settings.ts
  packages/core/content-releases/shared/validation-schemas.ts
  packages/core/types/src/utils/index.ts
  tests/api/core/content-releases/settings.test.api.ts
Labels: pr: feature, source: core:content-releases

#20357 feat: content releases settings permissions
  packages/core/content-releases/server/src/constants.ts
  packages/core/content-releases/server/src/routes/settings.ts
  tests/api/core/content-releases/settings.test.api.ts
Labels: pr: feature, source: core:content-releases

#20384 fix(content-manager): fix discard action in different locale than the default one
  packages/core/content-manager/admin/src/hooks/useDocumentActions.ts
Labels: source: core:content-manager, fix:5

#20399 Fix: bulk publish modified entry status
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/Actions.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/PublishAction.tsx
  packages/core/content-manager/admin/src/translations/en.json
Labels: source: core:content-manager, pr: fix

#20404 Allow morph-like attributes to request a count (populate)
  packages/core/utils/src/__tests__/convert-query-params.test.ts
  packages/core/utils/src/convert-query-params.ts
Labels: source: core:utils, pr: fix

#20408 chore(deps): bump @strapi/design-system from 1.18.0 to 1.19.0
  examples/getstarted/package.json
  package.json
  packages/core/admin/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#20395 Fix: bulk publish validation error
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/PublishAction.tsx
Labels: source: core:content-manager, pr: fix

#20411 chore(content-releases: skip api tests until releases is migrated to v5
  tests/api/plugins/content-releases/releases.test.api.ts
Labels: pr: chore, source: core:content-releases
