Repository strapi/strapi, pull requests merged in 2024-06, with the labels that each got.

#19590 fix(security-middleware): fix config merging with defaults
  packages/core/strapi/src/middlewares/__tests__/security.test.ts
  packages/core/strapi/src/middlewares/security.ts
Labels: source: core:strapi, pr: fix, community

#20400 chore(ci): remove mysql_native_password in test container
  .github/workflows/tests.yml
  docker-compose.test.yml
Labels: source: tooling, pr: chore, echoes/type: maintenance

#20407 feat: customize localization label actions in history
  examples/getstarted/src/api/category/content-types/category/schema.json
  packages/core/content-manager/admin/src/history/components/VersionInputRenderer.tsx
  packages/core/content-manager/admin/src/translations/en.json
  packages/plugins/i18n/admin/src/contentManagerHooks/editView.tsx
Labels: source: core:content-manager

#20426 test: fix ctb edit collection type
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
Labels: source: tooling, pr: fix

#20421 fix: allow '.default' to be ignored during schema validation
  packages/core/data-transfer/src/engine/__tests__/engine.test.ts
  packages/core/data-transfer/src/engine/validation/schemas/index.ts
  packages/core/data-transfer/src/file/providers/source/index.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/index.ts
  packages/core/data-transfer/src/strapi/providers/local-source/index.ts
  packages/core/data-transfer/src/utils/schema.ts
Labels: pr: fix, source: core:data-transfer

#20385 Fix transfer DZ and repeatable components
  packages/core/data-transfer/src/strapi/queries/__tests__/link.test.ts
  packages/core/data-transfer/src/strapi/queries/link.ts
Labels: pr: fix, source: core:data-transfer

#20415 fix: prevent duplicate history versions on publish
  packages/core/content-manager/server/src/history/services/lifecycles.ts
  tests/e2e/tests/content-manager/history.spec.ts
Labels: source: core:content-manager, pr: fix

#20389 Fix: Query Validation in Files' Admin API
  packages/core/upload/server/controllers/admin-file.js
  tests/api/core/upload/admin/file.test.api.js
Labels: source: core:upload, pr: fix

#20413 Replace lock icon with lightning icon in the Settings and Navbar links
  docs/docs/docs/01-core/admin/01-ee/00-intro.md
  packages/core/admin/admin/src/components/LeftMenu.tsx
  packages/core/admin/admin/src/constants.ts
  packages/core/admin/admin/src/hooks/useSettingsMenu.ts
  packages/core/admin/admin/src/pages/Settings/components/SettingsNav.tsx
  packages/core/content-releases/admin/src/index.ts
  packages/core/helper-plugin/src/features/StrapiApp.tsx
Labels: source: core:admin, pr: enhancement

#20452 fix: issue 20086, avoid preloading services during init lifecycles
  packages/core/content-manager/server/src/history/services/lifecycles.ts
Labels: source: core:content-manager, pr: fix

#20433 test: backport cli tests
  .github/workflows/skipped_tests.yml
  .github/workflows/tests.yml
  .gitignore
  jest.config.cli.js
  package.json
  scripts/yalc-link.js
  scripts/yalc-publish.js
  tests/cli/README.md
  tests/cli/app-template/README.md
  tests/cli/app-template/package.json
  tests/cli/app-template/template.json
  tests/cli/app-template/template/src/api/.gitkeep
  tests/cli/app-template/template/src/api/category/content-types/category/schema.json
  tests/cli/app-template/template/src/api/category/controllers/category.js
  tests/cli/app-template/template/src/api/category/routes/category.js
  tests/cli/app-template/template/src/api/category/services/category.js
  tests/cli/app-template/template/src/api/complex/content-types/complex/schema.json
  tests/cli/app-template/template/src/api/complex/controllers/complex.js
  tests/cli/app-template/template/src/api/complex/routes/complex.js
  tests/cli/app-template/template/src/api/complex/services/complex.js
  tests/cli/app-template/template/src/api/config/controllers/config.js
  tests/cli/app-template/template/src/api/config/routes/config.js
  tests/cli/app-template/template/src/api/config/services/config.js
  tests/cli/app-template/template/src/api/single-type-localized/content-types/single-type-localized/schema.json
  tests/cli/app-template/template/src/api/single-type-localized/controllers/single-type-localized.js
  tests/cli/app-template/template/src/api/single-type-localized/routes/single-type-localized.js
  tests/cli/app-template/template/src/api/single-type-localized/services/single-type-localized.js
  tests/cli/app-template/template/src/api/single-type-non-local/content-types/single-type-non-local/schema.json
  tests/cli/app-template/template/src/api/single-type-non-local/controllers/single-type-non-local.js
  tests/cli/app-template/template/src/api/single-type-non-local/routes/single-type-non-local.js
  tests/cli/app-template/template/src/api/single-type-non-local/services/single-type-non-local.js
  tests/cli/app-template/template/src/api/single-type-unpublished/content-types/single-type-unpublished/schema.json
  tests/cli/app-template/template/src/api/single-type-unpublished/controllers/single-type-unpublished.js
  tests/cli/app-template/template/src/api/single-type-unpublished/routes/single-type-unpublished.js
  tests/cli/app-template/template/src/api/single-type-unpublished/services/single-type-unpublished.js
  tests/cli/app-template/template/src/components/component-category/component-two.json
  tests/cli/app-template/template/src/components/component-category/component.json
  tests/cli/app-template/template/src/constants.js
  tests/cli/app-template/template/src/index.js
  tests/cli/constants.js
  tests/cli/data/README.md
  tests/cli/jest.config.js
  tests/cli/scripts/dts-export.js
  tests/cli/scripts/dts-import.js
  tests/cli/scripts/rate-limit.js
  tests/cli/tests/strapi/config.js
  tests/cli/tests/strapi/data-transfer/export.test.cli.js
  tests/cli/tests/strapi/data-transfer/import.test.cli.js
  tests/cli/tests/strapi/version/version.test.cli.js
  tests/cli/utils/fs.js
  tests/cli/utils/index.js
  tests/cli/utils/test-app.js
  tests/scripts/run-cli-tests.js
  tests/setup/jest-cli.setup.js
  yarn.lock
Labels: source: tooling, pr: chore

#20467 fix(chore): increase specificity of the Lightning icon color
  packages/core/admin/admin/src/components/LeftMenu.tsx
Labels: source: core:admin, pr: fix

#20481 test: temporarily disable broken edit ctb tests
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/edit-single-type.spec.ts
Labels: source: tooling, pr: chore

#20485 test: fix broken e2e tests
  tests/e2e/tests/content-manager/editview.spec.ts
  tests/e2e/tests/content-manager/listview.spec.ts
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/edit-single-type.spec.ts
  tests/e2e/tests/i18n/settings.spec.ts
Labels: source: tooling, pr: chore

#20401 chore: test e2e history version can be restored
  tests/e2e/tests/content-manager/history.spec.ts
Labels: source: tooling, pr: chore

#20469 feat: add language selector to the blocks code editor
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/Blocks/Code.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/Blocks/tests/Code.test.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/tests/BlocksToolbar.test.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/utils/constants.ts
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/utils/conversions.ts
  packages/core/types/src/schema/attribute/definitions/blocks.ts
  tests/e2e/tests/content-manager/blocks.spec.ts
Labels: source: core:content-manager, pr: feature

#20486 Replace lock icon with lightning icon in the Settings and Navbar links
  docs/docs/docs/01-core/admin/01-ee/00-intro.md
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/components/LeftMenu.tsx
  packages/core/admin/admin/src/constants.ts
  packages/core/admin/admin/src/hooks/useSettingsMenu.ts
  packages/core/admin/admin/src/pages/Settings/components/SettingsNav.tsx
  packages/core/content-releases/admin/src/index.ts
  packages/core/review-workflows/admin/src/index.ts
Labels: flag: 💥 Breaking change, source: core:admin, pr: enhancement

#20500 v4.25.0
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/workspace-plugin/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: pr: chore, source: core:core

#20494 feat: add client router API
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/components/Providers.tsx
  packages/core/admin/admin/src/constants.ts
  packages/core/admin/admin/src/core/apis/router.tsx
  packages/core/admin/admin/src/features/StrapiApp.tsx
  packages/core/admin/admin/src/hooks/useSettingsMenu.ts
  packages/core/admin/admin/src/index.ts
  packages/core/admin/admin/src/render.ts
  packages/core/admin/admin/src/router.tsx
  packages/core/admin/admin/src/tests/StrapiApp.test.tsx
  packages/core/content-manager/admin/src/index.ts
  packages/core/content-manager/admin/src/layout.tsx
Labels: source: core:admin, pr: feature, flag: documentation

#20498 Remove navbar purchase Releases link on Community Edition
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/pages/SettingsPage.tsx
Labels: pr: feature, version: 5, source: core:content-releases

#20466 fix(content-type-builder): draft and publish toggle
  packages/core/content-type-builder/admin/src/components/DraftAndPublishToggle.tsx
Labels: source: core:content-type-builder, fix:5

#20496 Fix/nested-form-errors
  packages/core/admin/admin/src/components/Form.tsx
  packages/core/admin/admin/src/components/tests/Form.test.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/PublishAction.tsx
  tests/e2e/tests/content-manager/uniqueness.spec.ts
Labels: fix:5

#20503 fix(admin): date picker jumps around due to timezones
  packages/core/admin/admin/src/components/FormInputs/Date.tsx
  packages/core/admin/package.json
  yarn.lock
Labels: source: core:admin, pr: fix

#20527 fix(admin): add bottom padding to pagination component
  packages/core/admin/admin/src/components/Pagination.tsx
Labels: source: core:admin, pr: fix

#20492 NPS: Update frequency of the NPS
  packages/core/admin/admin/src/components/NpsSurvey.tsx
  packages/core/admin/admin/src/components/tests/NpsSurvey.test.tsx
Labels: source: core:admin, pr: enhancement

#20536 chore: upgrade umzug & improve db migration logging
  packages/core/core/src/Strapi.ts
  packages/core/database/package.json
  packages/core/database/src/index.ts
  packages/core/database/src/migrations/internal.ts
  packages/core/database/src/migrations/logger.ts
  packages/core/database/src/migrations/users.ts
  yarn.lock
Labels: source: core:database, pr: chore, version: 5

#20507 test(e2e): fix releases-page and listview
  playwright.base.config.js
  tests/e2e/tests/content-manager/blocks.spec.ts
  tests/e2e/tests/content-manager/editview.spec.ts
  tests/e2e/tests/content-manager/listview.spec.ts
  tests/e2e/tests/content-releases/releases-page.spec.ts
  tests/e2e/utils/shared.ts
Labels: source: tooling, pr: fix

#20416 enhancement!: use server.globalProxy value for creating a global http/https proxy
  packages/core/core/package.json
  packages/core/core/src/Strapi.ts
  packages/core/core/src/services/server/index.ts
  packages/core/core/src/utils/fetch.ts
  packages/core/types/package.json
  yarn.lock
Labels: flag: 💥 Breaking change, pr: enhancement, source: core:core

#20541 fix: multiple is only available in attribute now
  packages/core/upload/admin/src/components/MediaLibraryInput/index.jsx
Labels: source: core:upload, pr: fix

#20540 Fix the Time field format on saving
  packages/core/admin/admin/src/components/FormInputs/Time.tsx
Labels: source: core:admin, pr: fix, version: 5

#20526 fix(content-releases): release validation and dropdown menu endIcon
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/server/src/services/release-action.ts
Labels: pr: fix, source: core:content-releases

#20487 fix: prevent use of local ips on webhooks
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/EditPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/hooks/useWebhooks.ts
  packages/core/admin/package.json
  packages/core/admin/server/src/controllers/webhooks.ts
  tests/api/core/admin/admin-webhooks.test.api.ts
  yarn.lock
Labels: source: core:admin, pr: fix

#20547 fix: lifecycle order, provider 1st during bootstrap
  packages/core/core/src/Strapi.ts
  packages/core/types/src/core/strapi.ts
Labels: pr: fix, source: core:core

#20545 fix: ctb ui & state issues
  packages/core/content-type-builder/admin/src/components/AttributeOptions/AttributeOption.tsx
  packages/core/content-type-builder/admin/src/components/AttributeOptions/tests/__snapshots__/AttributeOptions.test.tsx.snap
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/ContentTypeBuilderNav.tsx
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.tsx.snap
  packages/core/content-type-builder/admin/src/components/FormModal/FormModal.tsx
  packages/core/content-type-builder/admin/src/components/IconPicker/IconPicker.tsx
Labels: source: core:content-type-builder, pr: fix, fix:5

#20535 fix(content-manager): add isFetching to loading check
  packages/core/content-manager/admin/src/pages/ListView/ListViewPage.tsx
Labels: source: core:content-manager, pr: fix

#20553 fix: self referencing relations
  packages/core/database/src/entity-manager/regular-relations.ts
Labels: source: core:database, pr: fix

#20558 Fix multiple CM/i18N/admin state loading issues
  packages/core/content-manager/admin/src/hooks/useDocument.ts
  packages/core/content-releases/admin/src/services/release.ts
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
  packages/plugins/i18n/admin/src/components/LocaleListCell.tsx
  packages/plugins/i18n/admin/src/hooks/useI18n.ts
Labels: source: core:content-manager, pr: fix

#20548 fix(content-manager): fix filters bugs with relations, enums and uids
  packages/core/admin/admin/src/components/Filters.tsx
  packages/core/admin/admin/src/components/FormInputs/Renderer.tsx
  packages/core/admin/admin/src/components/FormInputs/types.ts
  packages/core/admin/admin/src/constants/filters.ts
  packages/core/content-manager/admin/src/pages/ListView/components/Filters.tsx
Labels: source: core:content-manager, pr: fix

#20565 fix: navigation issues
  packages/core/admin/admin/src/pages/Settings/pages/Roles/CreatePage.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
Labels: source: core:content-manager, pr: fix

#20543 Fix Duplicate Rows on Deep Sorting
  packages/core/database/src/entity-manager/regular-relations.ts
  packages/core/database/src/query/helpers/order-by.ts
  packages/core/database/src/query/helpers/streams/readable.ts
  packages/core/database/src/query/query-builder.ts
  tests/api/core/content-manager/api/number-of-draft-relations.test.api.js
  tests/api/core/strapi/api/sort/sort.test.api.ts
  tests/api/core/strapi/deep-filtering.test.api.js
  tests/api/core/strapi/document-service/events.test.api.ts
  tests/api/core/strapi/document-service/resources/fixtures/article.js
  tests/api/core/strapi/document-service/resources/fixtures/article.json
  tests/api/core/strapi/document-service/resources/fixtures/author.js
  tests/api/core/strapi/document-service/resources/fixtures/author.json
  tests/api/core/strapi/document-service/resources/fixtures/category.js
  tests/api/core/strapi/document-service/resources/fixtures/category.json
  tests/api/core/strapi/document-service/resources/fixtures/index.js
  tests/api/core/strapi/document-service/utils/index.ts
Labels: source: core:database, pr: fix

#20564 fix: several media lib ui issues
  packages/core/admin/admin/src/components/ConfirmDialog.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/ListPage.tsx
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/index.jsx
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.jsx.snap
  packages/core/upload/admin/src/components/AssetDialog/index.jsx
  packages/core/upload/admin/src/components/EditAssetDialog/PreviewBox/CroppingActions.jsx
  packages/core/upload/admin/src/components/EditAssetDialog/PreviewBox/components.jsx
  packages/core/upload/admin/src/components/EditAssetDialog/RemoveAssetDialog.jsx
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.jsx.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.jsx.snap
  packages/core/upload/admin/src/components/MediaLibraryInput/index.jsx
  packages/core/upload/admin/src/components/SelectTree/SelectTree.jsx
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/PendingAssetStep.jsx
  packages/core/upload/admin/src/components/UploadAssetDialog/UploadAssetDialog.jsx
  packages/core/upload/admin/src/pages/App/ConfigureTheView/index.jsx
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/Header.jsx
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/Header.test.jsx.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/index.jsx
  tests/api/core/content-manager/api/number-of-draft-relations.test.api.js
Labels: source: core:upload, pr: fix

#20571 V5 fix: wrong date saved
  packages/core/admin/admin/src/components/FormInputs/Date.tsx
  packages/core/admin/admin/src/components/FormInputs/DateTime.tsx
Labels: source: core:admin, pr: fix, version: 5

#20593 [Upgrade Tool] Fix JSON Transform Loader
  packages/utils/upgrade/src/modules/runner/json/transform.ts
Labels: pr: fix, source: utils:upgrade

#20583 chore: disable --templates while we rework them
  packages/cli/create-strapi-app/src/create-strapi-app.ts
  packages/cli/create-strapi-app/src/types.ts
  packages/generators/app/src/create-project.ts
  packages/generators/app/src/index.ts
  packages/generators/app/src/types.ts
Labels: source: cli, pr: chore

#20589 feat: Release settings page
  packages/core/content-releases/admin/src/components/ReleaseModal.tsx
  packages/core/content-releases/admin/src/pages/SettingsPage.tsx
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/admin/src/utils/time.ts
Labels: pr: feature, version: 5, source: core:content-releases

#20453 Expand nested components
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/DataManagerProvider.tsx
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/utils/retrieveComponentsThatHaveComponents.ts
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/utils/retrieveNestedComponents.ts
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/utils/tests/retrieveComponentsThatHaveComponents.test.ts
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/utils/tests/retrieveNestedComponents.test.ts
  packages/core/content-type-builder/admin/src/components/FormModal/utils/getAttributesToDisplay.ts
  packages/core/content-type-builder/admin/src/components/SelectComponent.tsx
  packages/core/content-type-builder/admin/src/constants.ts
  packages/core/content-type-builder/admin/src/utils/getMaxDepth.ts
  packages/core/content-type-builder/admin/src/utils/tests/getMaxDepth.test.ts
  packages/core/content-type-builder/server/src/controllers/validation/types.ts
  packages/core/content-type-builder/server/src/utils/attributes.ts
Labels: source: core:content-type-builder, pr: enhancement

#20559 Fix Can add two attributes with the same name and save
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/reducer.ts
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/validation/common.ts
Labels: source: core:content-type-builder, fix:5

#20549 Add: Strapi deploy command to README files
  packages/generators/app/src/resources/files/js/README.md
  packages/generators/app/src/resources/files/ts/README.md
Labels: pr: enhancement, source: generators

#20422 Handle non-localized content-types in discard-draft migration
  packages/core/core/src/migrations/database/5.0.0-discard-drafts.ts
  packages/core/core/src/migrations/draft-publish.ts
Labels: pr: fix, source: core:core

#20611 fix: e2e template programmaticaly
  packages/generators/app/src/create-project.ts
Labels: source: tooling, pr: fix

#20609 fix: ui
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/components/ConfirmDialog.tsx
  packages/core/admin/admin/src/components/PageHelpers.tsx
  packages/core/admin/admin/src/core/store/configure.ts
  packages/core/admin/admin/src/features/Auth.tsx
  packages/core/admin/admin/src/features/Configuration.tsx
  packages/core/admin/admin/src/layouts/AuthenticatedLayout.tsx
  packages/core/admin/admin/src/pages/Auth/components/Register.tsx
  packages/core/admin/admin/src/pages/Auth/components/ResetPassword.tsx
  packages/core/admin/admin/src/pages/Settings/pages/ApiTokens/EditView/components/CollapsableContentType.tsx
  packages/core/admin/admin/src/pages/Settings/pages/ApplicationInfo/components/LogoInput.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/CreatePage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/components/CollapsePropertyMatrix.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/components/ConditionsModal.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/components/ContentTypeCollapses.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/components/ContentTypes.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/components/PluginsAndSettings.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/components/RowLabelWithCheckbox.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/components/tests/Permissions.test.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Users/EditPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Users/ListPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Users/components/NewUserForm.tsx
  packages/core/admin/admin/src/reducer.ts
  packages/core/admin/admin/src/tests/reducer.test.ts
  packages/core/admin/admin/tests/store.ts
  packages/core/admin/admin/tests/utils.tsx
  packages/core/admin/ee/admin/src/pages/AuthResponse.tsx
  packages/core/content-manager/admin/src/components/LeftMenu.tsx
  packages/core/content-manager/admin/src/history/pages/History.tsx
  packages/core/content-manager/admin/src/hooks/useContentManagerInitData.ts
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/tests/utils.tsx
  packages/core/content-releases/admin/src/components/ReleaseActionModal.tsx
  packages/core/review-workflows/admin/src/routes/settings/:id.tsx
  packages/core/review-workflows/admin/src/routes/settings/components/Stages.tsx
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/RemoveAssetDialog.test.jsx.snap
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
  packages/plugins/i18n/admin/src/components/Initializer.tsx
  packages/plugins/i18n/admin/src/index.ts
  packages/plugins/users-permissions/admin/src/components/Permissions/PermissionRow/CheckboxWrapper.jsx
  packages/plugins/users-permissions/admin/src/components/Permissions/PermissionRow/SubCategory.jsx
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/components/EmailTable.jsx
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/ListPage/components/TableBody.jsx
Labels: source: core:admin, pr: fix

#20502 feat(cli): add browser logout step
  packages/cli/cloud/src/create-project/action.ts
  packages/cli/cloud/src/deploy-project/action.ts
  packages/cli/cloud/src/login/action.ts
  packages/cli/cloud/src/logout/action.ts
  packages/cli/cloud/src/services/cli-api.ts
  packages/cli/cloud/src/services/token.ts
Labels: source: cli, pr: enhancement

#20617 Fix Vite HMR Server Restart
  examples/getstarted/src/admin/app.jsx
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-type-builder/admin/src/components/AutoReloadOverlayBlocker.tsx
  packages/core/content-type-builder/admin/src/components/FormModal/FormModal.tsx
  packages/core/strapi/src/node/vite/config.ts
Labels: source: core:strapi, pr: fix

#20042 Closing #19644 fix filters type
  packages/plugins/documentation/server/services/helpers/utils/query-params.js
Labels: source: plugin:documentation, pr: fix

#20305 fix: add user-agent to patreon oauth requests
  packages/plugins/users-permissions/server/services/providers-registry.js
Labels: source: plugin:users-permissions, pr: fix

#20615 fix: several UI issues a typos
  packages/core/admin/admin/src/components/Form.tsx
  packages/core/admin/admin/src/components/tests/Form.test.tsx
  packages/core/admin/admin/src/hooks/useAPIErrorHandler.ts
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/components/Events.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/components/HeadersInput.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/ListPage.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/tests/ListPage.test.tsx
  packages/core/content-manager/admin/src/hooks/tests/useDocument.test.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Initializer.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/Field.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/InputRenderer.tsx
  packages/core/content-manager/admin/src/utils/validation.ts
  packages/core/content-type-builder/admin/src/components/CheckboxWithNumberField.tsx
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/validation/common.ts
  packages/core/content-type-builder/admin/src/components/TabForm.tsx
  packages/core/content-type-builder/admin/src/translations/en.json
  packages/plugins/users-permissions/admin/src/components/Permissions/PermissionRow/SubCategory.jsx
  packages/plugins/users-permissions/admin/src/pages/Providers/index.jsx
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/ListPage/components/TableBody.jsx
Labels: source: core:content-manager, pr: fix

#20613 fix: displayed fields dnd not working
  packages/core/content-manager/admin/src/pages/ListConfiguration/components/DraggableCard.tsx
Labels: source: core:content-manager, pr: fix

#20619 Fix Content History: Crash when viewing versions with added media or relation fields
  packages/core/content-manager/admin/src/history/components/VersionInputRenderer.tsx
Labels: source: core:content-manager, pr: fix, fix:5

#20603 fix(content-manager): blocks issues
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/Blocks/Link.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/BlocksToolbar.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/tests/BlocksToolbar.test.tsx
Labels: source: core:content-manager, pr: fix

#20034 [v4]: Fix the typo of query key from 'providers' to 'get-providers'
  packages/plugins/users-permissions/admin/src/pages/Providers/index.jsx
Labels: source: plugin:users-permissions, pr: fix

#20561 feat(create-strapi-app): remove the cloud project creation part
  packages/cli/create-strapi-app/src/cloud.ts
  packages/cli/create-strapi-app/src/create-strapi-app.ts
  packages/generators/app/src/index.ts
Labels: source: cli, pr: enhancement, echoes/type: feature/enhancement

#20633 fix: drop slug fields index
  packages/core/database/src/migrations/internal-migrations/5.0.0-05-drop-slug-unique-index.ts
  packages/core/database/src/migrations/internal-migrations/index.ts
Labels: source: core:database, pr: fix

#20630 fix: split single & bulk delete
  packages/core/admin/admin/src/components/ConfirmDialog.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/ListPage.tsx
  packages/core/strapi/src/node/create-build-context.ts
  packages/core/upload/admin/src/pages/App/ConfigureTheView/index.jsx
Labels: source: core:admin, pr: fix

#20610 feat(content-manager): warn when publishing an entry with draft relations
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations.tsx
  packages/core/content-manager/admin/src/translations/en.json
  tests/e2e/tests/content-manager/editview.spec.ts
Labels: source: core:content-manager, version: 5

#20572 feat(cli): trigger login sequence when token is missing or invalid
  packages/cli/cloud/src/create-project/action.ts
  packages/cli/cloud/src/deploy-project/action.ts
  packages/cli/cloud/src/login/action.ts
  packages/cli/cloud/src/services/token.ts
Labels: source: cli, pr: enhancement

#19579 Yarn 4.3.1
  .yarn/releases/yarn-4.0.1.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: source: tooling, pr: enhancement, community

#20580 chore: only delete tables,columns,idx,fks we track
  packages/core/core/src/utils/transform-content-types-to-models.ts
  packages/core/database/src/schema/__tests__/schema-diff.test.ts
  packages/core/database/src/schema/diff.ts
  packages/core/database/src/schema/index.ts
  packages/core/database/src/schema/storage.ts
  packages/core/types/src/struct/schema.ts
Labels: source: core:database, flag: don't merge, pr: enhancement

#20640 fix: history action position in menu
  packages/core/content-manager/admin/src/content-manager.ts
  packages/core/content-manager/admin/src/history/index.ts
  packages/core/content-manager/admin/src/index.ts
  packages/core/content-manager/admin/src/tests/content-manager.test.ts
  packages/core/content-releases/admin/src/components/ReleaseActionModal.tsx
  packages/core/strapi/src/admin.ts
Labels: source: core:content-manager, pr: fix

#20646 fix(content-manager): dismiss bulk list view publish
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/ConfirmBulkActionDialog.tsx
Labels: source: core:content-manager, fix:5

#20636 fix: components count in ctb menu
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/ContentTypeBuilderNav.tsx
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.tsx.snap
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/mockData.ts
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/useContentTypeBuilderMenu.ts
Labels: source: core:content-type-builder, pr: fix
