Repository strapi/strapi, pull requests merged in 2024-04, with the labels that each got.

#19968 [v5] fix: move NotFoundPage into authenticated admin panel routes
  packages/core/admin/admin/src/StrapiApp.tsx
Labels: source: core:admin, pr: fix

#19720 feat(i18n): non localized fields
  api-tests/plugins/i18n/content-api/content-types.test.api.js
  api-tests/plugins/i18n/content-manager/non-localized-fields.test.api.js
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/BlocksInput.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Input.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/Field.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/UID.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Wysiwyg/Field.tsx
  packages/core/content-manager/server/src/history/services/history.ts
  packages/core/content-manager/server/src/services/document-metadata.ts
  packages/core/content-manager/shared/contracts/collection-types.ts
  packages/core/content-releases/server/src/bootstrap.ts
  packages/core/core/src/services/document-service/index.ts
  packages/core/core/src/services/document-service/repository.ts
  packages/core/core/src/services/document-service/transform/__tests__/id-transform-i18n.test.ts
  packages/core/core/src/services/document-service/transform/relations/utils/i18n.ts
  packages/core/core/src/services/entity-service/components.ts
  packages/core/database/src/lifecycles/types.ts
  packages/core/types/src/modules/documents/index.ts
  packages/core/types/src/modules/documents/service-instance.ts
  packages/core/utils/src/content-types.ts
  packages/plugins/i18n/admin/src/contentManagerHooks/editView.tsx
  packages/plugins/i18n/admin/src/index.ts
  packages/plugins/i18n/package.json
  packages/plugins/i18n/server/src/bootstrap.ts
  packages/plugins/i18n/server/src/controllers/__tests__/content-types.test.ts
  packages/plugins/i18n/server/src/controllers/content-types.ts
  packages/plugins/i18n/server/src/services/__tests__/entity-service-decorator.test.ts
  packages/plugins/i18n/server/src/services/__tests__/localizations.test.ts
  packages/plugins/i18n/server/src/services/content-types.ts
  packages/plugins/i18n/server/src/services/entity-service-decorator.ts
  packages/plugins/i18n/server/src/services/localizations.ts
  yarn.lock
Labels: source: plugin:i18n, pr: feature

#19946 fix(releases): On edit release error dont close modal
  packages/core/content-releases/admin/src/components/ReleaseModal.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
Labels: pr: fix, source: core:content-releases

#19970 fix issue #19532
  packages/core/admin/ee/admin/src/content-manager/pages/ListView/constants.ts
  packages/core/helper-plugin/src/components/FilterListURLQuery.tsx
  packages/core/helper-plugin/src/components/FilterPopoverURLQuery.tsx
  packages/core/helper-plugin/src/components/tests/FilterListURLQuery.test.tsx
  packages/core/helper-plugin/src/types.ts
Labels: source: core:helper-plugin, pr: fix

#19991 chore: move remaining api-tests tests to tests/api
  .github/actions/check-pr-status/dist/index.js
  tests/api/core/strapi/document-service/clone.test.api.ts
  tests/api/core/strapi/document-service/create.test.api.ts
  tests/api/core/strapi/document-service/delete.test.api.ts
  tests/api/core/strapi/document-service/discard-draft.test.api.ts
  tests/api/core/strapi/document-service/dp/basic-no-dp.test.api.ts
  tests/api/core/strapi/document-service/find-first.test.api.ts
  tests/api/core/strapi/document-service/find-many.test.api.ts
  tests/api/core/strapi/document-service/find-one.test.api.ts
  tests/api/core/strapi/document-service/middlewares.test.api.ts
  tests/api/core/strapi/document-service/publish.test.api.ts
  tests/api/core/strapi/document-service/relations/basic.test.api.ts
  tests/api/core/strapi/document-service/relations/i18n.test.api.ts
  tests/api/core/strapi/document-service/relations/no-dp.test.api.ts
  tests/api/core/strapi/document-service/resources/fixtures/article.json
  tests/api/core/strapi/document-service/resources/fixtures/author.json
  tests/api/core/strapi/document-service/resources/fixtures/category.json
  tests/api/core/strapi/document-service/resources/fixtures/index.js
  tests/api/core/strapi/document-service/resources/index.ts
  tests/api/core/strapi/document-service/resources/schemas/article.js
  tests/api/core/strapi/document-service/resources/schemas/author.js
  tests/api/core/strapi/document-service/resources/schemas/category.js
  tests/api/core/strapi/document-service/resources/schemas/comp.js
  tests/api/core/strapi/document-service/resources/schemas/dz-comp.js
  tests/api/core/strapi/document-service/resources/schemas/dz-other-comp.js
  tests/api/core/strapi/document-service/resources/schemas/index.js
  tests/api/core/strapi/document-service/resources/types/components.d.ts
  tests/api/core/strapi/document-service/resources/types/contentTypes.d.ts
  tests/api/core/strapi/document-service/uniqueness.test.api.ts
  tests/api/core/strapi/document-service/unpublish.test.api.ts
  tests/api/core/strapi/document-service/update.test.api.ts
  tests/api/core/strapi/document-service/utils/index.ts
  tests/api/utils/builder-helper.ts
  tests/api/utils/index.ts
Labels: source: tooling, pr: chore

#19950 fix(admin): force an absolute URL if the BACKEND_URL is relative
  packages/core/admin/admin/src/render.ts
  packages/core/admin/admin/src/utils/tests/urls.test.ts
  packages/core/admin/admin/src/utils/urls.ts
Labels: source: core:admin, pr: fix

#19990 chore(history): simplify the meta object
  packages/core/content-manager/admin/src/history/components/tests/VersionHeader.test.tsx
  packages/core/content-manager/server/src/history/services/__tests__/history.test.ts
  packages/core/content-manager/server/src/history/services/history.ts
  packages/core/content-manager/shared/contracts/history-versions.ts
Labels: source: core:content-manager, pr: chore

#19995 fix: name validation
  packages/core/upload/server/src/services/upload.ts
Labels: source: core:upload, pr: fix

#19989 fix: create webhooks on an empty list page
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/ListPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/tests/ListPage.test.tsx
Labels: source: core:admin, pr: fix

#19992 chore: move cli-tests to tests/cli
  .gitignore
  docs/docs/guides/e2e/00-setup.md
  jest.config.cli.js
  package.json
  tests/cli/README.md
  tests/cli/app-template/README.md
  tests/cli/app-template/package.json
  tests/cli/app-template/template.json
  tests/cli/app-template/template/src/api/.gitkeep
  tests/cli/app-template/template/src/api/category/content-types/category/schema.json
  tests/cli/app-template/template/src/api/category/controllers/category.js
  tests/cli/app-template/template/src/api/category/routes/category.js
  tests/cli/app-template/template/src/api/category/services/category.js
  tests/cli/app-template/template/src/api/complex/content-types/complex/schema.json
  tests/cli/app-template/template/src/api/complex/controllers/complex.js
  tests/cli/app-template/template/src/api/complex/routes/complex.js
  tests/cli/app-template/template/src/api/complex/services/complex.js
  tests/cli/app-template/template/src/api/config/controllers/config.js
  tests/cli/app-template/template/src/api/config/routes/config.js
  tests/cli/app-template/template/src/api/config/services/config.js
  tests/cli/app-template/template/src/api/single-type-localized/content-types/single-type-localized/schema.json
  tests/cli/app-template/template/src/api/single-type-localized/controllers/single-type-localized.js
  tests/cli/app-template/template/src/api/single-type-localized/routes/single-type-localized.js
  tests/cli/app-template/template/src/api/single-type-localized/services/single-type-localized.js
  tests/cli/app-template/template/src/api/single-type-non-local/content-types/single-type-non-local/schema.json
  tests/cli/app-template/template/src/api/single-type-non-local/controllers/single-type-non-local.js
  tests/cli/app-template/template/src/api/single-type-non-local/routes/single-type-non-local.js
  tests/cli/app-template/template/src/api/single-type-non-local/services/single-type-non-local.js
  tests/cli/app-template/template/src/api/single-type-unpublished/content-types/single-type-unpublished/schema.json
  tests/cli/app-template/template/src/api/single-type-unpublished/controllers/single-type-unpublished.js
  tests/cli/app-template/template/src/api/single-type-unpublished/routes/single-type-unpublished.js
  tests/cli/app-template/template/src/api/single-type-unpublished/services/single-type-unpublished.js
  tests/cli/app-template/template/src/components/component-category/component-two.json
  tests/cli/app-template/template/src/components/component-category/component.json
  tests/cli/app-template/template/src/constants.js
  tests/cli/app-template/template/src/index.js
  tests/cli/constants.js
  tests/cli/data/README.md
  tests/cli/data/complex.tar.gz
  tests/cli/scripts/dts-export.js
  tests/cli/scripts/dts-import.js
  tests/cli/scripts/rate-limit.js
  tests/cli/tests/strapi/config.js
  tests/cli/tests/strapi/data-transfer/export.test.cli.js
  tests/cli/tests/strapi/data-transfer/import.test.cli.js
  tests/cli/tests/strapi/version/version.test.cli.js
  tests/cli/utils/fs.js
  tests/cli/utils/index.js
  tests/cli/utils/test-app.js
  tests/e2e/tests/content-releases/releases-page.spec.ts
  tests/e2e/tests/transfer/tokens.spec.ts
  tests/scripts/run-cli-tests.js
  tests/scripts/run-e2e-tests.js
Labels: source: tooling, pr: chore

#19514 chore: add document-id migration
  packages/core/database/package.json
  packages/core/database/src/migrations/internal-migrations/5.0.0-01-convert-identifiers-long-than-max-length.ts
  packages/core/database/src/migrations/internal-migrations/5.0.0-02-document-id.ts
  packages/core/database/src/migrations/internal-migrations/index.ts
  yarn.lock
Labels: source: core:database, pr: chore

#20011 fix(i18n): remove strapi dep to fix circular deps
  packages/plugins/i18n/package.json
  yarn.lock
Labels: source: plugin:i18n, pr: fix

#19311 Update sharp package to version v0.33.3
  packages/core/upload/package.json
  yarn.lock
Labels: source: external, pr: chore, community

#20010 Upgrade lerna - nx
  .gitignore
  .prettierignore
  lerna.json
  nx.json
  package.json
  yarn.lock
Labels: source: tooling, pr: chore

#20012 chore: update github issue label workflow
  .github/workflows/issues_handleLabel.yml
Labels: source: tooling, pr: chore

#19958 fix(content-manager): populate media and nested components on cloning
  packages/core/strapi/src/services/entity-service/index.ts
Labels: source: core:strapi, pr: fix

#20015 chore: update koa libs
  packages/core/admin/package.json
  packages/core/admin/server/src/controllers/admin.ts
  packages/core/admin/server/src/services/__tests__/project-settings.test.ts
  packages/core/admin/server/src/services/project-settings.ts
  packages/core/admin/server/src/validation/project-settings.ts
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/core/package.json
  packages/core/core/src/middlewares/body.ts
  packages/core/data-transfer/package.json
  packages/core/email/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/upload/server/src/register.ts
  packages/core/upload/server/src/services/upload.ts
  packages/core/utils/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: flag: 💥 Breaking change, source: dependencies, pr: chore

#20014 [v5] fix: use admin.url config for root path redirect
  packages/core/core/src/middlewares/public.ts
Labels: pr: fix, source: core:core

#20023 chore: ignore nx cache
  .gitignore
Labels: source: tooling, pr: chore

#19971 feat: support media deep filtering & relation shortcut filters
  .github/filters.yaml
  examples/getstarted/src/api/kitchensink/content-types/kitchensink/schema.json
  examples/getstarted/src/api/tag/content-types/tag/schema.json
  packages/core/database/src/metadata/relations.ts
  packages/core/database/src/query/helpers/join.ts
  packages/core/database/src/query/helpers/where.ts
  tests/api/core/upload/content-api/upload.test.api.js
Labels: source: core:database, pr: feature

#19940 Add multiple v5 codemods
  packages/utils/upgrade/resources/codemods/5.0.0/entity-service-document-service.code.ts
  packages/utils/upgrade/resources/codemods/5.0.0/strapi-public-interface.code.ts
  packages/utils/upgrade/resources/codemods/5.0.0/utils-public-interface.code.ts
Labels: pr: chore, source: utils:upgrade

#20030 Refactor Link to v2
  packages/plugins/cloud/admin/src/pages/HomePage.tsx
Labels: pr: chore, source: plugin:cloud

#20024 Refactor cli version test
  package.json
  tests/cli/tests/strapi/version/version.test.cli.js
  yarn.lock
Labels: source: cli, pr: chore

#19801 test: add e2e tests for CTB restarts from file changes
  docs/docs/guides/e2e/00-setup.md
  packages/core/data-transfer/src/strapi/remote/handlers/utils.ts
  playwright.base.config.js
  tests/e2e/scripts/dts-export.js
  tests/e2e/tests/admin/login.spec.js
  tests/e2e/tests/admin/logout.spec.js
  tests/e2e/tests/admin/signup.spec.js
  tests/e2e/tests/admin/transfer/tokens.spec.ts
  tests/e2e/tests/content-manager/editview.spec.ts
  tests/e2e/tests/content-manager/listview.spec.ts
  tests/e2e/tests/content-releases/release-details-page.spec.ts
  tests/e2e/tests/content-releases/releases-page.spec.ts
  tests/e2e/tests/content-type-builder/collection-type/create-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/ctb-edit-view.spec.ts
  tests/e2e/tests/content-type-builder/tutorial.spec.ts
  tests/e2e/utils/dts-export.js
  tests/e2e/utils/dts-import.js
  tests/e2e/utils/file-reset.js
  tests/e2e/utils/rate-limit.js
  tests/e2e/utils/restart.ts
  tests/scripts/run-e2e-tests.js
Labels: source: tooling, pr: chore

#20035 enhancement: add relation data to history versions response
  packages/core/content-manager/admin/src/history/components/VersionContent.tsx
  packages/core/content-manager/admin/src/history/components/tests/VersionHeader.test.tsx
  packages/core/content-manager/server/src/history/services/__tests__/history.test.ts
  packages/core/content-manager/server/src/history/services/history.ts
  packages/core/content-manager/shared/contracts/history-versions.ts
Labels: source: core:content-manager, pr: enhancement

#20041 Chore: Revert @koa/cors upgrade to 5.0.0 due to breaking cors middleware
  packages/core/strapi/package.json
  packages/core/types/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#20037 Chore: Update vite and webpack-dev-middleware
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  packages/utils/pack-up/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#20040 tests: use semver for both version tests
  tests/cli/tests/strapi/version/version.test.cli.js
Labels: source: tooling, pr: chore

#20049 chore(cm): fix peer-deps
  packages/core/content-manager/package.json
  packages/core/review-workflows/package.json
  yarn.lock
Labels: source: core:content-manager, pr: chore

#20047 fix: prevent empty body when cloning
  packages/plugins/i18n/server/src/controllers/validate-locale-creation.ts
Labels: source: plugin:i18n, pr: fix

#20009 fix: making api tokens creation work
  packages/core/admin/admin/src/pages/Settings/pages/ApiTokens/EditView/EditViewPage.tsx
  tests/e2e/tests/admin/api-tokens.spec.ts
Labels: source: core:admin, pr: fix

#20054 enhancement: display relations on history page
  packages/core/content-manager/admin/src/history/components/VersionContent.tsx
  packages/core/content-manager/admin/src/history/components/VersionHeader.tsx
  packages/core/content-manager/admin/src/history/components/VersionsList.tsx
  packages/core/content-manager/admin/src/history/pages/History.tsx
  packages/core/content-manager/admin/src/translations/en.json
Labels: source: core:content-manager, pr: enhancement

#19936 fix(content-releases): fix flaky FE unit tests
  packages/core/content-releases/admin/src/components/tests/CMReleasesContainer.test.tsx
Labels: pr: fix, source: core:content-releases

#20017 Improvement to the doc service API
  packages/core/content-manager/server/src/controllers/collection-types.ts
  packages/core/content-manager/server/src/history/services/__tests__/history.test.ts
  packages/core/content-manager/server/src/history/services/history.ts
  packages/core/content-manager/server/src/services/document-manager.ts
  packages/core/core/src/core-api/service/__tests__/index.test.ts
  packages/core/core/src/core-api/service/collection-type.ts
  packages/core/core/src/core-api/service/single-type.ts
  packages/core/core/src/services/document-service/attributes/index.ts
  packages/core/core/src/services/document-service/attributes/transforms.ts
  packages/core/core/src/services/document-service/common.ts
  packages/core/core/src/services/document-service/components.ts
  packages/core/core/src/services/document-service/entries.ts
  packages/core/core/src/services/document-service/index.ts
  packages/core/core/src/services/document-service/middlewares/middleware-manager.ts
  packages/core/core/src/services/document-service/params.ts
  packages/core/core/src/services/document-service/repository.ts
  packages/core/core/src/services/document-service/transform/query.ts
  packages/core/core/src/services/entity-service/components.ts
  packages/core/core/src/services/entity-service/index.ts
  packages/core/core/src/services/entity-service/params.ts
  packages/core/types/src/modules/documents/middleware.ts
  packages/core/types/src/modules/documents/params/document-engine.ts
  packages/core/types/src/modules/documents/service-instance.ts
  packages/plugins/graphql/server/src/services/builders/mutations/collection-type.ts
  packages/plugins/graphql/server/src/services/builders/mutations/single-type.ts
  packages/plugins/graphql/server/src/services/builders/resolvers/query.ts
  packages/plugins/i18n/server/src/bootstrap.ts
  packages/plugins/i18n/server/src/services/localizations.ts
  packages/utils/api-tests/models.js
  tests/api/core/content-manager/find-relations.test.api.js
  tests/api/core/strapi/document-service/clone.test.api.ts
  tests/api/core/strapi/document-service/delete.test.api.ts
  tests/api/core/strapi/document-service/discard-draft.test.api.ts
  tests/api/core/strapi/document-service/dp/basic-no-dp.test.api.ts
  tests/api/core/strapi/document-service/find-one.test.api.ts
  tests/api/core/strapi/document-service/publish.test.api.ts
  tests/api/core/strapi/document-service/relations/basic.test.api.ts
  tests/api/core/strapi/document-service/relations/no-dp.test.api.ts
  tests/api/core/strapi/document-service/uniqueness.test.api.ts
  tests/api/core/strapi/document-service/unpublish.test.api.ts
  tests/api/core/strapi/document-service/update.test.api.ts
Labels: pr: chore, source: core:core

#20026 chore(tests): allow unknown args in e2e
  docs/docs/guides/e2e/00-setup.md
  package.json
Labels: pr: fix

#19949 feat(admin): rbac middleware
  docs/docs/docs/01-core/admin/02-permissions/02-frontend/using-permissions.mdx
  docs/docs/docs/01-core/admin/04-features/authentication.md
  packages/admin-test-utils/src/fixtures/store/index.ts
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/components/PageHelpers.tsx
  packages/core/admin/admin/src/components/Providers.tsx
  packages/core/admin/admin/src/core/apis/rbac.ts
  packages/core/admin/admin/src/features/Auth.tsx
  packages/core/admin/admin/src/features/StrapiApp.tsx
  packages/core/admin/admin/src/hooks/tests/useRBAC.test.ts
  packages/core/admin/admin/src/hooks/useMenu.ts
  packages/core/admin/admin/src/hooks/useRBAC.ts
  packages/core/admin/admin/src/hooks/useSettingsMenu.ts
  packages/core/admin/admin/src/index.ts
  packages/core/admin/admin/src/layouts/AuthenticatedLayout.tsx
  packages/core/admin/admin/src/pages/Settings/pages/ApiTokens/tests/ListView.test.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Users/EditPage.tsx
  packages/core/admin/admin/src/pages/Settings/tests/SettingsPage.test.tsx
  packages/core/admin/admin/src/utils/hashAdminUserEmail.ts
  packages/core/admin/admin/src/utils/once.ts
  packages/core/admin/admin/src/utils/tests/hashAdminUserEmail.test.ts
  packages/core/admin/admin/src/utils/tests/users.test.ts
  packages/core/admin/admin/src/utils/users.ts
  packages/core/admin/admin/tests/utils.tsx
  packages/core/content-manager/admin/src/constants/plugin.ts
  packages/core/content-manager/admin/src/features/DocumentRBAC.tsx
  packages/core/content-manager/admin/src/history/pages/History.tsx
  packages/core/content-manager/admin/src/hooks/useDocumentLayout.ts
  packages/core/content-manager/admin/src/hooks/useSyncRbac.ts
  packages/core/content-manager/admin/src/modules/rbac.ts
  packages/core/content-manager/admin/src/modules/reducers.ts
  packages/core/content-manager/admin/src/pages/EditView/EditViewPage.tsx
  packages/core/content-manager/admin/src/pages/ListView/ListViewPage.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/ViewSettingsMenu.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/tests/ViewSettingsMenu.test.tsx
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/components/ReleaseActionMenu.tsx
  packages/plugins/documentation/admin/src/pages/App.tsx
  packages/plugins/i18n/admin/src/index.ts
  packages/plugins/i18n/admin/src/middlewares/localePermission.ts
  packages/plugins/i18n/admin/src/middlewares/rbac-middleware.ts
  packages/plugins/i18n/admin/src/middlewares/tests/localePermissionMiddleware.test.ts
Labels: flag: 💥 Breaking change, source: core:admin, pr: enhancement

#19358 Hide Locale column and grouping option when i18n plugin is not installed
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
  packages/plugins/i18n/admin/src/contentReleasesHooks/releaseDetailsView.ts
  packages/plugins/i18n/admin/src/index.ts
Labels: pr: fix, source: core:content-releases

#19926 Feat(releases): add release column to CM list view
  packages/core/admin/admin/src/index.ts
  packages/core/admin/admin/src/types/adminConfiguration.ts
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/components/ReleaseListCell.tsx
  packages/core/content-releases/admin/src/components/tests/CMReleasesContainer.test.tsx
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/server/src/controllers/__tests__/release.test.ts
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/server/src/routes/release.ts
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/shared/contracts/releases.ts
  tests/e2e/tests/content-releases/releases-page.spec.ts
Labels: pr: feature, source: core:content-releases

#20068 chore: add watch script for all projects
  package.json
Labels: source: tooling, pr: chore

#19986 [Type-System] Generate Markdown API Reference for the Type System
  packages/core/types/package.json
  packages/core/types/src/README.md
  packages/core/types/typedoc.json
  yarn.lock
Labels: pr: doc, source: typescript

#20073 fix: fix boot issue when removing i18n from an app
  packages/core/content-releases/server/src/migrations/index.ts
Labels: pr: fix, source: core:content-releases

#20039 feat(history): display new and unknown fields
  packages/core/content-manager/admin/src/history/components/VersionContent.tsx
  packages/core/content-manager/admin/src/history/components/VersionInputRenderer.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/InputRenderer.tsx
  packages/core/content-manager/admin/src/translations/en.json
  tests/e2e/tests/admin/api-tokens.spec.ts
  tests/e2e/tests/content-manager/cloning.spec.ts
  tests/e2e/tests/content-manager/history.spec.ts
  tests/e2e/tests/content-manager/uniqueness.spec.ts
  tests/e2e/utils/file-reset.js
Labels: source: core:content-manager, pr: feature

#20081 fix(history): update relations display
  packages/core/content-manager/admin/src/history/components/VersionInputRenderer.tsx
Labels: source: core:content-manager, pr: fix

#20072 chore(deps): install prettier@2 *just* for jest snapshots
  jest-preset.front.js
  jest-preset.unit.js
  package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#20029 Refactor LinkButton to v2
  packages/core/admin/admin/src/pages/InternalErrorPage.tsx
  packages/core/admin/admin/src/pages/NotFoundPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/ApiTokens/ListView.tsx
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/ListView.tsx
  packages/core/content-type-builder/admin/src/components/AttributeOptions/EmptyAttributes.tsx
Labels: source: core:admin, pr: chore

#20071 docs: comment type-system types
  packages/core/types/src/data/component.ts
  packages/core/types/src/data/constants.ts
  packages/core/types/src/data/content-type.ts
  packages/core/types/src/data/entity.ts
  packages/core/types/src/public/registries.ts
  packages/core/types/src/public/shared.ts
  packages/core/types/src/schema/attribute/base.ts
  packages/core/types/src/schema/attribute/common.ts
  packages/core/types/src/schema/attribute/definitions/biginteger.ts
  packages/core/types/src/schema/attribute/definitions/blocks.ts
  packages/core/types/src/schema/attribute/definitions/boolean.ts
  packages/core/types/src/schema/attribute/definitions/component.ts
  packages/core/types/src/schema/attribute/definitions/date-time.ts
  packages/core/types/src/schema/attribute/definitions/date.ts
  packages/core/types/src/schema/attribute/definitions/decimal.ts
  packages/core/types/src/schema/attribute/definitions/dynamic-zone.ts
  packages/core/types/src/schema/attribute/definitions/email.ts
  packages/core/types/src/schema/attribute/definitions/enumeration.ts
  packages/core/types/src/schema/attribute/definitions/float.ts
  packages/core/types/src/schema/attribute/definitions/integer.ts
  packages/core/types/src/schema/attribute/definitions/json.ts
  packages/core/types/src/schema/attribute/definitions/media.ts
  packages/core/types/src/schema/attribute/definitions/password.ts
  packages/core/types/src/schema/attribute/definitions/relation.ts
  packages/core/types/src/schema/attribute/definitions/richtext.ts
  packages/core/types/src/schema/attribute/definitions/string.ts
  packages/core/types/src/schema/attribute/definitions/text.ts
  packages/core/types/src/schema/attribute/definitions/time.ts
  packages/core/types/src/schema/attribute/definitions/timestamp.ts
  packages/core/types/src/schema/attribute/definitions/uid.ts
  packages/core/types/src/schema/attribute/options.ts
  packages/core/types/src/schema/attribute/utils.ts
  packages/core/types/src/schema/index.ts
  packages/core/types/src/struct/schema.ts
  packages/core/types/src/uid/index.ts
Labels: pr: doc, source: typescript

#20075 docs: contributor guide - philosophy
  docs/docs/guides/05-type-system/01-philosophy.md
  docs/docs/guides/05-type-system/index.md
Labels: pr: doc, source: typescript

#20093 chore: run prettier:write script
  docs/docs/guides/05-type-system/01-philosophy.md
Labels: source: tooling, pr: chore

#20094 fix(content-releases): fix e2e failing test
  tests/e2e/tests/content-releases/releases-page.spec.ts
Labels: pr: fix, source: core:content-releases

#20060 Continue extending entries code
  packages/core/core/src/services/document-service/attributes/index.ts
  packages/core/core/src/services/document-service/components.ts
  packages/core/core/src/services/document-service/entries.ts
  packages/core/core/src/services/document-service/index.ts
  packages/core/core/src/services/document-service/internationalization.ts
  packages/core/core/src/services/document-service/middlewares/middleware-manager.ts
  packages/core/core/src/services/document-service/repository.ts
  packages/core/types/src/modules/documents/component-extension.ts
  packages/core/types/src/modules/documents/index.ts
  packages/core/types/src/modules/documents/middleware.ts
  packages/core/types/src/modules/documents/service-instance.ts
  tests/api/core/strapi/api/populate/sanitize.test.api.js
  tests/api/core/strapi/document-service/middlewares.test.api.ts
Labels: pr: chore, source: core:core

#20090 Fix SSO Routes
  packages/core/admin/admin/src/StrapiApp.tsx
Labels: source: core:admin, pr: fix

#20105 Use the right name in useRBAC
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/SingleSignOnPage.tsx
Labels: source: core:admin, pr: fix

#20101 fix(api-test): number of draft relations
  tests/api/core/content-manager/api/number-of-draft-relations.test.api.js
Labels: pr: fix

#20099 enhancement: add history license check
  packages/core/admin/shared/contracts/admin.ts
  packages/core/content-manager/admin/src/history/components/HistoryAction.tsx
  packages/core/content-manager/server/src/history/index.ts
  packages/core/core/src/ee/license.ts
Labels: source: core:content-manager, pr: enhancement

#20115 chore(deps): bump @strapi/design-system from 1.16.0 to 1.18.0
  examples/getstarted/package.json
  package.json
  packages/core/admin/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.jsx.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/tests/__snapshots__/Settings.test.jsx.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.jsx.snap
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#19981 chore: remove js-cookie dependency
  packages/core/admin/ee/admin/src/pages/AuthResponse.tsx
  packages/core/admin/ee/admin/src/utils/cookies.ts
  packages/core/admin/ee/admin/tests/cookies.test.ts
  packages/core/admin/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#20102 feat(history): restore version
  packages/core/content-manager/admin/src/history/components/VersionHeader.tsx
  packages/core/content-manager/admin/src/history/services/historyVersion.ts
  packages/core/content-manager/server/src/history/controllers/history-version.ts
  packages/core/content-manager/server/src/history/controllers/validation/history-version.ts
  packages/core/content-manager/server/src/history/routes/history-version.ts
  packages/core/content-manager/server/src/history/services/history.ts
  packages/core/content-manager/server/src/history/services/utils.ts
  packages/core/content-manager/shared/contracts/history-versions.ts
Labels: source: core:content-manager, pr: feature

#20116 Count draft relations across locales
  packages/core/content-manager/server/src/controllers/collection-types.ts
  packages/core/content-manager/server/src/controllers/utils/dimensions.ts
  packages/core/content-manager/server/src/services/document-manager.ts
  tests/api/core/content-manager/api/number-of-draft-relations.test.api.js
Labels: source: core:content-manager, pr: enhancement

#20122 fix: history design details
  packages/core/content-manager/admin/src/history/components/VersionHeader.tsx
  packages/core/content-manager/admin/src/history/components/VersionsList.tsx
Labels: source: core:content-manager, pr: fix

#20128 Fix SSO Frontend Test
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/tests/SingleSignOnPage.test.tsx
Labels: source: core:admin, pr: fix

#20048 tests(content-releases): add API tests for Content Releases
  tests/api/plugins/content-releases/releases.test.api.ts
Labels: pr: chore, source: core:content-releases

#20123 Chore: Upgrade mysql2 from 3.6.0 to 3.9.4
  examples/getstarted/package.json
  examples/kitchensink/package.json
  packages/generators/app/src/utils/db-client-dependencies.ts
  yarn.lock
Labels: source: dependencies, pr: chore

#20106 feat: add confirmation modal when restoring history version
  packages/core/content-manager/admin/src/history/components/VersionHeader.tsx
  packages/core/content-manager/admin/src/history/components/tests/VersionHeader.test.tsx
  packages/core/content-manager/admin/src/history/pages/History.tsx
  packages/core/content-manager/admin/src/history/services/historyVersion.ts
  packages/core/content-manager/admin/src/translations/en.json
  packages/core/content-manager/shared/contracts/history-versions.ts
  packages/core/review-workflows/package.json
  yarn.lock
Labels: source: core:content-manager, pr: feature

#20131 chore: remove history future flag
  .github/actions/run-e2e-tests/action.yml
  examples/getstarted/config/features.js
  packages/core/content-manager/admin/src/history/components/HistoryAction.tsx
  packages/core/content-manager/server/src/history/index.ts
  packages/core/types/src/modules/features.ts
  tests/e2e/.env.example
  tests/e2e/app-template/config/features.js
  tests/e2e/tests/content-manager/history.spec.ts
Labels: source: core:content-manager, pr: chore

#20104 enhancement(ctb)!: reserve keywords needed for Strapi 5
  packages/core/content-type-builder/server/src/services/builder.ts
Labels: flag: 💥 Breaking change, source: core:content-type-builder, pr: enhancement

#20027 fix(database): add prefix to avoid join column name conflicts
  packages/core/database/src/query/helpers/populate/apply.ts
  tests/api/core/strapi/api/populate/populate.test.api.js
Labels: source: core:database, pr: fix

#20000 [v5] fix(admin): remove double modal toggle for on delete RBAC role
  packages/core/admin/admin/src/pages/Settings/pages/Roles/ListPage.tsx
Labels: source: core:admin, pr: fix

#20044 Make cors middleware compliant with the intended spec
  packages/core/strapi/package.json
  packages/core/strapi/src/middlewares/cors.ts
  packages/core/types/package.json
  yarn.lock
Labels: pr: chore, source: core:core

#20145 feat: refactor test in transaction util
  tests/api/core/content-manager/api/document-metadata.test.api.js
  tests/api/core/strapi/document-service/clone.test.api.ts
  tests/api/core/strapi/document-service/create.test.api.ts
  tests/api/core/strapi/document-service/delete.test.api.ts
  tests/api/core/strapi/document-service/discard-draft.test.api.ts
  tests/api/core/strapi/document-service/dp/basic-no-dp.test.api.ts
  tests/api/core/strapi/document-service/publish.test.api.ts
  tests/api/core/strapi/document-service/relations/basic.test.api.ts
  tests/api/core/strapi/document-service/relations/i18n.test.api.ts
  tests/api/core/strapi/document-service/relations/no-dp.test.api.ts
  tests/api/core/strapi/document-service/unpublish.test.api.ts
  tests/api/core/strapi/document-service/update.test.api.ts
  tests/api/utils/index.ts
Labels: pr: enhancement, source: core:core

#20135 feat(main-nav): Main Nav refactoring, refactor the logo
  packages/core/admin/admin/src/components/LeftMenu.tsx
  packages/core/admin/admin/src/components/MainNav/NavBrand.tsx
  packages/core/admin/admin/src/components/MainNav/tests/NavBrand.test.tsx
  packages/core/admin/admin/tests/utils.tsx
Labels: source: core:admin, pr: enhancement

#20154 chore: update codemod to match new format
  packages/utils/upgrade/resources/codemods/5.0.0/entity-service-document-service.code.ts
Labels: pr: fix, source: utils:upgrade

#20143 fix: sanitize history versions data field
  packages/core/admin/server/src/services/permission/permissions-manager/sanitize.ts
  packages/core/content-manager/server/src/history/controllers/history-version.ts
  packages/core/content-manager/shared/contracts/history-versions.ts
Labels: source: core:content-manager, pr: fix

#20157 chore(history): add api tests
  packages/core/content-manager/admin/src/history/components/VersionHeader.tsx
  packages/core/content-manager/admin/src/history/components/tests/VersionHeader.test.tsx
  packages/core/content-manager/admin/src/history/services/historyVersion.ts
  packages/core/content-manager/server/src/history/controllers/__tests__/history-version.test.ts
  packages/core/content-manager/server/src/history/controllers/history-version.ts
  packages/core/content-manager/server/src/history/services/history.ts
  packages/core/content-manager/shared/contracts/history-versions.ts
  tests/api/core/content-manager/content-manager/history/history.test.api.ts
Labels: source: tooling, pr: chore

#20171 fix: ee not being extended because no default export
  packages/core/admin/ee/server/src/services/metrics.ts
  packages/core/admin/server/src/bootstrap.ts
  packages/core/admin/server/src/services/__tests__/metrics.test.ts
  packages/core/admin/server/src/services/index.ts
  packages/core/admin/server/src/services/metrics.ts
  packages/core/admin/server/src/utils/index.d.ts
  packages/core/admin/strapi-server.js
Labels: source: core:admin, pr: fix

#20180 fix: content could be undefined
  packages/core/admin/admin/src/content-manager/pages/ListView/components/TableCells/CellContent.tsx
Labels: source: core:content-manager, pr: fix

#20186 docs: fix formatting in contributor docs
  docs/docs/guides/05-type-system/02-concepts/01-schema.mdx
  docs/docs/guides/05-type-system/02-concepts/02-uid.mdx
  docs/docs/guides/05-type-system/02-concepts/03-public-registry.mdx
Labels: source: docs, pr: chore

#20190 Update SECURITY.md with changes related to Strapi 5 Beta
  SECURITY.md
Labels: source: tooling, pr: chore

#20199 fix(tests): update history api tests to created ids
  tests/api/core/content-manager/content-manager/history/history.test.api.ts
Labels: source: tooling, pr: fix

#20175 chore: make document service api more consistent
  packages/core/content-manager/server/src/services/document-manager.ts
  packages/core/core/src/core-api/service/__tests__/index.test.ts
  packages/core/core/src/core-api/service/collection-type.ts
  packages/core/core/src/core-api/service/single-type.ts
  packages/core/core/src/services/document-service/repository.ts
  packages/core/types/src/modules/documents/result/document-engine.ts
  packages/core/types/src/modules/documents/service-instance.ts
  packages/plugins/i18n/server/src/bootstrap.ts
  tests/api/core/content-manager/find-relations.test.api.js
  tests/api/core/strapi/document-service/clone.test.api.ts
  tests/api/core/strapi/document-service/discard-draft.test.api.ts
  tests/api/core/strapi/document-service/relations/basic.test.api.ts
Labels: pr: chore, source: core:core

#20174 fix: doc id migration for mysql
  packages/core/database/src/migrations/internal-migrations/5.0.0-02-document-id.ts
Labels: source: core:database, pr: fix

#20206 chore: upgrade mailgun provider and remove deprecated options
  packages/providers/email-mailgun/package.json
  packages/providers/email-mailgun/src/__tests__/convert-provider-options.test.ts
  packages/providers/email-mailgun/src/index.ts
  yarn.lock
Labels: source: core:email, pr: chore

#20204 Update deps
  .github/actions/check-pr-status/dist/index.js
  .github/actions/check-pr-status/package.json
  package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/admin/server/src/controllers/admin.ts
  packages/core/content-type-builder/package.json
  packages/core/core/package.json
  packages/core/core/src/services/server/koa.ts
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/app/src/utils/merge-template.ts
  packages/generators/app/src/utils/usage.ts
  packages/generators/generators/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/graphql/server/src/services/content-api/index.ts
  packages/plugins/sentry/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/typescript/package.json
  packages/utils/upgrade/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#20168 [Contributor Doc] Type System CheatSheet
  docs/docs/guides/05-type-system/02-concepts/02-uid.mdx
  docs/docs/guides/05-type-system/03-cheatsheet.mdx
  packages/core/types/src/schema/attribute/base.ts
Labels: pr: doc, source: typescript

#20194 chore!: remove deprecated verbose option from ts:generate-types
  packages/core/strapi/src/cli/commands/ts/generate-types.ts
Labels: flag: 💥 Breaking change, source: cli, pr: chore, echoes/type: feature

#20176 feat(main-nav): Main Nav refactoring, add the Home icon
  packages/core/admin/admin/src/components/LeftMenu.tsx
  packages/core/admin/admin/src/components/MainNav/NavBrand.tsx
  packages/core/admin/admin/src/components/MainNav/NavLink.tsx
  packages/core/admin/admin/src/components/MainNav/tests/NavLink.test.tsx
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: enhancement

#20212 fix(history): handle sanitization when fetching versions
  packages/core/content-manager/admin/src/history/components/VersionInputRenderer.tsx
  packages/core/content-manager/admin/src/history/components/tests/VersionHeader.test.tsx
  packages/core/content-manager/server/src/history/constants.ts
  packages/core/content-manager/server/src/history/controllers/history-version.ts
  packages/core/content-manager/server/src/history/services/__tests__/history.test.ts
  packages/core/content-manager/server/src/history/services/history.ts
  packages/core/content-manager/shared/contracts/history-versions.ts
  tests/e2e/tests/content-manager/history.spec.ts
Labels: source: core:content-manager, pr: fix

#20201 feat: show hidden fields in history frontend
  packages/core/content-manager/admin/src/history/components/VersionContent.tsx
  packages/core/content-manager/admin/src/history/components/VersionInputRenderer.tsx
  packages/core/content-manager/admin/src/history/pages/History.tsx
  packages/core/content-manager/admin/src/hooks/useDocumentLayout.ts
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Input.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/NonRepeatable.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Repeatable.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/InputRenderer.tsx
  packages/core/content-manager/admin/src/pages/EditView/utils/data.ts
Labels: source: core:content-manager, pr: feature

#20231 fix: issue 20138
  packages/core/database/src/query/helpers/where.ts
  tests/api/core/strapi/deep-filtering.test.api.js
  tests/api/core/strapi/filtering.test.api.js
Labels: source: core:database, pr: fix
