Repository strapi/strapi, pull requests merged in 2024-09, with the labels that each got.

#21113 fix(content-releases): await release status update after createMany actions
  packages/core/content-releases/server/src/controllers/__tests__/release-action.test.ts
  packages/core/content-releases/server/src/controllers/release-action.ts
  packages/core/content-releases/server/src/services/release.ts
Labels: pr: fix, source: core:content-releases

#21110 Fix Document Service Typing Issues
  packages/core/types/src/modules/documents/component-extension.ts
  packages/core/types/src/modules/documents/index.ts
  packages/core/types/src/modules/documents/params/data.ts
  packages/core/types/src/modules/documents/service-instance.ts
  packages/core/types/src/modules/entity-service/params/data.ts
Labels: pr: fix, source: typescript

#21034 feat!: document service query param validation
  packages/core/core/src/services/document-service/repository.ts
  packages/core/utils/src/traverse/factory.ts
  packages/core/utils/src/traverse/query-fields.ts
  packages/core/utils/src/traverse/query-populate.ts
  packages/core/utils/src/validate/utils.ts
  packages/core/utils/src/validate/validators.ts
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
  packages/plugins/i18n/server/src/bootstrap.ts
  tests/api/core/strapi/api/validate/validate-query.test.api.js
  tests/api/core/strapi/document-service/resources/schemas/article.js
  tests/api/core/strapi/document-service/validation/validation.test.api.ts
Labels: flag: 💥 Breaking change, pr: feature, source: core:core

#21122 chore(upgrade): codemod for replacing nocontent with emptystatelayout
  packages/utils/upgrade/resources/codemods/5.0.0/nocontent-migrate-to-emptystatelayout.code.ts
  packages/utils/upgrade/resources/codemods/5.0.0/useRBAC-hook-import-change.code.ts
  packages/utils/upgrade/resources/utils/change-import.ts
  packages/utils/upgrade/resources/utils/replace-jsx.ts
Labels: pr: enhancement, source: utils:upgrade

#21129 fix: reproduce v4 behavior for data compatibility
  packages/core/content-type-builder/server/src/services/schema-builder/content-type-builder.ts
  packages/core/database/src/metadata/__tests__/resources/expected-hashed-metadata.ts
  packages/core/database/src/metadata/__tests__/resources/expected-metadata.ts
  packages/core/database/src/metadata/__tests__/resources/models.ts
  packages/core/database/src/metadata/relations.ts
  packages/core/database/src/types/index.ts
  tests/api/core/database/v4-self-ref-compat.test.api.js
Labels: source: core:content-type-builder, pr: fix

#21133 fix: use dynamic pkg.json import to get write pkg version during install
  packages/cli/create-strapi-app/src/index.ts
Labels: source: cli, pr: fix

#21132 chore: import koa-body type to have request.body work
  packages/core/types/package.json
  packages/core/types/src/core/controller.ts
  yarn.lock
Labels: pr: fix, source: core:core

#21136 fix: list view populated data not managed
  packages/core/content-manager/admin/src/pages/ListView/components/TableCells/CellContent.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/TableCells/Relations.tsx
Labels: source: core:content-manager, pr: fix

#21137 chore: bump DS 2.0.0-rc.10
  examples/getstarted/package.json
  packages/core/admin/package.json
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/admin/src/components/AttributeOptions/tests/__snapshots__/AttributeOptions.test.tsx.snap
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/review-workflows/package.json
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.jsx.snap
  packages/core/upload/admin/src/components/AssetGridList/tests/__snapshots__/AssetGridList.test.jsx.snap
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.jsx.snap
  packages/core/upload/admin/src/components/ContextInfo/tests/__snapshots__/ContextInfo.test.jsx.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.jsx.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/index.test.jsx.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.jsx.snap
  packages/core/upload/admin/src/components/FilterList/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.jsx.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/tests/__snapshots__/Settings.test.jsx.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.jsx.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkActions.test.jsx.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkDeleteButton.test.jsx.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/BulkMoveButton.test.jsx.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/components/tests/__snapshots__/Header.test.jsx.snap
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#21141 enhancement: prevent committing tests with only
  .husky/pre-commit
  packages/core/admin/admin/src/components/tests/PrivateRoute.test.tsx
  packages/core/upload/admin/src/components/AssetCard/tests/AssetCardBase.test.jsx
Labels: source: tooling, pr: enhancement

#21140 fix: fix default date value bug in content type builder(#21098)
  packages/core/content-type-builder/admin/src/components/GenericInputs.tsx
  packages/core/content-type-builder/admin/src/utils/parseDateValue.ts
  packages/core/content-type-builder/admin/src/utils/tests/parseDateValue.test.ts
Labels: source: core:content-type-builder, pr: fix

#21119 fix(tooling): add missing deps for contrib doc deployment
  docs/yarn.lock
  packages/admin-test-utils/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  yarn.lock
Labels: source: tooling, pr: fix

#21153 fix: potential negative repeat and typo
  packages/cli/create-strapi-app/src/create-strapi.ts
  packages/cli/create-strapi-app/src/utils/logger.ts
Labels: source: cli, pr: fix

#21111 fix: (v4) marketplace hide install button when incompatible
  packages/core/admin/admin/src/pages/Marketplace/components/NpmPackageCard.tsx
  packages/core/admin/admin/src/pages/Marketplace/tests/MarketplacePage.test.tsx
  packages/core/admin/admin/src/pages/Marketplace/tests/MarketplacePlugins.test.tsx
  packages/core/admin/admin/src/pages/Marketplace/tests/MarketplaceProviders.test.tsx
Labels: pr: fix, source: marketplace

#21130 fix: (v5) marketplace hide install button when incompatible
  packages/core/admin/admin/src/pages/Marketplace/components/NpmPackageCard.tsx
  packages/core/admin/admin/src/pages/Marketplace/tests/MarketplacePage.test.tsx
  packages/core/admin/admin/src/pages/Marketplace/tests/MarketplaceProviders.test.tsx
Labels: pr: fix, source: marketplace

#21147 test: clear sessionStorage between tests
  packages/core/admin/admin/src/components/tests/PrivateRoute.test.tsx
Labels: source: tooling, pr: chore

#21154 fix: micromatch update
  docs/yarn.lock
  templates/website/yarn.lock
  yarn.lock
Labels: source: tooling, pr: fix

#21152 fix: remove entity service decorator
  docs/docs/docs/01-core/admin/01-ee/01-review-workflows.md
  packages/plugins/i18n/server/src/bootstrap.ts
  packages/plugins/i18n/server/src/services/__tests__/entity-service-decorator.test.ts
  packages/plugins/i18n/server/src/services/entity-service-decorator.ts
  packages/plugins/i18n/server/src/services/index.ts
  packages/plugins/i18n/server/src/utils/index.ts
  tests/cli/tests/strapi/strapi/services-list.test.cli.js
Labels: source: plugin:i18n, pr: chore

#21134 Add a codemod to replace CheckPagePermissions by Page
  packages/utils/upgrade/resources/codemods/5.0.0/deprecate-helper-plugin-check-page-permissions.code.ts
  packages/utils/upgrade/resources/codemods/5.0.0/deprecate-helper-plugin-no-content.code.ts
  packages/utils/upgrade/resources/codemods/5.0.0/deprecate-helper-plugin-use-api-error-handler.code.ts
  packages/utils/upgrade/resources/codemods/5.0.0/deprecate-helper-plugin-use-rbac.code.ts
Labels: pr: enhancement, source: utils:upgrade

#21156 chore: update quickstart behavior to disable example app
  packages/cli/create-strapi-app/src/create-strapi.ts
  packages/cli/create-strapi-app/src/index.ts
  packages/cli/create-strapi-app/src/prompts.ts
  packages/cli/create-strapi-app/src/types.ts
  packages/cli/create-strapi-app/src/utils/gitignore.ts
  packages/cli/create-strapi-app/src/utils/usage.ts
  packages/cli/create-strapi-app/templates/example/.gitignore
  packages/cli/create-strapi-app/templates/vanilla-js/.gitignore
  packages/cli/create-strapi-app/templates/vanilla/.gitignore
Labels: source: cli, pr: chore

#21120 fix: return only drafts on relations from no DP to DP
  packages/core/content-manager/server/src/controllers/relations.ts
Labels: source: core:content-manager, pr: fix

#21158 fix: webhook button submitting and remove row clearing
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/components/HeadersInput.tsx
Labels: source: core:admin, pr: fix

#21131 fix(admin): don't redirect if token is set
  packages/core/admin/admin/src/pages/Auth/AuthPage.tsx
  tests/e2e/tests/admin/signup.spec.ts
Labels: source: core:admin, pr: fix

#21161 fix: sticky navbar width
  packages/core/admin/admin/src/components/Layouts/HeaderLayout.tsx
Labels: source: core:admin, pr: fix

#21160 chore(admin): improve webhook delete button style
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/components/HeadersInput.tsx
Labels: source: core:admin, pr: fix, fix:5

#21162 fix: update ArrayNotation type to forbid arrays of mixed types
  packages/core/types/src/modules/documents/params/sort.ts
Labels: pr: fix, source: typescript

#21138 enh: localizations field
  packages/core/database/src/query/helpers/populate/apply.ts
  packages/core/database/src/types/index.ts
  packages/plugins/i18n/server/src/register.ts
Labels: source: plugin:i18n, pr: enhancement

#21155 fix: publishing correctly updates creator fields
  packages/core/core/src/services/document-service/utils/populate.ts
  packages/core/database/src/entity-manager/index.ts
  tests/api/core/strapi/document-service/publish.test.api.ts
  tests/api/core/strapi/document-service/resources/fixtures/article.js
  tests/api/core/strapi/document-service/resources/fixtures/author.js
  tests/api/core/strapi/document-service/resources/fixtures/category.js
  tests/api/core/strapi/document-service/utils/index.ts
Labels: pr: fix, source: core:core

#21182 fix: delete document actions labels
  packages/core/content-manager/admin/src/pages/EditView/components/Header.tsx
  packages/core/content-manager/admin/src/translations/en.json
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
  packages/plugins/i18n/admin/src/translations/en.json
  tests/e2e/tests/content-manager/editview.spec.ts
  tests/e2e/tests/content-manager/history.spec.ts
  tests/e2e/tests/i18n/settings.spec.ts
Labels: source: plugin:i18n, pr: fix

#21183 fix: guided tour
  packages/core/admin/admin/src/components/Context.tsx
  packages/core/admin/admin/src/components/GuidedTour/Homepage.tsx
  packages/core/admin/admin/src/components/GuidedTour/Modal.tsx
  packages/core/admin/admin/src/components/GuidedTour/Provider.tsx
  packages/core/admin/admin/src/pages/Auth/components/tests/Register.test.tsx
  packages/core/admin/admin/src/pages/Settings/pages/ApiTokens/EditView/tests/EditViewPage.test.tsx
  packages/core/admin/admin/src/pages/Settings/pages/TransferTokens/EditView.tsx
  packages/core/admin/admin/src/pages/tests/HomePage.test.tsx
  packages/core/admin/admin/tests/utils.tsx
  packages/core/content-manager/admin/src/hooks/useDocumentActions.ts
  packages/core/content-type-builder/admin/src/components/DataManagerProvider/DataManagerProvider.tsx
Labels: source: core:admin, pr: fix

#21194 enhancement: resolve strapi-server with exports map too
  examples/plugins/workspace-plugin/package.json
  examples/plugins/workspace-plugin/server/index.js
  examples/plugins/workspace-plugin/strapi-server.js
  packages/core/admin/ee/server/src/index.ts
  packages/core/admin/ee/server/src/routes/utils.ts
  packages/core/admin/package.json
  packages/core/admin/packup.config.ts
  packages/core/admin/server/src/index.ts
  packages/core/admin/strapi-server.js
  packages/core/content-manager/package.json
  packages/core/content-manager/strapi-server.js
  packages/core/content-releases/strapi-server.js
  packages/core/content-type-builder/strapi-server.js
  packages/core/core/package.json
  packages/core/core/src/loaders/plugins/get-enabled-plugins.ts
  packages/core/core/src/loaders/plugins/index.ts
  packages/core/core/src/providers/admin.ts
  packages/core/email/strapi-server.js
  packages/core/review-workflows/strapi-server.js
  packages/core/upload/strapi-server.js
  packages/plugins/color-picker/strapi-server.js
  packages/plugins/documentation/strapi-server.js
  packages/plugins/graphql/strapi-server.js
  packages/plugins/i18n/strapi-server.js
  packages/plugins/sentry/strapi-server.js
  packages/plugins/users-permissions/package.json
  packages/plugins/users-permissions/strapi-server.js
  yarn.lock
Labels: pr: enhancement, source: core:core

#21195 fix: upgrade tool ignores node modules and dist
  packages/utils/upgrade/package.json
  packages/utils/upgrade/src/modules/file-scanner/scanner.ts
  packages/utils/upgrade/src/modules/project/project.ts
  yarn.lock
Labels: pr: fix, source: utils:upgrade

#21200 fix: single type fill from locale disabled
  packages/core/content-manager/server/src/controllers/single-types.ts
Labels: source: core:content-manager, pr: fix

#21205 fix: js example templat
  packages/cli/create-strapi-app/templates/example-js/src/bootstrap.js
  templates/website/src/bootstrap.ts
Labels: source: cli, pr: fix

#21198 fix: use the header mainField name to sort for the complex data like stage and assignee
  packages/core/content-manager/admin/src/pages/ListView/ListViewPage.tsx
Labels: source: core:content-manager, pr: fix

#21204 fix: template vite config example
  packages/cli/create-strapi-app/templates/example/src/admin/vite.config.example.ts
  packages/cli/create-strapi-app/templates/vanilla/src/admin/vite.config.example.ts
  templates/website/src/admin/vite.config.example.ts
Labels: source: cli, pr: fix

#21206 fix: fix default time formatting issue
  packages/core/content-type-builder/admin/src/components/GenericInputs.tsx
  packages/core/content-type-builder/admin/src/utils/tests/timeFormat.test.ts
  packages/core/content-type-builder/admin/src/utils/timeFormat.ts
Labels: source: core:content-type-builder, pr: fix

#21229 fix: add status to removed fields when cleaning data
  packages/plugins/i18n/admin/src/utils/clean.ts
Labels: source: plugin:i18n, pr: fix

#21242 chore: 4.25.11 release
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/workspace-plugin/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#21237 fix: review workflow settings icons
  packages/core/review-workflows/admin/src/routes/settings/index.tsx
Labels: pr: fix, source: core:review-workflows

#21196 Adding codemods for helper plugin migrations
  packages/utils/upgrade/resources/codemods/5.0.0/deprecate-helper-plugin-check-page-permissions.code.ts
  packages/utils/upgrade/resources/codemods/5.0.0/deprecate-helper-plugin-no-content.code.ts
  packages/utils/upgrade/resources/codemods/5.0.0/deprecate-helper-plugin-use-api-error-handler.code.ts
  packages/utils/upgrade/resources/codemods/5.0.0/deprecate-helper-plugin-use-rbac.code.ts
  packages/utils/upgrade/resources/codemods/5.0.0/deprecate-helper-plugin.code.ts
  packages/utils/upgrade/resources/utils/change-import.ts
Labels: pr: enhancement, source: utils:upgrade

#21230 fix: do not generate localizations links table
  packages/core/database/src/metadata/metadata.ts
  packages/core/database/src/metadata/relations.ts
  packages/core/database/src/types/index.ts
  packages/plugins/i18n/server/src/register.ts
Labels: source: core:database, pr: fix

#21247 fix: escape raw queries
  packages/core/core/src/migrations/database/5.0.0-discard-drafts.ts
  packages/core/database/src/migrations/internal-migrations/5.0.0-01-convert-identifiers-long-than-max-length.ts
Labels: source: core:database, pr: fix

#21256 fix(content-releases): validation and cache releases
  packages/core/content-manager/admin/src/utils/validation.ts
  packages/core/content-releases/admin/src/services/release.ts
Labels: pr: fix, source: core:content-releases

#21163 fix(content-manager): pass field to CustomField input to have backward compatibility
  packages/core/content-manager/admin/src/pages/EditView/components/InputRenderer.tsx
  packages/plugins/color-picker/admin/src/components/ColorPickerInput.tsx
  packages/plugins/color-picker/admin/src/components/tests/ColorPickerInput.test.tsx
Labels: source: core:content-manager, pr: fix

#21250 fix(content-type-builder): export auto loader provider for plugin use
  packages/core/content-type-builder/admin/src/exports.ts
  packages/core/strapi/src/admin.ts
Labels: source: core:content-type-builder, pr: fix, version: 5

#21259 Fix example data, media files uniqueness
  packages/cli/create-strapi-app/templates/example-js/src/bootstrap.js
  packages/cli/create-strapi-app/templates/example/src/bootstrap.ts
Labels: source: cli, pr: fix

#21199 fix: change status on locale picker
  packages/core/content-manager/admin/src/pages/EditView/components/Header.tsx
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
  packages/plugins/i18n/admin/src/translations/en.json
Labels: source: plugin:i18n, pr: fix

#21192 fix(content-releases): get entryDocumentId when entry is singleType
  packages/core/content-releases/admin/src/components/ReleaseActionModal.tsx
  packages/core/content-releases/admin/src/components/ReleasesPanel.tsx
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/server/src/services/__tests__/release-action.test.ts
  packages/core/content-releases/server/src/services/release-action.ts
Labels: pr: fix, source: core:content-releases

#21262 enhancement: add version param when send request to marketplace
  packages/core/admin/admin/src/pages/Marketplace/MarketplacePage.tsx
  packages/core/admin/admin/src/pages/Marketplace/hooks/useMarketplaceData.ts
Labels: source: core:admin, pr: enhancement, version: 5

#21264 fix: show Page Error on the EditView if you have errors in the useDoc…
  packages/core/content-manager/admin/src/hooks/useDocument.ts
  packages/core/content-manager/admin/src/pages/EditView/EditViewPage.tsx
Labels: source: core:content-manager, pr: fix

#21251 fix: allow publish new locale directly
  packages/core/content-manager/server/src/controllers/collection-types.ts
Labels: source: core:content-manager, pr: fix

#21265 chore: bump design system to rc.11
  examples/getstarted/package.json
  examples/plugins/todo-example/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/review-workflows/package.json
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#21260 fix: allow morphToMany relation ordering in sanitize and validate
  packages/core/utils/src/__tests__/morph.test.ts
  packages/core/utils/src/relations.ts
  packages/core/utils/src/sanitize/visitors/remove-restricted-relations.ts
  packages/core/utils/src/types.ts
  packages/core/utils/src/validate/visitors/throw-restricted-relations.ts
  tests/api/core/strapi/api/relations.test.api.js
  tests/api/core/upload/content-api/upload.test.api.js
Labels: source: core:utils, pr: fix

#21055 chore(cli): replace hardcoded deployment URL
  packages/cli/cloud/src/create-project/action.ts
  packages/cli/cloud/src/deploy-project/action.ts
Labels: source: cli, pr: enhancement

#21268 fix: emailConfirmation broken
  packages/plugins/users-permissions/server/controllers/auth.js
  packages/plugins/users-permissions/server/services/user.js
Labels: source: plugin:users-permissions, pr: fix

#21261 fix(DynamicComponent): inconsistent gap between fields and components
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/DynamicComponent.tsx
Labels: source: core:content-manager, pr: fix

#21288 fix(i18n): call d&p & i18n migrations in the same file
  packages/core/core/src/migrations/__tests__/i18n.test.ts
  packages/core/core/src/migrations/draft-publish.ts
  packages/core/core/src/migrations/i18n.ts
  packages/core/core/src/migrations/index.ts
  packages/core/core/src/providers/registries.ts
  packages/plugins/i18n/server/src/migrations/content-type/disable/index.ts
  packages/plugins/i18n/server/src/migrations/content-type/enable/index.ts
  packages/plugins/i18n/server/src/register.ts
Labels: source: plugin:i18n, pr: fix

#21282 Use a script instead of a bootstrap function for example data
  examples/getstarted/data/data.json
  examples/getstarted/data/uploads/a-bug-is-becoming-a-meme-on-the-internet.jpg
  examples/getstarted/data/uploads/beautiful-picture.jpg
  examples/getstarted/data/uploads/coffee-art.jpg
  examples/getstarted/data/uploads/coffee-beans.jpg
  examples/getstarted/data/uploads/coffee-shadow.jpg
  examples/getstarted/data/uploads/daviddoe@strapi.io.jpg
  examples/getstarted/data/uploads/default-image.png
  examples/getstarted/data/uploads/favicon.png
  examples/getstarted/data/uploads/sarahbaker@strapi.io.jpg
  examples/getstarted/data/uploads/the-internet-s-own-boy.jpg
  examples/getstarted/data/uploads/this-shrimp-is-awesome.jpg
  examples/getstarted/data/uploads/we-love-pizza.jpg
  examples/getstarted/data/uploads/what-s-inside-a-black-hole.jpg
  packages/cli/create-strapi-app/src/create-strapi.ts
  packages/cli/create-strapi-app/src/prompts.ts
  packages/cli/create-strapi-app/templates/example-js/package.json
  packages/cli/create-strapi-app/templates/example-js/scripts/seed.js
  packages/cli/create-strapi-app/templates/example-js/src/index.js
  packages/cli/create-strapi-app/templates/example/package.json
  packages/cli/create-strapi-app/templates/example/scripts/seed.js
  packages/cli/create-strapi-app/templates/example/src/index.ts
Labels: source: cli, pr: enhancement

#21304 fix: createdBy missing when you create a variant of a document in a new locale
  packages/core/content-manager/admin/src/pages/EditView/components/Header.tsx
  packages/core/content-manager/admin/src/translations/en.json
  packages/core/content-manager/server/src/controllers/collection-types.ts
Labels: source: core:content-manager, pr: fix

#21300 fix: warning user creation
  packages/core/admin/admin/src/pages/Settings/pages/Users/components/MagicLinkWrapper.tsx
Labels: source: core:admin, pr: fix

#21303 fix: review workflow issues
  packages/core/review-workflows/admin/src/routes/content-manager/[model]/[id]/components/AssigneeSelect.tsx
  packages/core/review-workflows/admin/src/routes/content-manager/[model]/[id]/components/Panel.tsx
  packages/core/review-workflows/admin/src/routes/content-manager/[model]/[id]/components/StageSelect.tsx
Labels: pr: fix, source: core:review-workflows

#21302 fix: releases status update
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/server/src/services/release-action.ts
Labels: pr: fix, source: core:content-releases

#21306 fix(content-releases): delete from release
  packages/core/content-releases/server/src/controllers/release.ts
Labels: pr: fix, source: core:content-releases

#21295 [Fix/i18n] Single type deletion and locale nav
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
  tests/e2e/constants.ts
  tests/e2e/tests/i18n/editview.spec.ts
  tests/e2e/utils/login.ts
Labels: source: plugin:i18n, pr: fix, fix:5

#21299 fix: manyToOne relation input
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations.tsx
Labels: source: core:content-manager, pr: fix

#21308 fix(content-releases): invalidate documents when release is published
  packages/core/content-releases/admin/src/services/release.ts
Labels: pr: fix, source: core:content-releases

#21311 fix(rw): check transition permission to change assignee
  packages/core/review-workflows/server/src/controllers/assignees.ts
  packages/core/review-workflows/server/src/controllers/stages.ts
  packages/core/review-workflows/server/src/routes/review-workflows.ts
Labels: pr: fix, source: core:review-workflows

#21310 Use correct user permissions when switching between locales
  packages/core/admin/admin/src/features/Auth.tsx
  packages/core/admin/admin/src/hooks/useRBAC.ts
  packages/core/content-manager/admin/src/features/DocumentRBAC.tsx
  packages/core/content-manager/admin/src/hooks/useDocument.ts
  packages/core/content-manager/admin/src/pages/EditView/components/InputRenderer.tsx
Labels: source: core:content-manager, pr: fix, fix:5

#21313 fix: history fields width
  packages/core/content-manager/admin/src/history/components/VersionContent.tsx
  packages/core/content-manager/admin/src/history/components/VersionInputRenderer.tsx
  packages/core/content-manager/server/src/history/services/history.ts
Labels: source: core:content-manager, pr: fix

#21277 chore: upgrade ws to 8.17.1
  packages/core/data-transfer/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#21275 chore: upgrade undici to 6.19.2
  packages/core/core/package.json
  packages/core/types/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#21314 fix: cm validation logic is broken
  examples/getstarted/src/api/restaurant/content-types/restaurant/schema.json
  packages/core/admin/admin/src/components/Form.tsx
  packages/core/admin/admin/src/pages/Auth/components/ForgotPassword.tsx
  packages/core/admin/admin/src/pages/Auth/components/Login.tsx
  packages/core/admin/admin/src/pages/Auth/components/Register.tsx
  packages/core/admin/admin/src/pages/Auth/components/ResetPassword.tsx
  packages/core/admin/admin/src/pages/ProfilePage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/CreatePage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/components/RoleForm.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Users/components/NewUserForm.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Users/utils/validation.ts
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/components/WebhookForm.tsx
  packages/core/content-manager/admin/src/components/ConfigurationForm/EditFieldForm.tsx
  packages/core/content-manager/admin/src/hooks/tests/useDocument.test.tsx
  packages/core/content-manager/admin/src/pages/EditView/EditViewPage.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Repeatable.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/DynamicComponent.tsx
  packages/core/content-manager/admin/src/utils/validation.ts
  packages/core/content-releases/admin/src/validation/schemas.ts
  packages/core/core/src/services/entity-validator/index.ts
  packages/core/review-workflows/admin/src/routes/settings/:id.tsx
  packages/plugins/i18n/admin/src/components/CreateLocale.tsx
Labels: source: core:content-manager, pr: fix

#19124 Adding Croatian (Hrvatski) language for Admin & Upload plugin
  packages/core/admin/admin/src/translations/hr.json
  packages/core/admin/admin/src/translations/languageNativeNames.ts
  packages/core/upload/admin/src/translations/hr.json
  packages/plugins/i18n/admin/src/translations/hr.json
Labels: source: core:admin, pr: enhancement, community

#21325 chore: upgrade vite to 5.1.7
  examples/experimental-dev/package.json
  packages/core/admin/package.json
  packages/core/strapi/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#20577 chore(data-transfer): update ws dependency to 8.17.1 for CVE-2024-37890
  packages/core/data-transfer/package.json
  yarn.lock
Labels: pr: security, source: core:data-transfer

#21326 chore: replace babel-eslint with babel-eslint-parser
  examples/kitchensink/.eslintrc
  package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#21330 fix: use strapi v5 for template
  templates/website/package.json
  templates/website/yarn.lock
Labels: pr: fix, source: generators

#21376 enhancement: add en-GB and en-US locales
  examples/getstarted/src/admin/app.jsx
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/translations/en-GB.js
  packages/core/admin/admin/src/translations/languageNativeNames.ts
Labels: source: core:admin, pr: fix

#20706 [feat] content manager filter logic
  packages/core/admin/admin/src/content-manager/components/LeftMenu.tsx
Labels: source: core:content-manager, pr: fix, community

#20708 fix: media library action container alignment issue
  packages/core/upload/admin/src/pages/App/MediaLibrary/index.jsx
Labels: source: core:content-manager, pr: fix, community

#21380 feat(review-workflows): adding required stage for publishing
  packages/core/review-workflows/admin/src/routes/settings/:id.tsx
  packages/core/review-workflows/admin/src/routes/settings/components/Stages.tsx
  packages/core/review-workflows/admin/src/routes/settings/components/WorkflowAttributes.tsx
  packages/core/review-workflows/admin/src/routes/settings/components/tests/Stages.test.tsx
  packages/core/review-workflows/admin/src/routes/settings/hooks/useReviewWorkflows.ts
  packages/core/review-workflows/admin/src/translations/en.json
  packages/core/review-workflows/server/src/constants/workflows.ts
  packages/core/review-workflows/server/src/content-types/workflow/index.ts
  packages/core/review-workflows/server/src/services/workflows.ts
  packages/core/review-workflows/server/src/validation/review-workflows.ts
  packages/core/review-workflows/shared/contracts/review-workflows.ts
  tests/e2e/tests/review-workflows/settings.spec.ts
Labels: pr: feature, source: core:review-workflows

#21373 fix: add importName to helper-plugin codemods
  packages/utils/upgrade/resources/codemods/5.0.0/deprecate-helper-plugin.code.ts
Labels: pr: fix, source: utils:upgrade

#21392 fix: correct spelling of keycloak provider
  packages/plugins/users-permissions/server/services/providers-registry.js
Labels: source: plugin:users-permissions, pr: fix, community

#21386 chore: update yarn to 4.5.0
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
Labels: source: tooling, pr: chore, community

#21419 skipping uniquness e2e test on webkit
  tests/e2e/tests/content-manager/uniqueness.spec.ts
Labels: pr: chore, source: e2e-tests

#21327 chore: upgrade webpack-dev-middleware
  packages/core/strapi/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#20587 chore(deps): update tar to 6.2.1 because of CVE-2024-28863
  packages/cli/cloud/package.json
  packages/core/data-transfer/package.json
  packages/generators/app/package.json
  yarn.lock
Labels: pr: security, source: core:data-transfer, community

#21424 chore: Update security document in relation to Strapi 5 stable release
  SECURITY.md
Labels: source: docs, pr: chore

#21423 chore: add workflow for automatically closing v4 issues with label
  .github/workflows/issues_handleLabel.yml
Labels: source: tooling, pr: chore

#21404 fix: use existing transaction to batch insert
  packages/core/core/src/services/document-service/utils/unidirectional-relations.ts
Labels: pr: fix, source: core:core

#21328 chore: update tar to 6.2.1
  package.json
  packages/cli/cloud/package.json
  packages/core/data-transfer/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#21375 chore: migrate media-library initial setup
  SECURITY.md
  packages/core/upload/admin/.eslintrc
  packages/core/upload/admin/src/components/Breadcrumbs/CrumbSimpleMenuAsync.jsx
  packages/core/upload/admin/src/components/FolderCard/tests/FolderCard.test.jsx
  packages/core/upload/admin/src/pages/App/ConfigureTheView/state/reducer.js
  packages/core/upload/admin/src/utils/urlYupSchema.js
  packages/core/upload/admin/tests/handlers.ts
  packages/core/upload/admin/tests/setup.ts
  packages/core/upload/admin/tests/utils.ts
  packages/core/upload/admin/tsconfig.build.json
  packages/core/upload/admin/tsconfig.json
  packages/core/upload/jest.config.front.js
  packages/core/upload/jsconfig.json
  packages/core/upload/package.json
  packages/core/upload/packup.config.ts
  packages/core/upload/server/src/bootstrap.ts
  packages/core/upload/server/src/controllers/validation/admin/folder-file.ts
  packages/core/upload/server/src/services/__tests__/upload/uploadImage.test.ts
  packages/core/upload/server/src/services/extensions/__tests__/sign-media.test.ts
Labels: source: core:upload, pr: chore

#21441 Add Placeholders for Empty Artifacts in Type Generation
  packages/utils/typescript/lib/generators/components/index.js
  packages/utils/typescript/lib/generators/content-types/index.js
Labels: pr: enhancement, source: typescript

#21402 fix: drop and create columns and indexes in the correct order
  packages/core/database/src/schema/builder.ts
  playwright.base.config.js
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
Labels: source: core:database, pr: fix

#21421 fix: cannot create component from dynamic zone
  packages/core/content-type-builder/admin/src/components/SelectCategory.tsx
Labels: source: core:content-type-builder, pr: fix

#21440 chore: fix strip-hash
  .github/workflows/adminBundleSize.yml
Labels: source: tooling, pr: chore

#21329 fix(create-strapi): yarn 4 support
  packages/cli/create-strapi-app/src/create-strapi.ts
  packages/cli/create-strapi-app/src/utils/get-package-manager-args.ts
Labels: source: cli, pr: fix

#21445 fix(tooling): strip dashes and change min threshhold
  .github/workflows/adminBundleSize.yml
Labels: source: tooling, pr: chore

#21407 enhancement: change all internal cron tasks to named tasks
  packages/core/admin/ee/server/src/services/metrics.ts
  packages/core/admin/server/src/services/metrics.ts
  packages/core/core/src/ee/index.ts
  packages/core/review-workflows/server/src/services/metrics/weekly-metrics.ts
  packages/core/upload/server/src/services/weekly-metrics.ts
Labels: pr: enhancement, source: core:core, community

#21457 chore: Harmonized all button sizes in settings
  packages/core/admin/admin/src/pages/Settings/pages/Roles/CreatePage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/EditPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Users/EditPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/components/WebhookForm.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/SingleSignOnPage.tsx
  packages/core/review-workflows/admin/src/routes/settings/:id.tsx
Labels: source: core:admin, pr: chore

#21443 chore: set up preview feature boilerplate
  examples/getstarted/config/features.js
  packages/core/content-manager/admin/src/index.ts
  packages/core/content-manager/admin/src/preview/LICENSE
  packages/core/content-manager/admin/src/preview/constants.ts
  packages/core/content-manager/admin/src/preview/index.ts
  packages/core/content-manager/server/src/bootstrap.ts
  packages/core/content-manager/server/src/preview/LICENSE
  packages/core/content-manager/server/src/preview/constants.ts
  packages/core/content-manager/server/src/preview/index.ts
  packages/core/types/src/modules/features.ts
Labels: source: core:content-manager, pr: chore

#21400 feat(review-workflows): check entry stage before publish
  packages/core/review-workflows/server/src/bootstrap.ts
  packages/core/review-workflows/server/src/services/document-service-middleware.ts
  tests/e2e/tests/review-workflows/settings.spec.ts
Labels: pr: feature, source: core:review-workflows

#21453 fix: Changed the color of the subtitle
  packages/core/content-manager/admin/src/history/components/VersionHeader.tsx
Labels: source: core:content-manager, pr: fix

#21468 chore: release v4.25.12
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/workspace-plugin/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: pr: chore, source: core:core

#21470 chore: release v5.0.1
  .github/actions/check-pr-status/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/core/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/permissions/package.json
  packages/core/review-workflows/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  packages/utils/upgrade/package.json
  scripts/front/package.json
Labels: source: core:strapi, pr: chore

#19351 fix: add MariaDB support for unique indexes
  packages/core/database/src/dialects/mysql/schema-inspector.ts
Labels: source: core:database, pr: fix, community

#21466 chore: workflow for v4 branch
  .github/workflows/checks.yml
  .github/workflows/tests.yml
  packages/utils/upgrade/README.md
Labels: source: tooling, pr: chore

#21446 fix: resolve multiple CVEs in dependencies
  docs/yarn.lock
  packages/core/admin/package.json
  packages/core/helper-plugin/package.json
  packages/plugins/documentation/package.json
  yarn.lock
Labels: source: dependencies, pr: security

#21406 fix: Filter by text field with "&" symbol doesn't work #20271
  packages/core/admin/admin/src/components/Filters.tsx
  packages/core/content-manager/admin/src/pages/ListView/ListViewPage.tsx
  packages/core/content-manager/admin/src/services/documents.ts
  packages/core/upload/admin/src/components/FilterList/index.jsx
  packages/core/upload/admin/src/components/FilterList/tests/__snapshots__/index.test.js.snap
  packages/core/upload/admin/src/components/FilterPopover/index.jsx
Labels: source: core:content-manager, pr: fix, community

#21439 chore: migrate media-library define shared contracts
  packages/core/upload/shared/contracts/configuration.ts
  packages/core/upload/shared/contracts/files.ts
  packages/core/upload/shared/contracts/folders.ts
  packages/core/upload/shared/contracts/settings.ts
Labels: source: core:upload, pr: chore

#21477 fix: template missing return
  packages/cli/create-strapi-app/src/utils/template.ts
Labels: source: cli, pr: fix

#21454 fix: Removed the unexpected capital letters
  packages/plugins/i18n/admin/src/translations/en.json
  tests/e2e/tests/i18n/editview.spec.ts
Labels: source: plugin:i18n, pr: fix

#21449 fix: Added a gap between the 2 icon buttons
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/index.jsx
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.jsx.snap
Labels: source: core:upload, pr: fix

#21464 test(e2e): refactor ctb tests to enable on CI
  tests/e2e/tests/content-type-builder/collection-type/create-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/create-single-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/edit-single-type.spec.ts
  tests/e2e/tests/i18n/editview.spec.ts
  tests/e2e/utils/setup.ts
Labels: pr: chore, source: e2e-tests

#21481 fixed issue 21342: HP logos are misaligned
  packages/core/admin/admin/src/pages/HomePage.tsx
Labels: source: core:admin, pr: fix, community

#21397 Fix 21368: fixed the pagination showing for less assets
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/index.jsx
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.jsx.snap
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/index.test.jsx
Labels: source: core:upload, pr: fix, community

#21425 chore: upgrade deps and pinned subdeps for CVEs
  .github/actions/check-pr-status/dist/index.js
  .github/actions/check-pr-status/package.json
  docs/package.json
  docs/yarn.lock
  examples/experimental-dev/package.json
  package.json
  packages/core/admin/package.json
  packages/core/content-releases/package.json
  packages/core/core/package.json
  packages/core/strapi/package.json
  packages/core/strapi/src/node/webpack/watch.ts
  packages/plugins/cloud/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/utils/typescript/package.json
  templates/website/package.json
  templates/website/src/bootstrap.ts
  templates/website/yarn.lock
  yarn.lock
Labels: source: dependencies, pr: chore

#21498 test(api): enable relations tests
  tests/api/core/content-manager/index.test.api.js
Labels: source: core:content-manager, pr: chore

#21480 Update README.md with Strapi 5
  README.md
Labels: pr: doc

#21483 fix: dynamic zones breaking layout logic
  packages/core/content-manager/admin/src/hooks/tests/useDocument.test.tsx
  packages/core/content-manager/admin/src/hooks/tests/useDocumentLayout.test.ts
  packages/core/content-manager/admin/src/hooks/useDocumentLayout.ts
  packages/core/content-manager/admin/tests/mockData.ts
Labels: source: core:content-manager, pr: fix
