Repository strapi/strapi, pull requests merged in 2024-11, with the labels that each got.

#22043 chore: bump design system to 2.0.0-rc.12
  examples/getstarted/package.json
  examples/plugins/todo-example/package.json
  packages/core/admin/package.json
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentStatus.tsx
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/review-workflows/package.json
  packages/core/upload/admin/src/components/AssetCard/tests/__snapshots__/DocAssetCard.test.tsx.snap
  packages/core/upload/admin/src/components/AssetCard/tests/__snapshots__/ImageAssetCard.test.tsx.snap
  packages/core/upload/admin/src/components/AssetDialog/BrowseStep/tests/__snapshots__/index.test.tsx.snap
  packages/core/upload/admin/src/components/AssetGridList/tests/__snapshots__/AssetGridList.test.tsx.snap
  packages/core/upload/admin/src/components/FolderCard/tests/__snapshots__/FolderCard.test.tsx.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/components/tests/__snapshots__/Settings.test.jsx.snap
  packages/core/upload/admin/src/pages/App/ConfigureTheView/tests/__snapshots__/ConfigureTheView.test.jsx.snap
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/admin/src/components/BulkLocaleActionModal.tsx
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#21882 feat(content-manager): integrate review workflows with releases
  examples/getstarted/src/api/category/content-types/category/schema.json
  packages/core/content-manager/admin/src/pages/EditView/EditViewPage.tsx
  packages/core/content-releases/admin/src/components/EntryValidationPopover.tsx
  packages/core/content-releases/admin/src/components/tests/EntryValidationPopover.test.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/package.json
  packages/core/content-releases/server/src/controllers/release-action.ts
  packages/core/content-releases/server/src/middlewares/documents.ts
  packages/core/content-releases/server/src/services/release-action.ts
  packages/core/content-releases/server/src/utils/index.ts
  packages/core/content-releases/shared/contracts/release-actions.ts
  packages/core/content-type-builder/admin/src/components/FormModal/FormModal.tsx
  packages/core/content-type-builder/admin/src/components/FormModal/contentType/createContentTypeSchema.ts
  packages/core/content-type-builder/server/src/controllers/validation/model-schema.ts
  packages/core/review-workflows/admin/src/routes/settings/components/Stages.tsx
  packages/core/review-workflows/admin/src/routes/settings/components/WorkflowAttributes.tsx
  packages/core/review-workflows/admin/src/routes/settings/components/tests/Stages.test.tsx
  packages/core/review-workflows/admin/src/routes/settings/hooks/useReviewWorkflows.ts
  packages/core/review-workflows/admin/src/routes/settings/id.tsx
  packages/core/review-workflows/admin/src/translations/en.json
  packages/core/review-workflows/server/src/bootstrap.ts
  packages/core/review-workflows/server/src/constants/workflows.ts
  packages/core/review-workflows/server/src/content-types/workflow/index.ts
  packages/core/review-workflows/server/src/services/document-service-middleware.ts
  packages/core/review-workflows/server/src/services/metrics/index.ts
  packages/core/review-workflows/server/src/services/workflows.ts
  packages/core/review-workflows/server/src/validation/review-workflows.ts
  packages/core/review-workflows/shared/contracts/review-workflows.ts
  tests/api/core/review-workflows/review-workflows-content-types.test.api.ts
  tests/api/core/review-workflows/review-workflows-stage-permissions.test.api.ts
  tests/api/core/review-workflows/review-workflows-webhooks.test.api.ts
  tests/api/core/review-workflows/review-workflows.test.api.ts
  tests/e2e/tests/content-manager/history.spec.ts
  tests/e2e/tests/content-releases/release-details-page.spec.ts
  tests/e2e/tests/review-workflows/settings.spec.ts
  yarn.lock
Labels: pr: feature, source: core:content-releases

#21986 fix(e2e): enable e2e tests in editview.spec.ts
  packages/core/content-manager/admin/src/content-manager.ts
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/router.tsx
  packages/core/content-manager/server/src/services/document-manager.ts
  tests/e2e/tests/content-manager/editview.spec.ts
Labels: pr: fix, source: e2e-tests

#21910 Update languageNativeNames.ts add O'zbekcha
  packages/core/admin/admin/src/translations/languageNativeNames.ts
Labels: source: core:admin, pr: enhancement, community

#22024 fix: added fix for the last draft displaying NaN
  packages/core/content-manager/admin/src/components/RelativeTime.tsx
  packages/core/content-manager/admin/src/components/tests/RelativeTime.test.tsx
Labels: source: core:content-manager, pr: fix, community

#21925 test(e2e): add tests for create component
  tests/e2e/tests/content-type-builder/collection-type/create-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/components/create-components.spec.ts
  tests/e2e/tests/content-type-builder/single-type/edit-single-type.spec.ts
  tests/e2e/utils/content-types.ts
  tests/e2e/utils/shared.ts
Labels: pr: chore, source: e2e-tests

#22073 enhancement: include Uzbek and Romania as language native names
  packages/core/admin/admin/src/translations/languageNativeNames.ts
Labels: source: core:admin, pr: enhancement

#22033 test(e2e): add update components tests
  .github/workflows/tests.yml
  package.json
  tests/e2e/tests/content-releases/release-details-page.spec.ts
  tests/e2e/tests/content-type-builder/components/update-components.spec.ts
  tests/e2e/utils/content-types.ts
  yarn.lock
Labels: pr: chore, source: e2e-tests

#22074 fix: run discardDrafts without concurrency
  packages/core/core/src/migrations/database/5.0.0-discard-drafts.ts
Labels: source: core:database, pr: fix

#22079 chore: only record playwright trace on retry
  .github/filters.yaml
  playwright.base.config.js
Labels: pr: chore, source: e2e-tests

#21931 fix: load strapi before watch
  packages/core/strapi/src/node/develop.ts
Labels: pr: fix, source: core:core

#22086 fix: populate media in document service
  packages/core/core/src/services/document-service/utils/populate.ts
Labels: pr: fix, source: core:core, fix:5

#22096 test(e2e): change playwright timeouts
  .github/workflows/skipped_tests.yml
  playwright.base.config.js
Labels: pr: chore, source: e2e-tests

#22017 doc: add diagrams and explanations for DTS contributor doc
  docs/docs/docs/01-core/data-transfer/01-engine/01-engine.mdx
  docs/docs/docs/01-core/data-transfer/01-engine/02-stream-lifecycle.mdx
  docs/docs/docs/01-core/data-transfer/02-providers/05-remote-strapi/01-websocket.md
Labels: source: docs, pr: doc

#22069 fix: stage change should not update modified status
  packages/core/review-workflows/server/src/controllers/assignees.ts
  packages/core/review-workflows/server/src/controllers/stages.ts
  packages/core/review-workflows/server/src/services/assignees.ts
  packages/core/review-workflows/server/src/services/stages.ts
  tests/api/core/review-workflows/review-workflows.test.api.ts
Labels: pr: fix, source: core:review-workflows

#22067 chore: reuse DocumentStatus in history and preview
  packages/core/content-manager/admin/src/history/components/VersionsList.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentStatus.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
Labels: source: core:content-manager, pr: chore

#21928 feat: reordering for polymorphic relations in Content API
  packages/core/core/src/services/document-service/transform/relations/extract/data-ids.ts
  packages/core/core/src/services/document-service/transform/relations/transform/data-ids.ts
  packages/core/core/src/services/document-service/transform/relations/utils/map-relation.ts
  packages/core/database/src/entity-manager/index.ts
  packages/core/database/src/entity-manager/morph-relations.ts
  packages/core/database/src/entity-manager/relations-orderer.ts
  packages/core/database/src/metadata/relations.ts
  packages/core/utils/src/relations.ts
  packages/core/utils/src/sanitize/visitors/remove-restricted-relations.ts
  tests/api/core/content-manager/api/relations.test.api.js
  tests/api/core/strapi/api/relations.test.api.js
  tests/api/core/strapi/api/relations.test.api.ts
  tests/api/core/upload/content-api/upload.test.api.js
Labels: pr: feature, source: core:core

#21596 fix: possible query ambiguity during Strapi v5 db migration
  packages/core/database/src/migrations/internal-migrations/5.0.0-02-document-id.ts
Labels: source: core:database, pr: fix, community

#22103 chore: make ctb tests no longer rely on test order
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/edit-single-type.spec.ts
  tests/e2e/utils/setup.ts
Labels: pr: chore, source: e2e-tests

#21715 fix: issue 20810 Line 1 is written in the tooltip of the edit button in Bulk Publish
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/PublishAction.tsx
  packages/core/content-manager/admin/src/translations/en.json
Labels: source: core:content-manager, pr: fix, community

#21970 enhancement: add back button fallback support
  packages/core/admin/admin/src/features/BackButton.tsx
  packages/core/admin/admin/src/features/tests/BackButton.test.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/CreatePage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/EditPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Users/EditPage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/components/WebhookForm.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/Header.tsx
  packages/core/content-manager/admin/src/pages/ListConfiguration/components/Header.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/review-workflows/admin/src/routes/settings/id.tsx
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/EditPage.jsx
Labels: source: core:admin, pr: enhancement

#22025 wip: static preview draft & publish tabs
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
  packages/core/content-manager/admin/src/translations/en.json
  tests/e2e/tests/content-manager/preview.spec.ts
Labels: pr: feature, source: core:preview

#21541 fix: added the hover color as 'danger100'
  packages/core/admin/admin/src/components/MainNav/NavUser.tsx
  packages/core/admin/admin/src/components/MainNav/tests/NavUser.test.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/tests/DocumentActions.test.tsx
Labels: source: core:admin, pr: fix, community

#22133 enhancement: add didRestoreHistoryVersion and willNavigate to history
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/content-manager/admin/src/history/components/HistoryAction.tsx
  packages/core/content-manager/admin/src/history/components/VersionHeader.tsx
Labels: source: core:content-manager, pr: enhancement

#22143 fix: remove references to prerelease versions of Strapi
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/review-workflows/package.json
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#22139 fix: Enumeration add "Choose here" as empty value
  packages/core/admin/admin/src/components/FormInputs/Enumeration.tsx
Labels: source: core:admin, pr: fix

#22137 chore: dummy preview page on getstarted
  examples/getstarted/config/admin.js
  examples/getstarted/src/admin/app.jsx
  examples/getstarted/src/admin/preview/dummy-preview.jsx
  examples/getstarted/src/admin/preview/index.jsx
Labels: pr: chore, source: core:preview

#21991 fix: reset createdAt field when duplicating entry
  packages/core/core/src/services/document-service/repository.ts
Labels: source: core:content-manager, community

#22142 fix(v4): allow cross origin sources when cropping images
  packages/core/upload/admin/src/hooks/useCropImg.js
Labels: source: core:upload, pr: fix

#22145 chore: upgrade cheerio to release version
  packages/plugins/documentation/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#22109 feat: will navigate event
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewSidePanel.tsx
Labels: pr: enhancement, source: core:preview

#22062 feat(cloud-cli): add command to link project with environment
  packages/cli/cloud/src/deploy-project/action.ts
  packages/cli/cloud/src/deploy-project/command.ts
  packages/cli/cloud/src/environment/link/action.ts
  packages/cli/cloud/src/environment/link/command.ts
  packages/cli/cloud/src/environment/link/index.ts
  packages/cli/cloud/src/environment/list/action.ts
  packages/cli/cloud/src/index.ts
  packages/cli/cloud/src/link/action.ts
  packages/cli/cloud/src/services/cli-api.ts
  packages/cli/cloud/src/services/strapi-info-save.ts
  packages/cli/cloud/src/utils/get-local-config.ts
Labels: source: cli, pr: feature

#21988 fix: prevent submitting form on button clicks
  packages/core/admin/admin/src/pages/Settings/components/Tokens/TokenBox.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Roles/components/ConditionsButton.tsx
Labels: pr: fix, source: core:core, community

#21374 enhancement: add support for user database migrations in typescript
  packages/core/core/src/Strapi.ts
  packages/utils/typescript/lib/utils/index.js
  packages/utils/typescript/lib/utils/resolve-outdir-sync.js
Labels: source: core:database, pr: enhancement, community

#22153 test(front): run front-end tests with runInBand
  .github/filters.yaml
  package.json
Labels: source: tooling, pr: chore

#22172 fix: the disabled components don’t look like they are disabled inside content history
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Initializer.tsx
Labels: source: core:content-manager, pr: fix

#21434 fix: markdown editor auto scrolls
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/Editor.tsx
  packages/core/admin/admin/src/content-manager/components/Wysiwyg/tests/Field.test.tsx
Labels: source: core:content-manager, pr: fix, version: 4, community

#22178 test(e2e): improve efficiency of collection-type test
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/create-single-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/edit-single-type.spec.ts
Labels: pr: chore, source: e2e-tests

#22171 feat(cloud-cli): display warning when using deploy command
  packages/cli/cloud/package.json
  packages/cli/cloud/src/deploy-project/action.ts
  packages/cli/cloud/src/deploy-project/command.ts
  packages/cli/cloud/src/environment/link/action.ts
  packages/cli/cloud/src/services/cli-api.ts
  packages/cli/cloud/src/types.ts
  yarn.lock
Labels: source: cli, pr: feature

#22193 fix: replaced translation id for the save button of the edit view
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
Labels: source: core:admin, pr: fix

#22197 fix: added the prop for pointer cursor
  packages/core/review-workflows/admin/src/routes/settings/index.tsx
Labels: pr: fix, source: core:review-workflows

#22204 test(e2e): fix flaky ctb tests
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/edit-single-type.spec.ts
Labels: pr: chore, source: e2e-tests

#22209 test(e2e): add content search test suite
  tests/e2e/tests/search/content-type.spec.ts
Labels: pr: chore, source: e2e-tests

#22216 fix(e2e): use clickAndWait to ensure the page is ready
  tests/e2e/tests/content-manager/history.spec.ts
  tests/e2e/utils/shared.ts
Labels: pr: fix, source: e2e-tests

#22217 chore(e2e): turn on the i18n editview.spec.ts tests
  tests/e2e/tests/i18n/editview.spec.ts
Labels: pr: chore, source: e2e-tests

#21876 enhancement: add db info to startup logger
  packages/core/core/src/utils/startup-logger.ts
  packages/core/database/src/index.ts
Labels: pr: enhancement, source: core:core

#22140 fix: resolve naming conflict in the v5 `document_id` migration
  packages/core/database/src/migrations/internal-migrations/5.0.0-02-document-id.ts
Labels: source: core:database, pr: fix, community

#22146 Fix: 20766 [Design] Roles missing space between labels and the dropdown field
  packages/core/admin/admin/src/pages/Settings/pages/Roles/components/ConditionsModal.tsx
Labels: source: core:admin, pr: fix, community

#22218 fix: replaced the Code icon with CodeBlock icon
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/Blocks/Code.tsx
Labels: source: core:admin, pr: fix

#22106 fix: configure the view button missing for components
  packages/core/content-type-builder/admin/src/pages/ListView/LinkToCMSettingsView.tsx
Labels: source: core:content-type-builder, pr: enhancement, community

#21579 fix: The list view settings popover is not scrollable
  packages/core/content-manager/admin/src/pages/ListView/components/ViewSettingsMenu.tsx
Labels: source: core:content-manager, pr: fix, community

#22223 fix: the confirmation message of restoring a version was updated
  packages/core/content-manager/admin/src/history/components/VersionHeader.tsx
  packages/core/content-manager/admin/src/translations/en.json
Labels: source: core:admin, pr: fix

#22232 fix: preview title overflow
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
Labels: pr: fix, source: core:preview

#22212 fix: search param being encoded twice
  packages/core/admin/admin/src/utils/getFetchClient.ts
  packages/core/content-manager/admin/src/pages/ListView/ListViewPage.tsx
  packages/core/content-manager/admin/src/services/documents.ts
  packages/core/content-manager/admin/src/utils/api.ts
  packages/core/content-manager/admin/src/utils/tests/api.test.ts
  packages/core/review-workflows/admin/src/utils/api.ts
Labels: source: core:content-manager, pr: fix

#22246 fix: unit tests for typescript types gen
  packages/utils/typescript/lib/__tests__/generators/schemas/attributes.test.js
  packages/utils/typescript/lib/__tests__/generators/schemas/utils.test.js
Labels: pr: fix, source: typescript

#22161 ci: fix docs workflow jobs
  .github/filters.yaml
  .github/workflows/skipped_tests.yml
  .github/workflows/tests.yml
Labels: source: tooling, pr: fix

#22243 chore: add json data to dummy preview
  examples/getstarted/config/admin.js
  examples/getstarted/src/admin/preview/dummy-preview.jsx
  examples/getstarted/src/admin/preview/index.jsx
Labels: source: core:content-manager, pr: chore

#22229 fix: hide the locale option in the Edit view dropdown if you don't have permission to read it
  packages/plugins/i18n/admin/src/components/CMHeaderActions.tsx
Labels: source: plugin:i18n, pr: fix

#21934 fix: Remove Private Attributes from GraphQL Filters and Inputs
  packages/plugins/graphql/server/src/services/builders/filters/content-type.ts
  packages/plugins/graphql/server/src/services/builders/input.ts
  packages/plugins/users-permissions/server/graphql/types/index.js
  packages/plugins/users-permissions/server/graphql/types/user-input.js
  tests/api/plugins/graphql/relations.test.api.js
Labels: source: plugin:graphql, pr: security

#22249 ci: balance sharding to reduce total workflow runtime
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#22265 fix: change MediaLibraryInput attribute type from required to optional
  packages/core/upload/admin/src/components/MediaLibraryInput/MediaLibraryInput.tsx
Labels: source: core:upload, pr: fix

#22274 chore(deps): bump @strapi/design-system from 2.0.0-rc.13 to 2.0.0-rc.14
  examples/getstarted/package.json
  examples/plugins/todo-example/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/review-workflows/package.json
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#22264 Chore: setting up nx releases
  .commitlintrc.ts
  nx.json
  package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#22129 Fix: koa is installed twice in multiple versions and msw is not a devDeps in core/admin
  packages/core/admin/package.json
  packages/core/email/package.json
  yarn.lock
Labels: source: dependencies, pr: chore, community

#22294 chore: remove yarn.lock from templates/website
  templates/website/yarn.lock
Labels: source: dependencies, pr: fix

#22282 fix: turn on and update i18n settings.spec.ts
  tests/e2e/tests/i18n/settings.spec.ts
  tests/e2e/utils/dts-import.ts
Labels: pr: fix, source: e2e-tests

#22303 chore: use "workspace:*" for internal dependencies
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/core/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/strapi/package.json
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/i18n/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/utils/logger/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#22304 ci: fix docs_build
  .github/workflows/tests.yml
Labels: source: tooling, pr: fix

#22283 fix: document actions being rendered multiple times
  packages/core/content-manager/admin/src/content-manager.ts
  packages/core/content-manager/admin/src/history/components/HistoryAction.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/Header.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/Panels.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/TableActions.tsx
Labels: source: core:content-manager, pr: fix

#22215 chore: removing support for assets without metadata
  packages/core/data-transfer/src/file/providers/source/index.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/__tests__/assets.test.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/index.ts
  packages/core/data-transfer/types/common-entities.d.ts
Labels: pr: chore, source: core:data-transfer
