Repository strapi/strapi, pull requests merged in 2024-01, with the labels that each got.

#19068 (content-manager): types for permission checker service
  packages/core/content-manager/server/src/services/permission-checker.ts
Labels: source: core:content-manager, pr: enhancement

#19089 feat(content-releases): delete release action on release page
  packages/core/content-releases/admin/src/components/ReleaseActionMenu.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
Labels: pr: feature, source: core:content-releases

#19138 chore: update ds to 1.14.0
  examples/getstarted/package.json
  package.json
  packages/core/admin/package.json
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#19128 chore(sentry): convert to typescript
  packages/plugins/sentry/.eslintrc
  packages/plugins/sentry/admin/.eslintrc
  packages/plugins/sentry/admin/src/index.ts
  packages/plugins/sentry/admin/src/pluginId.js
  packages/plugins/sentry/admin/src/pluginId.ts
  packages/plugins/sentry/admin/tsconfig.build.json
  packages/plugins/sentry/admin/tsconfig.json
  packages/plugins/sentry/package.json
  packages/plugins/sentry/server/.eslintrc
  packages/plugins/sentry/server/bootstrap.js
  packages/plugins/sentry/server/config.js
  packages/plugins/sentry/server/index.js
  packages/plugins/sentry/server/middlewares/sentry.js
  packages/plugins/sentry/server/services/index.js
  packages/plugins/sentry/server/services/sentry/index.js
  packages/plugins/sentry/server/src/bootstrap.ts
  packages/plugins/sentry/server/src/config.ts
  packages/plugins/sentry/server/src/index.ts
  packages/plugins/sentry/server/src/middlewares/sentry.ts
  packages/plugins/sentry/server/src/services/__tests__/sentry.test.ts
  packages/plugins/sentry/server/src/services/index.ts
  packages/plugins/sentry/server/src/services/sentry.ts
  packages/plugins/sentry/server/tsconfig.build.json
  packages/plugins/sentry/server/tsconfig.eslint.json
  packages/plugins/sentry/server/tsconfig.json
  packages/plugins/sentry/strapi-server.js
Labels: source: plugin:sentry, pr: chore

#19142 fix(content-releases): fix test
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
Labels: pr: fix, source: core:content-releases

#19052 fix(Blocks): remove pop up link and reopening on save/publish
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Link.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/tests/Link.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksToolbar.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/plugins/withLinks.ts
  packages/core/admin/admin/src/content-manager/components/BlocksInput/utils/links.ts
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:content-manager, pr: fix

#19125 feat(blocks): Ability to expand blocks input
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/tests/Wrapper.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksContent.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksEditor.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/EditorLayout.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/tests/BlocksInput.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/tests/BlocksToolbar.test.tsx
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:content-manager, pr: feature

#19144 Filter out undefined controllers in startup telemetry checks
  packages/core/strapi/src/Strapi.ts
  packages/core/strapi/src/factories.ts
Labels: source: core:strapi, pr: fix

#19097 feat(content-releases): group release actions by property
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
  packages/core/content-releases/admin/src/pages/tests/mockReleaseDetailsPageData.ts
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/package.json
  packages/core/content-releases/server/src/content-types/release-action/schema.ts
  packages/core/content-releases/server/src/controllers/__tests__/release-action.test.ts
  packages/core/content-releases/server/src/controllers/release-action.ts
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/shared/contracts/release-actions.ts
  yarn.lock
Labels: pr: feature, source: core:content-releases

#19145 [Types] Fix Attributes Filtering when no registries are extended
  packages/core/admin/admin/src/pages/Settings/pages/Roles/ListPage.tsx
  packages/core/admin/ee/admin/src/content-manager/pages/ListView/components/StageFilter.tsx
  packages/core/types/src/modules/entity-service/params/filters/index.ts
  packages/core/types/src/types/core/common/index.ts
  packages/core/types/src/types/utils/expression.ts
Labels: pr: fix, source: typescript

#19160 fix: display nested components in edit view
  examples/getstarted/src/api/kitchensink/content-types/kitchensink/schema.json
  packages/core/admin/admin/src/content-manager/components/FieldComponent.tsx
Labels: source: core:admin, pr: fix

#19155 Only support better-sqlite3 package for sqlite
  packages/utils/upgrade/README.md
  packages/utils/upgrade/resources/codemods/5.0.0/sqlite3-to-better-sqlite3.json.ts
  packages/utils/upgrade/src/modules/json/transform-api.ts
  packages/utils/upgrade/src/modules/json/types.ts
Labels: pr: chore, source: utils:upgrade

#19154 enhancement(content-releases): add new status column to Release Details
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
  packages/core/content-releases/admin/src/pages/tests/mockReleaseDetailsPageData.ts
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/shared/contracts/release-actions.ts
Labels: pr: enhancement, source: core:content-releases

#19171 fix(content-releases): update options to match designs
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/translations/en.json
Labels: pr: fix, source: core:content-releases

#19157 Revert "chore(deps): bump graphql-upload to 15.0.2"
  packages/plugins/graphql/package.json
  packages/plugins/graphql/server/src/bootstrap.ts
  packages/plugins/graphql/server/src/services/internals/scalars/index.ts
  yarn.lock
Labels: source: plugin:graphql, pr: fix

#19174 fix(content-releases): handle the lastname null in the createdBy content
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
Labels: pr: fix, source: core:content-releases

#19167 fix(content-releases): change the submit button action name on edit
  packages/core/content-releases/admin/src/components/ReleaseModal.tsx
  packages/core/content-releases/admin/src/components/tests/ReleaseModal.test.tsx
  packages/core/content-releases/admin/src/translations/en.json
Labels: pr: fix, source: core:content-releases

#19177 fix(helper-plugin): memoize GenericInput for performance issues
  packages/core/helper-plugin/src/components/GenericInput.tsx
Labels: source: core:helper-plugin, pr: fix

#19179 chore: update ds 1.14.1
  examples/getstarted/package.json
  package.json
  packages/core/admin/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/admin/src/components/AssetCard/tests/DocAssetCard.test.jsx
  packages/core/upload/admin/src/components/AssetCard/tests/ImageAssetCard.test.jsx
  packages/core/upload/admin/src/components/AssetGridList/tests/__snapshots__/AssetGridList.test.jsx.snap
  packages/core/upload/admin/src/components/FolderCard/tests/__snapshots__/FolderCard.test.jsx.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.jsx.snap
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#19172 fix(cm): update placeholder in blocks link popover
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/Link.tsx
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:content-manager, pr: fix

#19182 fix: revert graphql-upload library to non breaking change version
  packages/plugins/graphql/package.json
  packages/plugins/graphql/server/src/bootstrap.ts
  packages/plugins/graphql/server/src/services/internals/scalars/index.ts
  yarn.lock
Labels: source: plugin:graphql, pr: fix

#19025 feat: Automatically Create 'plugins.js/ts' in Config on New Strapi Project Initialization
  packages/generators/app/src/resources/files/js/config/plugins.js
  packages/generators/app/src/resources/files/ts/config/plugins.ts
Labels: pr: chore, source: generators:app

#19180 chore: fix minor ts issues in cli
  packages/core/strapi/src/node/create-build-context.ts
  packages/core/strapi/tsconfig.json
Labels: source: core:strapi, pr: chore

#19192 chore(admin): data-transfer should be dev dep & peer dep loose
  packages/core/admin/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#19196 chore: update contribution guide to reflect new git process
  .github/workflows/contributor-doc.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
Labels: source: docs, pr: chore

#18747 ci(perf): update yarn-nm-install action
  .github/actions/yarn-nm-install/action.yml
Labels: source: tooling, pr: enhancement

#19170 [CLI Tests] Add seeding capabilities
  cli-tests/constants.js
  cli-tests/scripts/dts-export.js
  cli-tests/scripts/dts-import.js
  cli-tests/utils/fs.js
  cli-tests/utils/index.js
  package.json
  yarn.lock
Labels: source: tooling, pr: enhancement

#19058 feat: extend i18n attributes to every content type
  api-tests/core/content-manager/search.test.api.js
  api-tests/core/strapi/api/validate-query/validate-query.test.api.js
  api-tests/core/strapi/document-service/create.test.api.ts
  api-tests/core/strapi/document-service/find-one.test.api.ts
  api-tests/core/strapi/document-service/resources/fixtures/author.json
  api-tests/core/strapi/document-service/resources/fixtures/index.js
  api-tests/core/strapi/document-service/resources/schemas/author.js
  api-tests/core/strapi/document-service/resources/schemas/index.js
  api-tests/core/strapi/document-service/resources/types/contentTypes.d.ts
  api-tests/core/strapi/document-service/utils/index.ts
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/core/src/services/document-service/middlewares/defaults/locales.ts
  packages/plugins/i18n/server/src/register.ts
  packages/plugins/users-permissions/server/bootstrap/index.js
Labels: source: plugin:i18n, pr: feature

#19185 fix(content-releases): delete release-actions depending on changes to…
  packages/core/content-releases/server/src/__tests__/index.test.ts
  packages/core/content-releases/server/src/index.ts
  packages/core/content-releases/server/src/register.ts
  packages/core/content-releases/server/src/services/__tests__/release-action.test.ts
  packages/core/content-releases/server/src/services/event-manager.ts
  packages/core/content-releases/server/src/services/index.ts
  packages/core/content-releases/server/src/services/release-action.ts
  packages/core/content-releases/server/src/utils/index.ts
Labels: pr: fix, source: core:content-releases

#19211 fix(scripts): add skip cache flag
  scripts/pre-publish.sh
  scripts/publish.sh
Labels: source: core:strapi, pr: fix

#19165 fix(content-releases): dont allow update on a released release
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/server/src/controllers/release-action.ts
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
Labels: pr: fix, source: core:content-releases

#19178 fix(content-releases): using lifecycle hooks for delete actions
  packages/core/content-releases/server/src/bootstrap.ts
  packages/core/content-releases/server/src/index.ts
Labels: pr: fix, source: core:content-releases

#19201 fix(content-releases): handle the case we have an error with the Acti…
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
Labels: pr: fix, source: core:content-releases

#19214 chore: migration ListSettingsView to ts
  packages/core/admin/admin/src/content-manager/components/FieldTypeIcon.tsx
  packages/core/admin/admin/src/content-manager/pages/CollectionTypePages.tsx
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/ListSettingsView.tsx
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/DraggableCard.tsx
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/EditFieldForm.tsx
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/Settings.tsx
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/components/SortDisplayedFields.tsx
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/constants.ts
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/reducer.ts
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/ListSettingsView.test.tsx
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/tests/reducer.test.ts
Labels: source: core:admin, pr: chore, source: typescript

#19173 Upgrade to Apollo v4
  api-tests/core/upload/content-api/graphql-upload-automatic-folder.test.api.js
  api-tests/core/upload/content-api/graphql-upload.test.api.js
  packages/core/admin/server/src/middlewares/rateLimit.ts
  packages/core/content-type-builder/package.json
  packages/core/content-type-builder/server/src/controllers/component-categories.ts
  packages/core/content-type-builder/server/src/controllers/components.ts
  packages/core/content-type-builder/server/src/controllers/content-types.ts
  packages/core/core/src/middlewares/security.ts
  packages/plugins/graphql/package.json
  packages/plugins/graphql/server/src/bootstrap.ts
  packages/plugins/graphql/server/src/format-graphql-error.ts
  packages/plugins/graphql/server/src/services/internals/scalars/index.ts
  packages/plugins/graphql/server/src/services/utils/index.ts
  packages/plugins/graphql/server/src/services/utils/playground.ts
  packages/plugins/i18n/package.json
  packages/plugins/i18n/server/src/controllers/content-types.ts
  packages/plugins/i18n/server/src/controllers/locales.ts
  packages/plugins/i18n/server/src/controllers/validate-locale-creation.ts
  packages/utils/api-tests/agent.js
  packages/utils/api-tests/request.js
  yarn.lock
Labels: flag: 💥 Breaking change, source: plugin:graphql, pr: enhancement

#19213 [Upgrade Tool] Add internal support for upgrading to any version
  packages/utils/upgrade/src/cli/commands/codemods.ts
  packages/utils/upgrade/src/cli/commands/upgrade.ts
  packages/utils/upgrade/src/cli/errors.ts
  packages/utils/upgrade/src/cli/index.ts
  packages/utils/upgrade/src/cli/types.ts
  packages/utils/upgrade/src/modules/codemod-runner/__tests__/codemod-runner.test.ts
  packages/utils/upgrade/src/modules/codemod-runner/codemod-runner.ts
  packages/utils/upgrade/src/modules/npm/__tests__/package.test.ts
  packages/utils/upgrade/src/modules/npm/package.ts
  packages/utils/upgrade/src/modules/npm/types.ts
  packages/utils/upgrade/src/modules/project/constants.ts
  packages/utils/upgrade/src/modules/project/project.ts
  packages/utils/upgrade/src/modules/upgrader/types.ts
  packages/utils/upgrade/src/modules/upgrader/upgrader.ts
  packages/utils/upgrade/src/modules/version/__tests__/semver.test.ts
  packages/utils/upgrade/src/modules/version/range.ts
  packages/utils/upgrade/src/modules/version/semver.ts
  packages/utils/upgrade/src/tasks/codemods/codemods.ts
  packages/utils/upgrade/src/tasks/upgrade/types.ts
  packages/utils/upgrade/src/tasks/upgrade/upgrade.ts
Labels: pr: enhancement, source: utils:upgrade

#19186 Solve foreign key error on DEITS
  packages/core/data-transfer/src/commands/import/action.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/index.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/strategies/restore/links.ts
  packages/core/data-transfer/src/strapi/queries/link.ts
  packages/core/data-transfer/src/strapi/remote/handlers/push.ts
  packages/core/data-transfer/types/providers.d.ts
Labels: pr: fix, source: core:data-transfer

#19209 fix(cm): manage when we're creating entries derivatively in the CM
  packages/core/admin/admin/src/content-manager/components/ContentTypeFormWrapper.tsx
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/Provider.tsx
  packages/plugins/i18n/admin/src/components/CMEditViewInjectedComponents.tsx
  packages/plugins/i18n/admin/src/components/CMEditViewLocalePicker.tsx
  packages/plugins/i18n/admin/src/utils/data.ts
Labels: source: core:content-manager, pr: fix

#19208 chore(content-releases): enforce license limits for pending releases
  packages/core/content-releases/server/src/services/__tests__/release-validation.test.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/server/src/services/validation.ts
Labels: pr: chore, source: core:content-releases

#18975 chore: i18n content manager locale param
  packages/plugins/i18n/server/src/controllers/validate-locale-creation.ts
Labels: flag: 💥 Breaking change

#19207 Respect autogenerate setting for JS projects
  packages/core/admin/_internal/node/develop.ts
Labels: pr: fix, source: typescript

#19221 [CLI Tests] Init GitHub CI Workflow
  .github/workflows/skipped_tests.yml
  .github/workflows/tests.yml
Labels: source: tooling, pr: enhancement

#19231 chore(content-releases): remove prepublishOnly script
  packages/core/content-releases/package.json
Labels: pr: chore, source: core:content-releases

#19232 chore: remove comment about deprecation
  packages/core/data-transfer/src/strapi/providers/remote-source/index.ts
Labels: pr: chore, source: core:data-transfer

#19223 Migrate EditSettingsView to ts
  packages/core/admin/admin/src/content-manager/pages/ComponentSettingsView.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/EditSettingsView.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/ComponentFieldList.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/DisplayedFieldButton.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/DisplayedFields.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/DynamicZoneList.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/FieldButtonContent.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/FormModal.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/GenericInput.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/LayoutDndProvider.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/LayoutDndProvider/index.jsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/LinkToCTB.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/ModalForm.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/RowItemsLayout.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/RowsLayout.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/SettingsForm/SettingsForm.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/SettingsForm/init.ts
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/SettingsForm/reducer.ts
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/SettingsForm/tests/init.test.ts
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/SettingsForm/tests/reducer.test.ts
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/hooks/useLayoutDnd.ts
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/init.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/tests/EditSettingsView.test.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/utils/createPossibleMainFieldsForModelsAndComponents.ts
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/utils/getInputProps.ts
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/utils/index.js
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/utils/index.ts
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/utils/layout.ts
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/utils/tests/createPossibleMainFieldsForModelsAndComponents.test.ts
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/utils/tests/getInputProps.test.ts
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/utils/tests/layout.test.ts
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/reducer.ts
  packages/core/admin/admin/src/content-manager/routes.tsx
  packages/core/admin/admin/src/content-manager/utils/layouts.ts
  packages/core/content-manager/shared/contracts/init.ts
Labels: source: core:content-manager, pr: chore, source: typescript

#19226 Add seed data and schemas to CLI e2e app template
  cli-tests/app-template/template/src/api/category/content-types/category/schema.json
  cli-tests/app-template/template/src/api/category/controllers/category.ts
  cli-tests/app-template/template/src/api/category/routes/category.ts
  cli-tests/app-template/template/src/api/category/services/category.ts
  cli-tests/app-template/template/src/api/complex/content-types/complex/schema.json
  cli-tests/app-template/template/src/api/complex/controllers/complex.ts
  cli-tests/app-template/template/src/api/complex/routes/complex.ts
  cli-tests/app-template/template/src/api/complex/services/complex.ts
  cli-tests/app-template/template/src/api/config/controllers/config.js
  cli-tests/app-template/template/src/api/config/routes/config.js
  cli-tests/app-template/template/src/api/config/services/config.js
  cli-tests/app-template/template/src/api/database/content-types/database/schema.json
  cli-tests/app-template/template/src/api/database/controllers/database.js
  cli-tests/app-template/template/src/api/database/routes/database.js
  cli-tests/app-template/template/src/api/database/services/database.js
  cli-tests/app-template/template/src/api/single-type-localized/content-types/single-type-localized/schema.json
  cli-tests/app-template/template/src/api/single-type-localized/controllers/single-type-localized.ts
  cli-tests/app-template/template/src/api/single-type-localized/routes/single-type-localized.ts
  cli-tests/app-template/template/src/api/single-type-localized/services/single-type-localized.ts
  cli-tests/app-template/template/src/api/single-type-non-local/content-types/single-type-non-local/schema.json
  cli-tests/app-template/template/src/api/single-type-non-local/controllers/single-type-non-local.ts
  cli-tests/app-template/template/src/api/single-type-non-local/routes/single-type-non-local.ts
  cli-tests/app-template/template/src/api/single-type-non-local/services/single-type-non-local.ts
  cli-tests/app-template/template/src/api/single-type-unpublished/content-types/single-type-unpublished/schema.json
  cli-tests/app-template/template/src/api/single-type-unpublished/controllers/single-type-unpublished.ts
  cli-tests/app-template/template/src/api/single-type-unpublished/routes/single-type-unpublished.ts
  cli-tests/app-template/template/src/api/single-type-unpublished/services/single-type-unpublished.ts
  cli-tests/app-template/template/src/api/testing/content-types/testing/schema.json
  cli-tests/app-template/template/src/api/testing/controllers/testing.js
  cli-tests/app-template/template/src/api/testing/routes/testing.js
  cli-tests/app-template/template/src/api/testing/services/testing.js
  cli-tests/app-template/template/src/components/component-category/component-two.json
  cli-tests/app-template/template/src/components/component-category/component.json
  cli-tests/data/README.md
  cli-tests/data/complex.tar.gz
  cli-tests/scripts/dts-export.js
  cli-tests/scripts/dts-import.js
  cli-tests/utils/fs.js
Labels: source: tooling, pr: enhancement

#19161 fix(content-releases): add edit entry to details view
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/components/ReleaseActionMenu.tsx
  packages/core/content-releases/admin/src/components/tests/ReleaseActionMenu.test.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/admin/tests/store.ts
  packages/core/content-releases/server/src/services/release.ts
Labels: pr: fix, source: core:content-releases

#19188 fix(content-releases): align columns in the Release Details page
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
Labels: pr: fix, source: core:content-releases

#19229 fix(content-releases): TabGroup react to changes of the initialSelectedTabIndex value
  packages/core/admin/admin/src/pages/Marketplace/MarketplacePage.tsx
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
Labels: pr: fix, source: core:content-releases

#19222 feat(content-releases): Using useDocument for validations
  packages/core/admin/admin/src/hooks/useDocument.ts
  packages/core/admin/admin/src/index.ts
  packages/core/content-releases/admin/src/components/ReleaseActionMenu.tsx
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleaseDetailsPage.test.tsx
  packages/core/content-releases/admin/src/pages/tests/mockReleaseDetailsPageData.ts
  packages/core/content-releases/admin/src/store/hooks.ts
  packages/core/content-releases/package.json
  packages/core/content-releases/server/src/controllers/__tests__/release.test.ts
  packages/core/content-releases/server/src/controllers/release-action.ts
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/shared/contracts/release-actions.ts
  yarn.lock
Labels: pr: feature, source: core:content-releases

#19200 Setup in monorepo bypass build cache
  package.json
Labels: source: tooling, pr: chore

#19243 Fix uncaught ts issues
  packages/core/admin/ee/server/src/controllers/index.ts
  packages/core/admin/ee/server/tsconfig.json
  packages/core/admin/package.json
  packages/core/admin/server/src/controllers/admin.ts
  packages/core/admin/server/src/controllers/index.ts
  packages/core/content-manager/package.json
  packages/core/content-manager/server/src/services/uid.ts
  packages/core/content-type-builder/package.json
  packages/core/content-type-builder/server/src/controllers/content-types.ts
  packages/core/core/src/Strapi.ts
  packages/core/core/src/load/glob.ts
  packages/core/core/src/utils/fetch.ts
  packages/core/core/src/utils/transform-content-types-to-models.ts
  packages/core/data-transfer/src/strapi/remote/handlers/utils.ts
  packages/core/email/package.json
  packages/core/email/server/src/controllers/email.ts
  packages/core/email/server/tsconfig.build.json
  packages/core/email/server/tsconfig.eslint.json
  packages/core/email/server/tsconfig.json
  packages/core/helper-plugin/package.json
  packages/core/strapi/package.json
  packages/core/strapi/src/node/create-build-context.ts
  packages/core/strapi/src/node/webpack/watch.ts
  packages/core/types/src/modules/entity-service/params/populate.ts
  packages/core/types/src/modules/entity-service/params/sort.ts
  packages/core/types/src/types/core/attributes/base.ts
  packages/core/utils/package.json
  packages/core/utils/src/__tests__/query-populate.test.ts
  packages/core/utils/src/__tests__/test-utils.ts
  packages/core/utils/src/convert-query-params.ts
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/utils/pack-up/src/node/build.ts
  packages/utils/pack-up/src/node/tasks/dts/build.ts
  yarn.lock
Labels: pr: fix

#19204 Remove deprecated isSupportedImage
  packages/core/upload/server/graphql.js
  packages/core/upload/server/services/image-manipulation.js
  packages/utils/upgrade/resources/codemods/5.0.0/replace-isSupportedImage-with-isOptimizableImage.code.ts
Labels: flag: 💥 Breaking change, source: core:upload, pr: chore

#19260 chore: flatten core files structure
  packages/core/core/src/Strapi.ts
  packages/core/core/src/bootstrap.ts
  packages/core/core/src/configuration/config-loader.ts
  packages/core/core/src/configuration/index.ts
  packages/core/core/src/domain/content-type/index.ts
  packages/core/core/src/domain/content-type/validator.ts
  packages/core/core/src/domain/module/index.ts
  packages/core/core/src/domain/module/validation.ts
  packages/core/core/src/load/index.ts
  packages/core/core/src/load/package-path.ts
  packages/core/core/src/loaders/admin.ts
  packages/core/core/src/loaders/apis.ts
  packages/core/core/src/loaders/components.ts
  packages/core/core/src/loaders/index.ts
  packages/core/core/src/loaders/middlewares.ts
  packages/core/core/src/loaders/plugins/get-enabled-plugins.ts
  packages/core/core/src/loaders/plugins/get-user-plugins-config.ts
  packages/core/core/src/loaders/plugins/index.ts
  packages/core/core/src/loaders/policies.ts
  packages/core/core/src/loaders/sanitizers.ts
  packages/core/core/src/loaders/src-index.ts
  packages/core/core/src/loaders/validators.ts
  packages/core/core/src/registries/__tests__/components.test.ts
  packages/core/core/src/registries/__tests__/custom-fields.test.ts
  packages/core/core/src/registries/apis.ts
  packages/core/core/src/registries/components.ts
  packages/core/core/src/registries/config.ts
  packages/core/core/src/registries/content-types.ts
  packages/core/core/src/registries/controllers.ts
  packages/core/core/src/registries/custom-fields.ts
  packages/core/core/src/registries/hooks.ts
  packages/core/core/src/registries/index.ts
  packages/core/core/src/registries/middlewares.ts
  packages/core/core/src/registries/modules.ts
  packages/core/core/src/registries/namespace.ts
  packages/core/core/src/registries/plugins.ts
  packages/core/core/src/registries/policies.ts
  packages/core/core/src/registries/sanitizers.ts
  packages/core/core/src/registries/services.ts
  packages/core/core/src/registries/validators.ts
  packages/core/core/src/utils/__tests__/filepath-to-prop-path.test.ts
  packages/core/core/src/utils/fetch.ts
  packages/core/core/src/utils/filepath-to-prop-path.ts
  packages/core/core/src/utils/load-config-file.ts
  packages/core/core/src/utils/load-files.ts
Labels: source: core:strapi, pr: chore

#19169 fix(upload-aws-s3) - add credentials object to upload-aws-s3 example configuration docs
  packages/providers/upload-aws-s3/README.md
Labels: status: confirmed, pr: doc, source: providers

#19268 fix: remove useless codemod
  packages/utils/upgrade/resources/codemods/5.0.0/replace-isSupportedImage-with-isOptimizableImage.code.ts
Labels: pr: chore

#19251 chore: improve logging for assets restore error
  packages/core/data-transfer/src/strapi/providers/local-destination/__tests__/assets.test.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/index.ts
Labels: pr: chore, source: core:data-transfer

#19249 fix(content-releases): filter releases with entry attached
  packages/core/content-releases/server/src/controllers/__tests__/release.test.ts
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
Labels: pr: fix, source: core:content-releases

#19246 chore(ctb): remove "new" badge on Blocks attribute
  packages/core/content-type-builder/admin/src/components/AttributeOptions/AttributeOption.tsx
Labels: source: core:content-type-builder, pr: chore

#19263 chore: remove last circular dep
  packages/providers/upload-local/package.json
  packages/providers/upload-local/src/__tests__/upload-local.test.ts
  packages/providers/upload-local/src/global.d.ts
  packages/providers/upload-local/src/index.ts
  yarn.lock
Labels: source: core:upload, pr: chore

#19265 fix(admin): append query params to audit logs request
  packages/core/admin/ee/admin/src/services/auditLogs.ts
Labels: source: core:admin, pr: fix

#19270 chore: remove default index page from public middleware
  packages/core/core/src/middlewares/public.ts
  packages/core/core/src/middlewares/public/assets/images/group_people_1.png
  packages/core/core/src/middlewares/public/assets/images/group_people_2.png
  packages/core/core/src/middlewares/public/assets/images/group_people_3.png
  packages/core/core/src/middlewares/public/assets/images/logo_login.png
  packages/core/core/src/middlewares/public/index.html
  packages/core/core/src/middlewares/public/index.ts
  packages/core/core/src/middlewares/public/serve-static.ts
Labels: source: core:strapi, pr: chore

#19275 fix(upload-aws-s3): prettier error in readme
  packages/providers/upload-aws-s3/README.md
Labels: pr: chore, source: providers

#19269 fix(content-releases): hide the More button in the CM Edit View with no permission
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/providers/upload-aws-s3/README.md
Labels: pr: fix, source: core:content-releases

#19245 chore(content-releases): remove future flags
  api-tests/core/admin/admin-permission.test.api.js
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/server/src/__tests__/index.test.ts
  packages/core/content-releases/server/src/bootstrap.ts
  packages/core/content-releases/server/src/index.ts
  packages/core/content-releases/server/src/migrations/index.ts
  packages/core/content-releases/server/src/register.ts
  packages/core/content-releases/server/src/services/__tests__/release-action.test.ts
  packages/core/content-releases/server/src/services/event-manager.ts
  packages/core/content-releases/server/src/services/index.ts
  packages/core/content-releases/server/src/services/release-action.ts
  packages/core/content-releases/server/src/services/release.ts
Labels: pr: chore, source: core:content-releases

#19220 fix(content-manager): navigation issues
  packages/core/admin/admin/src/content-manager/hooks/useContentManagerInitData.ts
  packages/core/admin/admin/src/content-manager/pages/App.tsx
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/ListSettingsView.tsx
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/reducer.ts
  packages/core/admin/admin/src/content-manager/pages/ListView/components/ViewSettingsMenu.tsx
  packages/core/admin/admin/src/content-manager/routes.tsx
Labels: source: core:content-manager, pr: fix

#19284 fix(content-releases): format register file
  packages/core/content-releases/server/src/register.ts
Labels: pr: fix, source: core:content-releases

#19272 fix(content-releases): Don't allow pending releases with the same name
  packages/core/content-releases/server/src/services/__tests__/release-validation.test.ts
  packages/core/content-releases/server/src/services/release.ts
  packages/core/content-releases/server/src/services/validation.ts
Labels: pr: fix, source: core:content-releases

#19278 enh: tweak Playwright timeouts and allow setting from env
  playwright.base.config.js
Labels: source: tooling, pr: enhancement

#19287 chore: remove experimental logs for plugin CLI commands
  packages/core/strapi/src/cli/commands/plugin/build.ts
  packages/core/strapi/src/cli/commands/plugin/init/action.ts
  packages/core/strapi/src/cli/commands/plugin/link-watch.ts
  packages/core/strapi/src/cli/commands/plugin/verify.ts
  packages/core/strapi/src/cli/commands/plugin/watch.ts
Labels: source: core:strapi, pr: chore

#19281 chore(cm): refactor to use redux-toolkit-query
  cli-tests/app-template/package.json
  packages/core/admin/admin/src/content-manager/components/ContentTypeFormWrapper.tsx
  packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/Provider.tsx
  packages/core/admin/admin/src/content-manager/components/InputUID.tsx
  packages/core/admin/admin/src/content-manager/components/Relations/RelationInput.tsx
  packages/core/admin/admin/src/content-manager/components/Relations/RelationInputDataManager.tsx
  packages/core/admin/admin/src/content-manager/components/Relations/tests/RelationInput.test.tsx
  packages/core/admin/admin/src/content-manager/components/Relations/tests/RelationInputDataManager.test.tsx
  packages/core/admin/admin/src/content-manager/components/Relations/tests/useRelation.test.ts
  packages/core/admin/admin/src/content-manager/components/Relations/tests/useRelation.test.tsx
  packages/core/admin/admin/src/content-manager/components/Relations/useRelation.ts
  packages/core/admin/admin/src/content-manager/components/Relations/utils/normalizeSearchResults.ts
  packages/core/admin/admin/src/content-manager/components/Relations/utils/tests/normalizeSearchResults.test.ts
  packages/core/admin/admin/src/content-manager/components/tests/InputUID.test.tsx
  packages/core/admin/admin/src/content-manager/hooks/useContentManagerInitData.ts
  packages/core/admin/admin/src/content-manager/hooks/useLayouts.ts
  packages/core/admin/admin/src/content-manager/pages/ComponentSettingsView.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/EditSettingsView.tsx
  packages/core/admin/admin/src/content-manager/pages/EditSettingsView/components/SettingsForm/SettingsForm.tsx
  packages/core/admin/admin/src/content-manager/pages/EditView/components/Header.tsx
  packages/core/admin/admin/src/content-manager/pages/ListSettingsView/ListSettingsView.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/ListViewPage.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActions/Buttons.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActions/ConfirmBulkActionDialog.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActions/SelectedEntriesModal.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActions/tests/Buttons.test.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/components/BulkActions/tests/ConfirmBulkActionDialog.test.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/components/TableCells/Relations.tsx
  packages/core/admin/admin/src/content-manager/pages/ListViewLayoutManager.tsx
  packages/core/admin/admin/src/content-manager/services/api.ts
  packages/core/admin/admin/src/content-manager/services/components.ts
  packages/core/admin/admin/src/content-manager/services/contentTypes.ts
  packages/core/admin/admin/src/content-manager/services/documents.ts
  packages/core/admin/admin/src/content-manager/services/init.ts
  packages/core/admin/admin/src/content-manager/services/relations.ts
  packages/core/admin/admin/src/content-manager/services/uid.ts
  packages/core/admin/admin/src/core/store/configure.ts
  packages/core/admin/admin/src/pages/HomePage.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/EditPage.tsx
  packages/core/admin/admin/src/tests/StrapiApp.test.tsx
  packages/core/admin/admin/tests/server.ts
  packages/core/admin/admin/tests/utils.tsx
  packages/core/content-manager/shared/contracts/collection-types.ts
  packages/core/content-manager/shared/contracts/relations.ts
  packages/core/content-manager/shared/contracts/single-types.ts
  packages/core/content-releases/server/src/index.ts
  packages/generators/generators/src/templates/js/plugin-package.json.hbs
Labels: source: core:content-manager, pr: chore

#19256 feat(content-manager): better handle entry duplication
  packages/core/admin/admin/src/content-manager/pages/ListView/ListViewPage.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/components/AutoCloneFailureModal.tsx
  packages/core/admin/admin/src/content-manager/pages/ListView/components/tests/AutoCloneFailureModal.test.tsx
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-manager/server/src/controllers/collection-types.ts
  packages/core/content-manager/server/src/controllers/utils/__tests__/clone.test.ts
  packages/core/content-manager/server/src/controllers/utils/clone.ts
Labels: source: core:content-manager, pr: enhancement

#19236 enhancement: U&P config register.allowedFields defaults to empty array
  packages/plugins/users-permissions/server/bootstrap/index.js
  packages/plugins/users-permissions/server/controllers/auth.js
  packages/plugins/users-permissions/server/controllers/validation/__tests__/auth.test.js
Labels: flag: 💥 Breaking change, pr: enhancement

#19250 enhancement: refactor env-only values into configuration
  docs/docs/api/startup-logger.mdx
  docs/docs/docs/01-core/data-transfer/02-providers/05-remote-strapi/00-overview.md
  docs/docs/docs/01-core/data-transfer/02-providers/05-remote-strapi/01-websocket.md
  examples/getstarted/config/server.js
  packages/core/admin/server/src/middlewares/data-transfer.ts
  packages/core/admin/server/src/services/__tests__/transfer/token.test.ts
  packages/core/admin/server/src/services/transfer/token.ts
  packages/core/admin/server/src/services/transfer/utils.ts
  packages/core/core/src/configuration/index.ts
  packages/core/core/src/utils/startup-logger.ts
  packages/core/core/src/utils/update-notifier/index.ts
  packages/core/types/src/types/core/config/server.ts
Labels: flag: 💥 Breaking change, pr: chore, v5, source: core:core

#19283 chore: make vite the default bundler for the admin
  docs/docs/docs/01-core/admin/04-commands/00-overview.md
  docs/docs/docs/01-core/admin/04-commands/01-build.md
  docs/docs/docs/01-core/admin/04-commands/02-develop.md
  docs/docs/docs/01-core/admin/04-commands/_category_.json
  docs/docs/docs/01-core/admin/04-features/_category_.json
  docs/docs/docs/01-core/admin/04-features/authentication.md
  docs/docs/docs/01-core/admin/04-features/hooks/_category_.json
  docs/docs/docs/01-core/admin/04-features/hooks/use-admin-roles.mdx
  docs/docs/docs/01-core/admin/04-features/hooks/use-enterprise.mdx
  docs/docs/docs/01-core/admin/04-features/nps.md
  docs/docs/docs/01-core/strapi/commands/01-build.md
  docs/docs/docs/01-core/strapi/commands/02-develop.md
  packages/core/admin/tsconfig.json
  packages/core/content-releases/admin/tsconfig.build.json
  packages/core/content-releases/package.json
  packages/core/content-releases/server/src/controllers/release-action.ts
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/server/tsconfig.build.json
  packages/core/content-releases/server/tsconfig.json
  packages/core/strapi/src/admin.ts
  packages/core/strapi/src/cli/commands/build.ts
  packages/core/strapi/src/cli/commands/develop.ts
  yarn.lock
Labels: flag: 💥 Breaking change, source: core:strapi, pr: chore

#19303 chore: simplify content-type logic
  packages/core/core/src/domain/content-type/index.ts
  packages/core/core/src/loaders/admin.ts
  packages/core/core/src/loaders/apis.ts
  packages/core/core/src/loaders/plugins/index.ts
  packages/core/core/src/services/entity-validator/__tests__/relations/utils/relations.testdata.ts
  packages/plugins/documentation/server/services/__mocks__/mock-content-types.js
Labels: pr: chore, source: core:core

#19273 chore: setup configuration in one place only
  packages/core/admin/ee/server/src/services/auth.ts
  packages/core/admin/server/src/register.ts
  packages/core/admin/server/src/services/auth.ts
  packages/core/admin/server/src/services/token.ts
  packages/core/core/src/Strapi.ts
  packages/core/core/src/bootstrap.ts
  packages/core/core/src/configuration/index.ts
  packages/core/core/src/utils/open-browser.ts
  packages/core/core/src/utils/startup-logger.ts
  packages/core/utils/src/config.ts
  packages/core/utils/src/types.ts
  packages/plugins/documentation/server/services/documentation.js
  packages/plugins/users-permissions/server/controllers/auth.js
  packages/plugins/users-permissions/server/services/providers.js
  packages/plugins/users-permissions/server/services/user.js
Labels: flag: 💥 Breaking change, pr: chore, source: core:core

#19298 chore: set up content history files
  examples/getstarted/config/features.js
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/content-manager/history/LICENSE
  packages/core/admin/admin/src/content-manager/history/routes.tsx
  packages/core/admin/admin/src/content-manager/routes.tsx
  packages/core/content-manager/server/src/bootstrap.ts
  packages/core/content-manager/server/src/controllers/index.ts
  packages/core/content-manager/server/src/destroy.ts
  packages/core/content-manager/server/src/history/LICENSE
  packages/core/content-manager/server/src/history/controllers/index.ts
  packages/core/content-manager/server/src/history/index.ts
  packages/core/content-manager/server/src/history/routes/index.ts
  packages/core/content-manager/server/src/history/services/index.ts
  packages/core/content-manager/server/src/index.ts
  packages/core/content-manager/server/src/register.ts
  packages/core/content-manager/server/src/routes/index.ts
  packages/core/content-manager/server/src/services/index.ts
Labels: source: core:content-manager, pr: chore

#19227 Sanitize relation read query
  packages/core/content-manager/server/src/controllers/__tests__/relations.test.ts
  packages/core/content-manager/server/src/controllers/relations.ts
Labels: source: core:content-manager, pr: fix

#19307 chore: cleanup core utils org
  packages/core/core/src/Strapi.ts
  packages/core/core/src/utils/__tests__/convert-custom-field-type.test.ts
  packages/core/core/src/utils/__tests__/filepath-to-prop-path.test.ts
  packages/core/core/src/utils/addSlash.ts
  packages/core/core/src/utils/convert-custom-field-type.ts
  packages/core/core/src/utils/ee.ts
  packages/core/core/src/utils/fetch.ts
  packages/core/core/src/utils/filepath-to-prop-path.ts
  packages/core/core/src/utils/get-dirs.ts
  packages/core/core/src/utils/index.ts
  packages/core/core/src/utils/is-initialized.ts
  packages/core/core/src/utils/load-files.ts
  packages/core/core/src/utils/open-browser.ts
  packages/core/core/src/utils/startup-logger.ts
  packages/core/core/src/utils/update-notifier/index.ts
Labels: pr: chore, source: core:core

#19313 fix(dts): exclude content-releases
  packages/core/data-transfer/src/commands/data-transfer.ts
Labels: pr: fix, source: core:data-transfer

#19309 feat(cm): set up history page
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/content-manager/history/components/InjectedLink.tsx
  packages/core/admin/admin/src/content-manager/history/components/VersionDetails.tsx
  packages/core/admin/admin/src/content-manager/history/components/VersionsList.tsx
  packages/core/admin/admin/src/content-manager/history/pages/History.tsx
  packages/core/admin/admin/src/content-manager/history/pages/tests/History.test.tsx
  packages/core/admin/admin/src/content-manager/history/routes.tsx
  packages/core/admin/admin/src/content-manager/pages/App.tsx
  packages/core/admin/admin/src/content-manager/routes.tsx
  packages/core/admin/admin/src/pages/Layout.tsx
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:content-manager, pr: feature

#19324 chore: lift compontent logic out of the db and start exposing models
  packages/core/core/src/Strapi.ts
  packages/core/core/src/services/core-store.ts
  packages/core/core/src/services/webhook-store.ts
  packages/core/core/src/utils/transform-content-types-to-models.ts
  packages/core/database/src/entity-manager/index.ts
  packages/core/database/src/index.ts
  packages/core/database/src/metadata/index.ts
  packages/core/database/src/metadata/metadata.ts
  packages/core/database/src/types/index.ts
  packages/core/database/src/utils/types.ts
  packages/core/database/src/validations/relations/bidirectional.ts
  packages/utils/pack-up/src/__tests__/cli.test.ts
Labels: source: core:database, pr: chore, source: core:core

#19255 enhancement: restrict config filenames
  packages/core/core/src/configuration/config-loader.ts
Labels: flag: 💥 Breaking change, pr: enhancement, source: core:core

#19288 docs: initialize configuration contributor docs
  docs/docs/docs/01-core/configuration/00-intro.md
  docs/docs/docs/01-core/configuration/_category_.json
Labels: source: docs, pr: chore

#19342 chore: add a simple model registry
  packages/core/core/src/Strapi.ts
  packages/core/core/src/registries/index.ts
  packages/core/core/src/registries/models.ts
  packages/core/core/src/services/core-store.ts
  packages/core/database/src/index.ts
  packages/core/database/src/metadata/index.ts
Labels: source: core:database, pr: chore, source: core:core

#19334 Improve Type Inference for Subtypes in Attribute.Relation Properties
  packages/core/types/src/types/core/attributes/relation.ts
Labels: pr: enhancement, source: typescript

#19296 fix(i18n): locale swapping with content-types & D&P disabled
  packages/plugins/i18n/admin/src/components/CMEditViewLocalePicker.tsx
Labels: source: plugin:i18n, pr: fix

#19295 Fix password is sent when it was not changed
  packages/core/admin/admin/src/pages/Settings/pages/Users/EditPage.tsx
Labels: source: core:admin, pr: fix

#19335 [breaking change] Remove the TOrigin Type Param for Attribute.Relation
  packages/core/types/src/modules/documents/params/attributes.ts
  packages/core/types/src/modules/entity-service/params/attributes/index.ts
  packages/core/types/src/types/core/attributes/relation.ts
  packages/utils/typescript/lib/__tests__/generators/schemas/attributes.test.js
  packages/utils/typescript/lib/generators/common/models/mappers.js
Labels: flag: 💥 Breaking change, pr: enhancement, source: typescript

#19328 Check component against collectionTypeNames
  packages/core/content-type-builder/admin/src/components/FormModal/FormModal.tsx
  packages/core/content-type-builder/admin/src/components/FormModal/component/createComponentSchema.ts
  packages/core/content-type-builder/admin/src/components/FormModal/forms/forms.ts
  packages/core/content-type-builder/admin/src/components/FormModal/forms/utils/createCollectionName.ts
  packages/core/content-type-builder/server/src/services/schema-builder/component-builder.ts
Labels: source: core:content-type-builder, pr: fix

#19343 feat(history): capture content types history
  packages/core/content-manager/server/src/history/constants.ts
  packages/core/content-manager/server/src/history/content-types/history-version.ts
  packages/core/content-manager/server/src/history/index.ts
  packages/core/content-manager/server/src/history/services/__tests__/history.test.ts
  packages/core/content-manager/server/src/history/services/history.ts
  packages/core/content-manager/server/src/history/services/index.ts
  packages/core/content-manager/server/src/history/utils.ts
  packages/core/content-manager/shared/contracts/history-versions.ts
  packages/core/content-manager/shared/contracts/index.ts
  packages/core/database/src/transaction-context.ts
Labels: source: core:content-manager, pr: feature

#19302 docs(content-releases): add missing endpoints to backend docs
  docs/docs/docs/01-core/admin/05-features/hooks/use-document.mdx
  docs/docs/docs/01-core/content-releases/01-backend.md
Labels: pr: doc, source: core:content-releases

#19065 chore(content-releases): optimistic updates for content releases actions
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/services/release.ts
Labels: pr: chore, source: core:content-releases

#19367 Prevent Type Generation From Failing on Functions as Default Value
  packages/utils/typescript/lib/__tests__/generators/schemas/attributes.test.js
  packages/utils/typescript/lib/generators/common/models/attributes.js
Labels: pr: fix, source: typescript

#19336 [breaking change] Remove the TOrigin Type Param for Attribute.UID
  packages/core/types/src/modules/documents/params/attributes.ts
  packages/core/types/src/modules/entity-service/params/attributes/index.ts
  packages/core/types/src/types/core/attributes/common.ts
  packages/core/types/src/types/core/attributes/uid.ts
  packages/utils/typescript/lib/__tests__/generators/schemas/attributes.test.js
  packages/utils/typescript/lib/generators/common/models/mappers.js
Labels: flag: 💥 Breaking change, pr: enhancement, source: typescript

#19276 chore(content-releases): show Banner reached limit max releases
  packages/core/admin/admin/src/index.ts
  packages/core/admin/shared/contracts/admin.ts
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
  packages/core/content-releases/admin/src/pages/tests/ReleasesPage.test.tsx
  packages/core/content-releases/admin/src/translations/en.json
Labels: pr: chore, source: core:content-releases

#19369 chore(content-releases): add tracking
  packages/core/content-releases/admin/src/pages/ReleaseDetailsPage.tsx
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
  packages/core/content-releases/server/src/controllers/release.ts
  packages/core/content-releases/shared/contracts/releases.ts
  packages/core/helper-plugin/src/features/Tracking.tsx
Labels: pr: chore, source: core:content-releases

#19244 feat(Blocks): Nested list
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/List.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/Blocks/tests/List.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksContent.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksEditor.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksInput.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/BlocksToolbar.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/tests/BlocksInput.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/tests/BlocksToolbar.test.tsx
  packages/core/admin/admin/src/content-manager/components/BlocksInput/utils/conversions.ts
  packages/core/strapi/src/services/entity-validator/blocks-validator.ts
  packages/core/types/src/types/core/attributes/blocks.ts
Labels: source: core:content-manager, pr: feature

#19294 fix(cm): pass params to post requests for publish & unpublish
  api-tests/plugins/i18n/content-manager/crud.test.api.js
  api-tests/plugins/i18n/locales.test.api.js
  packages/core/admin/admin/src/content-manager/components/ContentTypeFormWrapper.tsx
  packages/plugins/i18n/server/src/controllers/validate-locale-creation.ts
Labels: source: core:content-manager, pr: fix

#19397 v4.19.1
  .github/actions/check-pr-status/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/workspace-plugin/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/pack-up/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: core:strapi, pr: chore

#19394 fix(content-releases): wrong value for the max number of pending releases limit
  packages/core/content-releases/admin/src/pages/ReleasesPage.tsx
Labels: pr: fix, source: core:content-releases

#19332 fix(content-releases): Add single type to releases
  packages/core/content-releases/admin/src/components/CMReleasesContainer.tsx
  packages/core/content-releases/admin/src/components/tests/CMReleasesContainer.test.tsx
  packages/core/content-releases/server/src/services/__tests__/release.test.ts
  packages/core/content-releases/server/src/services/release.ts
Labels: pr: enhancement, source: core:content-releases
