Repository strapi/strapi, pull requests merged in 2025-06, with the labels that each got.

#23615 fix: issue #23572 support undefined allowed types
  examples/getstarted/src/api/address/content-types/address/schema.json
  packages/core/upload/admin/src/components/MediaLibraryInput/MediaLibraryInput.tsx
  packages/core/upload/admin/src/utils/getAllowedFiles.ts
Labels: source: core:upload, pr: fix

#23634 fix: header behind other elements
  packages/core/admin/admin/src/components/Layouts/HeaderLayout.tsx
Labels: severity: low, source: core:admin, pr: fix

#23645 fix: ctb custom field need to allow extra configs
  packages/core/content-type-builder/server/src/controllers/validation/schema.ts
Labels: source: core:content-type-builder, pr: fix

#23652 chore: upgrade vite, axios, tar-fs
  docs/yarn.lock
  examples/experimental-dev/package.json
  packages/core/admin/package.json
  packages/core/strapi/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#23669 move generateFileName to image-manipulation to allow overriding
  packages/core/upload/server/src/services/__tests__/upload/formatFileInfo.test.ts
  packages/core/upload/server/src/services/image-manipulation.ts
  packages/core/upload/server/src/services/upload.ts
Labels: source: core:upload, pr: enhancement

#22620 feat(core/config): export Shared types
  packages/core/types/src/core/config/index.ts
Labels: pr: enhancement, source: typescript, community

#23141 feat(uid): add regex attribute
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/UID.tsx
  packages/core/content-manager/admin/src/utils/validation.ts
  packages/core/content-manager/server/src/controllers/validation/index.ts
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/advancedForm.ts
  packages/core/content-type-builder/server/src/controllers/validation/__tests__/types.test.ts
  packages/core/content-type-builder/server/src/controllers/validation/schema.ts
  packages/core/content-type-builder/server/src/controllers/validation/types.ts
  packages/core/core/src/services/entity-validator/validators.ts
  packages/core/types/src/schema/attribute/definitions/uid.ts
  tests/api/core/content-manager/content-manager/uid.test.api.js
Labels: source: core:admin, pr: enhancement, community

#23681 enhancement: debounce blocks editor update
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/BlocksContent.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/BlocksEditor.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/BlocksToolbar.tsx
Labels: source: core:content-manager, pr: enhancement

#23722 chore(deps): upgrade formidable to 3.5.4
  packages/core/upload/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#22098 fix(upload): draggable element style
  packages/core/upload/admin/src/components/AssetCard/AssetCard.tsx
  packages/core/upload/admin/src/components/AssetCard/AssetCardBase.tsx
  packages/core/upload/admin/src/components/AssetGridList/AssetGridList.tsx
Labels: source: core:upload, pr: fix, community

#23739 fix: display name of upload plugin in roles settings
  packages/core/admin/admin/src/pages/Settings/pages/Roles/components/PluginsAndSettings.tsx
  packages/plugins/users-permissions/admin/src/utils/formatPluginName.js
Labels: severity: low, source: core:admin, pr: fix

#23741 fix: min/max value for components not clear
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/advancedForm.ts
  packages/core/content-type-builder/admin/src/translations/en.json
  packages/core/content-type-builder/admin/src/translations/fr.json
  tests/e2e/tests/review-workflows/settings.spec.ts
Labels: severity: low, source: core:content-type-builder, pr: fix

#23707 fix(upload): import cropperjs css by styled components
  package.json
  packages/core/upload/admin/custom.d.ts
  packages/core/upload/admin/src/components/AssetDialog/tests/AssetDialog.test.tsx
  packages/core/upload/admin/src/components/EditAssetDialog/PreviewBox/PreviewBox.tsx
  packages/core/upload/admin/src/components/EditAssetDialog/tests/EditAssetContent.test.tsx
  packages/core/upload/admin/src/components/EditAssetDialog/tests/EditAssetDialog.test.tsx
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/tests/CarouselAssets.test.tsx
  packages/core/upload/admin/src/components/MediaLibraryInput/tests/MediaLibraryInput.test.tsx
  packages/core/upload/admin/src/components/UploadAssetDialog/tests/UploadAssetDialog.test.tsx
  packages/core/upload/admin/src/pages/App/MediaLibrary/tests/MediaLibrary.test.tsx
  packages/plugins/color-picker/admin/src/components/tests/ColorPickerInput.test.tsx
  packages/plugins/documentation/admin/src/pages/tests/App.test.tsx
  packages/plugins/documentation/admin/src/pages/tests/Settings.test.tsx
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/index.test.jsx
  packages/plugins/users-permissions/admin/src/pages/AdvancedSettings/tests/schema.test.js
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/index.test.jsx
  packages/plugins/users-permissions/admin/src/pages/EmailTemplates/tests/schema.test.js
  packages/plugins/users-permissions/admin/src/pages/Providers/tests/index.test.jsx
  packages/plugins/users-permissions/admin/src/pages/Providers/tests/schema.test.js
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/ListPage/tests/index.test.jsx
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/tests/CreatePage.test.jsx
  packages/plugins/users-permissions/admin/src/pages/Roles/pages/tests/EditPage.test.jsx
  rollup.utils.mjs
  yarn.lock
Labels: source: core:upload, pr: fix

#23767 release: 5.16.0 -> develop
  .github/actions/check-pr-status/package.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/core/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/permissions/package.json
  packages/core/review-workflows/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  packages/utils/upgrade/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: tooling, pr: chore

#23775 chore: strapi DS v2.0.0-rc.27 bump
  examples/getstarted/package.json
  examples/plugins/todo-example/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/review-workflows/package.json
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#23777 refactor: remove didusersendmessage tracking event
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/content-type-builder/admin/src/components/AIChat/UploadCodeModal.tsx
  packages/core/content-type-builder/admin/src/components/AIChat/UploadFigmaModal.tsx
  packages/core/content-type-builder/admin/src/components/AIChat/hooks/useAttachments.ts
  packages/core/content-type-builder/admin/src/components/AIChat/providers/ChatProvider.tsx
Labels: source: core:content-type-builder, flag: don't merge, pr: fix

#23771 fix: design of user status
  packages/core/admin/admin/src/pages/Settings/pages/Users/ListPage.tsx
Labels: source: core:admin, pr: fix

#23737 fix(graphql): draft and publish document does not forward status arg …
  packages/plugins/graphql/server/src/bootstrap.ts
  packages/plugins/graphql/server/src/services/builders/resolvers/association.ts
  tests/api/plugins/graphql/dp-relations.test.api.js
Labels: source: plugin:graphql, pr: fix

#23809 chore: track widgets usage
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/admin/admin/src/layouts/AuthenticatedLayout.tsx
Labels: source: core:admin, pr: chore

#22378 fix: Cleaner fallback for documents and audio files in the Media Libr…
  packages/core/upload/admin/src/components/TableList/PreviewCell.tsx
  packages/core/upload/admin/src/components/TableList/tests/CellContent.test.tsx
  packages/core/upload/admin/src/components/TableList/tests/__snapshots__/CellContent.test.tsx.snap
Labels: source: core:upload, pr: fix, community

#23616 feat(content-manager): conditional fields
  examples/getstarted/src/api/condition/content-types/condition/schema.json
  examples/getstarted/src/api/condition/controllers/condition.js
  examples/getstarted/src/api/condition/routes/condition.js
  examples/getstarted/src/api/condition/services/condition.js
  examples/getstarted/src/api/country/content-types/country/schema.json
  examples/getstarted/src/api/homepage/content-types/homepage/schema.json
  packages/core/admin/admin/src/index.ts
  packages/core/admin/admin/src/utils/rulesEngine.ts
  packages/core/admin/admin/src/utils/tests/rulesEngine.test.ts
  packages/core/admin/package.json
  packages/core/content-manager/admin/src/history/components/VersionContent.tsx
  packages/core/content-manager/admin/src/pages/EditView/EditViewPage.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/NonRepeatable.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Repeatable.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/DynamicComponent.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormLayout.tsx
  packages/core/content-manager/admin/src/pages/EditView/utils/data.ts
  packages/core/content-manager/admin/src/utils/validation.ts
  packages/core/content-type-builder/admin/src/components/ApplyConditionButton.tsx
  packages/core/content-type-builder/admin/src/components/AttributeRow.tsx
  packages/core/content-type-builder/admin/src/components/FormModal/FormModal.tsx
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/ConditionForm.tsx
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/advancedForm.ts
  packages/core/content-type-builder/admin/src/components/FormModal/forms/forms.ts
  packages/core/content-type-builder/admin/src/components/GenericInputs.tsx
  packages/core/content-type-builder/admin/src/components/TabForm.tsx
  packages/core/content-type-builder/admin/src/translations/en.json
  packages/core/content-type-builder/admin/src/utils/conditions.ts
  packages/core/content-type-builder/server/src/controllers/validation/schema.ts
  packages/core/core/package.json
  packages/core/core/src/Strapi.ts
  packages/core/core/src/services/document-service/entries.ts
  packages/core/core/src/services/entity-validator/index.ts
  packages/core/core/src/services/entity-validator/validators.ts
  packages/core/core/src/services/utils/__tests__/conditional-fields.test.ts
  packages/core/core/src/services/utils/conditional-fields.ts
  packages/core/types/package.json
  packages/core/types/src/schema/attribute/base.ts
  packages/core/utils/package.json
  packages/core/utils/src/index.ts
  tests/e2e/app-template/src/api/product/content-types/product/schema.json
  tests/e2e/tests/content-manager/conditional-fields.spec.ts
  yarn.lock
Labels: source: core:content-manager, pr: feature
