Repository strapi/strapi, pull requests merged in 2025-08, with the labels that each got.

#23160 Added firstPublishedAt field which sets the datetime when a content is first published. (#22512)
  packages/core/content-type-builder/server/src/services/builder.ts
  packages/core/core/src/domain/content-type/index.ts
  packages/core/core/src/migrations/first-published-at.ts
  packages/core/core/src/migrations/index.ts
  packages/core/core/src/services/document-service/first-published-at.ts
  packages/core/core/src/services/document-service/repository.ts
  packages/core/types/src/core/config/admin.ts
  packages/core/utils/src/content-types.ts
Labels: pr: feature, source: core:core

#24073 fix(core): handle time to dateTime and dateTime to time conversion wi…
  packages/core/database/src/dialects/dialect.ts
  packages/core/database/src/dialects/postgresql/index.ts
  packages/core/database/src/schema/__tests__/time-to-datetime-migration.test.ts
  packages/core/database/src/schema/builder.ts
Labels: source: core:database, pr: fix

#24068 feat: last activity homepage widget
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/admin/admin/src/pages/Home/HomePage.tsx
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/ee/admin/src/components/AuditLogs/Widgets.tsx
  packages/core/admin/ee/admin/src/components/tests/Widgets.test.tsx
  packages/core/admin/ee/admin/src/constants.ts
  tests/e2e/tests/admin/ee/home.spec.ts
  tests/e2e/tests/admin/home.spec.ts
Labels: source: core:admin, pr: feature

#24111 future: set up preview injected script
  examples/getstarted/src/admin/preview/dummy-preview.jsx
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
  packages/core/content-manager/admin/src/preview/utils/constants.ts
  packages/core/content-manager/admin/src/preview/utils/previewScript.ts
Labels: source: core:content-manager, pr: enhancement

#24067 chore: revert uuid in examples
  examples/empty/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  packages/core/strapi/src/node/vite/config.ts
Labels: source: core:admin, pr: chore

#24127 future: create preview overlay div with highlights
  examples/getstarted/src/admin/preview/dummy-preview.jsx
  packages/core/content-manager/admin/src/preview/utils/previewScript.ts
Labels: source: core:content-manager, pr: enhancement

#24152 fix: wrong count for published entries in homepage widget
  packages/core/content-manager/server/src/homepage/services/homepage.ts
Labels: source: core:admin, pr: fix

#24175 feat(CTB): add conditional fields form to custom fields advanced settings
  packages/core/content-type-builder/admin/src/components/FormModal/forms/forms.ts
  packages/core/content-type-builder/admin/src/components/FormModal/forms/tests/customField.test.ts
  packages/core/content-type-builder/admin/src/components/TabForm.tsx
Labels: source: core:content-type-builder, pr: enhancement

#24086 Add the user ID to amplitude events
  packages/cli/cloud/src/bin.ts
  packages/cli/cloud/src/create-growth-sso-trial/action.ts
  packages/cli/cloud/src/login/action.ts
  packages/cli/cloud/src/services/cli-api.ts
  packages/cli/cloud/src/services/context.ts
  packages/cli/cloud/src/types.ts
  packages/cli/create-strapi-app/src/cloud.ts
Labels: source: cli, pr: feature

#24179 future: sync preview to side editor forms
  packages/core/content-manager/admin/src/pages/EditView/EditViewPage.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/Blocker.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/InputRenderer.tsx
  packages/core/content-manager/admin/src/preview/components/InputPopover.tsx
  packages/core/content-manager/admin/src/preview/hooks/usePreviewInputManager.ts
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
  packages/core/content-manager/admin/src/preview/utils/getSendMessage.ts
  packages/core/content-manager/admin/src/preview/utils/previewScript.ts
Labels: source: core:content-manager, pr: enhancement

#24125 chore: implement a new prompt to enable A/B test and track the event
  packages/cli/create-strapi-app/src/create-strapi.ts
  packages/cli/create-strapi-app/src/index.ts
  packages/cli/create-strapi-app/src/prompts.ts
  packages/cli/create-strapi-app/src/types.ts
Labels: source: cli, pr: chore

#23813 corrected UI of searchbar on strapi content manager
  packages/core/content-manager/admin/src/components/LeftMenu.tsx
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/ContentTypeBuilderNav.tsx
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.tsx.snap
  packages/core/upload/admin/src/pages/App/MediaLibrary/tests/MediaLibrary.test.tsx
Labels: source: core:content-manager, pr: fix

#24207 Fix: content api route serialization
  packages/core/core/src/services/content-api/index.ts
  packages/core/utils/src/index.ts
  packages/core/utils/src/route-serialization.ts
  packages/plugins/users-permissions/server/services/users-permissions.js
Labels: pr: fix, source: core:core

#24134 [validateRefreshToken] implement session management
  packages/core/core/src/services/__tests__/session-manager.test.ts
  packages/core/core/src/services/session-manager.ts
  packages/core/types/src/modules/session-manager.ts
  tests/api/core/admin/session-manager.test.api.ts
Labels: pr: feature, source: core:core

#24279 chore: label and close issues before 2024
  .github/workflows/close_stale_issues.yml
  .github/workflows/label_stale_issues.yml
Labels: source: tooling, pr: chore
