Repository strapi/strapi, pull requests merged in 2025-04, with the labels that each got.

#23239 fix: disable publish button when publishing a relation change
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
Labels: source: core:content-manager, pr: fix

#23287 fix: OTF relations wrong redirect when publishing a nested relation during new entry creation
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/RelationModal.tsx
Labels: source: core:content-manager, pr: fix

#23295 fix(upgrade): incorrect path to codemods
  packages/utils/upgrade/src/modules/codemod-repository/constants.ts
Labels: pr: fix, source: utils:upgrade

#23273 fix: review workflow show roles
  packages/core/review-workflows/admin/src/routes/settings/hooks/useReviewWorkflows.ts
Labels: pr: fix, source: core:review-workflows

#23297 Releases/5.12.3
  .github/actions/check-pr-status/package.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/core/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/permissions/package.json
  packages/core/review-workflows/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  packages/utils/upgrade/package.json
  packages/utils/upgrade/src/modules/codemod-repository/constants.ts
  scripts/front/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#23272 chore(deps): bump markdown-it from 12.3.2 to 13.0.2
  packages/core/content-manager/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#22237 feat(upload): sharp v0.33.5
  packages/core/upload/package.json
  yarn.lock
Labels: source: core:upload, pr: chore, community

#23145 chore: refactor relation input modal
  packages/core/admin/admin/src/components/Context.tsx
  packages/core/admin/admin/src/pages/Marketplace/tests/MarketplacePage.test.tsx
  packages/core/content-manager/admin/src/content-manager.ts
  packages/core/content-manager/admin/src/features/DocumentContext.tsx
  packages/core/content-manager/admin/src/history/pages/History.tsx
  packages/core/content-manager/admin/src/hooks/useDocumentActions.ts
  packages/core/content-manager/admin/src/hooks/useDocumentContext.ts
  packages/core/content-manager/admin/src/pages/EditView/EditViewPage.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Input.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/NonRepeatable.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Repeatable.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/DynamicComponent.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/Field.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/tests/DynamicComponent.test.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/tests/Field.test.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/RelationModal.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/Relations.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/tests/RelationModal.test.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/tests/Relations.test.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/UID.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/InputRenderer.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
  tests/e2e/tests/content-manager/create-content.spec.ts
  tests/e2e/tests/content-manager/relations.spec.ts
Labels: source: core:content-manager, pr: chore

#23329 chore: bump axios to 1.8.4
  packages/cli/cloud/package.json
  packages/core/admin/package.json
  yarn.lock
Labels: pr: chore

#23250 chore: remove sdk-plugin dependencies from user deps
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#22371 fix: fix for type of relation icons in the relation modal
  packages/core/content-type-builder/admin/src/components/Relation/RelationNaturePicker/Components.tsx
Labels: source: core:content-type-builder, pr: fix, community

#23342 future(admin): add widgets api
  examples/getstarted/config/features.js
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/core/apis/CustomFields.ts
  packages/core/admin/admin/src/core/apis/Widgets.ts
  packages/core/admin/admin/src/core/apis/tests/widgets.test.ts
  packages/core/types/src/modules/features.ts
Labels: source: core:admin, pr: enhancement

#23345 future(homepage): export widget helper components
  packages/core/admin/admin/src/components/WidgetHelpers.tsx
  packages/core/admin/admin/src/components/tests/Widget.test.tsx
  packages/core/admin/admin/src/index.ts
  packages/core/admin/admin/src/pages/Home/HomePage.tsx
  packages/core/admin/admin/src/pages/Home/components/ContentManagerWidgets.tsx
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: enhancement

#23354 test(e2e): launch initial server in watch mode
  .github/filters.yaml
  tests/scripts/run-e2e-tests.js
Labels: pr: chore, source: e2e-tests

#23302 fix(preview): pass documentId as undefined if the entry is singleType
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
Labels: pr: fix, flag: EE, community, source: core:preview

#23369 test(admin): add tests for reducer auth actions and Login SSO
  packages/core/admin/admin/src/tests/reducer.test.ts
  packages/core/admin/ee/admin/src/pages/tests/AuthResponse.test.tsx
Labels: source: core:admin, pr: chore

#23374 feat: add a link icon on the left of the relation option
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/Relations.tsx
Labels: source: core:content-manager, pr: feature

#23372 chore: strapi DS v2.0.0-rc.22
  examples/getstarted/package.json
  examples/plugins/todo-example/package.json
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/components/HeadersInput.tsx
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/review-workflows/package.json
  packages/core/upload/admin/src/components/AssetCard/tests/__snapshots__/DocAssetCard.test.tsx.snap
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.tsx.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetContent.test.tsx.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.tsx.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.tsx.snap
  packages/core/upload/admin/src/components/FolderCard/tests/__snapshots__/FolderCard.test.tsx.snap
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore, dependencies

#23391 chore: resolve babel
  docs/package.json
  docs/yarn.lock
  package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#23381 future(relations): add create relation modal
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/RelationModal.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/Relations.tsx
  packages/core/content-manager/admin/src/translations/en.json
  tests/e2e/tests/content-manager/relations.spec.ts
Labels: source: core:content-manager, pr: enhancement

#23378 fix: rich text editors focus mode modals
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/BlocksEditor.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/BlocksInput/EditorLayout.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Wysiwyg/EditorLayout.tsx
  tests/e2e/tests/content-manager/relations.spec.ts
Labels: source: core:content-manager, pr: fix

#23397 future: check permissions before rendering widgets
  packages/core/admin/admin/src/core/apis/Widgets.ts
  packages/core/admin/admin/src/features/Auth.tsx
  packages/core/admin/admin/src/pages/Home/HomePage.tsx
Labels: source: core:admin, pr: fix

#23416 fix: widget type not exported from @strapi/admin/strapi-admin
  packages/core/admin/admin/src/index.ts
  packages/core/admin/admin/src/pages/Home/HomePage.tsx
Labels: source: core:admin, pr: fix

#23412 future: track registered widgets
  packages/core/admin/admin/src/features/Tracking.tsx
Labels: source: core:admin, pr: chore

#23407 chore(homepage): move widget controllers, services, and routes from admin to content-manager
  packages/core/admin/admin/src/pages/Home/components/ContentManagerWidgets.tsx
  packages/core/admin/admin/src/services/homepage.ts
  packages/core/admin/server/src/controllers/index.ts
  packages/core/admin/server/src/routes/homepage.ts
  packages/core/admin/server/src/routes/index.ts
  packages/core/admin/server/src/services/index.ts
  packages/core/admin/server/src/utils/index.d.ts
  packages/core/content-manager/admin/src/services/homepage.ts
  packages/core/content-manager/server/src/controllers/index.ts
  packages/core/content-manager/server/src/homepage/controllers/homepage.ts
  packages/core/content-manager/server/src/homepage/controllers/index.ts
  packages/core/content-manager/server/src/homepage/index.ts
  packages/core/content-manager/server/src/homepage/routes/homepage.ts
  packages/core/content-manager/server/src/homepage/routes/index.ts
  packages/core/content-manager/server/src/homepage/services/homepage.ts
  packages/core/content-manager/server/src/homepage/services/index.ts
  packages/core/content-manager/server/src/preview/services/preview.ts
  packages/core/content-manager/server/src/routes/index.ts
  packages/core/content-manager/server/src/services/homepage.ts
  packages/core/content-manager/server/src/services/index.ts
  tests/api/core/content-manager/homepage/admin-homepage.test.api.ts
  tests/api/core/content-manager/permissions-conditions.test.api.ts
Labels: source: core:content-manager, pr: chore

#23382 feat: OTF relations create modal add save and publish
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/content-manager/admin/src/hooks/useDocumentActions.ts
  packages/core/content-manager/admin/src/hooks/useDocumentContext.ts
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/RelationModal.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/Relations.tsx
  tests/e2e/tests/content-manager/relations-on-the-fly/create-relation.spec.ts
  tests/e2e/tests/content-manager/relations-on-the-fly/edit-relation.spec.ts
Labels: source: core:content-manager, pr: feature

#23428 future(homepage): missing addTagTypes results in stale data
  packages/core/content-manager/admin/src/services/homepage.ts
Labels: source: core:content-manager, pr: fix

#23429 future: add missing widget link button
  packages/core/admin/admin/src/pages/Home/HomePage.tsx
Labels: source: core:admin, pr: fix

#23427 fix: updated icon button to include disabled flag for repeatable comp
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Repeatable.tsx
Labels: source: core:admin, pr: fix

#23422 fix: typo in `data-transfer` CLI
  packages/core/strapi/src/cli/utils/data-transfer.ts
Labels: pr: fix, source: core:data-transfer, community

#23385 feat(strapi): add an openapi:generate command
  packages/core/openapi/package.json
  packages/core/strapi/package.json
  packages/core/strapi/src/cli/commands/index.ts
  packages/core/strapi/src/cli/commands/openapi/generate.ts
  yarn.lock
Labels: source: core:strapi, pr: feature

#23120 chore: improve uniqueness of deviceId + userId
  packages/cli/cloud/src/config/local.ts
  packages/cli/cloud/src/index.ts
  packages/cli/cloud/src/services/cli-api.ts
  packages/cli/create-strapi-app/src/index.ts
  packages/cli/create-strapi-app/src/types.ts
  packages/cli/create-strapi-app/src/utils/install-id.ts
  packages/cli/create-strapi-app/src/utils/machine-id.ts
  packages/cli/create-strapi-app/src/utils/package-json.ts
  packages/cli/create-strapi-app/src/utils/usage.ts
  packages/core/admin/admin/src/layouts/AuthenticatedLayout.tsx
  packages/core/core/src/configuration/index.ts
  packages/core/core/src/ee/license.ts
  packages/core/core/src/services/metrics/admin-user-hash.ts
  packages/core/core/src/services/metrics/sender.ts
  packages/core/strapi/src/cli/commands/telemetry/disable.ts
  packages/core/strapi/src/cli/commands/telemetry/enable.ts
  packages/core/strapi/src/cli/utils/telemetry.ts
  packages/core/utils/src/index.ts
  packages/core/utils/src/install-id.ts
  packages/core/utils/src/machine-id.ts
Labels: pr: enhancement, source: core:core

#23390 upd: Providers > Amazon SES readme plugin config updated.
  packages/providers/email-amazon-ses/README.md
Labels: pr: chore, source: providers, community

#21575 fix: Error MISSING_TRANSLATION errors for locale 'ru'
  examples/getstarted/src/plugins/local-plugin/admin/src/translations/ru.json
  packages/core/admin/admin/src/pages/Auth/components/Register.tsx
  packages/core/admin/admin/src/translations/ru.json
  packages/core/content-manager/admin/src/translations/ru.json
  packages/core/upload/admin/src/translations/ru.json
  packages/plugins/cloud/admin/src/translations/ru.json
Labels: source: core:admin, pr: enhancement, community, translations
