Repository strapi/strapi, pull requests merged in 2025-10, with the labels that each got.

#24519 fix: don't render ctb ai chatbot in production mode
  packages/core/content-type-builder/admin/src/components/AIChat/Chat.tsx
Labels: source: core:content-type-builder, pr: fix

#24521 fix: scroll in sidenav
  packages/core/admin/admin/src/components/SubNav.tsx
  packages/core/admin/admin/src/pages/Settings/components/SettingsNav.tsx
  packages/core/content-manager/admin/src/components/LeftMenu.tsx
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/ContentTypeBuilderNav.tsx
  packages/core/content-type-builder/admin/src/components/ContentTypeBuilderNav/tests/__snapshots__/index.test.tsx.snap
Labels: source: core:admin, pr: fix

#24042 enhancement: backport change database hash from md5 to sha25 to v4
  packages/core/database/src/schema/storage.ts
Labels: source: core:database, pr: enhancement, fix:4

#24522 fix(upload): use absolute server url for file url
  packages/core/upload/server/src/services/__tests__/ai-metadata.test.ts
  packages/core/upload/server/src/services/ai-metadata.ts
Labels: source: core:upload, pr: fix

#24267 fix(upload): disable the edit button on media input if disabled
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/CarouselAssets.tsx
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/tests/CarouselAssets.test.tsx
Labels: source: core:upload, pr: fix, community

#24530 fix: ai settings show up for licenses without ai
  packages/core/upload/admin/src/ai/components/AIUploadModal.tsx
  packages/core/upload/admin/src/pages/SettingsPage/SettingsPage.tsx
  packages/core/upload/admin/src/pages/SettingsPage/tests/SettingsPage.test.tsx
  packages/core/upload/admin/src/translations/en.json
Labels: source: core:upload, pr: fix

#24533 fix: reset selection when folder changes to hide bulk actions
  packages/core/upload/admin/src/pages/App/MediaLibrary/MediaLibrary.tsx
Labels: source: core:upload, pr: fix, community
