Repository strapi/strapi, pull requests merged in 2025-03, with the labels that each got.

#23023 security(deps): upgrade vite to 5.4.11
  docs/yarn.lock
  examples/experimental-dev/package.json
  packages/core/admin/package.json
  packages/core/strapi/package.json
  yarn.lock
Labels: source: dependencies, pr: security

#22964 fix(data-transfer): race condition and backpressure in large asset transfers
  packages/core/data-transfer/src/engine/__tests__/engine.test.ts
  packages/core/data-transfer/src/engine/index.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/index.ts
  packages/core/data-transfer/src/strapi/providers/remote-source/index.ts
  packages/core/data-transfer/src/strapi/queries/link.ts
  packages/core/data-transfer/src/strapi/remote/handlers/pull.ts
Labels: pr: fix, source: core:data-transfer

#22834 fix: inverse relation ordering
  packages/core/core/src/services/document-service/repository.ts
  packages/core/core/src/services/document-service/utils/bidirectional-relations.ts
Labels: pr: fix, source: core:core

#23024 feat(preview): refresh iframe when strapi updates
  examples/getstarted/src/admin/preview/dummy-preview.jsx
  packages/core/content-manager/admin/src/content-manager.ts
  packages/core/content-manager/admin/src/hooks/useDocument.ts
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewContent.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
Labels: source: core:content-manager, pr: enhancement

#22993 fix(data-transfer): server crash when remote data transfer is interrupted by client
  packages/core/data-transfer/src/strapi/providers/local-source/index.ts
  packages/core/data-transfer/src/strapi/remote/handlers/pull.ts
Labels: pr: fix, source: core:data-transfer

#23054 fix: missing mock function causes typescript to fail
  packages/core/review-workflows/admin/src/routes/content-manager/model/id/components/tests/AssigneeSelect.test.tsx
Labels: pr: fix, source: core:review-workflows

#23052 chore: add documentId to tracking events
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/content-manager/admin/src/hooks/useDocumentActions.ts
Labels: source: core:content-manager, pr: chore

#23003 feat(relations-on-the-fly): add the full page button in the modal to open the document edit view
  packages/core/admin/admin/src/components/ConfirmDialog.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/RelationModal.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/Relations.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/tests/RelationModal.test.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/tests/Relations.test.tsx
  packages/core/content-manager/admin/src/translations/en.json
  tests/e2e/tests/content-manager/history.spec.ts
  tests/e2e/tests/content-manager/relations.spec.ts
Labels: source: core:content-manager, pr: feature

#23072 test(e2e): test all attribute types for single type in CTB
  tests/e2e/tests/content-type-builder/collection-type/create-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/create-single-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/edit-single-type.spec.ts
Labels: pr: chore, source: e2e-tests

#23075 test(e2e): rbac roles
  tests/e2e/tests/settings/rbac/actions/assign-role-to-user.spec.ts
  tests/e2e/tests/settings/rbac/actions/create-role.spec.ts
  tests/e2e/tests/settings/rbac/actions/delete-role.spec.ts
  tests/e2e/tests/settings/rbac/actions/edit-role.spec.ts
  tests/e2e/tests/settings/rbac/actions/see-role.spec.ts
  tests/e2e/tests/settings/rbac/readme.md
  tests/e2e/tests/settings/rbac/scenarios/create-new-role.scenario.spec.ts
Labels: pr: chore, source: e2e-tests

#23082 enhancement: remove warning when project is at seat limit
  packages/core/admin/ee/admin/src/hooks/tests/useLicenseLimitNotification.test.tsx
  packages/core/admin/ee/admin/src/hooks/useLicenseLimitNotification.ts
Labels: source: core:admin, pr: enhancement

#23083 fix: disable preview form when status is modified
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
Labels: source: core:content-manager, pr: fix

#23066 security(deps): upgrade vite to 5.4.13
  examples/experimental-dev/package.json
  packages/core/admin/package.json
  packages/core/strapi/package.json
  yarn.lock
Labels: source: dependencies, pr: security

#23078 test(e2e): add test for relations in ctb
  tests/e2e/tests/content-type-builder/collection-type/create-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/components/create-components.spec.ts
  tests/e2e/tests/content-type-builder/components/edit-components.spec.ts
  tests/e2e/tests/content-type-builder/single-type/create-single-type.spec.ts
  tests/e2e/tests/content-type-builder/single-type/edit-single-type.spec.ts
  tests/e2e/utils/content-types.ts
Labels: pr: chore, source: e2e-tests

#23008 enhancement: allow multiple projects in develop mode by using next available port for vite
  packages/core/strapi/src/node/vite/watch.ts
Labels: source: cli, pr: fix

#23076 enhancement(ctb): add aria data to relations buttons
  packages/core/content-type-builder/admin/src/components/Relation/RelationNaturePicker/RelationNaturePicker.tsx
  tests/e2e/tests/content-type-builder/collection-type/create-collection-type.spec.ts
  tests/e2e/tests/content-type-builder/components/create-components.spec.ts
  tests/e2e/tests/content-type-builder/components/edit-components.spec.ts
  tests/e2e/tests/content-type-builder/single-type/create-single-type.spec.ts
  tests/e2e/utils/content-types.ts
Labels: source: core:admin, pr: enhancement

#23077 feat(relations): add back button history
  packages/core/content-manager/admin/src/features/DocumentContext.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/RelationModal.tsx
  tests/e2e/tests/content-manager/relations.spec.ts
Labels: source: core:content-manager, pr: feature

#23105 security(deps): upgrade axios to 1.8.2 for CWE-918
  packages/cli/cloud/package.json
  packages/core/admin/package.json
  yarn.lock
Labels: source: dependencies, pr: security

#23100 fix(relations): dynamic zones and components do not work
  packages/core/content-manager/admin/src/features/DocumentContext.tsx
  packages/core/content-manager/admin/src/pages/EditView/EditViewPage.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/NonRepeatable.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Repeatable.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/ComponentCategory.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/DynamicComponent.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/RelationModal.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/Relations.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/tests/Relations.test.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormLayout.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/InputRenderer.tsx
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
  tests/e2e/tests/content-manager/relations.spec.ts
Labels: source: core:content-manager, pr: fix

#23115 fix: prevent switching preview tabs with unsaved changes
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
  tests/e2e/tests/content-manager/preview.spec.ts
Labels: source: core:content-manager, pr: fix

#23121 fix: preview should not have a background
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
Labels: source: core:content-manager, pr: fix

#23122 fix: onPreview is not called when updating a relation
  examples/getstarted/src/admin/preview/dummy-preview.jsx
  packages/core/content-manager/admin/src/features/DocumentContext.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/RelationModal.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/Relations.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/tests/RelationModal.test.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
Labels: source: core:content-manager, pr: fix

#23068 chore(deps): upgrade esbuild-loader to 4.3.0
  packages/core/strapi/package.json
  packages/core/strapi/src/node/webpack/config.ts
  yarn.lock
Labels: source: dependencies, pr: chore

#23091 docs: add strapi/permissions documentation
  docs/docs/docs/01-core/admin/02-permissions/00-intro.mdx
  docs/docs/docs/01-core/permissions/00-intro.md
  docs/docs/docs/01-core/permissions/01-engine.md
  docs/docs/docs/01-core/permissions/_category_.json
  docs/package.json
  docs/yarn.lock
Labels: source: docs, pr: doc

#23128 chore: drop side editor future flag
  examples/getstarted/config/features.js
  packages/core/content-manager/admin/src/preview/components/PreviewContent.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
  packages/core/types/src/modules/features.ts
  tests/e2e/app-template/config/features.js
  tests/e2e/tests/content-manager/preview.spec.ts
Labels: source: core:content-manager, pr: chore

#23123 fix: fails to update self referencing relations on publish
  packages/core/core/src/services/document-service/utils/bidirectional-relations.ts
  tests/api/core/strapi/api/relations.test.api.ts
Labels: pr: fix, source: core:core

#23106 security(deps): upgrade axios to 1.8.2 for CVE-2025-27152
  .github/actions/check-pr-status/dist/index.js
  .github/actions/check-pr-status/package.json
  packages/cli/cloud/package.json
  packages/core/admin/package.json
  packages/core/content-releases/package.json
  packages/core/helper-plugin/package.json
  packages/core/upload/package.json
  packages/plugins/i18n/package.json
  yarn.lock
Labels: source: dependencies, pr: security

#23007 chore: add GitHub Action to list merged PRs between branches
  .github/actions/pr_diff/action.yml
  .github/actions/pr_diff/script.sh
  .github/workflows/diff_prs.yml
Labels: source: tooling, pr: chore

#23142 fix: incorrect token source in pr diff
  .github/actions/pr_diff/action.yml
Labels: source: tooling, pr: fix

#23143 fix: incorrect file path and parameters for pr_diff
  .github/actions/pr_diff/action.yml
  .github/workflows/diff_prs.yml
Labels: source: tooling, pr: fix

#23146 fix: bidirectional relations sync
  packages/core/core/src/services/document-service/utils/bidirectional-relations.ts
  tests/api/core/strapi/api/relations.test.api.ts
Labels: pr: fix, source: core:core

#23139 fix: remove from develop the relations on the fly future flag and unstable components
  examples/getstarted/config/features.js
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/InputRenderer.tsx
  packages/core/types/src/modules/features.ts
  tests/e2e/app-template/config/features.js
Labels: source: core:content-manager, pr: fix

#23084 fix: ui issues on purchase pages
  packages/core/admin/admin/src/pages/Settings/pages/PurchaseAuditLogs.tsx
  packages/core/admin/admin/src/pages/Settings/pages/PurchaseContentHistory.tsx
  packages/core/admin/admin/src/pages/Settings/pages/PurchaseSingleSignOn.tsx
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-releases/admin/src/assets/purchase-page-illustration-light.svg
  packages/core/content-releases/admin/src/pages/PurchaseContentReleases.tsx
  packages/core/review-workflows/admin/src/routes/purchase-review-workflows.tsx
Labels: source: core:admin, pr: fix

#23150 fix: add z index property to the menu content in blocks and markdown
  packages/core/content-manager/admin/src/pages/EditView/components/EditorToolbarObserver.tsx
Labels: source: core:content-manager, pr: fix

#23151 fix(relations): no components available in relation modal dynamic zone
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/DynamicComponent.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/InputRenderer.tsx
Labels: source: core:content-manager, pr: fix

#23125 fix: relation label fix overflow behaviour
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/RelationModal.tsx
Labels: source: core:content-manager, pr: fix

#23152 fix: add the correct locale and document Id when we reorder the relations
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/Relations.tsx
Labels: source: core:content-manager, pr: fix

#23169 fix: correctly read asset stream for dts asset remote providers
  packages/core/data-transfer/src/strapi/providers/local-source/assets.ts
Labels: pr: fix, source: core:data-transfer

#23179 fix: On production build webhooks detail page intermediate value issue.
  packages/core/admin/admin/src/pages/Settings/constants.ts
Labels: source: core:admin, pr: fix

#23182 enhancement(openapi): add routes collection
  packages/core/openapi/.eslintignore
  packages/core/openapi/__tests__/default.test.ts
  packages/core/openapi/__tests__/fixtures/index.ts
  packages/core/openapi/__tests__/fixtures/routes.ts
  packages/core/openapi/__tests__/mocks/index.ts
  packages/core/openapi/__tests__/mocks/route-matcher.mock.ts
  packages/core/openapi/__tests__/mocks/routes-provider.mock.ts
  packages/core/openapi/__tests__/mocks/strapi.mock.ts
  packages/core/openapi/__tests__/routes/api-routes-provider.test.ts
  packages/core/openapi/__tests__/routes/collector.test.ts
  packages/core/openapi/__tests__/routes/plugins-route-provider.test.ts
  packages/core/openapi/__tests__/routes/route-matcher.test.ts
  packages/core/openapi/jest.config.js
  packages/core/openapi/package.json
  packages/core/openapi/src/constants.ts
  packages/core/openapi/src/debug.ts
  packages/core/openapi/src/index.ts
  packages/core/openapi/src/routes/collector.ts
  packages/core/openapi/src/routes/index.ts
  packages/core/openapi/src/routes/matcher.ts
  packages/core/openapi/src/routes/providers/abstract.ts
  packages/core/openapi/src/routes/providers/api.ts
  packages/core/openapi/src/routes/providers/index.ts
  packages/core/openapi/src/routes/providers/plugin.ts
  packages/core/openapi/src/routes/providers/types.ts
  packages/core/openapi/src/routes/types.ts
  yarn.lock
Labels: pr: enhancement, source: core:openapi

#23184 fix: add the correct document in the back button history when we conf…
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/RelationModal.tsx
Labels: source: core:content-manager, pr: fix

#23187 chore: release v4.25.22
  .github/actions/check-pr-status/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#23171 fix: run cronjobs closer to app start
  packages/core/review-workflows/server/src/services/metrics/weekly-metrics.ts
  packages/core/upload/server/src/services/weekly-metrics.ts
Labels: source: core:upload, pr: fix

#23129 fix(database): improve sub queries handling in the qb
  packages/core/database/src/entity-manager/index.ts
  packages/core/database/src/query/query-builder.ts
  tests/api/core/database/db.test.api.js
Labels: source: core:database, pr: fix

#23191 chore: upgrade prismjs to 1.30.0
  docs/package.json
  docs/yarn.lock
  packages/core/content-manager/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#23206 enhancement: add tracking for editing relations on-the-fly and preview
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/content-manager/admin/src/content-manager.ts
  packages/core/content-manager/admin/src/hooks/useDocumentActions.ts
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/RelationModal.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
Labels: source: core:content-manager, pr: enhancement

#23188 enhancement: admin session presists across tabs
  packages/core/admin/admin/src/features/Auth.tsx
  packages/core/admin/admin/src/reducer.ts
  packages/core/admin/admin/src/utils/cookies.ts
  packages/core/admin/admin/src/utils/getFetchClient.ts
  packages/core/admin/admin/src/utils/tests/cookies.test.ts
  packages/core/admin/ee/admin/src/pages/AuthResponse.tsx
  packages/core/admin/ee/admin/src/utils/cookies.ts
  packages/core/admin/ee/admin/tests/cookies.test.ts
  tests/e2e/tests/admin/login.spec.ts
Labels: source: core:admin, pr: enhancement

#23228 fix: relation menu link
  packages/core/content-manager/admin/src/pages/ListView/components/TableCells/Relations.tsx
Labels: source: core:content-manager, pr: fix

#23240 fix: preserve cookie in sso login
  packages/core/admin/ee/admin/src/pages/AuthResponse.tsx
Labels: source: core:admin, pr: fix

#23189 chore: refactor rollup utils and use preserveModules
  examples/getstarted/jsconfig.json
  nx.json
  packages/admin-test-utils/rollup.config.mjs
  packages/cli/cloud/package.json
  packages/cli/cloud/rollup.config.mjs
  packages/cli/cloud/tsconfig.build.json
  packages/cli/create-strapi-app/rollup.config.mjs
  packages/cli/create-strapi-app/tsconfig.build.json
  packages/core/admin/admin/src/pages/Settings/pages/Webhooks/CreatePage.tsx
  packages/core/admin/rollup.config.mjs
  packages/core/content-manager/rollup.config.mjs
  packages/core/content-releases/rollup.config.mjs
  packages/core/content-type-builder/rollup.config.mjs
  packages/core/core/rollup.config.mjs
  packages/core/core/src/ee/license.ts
  packages/core/core/src/loaders/admin.ts
  packages/core/data-transfer/rollup.config.mjs
  packages/core/database/rollup.config.mjs
  packages/core/email/rollup.config.mjs
  packages/core/permissions/rollup.config.mjs
  packages/core/review-workflows/rollup.config.mjs
  packages/core/strapi/rollup.config.mjs
  packages/core/upload/rollup.config.mjs
  packages/core/utils/rollup.config.mjs
  packages/generators/generators/rollup.config.mjs
  packages/plugins/cloud/rollup.config.mjs
  packages/plugins/color-picker/rollup.config.mjs
  packages/plugins/documentation/rollup.config.mjs
  packages/plugins/graphql/rollup.config.mjs
  packages/plugins/i18n/rollup.config.mjs
  packages/plugins/sentry/rollup.config.mjs
  packages/plugins/users-permissions/rollup.config.mjs
  packages/providers/email-amazon-ses/rollup.config.mjs
  packages/providers/email-mailgun/rollup.config.mjs
  packages/providers/email-nodemailer/rollup.config.mjs
  packages/providers/email-sendgrid/rollup.config.mjs
  packages/providers/email-sendmail/rollup.config.mjs
  packages/providers/upload-aws-s3/rollup.config.mjs
  packages/providers/upload-cloudinary/rollup.config.mjs
  packages/providers/upload-local/rollup.config.mjs
  packages/utils/logger/rollup.config.mjs
  packages/utils/upgrade/rollup.config.mjs
  rollup.utils.mjs
Labels: source: tooling, pr: chore

#22954 enhancement: add user menu with profile settings and role display
  packages/core/admin/admin/src/components/MainNav/NavUser.tsx
  packages/core/admin/admin/src/components/MainNav/tests/NavUser.test.tsx
  packages/core/admin/admin/src/translations/en.json
  tests/e2e/tests/admin/logout.spec.ts
  tests/e2e/tests/i18n/editview.spec.ts
Labels: source: core:admin, pr: enhancement, community

#23226 fix(users-permissions): updating user throws error
  packages/core/content-manager/admin/src/services/documents.ts
Labels: source: core:content-manager, pr: fix

#23243 fix: relation modal nested form issue
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/RelationModal.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/Relations.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/tests/RelationModal.test.tsx
Labels: source: core:content-manager, pr: fix

#23245 fix: relation modal not closing when opening self in full page
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/RelationModal.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/tests/RelationModal.test.tsx
Labels: source: core:content-manager, pr: fix

#23248 chore: bump vite from 5.4.13 to 5.4.15
  examples/experimental-dev/package.json
  packages/core/admin/package.json
  packages/core/strapi/package.json
  yarn.lock
Labels: source: core:admin, pr: chore

#23247 fix: SSO login JWT formatting issues
  packages/core/admin/admin/src/reducer.ts
  packages/core/admin/admin/src/utils/getFetchClient.ts
  packages/core/admin/ee/admin/src/pages/AuthResponse.tsx
Labels: source: core:admin, pr: fix

#23251 fix: uid fields broken inside relation modals
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/UID.tsx
Labels: source: core:content-manager, pr: fix

#23254 enhancement: move relation modal expand button and remove footer
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/RelationModal.tsx
Labels: source: core:content-manager, pr: enhancement
