Repository strapi/strapi, pull requests merged in 2025-01, with the labels that each got.

#22433 fix: make ctb loader truly round
  packages/core/content-type-builder/admin/src/components/AutoReloadOverlayBlocker.tsx
Labels: source: core:content-type-builder, pr: fix

#22424 fix(database): delete indexes before creating if they already exist
  packages/core/database/src/dialects/dialect.ts
  packages/core/database/src/schema/builder.ts
Labels: source: core:database, pr: fix

#22511 fix: missing pointer cursor when hover top of possible relations
  packages/core/content-type-builder/admin/src/components/Relation/RelationNaturePicker/Components.tsx
Labels: source: core:content-type-builder, pr: fix, community

#22346 feat: new admin homepage
  .github/actions/check-pr-status/package.json
  lerna.json
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/admin/admin/src/pages/Home/HomePage.tsx
  packages/core/admin/admin/src/pages/Home/components/ContentManagerWidgets.tsx
  packages/core/admin/admin/src/pages/Home/components/GuidedTour.tsx
  packages/core/admin/admin/src/pages/Home/components/Widget.tsx
  packages/core/admin/admin/src/pages/Home/components/tests/Widget.test.tsx
  packages/core/admin/admin/src/pages/HomePage.tsx
  packages/core/admin/admin/src/pages/tests/HomePage.test.tsx
  packages/core/admin/admin/src/router.tsx
  packages/core/admin/admin/src/services/homepage.ts
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/ee/admin/src/pages/HomePage.tsx
  packages/core/admin/ee/server/src/controllers/index.ts
  packages/core/admin/server/src/controllers/homepage.ts
  packages/core/admin/server/src/controllers/index.ts
  packages/core/admin/server/src/routes/homepage.ts
  packages/core/admin/server/src/routes/index.ts
  packages/core/admin/server/src/services/homepage.ts
  packages/core/admin/server/src/services/index.ts
  packages/core/admin/server/src/utils/index.d.ts
  packages/core/admin/shared/contracts/homepage.ts
  packages/core/content-manager/admin/src/exports.ts
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentStatus.tsx
  packages/core/content-manager/admin/src/services/api.ts
  packages/core/content-manager/admin/src/services/documents.ts
  packages/core/content-manager/admin/src/translations/en.json
  scripts/front/package.json
  tests/api/core/admin/admin-homepage.test.api.ts
  tests/e2e/tests/admin/home.spec.ts
Labels: source: core:admin, pr: feature

#22537 fix: handle clearing of number field to send null instead of undefined
  packages/core/admin/admin/src/components/FormInputs/Number.tsx
  tests/api/core/content-manager/fields/integer.test.api.js
Labels: source: core:content-manager, pr: fix, community

#22285 enhancement: apollo landing page config
  packages/plugins/graphql/server/src/bootstrap.ts
  packages/plugins/graphql/server/src/services/utils/playground.ts
Labels: source: plugin:graphql, pr: enhancement

#22573 chore(docs): document traverseEntity util
  docs/docs/docs/01-core/utils/traverse-entity.md
Labels: source: docs, pr: chore

#21976 fix: add missing `name` to `ColorPickerInput`
  packages/plugins/color-picker/admin/src/components/ColorPickerInput.tsx
  packages/plugins/color-picker/admin/src/components/tests/ColorPickerInput.test.tsx
Labels: pr: fix, source: plugin:color-picker, community

#22393 fix: missing hover pointer in bottom of ctb menu add another field to…
  packages/core/content-type-builder/admin/src/components/List.tsx
Labels: source: core:content-type-builder, pr: fix, community

#22602 Releases/5.7.0 (#22471)
  .github/actions/check-pr-status/package.json
  lerna.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/core/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/permissions/package.json
  packages/core/review-workflows/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  packages/utils/upgrade/package.json
  tests/e2e/utils/content-types.ts
  yarn.lock
Labels: pr: chore, source: core:core

#22574 chore(tests): enable and update relations ordering test
  tests/api/core/content-manager/api/relations-cross-entity-ordering.test.api.ts
Labels: pr: chore, source: e2e-tests

#22545 fix: changed active state background color
  packages/core/admin/admin/src/components/MainNav/NavLink.tsx
Labels: source: core:admin, pr: fix

#22612 fix: add missing borders to widgets
  packages/core/admin/admin/src/pages/Home/components/Widget.tsx
Labels: source: core:admin, pr: fix

#22606 Release 4.25.19
  .github/actions/check-pr-status/package.json
  .github/workflows/tests.yml
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  examples/plugins/workspace-plugin/package.json
  lerna.json
  package.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi-starter/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/email/package.json
  packages/core/helper-plugin/package.json
  packages/core/permissions/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/app/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/audit-logs-local/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  scripts/front/package.json
  yarn.lock
Labels: pr: chore, source: core:core

#22503 reduce batchSize to 500 to support sqlite
  packages/core/core/src/migrations/database/5.0.0-discard-drafts.ts
Labels: source: core:database, pr: fix, community

#22609 test(e2e): test for date picker
  tests/e2e/tests/content-manager/date.spec.ts
  tests/e2e/utils/content-creation.ts
  tests/e2e/utils/content-types.ts
Labels: pr: chore, source: e2e-tests

#22598 Ci/experimental release script
  nx.json
  package.json
  scripts/pre-publish.sh
  scripts/release.js
Labels: source: tooling, pr: chore

#22635 test(e2e): text fields advanced settings
  playwright.base.config.js
  tests/e2e/tests/content-manager/create-content.spec.ts
  tests/e2e/utils/content-creation.ts
  tests/e2e/utils/content-types.ts
  tests/e2e/utils/shared.ts
Labels: pr: chore, source: e2e-tests

#22647 ci: passing github token to publishing script
  .github/workflows/publish-release.yml
  scripts/publish.sh
Labels: source: tooling, pr: chore

#22634 fix(i18n): allow unique + un localized fields on i18n content types
  packages/plugins/i18n/admin/src/index.ts
  packages/plugins/i18n/admin/src/translations/de.json
  packages/plugins/i18n/admin/src/translations/dk.json
  packages/plugins/i18n/admin/src/translations/en.json
  packages/plugins/i18n/admin/src/translations/es.json
  packages/plugins/i18n/admin/src/translations/fr.json
  packages/plugins/i18n/admin/src/translations/ko.json
  packages/plugins/i18n/admin/src/translations/pl.json
  packages/plugins/i18n/admin/src/translations/ru.json
  packages/plugins/i18n/admin/src/translations/tr.json
  packages/plugins/i18n/admin/src/translations/zh-Hans.json
  packages/plugins/i18n/admin/src/translations/zh.json
  tests/e2e/tests/content-type-builder/collection-type/edit-collection-type.spec.ts
Labels: source: plugin:i18n, pr: fix

#22678 chore: upgrade jscodeshift to v17
  packages/utils/upgrade/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#22664 fix: delete orphan component data when schema changes
  packages/core/admin/ee/server/src/utils/persisted-tables.ts
  packages/core/database/src/dialects/dialect.ts
  packages/core/database/src/index.ts
  packages/core/database/src/repairs/__tests__/remove-orphan-morph-types.test.ts
  packages/core/database/src/repairs/__tests__/repair.test.ts
  packages/core/database/src/repairs/index.ts
  packages/core/database/src/repairs/operations/remove-orphan-morph-types.ts
  packages/core/database/src/schema/index.ts
  packages/core/database/src/utils/async-curry.ts
  packages/core/strapi/src/Strapi.ts
  tests/api/core/strapi/components/cleanup-after-delete.test.api.js
Labels: source: core:database, pr: fix

#22465 chore(telemetry): smooth event rate limiting
  packages/core/core/src/services/metrics/__tests__/middleware.test.ts
  packages/core/core/src/services/metrics/__tests__/rate-limiter.test.ts
  packages/core/core/src/services/metrics/middleware.ts
  packages/core/core/src/services/metrics/rate-limiter.ts
Labels: pr: enhancement, source: core:core

#22656 fix: adding component to dynamic zone overwrites data
  packages/core/admin/admin/src/components/Form.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/DynamicComponent.tsx
  tests/e2e/tests/content-manager/editview.spec.ts
Labels: source: core:content-manager, pr: fix

#22650 fix: disable lifecycle hooks on transfers [v4]
  packages/core/data-transfer/src/strapi/providers/local-destination/__tests__/assets.test.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/__tests__/index.test.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/index.ts
  packages/core/data-transfer/src/strapi/providers/local-source/__tests__/index.test.ts
  packages/core/data-transfer/src/strapi/providers/local-source/index.ts
  packages/core/data-transfer/src/strapi/remote/handlers/utils.ts
  packages/core/database/src/lifecycles/index.ts
Labels: pr: fix, source: core:data-transfer

#22651 fix: disable lifecycle hooks on transfers [v5]
  packages/core/data-transfer/src/strapi/providers/local-destination/__tests__/assets.test.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/__tests__/index.test.ts
  packages/core/data-transfer/src/strapi/providers/local-destination/index.ts
  packages/core/data-transfer/src/strapi/providers/local-source/__tests__/index.test.ts
  packages/core/data-transfer/src/strapi/providers/local-source/index.ts
  packages/core/data-transfer/src/strapi/remote/handlers/utils.ts
  packages/core/database/src/lifecycles/index.ts
Labels: pr: fix, source: core:data-transfer

#22683 feat(content-manager): add getters to useDocument
  packages/core/content-manager/admin/src/hooks/tests/useDocument.test.tsx
  packages/core/content-manager/admin/src/hooks/tests/useDocumentLayout.test.ts
  packages/core/content-manager/admin/src/hooks/useDocument.ts
  packages/core/content-manager/admin/src/pages/EditView/EditViewPage.tsx
  packages/core/content-manager/admin/src/pages/EditView/utils/data.ts
  packages/core/content-manager/admin/src/pages/ListView/ListViewPage.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
  packages/core/content-manager/admin/src/translations/en.json
  packages/core/content-manager/admin/tests/mockData.ts
Labels: source: core:content-manager, pr: enhancement

#22693 feat(content-manager): add container queries to form fields
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/NonRepeatable.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Component/Repeatable.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/ComponentCategory.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/DynamicZone/DynamicComponent.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/FormLayout.tsx
  tests/e2e/tests/i18n/settings.spec.ts
Labels: source: core:content-manager, pr: enhancement

#22579 fix: virtual prefix proxy path for vite middleware to work
  packages/core/strapi/src/node/vite/watch.ts
Labels: source: core:strapi, pr: fix

#22663 chore: update node-gyp version
  docs/yarn.lock
  yarn.lock
Labels: pr: chore, source: core:core

#22691 test(e2e): add tests for required fields and regexp
  tests/e2e/tests/content-manager/create-content.spec.ts
  tests/e2e/utils/content-creation.ts
  tests/e2e/utils/content-types.ts
  tests/e2e/utils/shared.ts
Labels: pr: chore, source: e2e-tests

#22698 fix: change Usecase.button.skip translation
  packages/core/admin/admin/src/translations/es.json
Labels: source: core:admin, pr: fix

#22708 fix(graphql): component and association population strategy
  packages/plugins/graphql/server/src/services/builders/resolvers/association.ts
  packages/plugins/graphql/server/src/services/builders/resolvers/component.ts
  tests/api/plugins/graphql/components.test.api.js
  tests/api/plugins/graphql/relations.test.api.js
Labels: source: plugin:graphql, pr: fix

#22618 feat: better bulk publish overview
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/fr.json
  packages/core/content-manager/admin/src/pages/ListView/components/BulkActions/PublishAction.tsx
  packages/core/content-manager/admin/src/translations/en.json
  packages/core/content-manager/admin/src/translations/fr.json
  tests/e2e/tests/content-manager/listview.spec.ts
Labels: source: core:admin, pr: enhancement

#22622 fix(plugins/users): remove redundant grant-koa dependency in favor of grant.koa
  packages/plugins/users-permissions/package.json
  packages/plugins/users-permissions/server/controllers/auth.js
  yarn.lock
Labels: source: dependencies, pr: fix, community

#22741 fix: debounce relation search
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations.tsx
Labels: source: core:content-manager, pr: fix

#22747 enhancement: pre-generated api tokens
  packages/core/admin/server/src/bootstrap.ts
  packages/core/admin/server/src/services/api-token.ts
  tests/api/core/review-workflows/review-workflows.test.api.ts
  tests/e2e/tests/admin/signup.spec.ts
  tests/e2e/utils/file-reset.ts
  tests/e2e/utils/restart.ts
  tests/e2e/utils/signup.ts
Labels: source: core:admin, pr: enhancement

#22750 ci: use release app token permissions for release workflow
  .github/workflows/publish-release.yml
  scripts/publish.sh
  scripts/release.js
Labels: source: tooling, pr: chore

#22752 Ci/release worflow changes
  .github/workflows/publish-release.yml
  scripts/publish.sh
  scripts/release.js
Labels: source: tooling, pr: chore

#22093 fix : hide checkbox in upload modal by default
  packages/core/upload/admin/src/components/AssetCard/AssetCardBase.tsx
  packages/core/upload/admin/src/components/AssetCard/tests/AssetCardBase.test.tsx
  packages/core/upload/admin/src/components/AssetCard/tests/DocAssetCard.test.tsx
  packages/core/upload/admin/src/components/AssetCard/tests/__snapshots__/ImageAssetCard.test.tsx.snap
  packages/core/upload/admin/src/components/AssetGridList/tests/__snapshots__/AssetGridList.test.tsx.snap
Labels: source: core:upload, pr: fix, community

#22728 Fix 'woops' spelling disagreement
  packages/core/admin/admin/src/components/PageHelpers.tsx
  packages/core/admin/admin/src/components/tests/PageHelpers.test.tsx
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/ja.json
  packages/core/upload/admin/src/components/AssetDialog/tests/AssetDialog.test.tsx
Labels: source: core:admin, pr: fix, community

#22763 fix: class Plugin is not immerable
  packages/core/admin/admin/src/components/PluginsInitializer.tsx
  packages/core/admin/admin/src/core/apis/Plugin.ts
Labels: source: core:admin, pr: fix

#22767 chore(preview): prepare layout for side editor
  examples/getstarted/config/features.js
  packages/core/content-manager/admin/src/preview/components/PreviewContent.tsx
  packages/core/content-manager/admin/src/preview/components/PreviewHeader.tsx
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
  packages/core/types/src/modules/features.ts
  tests/e2e/app-template/config/features.js
Labels: source: core:content-manager, pr: chore

#22760 test(api): cleanup test data
  tests/api/plugins/i18n/locales.test.api.js
Labels: source: plugin:i18n, pr: chore

#22774 fix: remove icon for fields without i18n
  packages/plugins/i18n/admin/src/contentManagerHooks/editView.tsx
Labels: source: plugin:i18n, pr: enhancement
