Repository strapi/strapi, pull requests merged in 2025-09, with the labels that each got.

#24308 chore: release 5.23.3
  .github/actions/check-pr-status/package.json
  packages/admin-test-utils/package.json
  packages/cli/cloud/package.json
  packages/cli/create-strapi-app/package.json
  packages/cli/create-strapi/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/core/package.json
  packages/core/core/src/services/document-service/components.ts
  packages/core/core/src/services/document-service/repository.ts
  packages/core/core/src/services/document-service/utils/unidirectional-relations.ts
  packages/core/data-transfer/package.json
  packages/core/database/package.json
  packages/core/database/src/index.ts
  packages/core/email/package.json
  packages/core/openapi/package.json
  packages/core/permissions/package.json
  packages/core/review-workflows/package.json
  packages/core/strapi/package.json
  packages/core/types/package.json
  packages/core/upload/package.json
  packages/core/utils/package.json
  packages/generators/generators/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  packages/providers/email-amazon-ses/package.json
  packages/providers/email-mailgun/package.json
  packages/providers/email-nodemailer/package.json
  packages/providers/email-sendgrid/package.json
  packages/providers/email-sendmail/package.json
  packages/providers/upload-aws-s3/package.json
  packages/providers/upload-cloudinary/package.json
  packages/providers/upload-local/package.json
  packages/utils/api-tests/package.json
  packages/utils/eslint-config-custom/package.json
  packages/utils/logger/package.json
  packages/utils/tsconfig/package.json
  packages/utils/typescript/package.json
  packages/utils/upgrade/package.json
  scripts/front/package.json
  tests/api/core/strapi/document-service/relations/unidirectional-relations.test.api.ts
  yarn.lock
Labels: pr: chore, source: core:core

#24317 fix: saving deletion of optional components not working
  SECURITY.md
  examples/getstarted/src/api/address/content-types/address/schema.json
  packages/core/content-manager/admin/src/pages/EditView/utils/data.ts
  packages/core/content-manager/admin/src/pages/EditView/utils/tests/data.test.ts
Labels: source: core:content-manager, pr: fix

#24327 chore(guided-tour): remove dead code
  packages/core/admin/server/src/services/guided-tour.ts
Labels: source: core:admin, pr: chore

#24337 enhancement: remove default notification title
  packages/core/admin/admin/src/features/Notifications.tsx
  packages/plugins/i18n/admin/src/components/CreateLocale.tsx
  packages/plugins/i18n/admin/src/components/EditLocale.tsx
  packages/plugins/i18n/admin/src/components/tests/CreateLocale.test.tsx
  packages/plugins/i18n/admin/src/components/tests/EditLocale.test.tsx
  tests/e2e/tests/content-manager/cloning.spec.ts
  tests/e2e/tests/content-manager/uniqueness.spec.ts
  tests/e2e/tests/i18n/create-edit.spec.ts
  tests/e2e/tests/i18n/editview.spec.ts
  tests/e2e/tests/i18n/permissions.spec.ts
  tests/e2e/tests/i18n/settings.spec.ts
Labels: source: core:admin, pr: enhancement

#24388 [Session Manager] Fix SSO
  packages/core/admin/ee/server/src/controllers/authentication-utils/middlewares.ts
  packages/core/admin/server/src/bootstrap.ts
  packages/core/admin/server/src/controllers/authentication.ts
  packages/core/admin/server/src/services/constants.ts
  packages/core/admin/shared/utils/session-auth.ts
  tests/api/core/admin/session-manager.test.api.ts
Labels: pr: fix

#24365 future(upload): generate image metadata on file upload
  packages/core/admin/server/src/controllers/__tests__/authenticated-user.test.ts
  packages/core/admin/server/src/controllers/authenticated-user.ts
  packages/core/admin/server/src/services/user.ts
  packages/core/admin/shared/contracts/users.ts
  packages/core/upload/server/src/controllers/__tests__/admin-upload.test.ts
  packages/core/upload/server/src/controllers/admin-upload.ts
  packages/core/upload/server/src/services/__tests__/ai-metadata.test.ts
  packages/core/upload/server/src/services/ai-metadata.ts
  packages/core/upload/server/src/services/index.ts
  packages/core/upload/server/src/utils/index.ts
Labels: source: core:upload, pr: enhancement

#24414 AI media lib bulk update
  packages/core/upload/server/src/controllers/__tests__/admin-upload.test.ts
  packages/core/upload/server/src/controllers/admin-upload.ts
  packages/core/upload/server/src/controllers/validation/admin/upload.ts
  packages/core/upload/server/src/routes/admin.ts
Labels: source: core:upload

#24437 ci: use bitnamilegacy images for mysql
  .github/workflows/tests.yml
Labels: source: tooling, pr: chore

#24436 enhancement: moving ai endpoints to EE and conditionally add them if ai is enabled
  packages/core/admin/admin/src/ee.ts
  packages/core/admin/admin/src/services/auth.ts
  packages/core/admin/ee/admin/src/hooks/useAIAvailability.ts
  packages/core/admin/ee/admin/src/hooks/useAIUsageWarning.ts
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/ApplicationInfoPage/components/AIUsage.tsx
  packages/core/admin/ee/admin/src/services/ai.ts
  packages/core/admin/ee/server/src/ai/controllers/__tests__/ai.test.ts
  packages/core/admin/ee/server/src/ai/controllers/ai.ts
  packages/core/admin/ee/server/src/ai/routes/ai.ts
  packages/core/admin/ee/server/src/controllers/admin.ts
  packages/core/admin/ee/server/src/index.ts
  packages/core/admin/ee/server/src/routes/ai.ts
  packages/core/admin/ee/server/src/routes/index.ts
  packages/core/admin/server/src/controllers/authenticated-user.ts
  packages/core/admin/server/src/routes/users.ts
  packages/core/admin/shared/contracts/admin.ts
  packages/core/admin/shared/contracts/ai.ts
  packages/core/admin/shared/contracts/users.ts
  packages/core/content-type-builder/admin/src/components/AIChat/hooks/useAIFetch.ts
  packages/core/content-type-builder/admin/src/components/AIChat/lib/aiClient.ts
  packages/core/content-type-builder/admin/src/components/AIChat/providers/ChatProvider.tsx
Labels: source: core:admin, pr: enhancement

#24411 feat: guided tour for ai ctb
  packages/core/admin/admin/src/components/GuidedTour/Context.tsx
  packages/core/admin/admin/src/components/GuidedTour/Steps/ContentTypeBuilderSteps.tsx
  packages/core/admin/admin/src/components/GuidedTour/Steps/Step.tsx
  packages/core/admin/admin/src/components/GuidedTour/utils/migrations.ts
  packages/core/admin/admin/src/hooks/useAIAvailability.ts
  packages/core/admin/admin/src/index.ts
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-type-builder/admin/src/components/AIChat/Chat.tsx
  packages/core/content-type-builder/admin/src/components/AIChat/components/FloatingPanel.tsx
  packages/core/content-type-builder/admin/src/components/AIChat/providers/ChatProvider.tsx
  packages/core/content-type-builder/admin/src/components/AIChat/providers/SchemaProvider.tsx
  packages/core/content-type-builder/admin/src/pages/App/index.tsx
  tests/e2e/tests/admin/guided-tour.spec.ts
  tests/e2e/tests/content-type-builder/guided-tour.spec.ts
Labels: source: core:content-type-builder, pr: enhancement

#24456 chore: strapi DS v2.0.0-rc.30 bump
  examples/getstarted/package.json
  examples/plugins/todo-example/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/review-workflows/package.json
  packages/core/upload/admin/src/components/BulkMoveDialog/tests/__snapshots__/BulkMoveDialog.test.tsx.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetContent.test.tsx.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/EditAssetDialog.test.tsx.snap
  packages/core/upload/admin/src/components/EditAssetDialog/tests/__snapshots__/RemoveAssetDialog.test.tsx.snap
  packages/core/upload/admin/src/components/EditFolderDialog/tests/__snapshots__/EditFolderDialog.test.tsx.snap
  packages/core/upload/admin/src/components/UploadAssetDialog/PendingAssetStep/tests/__snapshots__/PendingAssetStep.test.tsx.snap
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#24460 fix: support auth.options config in sessions
  docs/docs/docs/01-core/authentication/00-sessions-and-jwt.md
  examples/getstarted/config/admin.js
  packages/core/admin/server/src/bootstrap.ts
  packages/core/admin/server/src/services/__tests__/token.test.ts
  packages/core/admin/server/src/services/token.ts
  packages/core/core/src/services/__tests__/session-manager-jwt-config.test.ts
  packages/core/core/src/services/session-manager.ts
  packages/plugins/users-permissions/server/bootstrap/index.js
  packages/utils/api-tests/strapi.js
  tests/api/core/admin/admin-jwt-configuration.test.api.ts
  tests/api/plugins/users-permissions/content-api/auth-jwt-algorithm.test.api.js
Labels: pr: fix, source: core:core
