Repository strapi/strapi, pull requests merged in 2025-07, with the labels that each got.

#23829 feat: homepage widget profile
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/components/LeftMenu.tsx
  packages/core/admin/admin/src/components/MainNav/NavUser.tsx
  packages/core/admin/admin/src/components/Widgets.tsx
  packages/core/admin/admin/src/components/tests/Widgets.test.tsx
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/es.json
  packages/core/admin/admin/src/translations/fr.json
  packages/core/admin/admin/src/utils/tests/users.test.ts
  packages/core/admin/admin/src/utils/users.ts
  packages/core/content-manager/admin/src/translations/fr.json
  tests/e2e/tests/i18n/settings.spec.ts
Labels: source: core:admin, pr: enhancement

#23526 resolved labels overflowing issue in Api-Token creation Permissions Accordian.
  packages/core/admin/admin/src/pages/Settings/pages/ApiTokens/EditView/components/CollapsableContentType.tsx
Labels: source: core:admin, pr: fix, community

#23877 fix: guided tour test types
  packages/core/admin/admin/src/components/UnstableGuidedTour/tests/reducer.test.ts
Labels: source: core:admin, pr: fix

#23824 future: add content manager Guided Tour
  packages/core/admin/admin/src/components/MainNav/NavLink.tsx
  packages/core/admin/admin/src/components/UnstableGuidedTour/Tours.tsx
  packages/core/admin/admin/src/translations/en.json
  packages/core/content-manager/admin/src/pages/EditView/EditViewPage.tsx
  packages/core/content-manager/admin/src/pages/EditView/components/DocumentActions.tsx
  packages/core/content-manager/admin/src/pages/ListView/ListViewPage.tsx
  packages/core/content-manager/admin/src/services/api.ts
  packages/core/content-manager/admin/src/services/documents.ts
Labels: source: core:admin, pr: chore

#23879 future: update types in reducer test
  packages/core/admin/admin/src/components/UnstableGuidedTour/tests/reducer.test.ts
Labels: source: core:admin, pr: fix

#23880 chore: strapi DS v2.0.0-rc.28 bump
  examples/getstarted/package.json
  examples/plugins/todo-example/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/review-workflows/package.json
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#23868 future: add guided tour overview
  packages/core/admin/admin/src/components/UnstableGuidedTour/Context.tsx
  packages/core/admin/admin/src/components/UnstableGuidedTour/Overview.tsx
  packages/core/admin/admin/src/components/UnstableGuidedTour/Step.tsx
  packages/core/admin/admin/src/components/UnstableGuidedTour/Tours.tsx
  packages/core/admin/admin/src/components/UnstableGuidedTour/tests/reducer.test.ts
  packages/core/admin/admin/src/pages/Home/HomePage.tsx
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: enhancement

#23870 fix(api-tokens): update lastUsedAt if it's null
  packages/core/admin/server/src/strategies/api-token.ts
Labels: source: core:admin, pr: fix

#23848 feat: homepage widget assigned
  packages/core/admin/admin/src/components/Widgets.tsx
  packages/core/admin/admin/src/core/apis/Widgets.ts
  packages/core/admin/admin/src/features/Auth.tsx
  packages/core/admin/admin/src/utils/users.ts
  packages/core/content-manager/admin/src/exports.ts
  packages/core/content-manager/admin/src/services/documents.ts
  packages/core/content-manager/server/src/homepage/services/homepage.ts
  packages/core/review-workflows/admin/src/components/Widgets.tsx
  packages/core/review-workflows/admin/src/components/tests/Widgets.test.tsx
  packages/core/review-workflows/admin/src/index.ts
  packages/core/review-workflows/admin/src/services/content-manager.ts
  packages/core/review-workflows/admin/src/translations/en.json
  packages/core/review-workflows/server/src/controllers/index.ts
  packages/core/review-workflows/server/src/homepage/controllers/homepage.ts
  packages/core/review-workflows/server/src/homepage/controllers/index.ts
  packages/core/review-workflows/server/src/homepage/index.ts
  packages/core/review-workflows/server/src/homepage/routes/homepage.ts
  packages/core/review-workflows/server/src/homepage/routes/index.ts
  packages/core/review-workflows/server/src/homepage/services/homepage.ts
  packages/core/review-workflows/server/src/homepage/services/index.ts
  packages/core/review-workflows/server/src/routes/index.ts
  packages/core/review-workflows/server/src/services/index.ts
  packages/core/review-workflows/shared/contracts/homepage.ts
  tests/e2e/tests/review-workflows/home.spec.ts
Labels: pr: enhancement, source: core:review-workflows

#23905 future: add the Popover.Arrow in the guided tour
  packages/core/admin/admin/src/components/GuidedTour/Provider.tsx
  packages/core/admin/admin/src/components/UnstableGuidedTour/Step.tsx
  packages/core/admin/admin/src/components/UnstableGuidedTour/Tours.tsx
Labels: source: core:admin, pr: chore

#23914 future: add confirmation dialog when closing the tour
  packages/core/admin/admin/src/components/UnstableGuidedTour/Overview.tsx
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: chore

#23922 future: update guided tour got it button and when conditions
  packages/core/admin/admin/src/components/UnstableGuidedTour/Tours.tsx
Labels: source: core:admin, pr: chore

#23929 fix: admin constantly reloading in development
  packages/core/strapi/src/node/vite/config.ts
Labels: source: core:strapi, pr: fix

#23937 chore: strapi DS v2.0.0-rc.29 bump
  examples/getstarted/package.json
  examples/plugins/todo-example/package.json
  packages/core/admin/package.json
  packages/core/content-manager/package.json
  packages/core/content-releases/package.json
  packages/core/content-type-builder/package.json
  packages/core/email/package.json
  packages/core/review-workflows/package.json
  packages/core/upload/package.json
  packages/plugins/cloud/package.json
  packages/plugins/color-picker/package.json
  packages/plugins/documentation/package.json
  packages/plugins/graphql/package.json
  packages/plugins/i18n/package.json
  packages/plugins/sentry/package.json
  packages/plugins/users-permissions/package.json
  yarn.lock
Labels: source: dependencies, pr: chore

#23945 future: add missing translations and step count
  packages/core/admin/admin/src/components/UnstableGuidedTour/Step.tsx
  packages/core/admin/admin/src/components/UnstableGuidedTour/Tours.tsx
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: chore

#23934 chore: update cloud plugin to add Free plan
  packages/plugins/cloud/README.md
  packages/plugins/cloud/admin/src/components/CLIDeployTabs.tsx
  packages/plugins/cloud/admin/src/components/Cloud.tsx
  packages/plugins/cloud/admin/src/components/CloudDeploy.tsx
  packages/plugins/cloud/admin/src/components/CloudFree.tsx
  packages/plugins/cloud/admin/src/components/Github.tsx
  packages/plugins/cloud/admin/src/components/Icons/LinkIcon.tsx
  packages/plugins/cloud/admin/src/components/Icons/UploadIcon.tsx
  packages/plugins/cloud/admin/src/index.ts
  packages/plugins/cloud/admin/src/pages/HomePage.tsx
  packages/plugins/cloud/admin/src/pages/assets/corner-ornament.svg
  packages/plugins/cloud/admin/src/pages/assets/left-side-cloud.png
  packages/plugins/cloud/admin/src/pages/assets/right-side-cloud.png
  packages/plugins/cloud/admin/src/translations/en.json
  packages/plugins/cloud/admin/src/translations/es.json
  packages/plugins/cloud/admin/src/translations/fr.json
  packages/plugins/cloud/admin/src/translations/it.json
  packages/plugins/cloud/admin/src/translations/ru.json
  packages/plugins/cloud/admin/src/translations/uk.json
  packages/plugins/cloud/package.json
  yarn.lock
Labels: pr: chore, source: plugin:cloud

#23956 fix: getstarted admin constantly reloading
  packages/core/strapi/src/node/vite/config.ts
Labels: source: core:strapi, pr: fix

#23906 fix: yarn build
  packages/generators/generators/package.json
  packages/generators/generators/src/index.ts
  packages/generators/generators/src/plops/content-type.ts
  packages/generators/generators/src/plops/prompts/bootstrap-api-prompts.ts
  packages/generators/generators/src/plops/prompts/ct-names-prompts.ts
  packages/generators/generators/src/plops/prompts/get-attributes-prompts.ts
  packages/generators/generators/src/plops/prompts/get-destination-prompts.ts
  packages/generators/generators/src/plops/prompts/kind-prompts.ts
  yarn.lock
Labels: pr: fix, source: generators

#23834 fix: sign file URLs in upload service and in graphql
  packages/core/upload/admin/src/components/MediaLibraryInput/Carousel/CarouselAsset.tsx
  packages/core/upload/server/src/services/__tests__/upload/formatFileInfo.test.ts
  packages/core/upload/server/src/services/__tests__/upload/uploadImage.test.ts
  packages/core/upload/server/src/services/extensions/utils.ts
  packages/core/upload/server/src/services/upload.ts
  packages/plugins/graphql/jest.config.js
  packages/plugins/graphql/package.json
  packages/plugins/graphql/server/src/services/builders/resolvers/association.ts
Labels: source: core:upload, pr: fix

#23846 feature: async cloud project creation
  packages/cli/cloud/src/create-project/action.ts
  packages/cli/cloud/src/deploy-project/action.ts
  packages/cli/cloud/src/services/build-logs.ts
  packages/cli/cloud/src/services/cli-api.ts
  packages/cli/cloud/src/services/notification.ts
  packages/cli/cloud/src/types.ts
  packages/cli/cloud/src/utils/compress-files.ts
  packages/cli/cloud/src/utils/error-message-factories.ts
Labels: source: cli, pr: feature

#23926 future: Guided Tour Tracking
  packages/core/admin/admin/src/components/UnstableGuidedTour/Context.tsx
  packages/core/admin/admin/src/components/UnstableGuidedTour/Overview.tsx
  packages/core/admin/admin/src/components/UnstableGuidedTour/Step.tsx
  packages/core/admin/admin/src/features/Tracking.tsx
Labels: source: core:admin, pr: chore

#23965 future: always run the tour regardless of app state
  packages/core/admin/admin/src/components/UnstableGuidedTour/Tours.tsx
  packages/core/content-manager/admin/src/pages/ListView/ListViewPage.tsx
  packages/core/content-type-builder/admin/src/pages/ListView/ListView.tsx
Labels: source: core:admin, pr: chore

#23661 chore: Update settings nav UI
  packages/core/admin/admin/src/pages/Settings/components/SettingsNav.tsx
  packages/core/admin/admin/src/pages/Settings/components/tests/SettingsNav.test.tsx
  packages/core/admin/admin/src/pages/Settings/tests/SettingsPage.test.tsx
  packages/core/admin/ee/admin/src/constants.ts
  packages/core/content-releases/admin/src/index.ts
  packages/core/review-workflows/admin/src/index.ts
Labels: source: core:admin, pr: chore

#23985 feat: add preview device selector
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
  packages/core/content-manager/admin/src/translations/en.json
Labels: source: core:content-manager, pr: feature

#23866 feat: add env variable for tracking
  packages/cli/create-strapi-app/src/utils/usage.ts
  packages/core/admin/admin/src/components/NpsSurvey.tsx
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/admin/admin/src/pages/UseCasePage.tsx
  packages/core/core/src/services/metrics/sender.ts
  packages/core/strapi/src/cli/utils/telemetry.ts
  packages/core/strapi/src/node/core/env.ts
  packages/core/strapi/src/node/create-build-context.ts
Labels: source: core:admin, pr: chore

#23984 future: add reset guided tour to profile
  packages/core/admin/admin/src/components/UnstableGuidedTour/Context.tsx
  packages/core/admin/admin/src/components/UnstableGuidedTour/Overview.tsx
  packages/core/admin/admin/src/components/UnstableGuidedTour/tests/reducer.test.ts
  packages/core/admin/admin/src/pages/ProfilePage.tsx
  packages/core/admin/admin/src/translations/en.json
Labels: source: core:admin, pr: chore

#23997 feat(users-permissions): zod schemas for content-api routes
  packages/core/core/src/core-api/routes/validation/attributes.ts
  packages/core/utils/src/validation/utilities.ts
  packages/plugins/users-permissions/package.json
  packages/plugins/users-permissions/server/routes/content-api/auth.js
  packages/plugins/users-permissions/server/routes/content-api/index.js
  packages/plugins/users-permissions/server/routes/content-api/permissions.js
  packages/plugins/users-permissions/server/routes/content-api/role.js
  packages/plugins/users-permissions/server/routes/content-api/user.js
  packages/plugins/users-permissions/server/routes/content-api/validation.js
  yarn.lock
Labels: source: plugin:users-permissions, pr: enhancement

#23953 Resolved filter overlapping issue by changing z-index
  packages/core/upload/admin/src/components/FilterPopover/FilterPopover.tsx
Labels: source: core:upload, pr: fix

#23993 Fixes #23986: Conditional field operator reset to "is" when set to "is not".
  packages/core/content-type-builder/admin/src/components/FormModal/attributes/ConditionForm.tsx
Labels: source: core:content-type-builder, pr: fix, community

#23579 fix: update autocomplete attribute in RelationsInput component to filter by contains
  packages/core/content-manager/admin/src/pages/EditView/components/FormInputs/Relations/Relations.tsx
Labels: source: core:content-manager, pr: fix, community

#23996 fix: e2e conditional fields flaky test
  tests/e2e/tests/content-manager/conditional-fields.spec.ts
  tests/e2e/tests/content-manager/conditional-fields/boolean-conditional-many-to-many-relation-visibility.spec.ts
  tests/e2e/tests/content-manager/conditional-fields/boolean-conditional-relation-visibility.spec.ts
  tests/e2e/tests/content-manager/conditional-fields/boolean-conditional-text-visibility.spec.ts
  tests/e2e/tests/content-manager/conditional-fields/conditional-fields-select-relations.spec.ts
  tests/e2e/tests/content-manager/conditional-fields/enum-conditional-fields-visibility.spec.ts
  tests/e2e/tests/content-manager/conditional-fields/enum-conditional-text-visibility.spec.ts
  tests/e2e/utils/content-creation.ts
Labels: source: core:content-manager, pr: fix

#23884 Resolved filter overlap with datepicker by reducing zIndex of filter …
  packages/core/admin/admin/src/components/Filters.tsx
  packages/core/admin/admin/src/pages/Settings/pages/Users/ListPage.tsx
  packages/core/admin/ee/admin/src/pages/SettingsPage/pages/AuditLogs/ListPage.tsx
  packages/core/content-manager/admin/src/pages/ListView/components/Filters.tsx
Labels: source: core:admin, pr: fix

#23894 fix: conditional validation preview publish
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
  tests/e2e/tests/content-manager/preview.spec.ts
Labels: source: core:content-manager, pr: fix, community

#23843 feat: add conditional fields e2e tests
  tests/e2e/app-template/src/api/cat/content-types/cat/schema.json
  tests/e2e/app-template/src/api/condition/content-types/condition/schema.json
  tests/e2e/app-template/src/api/condition/controllers/condition.js
  tests/e2e/app-template/src/api/condition/routes/condition.js
  tests/e2e/app-template/src/api/condition/services/condition.js
  tests/e2e/app-template/src/api/country/content-types/country/schema.json
  tests/e2e/app-template/src/api/country/controllers/country.js
  tests/e2e/app-template/src/api/country/routes/country.js
  tests/e2e/app-template/src/api/country/services/country.js
  tests/e2e/app-template/src/api/dog/content-types/dog/schema.json
  tests/e2e/app-template/src/api/product/content-types/product/schema.json
  tests/e2e/constants.ts
  tests/e2e/tests/admin/home.spec.ts
  tests/e2e/tests/admin/transfer-tokens.spec.ts
  tests/e2e/tests/content-manager/cloning.spec.ts
  tests/e2e/tests/content-manager/conditional-fields.spec.ts
  tests/e2e/tests/content-manager/conditional-fields/boolean-conditional-many-to-many-relation-visibility.spec.ts
  tests/e2e/tests/content-manager/conditional-fields/boolean-conditional-select-relation.spec.ts
  tests/e2e/tests/content-manager/conditional-fields/boolean-conditional-text-field-visibility.spec.ts
  tests/e2e/tests/content-manager/conditional-fields/enum-conditional-text-field-visibility.spec.ts
  tests/e2e/tests/content-manager/create-content.spec.ts
  tests/e2e/tests/i18n/settings.spec.ts
  tests/e2e/utils/content-creation.ts
Labels: pr: chore, source: e2e-tests

#24038 fix: prevent full screen loader regression in preview page
  packages/core/content-manager/admin/src/preview/pages/Preview.tsx
Labels: source: core:content-manager, pr: fix

#23898 fix: prevent validation error when updating user without password change
  packages/core/content-manager/admin/src/utils/validation.ts
  packages/plugins/users-permissions/server/controllers/content-manager-user.js
  packages/plugins/users-permissions/server/controllers/validation/user.js
Labels: source: plugin:users-permissions, pr: fix, community

#24041 fix: create relation and save flaky test
  tests/e2e/tests/content-manager/relations-on-the-fly/create-relation-and-save.spec.ts
  tests/e2e/tests/content-manager/relations-on-the-fly/create-relation-in-component-and-save.spec.ts
  tests/e2e/tests/content-manager/relations-on-the-fly/create-relation-in-new-component-and-save.spec.ts
Labels: source: core:content-manager, pr: fix

#24059 chore(openapi): update dependencies to version 5.20.0
  packages/core/openapi/package.json
  yarn.lock
Labels: source: dependencies, pr: fix

#23938 feat: key statistics homepage widget
  packages/core/admin/admin/src/StrapiApp.tsx
  packages/core/admin/admin/src/components/Widgets.tsx
  packages/core/admin/admin/src/components/tests/Widgets.test.tsx
  packages/core/admin/admin/src/core/apis/Widgets.ts
  packages/core/admin/admin/src/index.ts
  packages/core/admin/admin/src/pages/Home/HomePage.tsx
  packages/core/admin/admin/src/services/admin.ts
  packages/core/admin/admin/src/services/api.ts
  packages/core/admin/admin/src/services/apiTokens.ts
  packages/core/admin/admin/src/services/homepage.ts
  packages/core/admin/admin/src/services/users.ts
  packages/core/admin/admin/src/services/webhooks.ts
  packages/core/admin/admin/src/translations/en.json
  packages/core/admin/admin/src/translations/es.json
  packages/core/admin/admin/src/translations/fr.json
  packages/core/admin/server/src/controllers/homepage.ts
  packages/core/admin/server/src/controllers/index.ts
  packages/core/admin/server/src/routes/homepage.ts
  packages/core/admin/server/src/routes/index.ts
  packages/core/admin/server/src/services/homepage.ts
  packages/core/admin/server/src/services/index.ts
  packages/core/admin/server/src/utils/index.d.ts
  packages/core/admin/shared/contracts/homepage.ts
  packages/core/content-manager/admin/src/components/Widgets.tsx
  packages/core/content-manager/admin/src/components/tests/Widgets.test.tsx
  packages/core/content-manager/admin/src/services/homepage.ts
  packages/core/content-type-builder/admin/src/components/DataManager/DataManagerProvider.tsx
  packages/core/upload/admin/src/components/EditAssetDialog/tests/EditAssetContent.test.tsx
  packages/core/upload/admin/src/components/EditAssetDialog/tests/EditAssetDialog.test.tsx
  packages/core/upload/admin/src/components/EditAssetDialog/tests/RemoveAssetDialog.test.tsx
  packages/core/upload/admin/src/components/EditFolderDialog/tests/EditFolderDialog.test.tsx
  packages/core/upload/admin/src/hooks/tests/useBulkRemove.test.ts
  packages/core/upload/admin/src/hooks/tests/useRemoveAsset.test.tsx
  packages/core/upload/admin/src/hooks/useBulkRemove.ts
  packages/core/upload/admin/src/hooks/useRemoveAsset.ts
  packages/core/upload/admin/src/hooks/useUpload.ts
  packages/core/upload/admin/src/pages/App/MediaLibrary/tests/MediaLibrary.test.tsx
  packages/core/upload/package.json
  packages/plugins/i18n/admin/src/services/api.ts
  packages/plugins/i18n/admin/src/services/locales.ts
  tests/api/core/admin/admin-homepage.test.api.ts
  tests/api/core/content-manager/homepage/admin-homepage.test.api.ts
  tests/api/core/review-workflows/review-workflows-homepage.test.api.ts
  tests/api/core/upload/admin/file.test.api.js
  tests/e2e/tests/admin/home.spec.ts
  yarn.lock
Labels: source: core:admin, pr: enhancement

#23998 feat: homepage upcoming releases widget
  packages/core/admin/admin/src/features/Tracking.tsx
  packages/core/content-manager/admin/src/components/Widgets.tsx
  packages/core/content-releases/admin/src/components/Widgets.tsx
  packages/core/content-releases/admin/src/components/tests/Widgets.test.tsx
  packages/core/content-releases/admin/src/constants.ts
  packages/core/content-releases/admin/src/index.ts
  packages/core/content-releases/admin/src/services/homepage.ts
  packages/core/content-releases/admin/src/services/release.ts
  packages/core/content-releases/admin/src/translations/en.json
  packages/core/content-releases/server/src/controllers/homepage.ts
  packages/core/content-releases/server/src/controllers/index.ts
  packages/core/content-releases/server/src/routes/homepage.ts
  packages/core/content-releases/server/src/routes/index.ts
  packages/core/content-releases/server/src/services/homepage.ts
  packages/core/content-releases/server/src/services/index.ts
  packages/core/content-releases/shared/contracts/homepage.ts
  packages/core/content-releases/shared/types.ts
  packages/core/review-workflows/admin/src/components/Widgets.tsx
  tests/api/plugins/content-releases/homepage.test.api.ts
  tests/e2e/tests/admin/home.spec.ts
  tests/e2e/tests/content-manager/home-widgets.spec.ts
  tests/e2e/tests/content-releases/home-widgets.spec.ts
  tests/e2e/tests/content-releases/release-details-page.spec.ts
  tests/e2e/tests/content-releases/releases-page.spec.ts
Labels: pr: enhancement, source: core:content-releases

#24063 fix: incorrect config won't run app
  examples/empty/config/admin.ts
  examples/empty/config/server.ts
  examples/empty/package.json
  examples/getstarted/package.json
  examples/kitchensink-ts/package.json
  examples/kitchensink/package.json
  packages/core/strapi/src/node/vite/config.ts
Labels: pr: fix, source: core:core

#24064 test(api): add test for viewable api tokens
  tests/api/core/admin/admin-api-token-crud.test.api.ts
Labels: source: tooling, pr: chore

#24061 fix: allow audit logs to be increased up to the license maximum
  packages/core/admin/ee/server/src/audit-logs/services/lifecycles.ts
Labels: source: core:admin, pr: fix
